Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

backend-sqlx-prepare:
  run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --all-features -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi &&  git add openapi.json && cd ../frontend && npm run gen:openapi && git add lib/api/gen/openapi.ts
  
    '

frontend-linter:
  run: npm run lint {staged_files}

Uitbreiding woordenlijst (#1026)
  documentatie/referentie/woordenlijst-EN-NL.md
Due: none

fixes names from previous commit: cached -> sumbitted
  frontend/e2e-tests/data-entry.model.e2e.ts
Due: frontend-linter

Removed duplicate code with Marks solution :D
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactored reallocation function
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Upgrade to Typst 0.13.0 (#1057)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/pdf_gen/models/mod.rs
  backend/src/pdf_gen/world.rs
  backend/templates/common/scripts.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Apply suggestions from code review
  documentatie/functionaliteit/versie-1.0-gr2026.md
Due: none

Send Playwright results to Codecov
  .github/workflows/build-lint-test.yml
  frontend/.gitignore
  frontend/playwright.e2e.config.ts
  frontend/playwright.ladle.config.ts
Due: frontend-linter

Add names to other Codecov uploads
  .github/workflows/codecov.yml
Due: none

Skip Sigrid, release, and deploy jobs on forks
  .github/workflows/build-lint-test.yml
  .github/workflows/release.yml
  .github/workflows/sigrid-pr-feedback.yml
  .github/workflows/sigrid-publish.yml
Due: none

Adjusted apportionment backend tests to include candidate votes
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Moved Article P 9 Kieswet code into allocate remainder, but mutability conflicts make it not work at the moment
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove mutability
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Send Playwright test reports to Codecov (#1062)
  .github/workflows/build-lint-test.yml
  .github/workflows/codecov.yml
  .github/workflows/release.yml
  .github/workflows/sigrid-pr-feedback.yml
  .github/workflows/sigrid-publish.yml
  frontend/.gitignore
  frontend/playwright.e2e.config.ts
  frontend/playwright.ladle.config.ts
Due: frontend-linter

moves model-based e2e tests for errors to separate file
  frontend/e2e-tests/data-entry.error.model.e2e.ts
Due: frontend-linter

rename PollingStation to DataEntry
  frontend/app/module/data_entry/AbortDataEntryControl.tsx
  frontend/app/module/data_entry/DataEntry.integration.test.tsx
  frontend/app/module/data_entry/DataEntryLayout.tsx
  frontend/app/module/data_entry/index.ts
  frontend/app/module/data_entry/polling_station/index.ts
  frontend/app/routes.tsx
Due: frontend-linter

reducer test scaffolding
  frontend/app/component/form/data_entry/state/reducer.test.ts
Due: frontend-linter

readd utils tests
  frontend/app/component/form/data_entry/state/dataEntryUtils.test.ts
  frontend/app/component/form/data_entry/test.util.ts
Due: frontend-linter

Added AbsoluteMajorityChange as an ApportionmentStep instead of as a separate field on ApportionmentResult
  backend/openapi.json
  backend/src/apportionment/mod.rs
  frontend/app/component/apportionment/LargestAveragesFor19OrMoreSeatsTable.tsx
  frontend/app/component/apportionment/LargestAveragesForLessThan19SeatsTable.tsx
  frontend/app/component/apportionment/LargestSurplusesTable.tsx
  frontend/app/component/apportionment/test-data/absolute-majority-change.ts
  frontend/app/module/apportionment/page/ApportionmentResidualSeatsPage.tsx
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Changed test helper to by default give every list 50 candidates to prevent list exhaustion in the future
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Implemented Marks simplification
  frontend/app/module/apportionment/page/ApportionmentResidualSeatsPage.tsx
Due: frontend-linter

Add user get endpoint and some user integration tests (#1060)
  backend/openapi.json
  backend/src/authentication/api.rs
  backend/src/lib.rs
  backend/tests/user_integration_test.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Show current user and role in navbar
  backend/fixtures/users.sql
  backend/openapi.json
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/user.rs
  frontend/app/component/navbar/NavBar.module.css
  frontend/app/component/navbar/NavBar.test.tsx
  frontend/app/component/navbar/NavBar.tsx
  frontend/app/component/navbar/NavBarLinks.tsx
  frontend/e2e-tests/state/admin.json
  frontend/e2e-tests/state/coordinator.json
  frontend/e2e-tests/state/typist.json
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/ApiProvider.tsx
  frontend/lib/api/api.types.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/api/useSessionState.ts
  frontend/lib/i18n/locales/nl/user.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Update test username
  backend/src/authentication/mod.rs
  frontend/app/component/form/user/change_password/ChangePassword.test.tsx
  frontend/app/component/form/user/login/LoginForm.test.tsx
  frontend/app/module/account/page/ChangePasswordPage.test.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Added buttons to login as admin/typist/coordinator
  backend/src/authentication/api.rs
  frontend/app/component/form/user/login/LoginForm.tsx
  frontend/app/component/navbar/NavBar.test.tsx
  frontend/app/module/DevHomePage.tsx
  frontend/lib/api/ApiProvider.tsx
  frontend/lib/api/api.types.ts
  frontend/lib/api/useSessionState.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Unreachable statement fix
  frontend/lib/api/useSessionState.ts
Due: frontend-linter

Add user+role types
  backend/openapi.json
  backend/src/apportionment/mod.rs
  backend/src/authentication/error.rs
  backend/src/authentication/role.rs
  backend/src/error.rs
  frontend/lib/api/gen/openapi.ts
  frontend/lib/i18n/locales/nl/error.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Added *some* authorization checks
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/role.rs
  backend/src/data_entry/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use current role for navbar rendering
  frontend/app/component/navbar/NavBar.stories.tsx
  frontend/app/component/navbar/NavBar.test.tsx
  frontend/app/component/navbar/NavBar.tsx
  frontend/app/component/navbar/NavBarLinks.tsx
  frontend/app/component/navbar/NavBarMenu.tsx
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/FatalErrorPage.tsx
  frontend/app/module/NotFoundPage.tsx
  frontend/app/module/election/page/ElectionHomePage.tsx
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/app/module/election/page/OverviewPage.tsx
  frontend/e2e-tests/pdf-rendering.e2e.ts
  frontend/e2e-tests/polling-station-crud.e2e.ts
  frontend/e2e-tests/zip-download.e2e.ts
  frontend/lib/api/TestUserProvider.tsx
  frontend/lib/api/index.ts
Due: frontend-linter

Added update user last_activity_at (#1013)
  backend/src/authentication/user.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added cookie to API calls in tests
  backend/src/apportionment/api.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/user.rs
  backend/src/data_entry/mod.rs
  backend/src/election/mod.rs
  backend/src/polling_station/mod.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
  backend/tests/user_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Redirect based on role
  frontend/app/component/navbar/NavBar.test.tsx
  frontend/app/module/election/page/ElectionHomePage.tsx
Due: frontend-linter

Added cookies to polling station tests
  backend/tests/polling_station_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added cookies to test calls in apportionment and data entry tests
  backend/tests/apportionment_integration_test.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added cookies to download tests
  backend/tests/election_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Tests
  backend/src/authentication/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Woprk on Rust tests
  backend/src/authentication/mod.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/election_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Improved last activity at test
  backend/tests/user_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

WIP e2e test authentication
  frontend/.gitignore
  frontend/app/module/DevHomePage.tsx
  frontend/e2e-tests/authentication.e2e.ts
  frontend/e2e-tests/data-entry.e2e.ts
  frontend/e2e-tests/data-entry.model.e2e.ts
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/pdf-rendering.e2e.ts
  frontend/e2e-tests/polling-station-crud.e2e.ts
  frontend/e2e-tests/resume-data-entry.e2e.ts
  frontend/e2e-tests/setup.ts
  frontend/e2e-tests/zip-download.e2e.ts
  frontend/package.json
  frontend/playwright.common.config.ts
  frontend/playwright.e2e.config.ts
Due: frontend-linter

Added 401 responses to OpenAPI spec
  backend/openapi.json
  backend/src/apportionment/api.rs
  backend/src/authentication/api.rs
  backend/src/data_entry/mod.rs
  backend/src/election/mod.rs
  backend/src/polling_station/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix e2e tests
  frontend/app/module/DevHomePage.test.tsx
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/resume-data-entry.e2e.ts
  frontend/e2e-tests/setup.ts
Due: frontend-linter

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
