Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi && 
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add lib/api/gen/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Moved TestUserProvider into /src/testing
  frontend/src/app/DevHomePage.test.tsx
  frontend/src/components/authorization/AuthorizationDialog.test.tsx
  frontend/src/components/navbar/NavBar.stories.tsx
  frontend/src/components/navbar/NavBar.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/testing/TestUserProvider.tsx
Due: frontend-linter

Undo change to README.md
  frontend/README.md
Due: none

use cases: adds open item about corrigendum or PV in case of a recount (#1390)
  documentatie/use-cases/input-output-bestanden.md
Due: none

Opmerkingen verwerkt
  documentatie/gebruikersdocumentatie/instructies-invoerder.md
Due: none

adds check on aria-current to ProgressList test
  frontend/src/components/ui/ProgressList/ProgressList.test.tsx
Due: frontend-linter

fixes typo
  frontend/src/components/ui/ProgressList/ProgressList.stories.tsx
Due: frontend-linter

Added DataEntryAlreadyFinalised error and updated e2e tests
  backend/openapi.json
  backend/src/error.rs
  frontend/e2e-tests/page-objects/data_entry/DataEntryHomePgObj.ts
  frontend/e2e-tests/tests/data-entry.e2e.ts
  frontend/playwright.e2e.config.ts
  frontend/src/features/data_entry/components/DataEntryProvider.tsx
  frontend/src/features/data_entry_choice/components/DataEntryChoicePage.test.tsx
  frontend/src/features/data_entry_choice/components/DataEntryChoicePage.tsx
  frontend/src/lib/i18n/locales/nl/data_entry.json
  frontend/src/lib/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
  pull-and-run
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Removed last @kiesraad paths from codebase and made sure result of gen:translation-json is correct
  frontend/scripts/gen_po.js
  frontend/src/api/ApiClient.ts
  frontend/src/api/ApiResult.ts
  frontend/src/api/RequestStateHandler.tsx
  frontend/src/components/authorization/AuthorizationDialog.tsx
  frontend/src/components/error/ErrorModal.tsx
  frontend/src/components/footer/Footer.tsx
  frontend/src/components/navbar/NavBar.tsx
  frontend/src/components/navbar/NavBarLinks.tsx
  frontend/src/components/navbar/NavBarMenu.tsx
  frontend/src/components/ui/Badge/Badge.tsx
  frontend/src/components/ui/Icon/AlertIcon.tsx
  frontend/src/components/ui/Icon/StatusIcon.tsx
  frontend/src/components/ui/Loader/Loader.tsx
  frontend/src/components/ui/Modal/Modal.tsx
  frontend/src/components/ui/Pagination/Pagination.tsx
  frontend/src/features/election_management/components/ElectionCreatePage.tsx
  frontend/src/lib/i18n/locales/nl/candidate.json
  frontend/src/lib/i18n/locales/nl/generic.json
  frontend/tsconfig.json
Due: frontend-linter

adds ProgressList tests
  frontend/src/components/ui/ProgressList/ProgressList.stories.tsx
  frontend/src/components/ui/ProgressList/ProgressList.test.tsx
Due: frontend-linter

Removed last @kiesraad paths from codebase and made sure result of gen:translation-json is correct (#1388)
  frontend/scripts/gen_po.js
  frontend/src/api/ApiClient.ts
  frontend/src/api/ApiResult.ts
  frontend/src/api/RequestStateHandler.tsx
  frontend/src/components/authorization/AuthorizationDialog.tsx
  frontend/src/components/error/ErrorModal.tsx
  frontend/src/components/footer/Footer.tsx
  frontend/src/components/navbar/NavBar.tsx
  frontend/src/components/navbar/NavBarLinks.tsx
  frontend/src/components/navbar/NavBarMenu.tsx
  frontend/src/components/ui/Badge/Badge.tsx
  frontend/src/components/ui/Icon/AlertIcon.tsx
  frontend/src/components/ui/Icon/StatusIcon.tsx
  frontend/src/components/ui/Loader/Loader.tsx
  frontend/src/components/ui/Modal/Modal.tsx
  frontend/src/components/ui/Pagination/Pagination.tsx
  frontend/src/features/election_management/components/ElectionCreatePage.tsx
  frontend/src/lib/i18n/locales/nl/candidate.json
  frontend/src/lib/i18n/locales/nl/generic.json
  frontend/tsconfig.json
Due: frontend-linter

Verify EML page styling
  backend/src/eml/hash.rs
  frontend/src/components/ui/Alert/Alert.module.css
  frontend/src/components/ui/Alert/Alert.stories.tsx
  frontend/src/components/ui/Alert/Alert.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.tsx
  frontend/src/features/data_entry/components/differences/DifferencesForm.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.tsx
  frontend/src/features/data_entry_choice/components/DataEntryChoiceForm.tsx
  frontend/src/features/election_management/components/ElectionCreatePage.tsx
  frontend/src/features/election_management/components/RetractedHash.module.css
  frontend/src/features/election_management/components/RetractedHash.tsx
  frontend/src/lib/util/format.ts
  frontend/src/styles/typography.css
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Verify EML page styling
  frontend/src/components/ui/AppLayout/AppLayout.module.css
  frontend/src/features/election_management/components/ElectionCreatePage.module.css
  frontend/src/features/election_management/components/ElectionCreatePage.tsx
  frontend/src/features/election_management/components/RetractedHash.module.css
  frontend/src/lib/i18n/locales/nl/election.json
Due: frontend-linter

Seperated check election definition code
  frontend/src/features/election_management/components/CheckElectionDefinition.tsx
  frontend/src/features/election_management/components/ElectionCreatePage.tsx
Due: frontend-linter

Fix cache retrieval for `CandidatesVotesForm`
  frontend/src/features/data_entry/components/candidates_votes/candidatesVotesValues.ts
  frontend/src/features/data_entry/components/candidates_votes/useCandidateVotes.ts
Due: frontend-linter

Enable `no-unsafe-type-assertion` ESLint rule
  frontend/.eslintrc.cjs
Due: none

Fix cache retrieval for `CandidatesVotesForm` (#1393)
  frontend/src/features/data_entry/components/candidates_votes/candidatesVotesValues.ts
  frontend/src/features/data_entry/components/candidates_votes/useCandidateVotes.ts
Due: frontend-linter

makes two small refactors in DataEntryProgres
  frontend/src/features/data_entry/components/DataEntryProgress.tsx
Due: frontend-linter

Processed comments from Joep and Mark
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/page-objects/data_entry/DataEntryHomePgObj.ts
  frontend/e2e-tests/tests/data-entry.e2e.ts
  frontend/src/app/routes.test.tsx
  frontend/src/features/data_entry/components/DataEntryLayout.tsx
  frontend/src/lib/i18n/locales/nl/error.json
Due: frontend-linter

Fixed 3 more mutants by adding a new test and more asserts in existing tests
  backend/src/apportionment/seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed e2e test
  frontend/e2e-tests/fixtures.ts
Due: frontend-linter

Added password requirements to password rejection error copy
  frontend/src/features/users/components/update/UserUpdateForm.test.tsx
  frontend/src/lib/i18n/locales/nl/error.json
Due: frontend-linter

Removed unused ErrorReferences, cleaned up code and added warning for InvalidStateTransition
  backend/openapi.json
  backend/src/error.rs
  frontend/e2e-tests/tests/data-entry.e2e.ts
  frontend/src/app/routes.test.tsx
  frontend/src/features/data_entry/components/DataEntryLayout.tsx
  frontend/src/features/data_entry/components/DataEntryProvider.tsx
  frontend/src/features/data_entry_choice/components/DataEntryChoicePage.test.tsx
  frontend/src/features/data_entry_choice/components/DataEntryChoicePage.tsx
  frontend/src/lib/i18n/locales/nl/data_entry.json
  frontend/src/lib/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Removed `.` from alert warning title
  frontend/e2e-tests/page-objects/data_entry/DataEntryHomePgObj.ts
  frontend/e2e-tests/tests/data-entry.e2e.ts
  frontend/src/features/data_entry_choice/components/DataEntryChoicePage.test.tsx
  frontend/src/lib/i18n/locales/nl/data_entry.json
Due: frontend-linter

Added NotEnoughCandidatesOnListsWithVotes error
  backend/openapi.json
  backend/src/apportionment/seat_assignment.rs
  backend/src/error.rs
  backend/tests/apportionment_integration_test.rs
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/lib/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

draft of split routes
  frontend/src/app/routes.tsx
  frontend/src/features/account/routes.tsx
  frontend/src/features/apportionment/routes.tsx
  frontend/src/features/data_entry/routes.tsx
  frontend/src/features/election_management/routes.tsx
  frontend/src/features/election_status/routes.tsx
  frontend/src/features/polling_stations/routes.tsx
Due: frontend-linter

Upgrade to Vite 6.3.2
  frontend/package-lock.json
  frontend/package.json
Due: none

Upgrade to Vite 6.3.2 (#1404)
  frontend/package-lock.json
  frontend/package.json
Due: none

Fix imports
  frontend/src/features/election_status/components/CategoryRow.tsx
  frontend/src/features/election_status/components/ElectionStatus.tsx
  frontend/src/features/election_status/hooks/useElectionStatus.ts
Due: frontend-linter

Fixed 3 more mutants by adding a new test and more asserts in existing tests (#1372)
  backend/src/apportionment/seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Cleanup election status and link to differences page (#1374)
  frontend/src/app/routes.tsx
  frontend/src/features/election_status/components/CategoryHeader.tsx
  frontend/src/features/election_status/components/CategoryRow.tsx
  frontend/src/features/election_status/components/ElectionStatus.tsx
  frontend/src/features/election_status/hooks/useElectionStatus.ts
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
Due: frontend-linter

Polling station data entry status endpoint and hook
  backend/openapi.json
  backend/src/data_entry/api.rs
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
  frontend/src/features/resolve_differences/hooks/usePollingStationDataEntryDifferences.ts
  frontend/src/testing/api-mocks/DataEntryMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Added password requirements to password rejection error copy (#1395)
  frontend/src/features/users/components/update/UserUpdateForm.test.tsx
  frontend/src/lib/i18n/locales/nl/error.json
Due: frontend-linter

Handle wrong data entry URL errors (reload finalised data entry, invalid entry number) (#1392)
  backend/openapi.json
  backend/src/error.rs
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/page-objects/data_entry/DataEntryHomePgObj.ts
  frontend/e2e-tests/tests/data-entry.e2e.ts
  frontend/playwright.e2e.config.ts
  frontend/src/app/routes.test.tsx
  frontend/src/features/data_entry/components/DataEntryLayout.tsx
  frontend/src/features/data_entry/components/DataEntryProvider.tsx
  frontend/src/features/data_entry_choice/components/DataEntryChoicePage.test.tsx
  frontend/src/features/data_entry_choice/components/DataEntryChoicePage.tsx
  frontend/src/lib/i18n/locales/nl/data_entry.json
  frontend/src/lib/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
  pull-and-run
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Apply suggestions from code review
  documentatie/gebruikersdocumentatie/instructies-invoerder.md
Due: none

Update documentatie/gebruikersdocumentatie/instructies-invoerder.md
  documentatie/gebruikersdocumentatie/instructies-invoerder.md
Due: none

Added some tests
  backend/src/election/api.rs
  frontend/e2e-tests/page-objects/election/ElectionCheckDefinitionPgObj.ts
  frontend/e2e-tests/page-objects/election/ElectionUploadDefinitionPgObj.ts
  frontend/e2e-tests/page-objects/election/OverviewPgObj.ts
  frontend/e2e-tests/tests/election-create.e2e.ts
  frontend/src/features/election_management/components/ElectionCreatePage.test.tsx
  frontend/src/features/election_management/components/ElectionCreatePage.tsx
  frontend/src/features/election_management/components/RetractedHash.tsx
  frontend/src/features/election_management/components/UploadElectionDefinition.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fixed imports
  backend/src/election/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi
