Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

backend-sqlx-prepare:
  run: 'cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite && cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets && git add .sqlx && rm sqlx-cache-tmp.sqlite
  
    '

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi && git add openapi.json && cd ../frontend && pnpm gen:openapi && git add src/types/generated/openapi.ts
  
    '

frontend-lint-tsc:
  run: pnpm lint:tsc

frontend-lint-eslint:
  run: pnpm lint:eslint

Added tests for drawn candidates alert on ApportionmentListDetailsPage
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Add checks to ensure input is sorted
  backend/apportionment/src/lib.rs
  backend/apportionment/src/structs.rs
  backend/apportionment/src/test_helpers.rs
  backend/src/api/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Apportionment fix standings, added assertions (#3528)
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Implement frontend for SQLite backups (#3469)
  frontend/src/app/routes.tsx
  frontend/src/assets/icons/folderCheck.svg
  frontend/src/components/generated/icons.tsx
  frontend/src/components/navbar/NavBarLinks.tsx
  frontend/src/components/navbar/NavBarMenu.tsx
  frontend/src/features/backups/components/BackupsPage.module.css
  frontend/src/features/backups/components/BackupsPage.test.tsx
  frontend/src/features/backups/components/BackupsPage.tsx
  frontend/src/features/backups/routes.tsx
  frontend/src/i18n/locales/nl/backups.json
  frontend/src/i18n/locales/nl/nl.ts
  frontend/src/utils/dateTime.test.ts
  frontend/src/utils/dateTime.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Changed capitalization and make sure plural version of text is also used
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Improve frontend for SQLite backups
  frontend/src/assets/icons/folderCheck.svg
  frontend/src/components/generated/icons.tsx
  frontend/src/components/navbar/NavBar.stories.tsx
  frontend/src/features/backups/components/BackupsPage.stories.tsx
  frontend/src/features/backups/components/BackupsPage.tsx
  frontend/src/features/dev/components/DevHomePage.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Simplified DrawingLotsForP9 parameters
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForP9.stories.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForP9.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsPage.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Create and trust CA in Windows installer (#3518)
  backend/src/bin/abacus.rs
  backend/src/infra/tls.rs
  backend/tests/init_tls_test.rs
  packaging/windows/.gitignore
  packaging/windows/README.md
  packaging/windows/abacus.iss
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added getContent function to reduce number of functions and extra checks needed
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsPage.tsx
  frontend/src/features/apportionment/utils/utils.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Adjust test to protect against all/any mixups
  backend/apportionment/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add checks to ensure input is sorted (#3545)
  backend/apportionment/src/lib.rs
  backend/apportionment/src/structs.rs
  backend/apportionment/src/test_helpers.rs
  backend/src/api/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Adjust get_total_seats_per_list_number_from_apportionment_result and add test
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add tests for list_numbers_with_exhausted_seats
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add tests for get_number_of_candidates
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Adjust list_assigned_from_previous_step and add tests
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Merge step selection functions and add test
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add tests for list_standings_qualifying_for_largest_remainder and list_standings_qualifying_for_unique_highest_average
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Simplify exhausted_list_numbers and also return over-exhausted lists
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Merge list_numbers_without_empty_seats with exhausted_list_numbers and add tests
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add tests for all_chosen_candidates
  backend/apportionment/src/candidate_nomination/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add tests for candidate_votes_meeting_preference_threshold
  backend/apportionment/src/candidate_nomination/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add tests for candidate_votes_numbers and other_candidate_nomination
  backend/apportionment/src/candidate_nomination/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Frontend drawing lots screens for candidates (#3522)
  backend/src/bin/gen-pdf.rs
  backend/src/test_data_gen/api.rs
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p15-drawing-lots.json
  frontend/src/components/ui/Alert/Alert.module.css
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/DrawingLotsAlerts.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForCandidate.stories.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForCandidate.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForP9.stories.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForP9.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsPage.test.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsPage.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/testing/lt-19-seats-and-p15-drawing-lots.ts
  frontend/src/features/apportionment/utils/utils.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Undo highlighting change in HighestAveragesTable and update current P9 footnote
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Updated DrawingLotsForCandidate text to design change
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForCandidate.stories.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsPage.test.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Updated copy after change in design
  frontend/src/i18n/locales/nl/apportionment.json
Due: none

HighestAveragesTable: Change cell highlight of lists that might need to give up a seat in case of drawing lots for P9 and added extra stories
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p7-drawing-lots.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9-drawing-lots-and-deceased-candidates.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Implemented copy change in design for DrawingLotsForList on DrawingLotsPage
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForList.stories.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsPage.test.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Implemented copy changes in design for ApportionmentPage drawing lots alerts
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Do not show calculation if there are no deceased candidates
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ElectionSummaryTable.stories.tsx
  frontend/src/features/apportionment/components/ElectionSummaryTable.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Enriched drawing lots notify alerts with drawing lots options, removed duplication in smallAlert styling
  frontend/src/features/apportionment/components/Apportionment.module.css
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.tsx
  frontend/src/features/apportionment/utils/utils.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Replaced dash in formattedPoliticalGroup with emdash
  frontend/e2e-tests/tests/apportionment/add-deceased-candidates.e2e.ts
  frontend/src/components/data_entry/subsections/InputGridSubsection.stories.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ChosenCandidatesTable.stories.tsx
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForList.stories.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/data_entry/components/DataEntryProgress.test.tsx
  frontend/src/features/data_entry/components/DataEntrySection.test.tsx
  frontend/src/features/data_entry/components/cache.test.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/src/features/data_entry_detail/components/DetailIndexPage.test.tsx
  frontend/src/features/data_entry_detail/components/DetailNavigation.test.tsx
  frontend/src/features/data_entry_detail/components/ErrorsAndWarningsOverview.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.test.tsx
  frontend/src/utils/__snapshots__/dataEntryStructure.CSOFirstSession.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.CSONextSession.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.GSB.snap
  frontend/src/utils/politicalGroup.test.ts
  frontend/src/utils/politicalGroup.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Formatted drawn candidate in alert with emdash
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/utils/utils.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Fixed e2e test header regex
  frontend/e2e-tests/page-objects/apportionment/ApportionmentListDetailsPgObj.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Fixed clippy errors introduced after rust update
  backend/src/api/committee_session.rs
  backend/src/api/middleware/airgap/detect.rs
  backend/src/domain/election.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed clippy errors introduced after rust update (#3554)
  backend/src/api/committee_session.rs
  backend/src/api/middleware/airgap/detect.rs
  backend/src/domain/election.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add test case for other_candidate_nomination
  backend/apportionment/src/candidate_nomination/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Rename committee session service module
  backend/src/service/committee_session.rs
  backend/src/service/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

[WIP] Remove files from database on reset apportionment state v01
  backend/src/api/apportionment/handlers/reset_apportionment_state.rs
  backend/src/service/change_committee_session_status.rs
  backend/src/service/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added P 22-2 variant with gte 19 seats and p9 and p10 and many deceased candidates
  backend/src/bin/gen-pdf.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9-drawing-lots-and-p10-and-deceased-candidates.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-lint-tsc: any of: *.{ts,tsx} and ^frontend/
  frontend-lint-eslint: any of: *.{ts,tsx} and ^frontend/
