Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

backend-sqlx-prepare:
  run: 'cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite && cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets && git add .sqlx && rm sqlx-cache-tmp.sqlite
  
    '

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi && git add openapi.json && cd ../frontend && pnpm gen:openapi && git add src/types/generated/openapi.ts
  
    '

frontend-lint-tsc:
  run: pnpm lint:tsc

frontend-lint-eslint:
  run: pnpm lint:eslint

Remake apportionment state machine using draw.io
  documentatie/state-machines/apportionment-state-machine.drawio.svg
  documentatie/state-machines/apportionment.md
Due: none

Added unique_highest_average_column to list_seat_assignment if initial unique highest average assignment took place
  backend/src/domain/apportionment.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/model-p-22-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

cargo fmt for fuzz_targets
  backend/apportionment/fuzz/fuzz_targets/apportionment.rs
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/fuzz/fuzz_targets/population_monotonicity.rs
  backend/apportionment/fuzz/src/apportionment_input.rs
  backend/apportionment/fuzz/src/logging.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Bugfix data entry scroll
  frontend/e2e-tests/page-objects/data_entry/CandidatesListPgObj.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/hooks/useDataEntryFormSection.ts
Due: frontend-lint-tsc, frontend-lint-eslint

improves console output for mismatches
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add apportionment state machine diagram (#3221)
  documentatie/state-machines/apportionment-state-machine.drawio.svg
  documentatie/state-machines/apportionment.md
Due: none

Fix session id in test_csb_incomplete_committee_session_results
  backend/src/repository/data_entry_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

e2e test check scroll position
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Add tests for election summary and querying of GSB results (#3227)
  backend/src/domain/summary.rs
  backend/src/repository/data_entry_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Bugfix data entry scroll (#3229)
  frontend/e2e-tests/page-objects/data_entry/CandidatesListPgObj.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/hooks/useDataEntryFormSection.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Skip cases in differential fuzzer that will need resolving (#3213)
  backend/apportionment/fuzz/fuzz_targets/apportionment.rs
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/fuzz/fuzz_targets/population_monotonicity.rs
  backend/apportionment/fuzz/src/apportionment_input.rs
  backend/apportionment/fuzz/src/logging.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

updates apportionment fuzzer README: multiple jobs, coverage
  backend/apportionment/fuzz/README.md
Due: none

updates apportionment fuzzer README: multiple jobs, coverage (#3233)
  backend/apportionment/fuzz/README.md
Due: none

eslint fixes
  frontend/src/features/dev/components/MockTest.tsx
  frontend/src/features/logs/hooks/useAuditLog.ts
  frontend/src/i18n/format.tsx
  frontend/src/utils/fraction.test.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Implement generating results EML for CSB
  backend/apportionment/src/candidate_nomination/structs.rs
  backend/src/api/apportionment/handlers.rs
  backend/src/api/apportionment/mapping.rs
  backend/src/api/report.rs
  backend/src/domain/apportionment.rs
  backend/src/domain/file.rs
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Apply suggestions
  backend/src/api/report.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

fixes copy on CSB page to download documents
  frontend/src/features/election_management/components/report/CSBElectionReportSection.tsx
  frontend/src/i18n/locales/nl/election_management.json
Due: frontend-lint-tsc, frontend-lint-eslint

Processed review comments
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-p-22-2.json
  backend/templates/model-p-22-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

fix copy on CSB page to download documents (#3244)
  frontend/src/features/election_management/components/report/CSBElectionReportSection.tsx
  frontend/src/i18n/locales/nl/election_management.json
Due: frontend-lint-tsc, frontend-lint-eslint

More naming improvements
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-p-22-2.json
  backend/templates/model-p-22-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixes
  backend/src/api/report.rs
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Implement generating results EML for CSB (#3240)
  backend/apportionment/src/candidate_nomination/structs.rs
  backend/src/api/apportionment/handlers.rs
  backend/src/api/apportionment/mapping.rs
  backend/src/api/report.rs
  backend/src/domain/apportionment.rs
  backend/src/domain/file.rs
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added largest remainder and unique highest average to list seat assignment in backend P 22-2 input (#3225)
  backend/src/api/report.rs
  backend/src/domain/apportionment.rs
  backend/src/domain/models/enriched_candidate_nomination.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/models/model_p_22_2.rs
  backend/src/domain/models/seats_table.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-p-22-2.json
  backend/templates/model-p-22-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add endpoint for CSB attachment P 22-2 Bijlage 1
  backend/openapi.json
  backend/src/api/report.rs
  backend/src/domain/file.rs
  backend/tests/election_integration_test.rs
  frontend/src/features/election_management/components/report/CSBElectionReportSection.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Update frontend/src/features/election_management/components/report/CSBElectionReportSection.tsx
  frontend/src/features/election_management/components/report/CSBElectionReportSection.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Split CSS root variables into smaller blocks
  frontend/src/styles/variables.css
Due: none

Split CSS root variables into smaller blocks (#3248)
  frontend/src/styles/variables.css
Due: none

Use structs for files
  backend/src/api/report.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added initial_highest_average_steps to EnrichedSeatAssignment and fixed rendering of chosen average
  backend/src/domain/apportionment.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/templates/common/scripts.typ
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/model-p-22-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added footnotes in backend
  backend/src/api/report.rs
  backend/src/domain/apportionment.rs
  backend/src/domain/models/footnotes.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/models/model_p_22_2.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/model-p-22-2.json
  backend/templates/model-p-22-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Removed now obsolete seat_assignment, result_changes_full_seats and result_changes_residual_seats fields
  backend/src/api/report.rs
  backend/src/domain/models/model_p_22_2.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-p-22-2.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Changed election parameter to be of type Election instead of ElectionWithPoliticalGroups
  backend/src/api/report.rs
  backend/src/domain/models/model_p_22_2.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-p-22-2.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add endpoint and download link for CSB P 22-2 Bijlage 1 (#3246)
  backend/openapi.json
  backend/src/api/report.rs
  backend/src/domain/file.rs
  backend/tests/election_integration_test.rs
  frontend/src/features/election_management/components/report/CSBElectionReportSection.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Renamed enriched_seat_assignment field to seat_assignment
  backend/src/api/report.rs
  backend/src/domain/models/model_p_22_2.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-p-22-2.json
  backend/templates/model-p-22-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Renamed Footnotes to ApportionmentFootnotes
  backend/src/api/report.rs
  backend/src/domain/models/apportionment_footnotes.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/models/model_p_22_2.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactor API error handling with `ApiErrorResponse` trait
  backend/src/api/apportionment/mod.rs
  backend/src/api/authentication.rs
  backend/src/api/committee_session.rs
  backend/src/api/election.rs
  backend/src/api/middleware/authentication/error.rs
  backend/src/api/report.rs
  backend/src/domain/committee_session.rs
  backend/src/error.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove unused `APIError::InvalidResultsType`
  backend/src/error.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Processed review comments
  backend/apportionment/src/seat_assignment/structs.rs
  backend/src/domain/apportionment.rs
  backend/src/domain/models/apportionment_footnotes.rs
  backend/src/domain/models/enriched_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move trait impl from committee session domain to api
  backend/src/api/committee_session.rs
  backend/src/domain/committee_session.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-lint-tsc: any of: *.{ts,tsx} and ^frontend/
  frontend-lint-eslint: any of: *.{ts,tsx} and ^frontend/
