Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

backend-sqlx-prepare:
  run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --all-features -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi &&  git add openapi.json && cd ../frontend && npm run gen:openapi && git add lib/api/gen/openapi.ts
  
    '

frontend-linter:
  run: npm run lint {staged_files}

Fix date format in Na 31-2 template
  backend/fixtures/election_2.sql
  backend/src/committee_session/api.rs
  backend/templates/inputs/model-na-31-2.json
  backend/templates/model-na-31-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update backend/src/data_entry/structs.rs
  backend/src/data_entry/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added endpoint and db table for investigations
  backend/.sqlx/query-8027ec6a0a7f31b62863ceead46269fc6b777915bdab877b266bc485d26764ca.json
  backend/migrations/9_polling_station_investigations.sql
  backend/openapi.json
  backend/src/audit_log/audit_event.rs
  backend/src/committee_session/api.rs
  backend/src/committee_session/repository.rs
  backend/src/committee_session/structs.rs
  frontend/src/features/investigations/components/InvestigationReason.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Update OpenAPI spec
  backend/openapi.json
  frontend/src/types/generated/openapi.ts
Due: frontend-linter

removes unneeded cast to regex in page object
  frontend/e2e-tests/page-objects/nav_bar/AdminNavBarPgObj.ts
Due: frontend-linter

Implement F401/F402/F403
  backend/openapi.json
  backend/src/data_entry/validation.rs
  frontend/src/components/ui/Feedback/Feedback.tsx
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Tests for F401/F402
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Tests for W203
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add context support for ValidationResult
  backend/openapi.json
  backend/src/data_entry/validation.rs
  frontend/scripts/openapi/generator.ts
  frontend/src/components/ui/Feedback/Feedback.tsx
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/features/resolve_errors/components/ReadOnlyDataEntrySection.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsOverview.tsx
  frontend/src/i18n/locales/nl/feedback.json
  frontend/src/types/generated/openapi.ts
  frontend/src/utils/ValidationResults.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

i18n Link tag support
  documentatie/softwarearchitectuur/Vertalingen.md
  frontend/src/components/ui/Feedback/Feedback.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/i18n/format.test.ts
  frontend/src/i18n/format.tsx
  frontend/src/i18n/i18n.types.ts
  frontend/src/i18n/locales/nl/feedback.json
Due: frontend-linter

Tests for F403
  backend/src/data_entry/validation.rs
  backend/tests/data_entries_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix tests, adjust Storybook
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
  frontend/src/components/ui/Feedback/Feedback.stories.tsx
  frontend/src/components/ui/Feedback/Feedback.tsx
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/src/i18n/locales/nl/feedback.json
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
Due: frontend-linter

Merge conflict resolution
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update report Na 31-2 with new model fields (#2072)
  backend/.sqlx/query-038f37132d44a6b46da140add76eade35a0f40af3c1130182da5abe78dd9db20.json
  backend/.sqlx/query-5bc73cd3b5d8ac6b386b893017f190978c17106a62203037b0e3e5c4fbdb2769.json
  backend/.sqlx/query-67c520af5da6674c980fc4e47cc905c4706647beba3032671d594f35c57ceaab.json
  backend/.sqlx/query-6b9728a05eeddc52ec2211636b51f5eea7d8ca0db8b2d6e17c5177142699aff5.json
  backend/.sqlx/query-91eb8f31ec9831cd17292e9082b508703c63178afae1182dc3b0205d6fa0aae3.json
  backend/.sqlx/query-994b41b02bf6d050e86109cb5bb1c08425ccbb94036e7efbcf2d17770ba1c0db.json
  backend/.sqlx/query-c446bcbcfc4ea3f2d57b66873f6d86b65e3ba23086b7c37f1959aec23993a939.json
  backend/fixtures/election_2.sql
  backend/openapi.json
  backend/src/apportionment/mod.rs
  backend/src/audit_log/audit_event.rs
  backend/src/committee_session/api.rs
  backend/src/pdf_gen/mod.rs
  backend/src/pdf_gen/models/model_n_10_2.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/src/polling_station/repository.rs
  backend/src/polling_station/structs.rs
  backend/src/summary/mod.rs
  backend/templates/common/scripts.typ
  backend/templates/inputs/model-n-10-2.json
  backend/templates/inputs/model-na-31-2-bijlage1.json
  backend/templates/inputs/model-na-31-2.json
  backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-2.typ
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Change context to defined struct
  backend/openapi.json
  backend/src/data_entry/validation.rs
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
  frontend/scripts/openapi/generator.ts
  frontend/src/components/ui/Feedback/Feedback.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsOverview.tsx
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Rename RenderCallback to RenderFunction
  documentatie/softwarearchitectuur/Vertalingen.md
  frontend/src/i18n/format.tsx
  frontend/src/i18n/i18n.types.ts
  frontend/src/i18n/translate.ts
Due: frontend-linter

Add test for Count validation
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added function to generate and save eml and pdf files
  backend/.sqlx/query-e2e118964999676dab7585a894ea48a1141f6ccc922b7ef3b374597fa0cb71cf.json
  backend/src/committee_session/repository.rs
  backend/src/committee_session/structs.rs
  backend/src/report/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use CSS Modules and classes instead of global and nth-of-type
  frontend/src/components/ui/InputGrid/InputGrid.module.css
  frontend/src/components/ui/InputGrid/InputGrid.stories.tsx
  frontend/src/components/ui/InputGrid/InputGrid.tsx
  frontend/src/components/ui/InputGrid/InputGridRow.test.tsx
  frontend/src/components/ui/InputGrid/InputGridRow.tsx
  frontend/src/features/data_entry/components/DataEntrySection.module.css
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/testing/test.utils.ts
Due: frontend-linter

Implement validation rules: Political groups (#2095)
  backend/openapi.json
  backend/src/data_entry/validation.rs
  backend/tests/data_entries_integration_test.rs
  documentatie/softwarearchitectuur/Vertalingen.md
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
  frontend/src/components/ui/Feedback/Feedback.stories.tsx
  frontend/src/components/ui/Feedback/Feedback.tsx
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/features/resolve_errors/components/ReadOnlyDataEntrySection.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsOverview.tsx
  frontend/src/i18n/format.test.ts
  frontend/src/i18n/format.tsx
  frontend/src/i18n/i18n.types.ts
  frontend/src/i18n/locales/nl/feedback.json
  frontend/src/i18n/translate.ts
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
  frontend/src/types/generated/openapi.ts
  frontend/src/utils/ValidationResults.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

GSB/CSB selection page (#2092)
  frontend/e2e-tests/page-objects/election/create/PollingStationRolePgObj.ts
  frontend/e2e-tests/tests/election-create.e2e.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
  frontend/src/features/election_create/components/CountingMethodType.tsx
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_create/components/PollingStationRole.tsx
  frontend/src/features/election_create/components/UploadElectionDefinition.tsx
  frontend/src/features/election_create/routes.tsx
  frontend/src/i18n/locales/nl/election.json
Due: frontend-linter

Fixed bug committee session status remains created when importing polling stations (#2082)
  backend/src/election/api.rs
  backend/src/polling_station/mod.rs
  backend/tests/election_admin_integration_tests.rs
  backend/tests/polling_station_integration_test.rs
  frontend/e2e-tests/page-objects/election/ElectionHomePgObj.ts
  frontend/e2e-tests/page-objects/nav_bar/AdminNavBarPgObj.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationImportPgObj.ts
  frontend/e2e-tests/test-data/eml-files.ts
  frontend/e2e-tests/tests/election-create.e2e.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Get polling stations list and results for a committee session instead of an election
  backend/.sqlx/query-37b48aef10e5cf04fd5591143ada92346b433124670276e176c37f425a067ca3.json
  backend/.sqlx/query-5a9cf02cf2bcce866af868f8f93953ffb2e68aecbc77165ee1aee1628da1df17.json
  backend/openapi.json
  backend/src/apportionment/api.rs
  backend/src/bin/gen-test-election.rs
  backend/src/committee_session/status.rs
  backend/src/data_entry/repository.rs
  backend/src/document/api.rs
  backend/src/election/api.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Changed urls for file downloads to include the committee session id
  backend/src/report/api.rs
  backend/tests/election_integration_test.rs
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fixed tests
  backend/src/data_entry/validation.rs
  backend/src/summary/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed e2e tests
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/tests/pdf-rendering.e2e.ts
  frontend/e2e-tests/tests/zip-download.e2e.ts
Due: frontend-linter

Added missing F.3XX to validation result mock data
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
Due: frontend-linter

Add appropriate classes to input grid header
  frontend/src/components/data_entry/subsections/InputGridSubsection.tsx
  frontend/src/components/ui/InputGrid/InputGrid.stories.tsx
  frontend/src/components/ui/InputGrid/InputGrid.tsx
Due: frontend-linter

Fixes after merge
  backend/openapi.json
  backend/src/data_entry/validation.rs
  backend/src/summary/mod.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fixed frontend lint
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
Due: frontend-linter

Fixed backend tests
  backend/src/data_entry/validation.rs
  backend/src/summary/mod.rs
  backend/templates/inputs/model-na-31-2.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed #2097
  frontend/src/components/ui/KeyboardKeys/KeyboardKeys.module.css
Due: none

Fixed e2e tests
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
Due: frontend-linter

adds Form without title to Form stories
  frontend/src/components/ui/Form/Form.stories.tsx
Due: frontend-linter

extends tests for Form component
  frontend/src/components/ui/Form/Form.test.tsx
Due: frontend-linter

Added tests for downloading the same file again
  backend/tests/committee_session_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added audit logging and deleting of files when committee session is resumed
  backend/.sqlx/query-03fc51351489b6fa98599311891bbc17e75cf68ab2a9e189beebfdbfd18e94e5.json
  backend/.sqlx/query-572f79745f55b3758c02231298070deb301f8ce91c9bd6112c0f3b87b05e417d.json
  backend/.sqlx/query-7c17a8a3d9d9c8c70a329b5246e793e31c3449b2885a4ab8d98a4f560a9f131f.json
  backend/migrations/9_files.sql
  backend/openapi.json
  backend/src/audit_log/audit_event.rs
  backend/src/committee_session/status.rs
  backend/src/files/mod.rs
  backend/src/files/repository.rs
  backend/src/report/api.rs
  frontend/src/i18n/locales/nl/log.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

cargo fmt
  backend/src/bin/gen-test-election.rs
  backend/src/committee_session/api.rs
  backend/src/committee_session/repository.rs
  backend/src/committee_session/status.rs
  backend/src/files/mod.rs
  backend/src/files/repository.rs
  backend/src/polling_station/repository.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

adds FormLayout.Alert to FormLayout stories
  frontend/src/components/ui/Form/FormLayout.stories.tsx
Due: frontend-linter

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
