Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

backend-sqlx-prepare:
  run: cargo sqlx prepare

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --all-features -- -D warnings

backend-openapi:
  run: cargo run --package backend --bin gen-openapi && git add openapi.json

frontend-typescript:
  run: npx tsc

frontend-linter:
  run: npm run lint {staged_files}

Improved AppLayout css to make styling navs inside it more straightforward
  frontend/app/module/election/page/ElectionStatusPage.module.css
  frontend/lib/ui/AppLayout/AppLayout.module.css
  frontend/lib/ui/ProgressBar/Progress.module.css
  frontend/lib/ui/ProgressBar/Progress.tsx
Due: frontend-typescript, frontend-linter

Improved table styling
  frontend/app/component/error/Error.module.css
  frontend/lib/ui/Badge/badge.module.css
  frontend/lib/ui/ProgressBar/ProgressBar.module.css
  frontend/lib/ui/Table/Table.module.css
Due: none

Do not navigate from AbortDataEntryModal when the api returns a error
  frontend/app/module/data_entry/polling_station/AbortDataEntryModal.tsx
  frontend/lib/api/form/pollingstation/PollingStationControllerContext.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
Due: frontend-typescript, frontend-linter

Save cached input when clicking save in modal (#566)
  documentatie/flowcharts/data-entry-forms.md
  frontend/e2e-tests/dom-to-db-tests/resume-data-entry.e2e.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.test.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
Due: frontend-typescript, frontend-linter

Polling station backend endpoints (#572)
  backend/.sqlx/query-caf2c17768a946bdfcc1ea81699c03c397fd98dc2c9ddd659706551676ce8cda.json
  backend/.sqlx/query-ea78207f538b5f72cd2d42b0d071d0c89e38a7dc0befc2da28abf2cc35d4eac4.json
  backend/openapi.json
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
  backend/src/polling_station/structs.rs
  backend/tests/polling_station_integration_test.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Set fatal and reference in ApiError class
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/ApiError.ts
Due: frontend-typescript, frontend-linter

Update memory-serve to v1.0.0-beta.0
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix `no-constant-binary-expression` lint error
  frontend/lib/api/ApiClient.ts
Due: frontend-typescript, frontend-linter

Update memory-serve to v1.0.0-beta.0 (#579)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Upgrade to ESLint 9
  frontend/package-lock.json
  frontend/package.json
Due: none

WIP RequestStateHandler
  frontend/lib/api/RequestStateHandler.tsx
  frontend/lib/api/election/ElectionListProvider.tsx
  frontend/lib/api/election/ElectionProvider.tsx
  frontend/lib/api/election/ElectionStatusProvider.tsx
  frontend/lib/i18n/i18n.types.ts
  frontend/lib/i18n/locales/nl.ts
Due: frontend-typescript, frontend-linter

Focus PollingStationChoice input
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationSelector.tsx
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/resume-data-entry.e2e.ts
  frontend/e2e-tests/page-objects/data_entry/PollingStationChoicePgObj.ts
  frontend/lib/ui/Form/Form.module.css
  frontend/lib/ui/Form/Form.tsx
  frontend/lib/ui/InputField/InputField.tsx
  frontend/lib/ui/style/reset.css
  frontend/lib/ui/style/typography.css
Due: frontend-typescript, frontend-linter

Processed all styling comments from Joris
  frontend/app/module/election/page/ElectionStatusPage.module.css
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/lib/ui/Icon/Circle.module.css
  frontend/lib/ui/Icon/Circle.tsx
  frontend/lib/ui/Icon/index.ts
  frontend/lib/ui/ProgressBar/ProgressBar.module.css
  frontend/lib/ui/ProgressBar/ProgressBar.tsx
  frontend/lib/ui/Table/Table.module.css
  frontend/lib/ui/index.ts
Due: frontend-typescript, frontend-linter

Updated PollingStationFormController to make sure unfinished data entry is set to in progress immediately upon opening it instead of on 'next' click
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
Due: frontend-typescript, frontend-linter

Correct the behaviour of resuming a data entry, making sure it starts on the right page
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
Due: frontend-typescript, frontend-linter

pre merge main
  frontend/app/component/form/polling_station/PollingStationForm.tsx
  frontend/app/module/polling_stations/page/PollingStationCreatePage.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/app/routes.tsx
Due: frontend-typescript, frontend-linter

Added ElectionStatus to backend and frontend, still need to add tests
  backend/fixtures/elections.sql
  backend/migrations/1_elections.sql
  backend/openapi.json
  backend/src/election/repository.rs
  backend/src/election/structs.rs
  backend/src/pdf_gen/mod.rs
  frontend/app/component/election/ElectionStatusWithIcon.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/module/election/page/ElectionReportPage.tsx
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/app/module/election/page/OverviewPage.tsx
  frontend/lib/api-mocks/ElectionMockData.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/i18n/i18n.types.ts
  frontend/lib/i18n/locales/nl.ts
  frontend/lib/ui/util/Icons.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

removes usage of design to refer to code design to avoid confusion with ux design
  documentatie/ontwikkelproces/testen-en-kwaliteit.md
Due: none

Split up translation files + nested translations
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/app/module/election/page/OverviewPage.tsx
  frontend/lib/i18n/i18n.test.tsx
  frontend/lib/i18n/i18n.ts
  frontend/lib/i18n/i18n.types.ts
  frontend/lib/i18n/index.ts
  frontend/lib/i18n/locales/nl.ts
  frontend/lib/i18n/locales/nl/candidates_votes.json
  frontend/lib/i18n/locales/nl/check_and_save.json
  frontend/lib/i18n/locales/nl/election_report.json
  frontend/lib/i18n/locales/nl/election_status.json
  frontend/lib/i18n/locales/nl/feedback.json
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/i18n/locales/nl/nl.ts
  frontend/lib/i18n/locales/nl/status.json
Due: frontend-typescript, frontend-linter

adds doc about pull requests (PRs)
  documentatie/ontwikkelproces/GitHub-werkwijze.md
  documentatie/ontwikkelproces/pull-requests.md
Due: none

Derive the translation type from the Dutch translations
  frontend/lib/i18n/i18n.types.ts
Due: frontend-typescript, frontend-linter

Generate PO language file
  frontend/.gitignore
  frontend/package.json
  frontend/scripts/gen_po.js
Due: none

Fixed font sizes in all tables
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationsList.tsx
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/app/module/election/page/OverviewPage.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/lib/ui/Badge/Badge.module.css
  frontend/lib/ui/Badge/Badge.tsx
  frontend/lib/ui/Badge/PollingStationNumber.tsx
  frontend/lib/ui/Badge/WorkStationNumber.tsx
  frontend/lib/ui/Table/Table.module.css
  frontend/lib/ui/Table/Table.stories.tsx
  frontend/lib/ui/Table/Table.tsx
  frontend/lib/ui/style/util.css
Due: frontend-typescript, frontend-linter

Never block navigation because of aborting data entry
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
Due: frontend-typescript, frontend-linter

now pulling before building
  pull-and-run
Due: none

Generate translation json files from .po files
  frontend/README.md
  frontend/lib/i18n/locales/nl/generic.json
  frontend/package.json
  frontend/scripts/gen_po.js
  frontend/scripts/gen_translation-json.js
Due: none

WIP added documentation, needs screenshots
  documentatie/gebruikersdocumentatie/runnen.md
Due: none

Added screenshots and build artifact instructions
  documentatie/gebruikersdocumentatie/runnen.md
Due: none

Apply suggestions from code review
  documentatie/gebruikersdocumentatie/runnen.md
Due: none

WIP: adds zero bug policy guidelines
  documentatie/ontwikkelproces/testen-en-kwaliteit.md
  documentatie/ontwikkelproces/zero-bug-policy.md
Due: none

replaces assert on form title from focus to visibility
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
Due: frontend-typescript, frontend-linter

Added enum variants and failing test case
  backend/openapi.json
  backend/src/polling_station/structs.rs
  backend/tests/election_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update README.md
  frontend/README.md
Due: none

Focus first input when navigating to next step (#529)
  frontend/.eslintrc.cjs
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationSelector.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/module/data_entry/polling_station/PollingStation.test.tsx
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/resume-data-entry.e2e.ts
  frontend/e2e-tests/page-objects/data_entry/CandidatesListPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/CheckAndSavePgObj.ts
  frontend/e2e-tests/page-objects/data_entry/DifferencesPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/PollingStationChoicePgObj.ts
  frontend/e2e-tests/page-objects/data_entry/RecountedPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/VotersAndVotesPgObj.ts
  frontend/index.html
  frontend/lib/ui/CheckboxAndRadio/CheckboxAndRadio.tsx
  frontend/lib/ui/CheckboxAndRadio/ChoiceList.tsx
  frontend/lib/ui/Form/Form.tsx
  frontend/lib/ui/InputField/InputField.tsx
  frontend/lib/ui/InputGrid/InputGrid.tsx
  frontend/lib/ui/InputGrid/InputGridRow.tsx
  frontend/lib/ui/style/reset.css
  frontend/lib/ui/style/typography.css
Due: frontend-typescript, frontend-linter

WIP error handling
  frontend/app/component/error/Error.types.ts
  frontend/app/component/error/ErrorBoundary.tsx
  frontend/app/main.tsx
  frontend/app/module/NotFound.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/app/module/data_entry/polling_station/PollingStation.test.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/app/routes.tsx
  frontend/lib/api-mocks/ElectionMockData.ts
  frontend/lib/api/ApiClient.test.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/ApiError.ts
  frontend/lib/api/RequestStateHandler.tsx
  frontend/lib/api/api.types.ts
  frontend/lib/api/election/ElectionProvider.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/useApiRequest.ts
Due: frontend-typescript, frontend-linter

updates uitwerking zero bug policy to first draft status
  documentatie/ontwikkelproces/testen-en-kwaliteit.md
  documentatie/ontwikkelproces/zero-bug-policy.md
Due: none

Fix tests
  frontend/app/module/data_entry/polling_station/PollingStation.test.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
Due: frontend-typescript, frontend-linter

Nested translations & split up translation files (#583)
  frontend/.gitignore
  frontend/README.md
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/app/module/election/page/OverviewPage.tsx
  frontend/lib/i18n/i18n.test.tsx
  frontend/lib/i18n/i18n.ts
  frontend/lib/i18n/i18n.types.ts
  frontend/lib/i18n/index.ts
  frontend/lib/i18n/locales/nl.ts
  frontend/lib/i18n/locales/nl/candidates_votes.json
  frontend/lib/i18n/locales/nl/check_and_save.json
  frontend/lib/i18n/locales/nl/election_report.json
  frontend/lib/i18n/locales/nl/election_status.json
  frontend/lib/i18n/locales/nl/feedback.json
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/i18n/locales/nl/nl.ts
  frontend/lib/i18n/locales/nl/status.json
  frontend/package.json
  frontend/scripts/gen_po.js
  frontend/scripts/gen_translation-json.js
Due: frontend-typescript, frontend-linter

refixes test after merging main into branch
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
Due: frontend-typescript, frontend-linter

Added text when there are no polling stations on status page and added test for it
  frontend/app/module/election/page/ElectionStatusPage.test.tsx
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/lib/i18n/i18n.types.ts
  frontend/lib/i18n/locales/nl.ts
Due: frontend-typescript, frontend-linter

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-typescript: any of: *.{ts,tsx} and ^frontend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
