Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: cargo run --package backend --bin gen-openapi && git add openapi.json
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-typescript:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npx tsc
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Update documentatie/gebruikersdocumentatie/verkiezingsproces-en-abacus.md
  documentatie/gebruikersdocumentatie/verkiezingsproces-en-abacus.md
Due: none

Apply suggestions from code review
  documentatie/gebruikersdocumentatie/verkiezingsproces-en-abacus.md
Due: none

added error component to ChoiceList
  frontend/lib/ui/CheckboxAndRadio/CheckboxAndRadio.module.css
  frontend/lib/ui/CheckboxAndRadio/ChoiceList.stories.tsx
  frontend/lib/ui/CheckboxAndRadio/ChoiceList.test.tsx
  frontend/lib/ui/CheckboxAndRadio/ChoiceList.tsx
Due: frontend-typescript, frontend-linter

Validate first and second data entries are equal
  backend/.sqlx/query-15ac64705d507ffd25ec8b49bb2a1ce90623a167ead81fcacaff7867b4d60f20.json
  backend/.sqlx/query-1b13ff347b8146fda831c83cd44fde658275f07640c1463618832fee473341a2.json
  backend/.sqlx/query-9e3859eca2b1a31c7ecb04aa848319b4e41282adfdf0c7c45a6b22de5860c381.json
  backend/.sqlx/query-bff05f19454d422ab39385fcfd307d9d2cbc1e301e2587f582b8c16632c5cf78.json
  backend/.sqlx/query-e870d9bc2ea8fb45b96645bc9c488d55bb238eca88c36e7935880a66dff2be85.json
  backend/openapi.json
  backend/src/data_entry/entry_number.rs
  backend/src/data_entry/mod.rs
  backend/src/data_entry/repository.rs
  backend/src/polling_station/repository.rs
  backend/src/polling_station/structs.rs
  backend/tests/election_integration_test.rs
  frontend/lib/api/gen/openapi.ts
  frontend/lib/i18n/locales/nl/data_entry.json
  frontend/lib/ui/Badge/Badge.e2e.ts
  frontend/lib/ui/Badge/Badge.module.css
  frontend/lib/ui/Badge/Badge.stories.tsx
  frontend/lib/ui/Badge/Badge.tsx
  frontend/lib/ui/style/variables.css
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Add 'different' status to election status page
  frontend/app/module/election/page/ElectionStatusPage.test.tsx
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/lib/i18n/locales/nl/status.json
Due: frontend-typescript, frontend-linter

Added state machine design and one transition
  backend/migrations/2_polling_stations.sql
  backend/migrations/5_polling_station_status_entries.sql
  backend/openapi.json
  backend/src/data_entry/mod.rs
  backend/src/election/mod.rs
  backend/src/error.rs
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
  backend/src/polling_station/status.rs
  backend/src/polling_station/structs.rs
  backend/tests/election_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Now joining data from data entries in status selects
  backend/.sqlx/query-00bab29ee79c3368bd94ab0fdc79cf4516b56ce8e641c5e3c0d1f3f7bd7eae63.json
  backend/.sqlx/query-02e63f0e0faaab5750b4f8c0e14ba2bbd361005617503093ad7a9bed6dcbdfac.json
  backend/.sqlx/query-1686d44af659b8e5e59ba88b49bf75316c4ac561786a21d039a18828a620e519.json
  backend/.sqlx/query-2cd25d799cfdb164bfb6ba28a14a17050a1fe1e9e419c5076e7e626a82ea7769.json
  backend/.sqlx/query-3bf3e099d7bc4086cc66115e25b6ae81cb213822f69a6fe1a04cda7cdde40b7e.json
  backend/.sqlx/query-3f25e0747a40ac1a825722549cdf8b319d7eb13e4283bd257197421ae3ed3997.json
  backend/.sqlx/query-41c5784ae5ea6a169bf2a2e5ee722a78bdbcdb2a2ae5999a2d8d70f9cb64e372.json
  backend/.sqlx/query-54090c6e48184f53333337402e420a5e1869df3c942949b3846d1f930bfaad70.json
  backend/.sqlx/query-5c2d31f4f0501a1c54b4efc0086c0de5d992146e4425edc13dbd805fa226d87d.json
  backend/.sqlx/query-657c1f48fa6b84d0b1e636648ffe08faab2e874491c5ecaf629c3a46dff6c8c3.json
  backend/.sqlx/query-69cddf1e4ddcf50c954043e14734c8689a5b6a016fce8e3dfd1e736d5b4db2e2.json
  backend/.sqlx/query-6a00e6137189ea2154679c5b16f6377a1130a41f479e32e2039c671caaa4c804.json
  backend/.sqlx/query-78182bfa60730f5a0d5f02a46b5c278e5dc268f6f8beebb2fe7397cbccbb1388.json
  backend/.sqlx/query-7f8236bc8562684bd372060c85ba9990460814755aaba03e367e32d32afe339e.json
  backend/.sqlx/query-868e3d8deb20b4652cb7155b07ffe9d940cbbc6e48796b8697108db7726a2063.json
  backend/.sqlx/query-b944439f84db91932045d96930281bc076b4e1ccd3bf211a89fad53892249395.json
  backend/.sqlx/query-bff05f19454d422ab39385fcfd307d9d2cbc1e301e2587f582b8c16632c5cf78.json
  backend/.sqlx/query-c065edd9def62bf817c9b6c15ef5cd83a1bbfd2299f9e7b3f5a39a4556a32c0d.json
  backend/.sqlx/query-caf2c17768a946bdfcc1ea81699c03c397fd98dc2c9ddd659706551676ce8cda.json
  backend/.sqlx/query-d310391af7ddd380045db7fd80e54f499a9c75a99e336742f1c33a0bcca78c46.json
  backend/.sqlx/query-d44673acd6f4030907246abb1cb06bc7c74eb974e34046039ce0ff05892d253e.json
  backend/.sqlx/query-ea78207f538b5f72cd2d42b0d071d0c89e38a7dc0befc2da28abf2cc35d4eac4.json
  backend/openapi.json
  backend/src/data_entry/mod.rs
  backend/src/polling_station/repository.rs
  backend/src/polling_station/status.rs
  backend/tests/election_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Edit polling station use cases (#687)
  documentatie/use-cases/GSB-gebruikersdoelen.md
  documentatie/use-cases/GSB-hoogover.md
Due: none

Add API endpoint to retrieve zip with xml and pdf combined (#730)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/openapi.json
  backend/src/election/mod.rs
  backend/src/error.rs
  backend/src/lib.rs
  backend/tests/election_integration_test.rs
  frontend/app/module/election/page/ElectionReportPage.tsx
  frontend/e2e-tests/dom-to-db-tests/pdf-rendering.e2e.ts
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Separate useKeyboard from Form component (#696)
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/component/form/polling_station/PollingStationForm.tsx
  frontend/lib/ui/Form/Form.stories.tsx
  frontend/lib/ui/Form/Form.test.tsx
  frontend/lib/ui/Form/Form.tsx
  frontend/lib/ui/Form/index.ts
  frontend/lib/ui/Form/useFormKeyboardNavigation.test.tsx
  frontend/lib/ui/Form/useFormKeyboardNavigation.ts
Due: frontend-typescript, frontend-linter

Update election report page to include download button for zip
  frontend/app/module/election/page/ElectionReportPage.test.tsx
  frontend/app/module/election/page/ElectionReportPage.tsx
  frontend/e2e-tests/dom-to-db-tests/zip-download.e2e.ts
  frontend/e2e-tests/page-objects/status/ElectionReportPgObj.ts
  frontend/lib/i18n/locales/nl/election_report.json
Due: frontend-typescript, frontend-linter

Simplify logic for ElectionReportPage, fix zip content-type
  frontend/app/module/election/page/ElectionReportPage.tsx
  frontend/e2e-tests/dom-to-db-tests/zip-download.e2e.ts
Due: frontend-typescript, frontend-linter

adds test for shift+up/down when there's a checkbox
  frontend/lib/ui/Form/useFormKeyboardNavigation.test.tsx
Due: frontend-typescript, frontend-linter

Update election report page to include download button for zip (#733)
  frontend/app/module/election/page/ElectionReportPage.test.tsx
  frontend/app/module/election/page/ElectionReportPage.tsx
  frontend/e2e-tests/dom-to-db-tests/zip-download.e2e.ts
  frontend/e2e-tests/page-objects/status/ElectionReportPgObj.ts
  frontend/lib/i18n/locales/nl/election_report.json
Due: frontend-typescript, frontend-linter

Updated state machine diagram
  documentatie/flowcharts/polling-station-state.md
Due: none

add test for shift+up/down when there's a checkbox (#746)
  frontend/lib/ui/Form/useFormKeyboardNavigation.test.tsx
Due: frontend-typescript, frontend-linter

Moved formatDateTime to util and added tests
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/lib/util/format.test.ts
  frontend/lib/util/format.ts
Due: frontend-typescript, frontend-linter

WIP merging tables
  backend/.sqlx/query-00bab29ee79c3368bd94ab0fdc79cf4516b56ce8e641c5e3c0d1f3f7bd7eae63.json
  backend/.sqlx/query-01ca38a9adfc916454801e682a5409de8dfdd83d2be55e55f42a2d6596cc4e1b.json
  backend/.sqlx/query-02e63f0e0faaab5750b4f8c0e14ba2bbd361005617503093ad7a9bed6dcbdfac.json
  backend/.sqlx/query-1686d44af659b8e5e59ba88b49bf75316c4ac561786a21d039a18828a620e519.json
  backend/.sqlx/query-2cd25d799cfdb164bfb6ba28a14a17050a1fe1e9e419c5076e7e626a82ea7769.json
  backend/.sqlx/query-3bf3e099d7bc4086cc66115e25b6ae81cb213822f69a6fe1a04cda7cdde40b7e.json
  backend/.sqlx/query-3f25e0747a40ac1a825722549cdf8b319d7eb13e4283bd257197421ae3ed3997.json
  backend/.sqlx/query-41c5784ae5ea6a169bf2a2e5ee722a78bdbcdb2a2ae5999a2d8d70f9cb64e372.json
  backend/.sqlx/query-54090c6e48184f53333337402e420a5e1869df3c942949b3846d1f930bfaad70.json
  backend/.sqlx/query-5c2d31f4f0501a1c54b4efc0086c0de5d992146e4425edc13dbd805fa226d87d.json
  backend/.sqlx/query-657c1f48fa6b84d0b1e636648ffe08faab2e874491c5ecaf629c3a46dff6c8c3.json
  backend/.sqlx/query-69cddf1e4ddcf50c954043e14734c8689a5b6a016fce8e3dfd1e736d5b4db2e2.json
  backend/.sqlx/query-6a00e6137189ea2154679c5b16f6377a1130a41f479e32e2039c671caaa4c804.json
  backend/.sqlx/query-7161b93db1e61206d8ea307bd7d63f54b5b4107bc54ff23ed67bb8e7fc939d50.json
  backend/.sqlx/query-78182bfa60730f5a0d5f02a46b5c278e5dc268f6f8beebb2fe7397cbccbb1388.json
  backend/.sqlx/query-7f8236bc8562684bd372060c85ba9990460814755aaba03e367e32d32afe339e.json
  backend/.sqlx/query-868e3d8deb20b4652cb7155b07ffe9d940cbbc6e48796b8697108db7726a2063.json
  backend/.sqlx/query-a1d29a1ba84337a62fafc5835b7bc5d231dd4b5b4e680d5729a953b92f63b024.json
  backend/.sqlx/query-b944439f84db91932045d96930281bc076b4e1ccd3bf211a89fad53892249395.json
  backend/.sqlx/query-bee8a9333ab4ee92da0ff5f09296d2842b81a4abc923654877cf93a4d3ddc2db.json
  backend/.sqlx/query-bff05f19454d422ab39385fcfd307d9d2cbc1e301e2587f582b8c16632c5cf78.json
  backend/.sqlx/query-c065edd9def62bf817c9b6c15ef5cd83a1bbfd2299f9e7b3f5a39a4556a32c0d.json
  backend/.sqlx/query-caf2c17768a946bdfcc1ea81699c03c397fd98dc2c9ddd659706551676ce8cda.json
  backend/.sqlx/query-d310391af7ddd380045db7fd80e54f499a9c75a99e336742f1c33a0bcca78c46.json
  backend/.sqlx/query-d44673acd6f4030907246abb1cb06bc7c74eb974e34046039ce0ff05892d253e.json
  backend/.sqlx/query-ea78207f538b5f72cd2d42b0d071d0c89e38a7dc0befc2da28abf2cc35d4eac4.json
  backend/migrations/3_polling_station_data_entries.sql
  backend/migrations/5_polling_station_status_entries.sql
  backend/src/data_entry/mod.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/structs.rs
  backend/src/election/mod.rs
  backend/src/polling_station/repository.rs
  backend/src/polling_station/status.rs
  backend/tests/election_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

groups use cases per high-level activity instead of per level
  documentatie/use-cases/GSB-gebruikersdoelen.md
  documentatie/use-cases/GSB-hoogover.md
  documentatie/use-cases/GSB-subfuncties.md
  documentatie/use-cases/Installatie-en-inrichting-applicatie.md
  documentatie/use-cases/Invoer-eerste-zitting.md
  documentatie/use-cases/Invoer-tweede-zitting.md
  documentatie/use-cases/Validatieregels-plausibiliteitschecks-tellingen.md
  documentatie/use-cases/uiterste-use-cases.md
Due: none

Processed Marks review
  frontend/lib/util/format.test.ts
Due: frontend-typescript, frontend-linter

adds line about status overview coorindator
  documentatie/use-cases/Installatie-en-inrichting-applicatie.md
  documentatie/use-cases/Invoer-eerste-zitting.md
Due: none

Jetbrains spellcheck changes and text consistency improvements
  documentatie/use-cases/Installatie-en-inrichting-applicatie.md
  documentatie/use-cases/Invoer-eerste-zitting.md
  documentatie/use-cases/Invoer-tweede-zitting.md
  documentatie/use-cases/README-use-cases.md
  documentatie/use-cases/Validatieregels-plausibiliteitschecks-tellingen.md
  documentatie/use-cases/template-use-case.md
  documentatie/use-cases/uiterste-use-cases.md
Due: none

Suggestion for showing first entry finished and first and second entry finished progress bars to typists
  frontend/app/component/election/ElectionProgress.tsx
  frontend/lib/i18n/locales/nl/generic.json
Due: frontend-typescript, frontend-linter

Updated test
  frontend/app/component/election/ElectionProgress.test.tsx
  frontend/app/component/election/ElectionProgress.tsx
Due: frontend-typescript, frontend-linter

Add 'today' or weekday or date to finished at in status overview tables (#732)
  frontend/app/module/election/page/ElectionStatusPage.test.tsx
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/util/format.test.ts
  frontend/lib/util/format.ts
Due: frontend-typescript, frontend-linter

adds level at the end of each use case's name
  documentatie/use-cases/Installatie-en-inrichting-applicatie.md
  documentatie/use-cases/Invoer-eerste-zitting.md
  documentatie/use-cases/Invoer-tweede-zitting.md
  documentatie/use-cases/uiterste-use-cases.md
Due: none

Implemented state machine transitions
  backend/.sqlx/query-00bab29ee79c3368bd94ab0fdc79cf4516b56ce8e641c5e3c0d1f3f7bd7eae63.json
  backend/.sqlx/query-01ca38a9adfc916454801e682a5409de8dfdd83d2be55e55f42a2d6596cc4e1b.json
  backend/.sqlx/query-02e63f0e0faaab5750b4f8c0e14ba2bbd361005617503093ad7a9bed6dcbdfac.json
  backend/.sqlx/query-41c5784ae5ea6a169bf2a2e5ee722a78bdbcdb2a2ae5999a2d8d70f9cb64e372.json
  backend/.sqlx/query-5c2d31f4f0501a1c54b4efc0086c0de5d992146e4425edc13dbd805fa226d87d.json
  backend/.sqlx/query-657c1f48fa6b84d0b1e636648ffe08faab2e874491c5ecaf629c3a46dff6c8c3.json
  backend/.sqlx/query-7161b93db1e61206d8ea307bd7d63f54b5b4107bc54ff23ed67bb8e7fc939d50.json
  backend/.sqlx/query-78182bfa60730f5a0d5f02a46b5c278e5dc268f6f8beebb2fe7397cbccbb1388.json
  backend/.sqlx/query-a1d29a1ba84337a62fafc5835b7bc5d231dd4b5b4e680d5729a953b92f63b024.json
  backend/.sqlx/query-bee8a9333ab4ee92da0ff5f09296d2842b81a4abc923654877cf93a4d3ddc2db.json
  backend/.sqlx/query-bff05f19454d422ab39385fcfd307d9d2cbc1e301e2587f582b8c16632c5cf78.json
  backend/.sqlx/query-c065edd9def62bf817c9b6c15ef5cd83a1bbfd2299f9e7b3f5a39a4556a32c0d.json
  backend/migrations/3_polling_station_data_entries.sql
  backend/openapi.json
  backend/src/data_entry/mod.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/structs.rs
  backend/src/election/mod.rs
  backend/src/lib.rs
  backend/src/polling_station/repository.rs
  backend/src/polling_station/status.rs
  backend/tests/shared.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Implemented finalise endpoint
  backend/.sqlx/query-02e63f0e0faaab5750b4f8c0e14ba2bbd361005617503093ad7a9bed6dcbdfac.json
  backend/.sqlx/query-1686d44af659b8e5e59ba88b49bf75316c4ac561786a21d039a18828a620e519.json
  backend/.sqlx/query-2cd25d799cfdb164bfb6ba28a14a17050a1fe1e9e419c5076e7e626a82ea7769.json
  backend/.sqlx/query-3bf3e099d7bc4086cc66115e25b6ae81cb213822f69a6fe1a04cda7cdde40b7e.json
  backend/.sqlx/query-3f25e0747a40ac1a825722549cdf8b319d7eb13e4283bd257197421ae3ed3997.json
  backend/.sqlx/query-54090c6e48184f53333337402e420a5e1869df3c942949b3846d1f930bfaad70.json
  backend/.sqlx/query-69cddf1e4ddcf50c954043e14734c8689a5b6a016fce8e3dfd1e736d5b4db2e2.json
  backend/.sqlx/query-6a00e6137189ea2154679c5b16f6377a1130a41f479e32e2039c671caaa4c804.json
  backend/.sqlx/query-7f8236bc8562684bd372060c85ba9990460814755aaba03e367e32d32afe339e.json
  backend/.sqlx/query-868e3d8deb20b4652cb7155b07ffe9d940cbbc6e48796b8697108db7726a2063.json
  backend/.sqlx/query-b944439f84db91932045d96930281bc076b4e1ccd3bf211a89fad53892249395.json
  backend/.sqlx/query-caf2c17768a946bdfcc1ea81699c03c397fd98dc2c9ddd659706551676ce8cda.json
  backend/.sqlx/query-d310391af7ddd380045db7fd80e54f499a9c75a99e336742f1c33a0bcca78c46.json
  backend/.sqlx/query-d44673acd6f4030907246abb1cb06bc7c74eb974e34046039ce0ff05892d253e.json
  backend/.sqlx/query-ea78207f538b5f72cd2d42b0d071d0c89e38a7dc0befc2da28abf2cc35d4eac4.json
  backend/migrations/3_polling_station_data_entries.sql
  backend/src/data_entry/mod.rs
  backend/src/data_entry/repository.rs
  backend/src/election/mod.rs
  backend/src/polling_station/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Reorganise data entry validation code (#740)
  backend/src/data_entry/mod.rs
  backend/src/data_entry/structs.rs
  backend/src/data_entry/validation.rs
  backend/src/lib.rs
  backend/src/summary/mod.rs
  backend/src/validation.rs
  backend/tests/data_entries_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Removed polling station results table
  backend/.sqlx/query-02e63f0e0faaab5750b4f8c0e14ba2bbd361005617503093ad7a9bed6dcbdfac.json
  backend/.sqlx/query-058058b866dd0bd6cf3876167af39caf4f82b0627d4a9e47cdb0d95d9c1bc4a6.json
  backend/.sqlx/query-1686d44af659b8e5e59ba88b49bf75316c4ac561786a21d039a18828a620e519.json
  backend/.sqlx/query-38ad9ce4edbf3d961aa9528780811289558bd20474e5b3e5f5366adc7c729e10.json
  backend/.sqlx/query-3f25e0747a40ac1a825722549cdf8b319d7eb13e4283bd257197421ae3ed3997.json
  backend/.sqlx/query-43e465dddae2936c0873b62e2d100ea8eae1a3fee0831e5a02d8d08067258a7e.json
  backend/.sqlx/query-69cddf1e4ddcf50c954043e14734c8689a5b6a016fce8e3dfd1e736d5b4db2e2.json
  backend/.sqlx/query-6a00e6137189ea2154679c5b16f6377a1130a41f479e32e2039c671caaa4c804.json
  backend/.sqlx/query-7f8236bc8562684bd372060c85ba9990460814755aaba03e367e32d32afe339e.json
  backend/.sqlx/query-85f224840914db98eb614738943fb04305cf817ca9f94c15a03b6330887d4d4c.json
  backend/.sqlx/query-b944439f84db91932045d96930281bc076b4e1ccd3bf211a89fad53892249395.json
  backend/.sqlx/query-caf2c17768a946bdfcc1ea81699c03c397fd98dc2c9ddd659706551676ce8cda.json
  backend/.sqlx/query-d310391af7ddd380045db7fd80e54f499a9c75a99e336742f1c33a0bcca78c46.json
  backend/.sqlx/query-d44673acd6f4030907246abb1cb06bc7c74eb974e34046039ce0ff05892d253e.json
  backend/.sqlx/query-d7b71f41dac9d563ccbc24dbf99836dc7c0343ca1990d9c6d9d391eb951b03e7.json
  backend/.sqlx/query-ea78207f538b5f72cd2d42b0d071d0c89e38a7dc0befc2da28abf2cc35d4eac4.json
  backend/.sqlx/query-f77caf375e206ebbe511abd44f6401898c97d1df6cc1e6bf7ece2b45a2721006.json
  backend/migrations/4_polling_station_results.sql
  backend/src/data_entry/repository.rs
  backend/src/election/mod.rs
  backend/src/polling_station/repository.rs
  backend/src/polling_station/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Changed 'abort' to 'delete'
  backend/src/polling_station/status.rs
  documentatie/flowcharts/polling-station-state.md
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added impl comment to FirstSecondEntryNotEqual --> NotStarted: delete
  documentatie/flowcharts/polling-station-state.md
Due: none

Reverted removal of polling station results table
  backend/src/data_entry/repository.rs
  backend/src/election/mod.rs
  backend/src/polling_station/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

remove unknown
  frontend/lib/ui/Form/validation/form.util.ts
Due: frontend-typescript, frontend-linter

Adds a way to render an error message for ChoiceList (#744)
  frontend/lib/ui/CheckboxAndRadio/CheckboxAndRadio.module.css
  frontend/lib/ui/CheckboxAndRadio/ChoiceList.stories.tsx
  frontend/lib/ui/CheckboxAndRadio/ChoiceList.test.tsx
  frontend/lib/ui/CheckboxAndRadio/ChoiceList.tsx
Due: frontend-typescript, frontend-linter

WIP Planning 2025
  documentatie/functionaliteit/milestone-2024-12.md
  documentatie/functionaliteit/planning-2025.md
  documentatie/functionaliteit/versie-1.0-gr2026.md
Due: none

replaces hard-coded polling station with an api call fixture
  frontend/.eslintrc.cjs
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/fixtures.ts
  frontend/e2e-tests/dom-to-db-tests/test-data/PollingStationTestData.ts
  frontend/lib/ui/InputGrid/InputGrid.e2e.ts
Due: frontend-typescript, frontend-linter

Updated based on changed design
  frontend/app/component/election/ElectionProgress.test.tsx
  frontend/app/component/election/ElectionProgress.tsx
  frontend/lib/i18n/locales/nl/status.json
Due: frontend-typescript, frontend-linter
