Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: cargo run --package backend --bin gen-openapi && git add openapi.json
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-typescript:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npx tsc
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

document data exchanges with other systems (#894)
  documentatie/softwarearchitectuur/Gegevensuitwisseling-met-andere-systemen.md
Due: none

Change clearAllMocks() to restoreMocks (in config) and fix all failing tests because of restored mocks between tests
  frontend/app/component/pollingstation/PollingStationFormNavigation.test.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.test.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.test.tsx
  frontend/lib/test/setup.ts
  frontend/vite.config.ts
Due: frontend-typescript, frontend-linter

Fix typing of data passed to `fillDataEntry`
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/test-data/request-response-templates.ts
Due: frontend-typescript, frontend-linter

refactor d2d tests: fixtures, test data and helper functions (#897)
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/fixtures.ts
  frontend/e2e-tests/dom-to-db-tests/resume-data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/e2e-test-helpers.ts
  frontend/e2e-tests/page-objects/data_entry/AbortInputModalPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/DataEntryBasePgObj.ts
  frontend/e2e-tests/page-objects/data_entry/DifferencesPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/NavigationPanelPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/PollingStationChoicePgObj.ts
  frontend/e2e-tests/page-objects/data_entry/RecountedPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/UnsavedChangesModalPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/VotersAndVotesPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/index.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationFormPgObj.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationListEmptyPgObj.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationListPgObj.ts
  frontend/e2e-tests/page-objects/status/ElectionReportPgObj.ts
  frontend/e2e-tests/page-objects/status/ElectionStatusPgObj.ts
Due: frontend-typescript, frontend-linter

Added function for getting total seats to prevent duplication in tests
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

rename playwright tests: d2d to e2e, lib-ui to ladle
  .github/workflows/build-lint-test.yml
  .github/workflows/release.yml
  frontend/README.md
  frontend/e2e-tests/data-entry.e2e.ts
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/helpers-utils/e2e-test-helpers.ts
  frontend/e2e-tests/helpers-utils/e2e-test-utils.ts
  frontend/e2e-tests/pdf-rendering.e2e.ts
  frontend/e2e-tests/polling-station-crud.e2e.ts
  frontend/e2e-tests/resume-data-entry.e2e.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/zip-download.e2e.ts
  frontend/package.json
  frontend/playwright.e2e.config.ts
  frontend/playwright.ladle.config.ts
  frontend/tsconfig.json
Due: frontend-typescript, frontend-linter

Remove scroll behaviour style from `reset.css`
  frontend/lib/ui/style/reset.css
Due: none

updates a missed 'DOM to Database'
  .github/workflows/release.yml
Due: none

Update to Vitest 3 (#885)
  frontend/app/component/pollingstation/PollingStationFormNavigation.test.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.test.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.test.tsx
  frontend/lib/api/ApiClient.test.ts
  frontend/lib/test/setup.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Due: frontend-typescript, frontend-linter

Remove scroll behaviour style from `reset.css` (#901)
  frontend/lib/ui/style/reset.css
Due: none

consolidated test imports and updated some comments
  backend/openapi.json
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Regenerated openapi.ts
  frontend/lib/api/gen/openapi.ts
Due: frontend-typescript, frontend-linter

rename playwright tests: d2d to e2e, lib-ui to ladle (#900)
  .github/workflows/build-lint-test.yml
  .github/workflows/release.yml
  frontend/README.md
  frontend/e2e-tests/data-entry.e2e.ts
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/helpers-utils/e2e-test-helpers.ts
  frontend/e2e-tests/helpers-utils/e2e-test-utils.ts
  frontend/e2e-tests/pdf-rendering.e2e.ts
  frontend/e2e-tests/polling-station-crud.e2e.ts
  frontend/e2e-tests/resume-data-entry.e2e.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/zip-download.e2e.ts
  frontend/package.json
  frontend/playwright.e2e.config.ts
  frontend/playwright.ladle.config.ts
  frontend/tsconfig.json
Due: frontend-typescript, frontend-linter

Upgrade to Vite 6
  frontend/package-lock.json
  frontend/package.json
Due: none

Remove unused dependency `vite-plugin-html`
  frontend/package-lock.json
  frontend/package.json
Due: none

Remove unused dependency `lint-staged`
  frontend/package-lock.json
  frontend/package.json
Due: none

Remove unused dependency `postcss-pseudo-classes`
  frontend/package-lock.json
  frontend/package.json
Due: none

Use relative paths for static assets
  frontend/index.html
  frontend/lib/ui/style/variables.css
Due: none

Removed unused asset `hex.svg`
  frontend/static/icon/hex.svg
Due: none

Use relative paths for static assets (#904)
  frontend/index.html
  frontend/lib/ui/style/variables.css
  frontend/static/icon/hex.svg
Due: none

Upgrade to Vite 6 and remove unused dependencies (#903)
  frontend/package-lock.json
  frontend/package.json
Due: none

Apply suggestions from code review
  documentatie/gebruikersdocumentatie/installeren-en-starten.md
Due: none

Wijzigingen nav comments
  documentatie/gebruikersdocumentatie/img/build-artifact-1.jpg
  documentatie/gebruikersdocumentatie/img/build-artifact-1.png
  documentatie/gebruikersdocumentatie/img/build-artifact-2.png
  documentatie/gebruikersdocumentatie/installeren-en-starten.md
Due: none

Add some more documentation, use u64 for votes_cast
  backend/openapi.json
  backend/src/apportionment/mod.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Only show pg numbers in debug statements
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Call login api endpoint, add auth dev endpoints
  backend/fixtures/reset.sql
  backend/migrations/5_users.sql
  backend/src/authentication/mod.rs
  backend/src/fixtures.rs
  backend/src/lib.rs
  frontend/app/component/error/ErrorModal.test.tsx
  frontend/app/component/error/ErrorModal.tsx
  frontend/app/component/form/user/login/LoginForm.test.tsx
  frontend/app/component/form/user/login/LoginForm.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.test.tsx
  frontend/app/module/data_entry/polling_station/PollingStation.test.tsx
  frontend/e2e-tests/authentication.e2e.ts
  frontend/lib/api/ApiError.ts
  frontend/lib/test/server.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Return final and intermediate apportionment steps (#895)
  backend/openapi.json
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/mod.rs
  backend/src/election/structs.rs
  backend/src/lib.rs
  frontend/lib/api/gen/openapi.ts
  frontend/scripts/openapi/generator.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Rename backend to abacus
  backend/Cargo.lock
  backend/Cargo.toml
  backend/openapi.json
  backend/src/bin/abacus.rs
  backend/src/bin/gen-openapi.rs
  backend/src/eml/util.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
  backend/tests/utils/mod.rs
  lefthook.yml
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added apportionment endpoint for election returning apportionment and election summary
  backend/openapi.json
  backend/src/apportionment/api.rs
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/mod.rs
  backend/src/error.rs
  backend/src/lib.rs
  backend/src/summary/mod.rs
  frontend/lib/api/gen/openapi.ts
  frontend/lib/i18n/locales/nl/error.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Added extra party to election fixtures 2 and 3 to allow more realistic scenarios
  backend/fixtures/election_2.sql
  backend/fixtures/election_3.sql
  backend/src/apportionment/api.rs
  backend/src/apportionment/mod.rs
  backend/src/data_entry/mod.rs
  backend/src/summary/mod.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update Sigrid scope file
  sigrid.yaml
Due: none

Update frontend/e2e-tests/authentication.e2e.ts
  frontend/e2e-tests/authentication.e2e.ts
Due: frontend-typescript, frontend-linter

Update backend/src/bin/abacus.rs
  backend/src/bin/abacus.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Revert "Update backend/src/bin/abacus.rs"
  backend/src/bin/abacus.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Improved imports and comments
  backend/openapi.json
  backend/src/apportionment/api.rs
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/mod.rs
  backend/tests/apportionment_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Rename backend to abacus (#909)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/openapi.json
  backend/src/bin/abacus.rs
  backend/src/bin/gen-openapi.rs
  backend/src/eml/util.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
  backend/tests/utils/mod.rs
  lefthook.yml
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update Sigrid scope file (#910)
  sigrid.yaml
Due: none

Fixed #911
  frontend/app/component/election/status/ElectionStatus.stories.tsx
  frontend/app/component/election/status/ElectionStatus.test.tsx
  frontend/app/component/election/status/ElectionStatus.tsx
Due: frontend-typescript, frontend-linter

Added missing test line
  frontend/app/component/election/status/ElectionStatus.test.tsx
Due: frontend-typescript, frontend-linter

Create frontend-structuur.md with current folder structure of the frontend and a short description per significant folder
  documentatie/softwarearchitectuur/frontend-structuur.md
Due: none
