Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite &&
        cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets &&
        git add .sqlx &&
        rm sqlx-cache-tmp.sqlite
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi &&
        git add openapi.json &&
        cd ../frontend &&
        pnpm gen:openapi &&
        git add src/types/generated/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: pnpm format --staged --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-biome:
      root: "frontend/"
      run: pnpm lint:biome --write --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-tsc:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:tsc
    frontend-lint-eslint:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:eslint

Added a button into ProgressList Item instead of adding onClick directly on the li
  frontend/src/components/ui/ProgressList/ProgressList.module.css
  frontend/src/components/ui/ProgressList/ProgressList.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/utils/utils.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Configure Sigrid CI security feedback (#3348)
  .github/workflows/sigrid-pr-feedback.yml
  .github/workflows/sigrid-publish.yml
Due: none

fix CSB test data generator (#3347)
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed focus width issue on ProgressList Item with button
  frontend/src/components/ui/ProgressList/ProgressList.module.css
Due: none

AuthorizationGuard fix, remove /account (#3302)
  frontend/src/app/AuthorizationGuard.tsx
  frontend/src/app/routes.tsx
  frontend/src/features/account/components/UserHomePage.tsx
  frontend/src/features/account/routes.tsx
  frontend/src/features/investigations/routes.ts
  frontend/src/react-router.d.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Use TEST-NET IPv4 address (#3322)
  backend/src/api/audit.rs
  backend/src/api/middleware/authentication/middleware.rs
  backend/src/api/middleware/authentication/mod.rs
  backend/src/infra/audit_log/service.rs
  backend/src/lib.rs
  backend/src/service/change_committee_session_status.rs
  backend/src/test_support.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Frontend: Add deceased candidates flow (#3303)
  frontend/e2e-tests/page-objects/apportionment/IncludeAllCandidatesPgObj.ts
  frontend/e2e-tests/tests/full-flow-CSB.e2e.ts
  frontend/src/components/ui/Button/Button.module.css
  frontend/src/components/ui/CandidateList/CandidateList.stories.tsx
  frontend/src/components/ui/CandidateList/CandidateList.tsx
  frontend/src/components/ui/ProgressList/ProgressList.module.css
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/ApportionmentProvider.tsx
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidates.module.css
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.tsx
  frontend/src/features/apportionment/components/deceased_candidates/IncludeAllCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/IncludeAllCandidatesPage.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/hooks/ApportionmentProviderContext.tsx
  frontend/src/features/apportionment/routes.tsx
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/utils/utils.tsx
  frontend/src/features/election_management/components/report/CSBElectionReportSection.test.tsx
  frontend/src/features/election_management/components/report/CSBElectionReportSection.tsx
  frontend/src/hooks/apportionment/useApportionmentStateRequest.ts
  frontend/src/i18n/locales/nl/apportionment.json
  frontend/src/i18n/locales/nl/candidate.json
  frontend/src/styles/typography.css
  frontend/src/styles/util.css
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Fix one incorrect number in a P22-2 input
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
Due: none

CSB Files check apportionment state
  backend/openapi.json
  backend/src/api/report/files.rs
  backend/src/api/report/handlers.rs
  backend/src/api/report/mod.rs
  backend/src/domain/apportionment_state.rs
  backend/src/error.rs
  frontend/src/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Move committee category check to handlers
  backend/src/api/apportionment/handlers/add_deceased_candidate.rs
  backend/src/api/apportionment/handlers/delete_deceased_candidate.rs
  backend/src/api/apportionment/handlers/finalise_deceased_candidates.rs
  backend/src/api/apportionment/handlers/register_deceased_candidates.rs
  backend/src/api/apportionment/handlers/reset.rs
  backend/src/api/apportionment/handlers/skip_deceased_candidates.rs
  backend/src/service/apportionment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Reset apportionment state when resuming data entry
  backend/src/service/change_committee_session_status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix integration tests
  backend/src/api/report/mod.rs
  backend/tests/report_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Assert type of error returned in test_error_get_files_csb_election_not_in_valid_state
  backend/src/api/report/files.rs
  backend/src/api/report/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Rename reset endpoint to reset_apportionment_state
  backend/openapi.json
  backend/src/api/apportionment/handlers/mod.rs
  backend/src/api/apportionment/handlers/reset_apportionment_state.rs
  backend/src/api/apportionment/mod.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Use TEST_IP_V4_ADDR in AuditService mock
  backend/src/service/change_committee_session_status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add apportionment state checks and reset on resume data entry (#3339)
  backend/openapi.json
  backend/src/api/apportionment/handlers/add_deceased_candidate.rs
  backend/src/api/apportionment/handlers/delete_deceased_candidate.rs
  backend/src/api/apportionment/handlers/finalise_deceased_candidates.rs
  backend/src/api/apportionment/handlers/mod.rs
  backend/src/api/apportionment/handlers/register_deceased_candidates.rs
  backend/src/api/apportionment/handlers/reset_apportionment_state.rs
  backend/src/api/apportionment/handlers/skip_deceased_candidates.rs
  backend/src/api/apportionment/mod.rs
  backend/src/api/report/files.rs
  backend/src/api/report/handlers.rs
  backend/src/api/report/mod.rs
  backend/src/api/report/structs.rs
  backend/src/domain/apportionment_state.rs
  backend/src/error.rs
  backend/src/service/apportionment.rs
  backend/src/service/change_committee_session_status.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/tests/report_integration_test.rs
  backend/tests/shared/mod.rs
  frontend/src/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Fixed number of voters in "Kengetallen" table, needs to be taken from ElectionSummary
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/ElectionSummaryTable.stories.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Make DeceasedCandidatesPage available for state Finalised, change state when deleting or adding deceased candidates
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/ElectionSummaryTable.stories.tsx
  frontend/src/features/apportionment/components/ElectionSummaryTable.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Made sure DeceasedCandidatesPage has a read-only version, added reset button as well
  backend/src/domain/apportionment_state.rs
  frontend/src/components/ui/Button/Button.module.css
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidates.module.css
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.tsx
  frontend/src/features/apportionment/utils/utils.tsx
  frontend/src/i18n/locales/nl/apportionment.json
  frontend/src/testing/api-mocks/RequestHandlers.ts
  frontend/src/types/ui.ts
  frontend/src/utils/politicalGroups.test.ts
  frontend/src/utils/politicalGroups.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Added row about deceased candidates including link to DeceasedCandidatesPage to ElectionSummaryTable
  backend/src/domain/apportionment_state.rs
  frontend/src/features/apportionment/components/Apportionment.module.css
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/ElectionSummaryTable.stories.tsx
  frontend/src/features/apportionment/components/ElectionSummaryTable.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Changed usages of index into find on ApportionmentListDetailsPage
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Adjust to renamed RESET_APPORTIONMENT_STATE_REQUEST_PARAMS/PATH
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.tsx
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Added † to deceased candidates on list details page in TotalVotesPerCandidateSection
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithVotesTable.stories.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithVotesTable.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Added informational alert on list details with a deceased candidate
  frontend/src/features/apportionment/components/Apportionment.module.css
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithVotesTable.stories.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithVotesTable.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Implemented empty state of read-only version of DeceasedCandidatesPage
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Added reset apportionment button to apportionment finished alert that calls reset apportionment state endpoint
  frontend/src/features/apportionment/components/Apportionment.module.css
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

makes condition to skip case related to #3219 more specific
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

differential fuzzer: make condition to skip case related to #3219 more specific (#3351)
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Redirect to ApportionmentPage instead of throwing error if apportionment state not Finalised in CSBElectionReportSection
  frontend/src/features/election_management/components/report/CSBElectionReportSection.test.tsx
  frontend/src/features/election_management/components/report/CSBElectionReportSection.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Improved ApportionmentListDetailsPage to remove noExcessiveLinesPerFunction ignore
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Add user logged in status to user table in backend
  backend/.sqlx/query-131bcd471e135b4566ef131526d9e4a70c2b3a38a1f0fcbb452f91dcef274d95.json
  backend/.sqlx/query-8b869f4c19c89486cf372a226b2253c864e35b59deec0fa1554714c68c204aca.json
  backend/.sqlx/query-a57ea8668e0cb9c90c7648d7fdee58aa30e80cab50d7131174af84f6ced8bfc1.json
  backend/.sqlx/query-ae84ef4ba7ae0d35352273efcc29ba9014554e7a4876cb3af38aa3e017923b72.json
  backend/.sqlx/query-cedbd3d814cfc310aa294eece50aa6c35e3a61a34ff0e6baa85a9d25b1cff6fb.json
  backend/.sqlx/query-eb71ae9063638c35fa3636a947f35ce0a8588c769abb3e27c32eaab4205242aa.json
  backend/migrations/11_alter_users.sql
  backend/openapi.json
  backend/src/api/authentication.rs
  backend/src/repository/user_repo.rs
  frontend/src/testing/api-mocks/UserMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Test user online status
  backend/src/api/middleware/authentication/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Improved error handling (#3)
  backend/src/infra/backup.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Wiring up the database backups (#4)
  backend/src/bin/abacus.rs
  backend/src/infra/backup.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update apportionment state machine diagram (#3343)
  documentatie/state-machines/apportionment-state-machine.drawio.svg
Due: none

Processed review comments
  frontend/src/components/ui/Button/Button.module.css
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.tsx
  frontend/src/types/ui.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Deceased candidates frontend alerts and table row (#3350)
  frontend/src/features/apportionment/components/Apportionment.module.css
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/ElectionSummaryTable.stories.tsx
  frontend/src/features/apportionment/components/ElectionSummaryTable.tsx
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidates.module.css
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithVotesTable.stories.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithVotesTable.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/features/apportionment/utils/utils.tsx
  frontend/src/features/election_management/components/report/CSBElectionReportSection.test.tsx
  frontend/src/features/election_management/components/report/CSBElectionReportSection.tsx
  frontend/src/i18n/locales/nl/apportionment.json
  frontend/src/testing/api-mocks/RequestHandlers.ts
  frontend/src/utils/politicalGroups.test.ts
  frontend/src/utils/politicalGroups.ts
Due: frontend-lint-tsc, frontend-lint-eslint

adds deceased_candidates to anonymity and population_monotonicity fuzzers
  backend/apportionment/fuzz/fuzz_targets/anonymity.rs
  backend/apportionment/fuzz/fuzz_targets/population_monotonicity.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add deceased_candidates to anonymity and population_monotonicity fuzzers (#3356)
  backend/apportionment/fuzz/fuzz_targets/anonymity.rs
  backend/apportionment/fuzz/fuzz_targets/population_monotonicity.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Run Clippy for fuzz targets in CI
  .github/workflows/build-lint-test.yml
Due: none
