Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi && 
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add lib/api/gen/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Update documentatie/use-cases/uiterste-use-cases.md
  documentatie/use-cases/uiterste-use-cases.md
Due: none

Change role radio queries in tests to use regexp
  frontend/app/module/users/create/UserCreateRolePage.test.tsx
Due: frontend-linter

uses 'digitale bestand' everywhere because we also use 'digitale spoor'
  documentatie/use-cases/gsb-genereren-bestanden.md
  documentatie/use-cases/uiterste-use-cases.md
Due: none

adds 'context' section to description of apportionment
  documentatie/verkiezingsproces/zetelverdeling-GR.md
Due: none

Fixed horizontal table scrolling and alignment of fractions in table cells
  frontend/app/component/apportionment/Apportionment.module.css
  frontend/app/component/apportionment/LargestAveragesFor19OrMoreSeatsTable.test.tsx
  frontend/app/component/apportionment/LargestAveragesFor19OrMoreSeatsTable.tsx
  frontend/app/component/apportionment/LargestAveragesForLessThan19SeatsTable.test.tsx
  frontend/app/component/apportionment/LargestAveragesForLessThan19SeatsTable.tsx
  frontend/app/component/apportionment/LargestSurplusesTable.test.tsx
  frontend/app/component/apportionment/LargestSurplusesTable.tsx
  frontend/app/component/apportionment/RestSeatsCalculationTable.tsx
  frontend/app/component/apportionment/WholeSeatsTable.tsx
  frontend/app/component/apportionment/test-data/less-than-19-seats.ts
  frontend/lib/ui/DisplayFraction/DisplayFraction.tsx
  frontend/lib/ui/Table/Table.module.css
  frontend/lib/ui/Table/Table.stories.tsx
  frontend/lib/ui/Table/Table.test.tsx
  frontend/lib/ui/Table/Table.tsx
  frontend/lib/ui/util/Fraction.tsx
  frontend/lib/ui/util/index.ts
  sigrid.yaml
Due: frontend-linter

Apply suggestions from code review
  documentatie/use-cases/gsb-genereren-bestanden.md
  documentatie/use-cases/uiterste-use-cases.md
Due: none

APIError should be from wrapped Database error for Authentication errors
  backend/src/error.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add more user integration tests
  backend/src/authentication/mod.rs
  backend/src/authentication/user.rs
  backend/tests/user_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

update use cases based on session 10Feb25 (#1017)
  documentatie/use-cases/csb-zetelverdeling-aanwijzing-kandidaten.md
  documentatie/use-cases/gsb-genereren-bestanden.md
  documentatie/use-cases/installeren-en-inrichten-applicatie.md
  documentatie/use-cases/invoer-eerste-zitting.md
  documentatie/use-cases/invoer-tweede-zitting.md
  documentatie/use-cases/uiterste-use-cases.md
  documentatie/use-cases/validatieregels-plausibiliteitschecks-tellingen.md
Due: none

Apply suggestions from code review
  documentatie/functionaliteit/versie-1.0-gr2026.md
Due: none

Added tests for ApportionmentPage and WholeSeatsPage
  frontend/app/component/apportionment/ApportionmentTable.tsx
  frontend/app/component/apportionment/ElectionSummaryTable.tsx
  frontend/app/component/apportionment/test-data/less-than-19-seats.ts
  frontend/app/component/navbar/NavBar.stories.tsx
  frontend/app/component/navbar/NavBar.test.tsx
  frontend/app/component/navbar/NavBarLinks.tsx
  frontend/app/module/apportionment/page/ApportionmentPage.test.tsx
  frontend/app/module/apportionment/page/ApportionmentPage.tsx
  frontend/app/module/apportionment/page/ApportionmentWholeSeatsPage.test.tsx
  frontend/app/module/apportionment/page/ApportionmentWholeSeatsPage.tsx
  frontend/app/routes.tsx
Due: frontend-linter

Added tests for RestSeatPage
  frontend/app/module/apportionment/page/ApportionmentPage.test.tsx
  frontend/app/module/apportionment/page/ApportionmentRestSeatsPage.test.tsx
  frontend/app/module/apportionment/page/ApportionmentWholeSeatsPage.test.tsx
Due: frontend-linter

Added test and update OpenAPI spec
  backend/src/authentication/user.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fixed apportionment for 0 votes and added tests
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added Kieswet articles to code and added TODO's to all other apportionment issues with article numbers
  backend/.sqlx/query-459b318b484c7b41f85e4caf12efbee9807f3dcf2809923ca4f95bf9a87bd4bf.json
  backend/.sqlx/query-7fd4b2b5bfa83df14cbb3de7167dea4c55cec019ddf68d11516035199d35d204.json
  backend/.sqlx/query-a6a64229313f6c4f73db5228d9b1e6affa161d64e9777749dc92eb6ba01dd7a6.json
  backend/.sqlx/query-d9937599b2e17553af906c80651c1b5c7e9c2b113297be8e35a7673a2e3ed0f0.json
  backend/openapi.json
  backend/src/apportionment/mod.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fixed padding of last HeaderCell and last cell in non LinkRows
  frontend/app/component/apportionment/Apportionment.module.css
  frontend/app/component/apportionment/ApportionmentTable.tsx
  frontend/lib/ui/Table/Table.module.css
Due: frontend-linter

Closes #973
  frontend/app/module/users/UserListPage.test.tsx
  frontend/lib/api-mocks/UserMockData.ts
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/util/format.test.ts
  frontend/lib/util/format.ts
Due: frontend-linter

Add user update endpoint (#1011)
  backend/.sqlx/query-0e35a83fbd9993d84dbfd315100d10eb8cf504d44cba4655467e8f8fe64830f5.json
  backend/.sqlx/query-28772ab9ee9a7b53b9c97e0bfc4b20ac1f50f42dca01adc54144cd61e29a7527.json
  backend/.sqlx/query-61b0e8a16b640ae07af52ebea821a1cece65697b55ce375676c2bd226c41ef41.json
  backend/.sqlx/query-898c7bfbde1fb9181831c984bf458953ba49715666e9ae3a571b3527d5cb0a63.json
  backend/.sqlx/query-b7be33a8aa30f23c0a7b70b4d3d60aedec56f615a337ae43298472f96f9f4799.json
  backend/.sqlx/query-bfed7c5d32b9ceb33d4b2593934d3a9f73326abc08ae42052c8e91480a6904df.json
  backend/.sqlx/query-e4eb622073cbdf868ec1568a6bdb132e962480b0530d542102c05aa9e901463b.json
  backend/.sqlx/query-ef802d3c7ac886b0e1b0578c21866cc533b41528468e3884dd0f396bec9ba6ec.json
  backend/migrations/5_users.sql
  backend/openapi.json
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/user.rs
  backend/src/lib.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fixed check for yesterday if it's a different month
  frontend/lib/util/format.ts
Due: frontend-linter

Added newtypes for passwords and impl TryFrom for validation
  backend/.sqlx/query-459b318b484c7b41f85e4caf12efbee9807f3dcf2809923ca4f95bf9a87bd4bf.json
  backend/.sqlx/query-7fd4b2b5bfa83df14cbb3de7167dea4c55cec019ddf68d11516035199d35d204.json
  backend/.sqlx/query-a6a64229313f6c4f73db5228d9b1e6affa161d64e9777749dc92eb6ba01dd7a6.json
  backend/.sqlx/query-d9937599b2e17553af906c80651c1b5c7e9c2b113297be8e35a7673a2e3ed0f0.json
  backend/src/authentication/password.rs
  backend/src/authentication/user.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix apportionment for 0 votes and add Kieswet articles to the code (#1034)
  backend/openapi.json
  backend/src/apportionment/mod.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Renamed css classes
  frontend/app/component/apportionment/Apportionment.module.css
  frontend/app/component/apportionment/ApportionmentTable.tsx
  frontend/app/component/apportionment/ElectionSummaryTable.tsx
  frontend/app/component/apportionment/LargestAveragesFor19OrMoreSeatsTable.tsx
  frontend/app/component/apportionment/LargestAveragesForLessThan19SeatsTable.tsx
  frontend/app/component/apportionment/LargestSurplusesTable.tsx
  frontend/app/component/apportionment/ResidualSeatsCalculationTable.tsx
  frontend/app/component/apportionment/WholeSeatsTable.tsx
  frontend/app/module/apportionment/page/Apportionment.module.css
  frontend/app/module/apportionment/page/ApportionmentPage.tsx
  frontend/app/module/apportionment/page/ApportionmentResidualSeatsPage.tsx
  frontend/app/module/apportionment/page/ApportionmentWholeSeatsPage.tsx
Due: frontend-linter

lijst met opties
  documentatie/functionaliteit/opties.md
Due: none

adds 'context' section to description of apportionment (#1032)
  documentatie/verkiezingsproces/zetelverdeling-GR.md
Due: none

limits download of artifacts to builds in release job
  .github/workflows/release.yml
Due: none

Remove font weight normal which is the default
  frontend/lib/ui/CheckboxAndRadio/CheckboxAndRadio.module.css
Due: none

Show yesterday instead of day of the week when the date is yesterday (#1035)
  frontend/app/module/users/UserListPage.test.tsx
  frontend/lib/api-mocks/UserMockData.ts
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/util/format.test.ts
  frontend/lib/util/format.ts
Due: frontend-linter

Radio/checkbox: Include description in label, set correct label styling (#1031)
  frontend/app/module/users/create/UserCreateRolePage.test.tsx
  frontend/lib/ui/CheckboxAndRadio/CheckboxAndRadio.module.css
  frontend/lib/ui/CheckboxAndRadio/CheckboxAndRadio.tsx
Due: frontend-linter

limit download of artifacts to builds in release job (#1042)
  .github/workflows/release.yml
Due: none

Renamed props and variables from snake_case to camelCase
  frontend/app/component/apportionment/ApportionmentTable.test.tsx
  frontend/app/component/apportionment/ApportionmentTable.tsx
  frontend/app/component/apportionment/ElectionSummaryTable.test.tsx
  frontend/app/component/apportionment/ElectionSummaryTable.tsx
  frontend/app/component/apportionment/LargestAveragesFor19OrMoreSeatsTable.test.tsx
  frontend/app/component/apportionment/LargestAveragesFor19OrMoreSeatsTable.tsx
  frontend/app/component/apportionment/LargestAveragesForLessThan19SeatsTable.test.tsx
  frontend/app/component/apportionment/LargestAveragesForLessThan19SeatsTable.tsx
  frontend/app/component/apportionment/LargestSurplusesTable.test.tsx
  frontend/app/component/apportionment/LargestSurplusesTable.tsx
  frontend/app/component/apportionment/ResidualSeatsCalculationTable.test.tsx
  frontend/app/component/apportionment/ResidualSeatsCalculationTable.tsx
  frontend/app/component/apportionment/WholeSeatsTable.test.tsx
  frontend/app/component/apportionment/WholeSeatsTable.tsx
  frontend/app/module/apportionment/page/ApportionmentPage.tsx
  frontend/app/module/apportionment/page/ApportionmentResidualSeatsPage.tsx
  frontend/app/module/apportionment/page/ApportionmentWholeSeatsPage.tsx
  frontend/lib/api/apportionment/ApportionmentProvider.tsx
  frontend/lib/api/apportionment/ApportionmentProviderContext.tsx
Due: frontend-linter

kleine aanpassingen
  documentatie/functionaliteit/versie-1.0-gr2026.md
Due: none

Simplified css of tables even more and added header cells to ResidualSeatsCalculationTable
  frontend/app/component/apportionment/Apportionment.module.css
  frontend/app/component/apportionment/ApportionmentTable.tsx
  frontend/app/component/apportionment/LargestAveragesFor19OrMoreSeatsTable.tsx
  frontend/app/component/apportionment/LargestAveragesForLessThan19SeatsTable.tsx
  frontend/app/component/apportionment/LargestSurplusesTable.tsx
  frontend/app/component/apportionment/ResidualSeatsCalculationTable.test.tsx
  frontend/app/component/apportionment/ResidualSeatsCalculationTable.tsx
  frontend/app/module/apportionment/page/ApportionmentWholeSeatsPage.test.tsx
  frontend/lib/ui/style/util.css
Due: frontend-linter

Renamed apiError to error in provider and hook
  frontend/lib/api/apportionment/ApportionmentProvider.tsx
  frontend/lib/api/apportionment/useApportionmentRequest.ts
Due: frontend-linter

Made text in header cells in election summary table not bold and removed top and bottom padding to allow for multi line political group numbers without row height increase
  frontend/app/component/apportionment/Apportionment.module.css
  frontend/app/component/apportionment/ElectionSummaryTable.tsx
Due: frontend-linter

WIP: minutes use cases session
  documentatie/use-cases/gsb-genereren-bestanden.md
  documentatie/use-cases/invoer-eerste-zitting.md
  documentatie/use-cases/uiterste-use-cases.md
Due: none

Added DisplayFractionCells where needed and improved its styling
  frontend/app/component/apportionment/Apportionment.module.css
  frontend/app/component/apportionment/LargestAveragesFor19OrMoreSeatsTable.tsx
  frontend/app/component/apportionment/LargestAveragesForLessThan19SeatsTable.tsx
  frontend/app/component/apportionment/LargestSurplusesTable.tsx
  frontend/lib/ui/DisplayFraction/DisplayFraction.module.css
  frontend/lib/ui/Table/Table.module.css
Due: frontend-linter

Added test that ensures throttle
  backend/tests/user_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

adds some additional notes
  documentatie/use-cases/uiterste-use-cases.md
Due: none

Fixed tests
  frontend/app/component/apportionment/LargestAveragesForLessThan19SeatsTable.test.tsx
  frontend/app/component/apportionment/LargestSurplusesTable.test.tsx
  frontend/app/module/apportionment/page/ApportionmentResidualSeatsPage.test.tsx
Due: frontend-linter

Update backend/tests/user_integration_test.rs
  backend/tests/user_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi
