Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi && 
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add lib/api/gen/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Add error reference for 'already claimed' (#1293)
  backend/openapi.json
  backend/src/error.rs
  frontend/src/api/gen/openapi.ts
  frontend/src/lib/i18n/locales/nl/error.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Add audit log events for all backend errors
  backend/src/apportionment/api.rs
  backend/src/audit_log/audit_event.rs
  backend/src/audit_log/error_logging.rs
  backend/src/audit_log/mod.rs
  backend/src/audit_log/service.rs
  backend/src/authentication/api.rs
  backend/src/data_entry/api.rs
  backend/src/election/mod.rs
  backend/src/error.rs
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  frontend/src/features/logs/components/LogDetailsModal.tsx
  frontend/src/features/logs/components/LogsTable.tsx
  frontend/src/lib/i18n/locales/nl/error.json
  frontend/src/lib/i18n/locales/nl/log.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Page to upload election definition (#1234)
  frontend/src/app/routes.tsx
  frontend/src/components/navbar/NavBar.test.tsx
  frontend/src/components/navbar/NavBarLinks.tsx
  frontend/src/components/ui/Button/Button.module.css
  frontend/src/components/ui/Button/Button.stories.tsx
  frontend/src/components/ui/Button/Button.tsx
  frontend/src/components/ui/FileInput/FileInput.module.css
  frontend/src/components/ui/FileInput/FileInput.stories.tsx
  frontend/src/components/ui/FileInput/FileInput.test.tsx
  frontend/src/components/ui/FileInput/FileInput.tsx
  frontend/src/components/ui/index.ts
  frontend/src/features/election_management/components/ElectionCreatePage.tsx
  frontend/src/features/election_management/components/index.ts
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/lib/i18n/locales/nl/election.json
  frontend/src/lib/i18n/locales/nl/generic.json
  frontend/src/lib/i18n/locales/nl/polling_station.json
Due: frontend-linter

Remove `FormSectionReference` from data entry
  frontend/src/components/form/data_entry/candidates_votes/useCandidateVotes.ts
  frontend/src/components/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/src/components/form/data_entry/differences/useDifferences.ts
  frontend/src/components/form/data_entry/recounted/useRecounted.ts
  frontend/src/components/form/data_entry/state/actions.ts
  frontend/src/components/form/data_entry/state/reducer.test.ts
  frontend/src/components/form/data_entry/state/reducer.ts
  frontend/src/components/form/data_entry/state/types.ts
  frontend/src/components/form/data_entry/state/useDataEntryContext.ts
  frontend/src/components/form/data_entry/state/useDataEntryFormSection.ts
  frontend/src/components/form/data_entry/voters_and_votes/useVotersAndVotes.ts
Due: frontend-linter

Add delete user audit event + sort translation keys
  backend/src/authentication/api.rs
  frontend/src/lib/i18n/locales/nl/log.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

improves use cases tweede zitting
  documentatie/use-cases/gsb-eerste-zitting.md
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
  documentatie/use-cases/gsb-invoer-tweede-zitting.md
  documentatie/use-cases/gsb-tweede-zitting.md
Due: none

adds open item about start date/time of zitting CSB
  documentatie/use-cases/csb-invoer-zitting.md
Due: none

Remove `FormSectionReference` from data entry (#1295)
  frontend/src/components/form/data_entry/candidates_votes/useCandidateVotes.ts
  frontend/src/components/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/src/components/form/data_entry/differences/useDifferences.ts
  frontend/src/components/form/data_entry/recounted/useRecounted.ts
  frontend/src/components/form/data_entry/state/actions.ts
  frontend/src/components/form/data_entry/state/reducer.test.ts
  frontend/src/components/form/data_entry/state/reducer.ts
  frontend/src/components/form/data_entry/state/types.ts
  frontend/src/components/form/data_entry/state/useDataEntryContext.ts
  frontend/src/components/form/data_entry/state/useDataEntryFormSection.ts
  frontend/src/components/form/data_entry/voters_and_votes/useVotersAndVotes.ts
Due: frontend-linter

Apply suggestions from code review
  documentatie/use-cases/gsb-tweede-zitting.md
Due: none

removes step of coordinator closing the session in the application
  documentatie/use-cases/csb-invoer-zitting.md
  documentatie/use-cases/gsb-eerste-zitting.md
  documentatie/use-cases/gsb-tweede-zitting.md
Due: none

Run PR+merge queue workflow on Linux only
  .github/workflows/build-lint-test.yml
Due: none

temp
  frontend/src/components/form/data_entry/state/DataEntryProvider.tsx
Due: frontend-linter

refactor enum
  frontend/src/components/form/data_entry/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/src/components/form/data_entry/polling_station_choice/PollingStationSelector.tsx
  frontend/src/components/form/data_entry/polling_station_choice/util.ts
Due: frontend-linter

adds ladle playwright test for closing Modal ui component
  frontend/src/components/ui/Modal/Modal.e2e.ts
  frontend/src/components/ui/Modal/Modal.stories.tsx
Due: frontend-linter

makes ladle run on its own port for playwright tests
  frontend/playwright.ladle.config.ts
Due: frontend-linter

Use cases 17 mar25 (#1208)
  documentatie/use-cases/csb-invoer-zitting.md
  documentatie/use-cases/csb-zitting.md
  documentatie/use-cases/gsb-eerste-zitting.md
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
  documentatie/use-cases/gsb-invoer-tweede-zitting.md
  documentatie/use-cases/gsb-tweede-zitting.md
  documentatie/use-cases/input-output-bestanden.md
Due: none

extends Modal e2e test so it opens the modal again
  frontend/src/components/ui/Modal/Modal.e2e.ts
Due: frontend-linter

Run PR+merge queue workflow on Linux only (#1297)
  .github/workflows/build-lint-test.yml
Due: none

Apply suggestions
  documentatie/softwarearchitectuur/Overzicht.md
Due: none

Use string types fields for audit details
  backend/openapi.json
  backend/src/audit_log/audit_event.rs
  backend/src/authentication/api.rs
  backend/src/authentication/role.rs
  backend/src/authentication/user.rs
  backend/src/data_entry/structs.rs
  backend/src/election/structs.rs
  backend/src/polling_station/structs.rs
  frontend/src/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Update frontend/src/components/ui/Modal/Modal.tsx
  frontend/src/components/ui/Modal/Modal.tsx
Due: frontend-linter

Types and type predicate functions for specific SeatChangeStep types
  frontend/src/features/apportionment/components/Apportionment.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesFor19OrMoreSeatsTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesFor19OrMoreSeatsTable.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesForLessThan19SeatsTable.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.tsx
  frontend/src/features/apportionment/testing/less-than-19-seats.ts
  frontend/src/features/apportionment/utils/seat-change.ts
Due: frontend-linter

Relative import within feature
  frontend/src/features/apportionment/components/Apportionment.stories.tsx
Due: frontend-linter

Make type and function names more consistent
  frontend/src/features/apportionment/components/Apportionment.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesFor19OrMoreSeatsTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesFor19OrMoreSeatsTable.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesForLessThan19SeatsTable.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.tsx
  frontend/src/features/apportionment/testing/less-than-19-seats.ts
  frontend/src/features/apportionment/utils/seat-change.ts
Due: frontend-linter

Update architecture diagrams (#1294)
  documentatie/softwarearchitectuur/Overzicht.md
  documentatie/softwarearchitectuur/diagrammen/component-backend.png
  documentatie/softwarearchitectuur/diagrammen/component-frontend.png
  documentatie/softwarearchitectuur/diagrammen/container.png
  documentatie/softwarearchitectuur/diagrammen/systeemlandschap.png
  documentatie/softwarearchitectuur/frontend-structuur.md
  documentatie/softwarearchitectuur/structurizr/.gitignore
  documentatie/softwarearchitectuur/structurizr/Components_EN.png
  documentatie/softwarearchitectuur/structurizr/Components_EN.svg
  documentatie/softwarearchitectuur/structurizr/Components_NL.svg
  documentatie/softwarearchitectuur/structurizr/Container_EN.png
  documentatie/softwarearchitectuur/structurizr/Container_EN.svg
  documentatie/softwarearchitectuur/structurizr/Container_NL.svg
  documentatie/softwarearchitectuur/structurizr/README.md
  documentatie/softwarearchitectuur/structurizr/SystemLandscape.svg
  documentatie/softwarearchitectuur/structurizr/workspace.dsl
  documentatie/softwarearchitectuur/structurizr/workspace.json
Due: none

Rename largestRemainderSteps and highestAverageSteps table props to steps
  frontend/src/features/apportionment/components/Apportionment.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesFor19OrMoreSeatsTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesFor19OrMoreSeatsTable.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesForLessThan19SeatsTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesForLessThan19SeatsTable.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.tsx
Due: frontend-linter

Types and type predicate functions for specific SeatChangeStep types (#1299)
  frontend/src/features/apportionment/components/Apportionment.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesFor19OrMoreSeatsTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesFor19OrMoreSeatsTable.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesForLessThan19SeatsTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesForLessThan19SeatsTable.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.tsx
  frontend/src/features/apportionment/testing/less-than-19-seats.ts
  frontend/src/features/apportionment/utils/seat-change.ts
Due: frontend-linter

Moved changes to logic for P 9 and P 10 combination to new branch so removing them here
  backend/src/apportionment/seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

WIP: minutes from meeting (additional minutes in #212,217,280)
  documentatie/use-cases/gsb-invoer-tweede-zitting.md
  documentatie/use-cases/gsb-tweede-zitting.md
Due: none

DifferencesTable to show rows that are different, ResolveDifferencesTables to show data entry differences within sections and political groups
  frontend/src/components/ui/Table/Table.tsx
  frontend/src/components/ui/style/util.css
  frontend/src/features/resolve_differences/components/DifferencesTable.test.tsx
  frontend/src/features/resolve_differences/components/DifferencesTable.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferences.module.css
  frontend/src/features/resolve_differences/components/ResolveDifferences.stories.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.tsx
  frontend/src/features/resolve_differences/testing/polling-station-results.ts
  frontend/src/features/resolve_differences/utils/dataEntry.ts
  frontend/src/lib/i18n/locales/nl/nl.ts
  frontend/src/lib/i18n/locales/nl/polling_station_results.json
  frontend/src/lib/i18n/locales/nl/resolve_differences.json
  frontend/src/testing/api-mocks/DataEntryMockData.ts
  frontend/src/testing/api-mocks/ElectionMockData.ts
Due: frontend-linter

Fixed last names with prefixes in fixtures and test data and adjusted P9 and P10 copy as requested by Joris
  backend/fixtures/election_1.sql
  backend/fixtures/election_4.sql
  backend/fixtures/election_5.sql
  frontend/src/components/ui/style/util.css
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ChosenCandidatesTable.test.tsx
  frontend/src/features/apportionment/components/ElectionSummaryTable.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesRankingTable.test.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithVotesTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/testing/19-or-more-seats.ts
  frontend/src/features/apportionment/testing/absolute-majority-change-and-list-exhaustion.ts
  frontend/src/features/apportionment/testing/less-than-19-seats.ts
  frontend/src/features/apportionment/utils/seat-change.ts
  frontend/src/lib/i18n/locales/nl/apportionment.json
Due: frontend-linter

Fixed test
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
Due: frontend-linter

processes notes made in the files
  documentatie/use-cases/gsb-invoer-tweede-zitting.md
  documentatie/use-cases/gsb-tweede-zitting.md
Due: none

DifferencesTable and ResolveDifferencesTables components (#1304)
  frontend/src/components/ui/Table/Table.tsx
  frontend/src/components/ui/style/util.css
  frontend/src/features/resolve_differences/components/DifferencesTable.test.tsx
  frontend/src/features/resolve_differences/components/DifferencesTable.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferences.module.css
  frontend/src/features/resolve_differences/components/ResolveDifferences.stories.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.tsx
  frontend/src/features/resolve_differences/testing/polling-station-results.ts
  frontend/src/features/resolve_differences/utils/dataEntry.ts
  frontend/src/lib/i18n/locales/nl/nl.ts
  frontend/src/lib/i18n/locales/nl/polling_station_results.json
  frontend/src/lib/i18n/locales/nl/resolve_differences.json
  frontend/src/testing/api-mocks/DataEntryMockData.ts
  frontend/src/testing/api-mocks/ElectionMockData.ts
Due: frontend-linter

small updates based on notes in issues
  documentatie/use-cases/csb-zitting.md
  documentatie/use-cases/gsb-eerste-zitting.md
  documentatie/use-cases/gsb-tweede-zitting.md
Due: none

Closes #1191
  frontend/src/features/account/components/AccountSetupForm.test.tsx
  frontend/src/features/account/components/AccountSetupForm.tsx
  frontend/src/features/account/components/AccountSetupPage.test.tsx
  frontend/src/features/account/components/AccountSetupPage.tsx
  frontend/src/features/account/components/LoginForm.test.tsx
  frontend/src/features/account/components/LoginForm.tsx
  frontend/src/features/account/components/LoginLayout.tsx
  frontend/src/features/account/components/LoginPage.test.tsx
  frontend/src/features/account/components/LoginPage.tsx
  frontend/src/features/account/components/UserHomePage.tsx
Due: frontend-linter

Closes #1196
  frontend/src/features/workstations/components/WorkstationsHomePage.tsx
Due: frontend-linter

Fixed Marks comment
  frontend/src/components/form/data_entry/polling_station_choice/PollingStationChoiceForm.tsx
Due: frontend-linter

Updated sigrid.yaml
  sigrid.yaml
Due: none
