Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite &&
        cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets &&
        git add .sqlx &&
        rm sqlx-cache-tmp.sqlite
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi &&
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add src/types/generated/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npm run format -- --staged
      stage_fixed: true
    frontend-lint-biome:
      root: "frontend/"
      run: npm run lint:biome -- --write --staged
      stage_fixed: true
    frontend-lint-tsc:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint:tsc
    frontend-lint-eslint:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint:eslint

Shorten the long test names in `committee_session/status.rs` (#2663)
  backend/.sqlx/query-9393cec6e7c1657d4b3520ac55823640119594d47f166a2c278172ec23e7c82e.json
  backend/migrations/8_committee_sessions.sql
  backend/src/committee_session/repository.rs
  backend/src/committee_session/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Improve Rust `use` paths (#2659)
  backend/src/authentication/mod.rs
  backend/src/authentication/user.rs
  backend/src/authentication/user_api.rs
  backend/src/bin/gen-pdf.rs
  backend/src/bin/gen-test-election.rs
  backend/src/committee_session/repository.rs
  backend/src/data_entry/repository.rs
  backend/src/election/repository.rs
  backend/src/eml/common.rs
  backend/src/error.rs
  backend/src/investigation/repository.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Split up too long validation tests
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Split up too long validate functions
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Variables renamed for more consistency
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Moved functions to impl blocks
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Renamed generate data entries function and added docstring and moved get_votes_table_columns function into impl
  backend/src/pdf_gen/votes_table.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Enable no double equals rule
  frontend/biome.jsonc
  frontend/scripts/gen_po.js
  frontend/scripts/gen_translation-json.js
  frontend/src/api/useIsInitialised.ts
  frontend/src/features/investigations/components/forms/InvestigationReason.tsx
  frontend/src/utils/number.ts
  frontend/vite-prod.config.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Enable Biome project, React and test domains
  frontend/biome.jsonc
Due: none

Enable no implicit any let rule
  frontend/biome.jsonc
  frontend/src/app/RootLayout.test.tsx
  frontend/src/components/committee_session/CommitteeSessionStatus.tsx
  frontend/src/features/data_entry_home/hooks/useSingleCall.test.ts
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/features/resolve_differences/hooks/usePollingStationDataEntryDifferences.ts
  frontend/src/testing/test-utils.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Enable no prototype builtins rule
  frontend/biome.jsonc
  frontend/src/utils/typeChecks.ts
  frontend/tsconfig.json
Due: frontend-lint-tsc, frontend-lint-eslint

Enable no array index key rule
  frontend/biome.jsonc
  frontend/src/components/data_entry/DataEntrySubsections.tsx
  frontend/src/components/messages/Messages.tsx
  frontend/src/components/ui/Feedback/Feedback.tsx
  frontend/src/components/ui/ProgressBar/ProgressBar.tsx
  frontend/src/components/ui/ProgressList/ProgressList.stories.tsx
  frontend/src/features/election_create/components/RedactedHash.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.tsx
  frontend/src/features/resolve_differences/components/DifferencesTable.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.tsx
  frontend/src/i18n/format.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

More specific React import
  frontend/src/components/ui/ProgressList/ProgressList.stories.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Updated ecmaVersion to 2022 as well
  frontend/eslint.config.js
Due: none

Enabled use template rule
  frontend/biome.jsonc
  frontend/e2e-tests/tests/data-entry/resolve-differences.e2e.ts
  frontend/scripts/gen_translation-json.js
  frontend/scripts/list_routes.ts
  frontend/scripts/openapi/generator.ts
  frontend/src/components/footer/Footer.tsx
  frontend/src/components/ui/Button/Button.stories.tsx
  frontend/src/components/ui/NumberInput/NumberInput.tsx
  frontend/src/features/data_entry/components/DataEntryNavigation.test.tsx
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/components/differences/DifferenceForm.test.tsx
  frontend/src/features/election_create/components/CountingMethodType.tsx
  frontend/src/utils/ValidationResults.ts
  frontend/src/utils/candidate.ts
  frontend/vite-prod.config.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Enabled use nodejs import protocol rule
  frontend/biome.jsonc
  frontend/e2e-tests/helpers-utils/e2e-test-utils.ts
  frontend/scripts/gen_icons.js
  frontend/scripts/gen_openapi.ts
  frontend/scripts/gen_po.js
  frontend/scripts/gen_translation-json.js
  frontend/scripts/openapi/generator.ts
  frontend/src/types/openapi.test.ts
  frontend/vite-prod.config.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Enabled no empty pattern and no descending specificity rules
  frontend/biome.jsonc
  frontend/e2e-tests/fixtures.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Enabled no useless fragments rule
  frontend/biome.jsonc
  frontend/src/components/ui/Form/Form.stories.tsx
  frontend/src/components/ui/Table/Table.test.tsx
  frontend/src/features/data_entry/components/FormKeyboardNavigation.stories.tsx
  frontend/src/features/election_status/components/ElectionStatus.tsx
  frontend/src/features/investigations/components/InvestigationCard.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Enabled use exhaustive dependencies rule
  frontend/biome.jsonc
  frontend/src/api/ApiProvider.tsx
  frontend/src/api/useInitialApiGet.ts
  frontend/src/components/messages/Messages.tsx
  frontend/src/components/page_title/PageTitle.tsx
  frontend/src/components/ui/Feedback/Feedback.tsx
  frontend/src/components/ui/Modal/Modal.tsx
  frontend/src/components/ui/NumberInput/NumberInput.tsx
  frontend/src/features/data_entry/hooks/useDataEntry.ts
  frontend/src/features/data_entry/hooks/useFormKeyboardNavigation.ts
  frontend/src/features/data_entry/hooks/useInitialDataEntryState.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Reverted and added ignores
  frontend/e2e-tests/fixtures.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Enabled use valid anchor rule
  frontend/biome.jsonc
  frontend/src/features/account/components/FirstLoginForm.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Enabled use semantic elements rule
  frontend/biome.jsonc
  frontend/src/features/data_entry_detail/components/ErrorsAndWarningsOverview.module.css
  frontend/src/features/data_entry_detail/components/ErrorsAndWarningsOverview.tsx
  frontend/src/features/logs/components/LogDetailsModal.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Enabled use button type rule
  frontend/biome.jsonc
  frontend/src/components/navbar/NavBarMenu.tsx
  frontend/src/components/ui/Tooltip/Tooltip.stories.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/hooks/messages/messages.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Fixed test
  frontend/src/features/logs/components/LogDetailsModal.tsx
  frontend/src/features/logs/components/LogsHomePage.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Migrate 'no console' rule to Biome
  frontend/biome.jsonc
  frontend/eslint.config.js
  frontend/package.json
  frontend/scripts/list_routes.ts
  frontend/vite-prod.config.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Migrate jsx-a11y to Biome
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
Due: none

Replace eslint-plugin-import with eslint-plugin-import-x
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/gen_po.js
  frontend/src/testing/test-utils.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Remove package.json overrides for globals dependency
  frontend/package-lock.json
  frontend/package.json
Due: none

Remove unused eslint-plugin-react dependency
  frontend/package-lock.json
  frontend/package.json
Due: none

Pin dependency versions and recreate npm lockfile
  frontend/package-lock.json
  frontend/package.json
Due: none

Migrate react-refresh to Biome
  frontend/biome.jsonc
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/committee_session/CommitteeSessionStatus.tsx
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/testing/router.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Use defineConfig for ESLint config
  frontend/eslint.config.js
Due: none

Switch to new import-x resolver interface
  frontend/eslint.config.js
Due: none

Simplify ESLint configuration
  frontend/eslint.config.js
  frontend/scripts/check_server.js
  frontend/scripts/gen_po.js
Due: none

Enable no double equals rule (#2670)
  frontend/biome.jsonc
  frontend/scripts/gen_po.js
  frontend/scripts/gen_translation-json.js
  frontend/src/api/useIsInitialised.ts
  frontend/src/features/investigations/components/forms/InvestigationReason.tsx
  frontend/src/utils/number.ts
  frontend/vite-prod.config.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Enable Biome project, React and test domains (#2671)
  frontend/biome.jsonc
Due: none

Fixed link properly using a button with underlined styling and size md
  frontend/src/features/account/components/FirstLoginForm.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Corrected page title useEffect
  frontend/src/components/page_title/PageTitle.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Enable no implicit any let rule (#2672)
  frontend/biome.jsonc
  frontend/src/app/RootLayout.test.tsx
  frontend/src/components/committee_session/CommitteeSessionStatus.tsx
  frontend/src/features/data_entry_home/hooks/useSingleCall.test.ts
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/features/resolve_differences/hooks/usePollingStationDataEntryDifferences.ts
  frontend/src/testing/test-utils.ts
Due: frontend-lint-tsc, frontend-lint-eslint
