Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: cargo run --package backend --bin gen-openapi && git add openapi.json
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-typescript:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npx tsc
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Use `election_1.sql` fixture in builds
  backend/src/fixtures.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update `rand` to 0.9.0 (#958)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/authentication/util.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use `election_1.sql` fixture in builds (#959)
  backend/src/fixtures.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move breadcrumbs/links logic into `NavBar` (#916)
  frontend/app/component/navbar/NavBar.module.css
  frontend/app/component/navbar/NavBar.stories.tsx
  frontend/app/component/navbar/NavBar.test.tsx
  frontend/app/component/navbar/NavBar.tsx
  frontend/app/component/navbar/NavBarLinks.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.test.tsx
  frontend/app/module/AdministratorLayout.tsx
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/FatalErrorPage.tsx
  frontend/app/module/NotAvailableInMock.tsx
  frontend/app/module/NotFoundPage.tsx
  frontend/app/module/account/LoginLayout.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.test.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.test.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.tsx
  frontend/app/module/election/ElectionLayout.tsx
  frontend/app/module/election/page/ElectionHomePage.tsx
  frontend/app/module/election/page/ElectionReportPage.tsx
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/app/module/election/page/OverviewPage.tsx
  frontend/app/module/logs/LogsHomePage.tsx
  frontend/app/module/polling_stations/page/PollingStationCreatePage.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.tsx
  frontend/app/module/users/UsersHomePage.tsx
  frontend/app/module/workstations/WorkstationsHomePage.tsx
  frontend/vitest.config.ts
Due: frontend-typescript, frontend-linter

WIP extend lifetime
  backend/.sqlx/query-c372e21b272a402879d184b14ccb11fc41fd415d1bdcd824c0400664c9f50ceb.json
  backend/migrations/6_sessions.sql
  backend/src/authentication/mod.rs
  backend/src/authentication/session.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Make sure to only process the steps of the right type into a table and extracted information rendering
  frontend/app/module/apportionment/page/ApportionmentRestSeatsPage.tsx
Due: frontend-typescript, frontend-linter

User struct fields (#939)
  backend/.sqlx/query-2fff3407d5768d14d3181030f676b03719259f34154cfc9ebafbd81b36924cc5.json
  backend/.sqlx/query-368296a27d9de937f8ff76e1fb84c566354272c47f216edcc072603f6d67849d.json
  backend/.sqlx/query-459b318b484c7b41f85e4caf12efbee9807f3dcf2809923ca4f95bf9a87bd4bf.json
  backend/.sqlx/query-7fd4b2b5bfa83df14cbb3de7167dea4c55cec019ddf68d11516035199d35d204.json
  backend/.sqlx/query-9074758cd2f5fafb51332f94f082deb10b072e1667ec177de5611059b59588af.json
  backend/.sqlx/query-a05098423f372acd52a02a0fa20afe5f16a93769bf29cf91220b28448ae26fb5.json
  backend/.sqlx/query-a973de604e0606e4025d2dfa191f7a7888e3e2c421e417f3d1908a32f25a350d.json
  backend/.sqlx/query-b9eacf02a1333eb1cb3dcb1afa6a7549d0b80a624d5cd770778e01c03f30b945.json
  backend/fixtures/users.sql
  backend/migrations/5_users.sql
  backend/openapi.json
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/role.rs
  backend/src/authentication/user.rs
  backend/src/error.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Fix extend session query
  backend/.sqlx/query-6f03a8784315d018fef230a45d89886a4b7f4412f1172339aec8cacb3611a52b.json
  backend/src/apportionment/mod.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/session.rs
  backend/tests/apportionment_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add unit test
  backend/src/authentication/mod.rs
  backend/src/authentication/session.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix user fullname openapi type
  backend/openapi.json
  backend/src/authentication/user.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Fix user fullname openapi type (#961)
  backend/openapi.json
  backend/src/authentication/user.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Make user last_activity_at optional
  backend/.sqlx/query-2fff3407d5768d14d3181030f676b03719259f34154cfc9ebafbd81b36924cc5.json
  backend/.sqlx/query-368296a27d9de937f8ff76e1fb84c566354272c47f216edcc072603f6d67849d.json
  backend/.sqlx/query-459b318b484c7b41f85e4caf12efbee9807f3dcf2809923ca4f95bf9a87bd4bf.json
  backend/.sqlx/query-7fd4b2b5bfa83df14cbb3de7167dea4c55cec019ddf68d11516035199d35d204.json
  backend/migrations/5_users.sql
  backend/openapi.json
  backend/src/authentication/user.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Added error when election data entry has not been finished
  backend/openapi.json
  backend/src/apportionment/api.rs
  backend/src/apportionment/mod.rs
  backend/src/data_entry/status.rs
  backend/src/error.rs
  frontend/app/module/apportionment/page/ApportionmentPage.tsx
  frontend/lib/api/gen/openapi.ts
  frontend/lib/i18n/locales/nl/error.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Added create endpoint
  backend/.sqlx/query-0a68945d602894d26f6b16179c9d4deddcf6634186008079e37d0aed150bd986.json
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/user.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added OpenAPI spec
  backend/openapi.json
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update backend/src/authentication/api.rs
  backend/src/authentication/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix code style
  backend/src/authentication/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

WIP created data entry reducer / context
  backend/Cargo.lock
  frontend/app/component/form/data_entry/PollingStationFormController.tsx
  frontend/app/component/form/data_entry/state/DataEntryProvider.tsx
  frontend/app/component/form/data_entry/state/actions.ts
  frontend/app/component/form/data_entry/state/reducer.ts
  frontend/app/component/form/data_entry/state/types.ts
  frontend/app/component/form/data_entry/state/useDataEntry.ts
  frontend/app/component/form/data_entry/state/useDataEntryContext.ts
Due: frontend-typescript, frontend-linter

WIP voters and votes
  frontend/app/component/form/data_entry/PollingStationControllerContext.tsx
  frontend/app/component/form/data_entry/PollingStationFormController.test.tsx
  frontend/app/component/form/data_entry/PollingStationFormController.tsx
  frontend/app/component/form/data_entry/pollingStationUtils.test.ts
  frontend/app/component/form/data_entry/state/actions.ts
  frontend/app/component/form/data_entry/state/dataEntryUtils.ts
  frontend/app/component/form/data_entry/state/reducer.ts
  frontend/app/component/form/data_entry/state/types.ts
  frontend/app/component/form/data_entry/state/useDataEntry.ts
  frontend/app/component/form/data_entry/state/useDataEntryContext.ts
  frontend/app/component/form/data_entry/state/useInitialDataEntryState.ts
  frontend/app/component/form/data_entry/usePollingStationFormController.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/component/form/data_entry/voters_and_votes/useVotersAndVotes.ts
  frontend/lib/ui/InputGrid/InputGridRow.tsx
  frontend/lib/util/format.ts
Due: frontend-typescript, frontend-linter

WIP data entry reducer
  frontend/app/component/form/data_entry/state/DataEntryContext.ts
  frontend/app/component/form/data_entry/state/DataEntryProvider.tsx
  frontend/app/component/form/data_entry/state/reducer.ts
  frontend/app/component/form/data_entry/state/types.ts
  frontend/app/component/form/data_entry/state/useDataEntry.ts
  frontend/app/component/form/data_entry/state/useDataEntryContext.ts
Due: frontend-typescript, frontend-linter

WIP debug navigation
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/component/form/data_entry/candidates_votes/usePoliticalGroups.ts
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.tsx
  frontend/app/component/form/data_entry/differences/useDifferences.ts
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/component/form/data_entry/recounted/useRecounted.ts
  frontend/app/component/form/data_entry/state/DataEntryContext.ts
  frontend/app/component/form/data_entry/state/DataEntryProvider.tsx
  frontend/app/component/form/data_entry/state/actions.ts
  frontend/app/component/form/data_entry/state/dataEntryUtils.ts
  frontend/app/component/form/data_entry/state/reducer.ts
  frontend/app/component/form/data_entry/state/types.ts
  frontend/app/component/form/data_entry/state/useDataEntry.ts
  frontend/app/component/form/data_entry/state/useDataEntryContext.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/component/form/data_entry/voters_and_votes/useVotersAndVotes.ts
  frontend/app/component/form/data_entry/voters_and_votes/votersAndVotesValues.ts
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/app/component/pollingstation/PollingStationProgress.tsx
  frontend/app/component/pollingstation/utils.ts
  frontend/app/main.tsx
  frontend/app/module/data_entry/polling_station/AbortDataEntryControl.tsx
  frontend/app/module/data_entry/polling_station/AbortDataEntryModal.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.tsx
  frontend/app/module/data_entry/polling_station/index.ts
  frontend/app/routes.tsx
  frontend/lib/ui/CheckboxAndRadio/ChoiceList.tsx
  frontend/lib/util/format.ts
Due: frontend-typescript, frontend-linter

Cleanup form hook
  frontend/app/component/form/data_entry/recounted/useRecounted.ts
  frontend/app/component/form/data_entry/state/types.ts
  frontend/app/component/form/data_entry/state/useDataEntryContext.ts
Due: frontend-typescript, frontend-linter

WIP last spike touch-up
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/component/form/data_entry/state/actions.ts
  frontend/app/component/form/data_entry/state/reducer.ts
  frontend/app/component/form/data_entry/state/useDataEntry.ts
  frontend/app/component/form/data_entry/state/useDataEntryContext.ts
  frontend/app/component/form/data_entry/state/useDataEntryNavigation.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/component/form/data_entry/voters_and_votes/useVotersAndVotes.ts
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/lib/ui/CheckboxAndRadio/CheckboxAndRadio.tsx
  frontend/lib/ui/CheckboxAndRadio/ChoiceList.tsx
  frontend/lib/util/format.ts
Due: frontend-typescript, frontend-linter

Removed unused properties
  frontend/app/component/form/data_entry/state/reducer.ts
  frontend/app/component/form/data_entry/state/types.ts
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
Due: frontend-typescript, frontend-linter

Fix navigation bug
  README.md
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/component/form/data_entry/recounted/useRecounted.ts
  frontend/app/component/form/data_entry/state/actions.ts
  frontend/app/component/form/data_entry/state/reducer.ts
  frontend/app/component/form/data_entry/state/types.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/component/form/data_entry/voters_and_votes/useVotersAndVotes.ts
  frontend/app/component/form/data_entry/voters_and_votes/votersAndVotesValues.ts
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/lib/ui/CheckboxAndRadio/CheckboxAndRadio.tsx
  frontend/lib/ui/NumberInput/NumberInput.tsx
  frontend/lib/util/format.ts
Due: frontend-typescript, frontend-linter

Fix form for last updates in hook
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
Due: frontend-typescript, frontend-linter

candidate votes draft
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/component/form/data_entry/candidates_votes/candidatesVotesValues.ts
  frontend/app/component/form/data_entry/candidates_votes/useCandidateVotes.ts
  frontend/app/component/form/data_entry/candidates_votes/usePoliticalGroups.ts
  frontend/lib/api/experiment/DataEntryController.ts
  frontend/lib/api/experiment/DataEntryControllerContext.tsx
  frontend/lib/api/experiment/DataEntryControllerProvider.tsx
  frontend/lib/api/experiment/FormSection.ts
  frontend/lib/api/experiment/index.ts
  frontend/lib/api/experiment/useFormSection.ts
Due: frontend-typescript, frontend-linter

New action UPDATE_FORM_SECTION
  frontend/app/component/form/data_entry/state/actions.ts
  frontend/app/component/form/data_entry/state/dataEntryUtils.ts
  frontend/app/component/form/data_entry/state/reducer.ts
  frontend/app/component/form/data_entry/state/types.ts
  frontend/app/component/form/data_entry/state/useDataEntry.ts
  frontend/app/component/form/data_entry/voters_and_votes/useVotersAndVotes.ts
Due: frontend-typescript, frontend-linter

differences counts draft
  frontend/app/component/form/data_entry/candidates_votes/useCandidateVotes.ts
  frontend/app/component/form/data_entry/differences/DifferencesForm.tsx
  frontend/app/component/form/data_entry/differences/differencesValues.ts
  frontend/app/component/form/data_entry/differences/useDifferences.ts
Due: frontend-typescript, frontend-linter

fixes dev run
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/routes.tsx
Due: frontend-typescript, frontend-linter

Cleanup data entry form navigation / blocker:wq
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/component/form/data_entry/candidates_votes/useCandidateVotes.ts
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.tsx
  frontend/app/component/form/data_entry/differences/useDifferences.ts
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/component/form/data_entry/recounted/useRecounted.ts
  frontend/app/component/form/data_entry/state/dataEntryUtils.ts
  frontend/app/component/form/data_entry/state/useDataEntryNavigation.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/component/form/data_entry/voters_and_votes/useVotersAndVotes.ts
  frontend/app/component/form/testHelperFunctions.ts
  frontend/app/component/pollingstation/PollingStationFormNavigation.test.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/app/main.tsx
  frontend/app/module/data_entry/polling_station/AbortDataEntryControl.test.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.test.tsx
  frontend/lib/api/experiment/DataEntryController.ts
  frontend/lib/api/experiment/DataEntryControllerProvider.tsx
Due: frontend-typescript, frontend-linter

removed overrideState
  frontend/app/component/form/data_entry/state/DataEntryProvider.tsx
  frontend/app/component/form/data_entry/state/useDataEntry.ts
  frontend/app/component/form/data_entry/state/useInitialDataEntryState.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
Due: frontend-typescript, frontend-linter

working on tests
  frontend/app/component/form/data_entry/state/DataEntryProvider.tsx
  frontend/app/component/form/data_entry/state/dataEntryUtils.ts
  frontend/app/component/form/data_entry/state/useDataEntry.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/routes.tsx
Due: frontend-typescript, frontend-linter

Fix lint issues
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/component/form/data_entry/state/DataEntryProvider.tsx
  frontend/app/component/form/data_entry/state/reducer.ts
  frontend/app/component/form/data_entry/state/useDataEntryContext.ts
  frontend/app/component/form/data_entry/state/useDataEntryNavigation.ts
  frontend/app/component/form/data_entry/state/useInitialDataEntryState.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/lib/api/experiment/DataEntryController.ts
  frontend/lib/api/experiment/DataEntryControllerContext.tsx
  frontend/lib/api/experiment/DataEntryControllerProvider.tsx
  frontend/lib/api/experiment/FormSection.ts
  frontend/lib/api/experiment/index.ts
  frontend/lib/api/experiment/useFormSection.ts
Due: frontend-typescript, frontend-linter

Remove typo
  README.md
Due: none

Fix code style
  frontend/app/module/data_entry/polling_station/PollingStationLayout.tsx
Due: frontend-typescript, frontend-linter

Make user last_activity_at optional (#962)
  backend/.sqlx/query-2fff3407d5768d14d3181030f676b03719259f34154cfc9ebafbd81b36924cc5.json
  backend/.sqlx/query-368296a27d9de937f8ff76e1fb84c566354272c47f216edcc072603f6d67849d.json
  backend/.sqlx/query-459b318b484c7b41f85e4caf12efbee9807f3dcf2809923ca4f95bf9a87bd4bf.json
  backend/.sqlx/query-7fd4b2b5bfa83df14cbb3de7167dea4c55cec019ddf68d11516035199d35d204.json
  backend/migrations/5_users.sql
  backend/openapi.json
  backend/src/authentication/user.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Rename API endpoint list to user_list
  backend/openapi.json
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/lib.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Add user list page
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/users/UserListPage.test.tsx
  frontend/app/module/users/UserListPage.tsx
  frontend/app/module/users/UsersHomePage.tsx
  frontend/app/module/users/index.ts
  frontend/app/module/users/useUserListRequest.ts
  frontend/app/routes.tsx
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api-mocks/UserMockData.ts
  frontend/lib/i18n/locales/nl/user.json
  frontend/lib/ui/style/util.css
Due: frontend-typescript, frontend-linter

pre-merge
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
Due: frontend-typescript, frontend-linter
