Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

backend-sqlx-prepare:
  run: cargo sqlx prepare

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --all-features -- -D warnings

backend-openapi:
  run: cargo run --package backend --bin gen-openapi && git add openapi.json

frontend-typescript:
  run: npx tsc

frontend-linter:
  run: npm run lint {staged_files}

Update documentatie/gebruikersdocumentatie/installeren-en-starten.md
  documentatie/gebruikersdocumentatie/installeren-en-starten.md
Due: none

Image links changed
  documentatie/gebruikersdocumentatie/img/build-artifact-1.png
  documentatie/gebruikersdocumentatie/img/build-artifact-2.png
  documentatie/gebruikersdocumentatie/installeren-en-starten.md
Due: none

Windows instructions
  documentatie/gebruikersdocumentatie/installeren-en-starten.md
Due: none

speeds up Playwright tests in pipeline
  .github/workflows/build-lint-test.yml
Due: none

Change api start instructions
  documentatie/gebruikersdocumentatie/installeren-en-starten.md
Due: none

Generic error in ApiResult + feedback
  backend/openapi.json
  backend/src/error.rs
  frontend/app/component/error/Error.tsx
  frontend/app/component/error/Error.types.ts
  frontend/app/component/error/ErrorBoundary.tsx
  frontend/app/component/error/index.ts
  frontend/app/module/FatalErrorPage.tsx
  frontend/app/module/NotFoundPage.tsx
  frontend/app/module/data_entry/polling_station/AbortDataEntryModal.tsx
  frontend/app/routes.tsx
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/ApiError.ts
  frontend/lib/api/api.types.ts
  frontend/lib/api/form/pollingstation/PollingStationControllerContext.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Added constant for default request abort reason
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/useApiRequest.ts
Due: frontend-typescript, frontend-linter

WIP apportionment
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/mod.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Split fatal and non-fatal api-error + add throw error flag useApiRequest
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/ApiError.ts
  frontend/lib/api/RequestStateHandler.tsx
  frontend/lib/api/api.types.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/polling_station/usePollingStationListRequest.ts
  frontend/lib/api/useApiRequest.ts
  frontend/lib/api/useElectionDataRequest.ts
  frontend/lib/api/useElectionListRequest.ts
  frontend/lib/api/useElectionStatusRequest.ts
Due: frontend-typescript, frontend-linter

Renamed binary to Abacus
  .github/workflows/build-lint-test.yml
  Dockerfile
  backend/Cargo.toml
  backend/src/bin/abacus.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use CSS pseudo-class :focus-within instead of setting a class on the InputGrid row with effects
  frontend/lib/ui/InputGrid/InputGrid.module.css
  frontend/lib/ui/InputGrid/InputGrid.tsx
  frontend/lib/ui/InputGrid/InputGridRow.tsx
Due: frontend-typescript, frontend-linter

Also renamed docker compose service to backend
  docker-compose.yml
Due: none

Renamed bin in d2d config
  frontend/playwright.d2d.config.ts
Due: frontend-typescript, frontend-linter

Renamed binary to Abacus (#607)
  .github/workflows/build-lint-test.yml
  Dockerfile
  backend/Cargo.toml
  backend/src/bin/abacus.rs
  docker-compose.yml
  frontend/playwright.d2d.config.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Adjust progress bar colors
  frontend/lib/ui/style/variables.css
Due: none

Added usecrud hook
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/api.types.ts
  frontend/lib/api/useApiRequest.ts
  frontend/lib/api/useCrud.ts
Due: frontend-typescript, frontend-linter

--ff-only instead of --no-ff
  pull-and-run
Due: none

pull-and-run: --ff-only instead of --no-ff (#610)
  pull-and-run
Due: none

Updated test
  backend/.sqlx/query-02e63f0e0faaab5750b4f8c0e14ba2bbd361005617503093ad7a9bed6dcbdfac.json
  backend/.sqlx/query-981ca0a56d98c28804220e06fd35570760af4cd4c8789bd2bfb9b7ac1ca3588a.json
  backend/src/data_entry/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Split of summary count and pdf models
  backend/src/election/mod.rs
  backend/src/lib.rs
  backend/src/pdf_gen/mod.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/src/summary/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added test to check InProgress and Unfinished status
  backend/src/polling_station/repository.rs
  backend/tests/election_integration_test.rs
  backend/tests/shared.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added test for definitive status
  backend/.sqlx/query-43b777faa9d245000d6d6e6ca93ea6edf14285254e4032189633626970e05188.json
  backend/.sqlx/query-981ca0a56d98c28804220e06fd35570760af4cd4c8789bd2bfb9b7ac1ca3588a.json
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/shared.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

openapi
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/ui/Badge/Badge.tsx
Due: frontend-typescript, frontend-linter

Api client bugfix + feedback Oliver
  frontend/lib/api/ApiClient.test.ts
  frontend/lib/api/ApiError.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/api/useApiRequest.ts
  frontend/lib/api/useCrud.ts
Due: frontend-typescript, frontend-linter

Fix typo
  frontend/lib/api/useCrud.ts
Due: frontend-typescript, frontend-linter

waiting for useCrud
  frontend/app/component/form/polling_station/PollingStationForm.test.tsx
  frontend/app/component/form/polling_station/PollingStationForm.tsx
  frontend/app/component/form/polling_station/usePollingStationCreate.test.ts
  frontend/app/component/form/polling_station/usePollingStationCreate.ts
  frontend/app/module/polling_stations/page/PollingStationCreatePage.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/lib/api-mocks/Database.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/api.types.ts
  frontend/lib/api/index.ts
  frontend/lib/api/labels/index.ts
  frontend/lib/ui/Form/FormLayout.module.css
  frontend/lib/ui/Form/FormLayout.stories.tsx
  frontend/lib/ui/Form/FormLayout.tsx
  frontend/lib/ui/Form/index.ts
  frontend/lib/ui/InputField/InputField.module.css
  frontend/lib/ui/InputField/InputField.tsx
  frontend/lib/ui/index.ts
  frontend/lib/ui/style/variables.css
Due: frontend-typescript, frontend-linter

Improve error handling
  frontend/app/component/error/ErrorBoundary.tsx
  frontend/app/module/data_entry/polling_station/PollingStation.test.tsx
  frontend/lib/api/api.types.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/useApiRequest.ts
Due: frontend-typescript, frontend-linter

Test backend election status data_entry_progress
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/shared.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add fatal error parent type
  frontend/lib/api/ApiError.ts
  frontend/lib/api/useApiRequest.ts
Due: frontend-typescript, frontend-linter

Correct API error escalation and translations (#577)
  backend/openapi.json
  backend/src/error.rs
  frontend/app/component/error/Error.tsx
  frontend/app/component/error/Error.types.ts
  frontend/app/component/error/ErrorBoundary.tsx
  frontend/app/component/error/index.ts
  frontend/app/main.tsx
  frontend/app/module/FatalError.tsx
  frontend/app/module/FatalErrorPage.tsx
  frontend/app/module/NotFound.tsx
  frontend/app/module/NotFoundPage.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/app/module/data_entry/polling_station/AbortDataEntryModal.tsx
  frontend/app/module/data_entry/polling_station/PollingStation.test.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/app/routes.tsx
  frontend/lib/api-mocks/ElectionMockData.ts
  frontend/lib/api/ApiClient.test.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/ApiError.ts
  frontend/lib/api/RequestStateHandler.tsx
  frontend/lib/api/api.types.ts
  frontend/lib/api/election/ElectionListProvider.tsx
  frontend/lib/api/election/ElectionProvider.tsx
  frontend/lib/api/election/ElectionStatusProvider.tsx
  frontend/lib/api/form/pollingstation/PollingStationControllerContext.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/gen/openapi.ts
  frontend/lib/api/polling_station/usePollingStationListRequest.ts
  frontend/lib/api/useApiRequest.ts
  frontend/lib/api/useCrud.ts
  frontend/lib/api/useElectionDataRequest.ts
  frontend/lib/api/useElectionListRequest.ts
  frontend/lib/api/useElectionStatusRequest.ts
  frontend/lib/i18n/format.tsx
  frontend/lib/i18n/locales/nl/error.json
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/i18n/locales/nl/nl.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Add frontend test
  frontend/app/module/election/page/ElectionStatusPage.test.tsx
Due: frontend-typescript, frontend-linter

Increase width of election status progressbar
  frontend/app/module/election/page/ElectionStatusPage.tsx
Due: frontend-typescript, frontend-linter

Dependabot should ignore react-router-dom minor version 6.28
  .github/dependabot.yml
Due: none

Update installeren-en-starten.md
  documentatie/gebruikersdocumentatie/installeren-en-starten.md
Due: none

Remove tests for row focused class
  frontend/lib/ui/InputGrid/InputGrid.e2e.ts
  frontend/lib/ui/InputGrid/InputGrid.test.tsx
Due: frontend-typescript, frontend-linter

removes caching
  .github/workflows/build-lint-test.yml
Due: none

Add tests for InputGridRow and tweak parameters
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/lib/ui/InputGrid/InputGridRow.test.tsx
  frontend/lib/ui/InputGrid/InputGridRow.tsx
Due: frontend-typescript, frontend-linter

Dependabot should ignore react-router-dom minor version 6.28 (#622)
  .github/dependabot.yml
Due: none

Create 20241119-bevindingen.md
  documentatie/usability-tests/20241119-bevindingen.md
Due: none

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-typescript: any of: *.{ts,tsx} and ^frontend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
