Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: cargo run --package backend --bin gen-openapi && git add openapi.json
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-typescript:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npx tsc
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Replace election subcategory by number of seats
  backend/fixtures/elections.sql
  backend/migrations/1_elections.sql
  backend/openapi.json
  backend/src/election/repository.rs
  backend/src/election/structs.rs
  backend/src/eml/mod.rs
  backend/src/lib.rs
  backend/src/pdf_gen/mod.rs
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/lib/api-mocks/ElectionMockData.ts
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Use 0000 as placeholder authority id, prefix SB to polling station number
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use placeholder transaction id 1
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Edit polling station use cases
  documentatie/use-cases/GSB-gebruikersdoelen.md
  documentatie/use-cases/GSB-hoogover.md
  documentatie/use-cases/GSB-subfuncties.md
Due: none

Add trash bin icon
  frontend/lib/icon/generated.tsx
  frontend/lib/icon/svg/trash.svg
Due: frontend-typescript, frontend-linter

Basic polling station delete functionality
  frontend/app/module/polling_stations/page/PollingStationDeleteModal.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.tsx
  frontend/lib/api/polling_station/usePollingStationMutation.ts
  frontend/lib/ui/Form/FormLayout.module.css
  frontend/lib/ui/style/variables.css
Due: frontend-typescript, frontend-linter

Show polling station deleted message
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.tsx
  frontend/lib/i18n/locales/nl/polling_station.json
Due: frontend-typescript, frontend-linter

Update frontend/lib/i18n/locales/nl/polling_station.json
  frontend/lib/i18n/locales/nl/polling_station.json
Due: none

Add uncounted votes to total votes
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Allow deserialization when there are no uncountedvotes elements
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add postcode to output for polling station in XML
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add error message when the polling station could not be deleted
  frontend/app/module/polling_stations/page/PollingStationDeleteModal.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.tsx
Due: frontend-typescript, frontend-linter

Update second data entry succes message
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.test.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/page-objects/data_entry/PollingStationChoicePgObj.ts
Due: frontend-typescript, frontend-linter

Translations
  frontend/app/module/polling_stations/page/PollingStationDeleteModal.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.tsx
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/i18n/locales/nl/polling_station.json
Due: frontend-typescript, frontend-linter

Update backend tests
  backend/src/data_entry/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add test
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.test.tsx
Due: frontend-typescript, frontend-linter

Updated dependencies in READMEs
  backend/Cargo.toml
  backend/README.md
  frontend/README.md
Due: none

Added state machine skeleton
  backend/src/data_entry/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Capitalization
  documentatie/use-cases/GSB-subfuncties.md
Due: none

Change string concatenation into array join
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
Due: frontend-typescript, frontend-linter

Update Cargo dependencies
  backend/Cargo.lock
Due: none

Newlines
  .github/workflows/build-lint-test.yml
  .github/workflows/release.yml
Due: none

improves locator of input saved alert
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/page-objects/data_entry/PollingStationChoicePgObj.ts
Due: frontend-typescript, frontend-linter

Update Cargo dependencies (#691)
  backend/Cargo.lock
Due: none

Also add css localsConvention dashes to ladle vite config
  frontend/.ladle/vite.config.ts
Due: frontend-typescript, frontend-linter

Add jobs to upload binaries to abacus-test.nl for test and release (#668)
  .github/workflows/build-lint-test.yml
  .github/workflows/release.yml
Due: none

Added quick-xml
  backend/README.md
Due: none

Add API endpoint to download EML_NL XML (#685)
  backend/fixtures/elections.sql
  backend/migrations/1_elections.sql
  backend/openapi.json
  backend/src/election/mod.rs
  backend/src/election/repository.rs
  backend/src/election/structs.rs
  backend/src/eml/axum.rs
  backend/src/eml/mod.rs
  backend/src/error.rs
  backend/src/lib.rs
  backend/src/pdf_gen/mod.rs
  backend/tests/election_integration_test.rs
  docker-compose.yml
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/lib/api-mocks/ElectionMockData.ts
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Add XML hashcode to PDF
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/src/election/mod.rs
  backend/src/eml/base.rs
  backend/src/eml/mod.rs
  backend/src/pdf_gen/mod.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/templates/common/style.typ
  backend/templates/inputs/model-na-31-2.json
  backend/templates/model-na-31-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add test for eml_document_hash
  backend/src/eml/base.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Switch to hex crate for encoding hash
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/src/eml/base.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update footer for pdf
  backend/src/election/mod.rs
  backend/src/eml/base.rs
  backend/src/pdf_gen/mod.rs
  backend/templates/common/style.typ
  backend/templates/inputs/model-na-31-2.json
  backend/templates/model-na-31-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Import react as React
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.tsx
Due: frontend-typescript, frontend-linter

Ladle vite config should convert CSS module dashes into camelCase too (#693)
  frontend/.ladle/vite.config.ts
Due: frontend-typescript, frontend-linter

Add forgotten translations
  frontend/app/module/polling_stations/page/PollingStationCreatePage.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.tsx
  frontend/lib/i18n/locales/nl/polling_station.json
Due: frontend-typescript, frontend-linter

Comments/suggestions
  documentatie/gebruikersdocumentatie/verkiezingsproces-en-abacus.md
Due: none

Translate components continued (#660)
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/NotAvailableInMock.tsx
  frontend/app/module/account/page/AccountSetupPage.tsx
  frontend/app/module/account/page/LoginPage.tsx
  frontend/app/module/account/page/UserHomePage.tsx
  frontend/app/module/data_entry/page/CandidatesVotesPage.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/app/module/data_entry/polling_station/AbortDataEntryControl.tsx
  frontend/app/module/data_entry/polling_station/AbortDataEntryModal.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.tsx
  frontend/app/module/election/page/ElectionHomePage.tsx
  frontend/app/module/election/page/ElectionReportPage.tsx
  frontend/app/module/election/page/OverviewPage.tsx
  frontend/app/module/logs/LogsHomePage.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/app/module/users/UsersHomePage.tsx
  frontend/app/module/workstations/WorkstationsHomePage.tsx
  frontend/lib/i18n/i18n.test.tsx
  frontend/lib/i18n/locales/nl/data_entry.json
  frontend/lib/i18n/locales/nl/election.json
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/i18n/locales/nl/messages.json
  frontend/lib/i18n/locales/nl/nl.ts
  frontend/lib/i18n/locales/nl/polling_station.json
  frontend/lib/i18n/locales/nl/user.json
  frontend/lib/i18n/locales/nl/workstations.json
Due: frontend-typescript, frontend-linter

Fixed some tiny spelling issues I saw when catching up with the work done
  .github/workflows/build-lint-test.yml
  frontend/lib/api/ApiClient.ts
  frontend/lib/ui/Button/Button.tsx
  frontend/lib/ui/Form/FormLayout.stories.tsx
  frontend/lib/ui/InputField/InputField.tsx
  frontend/lib/ui/NumberInput/NumberInput.stories.tsx
  frontend/lib/ui/Toolbar/Toolbar.stories.tsx
Due: frontend-typescript, frontend-linter
