Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-formatter, backend-linter, backend-openapi, frontend-linter

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy

backend-openapi:
  run: cargo run --package backend --bin gen-openapi

frontend-linter:
  run: npm run lint {staged_files}

Rename PollingStationsPage to PollingStationListPage
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/app/module/polling_stations/page/index.ts
  frontend/app/routes.tsx
Due: frontend-linter

Add polling station list mock endpoint
  frontend/lib/api-mocks/RequestHandlers.ts
Due: frontend-linter

Removed obsolete DataEntryLayout, improved election status page and data entry homepage, improved styling of Alert content
  frontend/app/module/data_entry/DataEntryLayout.tsx
  frontend/app/module/data_entry/index.ts
  frontend/app/module/data_entry/page/DataEntryHomePage.test.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/app/module/election/ElectionLayout.tsx
  frontend/app/module/election/page/ElectionStatusPage.test.tsx
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/app/routes.test.tsx
  frontend/app/routes.tsx
  frontend/lib/ui/Alert/Alert.module.css
Due: frontend-linter

Fixed test
  frontend/lib/ui/Badge/Badge.test.tsx
Due: frontend-linter

Fixed the styling of the icon in the badge and the e2e test
  frontend/lib/ui/Badge/Badge.e2e.ts
  frontend/lib/ui/Badge/Badge.stories.tsx
  frontend/lib/ui/Badge/Badge.tsx
  frontend/lib/ui/Icon/Icon.module.css
  frontend/lib/ui/Icon/Icon.stories.tsx
Due: frontend-linter

Fixed icon size in badge (1.25rem instead of 1rem)
  frontend/lib/ui/Badge/Badge.tsx
  frontend/lib/ui/Icon/Icon.module.css
Due: frontend-linter

Improved rendering of icon in badge
  frontend/lib/ui/Badge/Badge.tsx
  frontend/lib/ui/Badge/badge.module.css
Due: frontend-linter

Fixed e2e test
  frontend/lib/ui/Badge/Badge.e2e.ts
Due: frontend-linter

Fixed copy of status page alert
  frontend/app/module/data_entry/page/DataEntryHomePage.test.tsx
  frontend/app/module/election/page/ElectionStatusPage.test.tsx
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/app/module/election/page/OverviewPage.tsx
Due: frontend-linter

Fixed showing of badge on data entry page (pencil should not be shown) (#451)
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationSelector.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationsList.tsx
  frontend/lib/ui/Badge/Badge.e2e.ts
  frontend/lib/ui/Badge/Badge.stories.tsx
  frontend/lib/ui/Badge/Badge.test.tsx
  frontend/lib/ui/Badge/Badge.tsx
  frontend/lib/ui/Badge/badge.module.css
  frontend/lib/ui/Icon/Icon.module.css
  frontend/lib/ui/Icon/Icon.stories.tsx
Due: frontend-linter

Ran npm and cargo update
  backend/Cargo.lock
  frontend/package-lock.json
Due: none

past invoer use case aan zodat je er doorheen kunt blijven loopen
  documentatie/use-cases/GSB-gebruikersdoelen.md
Due: none

Add polling station list unit test
  frontend/app/module/polling_stations/page/PollingStationListPage.test.tsx
Due: frontend-linter

Fixes numbers of uitbreidingen
  documentatie/use-cases/GSB-gebruikersdoelen.md
Due: none

Ran npm and cargo update to update peer dependencies (#455)
  backend/Cargo.lock
  frontend/package-lock.json
Due: none

changes based on review comments
  documentatie/use-cases/GSB-gebruikersdoelen.md
Due: none

Processed review
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/election/page/ElectionHomePage.tsx
  frontend/app/module/election/page/ElectionReportPage.test.tsx
  frontend/app/module/election/page/ElectionStatusPage.test.tsx
  frontend/app/module/election/page/ElectionStatusPage.tsx
Due: frontend-linter

temp commit, ignore
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/module/data_entry/DataEntryLayout.tsx
  frontend/app/module/data_entry/PollingStation/PollingStationLayout.tsx
  frontend/app/test/unit/setup.ts
  frontend/lib/ui/AppLayout/AppLayout.module.css
  frontend/lib/ui/AppLayout/AppLayout.tsx
  frontend/lib/ui/AppLayout/StickyNav.module.css
  frontend/lib/ui/AppLayout/StickyNav.tsx
  frontend/lib/ui/AppLayout/index.ts
  frontend/lib/ui/Frame/AppFrame.tsx
  frontend/lib/ui/ProgressList/ProgressList.tsx
  frontend/lib/ui/ProgressList/ProgressListScroll.tsx
  frontend/lib/ui/index.ts
Due: frontend-linter

adds Marlon B and Oliver to contributors file
  contributors.yml
Due: none

adds Marlon B and Oliver to contributors file (#457)
  contributors.yml
Due: none

i18n concept
  frontend/app/module/overview/page/OverviewPage.tsx
  frontend/lib/i18n/index.ts
  frontend/lib/ui/InputGrid/InputGrid.e2e.ts
  frontend/tsconfig.json
Due: frontend-linter

removed unused file
  docker-compose.local-test.yml
Due: none

Add global AppState to persist error state
  frontend/app/component/error/Error.module.css
  frontend/app/component/error/Error.tsx
  frontend/app/component/error/Error.types.ts
  frontend/app/component/error/error.png
  frontend/app/component/error/index.ts
  frontend/app/main.tsx
  frontend/app/module/FatalError.tsx
  frontend/lib/i18n/index.ts
  frontend/lib/state/AppState.types.ts
  frontend/lib/state/AppStateProvider.tsx
  frontend/lib/state/AppStateReducer.ts
  frontend/lib/state/index.ts
  frontend/lib/state/useAppState.ts
  frontend/lib/state/useError.ts
  frontend/tsconfig.json
Due: frontend-linter

resetting db in script and logging when db is removed or seeded
  backend/src/bin/api.rs
  backend/src/fixtures.rs
  build-and-run
Due: backend-formatter, backend-linter, backend-openapi

WIP refactor error handling
  frontend/app/test/unit/test-utils.ts
  frontend/lib/api/election/ElectionProvider.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/usePollingStationFormController.ts
  frontend/lib/api/useApiGetRequest.ts
  frontend/lib/api/useElectionDataRequest.ts
  frontend/lib/state/index.ts
  frontend/lib/state/useError.ts
Due: frontend-linter

removed debug code
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
Due: frontend-linter

fixes test-tooling doc wrt UI elements / Ladle
  documentatie/ontwikkelproces/test-tooling.md
Due: none

Revert yak shaving, added error boundry
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/usePollingStationFormController.ts
  frontend/lib/api/useApiGetRequest.ts
  frontend/lib/i18n/index.ts
  frontend/lib/state/AppState.types.ts
  frontend/lib/state/AppStateProvider.tsx
Due: frontend-linter

Let router handle error
  frontend/app/test/unit/test-utils.ts
  frontend/lib/api/election/ElectionProvider.tsx
  frontend/lib/api/useElectionDataRequest.ts
  frontend/lib/state/AppStateReducer.ts
Due: frontend-linter

Revert app state, router error boundry
  frontend/app/component/error/ErrorBoundry.tsx
  frontend/app/main.tsx
  frontend/app/routes.tsx
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/election/ElectionProvider.tsx
  frontend/lib/state/AppState.types.ts
  frontend/lib/state/AppStateProvider.tsx
  frontend/lib/state/AppStateReducer.ts
  frontend/lib/state/index.ts
  frontend/lib/state/useAppState.ts
  frontend/lib/state/useError.ts
  frontend/lib/ui/Feedback/Feedback.stories.tsx
  frontend/tsconfig.json
Due: frontend-linter

Remove duplicate Footer
  frontend/app/module/polling_stations/PollingStationsLayout.tsx
Due: frontend-linter

tweaks aan use case invoer stembureau (#456)
  documentatie/use-cases/GSB-gebruikersdoelen.md
Due: none

Handle different error types
  frontend/app/component/error/Error.module.css
  frontend/app/component/error/Error.types.ts
  frontend/app/component/error/ErrorBoundry.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/main.tsx
  frontend/app/module/FatalError.tsx
  frontend/app/module/NotFound.tsx
  frontend/app/module/election/page/ElectionReportPage.test.tsx
  frontend/app/module/election/page/ElectionReportPage.tsx
  frontend/app/routes.test.tsx
  frontend/app/test/unit/test-utils.ts
  frontend/lib/api-mocks/ElectionMockData.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/election/ElectionListProvider.tsx
  frontend/lib/api/election/ElectionProvider.tsx
  frontend/lib/api/election/ElectionStatusProvider.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/usePollingStationFormController.ts
  frontend/lib/api/useApi.ts
  frontend/lib/api/useApiGetRequest.ts
  frontend/lib/ui/Feedback/Feedback.tsx
Due: frontend-linter

Introduce error boundry
  frontend/app/component/error/Error.module.css
  frontend/app/component/error/Error.tsx
  frontend/app/component/error/Error.types.ts
  frontend/app/component/error/ErrorBoundry.tsx
  frontend/app/component/error/error.png
  frontend/app/component/error/index.ts
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/main.tsx
  frontend/app/module/FatalError.tsx
  frontend/app/module/NotFound.tsx
  frontend/app/module/election/page/ElectionReportPage.test.tsx
  frontend/app/module/election/page/ElectionReportPage.tsx
  frontend/app/routes.test.tsx
  frontend/app/routes.tsx
  frontend/app/test/unit/test-utils.ts
  frontend/lib/api-mocks/ElectionMockData.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/election/ElectionListProvider.tsx
  frontend/lib/api/election/ElectionProvider.tsx
  frontend/lib/api/election/ElectionStatusProvider.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/usePollingStationFormController.ts
  frontend/lib/api/useApi.ts
  frontend/lib/api/useApiGetRequest.ts
  frontend/lib/ui/Feedback/Feedback.stories.tsx
  frontend/lib/ui/Feedback/Feedback.tsx
Due: frontend-linter

fix scroll behavior
  frontend/app/component/pollingstation/PollingStationProgress.tsx
  frontend/lib/ui/ProgressList/ProgressList.tsx
Due: frontend-linter

mock scrollTo function for tests
  frontend/app/test/unit/setup.ts
Due: frontend-linter

re-add lint rule
  frontend/lib/ui/InputGrid/InputGrid.e2e.ts
Due: frontend-linter

PollingStationType values should be in English, get Dutch label using an object instead of function
  backend/openapi.json
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/src/polling_station/structs.rs
  backend/templates/inputs/model-na-31-2.json
  backend/templates/model-na-31-2.typ
  documentatie/referentie/woordenlijst-EN-NL.md
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/e2e-tests/dom-to-db-tests/test-data/PollingStationTestData.ts
  frontend/lib/api-mocks/PollingStationMockData.ts
  frontend/lib/api/gen/openapi.ts
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

Update frontend/app/component/error/Error.tsx
  frontend/app/component/error/Error.tsx
Due: frontend-linter

Path conditions:
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
