Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: cargo run --package backend --bin gen-openapi
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Update Overwegingen talen en frameworks.md
  documentatie/softwarearchitectuur/Overwegingen talen en frameworks.md
Due: none

adds first basic implemenetation for VotersAndVotesForms error message test
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
Due: frontend-linter

Update Proces voor ontwikkeling en releases.md
  documentatie/Proces voor ontwikkeling en releases.md
Due: none

Update and rename Github werkwijze.md to GitHub werkwijze.md
  documentatie/GitHub werkwijze.md
Due: none

updates CandidatesVotesForm to not show warnings when there is an error
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
Due: frontend-linter

Update README.md
  README.md
Due: none

Update documentatie/Testen en kwaliteit.md
  documentatie/Testen en kwaliteit.md
Due: none

Update documentatie/softwarearchitectuur/Overwegingen talen en frameworks.md
  documentatie/softwarearchitectuur/Overwegingen talen en frameworks.md
Due: none

Add option to finalise data entry (#139)
  backend/migrations/4_polling_station_results.sql
  backend/openapi.json
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
  backend/src/validation.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
Due: backend-formatter, backend-linter, backend-openapi

Update documentatie/Functionaliteit eisen en wensen.md
  documentatie/Functionaliteit eisen en wensen.md
Due: none

Update Testen en kwaliteit.md
  documentatie/Testen en kwaliteit.md
Due: none

fixed small typos, clarify contributions
  README.md
Due: none

Update documentatie/Proces voor ontwikkeling en releases.md
  documentatie/Proces voor ontwikkeling en releases.md
Due: none

Update GitHub werkwijze.md
  documentatie/GitHub werkwijze.md
Due: none

hoofdletters
  documentatie/Proces voor ontwikkeling en releases.md
Due: none

changes body of an overrideOnce from string to object
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
Due: frontend-linter

update mailadressen en meldingen
  README.md
Due: none

add errors and warnings to CandidateVotesForm
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/test/unit/test-utils.ts
  frontend/lib/api/form/index.ts
  frontend/lib/api/form/useErrorsAndWarnings.ts
  frontend/lib/ui/InputGrid/InputGridRow.tsx
  frontend/lib/util/fields.test.ts
  frontend/lib/util/fields.ts
Due: frontend-linter

fixes CandidatesVotesForm request body test, still needs refactoring
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
Due: frontend-linter

fix test ids
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/lib/ui/InputGrid/InputGridRow.tsx
Due: frontend-linter

change name to id
  frontend/app/component/form/differences/DifferencesForm.tsx
Due: frontend-linter

hoofdletters in bestandsnamen
  README.md
Due: none

fixes differences api request test by doing object comparison
  frontend/app/component/form/differences/DifferencesForm.test.tsx
Due: frontend-linter
