Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite &&
        cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets &&
        git add .sqlx &&
        rm sqlx-cache-tmp.sqlite
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi &&
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add src/types/generated/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npm run format -- --staged
      stage_fixed: true
    frontend-lint-biome:
      root: "frontend/"
      run: npm run lint:biome -- --write --staged
      stage_fixed: true
    frontend-lint-tsc:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint:tsc
    frontend-lint-eslint:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint:eslint

Enabled no accumulating spread rule
  frontend/biome.jsonc
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
  frontend/src/features/resolve_differences/components/DifferencesTable.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Merge main
  frontend/biome.jsonc
  frontend/src/app/RootLayout.test.tsx
  frontend/src/components/committee_session/CommitteeSessionStatus.tsx
  frontend/src/features/data_entry_home/hooks/useSingleCall.test.ts
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/features/resolve_differences/hooks/usePollingStationDataEntryDifferences.ts
  frontend/src/testing/test-utils.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Enabled use valid anchor rule (#2682)
  frontend/biome.jsonc
  frontend/src/features/account/components/FirstLoginForm.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Enabled no useless fragments rule (#2680)
  frontend/biome.jsonc
  frontend/src/components/ui/Form/Form.stories.tsx
  frontend/src/components/ui/Table/Table.test.tsx
  frontend/src/features/data_entry/components/FormKeyboardNavigation.stories.tsx
  frontend/src/features/election_status/components/ElectionStatus.tsx
  frontend/src/features/investigations/components/InvestigationCard.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Enabled no empty pattern and no descending specificity rules (#2679)
  frontend/biome.jsonc
  frontend/e2e-tests/fixtures.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Enabled use nodejs import protocol rule (#2676)
  frontend/biome.jsonc
  frontend/e2e-tests/helpers-utils/e2e-test-utils.ts
  frontend/scripts/gen_icons.js
  frontend/scripts/gen_openapi.ts
  frontend/scripts/gen_po.js
  frontend/scripts/gen_translation-json.js
  frontend/scripts/openapi/generator.ts
  frontend/src/types/openapi.test.ts
  frontend/vite-prod.config.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Restored ResolveDifferencesTables.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

merge main
  frontend/biome.jsonc
  frontend/scripts/gen_icons.js
  frontend/scripts/gen_po.js
Due: none

Enabled use const rule (#2678)
  frontend/biome.jsonc
  frontend/scripts/gen_icons.js
  frontend/scripts/gen_po.js
Due: none

Enabled use button type rule (#2684)
  frontend/biome.jsonc
  frontend/src/components/navbar/NavBarMenu.tsx
  frontend/src/components/ui/Tooltip/Tooltip.stories.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/hooks/messages/messages.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Enabled no accumulating spread rule (#2687)
  frontend/biome.jsonc
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
  frontend/src/features/resolve_differences/components/DifferencesTable.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Enable no array index key rule (#2674)
  frontend/biome.jsonc
  frontend/src/components/data_entry/DataEntrySubsections.tsx
  frontend/src/components/messages/Messages.tsx
  frontend/src/components/ui/Feedback/Feedback.tsx
  frontend/src/components/ui/ProgressBar/ProgressBar.tsx
  frontend/src/components/ui/ProgressList/ProgressList.stories.tsx
  frontend/src/features/election_create/components/RedactedHash.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.tsx
  frontend/src/features/resolve_differences/components/DifferencesTable.tsx
  frontend/src/i18n/format.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Enabled no label without control rule
  frontend/biome.jsonc
  frontend/src/components/ui/Button/Button.stories.tsx
  frontend/src/components/ui/Button/Button.tsx
  frontend/src/components/ui/FileInput/FileInput.tsx
  frontend/src/components/ui/Form/FormLayout.module.css
  frontend/src/components/ui/Form/FormLayout.stories.tsx
  frontend/src/components/ui/Form/FormLayout.tsx
  frontend/src/components/ui/InputField/InputField.stories.tsx
  frontend/src/components/ui/InputField/InputField.tsx
  frontend/src/components/ui/ProgressBar/ProgressBar.module.css
  frontend/src/components/ui/ProgressBar/ProgressBar.tsx
  frontend/src/components/ui/ProgressList/ProgressList.module.css
  frontend/src/components/ui/ProgressList/ProgressList.tsx
  frontend/src/components/ui/Spinner/Spinner.tsx
  frontend/src/features/account/components/AccountSetupForm.tsx
  frontend/src/features/account/components/CreateFirstAdminForm.tsx
  frontend/src/features/account/components/FirstLoginForm.tsx
  frontend/src/features/account/components/LoginForm.tsx
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
  frontend/src/features/election_create/components/CheckHash.tsx
  frontend/src/features/investigations/components/forms/InvestigationFindings.tsx
  frontend/src/features/investigations/components/forms/InvestigationReason.tsx
  frontend/src/features/logs/components/LogFilter.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Refactor long Rust functions (#2664)
  backend/src/bin/gen-test-election.rs
  backend/src/committee_session/api.rs
  backend/src/committee_session/status.rs
  backend/src/election/api.rs
  backend/src/eml/common.rs
  backend/src/eml/eml_230.rs
  backend/src/files/mod.rs
  backend/src/files/repository.rs
  backend/src/investigation/api.rs
  backend/src/pdf_gen/external.rs
  backend/src/pdf_gen/votes_table.rs
  backend/src/polling_station/mod.rs
  backend/src/report/api.rs
  backend/src/summary/mod.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Shorten validation functions (#2665)
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Enabled use template rule (#2675)
  frontend/biome.jsonc
  frontend/e2e-tests/tests/data-entry/resolve-differences.e2e.ts
  frontend/scripts/gen_translation-json.js
  frontend/scripts/list_routes.ts
  frontend/scripts/openapi/generator.ts
  frontend/src/components/footer/Footer.tsx
  frontend/src/components/ui/Button/Button.stories.tsx
  frontend/src/components/ui/NumberInput/NumberInput.tsx
  frontend/src/features/data_entry/components/DataEntryNavigation.test.tsx
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/components/differences/DifferenceForm.test.tsx
  frontend/src/features/election_create/components/CountingMethodType.tsx
  frontend/src/utils/ValidationResults.ts
  frontend/src/utils/candidate.ts
  frontend/vite-prod.config.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Improved failing test
  frontend/src/features/polling_stations/components/PollingStationForm.test.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Enable no prototype builtins rule (#2673)
  frontend/biome.jsonc
  frontend/eslint.config.js
  frontend/src/utils/typeChecks.ts
  frontend/tsconfig.json
Due: frontend-lint-tsc, frontend-lint-eslint

Enabled no static element interactions rule
  frontend/biome.jsonc
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Enabled no interactive element to non-interactive role rule as well and removed role attribute from dl elements
  frontend/biome.jsonc
  frontend/src/features/logs/components/LogDetailsModal.tsx
  frontend/src/features/logs/components/LogsHomePage.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Migrate rules from ESLint to Biome (#2685)
  frontend/biome.jsonc
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/check_server.js
  frontend/scripts/gen_po.js
  frontend/scripts/list_routes.ts
  frontend/src/components/committee_session/CommitteeSessionStatus.tsx
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/testing/router.tsx
  frontend/src/testing/test-utils.ts
  frontend/vite-prod.config.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Enabled use semantic elements rule (#2683)
  frontend/biome.jsonc
  frontend/src/features/data_entry_detail/components/ErrorsAndWarningsOverview.module.css
  frontend/src/features/data_entry_detail/components/ErrorsAndWarningsOverview.tsx
  frontend/src/features/logs/components/LogDetailsModal.tsx
  frontend/src/features/logs/components/LogsHomePage.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Migrate to pnpm
  .github/workflows/build-lint-test.yml
  .github/workflows/codecov.yml
  .github/workflows/release.yml
  Dockerfile
  backend/README.md
  documentatie/ontwikkelproces/GitHub-werkwijze.md
  documentatie/softwarearchitectuur/Vertalingen.md
  documentatie/style-guide/icons.md
  frontend/.npmrc
  frontend/@types/vitest.d.ts
  frontend/README.md
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/scripts/gen_icons.js
  frontend/src/components/generated/icons.tsx
  frontend/tsconfig.json
  frontend/vitest.config.ts
  lefthook.yml
Due: frontend-lint-tsc, frontend-lint-eslint

Enabled no label without control rule (#2689)
  frontend/biome.jsonc
  frontend/src/components/ui/Button/Button.stories.tsx
  frontend/src/components/ui/Button/Button.tsx
  frontend/src/components/ui/FileInput/FileInput.tsx
  frontend/src/components/ui/Form/FormLayout.module.css
  frontend/src/components/ui/Form/FormLayout.stories.tsx
  frontend/src/components/ui/Form/FormLayout.tsx
  frontend/src/components/ui/InputField/InputField.stories.tsx
  frontend/src/components/ui/InputField/InputField.tsx
  frontend/src/components/ui/ProgressBar/ProgressBar.module.css
  frontend/src/components/ui/ProgressBar/ProgressBar.tsx
  frontend/src/components/ui/ProgressList/ProgressList.module.css
  frontend/src/components/ui/ProgressList/ProgressList.tsx
  frontend/src/components/ui/Spinner/Spinner.tsx
  frontend/src/features/account/components/AccountSetupForm.tsx
  frontend/src/features/account/components/CreateFirstAdminForm.tsx
  frontend/src/features/account/components/FirstLoginForm.tsx
  frontend/src/features/account/components/LoginForm.tsx
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
  frontend/src/features/election_create/components/CheckHash.tsx
  frontend/src/features/investigations/components/forms/InvestigationFindings.tsx
  frontend/src/features/investigations/components/forms/InvestigationReason.tsx
  frontend/src/features/logs/components/LogFilter.tsx
  frontend/src/features/polling_stations/components/PollingStationForm.test.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Upgrade eslint-plugin-react-hooks to 7.0.1
  frontend/eslint.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

Upgrade Vite to 7.3.0
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

Use React Compiler
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/vite-prod.config.ts
  frontend/vite.config.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Changed to onToggle
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Removed not needed id
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Fix empty fragments and set lint rule to warn
  frontend/biome.jsonc
  frontend/src/components/navbar/NavBarLinks.tsx
  frontend/src/components/ui/Icon/StatusIcon.tsx
  frontend/src/components/ui/KeyboardKeys/KeyboardKeys.tsx
  frontend/src/features/election_create/components/RedactedHash.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Enabled no static element interactions rule (#2690)
  frontend/biome.jsonc
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Fix empty fragments and set lint rule to warn (#2696)
  frontend/biome.jsonc
  frontend/src/components/navbar/NavBarLinks.tsx
  frontend/src/components/ui/Icon/StatusIcon.tsx
  frontend/src/components/ui/KeyboardKeys/KeyboardKeys.tsx
  frontend/src/features/election_create/components/RedactedHash.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

adds Inlegvel Na 31-2 to overview input/output files
  documentatie/use-cases/input-output-bestanden.md
Due: none

adds Inlegvel Na 31-2 to use case tweede zitting
  documentatie/use-cases/gsb-tweede-zitting.md
Due: none

fixes typo
  documentatie/use-cases/input-output-bestanden.md
Due: none

adds CSB inserting Inlegvel Na 31-2 into the Na 31-2
  documentatie/use-cases/csb-zitting.md
Due: none

Install pnpm using Corepack in CI
  .github/workflows/build-lint-test.yml
  .github/workflows/codecov.yml
  .github/workflows/release.yml
Due: none

Fixed icon for PollingStationLink and improved spinner label
  frontend/src/components/ui/Icon/Icon.module.css
  frontend/src/components/ui/Icon/Icon.tsx
  frontend/src/components/ui/Spinner/Spinner.tsx
  frontend/src/features/data_entry_home/components/PollingStationChoice.module.css
  frontend/src/features/data_entry_home/components/PollingStationLink.tsx
Due: frontend-lint-tsc, frontend-lint-eslint
