Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

backend-sqlx-prepare:
  run: 'cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite && cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets && git add .sqlx && rm sqlx-cache-tmp.sqlite
  
    '

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi && git add openapi.json && cd ../frontend && pnpm gen:openapi && git add src/types/generated/openapi.ts
  
    '

frontend-lint-tsc:
  run: pnpm lint:tsc

frontend-lint-eslint:
  run: pnpm lint:eslint

Improve HighestAveragesTable with fraction aligned number cells (#3647)
  frontend/src/components/ui/Table/Table.stories.tsx
  frontend/src/components/ui/Table/Table.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Improve HighestAveragesTable with fraction aligned number cells (backport of #3647) (#3650)
  frontend/src/components/ui/Table/Table.stories.tsx
  frontend/src/components/ui/Table/Table.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Removed unused to_eml_code and serialize_all from ElectionSubCategory
  backend/src/domain/election.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Language check of all screens (#3648)
  frontend/src/app/routes.test.tsx
  frontend/src/components/ui/DownloadButton/DownloadButton.stories.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/investigations/components/InvestigationFindingsPage.test.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.test.tsx
  frontend/src/i18n/locales/nl/apportionment.json
  frontend/src/i18n/locales/nl/data_entry_detail.json
  frontend/src/i18n/locales/nl/error.json
  frontend/src/i18n/locales/nl/investigations.json
  frontend/src/i18n/locales/nl/log.json
Due: frontend-lint-tsc, frontend-lint-eslint

Fix `per_page` overflow in audit log pagination (#3649)
  backend/src/api/audit.rs
  backend/src/infra/audit_log/audit_log_events.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Clarify discard and reset in data entry state doc
  documentatie/state-machines/data-entry-state.md
Due: none

Language check of all screens (backport of #3648) (#3651)
  frontend/src/app/routes.test.tsx
  frontend/src/components/ui/DownloadButton/DownloadButton.stories.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/investigations/components/InvestigationFindingsPage.test.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.test.tsx
  frontend/src/i18n/locales/nl/apportionment.json
  frontend/src/i18n/locales/nl/data_entry_detail.json
  frontend/src/i18n/locales/nl/error.json
  frontend/src/i18n/locales/nl/investigations.json
  frontend/src/i18n/locales/nl/log.json
Due: frontend-lint-tsc, frontend-lint-eslint

Fix `per_page` overflow in audit log pagination (backport of #3649) (#3652)
  backend/src/api/audit.rs
  backend/src/infra/audit_log/audit_log_events.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update election.rs
  backend/src/api/election.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Clarify discard and reset in data entry state doc (#3653)
  documentatie/state-machines/data-entry-state.md
Due: none

Added check for category and subcategory mismatch and removed check for number of seats
  backend/sqlx.toml
  backend/src/api/election.rs
  backend/src/domain/election.rs
  backend/src/domain/polling_station.rs
  backend/src/eml/error.rs
  backend/src/eml/mod.rs
  backend/src/eml/tests/eml110a_invalid_election_category_and_sub_category_mismatch.eml.xml
  backend/tests/election_admin_integration_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add candidate nomination to differential fuzzer (#3595)
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/fuzz/src/apportionment_input.rs
  backend/apportionment/fuzz/src/logging.rs
  backend/apportionment/src/candidate_nomination/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Processed review comments from @stacktraceghost
  backend/src/api/election.rs
  backend/src/domain/election.rs
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added integration test for CommitteeCategoryForElectionCategoryNotSupported error
  backend/src/eml/tests/eml110a_test_AB.eml.xml
  backend/tests/election_admin_integration_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add correction states to data-entry-state.md
  documentatie/state-machines/data-entry-state.md
Due: none

Move text above diagram and update to new situation.
  documentatie/state-machines/data-entry-state.md
Due: none

Spike resolve differences
  backend/openapi.json
  backend/src/api/data_entry.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/validate.rs
  frontend/src/components/ui/Badge/Badge.module.css
  frontend/src/components/ui/Badge/Badge.stories.tsx
  frontend/src/components/ui/Badge/Badge.tsx
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/hooks/useDataEntryFormSection.ts
  frontend/src/features/data_entry/types/types.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.ts
  frontend/src/features/data_entry/utils/reducer.ts
  frontend/src/features/data_entry_home/utils/util.ts
  frontend/src/features/election_status/hooks/useElectionStatus.ts
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
  frontend/src/i18n/locales/nl/feedback_CSB.json
  frontend/src/i18n/locales/nl/feedback_GSB.json
  frontend/src/i18n/locales/nl/status.json
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
  frontend/src/types/generated/openapi.ts
  frontend/src/utils/dataEntryMapping.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Clarify discard and reset in data entry state doc (backport of #3653) (#3663)
  documentatie/state-machines/data-entry-state.md
Due: none

Backend add voter_cards_count to VotersCounts, update tests
  backend/openapi.json
  backend/src/domain/data_entry.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/src/domain/results/common_polling_station_results.rs
  backend/src/domain/results/differences_counts.rs
  backend/src/domain/results/gsb_differences_counts.rs
  backend/src/domain/results/gsb_results.rs
  backend/src/domain/results/mod.rs
  backend/src/domain/results/voters_counts.rs
  backend/src/domain/summary.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/repository/data_entry_repo.rs
  backend/src/test_data_gen/generators.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Extend dataEntryStructure snapshots with election category
  frontend/src/utils/__snapshots__/dataEntryStructure.CSOFirstSession.Municipal.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.CSOFirstSession.Provincial.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.CSOFirstSession.WaterAuthority.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.CSONextSession.Municipal.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.CSONextSession.Provincial.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.CSONextSession.WaterAuthority.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.GSB.Municipal.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.GSB.Provincial.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.GSB.WaterAuthority.snap
  frontend/src/utils/dataEntryStructure.test.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Frontend add voter_cards_count, add isDisabled, adjust keyboard navigation, update tests
  frontend/e2e-tests/page-objects/data_entry/VotersAndVotesPgObj.ts
  frontend/src/components/data_entry/subsections/InputGridSubsection.stories.tsx
  frontend/src/components/data_entry/subsections/InputGridSubsection.tsx
  frontend/src/components/ui/InputGrid/InputGridRow.tsx
  frontend/src/features/data_entry/hooks/useFormKeyboardNavigation.ts
  frontend/src/i18n/locales/nl/voters_votes_counts.json
  frontend/src/types/types.ts
  frontend/src/utils/__snapshots__/dataEntryStructure.CSOFirstSession.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.CSONextSession.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.GSB.snap
  frontend/src/utils/dataEntryMapping.ts
  frontend/src/utils/dataEntryStructure.test.ts
  frontend/src/utils/dataEntryStructure.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Test additions
  frontend/src/features/data_entry/components/cache.test.tsx
  frontend/src/utils/dataEntryMapping.test.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Update data_entry_status fuzzer and lockfile
  backend/fuzz/fuzz_targets/data_entry_status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Corrected is_municipality function and moved to scripts and check for category == "Municipal" where kiezerspassen are involved
  backend/templates/common/scripts.typ
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-14-2-bijlage1.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-2-bijlage1.typ
  backend/templates/model-na-31-2-inlegvel.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-22-2.typ
  backend/templates/model-p-2a.typ
Due: none

Added is_local_election function and correctly use it for the signature page as well
  backend/templates/common/scripts.typ
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-2-bijlage1.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-2a.typ
Due: none

Added variable for the_location for model-na-31-2.typ
  backend/templates/model-na-31-2.typ
Due: none

Replaced last "Municipal" check with #is_local_election function
  backend/templates/model-na-31-2-bijlage1.typ
Due: none

Implemented review comment suggestion
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-14-2-bijlage1.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-2-bijlage1.typ
  backend/templates/model-na-31-2-inlegvel.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-22-2.typ
  backend/templates/model-p-2a.typ
Due: none

Rename voter_cards_count to voter_card_count
  backend/fuzz/fuzz_targets/data_entry_status.rs
  backend/openapi.json
  backend/src/domain/data_entry.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/src/domain/results/common_polling_station_results.rs
  backend/src/domain/results/differences_counts.rs
  backend/src/domain/results/gsb_differences_counts.rs
  backend/src/domain/results/gsb_results.rs
  backend/src/domain/results/mod.rs
  backend/src/domain/results/voters_counts.rs
  backend/src/domain/summary.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/repository/data_entry_repo.rs
  backend/src/test_data_gen/generators.rs
  frontend/e2e-tests/page-objects/data_entry/VotersAndVotesPgObj.ts
  frontend/src/i18n/locales/nl/voters_votes_counts.json
  frontend/src/types/generated/openapi.ts
  frontend/src/utils/__snapshots__/dataEntryStructure.CSOFirstSession.Municipal.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.CSOFirstSession.Provincial.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.CSOFirstSession.WaterAuthority.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.CSONextSession.Municipal.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.CSONextSession.Provincial.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.CSONextSession.WaterAuthority.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.GSB.Municipal.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.GSB.Provincial.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.GSB.WaterAuthority.snap
  frontend/src/utils/dataEntryMapping.test.ts
  frontend/src/utils/dataEntryStructure.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Add validation rules for voter_cards_count, added/adjusted tests
  backend/src/api/data_entry.rs
  backend/src/domain/results/voters_counts.rs
  backend/src/domain/summary.rs
  backend/src/domain/validate.rs
  backend/tests/data_entries_integration_test.rs
  frontend/e2e-tests/tests/data-entry-GSB/resume-data-entry.e2e.ts
  frontend/src/components/ui/Feedback/Feedback.stories.tsx
  frontend/src/features/data_entry/components/cache.test.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/src/features/data_entry_detail/components/DetailSectionPage.test.tsx
  frontend/src/i18n/locales/nl/feedback_CSB.json
  frontend/src/i18n/locales/nl/feedback_GSB.json
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Update text, rename choices to resolve_differences and resolve_errors to make it more clear.
  documentatie/state-machines/data-entry-state.md
Due: none

Remove incorrect use of resp. (false Dutch analogy)
  documentatie/state-machines/data-entry-state.md
Due: none

Corrected `is_municipality` function and added `is_local_election` function (#3667)
  backend/templates/common/scripts.typ
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-14-2-bijlage1.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-2-bijlage1.typ
  backend/templates/model-na-31-2-inlegvel.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-22-2.typ
  backend/templates/model-p-2a.typ
Due: none

Add correction states to data-entry-state.md (#3665)
  documentatie/state-machines/data-entry-state.md
Due: none

Add regression test for zero votes P 22-2 error
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-lint-tsc: any of: *.{ts,tsx} and ^frontend/
  frontend-lint-eslint: any of: *.{ts,tsx} and ^frontend/
