Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: cargo run --package backend --bin gen-openapi && git add openapi.json
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-typescript:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npx tsc
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Disable `no-standalone-expect` for `fixtures.ts`
  frontend/e2e-tests/dom-to-db-tests/fixtures.ts
Due: frontend-typescript, frontend-linter

Updated based on Joris comment, make test numerators unique
  backend/src/apportionment/fraction.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use `pub mod` in integration tests to avoid dead code warnings
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

some cleanup
  frontend/e2e-tests/model-based-tests/data-entry-model.e2e.ts
Due: frontend-typescript, frontend-linter

cleanup and fixes
  frontend/e2e-tests/model-based-tests/data-entry-model.e2e.ts
  frontend/playwright.model-based.config.ts
Due: frontend-typescript, frontend-linter

more cleanup and comments
  frontend/e2e-tests/model-based-tests/data-entry-model.e2e.ts
Due: frontend-typescript, frontend-linter

remove out-of-scope TODOs
  frontend/e2e-tests/page-objects/data_entry/index.ts
Due: frontend-typescript, frontend-linter

Simplify backend fixtures and use API calls in Playwright d2d (#831)
  backend/.sqlx/query-1b07320538674e0088dee6d097c8e17f7a098f968d157f16be933d9376dc3a85.json
  backend/fixtures/election_1.sql
  backend/fixtures/election_2.sql
  backend/fixtures/election_3.sql
  backend/fixtures/polling_station_data_entries.sql
  backend/fixtures/polling_station_results.sql
  backend/fixtures/polling_stations.sql
  backend/openapi.json
  backend/src/data_entry/mod.rs
  backend/src/election/mod.rs
  backend/src/election/repository.rs
  backend/src/election/structs.rs
  backend/src/fixtures.rs
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
  frontend/app/component/form/user/login/LoginForm.tsx
  frontend/app/module/DevHomePage.tsx
  frontend/app/routes.tsx
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/fixtures.ts
  frontend/e2e-tests/dom-to-db-tests/pdf-rendering.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/resume-data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/dom-to-db-tests/zip-download.e2e.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/i18n/locales/nl/generic.json
  frontend/playwright.common.config.ts
  frontend/playwright.d2d.config.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

add simple e2e test for redirect
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.test.tsx
  frontend/e2e-tests/dom-to-db-tests/polling-station-crud.e2e.ts
  frontend/e2e-tests/page-objects/crud/PollingStationFormPgObj.ts
  frontend/e2e-tests/page-objects/crud/PollingStationListPgObj.ts
Due: frontend-typescript, frontend-linter

Build on ubuntu-latest with musl
  .github/workflows/build-lint-test.yml
Due: none

Add cargo target
  .github/workflows/build-lint-test.yml
Due: none

changes election ids in backend fixtures so election id 1 is the default one
  backend/.sqlx/query-111a62c9d93018a8e18d7668f5f8ffc50fe77a531b012535214c1d64df48a624.json
  backend/.sqlx/query-3749ee7b5f459af8946627cf3921278251c3fa80da00f09d7590832cc7e5c743.json
  backend/.sqlx/query-61f2578d0396908b72242f3ddea30ba11b4e72d61c3633199aff681817f4d585.json
  backend/.sqlx/query-b836c60b7f2a207d778817e5642b0af2c29d984ec0e991539f5436aef0c6547e.json
  backend/.sqlx/query-c402a2abf8f87023d69be85403e28559280dcfc5e3a043aac567dc94deacc34f.json
  backend/.sqlx/query-eb5055e6772b6da6159d3bec7a4b49847ec0bd43f126013fa7b5db32bdbfc4ba.json
  backend/fixtures/election_1.sql
  backend/fixtures/election_2.sql
  backend/fixtures/election_3.sql
  backend/src/data_entry/mod.rs
  backend/src/fixtures.rs
  backend/src/polling_station/mod.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Set debug path instead of release for binary
  .github/workflows/build-lint-test.yml
Due: none

Rustified for loops into folds to make code safer (reduced mutability)
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Removed traced test dependency and work in progress comment
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Removed tracing-test from documentation
  backend/README.md
Due: none

Update .github/workflows/build-lint-test.yml
  .github/workflows/build-lint-test.yml
Due: none

Update build-lint-test.yml
  .github/workflows/build-lint-test.yml
Due: none

Run clippy and tests for specified target
  .github/workflows/build-lint-test.yml
Due: none

Documentatie over i18n
  documentatie/softwarearchitectuur/vertalingen.md
Due: none

Build on ubuntu-latest with musl (#852)
  .github/workflows/build-lint-test.yml
Due: none

changed create_at to DateTime<Utc>
  backend/.sqlx/query-3bf3e099d7bc4086cc66115e25b6ae81cb213822f69a6fe1a04cda7cdde40b7e.json
  backend/.sqlx/query-d60362404fe11ca74512823160ea40064e867468ca1b962f69e7012c3c2a99e3.json
  backend/migrations/4_polling_station_results.sql
  backend/src/data_entry/repository.rs
  backend/src/data_entry/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Apply suggestions from code review
  documentatie/softwarearchitectuur/vertalingen.md
Due: none

Add GitHub Actions workflows for Sigrid
  .github/workflows/sigrid-pr-feedback.yml
  .github/workflows/sigrid-publish.yml
Due: none

Add existing Sigrid scope file
  sigrid.yaml
Due: none

Update Sigrid scope file
  sigrid.yaml
Due: none

Call login API endpoint
  backend/fixtures/reset.sql
  backend/src/fixtures.rs
  frontend/app/component/error/ErrorModal.tsx
  frontend/app/component/form/user/login/LoginForm.tsx
  frontend/app/module/DevHomePage.tsx
  frontend/lib/api/ApiError.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Remove sharding from Playwright d2d tests
  .github/workflows/build-lint-test.yml
Due: none

Use RFC3339 datetimes in the `polling_station_results` table (#856)
  backend/.sqlx/query-3bf3e099d7bc4086cc66115e25b6ae81cb213822f69a6fe1a04cda7cdde40b7e.json
  backend/.sqlx/query-d60362404fe11ca74512823160ea40064e867468ca1b962f69e7012c3c2a99e3.json
  backend/migrations/4_polling_station_results.sql
  backend/src/data_entry/repository.rs
  backend/src/data_entry/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added unit tests following the flowchart
  backend/src/data_entry/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

WIP created data entry reducer / context
  backend/Cargo.lock
  frontend/app/component/form/data_entry/PollingStationFormController.tsx
  frontend/app/component/form/data_entry/state/DataEntryProvider.tsx
  frontend/app/component/form/data_entry/state/actions.ts
  frontend/app/component/form/data_entry/state/reducer.ts
  frontend/app/component/form/data_entry/state/types.ts
  frontend/app/component/form/data_entry/state/useDataEntry.ts
  frontend/app/component/form/data_entry/state/useDataEntryContext.ts
Due: frontend-typescript, frontend-linter

Change election ids in backend fixtures so election id 1 is the default one (#853)
  backend/.sqlx/query-111a62c9d93018a8e18d7668f5f8ffc50fe77a531b012535214c1d64df48a624.json
  backend/.sqlx/query-3749ee7b5f459af8946627cf3921278251c3fa80da00f09d7590832cc7e5c743.json
  backend/.sqlx/query-61f2578d0396908b72242f3ddea30ba11b4e72d61c3633199aff681817f4d585.json
  backend/.sqlx/query-b836c60b7f2a207d778817e5642b0af2c29d984ec0e991539f5436aef0c6547e.json
  backend/.sqlx/query-c402a2abf8f87023d69be85403e28559280dcfc5e3a043aac567dc94deacc34f.json
  backend/.sqlx/query-eb5055e6772b6da6159d3bec7a4b49847ec0bd43f126013fa7b5db32bdbfc4ba.json
  backend/fixtures/election_1.sql
  backend/fixtures/election_2.sql
  backend/fixtures/election_3.sql
  backend/src/data_entry/mod.rs
  backend/src/fixtures.rs
  backend/src/polling_station/mod.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add `convert: rust` setting
  .github/workflows/sigrid-pr-feedback.yml
  .github/workflows/sigrid-publish.yml
Due: none

Upgrade to Node.js 22 LTS
  .github/workflows/build-lint-test.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
  docker-compose.yml
  frontend/.nvmrc
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
Due: none

WIP data entry reducer
  frontend/app/component/form/data_entry/state/DataEntryContext.ts
  frontend/app/component/form/data_entry/state/DataEntryProvider.tsx
  frontend/app/component/form/data_entry/state/reducer.ts
  frontend/app/component/form/data_entry/state/types.ts
  frontend/app/component/form/data_entry/state/useDataEntry.ts
  frontend/app/component/form/data_entry/state/useDataEntryContext.ts
Due: frontend-typescript, frontend-linter

Update backend/src/data_entry/status.rs
  backend/src/data_entry/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Configure Sigrid (#857)
  .github/workflows/sigrid-pr-feedback.yml
  .github/workflows/sigrid-publish.yml
  sigrid.yaml
Due: none
