Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

backend-sqlx-prepare:
  run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --all-features -- -D warnings

backend-openapi:
  run: cargo run --package backend --bin gen-openapi && git add openapi.json

frontend-typescript:
  run: npx tsc

frontend-linter:
  run: npm run lint {staged_files}

Removed duplicate ApiRequestState type
  frontend/lib/api/useApiRequest.ts
Due: frontend-typescript, frontend-linter

Moved numberFieldError into variable
  frontend/app/component/form/polling_station/PollingStationForm.tsx
Due: frontend-typescript, frontend-linter

Changed single polling station create d2d test into 2 because of 2 different states the list page can be in
  frontend/e2e-tests/dom-to-db-tests/polling-station-crud.e2e.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationListEmptyPgObj.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationListPgObj.ts
Due: frontend-typescript, frontend-linter

Make sure empty number of votes is null instead of 0 in the request to the api
  frontend/lib/util/form.test.ts
  frontend/lib/util/form.ts
Due: frontend-typescript, frontend-linter

Made sure to add a field error message when number is not unique
  frontend/app/component/form/polling_station/PollingStationForm.tsx
  frontend/lib/i18n/locales/nl/polling_station.json
Due: frontend-typescript, frontend-linter

Removed reset and now only show api-error alert on valid form
  frontend/app/component/form/polling_station/PollingStationForm.tsx
  frontend/lib/api/useCrud.ts
Due: frontend-typescript, frontend-linter

Added isValid also to numberFieldError because otherwise the api field error is still shown when the form is invalid
  frontend/app/component/form/polling_station/PollingStationForm.tsx
Due: frontend-typescript, frontend-linter

Remove mock Database
  frontend/lib/api-mocks/DataEntry.ts
  frontend/lib/api-mocks/Database.ts
  frontend/lib/api-mocks/index.ts
  frontend/lib/test/setup.ts
Due: frontend-typescript, frontend-linter

Reduce mock data
  frontend/lib/api-mocks/ElectionMockData.ts
Due: frontend-typescript, frontend-linter

Update frontend/app/component/form/polling_station/PollingStationForm.tsx
  frontend/app/component/form/polling_station/PollingStationForm.tsx
Due: frontend-typescript, frontend-linter

Update vertalingen.md
  documentatie/softwarearchitectuur/vertalingen.md
Due: none

Apply suggestions from code review
  documentatie/softwarearchitectuur/vertalingen.md
Due: none

Fix differences when converting json to po and back
  frontend/app/component/form/polling_station/PollingStationForm.tsx
  frontend/lib/i18n/locales/nl/form.json
  frontend/lib/i18n/locales/nl/form_errors.json
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/i18n/locales/nl/nl.ts
  frontend/scripts/gen_translation-json.js
Due: frontend-typescript, frontend-linter

Removed commented out lines
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Delete frontend/lib/i18n/locales/nl/form.json
  frontend/lib/i18n/locales/nl/form.json
Due: none

More specific state transition errors (#863)
  backend/src/data_entry/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Updated based on review comment
  frontend/e2e-tests/dom-to-db-tests/polling-station-crud.e2e.ts
Due: frontend-typescript, frontend-linter

Added unit tests following the flowchart (#860)
  backend/src/data_entry/status.rs
  documentatie/flowcharts/data-entry-state.md
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Log tracing events in tests
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/mod.rs
  backend/src/authentication/password.rs
  backend/src/authentication/util.rs
  backend/src/bin/gen-openapi.rs
  backend/src/data_entry/status.rs
  backend/src/data_entry/structs.rs
  backend/src/data_entry/validation.rs
  backend/src/eml/base.rs
  backend/src/eml/mod.rs
  backend/src/pdf_gen/mod.rs
  backend/src/summary/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Removed not needed css file
  frontend/app/module/election/page/ElectionStatusPage.module.css
Due: none

Fix differences when converting json to po and back (#877)
  frontend/app/component/form/polling_station/PollingStationForm.tsx
  frontend/lib/i18n/locales/nl/form_errors.json
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/i18n/locales/nl/nl.ts
  frontend/scripts/gen_translation-json.js
Due: frontend-typescript, frontend-linter

Update backend/README.md
  backend/README.md
Due: none

Removed not needed css file (#878)
  frontend/app/module/election/page/ElectionStatusPage.module.css
Due: none

Simplify mock server (#875)
  frontend/.eslintrc.cjs
  frontend/app/component/form/data_entry/PollingStationFormController.test.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.test.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/polling_station/PollingStationForm.test.tsx
  frontend/app/component/form/testHelperFunctions.ts
  frontend/app/module/data_entry/polling_station/AbortDataEntryControl.test.tsx
  frontend/app/module/data_entry/polling_station/PollingStation.test.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.test.tsx
  frontend/app/module/election/page/ElectionStatusPage.test.tsx
  frontend/app/routes.test.tsx
  frontend/lib/api-mocks/DataEntry.ts
  frontend/lib/api-mocks/Database.ts
  frontend/lib/api-mocks/ElectionMockData.ts
  frontend/lib/api-mocks/PollingStationMockData.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api-mocks/index.ts
  frontend/lib/test/setup.ts
Due: frontend-typescript, frontend-linter

i18n documentation (#855)
  documentatie/softwarearchitectuur/vertalingen.md
Due: none

Fix polling station form redirect bug (#843)
  frontend/app/module/polling_stations/page/PollingStationCreatePage.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.test.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.tsx
  frontend/e2e-tests/dom-to-db-tests/polling-station-crud.e2e.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationFormPgObj.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationListEmptyPgObj.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationListPgObj.ts
Due: frontend-typescript, frontend-linter

Remove mock handlers from vitest msw server, show missing mocks in failing tests
  frontend/lib/api/ApiClient.ts
  frontend/lib/test/router.ts
  frontend/lib/test/router.tsx
  frontend/lib/test/server.ts
  frontend/lib/test/setup.ts
Due: frontend-typescript, frontend-linter

Add mock handlers to individual tests
  frontend/app/component/form/data_entry/PollingStationFormController.test.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.test.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/polling_station/PollingStationForm.test.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.test.tsx
  frontend/app/module/data_entry/polling_station/AbortDataEntryControl.test.tsx
  frontend/app/module/data_entry/polling_station/PollingStation.test.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.test.tsx
  frontend/app/module/election/page/ElectionReportPage.test.tsx
  frontend/app/module/polling_stations/page/PollingStationCreatePage.test.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.test.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.test.tsx
  frontend/app/routes.test.tsx
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/api.test.ts
Due: frontend-typescript, frontend-linter

Show log messages in gh actions
  .github/workflows/build-lint-test.yml
Due: none

Added unhappy path tests and simplified code
  backend/src/data_entry/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Logging in sqlx::test, cleanup imports
  backend/Cargo.toml
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/mod.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/session.rs
  backend/src/authentication/user.rs
  backend/src/bin/abacus.rs
  backend/src/data_entry/mod.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/status.rs
  backend/src/data_entry/structs.rs
  backend/src/data_entry/validation.rs
  backend/src/election/mod.rs
  backend/src/election/structs.rs
  backend/src/error.rs
  backend/src/lib.rs
  backend/src/pdf_gen/mod.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/src/pdf_gen/world.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
  backend/src/summary/mod.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add key to list items on DevHomePage
  frontend/app/module/DevHomePage.tsx
Due: frontend-typescript, frontend-linter

Add key to list items on DevHomePage (#882)
  frontend/app/module/DevHomePage.tsx
Due: frontend-typescript, frontend-linter

Update README.md
  backend/README.md
Due: none

Log tracing events in tests (#879)
  .github/workflows/build-lint-test.yml
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/mod.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/password.rs
  backend/src/authentication/session.rs
  backend/src/authentication/user.rs
  backend/src/authentication/util.rs
  backend/src/bin/abacus.rs
  backend/src/bin/gen-openapi.rs
  backend/src/data_entry/mod.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/status.rs
  backend/src/data_entry/structs.rs
  backend/src/data_entry/validation.rs
  backend/src/election/mod.rs
  backend/src/election/structs.rs
  backend/src/eml/base.rs
  backend/src/eml/mod.rs
  backend/src/error.rs
  backend/src/lib.rs
  backend/src/pdf_gen/mod.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/src/pdf_gen/world.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
  backend/src/summary/mod.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Do not show server errors when there are client-side validation errors (#839)
  frontend/app/component/form/polling_station/PollingStationForm.test.tsx
  frontend/app/component/form/polling_station/PollingStationForm.tsx
  frontend/lib/api/useApiRequest.ts
  frontend/lib/api/useCrud.ts
  frontend/lib/i18n/locales/nl/polling_station.json
Due: frontend-typescript, frontend-linter

Make sure empty number of votes is null instead of 0 in the request to the api (#871)
  frontend/lib/util/form.test.ts
  frontend/lib/util/form.ts
Due: frontend-typescript, frontend-linter

Revert back to onUnhandledRequest: "error" instead of custom catch-all error response handler.
  frontend/app/module/data_entry/polling_station/PollingStationLayout.test.tsx
  frontend/lib/test/server.ts
  frontend/lib/test/setup.ts
Due: frontend-typescript, frontend-linter

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-typescript: any of: *.{ts,tsx} and ^frontend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
