Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: cargo run --package backend --bin gen-openapi && git add openapi.json
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-typescript:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npx tsc
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Added doc string for create endpoint and fixed doc links
  backend/openapi.json
  backend/src/polling_station/mod.rs
  backend/src/polling_station/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Err fatal flag and error reference to api errors
  backend/openapi.json
  backend/src/data_entry/mod.rs
  backend/src/data_entry/structs.rs
  backend/src/error.rs
  backend/src/lib.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

gen-openapi
  backend/openapi.json
Due: none

Add loading animation
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/lib/api/election/ElectionListProvider.tsx
  frontend/lib/api/election/ElectionProvider.tsx
  frontend/lib/api/election/ElectionStatusProvider.tsx
  frontend/lib/ui/Loader/Loader.module.css
  frontend/lib/ui/Loader/Loader.tsx
  frontend/lib/ui/index.ts
Due: frontend-typescript, frontend-linter

Added default current_timestamp and simplified SQL statement
  backend/fixtures/polling_station_results.sql
  backend/migrations/3_polling_station_data_entries.sql
  backend/migrations/4_polling_station_results.sql
  backend/src/data_entry/repository.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Updated query
  backend/.sqlx/query-afe4d565b1833303d4ade370f551b480f552fb5b5fa17f8a5d721c32c03be8e6.json
  backend/.sqlx/query-c2008926376e647830d7a8f0384b7e16fb3938f098cd56d6a198e1d561e3da29.json
Due: none

resolves TODOs
  documentatie/ontwikkelproces/GitHub-werkwijze.md
  documentatie/ontwikkelproces/proces-ontwikkeling-en-releases.md
  documentatie/ontwikkelproces/refinement.md
Due: none

Show loader after 2.5 seconds
  frontend/lib/i18n/i18n.types.ts
  frontend/lib/i18n/locales/nl.ts
  frontend/lib/ui/Loader/Loader.module.css
  frontend/lib/ui/Loader/Loader.tsx
Due: frontend-typescript, frontend-linter

Switched back to unixepoch, because current_time is a UTC timestamp
  backend/migrations/3_polling_station_data_entries.sql
  backend/migrations/4_polling_station_results.sql
  backend/src/data_entry/repository.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Updated query again
  backend/.sqlx/query-c2008926376e647830d7a8f0384b7e16fb3938f098cd56d6a198e1d561e3da29.json
  backend/.sqlx/query-ecd0f8fe77d9e368633c740c108e16b4ccb300952330f6bc51350f25a0209ba8.json
Due: none

Added timestamp to election polling stations status endpoint
  backend/openapi.json
  backend/src/polling_station/repository.rs
  backend/src/polling_station/structs.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Fixed i18n swapped translation
  frontend/app/module/election/page/OverviewPage.tsx
Due: frontend-typescript, frontend-linter

Updated query
  backend/.sqlx/query-04dcb0f9c25c5b0c19ed9eba9fab77f5060c1b4d04be01f7d2ceb9104c00a6d4.json
  backend/.sqlx/query-d8499e7b337529f5e1fc02980d585f2da509d0c874b2c2dc634988d6447e8be8.json
Due: none

Fixed i18n swapped translation (#543)
  frontend/app/module/election/page/OverviewPage.tsx
Due: frontend-typescript, frontend-linter

Fixed casing in fixture
  backend/fixtures/polling_stations.sql
Due: none

Add noscript tag and message
  frontend/index.html
Due: none

Add basic styling
  frontend/index.html
Due: none

Update backend/src/error.rs
  backend/src/error.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add openapi.ts
  backend/openapi.json
  backend/src/error.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Update frontend/index.html
  frontend/index.html
Due: none

First iteration of table component (#521)
  frontend/lib/ui/Table/Table.module.css
  frontend/lib/ui/Table/Table.stories.tsx
  frontend/lib/ui/Table/Table.test.tsx
  frontend/lib/ui/Table/Table.tsx
Due: frontend-typescript, frontend-linter

Update README.md
  README.md
Due: none

Add translations for error, election progress and candidates votes
  frontend/app/component/election/ElectionProgress.tsx
  frontend/app/component/election/ElectionStatusProgress.tsx
  frontend/app/component/error/Error.tsx
  frontend/app/component/error/ErrorModal.test.tsx
  frontend/app/component/error/ErrorModal.tsx
  frontend/app/component/footer/Footer.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/lib/i18n/i18n.ts
  frontend/lib/i18n/i18n.types.ts
  frontend/lib/i18n/locales/nl.ts
Due: frontend-typescript, frontend-linter

Restore error modal message
  frontend/app/component/error/ErrorModal.test.tsx
  frontend/lib/i18n/locales/nl.ts
Due: frontend-typescript, frontend-linter

Add noscript tag and message (#547)
  frontend/index.html
Due: none

Add skip serializing annotations for optional NewPollingStationRequest fields
  backend/openapi.json
  backend/src/polling_station/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Translated check and save form
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/lib/i18n/i18n.types.ts
  frontend/lib/i18n/locales/nl.ts
Due: frontend-typescript, frontend-linter

Invalid json is a fatal error
  backend/openapi.json
  backend/src/error.rs
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Improve API client and API error handling (#518)
  frontend/app/component/error/ErrorBoundary.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.test.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/lib/api/ApiClient.test.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/ApiError.ts
  frontend/lib/api/ApiProvider.tsx
  frontend/lib/api/ApiProviderContext.tsx
  frontend/lib/api/ApiResponseStatus.ts
  frontend/lib/api/api.d.ts
  frontend/lib/api/api.types.ts
  frontend/lib/api/election/ElectionListProvider.tsx
  frontend/lib/api/election/ElectionProvider.tsx
  frontend/lib/api/election/ElectionProviderContext.tsx
  frontend/lib/api/election/ElectionStatusProvider.tsx
  frontend/lib/api/election/ElectionStatusProviderContext.tsx
  frontend/lib/api/election/useElection.ts
  frontend/lib/api/election/useElectionList.ts
  frontend/lib/api/election/useElectionStatus.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/pollingStationUtils.ts
  frontend/lib/api/index.ts
  frontend/lib/api/polling_station/usePollingStationListRequest.ts
  frontend/lib/api/useApi.ts
  frontend/lib/api/useApiGetRequest.ts
  frontend/lib/api/useApiRequest.ts
  frontend/lib/api/useElectionDataRequest.test.ts
  frontend/lib/api/useElectionDataRequest.ts
  frontend/lib/api/useElectionListRequest.test.ts
  frontend/lib/api/useElectionListRequest.ts
  frontend/lib/api/useElectionStatusRequest.ts
  frontend/lib/i18n/i18n.types.ts
  frontend/lib/i18n/locales/nl.ts
  frontend/lib/ui/Loader/Loader.module.css
  frontend/lib/ui/Loader/Loader.tsx
  frontend/lib/ui/index.ts
Due: frontend-typescript, frontend-linter

add prettier config to generator add openapi.ts check for latest version
  frontend/lib/api/openapi.test.ts
  frontend/scripts/gen_openapi_types.ts
  frontend/scripts/openapi/generator.ts
  frontend/scripts/openapi/openapi.ts
Due: frontend-typescript, frontend-linter

update generator to include all requests in a path
  frontend/lib/api/gen/openapi.ts
  frontend/scripts/openapi/generator.ts
Due: frontend-typescript, frontend-linter

Generate openapi.ts
  frontend/lib/api/gen/openapi.ts
Due: frontend-typescript, frontend-linter

fix prettier config resolving
  frontend/scripts/openapi/generator.ts
Due: frontend-typescript, frontend-linter

Fix flaky header focus test
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
Due: frontend-typescript, frontend-linter

Updated timestamp to updated_at for dataEntry and created_at for result
  backend/.sqlx/query-04dcb0f9c25c5b0c19ed9eba9fab77f5060c1b4d04be01f7d2ceb9104c00a6d4.json
  backend/.sqlx/query-3bf3e099d7bc4086cc66115e25b6ae81cb213822f69a6fe1a04cda7cdde40b7e.json
  backend/.sqlx/query-6b324b62017a7b95bb9d3dd3e971b79cb0756ca356e69273a5f99b7b22b0f58e.json
  backend/.sqlx/query-a547a2a3781a3ae6836065b775583c745c28532143cc627e52b202842610894d.json
  backend/.sqlx/query-c2098a2e2221a033009dd54377bdeb11da6cd1722439eea4a183912dab7214ba.json
  backend/.sqlx/query-ecd0f8fe77d9e368633c740c108e16b4ccb300952330f6bc51350f25a0209ba8.json
  backend/.sqlx/query-f005ea908ac292a7caae56f9cb5cbfebc5a36a0aba9c863708acc75107b93ae6.json
  backend/migrations/3_polling_station_data_entries.sql
  backend/migrations/4_polling_station_results.sql
  backend/openapi.json
  backend/src/data_entry/mod.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/structs.rs
  backend/src/polling_station/repository.rs
  backend/src/polling_station/structs.rs
  frontend/e2e-tests/dom-to-db-tests/test-data/PollingStationTestData.ts
  frontend/lib/api-mocks/Database.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Add fatal flag and error reference to api errors (#539)
  backend/openapi.json
  backend/src/data_entry/mod.rs
  backend/src/data_entry/structs.rs
  backend/src/error.rs
  backend/src/lib.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Use constants in API client
  frontend/lib/api/ApiClient.ts
Due: frontend-typescript, frontend-linter
