Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite &&
        cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets &&
        git add .sqlx &&
        rm sqlx-cache-tmp.sqlite
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --features e2e-helpers -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi --features e2e-helpers &&
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add src/types/generated/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Update documentation for readonly functionality (#2492)
  documentatie/flowcharts/committee-session-state.md
  documentatie/flowcharts/data-entry-state.md
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
  documentatie/use-cases/gsb-tweede-zitting.md
Due: none

Hash check input sensitivity and font (#2494)
  frontend/e2e-tests/tests/election-create.e2e.ts
  frontend/src/features/election_create/components/CheckHash.tsx
  frontend/src/styles/typography.css
Due: frontend-linter

Added test for info alert
  frontend/src/features/polling_stations/components/PollingStationListPage.test.tsx
Due: frontend-linter

Make dataEntryStructure sectionNumber and checkbox titles model specific (#2493)
  frontend/e2e-tests/page-objects/data_entry/DifferencesPgObj.ts
  frontend/src/components/data_entry/subsections/InputGridSubsection.stories.tsx
  frontend/src/i18n/locales/nl/differences_counts.json
  frontend/src/i18n/locales/nl/voters_votes_counts.json
  frontend/src/utils/dataEntryMapping.test.ts
  frontend/src/utils/dataEntryStructure.test.ts
  frontend/src/utils/dataEntryStructure.ts
Due: frontend-linter

Updated footer (#2498)
  frontend/src/components/footer/Footer.tsx
  frontend/src/i18n/locales/nl/generic.json
Due: frontend-linter

Adjusted filenames according to what uitwisselplatform expects
  backend/src/report/api.rs
  backend/src/zip/mod.rs
  backend/tests/election_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed e2e tests
  frontend/e2e-tests/tests/full-flow.e2e.ts
  frontend/e2e-tests/tests/zip-download.e2e.ts
Due: frontend-linter

Changed to use local time for the filename
  backend/src/report/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Closes #2478
  frontend/e2e-tests/page-objects/data_entry/DifferencesPgObj.ts
  frontend/src/i18n/locales/nl/differences_counts.json
  frontend/src/utils/dataEntryStructure.ts
Due: frontend-linter

Removed not needed imports and added Bijlage 1 voorblad to Na 14-2 and Na 31-2
  backend/templates/common/scripts.typ
  backend/templates/common/style.typ
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-14-2-bijlage1.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-2-inlegvel.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-2a.typ
Due: none

Fixed navbar height and button size in finish data entry alert on investigations page
  frontend/src/components/navbar/NavBar.module.css
  frontend/src/features/investigations/components/InvestigationsOverviewPage.tsx
Due: frontend-linter

Changed copy for "Verschil tussen D en H volledig verklaard?" from "Nee" to "Nee, er is een onverklaard verschil" (#2502)
  frontend/e2e-tests/page-objects/data_entry/DifferencesPgObj.ts
  frontend/src/i18n/locales/nl/differences_counts.json
  frontend/src/utils/dataEntryStructure.ts
Due: frontend-linter

Fix typo heropent -> heropend
  frontend/src/i18n/locales/nl/investigations.json
  frontend/src/i18n/locales/nl/polling_station.json
Due: none

Fix typo heropent -> heropend (#2509)
  frontend/src/i18n/locales/nl/investigations.json
  frontend/src/i18n/locales/nl/polling_station.json
Due: none

Apply suggestions from code review
  backend/templates/model-na-31-2.typ
Due: none

Fixed rendering of error message
  frontend/src/features/data_entry_home/components/PollingStationChoice.module.css
Due: none

Run `npm audit fix` to fix `js-yaml` vulnerability
  frontend/package-lock.json
Due: none

Renamed check function and variable and added extra tests for it
  frontend/src/features/polling_stations/components/PollingStationListPage.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.tsx
  frontend/src/features/polling_stations/utils/checks.test.ts
  frontend/src/features/polling_stations/utils/checks.ts
Due: frontend-linter

Run `npm audit fix` to fix `js-yaml` vulnerability (#2513)
  frontend/package-lock.json
Due: none

Assertion for failures
  backend/tests/authorization_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Updated signature titles for typst models
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-2a.typ
Due: none

Fixed navbar height and button size in finish data entry alert on investigations page (#2504)
  frontend/src/components/navbar/NavBar.module.css
  frontend/src/features/data_entry_home/components/PollingStationChoice.module.css
  frontend/src/features/investigations/components/InvestigationsOverviewPage.tsx
Due: frontend-linter

Restrict polling station create, update and delete for administrators (#2452)
  backend/src/authentication/role.rs
  backend/src/polling_station/mod.rs
  backend/tests/committee_session_integration_test.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/data_entries_resolve_integration_test.rs
  backend/tests/investigation_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
  frontend/e2e-tests/tests/polling-station-crud.e2e.ts
  frontend/src/features/polling_stations/components/PollingStationListPage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationListPage.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.tsx
  frontend/src/features/polling_stations/utils/checks.test.ts
  frontend/src/features/polling_stations/utils/checks.ts
  frontend/src/i18n/locales/nl/polling_station.json
  frontend/src/testing/api-mocks/PollingStationMockData.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Made sure date time in zip filename is the date time the files inside are generated
  backend/.sqlx/query-5251ce67fd22aec610d890fa57799e3ac1cbb113543f0411abdd4d249f5f1eba.json
  backend/.sqlx/query-c759aa6bbcccf33cf87aeade9de9822a9a78b8aa842364f8f457548eda4f51be.json
  backend/.sqlx/query-fec8f06dccdbb17d70237846046f4ba41e935895f59fef137fcbd2e2119e7af2.json
  backend/migrations/9_files.sql
  backend/openapi.json
  backend/src/audit_log/audit_event.rs
  backend/src/committee_session/status.rs
  backend/src/files/mod.rs
  backend/src/files/repository.rs
  backend/src/report/api.rs
  frontend/src/i18n/locales/nl/log.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Provide empty inlegvel Na 31-2 for corrigendum as additional doc in a second session (#2497)
  backend/openapi.json
  backend/src/bin/gen-pdf.rs
  backend/src/document/api.rs
  backend/src/pdf_gen/embedded/world.rs
  backend/src/pdf_gen/models/mod.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/src/pdf_gen/models/model_p_2a.rs
  backend/src/pdf_gen/typst_tests.rs
  backend/src/report/api.rs
  backend/templates/inputs/model-na-31-2-inlegvel.json
  backend/templates/inputs/model-p-2a.json
  backend/templates/model-na-31-2-inlegvel.typ
  backend/templates/visual-diff.sh
  backend/tests/election_integration_test.rs
  frontend/e2e-tests/page-objects/election/ElectionHomePgObj.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/i18n/locales/nl/election_management.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Made filename check in e2e test more specific
  frontend/e2e-tests/tests/full-flow.e2e.ts
  frontend/e2e-tests/tests/zip-download.e2e.ts
Due: frontend-linter

Windows setup configuration and assets
  packaging/windows/abacus.ico
  packaging/windows/abacus.iss
  packaging/windows/abacus_wizard.png
  packaging/windows/abacus_wizard_small.png
Due: none

Updated signature fields
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-2a.typ
Due: none

Update backend/templates/model-na-14-2.typ
  backend/templates/model-na-14-2.typ
Due: none

Updated signature fields in typst models
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-2-bijlage1.typ
  backend/templates/model-na-31-2-inlegvel.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-2a.typ
Due: none

Add fuzzer for data entry state matchine
  backend/fuzz/.gitignore
  backend/fuzz/Cargo.lock
  backend/fuzz/Cargo.toml
  backend/fuzz/fuzz_targets/data_entry_status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add security attribute to endpoint (lost in main merge)
  backend/openapi.json
  backend/src/document/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Default to port 80 for release builds
  Dockerfile
  backend/README.md
  backend/src/app_error.rs
  backend/src/bin/abacus.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add README for fuzz test
  backend/fuzz/README.md
Due: none

OpenAPI security schemes / Swagger roles doc (#2481)
  backend/openapi.json
  backend/src/audit_log/api.rs
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/user_api.rs
  backend/src/committee_session/api.rs
  backend/src/data_entry/api.rs
  backend/src/document/api.rs
  backend/src/election/api.rs
  backend/src/investigation/api.rs
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/report/api.rs
  backend/tests/authorization_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Get latest version tag from git
  packaging/windows/abacus.iss
Due: none

Default to port 80 for release builds (#2525)
  Dockerfile
  backend/README.md
  backend/src/app_error.rs
  backend/src/bin/abacus.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Processed review comments
  backend/src/report/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed typos in typst models
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-2-bijlage1.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-2a.typ
Due: none

PR feedback
  backend/templates/model-n-10-2.typ
Due: none
