Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

backend-sqlx-prepare:
  run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --all-features -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi &&  git add openapi.json && cd ../frontend && npm run gen:openapi && git add lib/api/gen/openapi.ts
  
    '

frontend-linter:
  run: npm run lint {staged_files}

Update use cases after meeting on 2025-07-07
  documentatie/use-cases/autorisatiematrix.md
  documentatie/use-cases/beheerder.md
  documentatie/use-cases/gsb-eerste-zitting.md
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Due: none

Update committee-session-state.md
  documentatie/flowcharts/committee-session-state.md
Due: none

Added flowchart for committee session state (#1710)
  documentatie/flowcharts/committee-session-state.md
Due: none

Working on the CommitteeSession cards
  frontend/src/app/routes.test.tsx
  frontend/src/components/committee_session/CommitteeSession.module.css
  frontend/src/components/committee_session/CommitteeSessionCard.tsx
  frontend/src/components/committee_session/CommitteeSessionStatus.test.tsx
  frontend/src/components/committee_session/CommitteeSessionStatus.tsx
  frontend/src/components/committee_session_status_with_icon/CommitteeSessionStatusWithIcon.tsx
  frontend/src/components/layout/ElectionLayout.tsx
  frontend/src/components/ui/Icon/CommitteeSessionStatusIcon.tsx
  frontend/src/components/ui/Icon/Icon.module.css
  frontend/src/features/data_entry_home/components/DataEntryHomePage.test.tsx
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/election_management/components/ElectionManagement.module.css
  frontend/src/features/election_management/components/ElectionReportPage.module.css
  frontend/src/features/election_management/components/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/ElectionReportPage.tsx
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.test.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsLayout.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsSectionPage.test.tsx
  frontend/src/hooks/committee_session/CommitteeSessionListProvider.tsx
  frontend/src/hooks/committee_session/useCommitteeSessionListRequest.ts
  frontend/src/styles/typography.css
  sigrid.yaml
Due: frontend-linter

Scroll list total into view on F.402 error
  frontend/src/components/ui/InputGrid/InputGridRow.tsx
  frontend/src/components/ui/NumberInput/NumberInput.tsx
Due: frontend-linter

Scroll+focus validation checkbox when left unchecked
  frontend/src/features/data_entry/components/DataEntrySection.tsx
Due: frontend-linter

Go to resolve errors after resolve differences when keeping second data entry with errors (#1704)
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/helpers-utils/e2e-test-api-helpers.ts
  frontend/e2e-tests/page-objects/election/ResolveDifferencesPgObj.ts
  frontend/e2e-tests/page-objects/election/ResolveErrorsPgObj.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/resolve-differences.e2e.ts
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
  frontend/src/features/resolve_differences/hooks/usePollingStationDataEntryDifferences.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: frontend-linter

Implement Option<Vec<...> types in frontend openapi generator (#1729)
  frontend/scripts/openapi/generator.ts
Due: frontend-linter

Update frontend/e2e-tests/tests/election-create.e2e.ts
  frontend/e2e-tests/tests/election-create.e2e.ts
Due: frontend-linter

Update frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
Due: frontend-linter

Fix import of candidate list without addresses
  backend/src/eml/common.rs
  backend/src/eml/eml_230.rs
  backend/src/eml/tests/eml230b_test_without_addresses.eml.xml
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added more contents to the cards and added stories
  backend/fixtures/election_1.sql
  backend/fixtures/election_5.sql
  backend/src/committee_session/api.rs
  frontend/src/components/committee_session/CommitteeSession.module.css
  frontend/src/components/committee_session/CommitteeSessionCard.stories.tsx
  frontend/src/components/committee_session/CommitteeSessionCard.tsx
  frontend/src/components/navbar/NavBarLinks.tsx
  frontend/src/components/ui/Button/Button.module.css
  frontend/src/components/ui/Table/Table.module.css
  frontend/src/features/election_create/components/ElectionCreateLayout.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
  frontend/src/features/election_management/components/ElectionManagement.module.css
  frontend/src/features/polling_stations/components/PollingStationCreatePage.tsx
  frontend/src/features/polling_stations/components/PollingStationListPage.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.tsx
  frontend/src/i18n/locales/nl/election_management.json
  frontend/src/i18n/locales/nl/generic.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Upgrade to React 19
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/data_entry/hooks/useFormKeyboardNavigation.ts
  frontend/src/features/logs/components/LogsHomePage.test.tsx
Due: frontend-linter

Import polling stations WIP
  backend/openapi.json
  backend/src/election/api.rs
  backend/src/eml/common.rs
  backend/src/eml/eml_110.rs
  backend/src/eml/tests/eml110b_empty_polling_station.eml.xml
  backend/src/eml/tests/eml110b_invalid_number_of_voters.eml.xml
  backend/src/polling_station/repository.rs
  backend/src/polling_station/structs.rs
  backend/tests/election_admin_integration_tests.rs
  frontend/src/features/election_create/components/CheckAndSave.tsx
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_create/components/ElectionCreateContextProvider.tsx
  frontend/src/features/election_create/components/UploadCandidatesDefinition.tsx
  frontend/src/features/election_create/components/UploadPollingStationDefinition.tsx
  frontend/src/features/election_create/routes.tsx
  frontend/src/i18n/locales/nl/election.json
  frontend/src/testing/api-mocks/ElectionMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fix import of candidate list without addresses (#1751)
  backend/src/eml/common.rs
  backend/src/eml/eml_230.rs
  backend/src/eml/tests/eml230b_test_without_addresses.eml.xml
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Started on e2e tests for polling stations
  frontend/e2e-tests/page-objects/election/create/UploadPollingStationsDefinitionPgObj.ts
  frontend/e2e-tests/tests/election-create.e2e.ts
  frontend/src/types/generated/openapi.ts
Due: frontend-linter

Fixed/updated several e2e tests
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/page-objects/election/create/CheckPollingStationDefinitionPgObj.ts
  frontend/e2e-tests/page-objects/election/create/UploadPollingStationDefinitionPgObj.ts
  frontend/e2e-tests/tests/election-create.e2e.ts
Due: frontend-linter

Add modal close button test
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
Due: frontend-linter

Messages provider, hook and component to show a message to the user on the next page (#1711)
  backend/.sqlx/query-b3d99cb99ecf3b247d3fa0b7983cf34c13df010e896d7f0f04854273c8ef5cc9.json
  backend/.sqlx/query-f36930d314a9119e399eb5242e5850d41902b9a5e63371a92a809e15d0ee35a1.json
  backend/openapi.json
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
  backend/tests/polling_station_integration_test.rs
  frontend/src/components/messages/Messages.test.tsx
  frontend/src/components/messages/Messages.tsx
  frontend/src/features/polling_stations/components/PollingStationCreatePage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationCreatePage.tsx
  frontend/src/features/polling_stations/components/PollingStationDeleteModal.tsx
  frontend/src/features/polling_stations/components/PollingStationListPage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationListPage.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.tsx
  frontend/src/features/polling_stations/components/PollingStationsLayout.tsx
  frontend/src/hooks/messages/MessagesContext.ts
  frontend/src/hooks/messages/MessagesProvider.tsx
  frontend/src/hooks/messages/messages.test.tsx
  frontend/src/hooks/messages/useMessages.ts
  frontend/src/i18n/locales/nl/polling_station.json
  frontend/src/i18n/translate.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Add create election abort button and confirmation modal on navigation (#1667)
  frontend/e2e-tests/page-objects/NavBarPgObj.ts
  frontend/e2e-tests/page-objects/election/create/AbortModalPgObj.ts
  frontend/e2e-tests/page-objects/election/create/CheckElectionDefinitionPgObj.ts
  frontend/e2e-tests/tests/election-create.e2e.ts
  frontend/src/features/election_create/components/AbortControl.tsx
  frontend/src/features/election_create/components/AbortModal.tsx
  frontend/src/features/election_create/components/CheckAndSave.tsx
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_create/components/ElectionCreateContextProvider.tsx
  frontend/src/features/election_create/components/ElectionCreateLayout.tsx
  frontend/src/features/election_create/components/ElectionHeader.tsx
  frontend/src/i18n/locales/nl/election.json
Due: frontend-linter

Refactored to only add the committee sessions list provider to the election home page
  frontend/src/components/committee_session/CommitteeSessionStatus.tsx
  frontend/src/components/layout/ElectionLayout.tsx
  frontend/src/features/data_entry_home/components/DataEntryHomePage.test.tsx
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.module.css
  frontend/src/features/election_management/components/CommitteeSessionCard.stories.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/election_management/components/CommitteeSessionCards.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/election_management/components/ElectionReportPage.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsLayout.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsSectionPage.test.tsx
Due: frontend-linter

Added number of lists and candidates to election information table
  frontend/src/features/apportionment/components/ChosenCandidatesTable.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesRankingTable.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithVotesTable.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
  frontend/src/i18n/locales/nl/candidate.json
  frontend/src/i18n/locales/nl/generic.json
  frontend/src/utils/dataEntryMapping.test.ts
  frontend/src/utils/dataEntryStructure.ts
Due: frontend-linter

Processed review comments
  backend/.sqlx/query-4b48d05711e5a3e8719c7c1b3cee4e4758a2dffff270ca80f159ccf1cc59540a.json
  backend/src/committee_session/api.rs
  backend/src/committee_session/repository.rs
  frontend/src/components/committee_session/CommitteeSessionStatus.tsx
  frontend/src/components/ui/Table/Table.module.css
  frontend/src/features/election_management/components/CommitteeSessionCard.module.css
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Update use cases after meeting on 2025-07-07 (#1734)
  documentatie/use-cases/autorisatiematrix.md
  documentatie/use-cases/beheerder.md
  documentatie/use-cases/gsb-eerste-zitting.md
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Due: none

Added tests
  frontend/src/features/election_management/components/CommitteeSessionCard.stories.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCards.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.test.tsx
Due: frontend-linter

Made some last improvements
  frontend/src/app/routes.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionReportPage.test.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.test.tsx
Due: frontend-linter

Fixed flex direction of the cards
  frontend/src/features/election_management/components/CommitteeSessionCards.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
Due: frontend-linter

Update gsb-invoer-tweede-zitting.md
  documentatie/use-cases/gsb-invoer-tweede-zitting.md
Due: none

Improved the ButtonLinkList to not use the Table but custom style it
  frontend/src/features/election_management/components/CommitteeSessionCard.module.css
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
Due: frontend-linter

Fixed the cursor pointer not working on the ButtonLinks
  frontend/src/features/election_management/components/CommitteeSessionCard.module.css
Due: none

Update gsb-eerste-zitting.md
  documentatie/use-cases/gsb-eerste-zitting.md
Due: none

Update gsb-invoer-eerste-zitting.md
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Due: none

Update beheerder.md
  documentatie/use-cases/beheerder.md
Due: none

Update gsb-tweede-zitting.md
  documentatie/use-cases/gsb-tweede-zitting.md
Due: none

Fixed msw
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: frontend-linter

Always add title to subsection input grid rows
  frontend/src/components/data_entry/DataEntrySubsections.tsx
  frontend/src/components/data_entry/subsections/InputGridSubsection.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.tsx
  frontend/src/types/types.ts
  frontend/src/utils/dataEntryMapping.test.ts
  frontend/src/utils/dataEntryStructure.ts
Due: frontend-linter

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
