Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

backend-sqlx-prepare:
  run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --all-features -- -D warnings

backend-openapi:
  run: cargo run --package backend --bin gen-openapi && git add openapi.json

frontend-typescript:
  run: npx tsc

frontend-linter:
  run: npm run lint {staged_files}

Create frontend-structuur.md with current folder structure of the frontend and a short description per significant folder
  documentatie/ontwikkelproces/test-tooling.md
Due: none

Improved showing of error, making sure the page does not need to be scrolled to show the button
  frontend/app/component/form/user/login/LoginForm.tsx
  frontend/lib/ui/Alert/Alert.tsx
Due: frontend-typescript, frontend-linter

Call login API endpoint (#858)
  backend/fixtures/reset.sql
  backend/migrations/5_users.sql
  backend/src/authentication/mod.rs
  backend/src/fixtures.rs
  backend/src/lib.rs
  frontend/app/component/error/ErrorModal.test.tsx
  frontend/app/component/error/ErrorModal.tsx
  frontend/app/component/form/user/login/LoginForm.test.tsx
  frontend/app/component/form/user/login/LoginForm.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.test.tsx
  frontend/app/module/data_entry/polling_station/PollingStation.test.tsx
  frontend/e2e-tests/authentication.e2e.ts
  frontend/lib/api/ApiError.ts
  frontend/lib/test/server.ts
  frontend/lib/ui/Alert/Alert.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

adds distinction between presentational and container components; simplifies things
  documentatie/ontwikkelproces/test-tooling.md
Due: none

Added user listing endpoint
  backend/.sqlx/query-e33680aacdb322ec1b289086c3c7abd85ab64e2f3f72bfa220ee3be8e4e9a349.json
  backend/src/authentication/mod.rs
  backend/src/authentication/user.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Frontend user state and change-password/whoami endpoints
  backend/.sqlx/query-e4eb622073cbdf868ec1568a6bdb132e962480b0530d542102c05aa9e901463b.json
  backend/openapi.json
  backend/src/authentication/mod.rs
  backend/src/authentication/user.rs
  backend/src/lib.rs
  frontend/app/component/form/user/change_password/ChangePassword.test.tsx
  frontend/app/component/form/user/change_password/ChangePasswordForm.tsx
  frontend/app/component/form/user/login/LoginForm.tsx
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/account/page/ChangePasswordPage.tsx
  frontend/app/routes.tsx
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/ApiProvider.tsx
  frontend/lib/api/ApiProviderContext.tsx
  frontend/lib/api/api.types.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/api/index.ts
  frontend/lib/api/useApiState.ts
  frontend/lib/api/useSessionState.ts
  frontend/lib/api/useUser.ts
  frontend/lib/i18n/locales/nl/user.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Fix whoami request handling in tests
  frontend/app/component/form/user/change_password/ChangePassword.test.tsx
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/ApiProvider.tsx
  frontend/lib/api/useSessionState.ts
  frontend/lib/test/Providers.tsx
Due: frontend-typescript, frontend-linter

Frontend build without dev dependencies
  .github/workflows/build-lint-test.yml
  .github/workflows/release.yml
  frontend/app/main.tsx
  frontend/package-lock.json
  frontend/package.json
Due: frontend-typescript, frontend-linter

Use controlled input for change password form
  frontend/app/component/form/user/change_password/ChangePasswordForm.tsx
Due: frontend-typescript, frontend-linter

Move `cross-env` to dev dependencies
  frontend/app/types.d.ts
  frontend/package.json
Due: frontend-typescript, frontend-linter

Fixed bug Election Status Page 2nd entry progress is always 100% (#912)
  frontend/app/component/election/status/ElectionStatus.stories.tsx
  frontend/app/component/election/status/ElectionStatus.test.tsx
  frontend/app/component/election/status/ElectionStatus.tsx
Due: frontend-typescript, frontend-linter

Apply suggestions from code review
  documentatie/ontwikkelproces/test-tooling.md
Due: none

Added openapi doc for user listing
  backend/openapi.json
  backend/src/lib.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Updated Fraction to allow for correct deserialization and updated openapi.ts
  backend/src/apportionment/fraction.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Updated response.status() testing to be the same in all tests
  backend/src/authentication/mod.rs
  backend/src/election/mod.rs
  backend/src/lib.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
  backend/tests/utils/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added apportionment integration test
  backend/src/apportionment/api.rs
  backend/src/apportionment/mod.rs
  backend/tests/apportionment_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Re-ordered summary mod.rs imports
  backend/src/summary/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update error references for auth errors
  backend/openapi.json
  backend/src/authentication/error.rs
  backend/src/authentication/mod.rs
  backend/src/error.rs
  frontend/app/component/form/user/change_password/ChangePassword.test.tsx
  frontend/app/component/form/user/login/LoginForm.test.tsx
  frontend/lib/api/gen/openapi.ts
  frontend/lib/i18n/locales/nl/error.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Subscribe to unauthorized events and unset the user when sessions expire
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/ApiError.ts
  frontend/lib/api/ApiProvider.tsx
Due: frontend-typescript, frontend-linter

Only unset user when session is invalid
  frontend/lib/api/ApiProvider.tsx
Due: frontend-typescript, frontend-linter

Fixed clippy errors
  backend/openapi.json
  backend/src/apportionment/mod.rs
  backend/src/election/mod.rs
  backend/src/error.rs
  backend/src/lib.rs
  backend/tests/election_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Regenerated openapi.ts
  frontend/lib/api/gen/openapi.ts
Due: frontend-typescript, frontend-linter

Fixed last unused import warning
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update documentatie/softwarearchitectuur/frontend-structuur.md
  documentatie/softwarearchitectuur/frontend-structuur.md
Due: none

Frontend build without dev dependencies (#918)
  .github/workflows/build-lint-test.yml
  .github/workflows/release.yml
  frontend/app/main.tsx
  frontend/app/types.d.ts
  frontend/package-lock.json
  frontend/package.json
Due: frontend-typescript, frontend-linter

Configure code coverage for Vitest
  .github/workflows/codecov.yml
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Due: frontend-typescript, frontend-linter

Upload Vitest test results to Codecov
  .github/workflows/codecov.yml
  frontend/.gitignore
Due: none

Add gray color variables and use where possible
  frontend/lib/ui/style/variables.css
Due: none

Update contributors.yml
  contributors.yml
Due: none

Uitleg bij argumenten
  documentatie/gebruikersdocumentatie/installeren-en-starten.md
Due: none

Update contributors.yml (#923)
  contributors.yml
Due: none

Add Codecov Vite bundle analysis plugin
  .github/workflows/codecov.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Due: frontend-typescript, frontend-linter

Add Rust code coverage using Tarpaulin
  .github/workflows/codecov.yml
  backend/.gitignore
Due: none

Report Rust test results to Codecov using Nextest
  .github/workflows/codecov.yml
  backend/.config/nextest.toml
Due: none

Move Vitest config to a separate file
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: frontend-typescript, frontend-linter

Add custom matcher toHaveTableContent() to assert HTML Table element contents
  frontend/app/module/polling_stations/page/PollingStationListPage.test.tsx
  frontend/lib/test/matchers.test.tsx
  frontend/lib/test/matchers.ts
  frontend/lib/test/setup.ts
  frontend/lib/test/vitest.d.ts
  frontend/lib/ui/Table/Table.test.tsx
Due: frontend-typescript, frontend-linter

Add gray color variables and use where possible (#922)
  frontend/lib/ui/style/variables.css
Due: none

Move Vite production config to a separate file
  .github/workflows/codecov.yml
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  frontend/vite-prod.config.ts
  frontend/vite.config.ts
Due: frontend-typescript, frontend-linter

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-typescript: any of: *.{ts,tsx} and ^frontend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
