Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite &&
        cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets &&
        git add .sqlx &&
        rm sqlx-cache-tmp.sqlite
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --features e2e-helpers -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi --features e2e-helpers &&
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add src/types/generated/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Added delete modal & confirmation alert for data entry for coordinator
  frontend/src/features/data_entry_detail/components/DetailLayout.tsx
  frontend/src/features/resolve_errors/components/delete/ReadOnlyDataEntryDelete.test.tsx
  frontend/src/features/resolve_errors/components/delete/ReadOnlyDataEntryDelete.tsx
  frontend/src/i18n/locales/nl/data_entry.json
Due: frontend-linter

Added frontend frequest handler for data entries and result delete
  frontend/src/features/resolve_errors/components/delete/ReadOnlyDataEntryDelete.test.tsx
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: frontend-linter

Updated modal text when deleting both data entries
  frontend/src/features/data_entry_detail/components/DetailLayout.tsx
  frontend/src/features/resolve_errors/components/delete/ReadOnlyDataEntryDelete.test.tsx
  frontend/src/features/resolve_errors/components/delete/ReadOnlyDataEntryDelete.tsx
  frontend/src/i18n/locales/nl/data_entry.json
Due: frontend-linter

Cleaned up files
  frontend/src/features/data_entry_detail/components/DetailLayout.tsx
  frontend/src/features/data_entry_detail/components/delete/ReadOnlyDataEntryDelete.test.tsx
  frontend/src/features/data_entry_detail/components/delete/ReadOnlyDataEntryDelete.tsx
Due: frontend-linter

Prevent generating invalid/ambiguous dates in typst tests
  backend/src/pdf_gen/typst_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use github script instead of bash script
  .github/workflows/pdf-diff.yml
Due: none

Add workflow that detects changes to PDF models
  .github/workflows/pdf-diff.yml
Due: none

Improve diff script
  .github/workflows/pdf-diff.yml
Due: none

Updated test for warnings
  backend/src/data_entry/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added has_warnings field to status endpoint
  backend/fixtures/election_5_with_results.sql
  backend/fixtures/election_7_four_sessions.sql
  backend/openapi.json
  backend/src/committee_session/status.rs
  backend/src/data_entry/api.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/status.rs
  backend/src/test_data_gen/generators.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Adjusted/added comments
  backend/openapi.json
  backend/src/data_entry/api.rs
  backend/src/data_entry/status.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Changed keep first entry function and made explicit that validation results are for the first data entry
  backend/src/data_entry/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added rendering of warning icon for polling stations with a data entry with warnings
  frontend/src/features/election_status/components/CategoryHeader.tsx
  frontend/src/features/election_status/components/CategoryRow.tsx
  frontend/src/features/election_status/components/ElectionStatus.stories.tsx
  frontend/src/features/election_status/components/ElectionStatus.tsx
  frontend/src/features/logs/components/LogsHomePage.test.tsx
  frontend/src/features/users/components/UserListPage.test.tsx
  frontend/src/i18n/locales/nl/generic.json
  frontend/src/utils/dateTime.test.ts
  frontend/src/utils/dateTime.ts
Due: frontend-linter

Reduce example_data_entry_with_warning test data entry
  backend/src/data_entry/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Optional prop hasWarnings
  frontend/src/features/election_status/components/CategoryRow.tsx
  frontend/src/features/election_status/components/ElectionStatus.tsx
Due: frontend-linter

Remove unused __mocks__ that causes issues with mocking in storybook
  frontend/__mocks__/react-router.ts
Due: frontend-linter

Migrate ElectionStatus tests to storybook
  frontend/.storybook/preview.tsx
  frontend/src/features/election_status/components/ElectionStatus.stories.tsx
  frontend/src/features/election_status/components/ElectionStatus.test.tsx
Due: frontend-linter

Show data entry warnings in storybook, adjust column widths
  frontend/src/features/election_status/components/CategoryHeader.tsx
  frontend/src/features/election_status/components/ElectionStatus.stories.tsx
  frontend/src/styles/util.css
Due: frontend-linter

Assert warning icon in election status story
  frontend/src/features/election_status/components/CategoryRow.tsx
  frontend/src/features/election_status/components/ElectionStatus.stories.tsx
Due: frontend-linter

Added request handler for new endpoint and fixed copy of rendered text
  frontend/src/components/ui/DownloadButton/DownloadButton.stories.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.test.tsx
  frontend/src/i18n/locales/nl/election_management.json
  frontend/src/i18n/locales/nl/error.json
  frontend/src/testing/api-mocks/ElectionMockData.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: frontend-linter

Add fuzzer for data entry state matchine
  backend/fuzz/.gitignore
  backend/fuzz/Cargo.lock
  backend/fuzz/Cargo.toml
  backend/fuzz/fuzz_targets/data_entry_status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add README for fuzz test
  backend/fuzz/README.md
Due: none

Changed used fixture, adding investigation
  backend/tests/committee_session_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added tests for new endpoint
  backend/tests/committee_session_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move pdf-diff to script file, use "sticky-pull-request-comment"
  .github/workflows/pdf-diff.yml
  .github/workflows/scripts/pdf-diff.js
Due: none

Also generate past dates in typst tests
  backend/src/pdf_gen/typst_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix typo
  .github/workflows/pdf-diff.yml
Due: none

Fix head directory name
  .github/workflows/pdf-diff.yml
Due: none

Fix font path in test to prevent assumption
  backend/src/pdf_gen/filter_input.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix font include path depth (#2449)
  backend/src/pdf_gen/filter_input.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added frontend tests
  frontend/src/features/data_entry_detail/components/DetailLayout.test.tsx
  frontend/src/features/data_entry_detail/components/DetailLayout.tsx
Due: frontend-linter

Rename has_warnings to finalised_with_warnings
  backend/openapi.json
  backend/src/committee_session/status.rs
  backend/src/data_entry/api.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/status.rs
  backend/src/test_data_gen/generators.rs
  frontend/src/features/election_status/components/CategoryRow.tsx
  frontend/src/features/election_status/components/ElectionStatus.stories.tsx
  frontend/src/features/election_status/components/ElectionStatus.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Test fixes election_5
  backend/.sqlx/query-9d43817510d5d18f4becea74829ac252fb9f37eb04981f0c6f9173fec969847d.json
  backend/src/data_entry/api.rs
  backend/tests/investigation_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Rename has_warnings to finalised_with_warnings also in fixtures
  backend/fixtures/election_5_with_results.sql
  backend/fixtures/election_7_four_sessions.sql
Due: none

Update full flow test config
  frontend/e2e-tests/tests/full-flow.e2e.ts
  frontend/playwright.config.ts
  frontend/scripts/check_server.js
  frontend/vite.config.ts
Due: frontend-linter

Fix fixtures, so they reflect a valid state (#2422)
  backend/.sqlx/query-9d43817510d5d18f4becea74829ac252fb9f37eb04981f0c6f9173fec969847d.json
  backend/fixtures/election_5_with_results.sql
  backend/fixtures/election_7_four_sessions.sql
  backend/src/committee_session/status.rs
  backend/src/data_entry/api.rs
  backend/src/polling_station/mod.rs
  backend/tests/committee_session_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/investigation_integration_test.rs
  frontend/e2e-tests/page-objects/investigations/AddInvestigationPgObj.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Add form download test
  frontend/e2e-tests/tests/document-test.e2e.ts
  frontend/playwright.config.ts
Due: frontend-linter

Handle windows close and shutdown signals
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added checks for committee session status when admin for polling station endpoints and added tests
  backend/src/polling_station/mod.rs
  backend/tests/committee_session_integration_test.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/data_entries_resolve_integration_test.rs
  backend/tests/investigation_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Test updated after fixed fixtures
  backend/tests/committee_session_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi
