Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

backend-sqlx-prepare:
  run: 'cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite && cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets && git add .sqlx && rm sqlx-cache-tmp.sqlite
  
    '

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi && git add openapi.json && cd ../frontend && pnpm gen:openapi && git add src/types/generated/openapi.ts
  
    '

frontend-lint-tsc:
  run: pnpm lint:tsc

frontend-lint-eslint:
  run: pnpm lint:eslint

Fix F.132 and update unit tests
  backend/src/domain/results/checks_and_corrections.rs
  backend/src/domain/results/mod.rs
  backend/src/domain/validate.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Moved up F.133 a level
  backend/src/domain/election.rs
  backend/src/domain/results/about_report.rs
  backend/src/domain/results/checks_and_corrections.rs
  backend/src/domain/results/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove voter card count in fixture
  backend/fixtures/election_12_dso_with_results.sql
Due: none

Add error check, only validate when PagePresent
  backend/src/domain/results/checks_and_corrections.rs
  backend/src/domain/results/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add test cases for missing checks and corrections
  backend/src/domain/results/dso_first_session_results.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Implement root validations for DSO
  backend/src/domain/results/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move DSOResults validation to own impl
  backend/src/domain/results/checks_and_corrections.rs
  backend/src/domain/results/dso_first_session_results.rs
  backend/src/domain/results/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

WIP fix ture
  backend/fixtures/election_12_dso_with_results.sql
  backend/src/domain/tabulation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Change F.13x descriptions
  backend/src/domain/results/checks_and_corrections.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add test and validations for F.131 and F.132
  backend/src/domain/results/checks_and_corrections.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add test and validations for F.121 and F.122
  backend/openapi.json
  backend/src/domain/election.rs
  backend/src/domain/results/about_report.rs
  backend/src/domain/results/checks_and_corrections.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Corrected election 12 fixture to be of correct category
  backend/fixtures/election_12_dso_with_results.sql
Due: none

cargo fmt and fixed fixtures and tests
  backend/src/domain/tabulation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Correct mock fields
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Add test and validations for F.133 and F.134
  backend/src/domain/results/checks_and_corrections.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update backend/src/domain/results/checks_and_corrections.rs
  backend/src/domain/results/checks_and_corrections.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add F.135 and unit test
  backend/openapi.json
  backend/src/domain/results/checks_and_corrections.rs
  backend/src/domain/validate.rs
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Add error codes
  backend/src/domain/validate.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added empty models to backend and added links to election overview (#3805)
  backend/openapi.json
  backend/src/api/document.rs
  backend/src/api/tests.rs
  backend/src/domain/models/votes_table.rs
  backend/tests/integration_tests/election_integration_test.rs
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/election_management/components/ElectionManagement.module.css
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/i18n/locales/nl/election_management.json
  frontend/src/types/generated/openapi.ts
  frontend/src/utils/committeeSession.test.ts
  frontend/src/utils/committeeSession.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Using directDownload for corrigendum download to prevent unwanted behavior on middle click
  frontend/src/components/ui/DownloadButton/DownloadButton.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.test.tsx
  frontend/src/features/investigations/components/forms/InvestigationPrintCorrigendum.tsx
  frontend/src/utils/download.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Copy update for print corrigendum page
  frontend/src/i18n/locales/nl/investigations.json
Due: none

Added check for committee session details present in DSO polling station corrigendum download
  backend/src/api/committee_session.rs
  backend/src/api/document.rs
  backend/src/api/investigation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added DSO corrigendum to backend download endpoint, expanded previous results function for DSO
  backend/src/api/investigation.rs
  backend/src/repository/data_entry_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Removed change to election fixture
  backend/fixtures/election_12_dso_with_results.sql
  backend/src/repository/data_entry_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added coordinator userRole to InvestigationPrintCorrigendumPage.test.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Fixed e2e test
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/page-objects/investigations/InvestigationPrintCorrigendumPgObj.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Remove duplicate DownloadButton and replaced href with "#"
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/page-objects/investigations/InvestigationPrintCorrigendumPgObj.ts
  frontend/src/components/ui/DownloadButton/DownloadButton.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.test.tsx
  frontend/src/features/investigations/components/forms/InvestigationPrintCorrigendum.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Add missing committee session details modal in frontend for Na 14-1 versie 2 download
  frontend/src/components/committee_session/MissingCommitteeSessionDetailsModal.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.test.tsx
  frontend/src/features/investigations/components/forms/InvestigationPrintCorrigendum.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Processed review comments
  backend/src/api/investigation.rs
  frontend/src/features/investigations/components/forms/InvestigationPrintCorrigendum.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Use correctly formatted contest id for contest id comparison
  backend/src/eml/committees.rs
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Implement next committee session for DSO (#3830)
  backend/fixtures/election_12_dso_with_results.sql
  backend/src/api/committee_session.rs
  backend/src/api/document.rs
  backend/src/api/investigation.rs
  backend/src/repository/data_entry_repo.rs
  frontend/src/components/committee_session/MissingCommitteeSessionDetailsModal.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.test.tsx
  frontend/src/features/investigations/components/forms/InvestigationPrintCorrigendum.tsx
  frontend/src/i18n/locales/nl/investigations.json
  frontend/src/utils/download.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Updated ModelNa31_1Input with DSOInvestigations Added Na 31-1 file to generate gsb files and filenames
  backend/src/bin/gen-test-election.rs
  backend/src/domain/models/model_na_31_1.rs
  backend/src/domain/models/votes_table.rs
  backend/src/domain/report/files.rs
  backend/src/domain/report/structs.rs
  backend/src/domain/tabulation.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/infra/pdf_gen/typst_tests.rs
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-GR.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-PS.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-WS.json
  backend/templates/model-na-31-1.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Adjusted model to backend Election additions
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-GR.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-PS.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-WS.json
  backend/templates/model-na-31-1.typ
Due: none

Rename "result_corrected" to "corrected_results" in "polling_station_investigations"
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-GR.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-PS.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-WS.json
  backend/templates/model-na-31-1.typ
Due: none

Added Model Na 31-1 smoke test
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Undid FileSaver changes because not needed anymore
  backend/src/domain/report/files.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added test for ElectionTotals dso_elections function
  backend/src/domain/tabulation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Processed review comments
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-GR.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-PS.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-WS.json
  backend/templates/model-na-31-1.typ
Due: none

Processed review comments
  backend/src/domain/election.rs
  backend/src/domain/file.rs
  backend/src/domain/report/structs.rs
  backend/src/error.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add Model Na 31-1
  backend/src/bin/gen-pdf.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/models/model_na_31_1.rs
  backend/src/infra/pdf_gen/sources.rs
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-GR.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-PS.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-WS.json
  backend/templates/model-na-31-1.typ
  backend/templates/visual-diff.sh
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-lint-tsc: any of: *.{ts,tsx} and ^frontend/
  frontend-lint-eslint: any of: *.{ts,tsx} and ^frontend/
