Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: cargo run --package backend --bin gen-openapi
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Add endpoint to get saved data entry
  backend/openapi.json
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/validation.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/shared.rs
  frontend/app/module/data_entry/PollingStation/AbortDataEntryControl.test.tsx
  frontend/app/test/unit/form.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/gen/openapi.ts
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

Implement get data entry endpoint in MSW
  frontend/lib/api-mocks/RequestHandlers.ts
Due: frontend-linter

Load previous data entry in form controller
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.test.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/pollingStationUtils.ts
Due: frontend-linter

Add dom-to-database test
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
Due: frontend-linter

Now filtering finalised polling stations in the list
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationsList.tsx
Due: frontend-linter

Added focus-visible to get the same styling as focus and added min-height to bottombar row with button
  frontend/lib/ui/BottomBar/BottomBar.module.css
  frontend/lib/ui/Button/Button.module.css
  frontend/lib/ui/Checkbox/Checkbox.module.css
  frontend/lib/ui/IconButton/IconButton.module.css
  frontend/lib/ui/InputField/InputField.module.css
  frontend/lib/ui/InputGrid/InputGrid.module.css
  frontend/lib/ui/ProgressList/ProgressList.module.css
Due: none

Renamed const
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
Due: frontend-linter

Remove `useEffect` import
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
Due: frontend-linter

Added alert when trying to select a finalised polling station
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationSelector.tsx
Due: frontend-linter

Add return types for util functions
  frontend/lib/api/form/pollingstation/pollingStationUtils.ts
Due: frontend-linter

Added working focus to checkbox
  frontend/lib/ui/Checkbox/Checkbox.module.css
Due: none

Added first entry in progress status
  backend/openapi.json
  backend/src/polling_station/repository.rs
  backend/src/polling_station/structs.rs
  frontend/lib/api/gen/openapi.ts
  frontend/lib/ui/Badge/Badge.tsx
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

Updated checkbox to new design
  frontend/lib/ui/Checkbox/Checkbox.module.css
  frontend/lib/ui/style/variables.css
Due: none

typo
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.test.tsx
Due: frontend-linter

Simplified render code in test
  frontend/app/routes.test.tsx
Due: frontend-linter

Renamed variable
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.tsx
Due: frontend-linter

Updated error state of checkbox to adhere to design
  frontend/lib/ui/Checkbox/Checkbox.module.css
Due: none

Resume data entry (without form state) (#364)
  backend/openapi.json
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/validation.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/shared.rs
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/module/data_entry/PollingStation/AbortDataEntryControl.test.tsx
  frontend/app/test/unit/form.ts
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.test.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/pollingStationUtils.ts
  frontend/lib/api/gen/openapi.ts
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

Renamed other variable
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationsList.tsx
Due: frontend-linter

refactor to remove formatting when focused
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/lib/ui/NumberInput/NumberInput.test.tsx
  frontend/lib/ui/NumberInput/NumberInput.tsx
Due: frontend-linter

Styling improvements for progresslist, checkbox and buttons (#357)
  frontend/app/component/pollingstation/PollingStationProgress.tsx
  frontend/lib/ui/Badge/badge.module.css
  frontend/lib/ui/BottomBar/BottomBar.module.css
  frontend/lib/ui/BottomBar/BottomBar.stories.tsx
  frontend/lib/ui/Button/Button.module.css
  frontend/lib/ui/Button/Button.stories.tsx
  frontend/lib/ui/Checkbox/Checkbox.module.css
  frontend/lib/ui/IconButton/IconButton.module.css
  frontend/lib/ui/InputField/InputField.module.css
  frontend/lib/ui/InputGrid/InputGrid.module.css
  frontend/lib/ui/ProgressList/ProgressList.module.css
  frontend/lib/ui/style/variables.css
Due: frontend-linter

Block navigation with a modal when navigating outside data entry flow (#332)
  frontend/app/component/pollingstation/PollingStationFormNavigation.test.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/app/module/data_entry/PollingStation/AbortDataEntryControl.tsx
  frontend/app/module/data_entry/PollingStation/AbortDataEntryModal.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
Due: frontend-linter

Update woordenlijst-EN-NL.md
  documentatie/referentie/woordenlijst-EN-NL.md
Due: none

Polling station status behavior (#367)
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationSelector.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationsList.tsx
  frontend/app/module/data_entry/PollingStation/PollingStationLayout.tsx
  frontend/app/routes.test.tsx
Due: frontend-linter

change default maxlength = 9
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/lib/ui/NumberInput/NumberInput.test.tsx
  frontend/lib/ui/NumberInput/NumberInput.tsx
Due: frontend-linter

add stub
  frontend/lib/ui/ProgressBar/ProgressBar.module.css
  frontend/lib/ui/ProgressBar/ProgressBar.stories.tsx
  frontend/lib/ui/ProgressBar/ProgressBar.test.tsx
  frontend/lib/ui/ProgressBar/ProgressBar.tsx
Due: frontend-linter

fix text selection loss
  frontend/lib/ui/NumberInput/NumberInput.tsx
Due: frontend-linter

Updated Alert component to adhere to design
  frontend/lib/ui/Alert/Alert.module.css
  frontend/lib/ui/style/variables.css
Due: none

Update woordenlijst-EN-NL.md (#374)
  documentatie/referentie/woordenlijst-EN-NL.md
Due: none

Added alert
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationLink.module.css
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationLink.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationSelector.module.css
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/lib/ui/Alert/Alert.module.css
  frontend/lib/ui/Alert/Alert.tsx
Due: frontend-linter

Added test
  frontend/app/module/data_entry/page/DataEntryHomePage.test.tsx
Due: frontend-linter

Added focus to form/feedback/modal heading where needed. Made sure navigation outside of form works with keyboard.
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/app/module/data_entry/PollingStation/AbortDataEntryModal.tsx
  frontend/lib/ui/Feedback/Feedback.tsx
  frontend/lib/ui/Form/Form.tsx
  frontend/lib/ui/Modal/Modal.stories.tsx
  frontend/lib/ui/Modal/Modal.test.tsx
  frontend/lib/ui/Modal/Modal.tsx
Due: frontend-linter

add electrion progress bars
  frontend/app/component/election/ElectionProgress.test.tsx
  frontend/app/component/election/ElectionProgress.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/lib/ui/ProgressBar/ProgressBar.module.css
  frontend/lib/ui/ProgressBar/ProgressBar.stories.tsx
  frontend/lib/ui/ProgressBar/ProgressBar.test.tsx
  frontend/lib/ui/ProgressBar/ProgressBar.tsx
  frontend/lib/ui/index.ts
Due: frontend-linter

Added 2nd todo
  frontend/lib/ui/Modal/Modal.tsx
Due: frontend-linter

convert to fill remove inline styles
  frontend/app/component/navbar/NavBar.tsx
  frontend/app/module/data_entry/PollingStation/PollingStationLayout.tsx
  frontend/lib/icon/generated.tsx
  frontend/lib/icon/svg/arrowBlockUp.svg
  frontend/lib/icon/svg/arrowNarrowRight.svg
  frontend/lib/icon/svg/asterisk.svg
  frontend/lib/icon/svg/checkHeart.svg
  frontend/lib/icon/svg/checkVerified.svg
  frontend/lib/icon/svg/chevronRight.svg
  frontend/lib/icon/svg/clock.svg
  frontend/lib/icon/svg/cornerDownLeft.svg
  frontend/lib/icon/svg/dot.svg
  frontend/lib/icon/svg/error.svg
  frontend/lib/icon/svg/hourglass.svg
  frontend/lib/icon/svg/minus.svg
  frontend/lib/icon/svg/user.svg
Due: frontend-linter

fix icon colors remove role from Icon component containing div add role to all svgs
  frontend/app/module/overview/page/OverviewPage.tsx
  frontend/lib/icon/README.md
  frontend/lib/icon/generated.tsx
  frontend/lib/icon/svg/arrowBlockUp.svg
  frontend/lib/icon/svg/arrowLeft.svg
  frontend/lib/icon/svg/arrowNarrowRight.svg
  frontend/lib/icon/svg/asterisk.svg
  frontend/lib/icon/svg/checkHeart.svg
  frontend/lib/icon/svg/checkVerified.svg
  frontend/lib/icon/svg/checkmarkSmall.svg
  frontend/lib/icon/svg/chevronRight.svg
  frontend/lib/icon/svg/clock.svg
  frontend/lib/icon/svg/cornerDownLeft.svg
  frontend/lib/icon/svg/cross.svg
  frontend/lib/icon/svg/dot.svg
  frontend/lib/icon/svg/hourglass.svg
  frontend/lib/icon/svg/info.svg
  frontend/lib/icon/svg/minus.svg
  frontend/lib/icon/svg/thumbsUp.svg
  frontend/lib/icon/svg/user.svg
  frontend/lib/icon/svg/warningSquare.svg
  frontend/lib/ui/Icon/Icon.module.css
  frontend/lib/ui/Icon/Icon.test.tsx
  frontend/lib/ui/Icon/Icon.tsx
  frontend/lib/ui/ProgressList/ProgressList.module.css
Due: frontend-linter

adjust caret position when posititioning with mouse before deformat
  frontend/lib/ui/NumberInput/NumberInput.tsx
Due: frontend-linter

fix the blue
  frontend/lib/ui/ProgressList/ProgressList.module.css
Due: none

Only show definitive
  frontend/app/component/election/ElectionProgress.tsx
Due: frontend-linter

fix test
  frontend/app/component/election/ElectionProgress.test.tsx
Due: frontend-linter
