Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite &&
        cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets &&
        git add .sqlx &&
        rm sqlx-cache-tmp.sqlite
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi &&
        git add openapi.json &&
        cd ../frontend &&
        pnpm gen:openapi &&
        git add src/types/generated/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: pnpm format --staged --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-biome:
      root: "frontend/"
      run: pnpm lint:biome --write --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-tsc:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:tsc
    frontend-lint-eslint:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:eslint

Fixed eslint errors
  frontend/e2e-tests/tests/data-entry/data-entry.error.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.valid.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.warning.model.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Ran biome migrate
  frontend/biome.jsonc
Due: none

Fixed lint errors
  frontend/biome.jsonc
  frontend/e2e-tests/tests/data-entry/data-entry.error.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.valid.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.warning.model.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Make sub committee number numeric
  backend/.sqlx/query-70334e393360eb1413363250198be2af6098c9cb6f4d5c7b68e6bd42618144f7.json
  backend/.sqlx/query-f0f4b5d65a9fbc7e50e4144d134e39fd437e47d6c933d7772363fa222a5ea702.json
  backend/migrations/9_sub_committees.sql
  backend/src/api/election.rs
  backend/src/domain/sub_committee.rs
  backend/src/repository/sub_committee_repo.rs
  backend/src/service/sub_committee.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Updated frontend dependencies
  frontend/biome.jsonc
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/tests/data-entry/data-entry.error.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.valid.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.warning.model.e2e.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/features/account/components/LoginForm.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Replaced deprecated FormEvent with SubmitEvent/InputEvent and updated @types/react from 19.2.7 to 19.2.14
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/election/NumberOfVotersForm.tsx
  frontend/src/components/ui/Form/Form.stories.tsx
  frontend/src/components/ui/NumberInput/NumberInput.tsx
  frontend/src/features/account/components/AccountSetupForm.tsx
  frontend/src/features/account/components/CreateFirstAdminForm.tsx
  frontend/src/features/account/components/FirstLoginForm.tsx
  frontend/src/features/account/components/LoginForm.tsx
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/components/FormKeyboardNavigation.stories.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/features/data_entry/hooks/useFormKeyboardNavigation.test.tsx
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
  frontend/src/features/election_create/components/CheckHash.tsx
  frontend/src/features/election_create/components/CommitteeCategory.tsx
  frontend/src/features/election_create/components/CountingMethodType.tsx
  frontend/src/features/election_management/components/update/CommitteeSessionDetailsPage.tsx
  frontend/src/features/investigations/components/forms/InvestigationFindings.tsx
  frontend/src/features/investigations/components/forms/InvestigationReason.tsx
  frontend/src/features/polling_stations/components/PollingStationForm.tsx
  frontend/src/features/users/components/create/UserCreateCommitteeCategoryPage.tsx
  frontend/src/features/users/components/create/UserCreateDetailsForm.tsx
  frontend/src/features/users/components/create/UserCreateRolePage.tsx
  frontend/src/features/users/components/create/UserCreateTypePage.tsx
  frontend/src/features/users/components/update/UserUpdateForm.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Update pnpm to 10.30.3
  frontend/package.json
Due: none

`pnpm update` and fix test after SWC bugfix
  frontend/pnpm-lock.yaml
  frontend/src/features/data_entry_home/components/PollingStationPicker.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Add ChosenCandidate struct that includes list number and list name as well
  backend/fixtures/election_5_with_results.sql
  backend/openapi.json
  backend/src/api/apportionment/mapping.rs
  backend/src/api/apportionment/structs.rs
  backend/tests/apportionment_integration_test.rs
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ChosenCandidatesTable.stories.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Added list to chosen candidates table, made list 5 blanco (nameless), added country code to locality if present
  backend/fixtures/election_5_with_results.sql
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentTable.stories.tsx
  frontend/src/features/apportionment/components/ChosenCandidatesTable.stories.tsx
  frontend/src/features/apportionment/components/ChosenCandidatesTable.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/FullSeatsTable.stories.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/utils/candidate.ts
  frontend/src/utils/politicalGroup.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Added CandidatesWithSeatTable, list details page now corresponds to design except ranking table content
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesRankingTable.stories.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesRankingTable.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithSeatTable.stories.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithSeatTable.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithVotesTable.stories.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Corrected Kandidaat column header for CandidatesWithVotesTable and Positie op lijst column header
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesRankingTable.stories.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithSeatTable.stories.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithVotesTable.stories.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithVotesTable.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Updated candidate ranking section according to design
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Frontend dependency updates (#3012)
  frontend/biome.jsonc
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/tests/data-entry/data-entry.error.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.valid.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.warning.model.e2e.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/election/NumberOfVotersForm.tsx
  frontend/src/components/ui/Form/Form.stories.tsx
  frontend/src/components/ui/NumberInput/NumberInput.tsx
  frontend/src/features/account/components/AccountSetupForm.tsx
  frontend/src/features/account/components/CreateFirstAdminForm.tsx
  frontend/src/features/account/components/FirstLoginForm.tsx
  frontend/src/features/account/components/LoginForm.test.tsx
  frontend/src/features/account/components/LoginForm.tsx
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/components/FormKeyboardNavigation.stories.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/features/data_entry/hooks/useFormKeyboardNavigation.test.tsx
  frontend/src/features/data_entry_home/components/PollingStationPicker.test.tsx
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
  frontend/src/features/election_create/components/CheckHash.tsx
  frontend/src/features/election_create/components/CommitteeCategory.tsx
  frontend/src/features/election_create/components/CountingMethodType.tsx
  frontend/src/features/election_management/components/update/CommitteeSessionDetailsPage.tsx
  frontend/src/features/investigations/components/forms/InvestigationFindings.tsx
  frontend/src/features/investigations/components/forms/InvestigationReason.tsx
  frontend/src/features/polling_stations/components/PollingStationForm.tsx
  frontend/src/features/users/components/create/UserCreateCommitteeCategoryPage.tsx
  frontend/src/features/users/components/create/UserCreateDetailsForm.tsx
  frontend/src/features/users/components/create/UserCreateRolePage.tsx
  frontend/src/features/users/components/create/UserCreateTypePage.tsx
  frontend/src/features/users/components/update/UserUpdateForm.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

PR feedback
  frontend/src/features/election_management/components/ElectionInformationTable.test.tsx
  frontend/src/testing/api-mocks/ElectionMockData.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Add sub electoral committee entity (#2995)
  backend/.sqlx/query-70334e393360eb1413363250198be2af6098c9cb6f4d5c7b68e6bd42618144f7.json
  backend/.sqlx/query-e4cefb982789676d5487aaf17da09238559515291c251b5905db12817501e6bf.json
  backend/.sqlx/query-f0f4b5d65a9fbc7e50e4144d134e39fd437e47d6c933d7772363fa222a5ea702.json
  backend/fixtures/election_8_csb.sql
  backend/migrations/9_sub_committees.sql
  backend/src/api/election.rs
  backend/src/domain/mod.rs
  backend/src/domain/sub_committee.rs
  backend/src/error.rs
  backend/src/repository/committee_session_repo.rs
  backend/src/repository/mod.rs
  backend/src/repository/sub_committee_repo.rs
  backend/src/service/mod.rs
  backend/src/service/sub_committee.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Make counting method optional
  backend/.sqlx/query-1de2227ff89fe1057f392bc48fc33cd8d332f04301a71265b54986dea460ff8f.json
  backend/fixtures/election_8_csb.sql
  backend/fuzz/fuzz_targets/data_entry_status.rs
  backend/migrations/1_elections.sql
  backend/openapi.json
  backend/src/api/election.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/election.rs
  backend/src/domain/votes_table.rs
  backend/src/eml/mod.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/infra/pdf_gen/typst_tests.rs
  backend/src/test_data_gen/generators.rs
  backend/tests/election_admin_integration_tests.rs
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/features/election_status/components/ElectionStatus.tsx
  frontend/src/testing/api-mocks/ElectionMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

makes dependabot ignore all biome updates
  .github/dependabot.yml
Due: none

Add complete basic model layout
  backend/templates/model-p-22-2.typ
Due: none

make dependabot ignore all biome updates (#3019)
  .github/dependabot.yml
Due: none

Do not check polling stations but data entries
  backend/.sqlx/query-581c25f1e5db5e0ee35f7fdb0fed0d21988dc6118bfe8a179e24361b5373af80.json
  backend/src/api/polling_station.rs
  backend/src/repository/polling_station_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Revert "Do not check polling stations but data entries"
  backend/.sqlx/query-581c25f1e5db5e0ee35f7fdb0fed0d21988dc6118bfe8a179e24361b5373af80.json
  backend/src/api/polling_station.rs
  backend/src/repository/polling_station_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

When deleting a polling station check for data entries or investigations to determine if we should go to status Created
  backend/src/api/polling_station.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Make counting method optional (#3020)
  backend/.sqlx/query-1de2227ff89fe1057f392bc48fc33cd8d332f04301a71265b54986dea460ff8f.json
  backend/fixtures/election_8_csb.sql
  backend/fuzz/fuzz_targets/data_entry_status.rs
  backend/migrations/1_elections.sql
  backend/openapi.json
  backend/src/api/election.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/election.rs
  backend/src/domain/votes_table.rs
  backend/src/eml/mod.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/infra/pdf_gen/typst_tests.rs
  backend/src/test_data_gen/generators.rs
  backend/tests/election_admin_integration_tests.rs
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/features/election_status/components/ElectionStatus.tsx
  frontend/src/testing/api-mocks/ElectionMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Reviewed and fixed some things and clarified and added more TODO's
  backend/templates/common/scripts.typ
  backend/templates/model-p-22-2.typ
Due: none

Added 5 p22-2 input files to test different rendering
  backend/templates/inputs/model-p-22-2.json
  backend/templates/inputs/model-p-22-2/gte-19-seats-and-p9.json
  backend/templates/inputs/model-p-22-2/gte-19-seats.json
  backend/templates/inputs/model-p-22-2/lt-19-seats-and-p10.json
  backend/templates/inputs/model-p-22-2/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/model-p-22-2/lt-19-seats.json
Due: none

Added real values in residual seat calculation table and added candidate location function
  backend/templates/common/scripts.typ
  backend/templates/inputs/model-p-22-2/gte-19-seats-and-p9.json
  backend/templates/inputs/model-p-22-2/gte-19-seats.json
  backend/templates/inputs/model-p-22-2/lt-19-seats-and-p10.json
  backend/templates/inputs/model-p-22-2/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/model-p-22-2/lt-19-seats.json
  backend/templates/model-p-22-2.typ
Due: none

Added hash code rendering and fixed margins
  backend/templates/common/style.typ
  backend/templates/inputs/model-p-22-2/gte-19-seats-and-p9.json
  backend/templates/inputs/model-p-22-2/gte-19-seats.json
  backend/templates/inputs/model-p-22-2/lt-19-seats-and-p10.json
  backend/templates/inputs/model-p-22-2/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/model-p-22-2/lt-19-seats.json
  backend/templates/model-p-22-2.typ
Due: none

Add ChosenCandidate struct that includes list number and list name as well (#3015)
  backend/fixtures/election_5_with_results.sql
  backend/openapi.json
  backend/src/api/apportionment/mapping.rs
  backend/src/api/apportionment/structs.rs
  backend/tests/apportionment_integration_test.rs
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ChosenCandidatesTable.stories.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Removed section 2.12 since this is out of scope
  backend/templates/model-p-22-2.typ
Due: none

Add source (polling station or subcommittee) and status to ClaimDataEntryResponse
  backend/openapi.json
  backend/src/api/data_entry.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/sub_committee.rs
  frontend/src/features/data_entry/testing/test.utils.ts
  frontend/src/features/data_entry/utils/reducer.test.ts
  frontend/src/testing/api-mocks/DataEntryMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Update committee session transitions to check data entries (#3009)
  backend/.sqlx/query-ee130d9f4dc7f2afa4dfc43c9c628d8b1664e5ba2c43a0f5c91e9fa9b37f1a37.json
  backend/src/api/polling_station.rs
  backend/src/api/providers.rs
  backend/src/domain/committee_session_status.rs
  backend/src/repository/data_entry_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Improve table rendering, do not use index for lists, render blank lists correctly
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/ApportionmentTable.stories.tsx
  frontend/src/features/apportionment/components/ApportionmentTable.tsx
  frontend/src/features/apportionment/components/ChosenCandidatesTable.stories.tsx
  frontend/src/features/apportionment/components/ChosenCandidatesTable.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/FullSeatsTable.stories.tsx
  frontend/src/features/apportionment/components/full_seats/FullSeatsTable.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesRankingTable.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithSeatTable.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithVotesTable.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.tsx
  frontend/src/features/data_entry/testing/test.utils.ts
  frontend/src/styles/util.css
  frontend/src/utils/candidate.test.ts
  frontend/src/utils/candidate.ts
  frontend/src/utils/politicalGroup.test.ts
  frontend/src/utils/politicalGroup.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Use source (polling station or subcommittee) and status in a new DataEntryHeader which displays source information and a status badge
  frontend/src/features/data_entry/components/DataEntryHeader.tsx
  frontend/src/features/data_entry/components/DataEntryPage.tsx
  frontend/src/features/data_entry/testing/mock-data.ts
  frontend/src/features/data_entry/types/types.ts
  frontend/src/features/data_entry/utils/reducer.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Fixed right alignment of rank/seat/number in list details tables
  frontend/src/features/apportionment/components/list_details/CandidatesRankingTable.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithSeatTable.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithVotesTable.tsx
Due: frontend-lint-tsc, frontend-lint-eslint
