Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi && 
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add lib/api/gen/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Art P 15 & 17 Kieswet: assign seats to candidates with preference threshold and to the rest (#1110)
  backend/openapi.json
  backend/src/apportionment/api.rs
  backend/src/apportionment/candidate_nomination.rs
  backend/src/apportionment/mod.rs
  backend/src/apportionment/seat_assignment.rs
  backend/src/data_entry/structs.rs
  backend/src/election/structs.rs
  backend/src/lib.rs
  backend/tests/apportionment_integration_test.rs
  documentatie/referentie/woordenlijst-EN-NL.md
  documentatie/verkiezingsproces/verloop-verkiezingen.md
  documentatie/verkiezingsproces/wie-doet-welke-stembureaus.md
  frontend/app/component/apportionment/ApportionmentTable.test.tsx
  frontend/app/component/apportionment/ElectionSummaryTable.test.tsx
  frontend/app/component/apportionment/FullSeatsTable.test.tsx
  frontend/app/component/apportionment/LargestAveragesFor19OrMoreSeatsTable.test.tsx
  frontend/app/component/apportionment/LargestAveragesFor19OrMoreSeatsTable.tsx
  frontend/app/component/apportionment/LargestAveragesForLessThan19SeatsTable.test.tsx
  frontend/app/component/apportionment/LargestAveragesForLessThan19SeatsTable.tsx
  frontend/app/component/apportionment/LargestRemaindersTable.test.tsx
  frontend/app/component/apportionment/LargestRemaindersTable.tsx
  frontend/app/component/apportionment/ResidualSeatsCalculationTable.test.tsx
  frontend/app/component/apportionment/test-data/19-or-more-seats.ts
  frontend/app/component/apportionment/test-data/absolute-majority-change.ts
  frontend/app/component/apportionment/test-data/less-than-19-seats.ts
  frontend/app/module/apportionment/page/ApportionmentFullSeatsPage.test.tsx
  frontend/app/module/apportionment/page/ApportionmentFullSeatsPage.tsx
  frontend/app/module/apportionment/page/ApportionmentPage.test.tsx
  frontend/app/module/apportionment/page/ApportionmentPage.tsx
  frontend/app/module/apportionment/page/ApportionmentResidualSeatsPage.test.tsx
  frontend/app/module/apportionment/page/ApportionmentResidualSeatsPage.tsx
  frontend/lib/api/apportionment/ApportionmentProvider.tsx
  frontend/lib/api/apportionment/ApportionmentProviderContext.tsx
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Update dev home page (#1164)
  frontend/app/module/DevHomePage.tsx
Due: frontend-linter

Updated tests
  backend/src/apportionment/candidate_nomination.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added updated candidate ranking when applicable
  backend/openapi.json
  backend/src/apportionment/candidate_nomination.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Added creation of chosen candidates list
  backend/src/apportionment/candidate_nomination.rs
  backend/src/election/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update README.md
  README.md
Due: none

Update README.md (#1165)
  README.md
Due: none

Add unit tests for formatDateTimeFull, tweak audit log details
  backend/src/audit_log/api.rs
  backend/src/authentication/api.rs
  frontend/app/module/logs/LogsHomePage.tsx
  frontend/lib/util/format.test.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Remove audit log message from table test
  frontend/app/module/logs/LogsHomePage.test.tsx
Due: frontend-linter

Added countdown dialog
  backend/src/authentication/mod.rs
  frontend/app/component/authorization/AuthorizationDialog.tsx
  frontend/app/component/authorization/authorizationConstants.ts
  frontend/app/component/error/ErrorBoundary.tsx
  frontend/app/component/form/account/login/LoginForm.tsx
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/ApiError.ts
  frontend/lib/api/ApiEvents.ts
  frontend/lib/api/ApiProvider.tsx
  frontend/lib/api/api.types.ts
  frontend/lib/api/useSessionState.ts
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/i18n/locales/nl/users.json
  frontend/lib/ui/Modal/Modal.module.css
  frontend/lib/ui/Modal/Modal.tsx
  frontend/lib/util/format.test.ts
  frontend/lib/util/format.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fix read UnauthorizedState
  frontend/app/component/form/account/login/LoginForm.tsx
Due: frontend-linter

adds chaning valid data to warning
  frontend/e2e-tests/data-entry.error.model.e2e.ts
  frontend/e2e-tests/data-entry.model.e2e.ts
  frontend/e2e-tests/data-entry.warning.model.e2e.ts
Due: frontend-linter

Rename PollingStationSummary to DataEntrySummary
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/app/component/form/data_entry/state/dataEntryUtils.test.ts
  frontend/app/component/form/data_entry/state/dataEntryUtils.ts
Due: frontend-linter

Update versie-1.0-gr2026.md
  documentatie/functionaliteit/versie-1.0-gr2026.md
Due: none

twee maal invoeren (#1157)
  documentatie/use-cases/csb-zitting.md
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Due: none

adds resuming to non-furthest page with warning
  frontend/e2e-tests/data-entry.warning.model.e2e.ts
Due: frontend-linter

Remove client side password validation from user management pages (#1159)
  frontend/app/module/users/create/UserCreate.test.tsx
  frontend/app/module/users/create/UserCreateContext.tsx
  frontend/app/module/users/create/UserCreateContextProvider.tsx
  frontend/app/module/users/create/UserCreateDetailsForm.test.tsx
  frontend/app/module/users/create/UserCreateDetailsForm.tsx
  frontend/app/module/users/create/UserCreateDetailsPage.test.tsx
  frontend/app/module/users/create/UserCreateDetailsPage.tsx
  frontend/app/module/users/update/UserDelete.test.tsx
  frontend/app/module/users/update/UserDelete.tsx
  frontend/app/module/users/update/UserUpdateForm.test.tsx
  frontend/app/module/users/update/UserUpdateForm.tsx
  frontend/app/module/users/update/UserUpdatePage.tsx
  frontend/app/module/users/update/useUserUpdate.ts
  frontend/app/module/users/validatePassword.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/i18n/locales/nl/users.json
Due: frontend-linter

Rename PollingStationSummary to DataEntrySummary (#1169)
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/app/component/form/data_entry/state/dataEntryUtils.test.ts
  frontend/app/component/form/data_entry/state/dataEntryUtils.ts
Due: frontend-linter

cleans up comments
  frontend/e2e-tests/data-entry.model.e2e.ts
  frontend/e2e-tests/data-entry.warning.model.e2e.ts
Due: frontend-linter

defaultFormSection change
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferenceForm.test.tsx
  frontend/app/component/form/data_entry/test-data/mock-data.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
Due: frontend-linter

improves acceptWarningsReminder locator
  frontend/e2e-tests/data-entry.warning.model.e2e.ts
  frontend/e2e-tests/page-objects/data_entry/VotersAndVotesPgObj.ts
Due: frontend-linter

renames multiple states and events
  frontend/e2e-tests/data-entry.error.model.e2e.ts
  frontend/e2e-tests/data-entry.warning.model.e2e.ts
Due: frontend-linter

renames model-based e2e test for valid data
  frontend/e2e-tests/data-entry.valid.model.e2e.ts
Due: frontend-linter

adds model-based test for unsaved warning change
  frontend/e2e-tests/data-entry.warning.model.e2e.ts
Due: frontend-linter

improves asserts on fields related to warnings
  frontend/e2e-tests/data-entry.error.model.e2e.ts
  frontend/e2e-tests/data-entry.warning.model.e2e.ts
Due: frontend-linter

Fix session middleware + set testing timings
  backend/src/authentication/mod.rs
  backend/src/lib.rs
  frontend/app/component/authorization/authorizationConstants.ts
  frontend/app/component/form/account/login/LoginForm.tsx
  frontend/lib/i18n/locales/nl/users.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Improve session tests
  backend/src/authentication/mod.rs
  backend/src/authentication/session.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

introduce useDataEntryFormSection
  frontend/app/component/form/data_entry/candidates_votes/useCandidateVotes.ts
  frontend/app/component/form/data_entry/differences/useDifferences.ts
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/component/form/data_entry/recounted/useRecounted.ts
  frontend/app/component/form/data_entry/state/useDataEntryFormSection.ts
  frontend/app/component/form/data_entry/voters_and_votes/useVotersAndVotes.ts
Due: frontend-linter

Replace get data entry endpoint by claim endpoint
  backend/openapi.json
  backend/src/data_entry/api.rs
  backend/src/data_entry/status.rs
  backend/src/data_entry/structs.rs
  backend/src/data_entry/validation.rs
  backend/src/lib.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
  documentatie/flowcharts/data-entry-state.md
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferenceForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/state/reducer.test.ts
  frontend/app/component/form/data_entry/state/types.ts
  frontend/app/component/form/data_entry/state/useDataEntry.ts
  frontend/app/component/form/data_entry/state/useInitialDataEntryState.ts
  frontend/app/component/form/data_entry/test.util.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/module/data_entry/DataEntry.integration.test.tsx
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/resume-data-entry.e2e.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/lib/api-mocks/DataEntryMockData.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Added more tests
  backend/src/apportionment/candidate_nomination.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

fix cache mismatch
  frontend/app/component/form/data_entry/candidates_votes/useCandidateVotes.ts
  frontend/app/component/form/data_entry/differences/useDifferences.ts
  frontend/app/component/form/data_entry/state/useDataEntryFormSection.ts
  frontend/app/component/form/data_entry/voters_and_votes/useVotersAndVotes.ts
Due: frontend-linter

Test that claim with different user returns error
  backend/src/data_entry/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Serialize and deserialize 110a and 110b EML files (#1160)
  backend/src/election/structs.rs
  backend/src/eml/common.rs
  backend/src/eml/eml_110.rs
  backend/src/eml/eml_510.rs
  backend/src/eml/mod.rs
  backend/src/eml/tests/eml110a_test.eml.xml
  backend/src/eml/tests/eml110b_test.eml.xml
  backend/src/eml/util.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

restructured update_candidate_ranking
  backend/src/apportionment/candidate_nomination.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move data entry mock data and utils (#1168)
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferenceForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/state/dataEntryUtils.test.ts
  frontend/app/component/form/data_entry/state/reducer.test.ts
  frontend/app/component/form/data_entry/test-data/index.ts
  frontend/app/component/form/data_entry/test-data/mock-data.ts
  frontend/app/component/form/data_entry/test-data/test.utils.ts
  frontend/app/component/form/data_entry/test.util.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/module/data_entry/DataEntry.integration.test.tsx
Due: frontend-linter

Clippy fixes
  backend/src/apportionment/candidate_nomination.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed comparison
  backend/src/apportionment/candidate_nomination.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi
