Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

backend-sqlx-prepare:
  run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --all-features -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi &&  git add openapi.json && cd ../frontend && npm run gen:openapi && git add lib/api/gen/openapi.ts
  
    '

frontend-linter:
  run: npm run lint {staged_files}

Add instruction how to build for different platforms (#1510)
  backend/README.md
Due: none

Increase request size limit and improve error message (#1519)
  backend/openapi.json
  backend/src/election/api.rs
  backend/src/error.rs
  backend/src/lib.rs
  backend/tests/election_integration_test.rs
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_create/components/UploadElectionDefinition.tsx
  frontend/src/i18n/locales/nl/election.json
  frontend/src/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Transition keep_second_entry goes to FirstEntryHasErrors when second entry contains errors
  backend/src/data_entry/api.rs
  backend/src/data_entry/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use three shards for Playwright e2e tests (#1530)
  .github/workflows/build-lint-test.yml
Due: none

Add instructions for 64-bit ARM `cross` build
  backend/README.md
Due: none

test for error priority
  frontend/src/features/data_entry/components/DataEntryProgress.test.tsx
Due: frontend-linter

check for error message
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.warning.model.e2e.ts
Due: frontend-linter

rename acceptWarnings -> acceptErrorsAndWarnings
  frontend/e2e-tests/page-objects/data_entry/RecountedPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/VotersAndVotesPgObj.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.warning.model.e2e.ts
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/src/features/data_entry/components/differences/DifferenceForm.test.tsx
  frontend/src/features/data_entry/components/recounted/RecountedForm.test.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/src/features/data_entry/testing/test.utils.ts
Due: frontend-linter

moves e2e test helper functions to separate files
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/helpers-utils/e2e-test-api-helpers.ts
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/setup.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
Due: frontend-linter

Add status FirstEntryHasErrors (#1529)
  backend/.sqlx/query-1f17b6083878ff250d57a8843412bd1fd83fe9c1effc346af769d63bdd69dc86.json
  backend/openapi.json
  backend/src/data_entry/api.rs
  backend/src/data_entry/status.rs
  frontend/src/components/ui/Badge/Badge.module.css
  frontend/src/components/ui/Badge/Badge.stories.tsx
  frontend/src/components/ui/Badge/Badge.test.tsx
  frontend/src/components/ui/Badge/Badge.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

moves e2e test helper functions that use the API to a separate file (#1532)
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/helpers-utils/e2e-test-api-helpers.ts
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/setup.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
Due: frontend-linter

WIP
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/features/data_entry/hooks/useDataEntry.ts
  frontend/src/features/data_entry/testing/mock-data.ts
  frontend/src/features/data_entry/types/types.ts
  frontend/src/features/data_entry/utils/actions.ts
  frontend/src/features/data_entry_home/components/DataEntryHomePage.tsx
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: frontend-linter

Finished the custom error/difference notification
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/features/data_entry/utils/actions.ts
  frontend/src/features/data_entry/utils/reducer.test.ts
  frontend/src/features/data_entry_home/components/DataEntryHomePage.test.tsx
  frontend/src/features/data_entry_home/components/DataEntryHomePage.tsx
  frontend/src/i18n/locales/nl/data_entry.json
  frontend/src/testing/api-mocks/DataEntryMockData.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: frontend-linter

Fixed failing e2e test
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/page-objects/data_entry/DataEntryHomePgObj.ts
  frontend/e2e-tests/tests/data-entry/data-entry.api-errors.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/src/features/data_entry_home/components/DataEntryHomePage.test.tsx
Due: frontend-linter

Aantal suggesties
  documentatie/use-cases/Airgap.md
Due: none

resolve todos
  frontend/e2e-tests/tests/data-entry/data-entry.warning.model.e2e.ts
  frontend/src/features/data_entry/hooks/useDataEntryFormSection.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.ts
Due: frontend-linter

Added hash checking and error handling
  backend/openapi.json
  backend/src/election/api.rs
  backend/src/eml/hash.rs
  backend/src/eml/mod.rs
  backend/src/error.rs
  frontend/src/features/election_create/components/CheckElectionDefinition.tsx
  frontend/src/features/election_create/hooks/useElectionCheck.ts
  frontend/src/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Add instructions for 64-bit ARM `cross` build (#1531)
  backend/README.md
Due: none

Fixed mutation testing issues in authentication backend module (#1504)
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/session.rs
  backend/src/authentication/user.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix route paths for error page tests
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/election_management/components/ElectionReportPage.test.tsx
Due: frontend-linter

Update documentatie/use-cases/Airgap.md
  documentatie/use-cases/Airgap.md
Due: none

Renamed endpoint
  backend/openapi.json
  backend/src/election/api.rs
  frontend/src/features/election_create/components/CheckElectionDefinition.tsx
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_create/components/ElectionCreateContextProvider.tsx
  frontend/src/features/election_create/components/UploadElectionDefinition.tsx
  frontend/src/features/election_create/hooks/ElectionCreateContext.ts
  frontend/src/features/election_create/hooks/useElectionCheck.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fixed rendering of alerts and added tests for redirect
  frontend/e2e-tests/page-objects/data_entry/DataEntryHomePgObj.ts
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/features/data_entry_home/components/DataEntryHomePage.test.tsx
  frontend/src/features/data_entry_home/components/DataEntryHomePage.tsx
  frontend/src/i18n/locales/nl/data_entry.json
  frontend/src/testing/api-mocks/DataEntryMockData.ts
Due: frontend-linter

Fixed e2e test
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
Due: frontend-linter

Data entry: accept errors (#1502)
  frontend/e2e-tests/page-objects/data_entry/RecountedPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/VotersAndVotesPgObj.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.warning.model.e2e.ts
  frontend/src/features/data_entry/components/DataEntryNavigation.tsx
  frontend/src/features/data_entry/components/DataEntryProgress.test.tsx
  frontend/src/features/data_entry/components/DataEntryProgress.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.tsx
  frontend/src/features/data_entry/components/candidates_votes/useCandidateVotes.ts
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/features/data_entry/components/differences/DifferenceForm.test.tsx
  frontend/src/features/data_entry/components/differences/DifferencesForm.tsx
  frontend/src/features/data_entry/components/differences/useDifferences.ts
  frontend/src/features/data_entry/components/recounted/RecountedForm.test.tsx
  frontend/src/features/data_entry/components/recounted/RecountedForm.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.tsx
  frontend/src/features/data_entry/components/voters_and_votes/useVotersAndVotes.ts
  frontend/src/features/data_entry/hooks/useDataEntryFormSection.ts
  frontend/src/features/data_entry/testing/mock-data.ts
  frontend/src/features/data_entry/testing/test.utils.ts
  frontend/src/features/data_entry/types/types.ts
  frontend/src/features/data_entry/utils/actions.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.test.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.ts
  frontend/src/features/data_entry/utils/reducer.test.ts
  frontend/src/features/data_entry/utils/reducer.ts
Due: frontend-linter

added and updated tests
  backend/src/election/api.rs
  backend/tests/election_admin_integration_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

now only returning Election and fixed linter errors
  backend/openapi.json
  backend/src/election/api.rs
  backend/tests/election_admin_integration_tests.rs
  frontend/src/features/election_create/components/CheckElectionDefinition.tsx
  frontend/src/features/election_create/hooks/useElectionCheck.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Update use cases for foutopsporing
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
  documentatie/use-cases/validatieregels-plausibiliteitschecks-tellingen.md
Due: none

Removed feature annotation
  backend/src/election/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Updated paths in tests and do double override
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
Due: frontend-linter

Fixed OpenAPI generated type
  backend/openapi.json
  backend/src/election/api.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Use case voor airgapdetectie (#1452)
  documentatie/use-cases/Airgap.md
Due: none

Removed `as ...` from requesthandlers
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: frontend-linter

Apply review comments
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
  documentatie/use-cases/validatieregels-plausibiliteitschecks-tellingen.md
Due: none

Changed showing of polling stations with errors and warnings on status page
  frontend/src/features/election_status/components/CategoryHeader.tsx
  frontend/src/features/election_status/components/CategoryRow.tsx
  frontend/src/features/election_status/components/ElectionStatus.stories.tsx
  frontend/src/features/election_status/components/ElectionStatus.test.tsx
  frontend/src/features/election_status/hooks/useElectionStatus.ts
  frontend/src/i18n/locales/nl/generic.json
  frontend/src/i18n/locales/nl/status.json
  frontend/src/testing/api-mocks/PollingStationMockData.ts
Due: frontend-linter

Reverted polling station id in request handlers back to 3 for resolve differences tests
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: frontend-linter

Update use cases voor foutopsporing (#1542)
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
  documentatie/use-cases/validatieregels-plausibiliteitschecks-tellingen.md
Due: none

Update NavBar for resolve differences
  frontend/src/components/navbar/NavBar.stories.tsx
  frontend/src/components/navbar/NavBar.test.tsx
  frontend/src/components/navbar/NavBarLinks.tsx
  frontend/src/i18n/locales/nl/election_status.json
Due: frontend-linter

No capital letter after a colon
  frontend/e2e-tests/page-objects/data_entry/DataEntryHomePgObj.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/src/features/data_entry_home/components/DataEntryHomePage.test.tsx
  frontend/src/i18n/locales/nl/data_entry.json
Due: frontend-linter

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
