Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

backend-sqlx-prepare:
  run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --all-features -- -D warnings

backend-openapi:
  run: cargo run --package backend --bin gen-openapi && git add openapi.json

frontend-typescript:
  run: npx tsc

frontend-linter:
  run: npm run lint {staged_files}

Update contributors.yml
  contributors.yml
Due: none

Add type checking of machine and test states and events
  frontend/e2e-tests/data-entry.model.e2e.ts
Due: frontend-typescript, frontend-linter

Add fullname to fixture user
  backend/fixtures/users.sql
Due: none

Update contributors.yml (#966)
  contributors.yml
Due: none

Fix PDF for empty polling station type
  backend/templates/model-na-31-2.typ
Due: none

Upgrade to Typst 0.13.0-rc1
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/pdf_gen/models/mod.rs
  backend/src/pdf_gen/world.rs
  backend/templates/common/scripts.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

shortens 'Over de Kiesraad' in our README and adds link to our GitHub org profile
  README.md
Due: none

Add fullname to fixture user (#967)
  backend/fixtures/users.sql
Due: none

Fix test that was broken on non-wednesdays
  frontend/app/module/users/UserListPage.test.tsx
  frontend/lib/api-mocks/UserMockData.ts
Due: frontend-typescript, frontend-linter

bandaid votersandvotesform test
  frontend/app/component/form/data_entry/state/dataEntryUtils.ts
  frontend/app/component/form/data_entry/state/reducer.ts
  frontend/app/component/form/data_entry/test.util.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/useVotersAndVotes.ts
Due: frontend-typescript, frontend-linter

Update backend/src/authentication/api.rs
  backend/src/authentication/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add planning for 2025
  documentatie/functionaliteit/milestone-2024-12.md
  documentatie/functionaliteit/planning-2025.md
  documentatie/functionaliteit/versie-1.0-gr2026.md
Due: none

fixes errors in package-lock.json from previous merge commit
  frontend/package-lock.json
Due: none

renamed to user_create
  backend/openapi.json
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/lib.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Added fullname
  backend/.sqlx/query-a6a64229313f6c4f73db5228d9b1e6affa161d64e9777749dc92eb6ba01dd7a6.json
  backend/src/authentication/api.rs
  backend/src/authentication/user.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Improved data entry finished check and added integration test
  backend/src/apportionment/api.rs
  backend/tests/apportionment_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use `/dev` as index page
  frontend/app/module/DevHomePage.tsx
  frontend/app/routes.test.tsx
  frontend/app/routes.tsx
Due: frontend-typescript, frontend-linter

Use `/dev` as index page (#972)
  frontend/app/module/DevHomePage.tsx
  frontend/app/routes.test.tsx
  frontend/app/routes.tsx
Due: frontend-typescript, frontend-linter

shorten 'Over de Kiesraad' in our README (#970)
  README.md
Due: none

Add user list page (#965)
  backend/openapi.json
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/lib.rs
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/users/UserListPage.test.tsx
  frontend/app/module/users/UserListPage.tsx
  frontend/app/module/users/UsersHomePage.tsx
  frontend/app/module/users/index.ts
  frontend/app/module/users/useUserListRequest.ts
  frontend/app/routes.tsx
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api-mocks/UserMockData.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/i18n/locales/nl/user.json
  frontend/lib/ui/style/util.css
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

add model-based test for data entry (#949)
  frontend/.eslintrc.cjs
  frontend/e2e-tests/data-entry.model.e2e.ts
  frontend/e2e-tests/page-objects/data_entry/DataEntryBasePgObj.ts
  frontend/e2e-tests/page-objects/data_entry/PollingStationChoicePgObj.ts
  frontend/e2e-tests/page-objects/data_entry/VotersAndVotesPgObj.ts
  frontend/e2e-tests/xstate-helpers.ts
  frontend/package-lock.json
  frontend/package.json
Due: frontend-typescript, frontend-linter

Update autorisatiematrix.md
  documentatie/use-cases/autorisatiematrix.md
Due: none

Update autorisatiematrix.md (#974)
  documentatie/use-cases/autorisatiematrix.md
Due: none

patch difference counts tests
  frontend/app/component/form/data_entry/differences/DifferenceForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.tsx
  frontend/app/component/form/data_entry/differences/useDifferences.ts
  frontend/app/component/form/data_entry/test.util.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
Due: frontend-typescript, frontend-linter

Merged User and ListedUser
  backend/.sqlx/query-d9937599b2e17553af906c80651c1b5c7e9c2b113297be8e35a7673a2e3ed0f0.json
  backend/openapi.json
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/role.rs
  backend/src/authentication/user.rs
  frontend/lib/api-mocks/UserMockData.ts
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Mixed created user roles in tests and used fullnames for admins
  backend/src/authentication/api.rs
  backend/src/authentication/user.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added explicit feature flag
  backend/Cargo.toml
Due: none

Add pages and routes for create user
  frontend/app/component/navbar/NavBarLinks.tsx
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.tsx
  frontend/app/module/users/UserListPage.tsx
  frontend/app/module/users/UsersHomePage.tsx
  frontend/app/module/users/create/UserCreateDetailsPage.tsx
  frontend/app/module/users/create/UserCreateLayout.tsx
  frontend/app/module/users/create/UserCreateRolePage.tsx
  frontend/app/module/users/create/UserCreateTypePage.tsx
  frontend/app/module/users/index.ts
  frontend/app/routes.tsx
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/i18n/locales/nl/nl.ts
  frontend/lib/i18n/locales/nl/user.json
  frontend/lib/i18n/locales/nl/users.json
  frontend/lib/ui/Form/FormLayout.module.css
  frontend/lib/ui/Form/FormLayout.tsx
  frontend/lib/ui/Toolbar/Toolbar.module.css
Due: frontend-typescript, frontend-linter

Add context to collect user data
  frontend/app/module/users/create/UserCreateContext.tsx
  frontend/app/module/users/create/UserCreateContextProvider.tsx
  frontend/app/module/users/create/UserCreateDetailsPage.tsx
  frontend/app/module/users/create/UserCreateLayout.tsx
  frontend/app/module/users/create/UserCreateRolePage.tsx
  frontend/app/module/users/create/UserCreateTypePage.tsx
  frontend/app/module/users/create/useUserCreateContext.ts
  frontend/lib/i18n/locales/nl/users.json
Due: frontend-typescript, frontend-linter

Add user create page tests
  frontend/app/module/users/create/UserCreateDetailsPage.test.tsx
  frontend/app/module/users/create/UserCreateRolePage.test.tsx
  frontend/app/module/users/create/UserCreateTypePage.test.tsx
Due: frontend-typescript, frontend-linter

Add planning for 2025 (#971)
  documentatie/functionaliteit/milestone-2024-12.md
  documentatie/functionaliteit/planning-2025.md
  documentatie/functionaliteit/versie-1.0-gr2026.md
Due: none

Show role instead of 'user' in headers of create user pages when applicable
  frontend/app/module/users/create/UserCreateDetailsPage.test.tsx
  frontend/app/module/users/create/UserCreateDetailsPage.tsx
  frontend/app/module/users/create/UserCreateRolePage.test.tsx
  frontend/app/module/users/create/UserCreateTypePage.test.tsx
  frontend/app/module/users/create/UserCreateTypePage.tsx
  frontend/lib/i18n/locales/nl/users.json
Due: frontend-typescript, frontend-linter

Introduced font-number css class that sets geist mono font family and font feature settings
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationSelector.module.css
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationSelector.tsx
  frontend/lib/ui/InputGrid/InputGrid.module.css
  frontend/lib/ui/NumberInput/NumberInput.tsx
  frontend/lib/ui/style/util.css
  frontend/lib/ui/style/variables.css
Due: frontend-typescript, frontend-linter

Improved Table and Apportionment css files, added function for averages table for < 19 seats
  frontend/app/module/apportionment/page/ApportionmentPage.module.css
  frontend/app/module/apportionment/page/ApportionmentPage.tsx
  frontend/app/module/apportionment/page/ApportionmentRestSeatsPage.tsx
  frontend/app/module/apportionment/page/ApportionmentWholeSeatsPage.tsx
  frontend/lib/i18n/locales/nl/apportionment.json
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/ui/Table/Table.module.css
  frontend/lib/ui/Table/Table.tsx
Due: frontend-typescript, frontend-linter

Disallow truncation of integers with clippy
  backend/Cargo.toml
  backend/src/apportionment/mod.rs
  backend/src/data_entry/structs.rs
  backend/src/election/structs.rs
  backend/src/pdf_gen/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use u32 for party/candidate numbers
  backend/src/apportionment/mod.rs
  backend/src/data_entry/structs.rs
  backend/src/election/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

patch candidate votes form tests
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/component/form/data_entry/candidates_votes/candidatesVotesValues.ts
Due: frontend-typescript, frontend-linter

Requirements for stricter separation GSB/CSB
  documentatie/functionaliteit/versie-1.0-gr2026.md
  documentatie/use-cases/autorisatiematrix.md
Due: none

Ensure that Fractions do not divide by zero (#945)
  backend/src/apportionment/fraction.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-typescript: any of: *.{ts,tsx} and ^frontend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
