Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi && 
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add lib/api/gen/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Added create election button and page stub
  frontend/src/features/election_management/components/ElectionCreatePage.tsx
  frontend/src/features/election_management/components/index.ts
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/lib/i18n/locales/nl/election.json
  frontend/src/routes.tsx
Due: frontend-linter

Added file input
  frontend/src/components/navbar/NavBarLinks.tsx
  frontend/src/components/ui/Button/Button.module.css
  frontend/src/components/ui/FileInput/FileInput.module.css
  frontend/src/components/ui/FileInput/FileInput.stories.tsx
  frontend/src/components/ui/FileInput/FileInput.test.tsx
  frontend/src/components/ui/FileInput/FileInput.tsx
  frontend/src/components/ui/index.ts
  frontend/src/features/election_management/components/ElectionCreatePage.tsx
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/lib/i18n/locales/nl/election.json
  frontend/src/lib/i18n/locales/nl/generic.json
Due: frontend-linter

Added test for FileInput
  frontend/src/components/ui/FileInput/FileInput.module.css
  frontend/src/components/ui/FileInput/FileInput.stories.tsx
  frontend/src/components/ui/FileInput/FileInput.test.tsx
  frontend/src/components/ui/FileInput/FileInput.tsx
Due: frontend-linter

Added page layout
  frontend/src/features/election_management/components/ElectionCreatePage.tsx
  frontend/src/lib/i18n/locales/nl/generic.json
  frontend/src/lib/i18n/locales/nl/polling_station.json
Due: frontend-linter

Now using dot notation for refs to css classes
  frontend/src/components/ui/FileInput/FileInput.tsx
  frontend/src/features/election_management/components/index.ts
Due: frontend-linter

Added test for NavBarLinks
  frontend/src/components/navbar/NavBar.test.tsx
Due: frontend-linter

Show all dev links when application is running with MSW
  frontend/src/app/DevHomePage.tsx
Due: frontend-linter

Updated state machine for difference resolving
  backend/src/data_entry/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add ESLint rules to restrict cross-feature imports
  frontend/.eslintrc.cjs
Due: none

adds extention for two incorrect manual data entries CSB
  documentatie/use-cases/csb-invoer-zitting.md
Due: none

clarifies extention related to the controleprotocol
  documentatie/use-cases/gsb-eerste-zitting.md
Due: none

adds open item about issues with the PV
  documentatie/use-cases/gsb-eerste-zitting.md
Due: none

Show all dev links when application is running with MSW (#1286)
  frontend/src/app/DevHomePage.tsx
Due: frontend-linter

Added missing translations
  frontend/src/features/election_management/components/ElectionCreatePage.tsx
  frontend/src/lib/i18n/locales/nl/election.json
Due: frontend-linter

Added Button.Label variant
  frontend/src/components/ui/Button/Button.stories.tsx
  frontend/src/components/ui/Button/Button.tsx
  frontend/src/components/ui/FileInput/FileInput.tsx
Due: frontend-linter

Handle cancel event in dialog
  frontend/src/components/ui/Modal/Modal.tsx
Due: frontend-linter

Fixed bug in sequential P 9 and multiple P 10 cases
  backend/src/apportionment/seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add and use util functions getCandidateFullName and getCandidateFullNameWithGender
  frontend/src/components/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/src/components/form/data_entry/test-data/test.utils.ts
  frontend/src/lib/i18n/locales/nl/candidate.json
  frontend/src/lib/i18n/locales/nl/nl.ts
  frontend/src/lib/util/candidate.test.ts
  frontend/src/lib/util/candidate.ts
  frontend/src/lib/util/index.ts
Due: frontend-linter

Add ESLint rules to restrict cross-feature imports (#1288)
  frontend/.eslintrc.cjs
Due: none

Remove 'candidate' from generic i18n bundle
  frontend/src/lib/i18n/locales/nl/generic.json
Due: none

Now testing if we keep the right entry
  backend/src/data_entry/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Show correct candidate fullname and gender in model-na-31-2.typ
  backend/templates/model-na-31-2.typ
Due: none

Added error cases
  backend/src/data_entry/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix modal focus handling
  frontend/src/components/ui/Modal/Modal.tsx
Due: frontend-linter

Add error reference for 'already claimed'
  backend/openapi.json
  backend/src/error.rs
  frontend/src/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Added audit event types
  backend/openapi.json
  backend/src/audit_log/api.rs
  backend/src/audit_log/audit_event.rs
  backend/src/audit_log/audit_log_events.rs
  backend/src/audit_log/mod.rs
  backend/src/audit_log/service.rs
  backend/src/authentication/api.rs
  backend/src/data_entry/api.rs
  backend/src/data_entry/status.rs
  frontend/src/api/gen/openapi.ts
  frontend/src/lib/i18n/locales/nl/log.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Add audit logging
  backend/openapi.json
  backend/src/apportionment/api.rs
  backend/src/audit_log/api.rs
  backend/src/audit_log/audit_event.rs
  backend/src/audit_log/audit_log_events.rs
  backend/src/audit_log/service.rs
  backend/src/authentication/api.rs
  backend/src/data_entry/api.rs
  backend/src/election/mod.rs
  backend/src/polling_station/mod.rs
  frontend/src/api/gen/openapi.ts
  frontend/src/lib/i18n/locales/nl/log.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

fmt
  frontend/src/app/routes.tsx
  frontend/src/features/election_overview/components/OverviewPage.tsx
Due: frontend-linter

Added errors to api endpoint description
  backend/openapi.json
  backend/src/apportionment/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Updated api endpoint descriptions
  backend/openapi.json
  backend/src/apportionment/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add audit event type for api errors
  backend/openapi.json
  backend/src/audit_log/audit_event.rs
  backend/src/audit_log/audit_log_events.rs
  backend/src/authentication/api.rs
  backend/src/error.rs
  frontend/src/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

make explicit it's Bijlage 1 of Na 31-2
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Due: none

fixes formatting
  documentatie/use-cases/csb-invoer-zitting.md
Due: none

Re-ordered updated i18n files alphabetically
  frontend/src/lib/i18n/locales/nl/election.json
  frontend/src/lib/i18n/locales/nl/generic.json
  frontend/src/lib/i18n/locales/nl/polling_station.json
Due: none

Add error message for DataEntryAlreadyClaimed
  frontend/src/lib/i18n/locales/nl/error.json
Due: none

Candidate fullname util and model changes (#1292)
  backend/templates/model-na-31-2.typ
  frontend/src/components/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/src/components/form/data_entry/test-data/test.utils.ts
  frontend/src/lib/i18n/locales/nl/candidate.json
  frontend/src/lib/i18n/locales/nl/generic.json
  frontend/src/lib/i18n/locales/nl/nl.ts
  frontend/src/lib/util/candidate.test.ts
  frontend/src/lib/util/candidate.ts
  frontend/src/lib/util/index.ts
Due: frontend-linter

Updated state machine for difference resolving (#1287)
  backend/src/data_entry/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update architecture diagrams
  documentatie/softwarearchitectuur/Overzicht.md
  documentatie/softwarearchitectuur/diagrammen/component-backend.png
  documentatie/softwarearchitectuur/diagrammen/component-frontend.png
  documentatie/softwarearchitectuur/diagrammen/container.png
  documentatie/softwarearchitectuur/diagrammen/systeemlandschap.png
  documentatie/softwarearchitectuur/frontend-structuur.md
  documentatie/softwarearchitectuur/structurizr/.gitignore
  documentatie/softwarearchitectuur/structurizr/Components_EN.png
  documentatie/softwarearchitectuur/structurizr/Components_EN.svg
  documentatie/softwarearchitectuur/structurizr/Components_NL.svg
  documentatie/softwarearchitectuur/structurizr/Container_EN.png
  documentatie/softwarearchitectuur/structurizr/Container_EN.svg
  documentatie/softwarearchitectuur/structurizr/Container_NL.svg
  documentatie/softwarearchitectuur/structurizr/README.md
  documentatie/softwarearchitectuur/structurizr/SystemLandscape.svg
  documentatie/softwarearchitectuur/structurizr/workspace.dsl
  documentatie/softwarearchitectuur/structurizr/workspace.json
Due: none

Fix typo
  documentatie/softwarearchitectuur/Overzicht.md
Due: none
