Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

backend-sqlx-prepare:
  run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --all-features -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi &&  git add openapi.json && cd ../frontend && npm run gen:openapi && git add lib/api/gen/openapi.ts
  
    '

frontend-linter:
  run: npm run lint {staged_files}

Lifted state in FileInput
  backend/openapi.json
  backend/src/election/mod.rs
  backend/src/election/structs.rs
  frontend/src/api/gen/openapi.ts
  frontend/src/components/ui/FileInput/FileInput.tsx
  frontend/src/features/election_management/components/ElectionCreatePage.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Now returning a hash from the backend
  backend/openapi.json
  backend/src/election/api.rs
  backend/src/error.rs
  frontend/src/api/gen/openapi.ts
  frontend/src/features/election_management/components/ElectionCreatePage.tsx
  frontend/src/lib/i18n/locales/nl/error.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Add browserlist
  frontend/package-lock.json
  frontend/package.json
Due: none

No zombies
  frontend/vite-prod.config.ts
Due: frontend-linter

Show abort dialog on check and save form (#1323)
  frontend/src/features/data_entry/components/DataEntryNavigation.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
Due: frontend-linter

Filter data entry choice for second entry
  frontend/src/features/data_entry_choice/components/DataEntryChoiceForm.tsx
  frontend/src/features/data_entry_choice/components/PollingStationSelector.tsx
  frontend/src/features/data_entry_choice/utils/util.ts
  frontend/src/lib/i18n/locales/nl/polling_station_choice.json
Due: frontend-linter

Move `getUrlForDataEntry` to feature
  frontend/src/features/data_entry_choice/components/DataEntryChoiceForm.tsx
  frontend/src/features/data_entry_choice/components/PollingStationLink.tsx
  frontend/src/features/data_entry_choice/components/PollingStationsList.tsx
  frontend/src/features/data_entry_choice/utils/util.ts
  frontend/src/lib/util/data-entry.ts
  frontend/src/lib/util/index.ts
Due: frontend-linter

Run some tests against imported data
  backend/openapi.json
  backend/src/election/api.rs
  backend/src/eml/common.rs
  backend/src/eml/eml_110.rs
  backend/src/eml/mod.rs
  backend/src/error.rs
  frontend/src/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Use lightningcss in ladle
  frontend/.ladle/vite.config.ts
Due: frontend-linter

Move `useFormKeyboardNavigation` to data entry feature
  frontend/src/components/ui/Form/Form.stories.tsx
  frontend/src/components/ui/Form/index.ts
  frontend/src/features/data_entry/components/FormKeyboardNavigation.stories.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/features/data_entry/hooks/useDataEntryFormSection.ts
  frontend/src/features/data_entry/hooks/useFormKeyboardNavigation.test.tsx
  frontend/src/features/data_entry/hooks/useFormKeyboardNavigation.ts
Due: frontend-linter

Update frontend/src/features/data_entry_choice/components/DataEntryChoiceForm.tsx
  frontend/src/features/data_entry_choice/components/DataEntryChoiceForm.tsx
Due: frontend-linter

minutes from session 8Apr25
  documentatie/use-cases/input-output-bestanden.md
Due: none

removes mention of removed test from test tooling doc
  documentatie/ontwikkelproces/test-tooling.md
Due: none

Fix bottom bar background on data entry pages
  frontend/src/components/ui/BottomBar/BottomBar.stories.tsx
  frontend/src/components/ui/BottomBar/BottomBar.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.tsx
  frontend/src/features/data_entry/components/differences/DifferencesForm.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.tsx
Due: frontend-linter

Fix bottom bar background on data entry pages (#1335)
  frontend/src/components/ui/BottomBar/BottomBar.stories.tsx
  frontend/src/components/ui/BottomBar/BottomBar.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.tsx
  frontend/src/features/data_entry/components/differences/DifferencesForm.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.tsx
Due: frontend-linter

processes notes; adds TODOs
  documentatie/use-cases/input-output-bestanden.md
Due: none

Move `useFormKeyboardNavigation` to data entry feature (#1330)
  frontend/src/components/ui/Form/Form.stories.tsx
  frontend/src/components/ui/Form/index.ts
  frontend/src/features/data_entry/components/FormKeyboardNavigation.stories.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/features/data_entry/hooks/useDataEntryFormSection.ts
  frontend/src/features/data_entry/hooks/useFormKeyboardNavigation.test.tsx
  frontend/src/features/data_entry/hooks/useFormKeyboardNavigation.ts
Due: frontend-linter

Filter data entry choice for second entry (#1329)
  frontend/src/features/data_entry_choice/components/DataEntryChoiceForm.tsx
  frontend/src/features/data_entry_choice/components/PollingStationLink.tsx
  frontend/src/features/data_entry_choice/components/PollingStationSelector.tsx
  frontend/src/features/data_entry_choice/components/PollingStationsList.tsx
  frontend/src/features/data_entry_choice/utils/util.ts
  frontend/src/lib/i18n/locales/nl/polling_station_choice.json
  frontend/src/lib/util/data-entry.ts
  frontend/src/lib/util/index.ts
Due: frontend-linter

Fix polling stations list header margin
  frontend/src/features/data_entry_choice/components/DataEntryChoice.module.css
Due: none

Fix input border styling
  frontend/src/components/ui/InputField/InputField.module.css
Due: none

migrate tests in DataEntry.integration.test.tsx to playwright tests (#1314)
  documentatie/ontwikkelproces/test-tooling.md
  frontend/e2e-tests/helpers-utils/e2e-test-helpers.ts
  frontend/e2e-tests/helpers-utils/xstate-helpers.ts
  frontend/e2e-tests/page-objects/ErrorModalPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/DataEntryHomePgObj.ts
  frontend/e2e-tests/page-objects/data_entry/index.ts
  frontend/e2e-tests/tests/authentication.e2e.ts
  frontend/e2e-tests/tests/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry.error.model.e2e.ts
  frontend/e2e-tests/tests/data-entry.valid.model.e2e.ts
  frontend/e2e-tests/tests/data-entry.warning.model.e2e.ts
  frontend/e2e-tests/tests/pdf-rendering.e2e.ts
  frontend/e2e-tests/tests/polling-station-crud.e2e.ts
  frontend/e2e-tests/tests/resume-data-entry.e2e.ts
  frontend/e2e-tests/tests/users.e2e.ts
  frontend/e2e-tests/tests/zip-download.e2e.ts
  frontend/package.json
  frontend/src/features/data_entry/components/DataEntry.integration.test.tsx
Due: frontend-linter

resolves most of the TODOs
  documentatie/use-cases/input-output-bestanden.md
Due: none

extends EML_NL descriptions
  documentatie/use-cases/input-output-bestanden.md
Due: none

resolves last TODO
  documentatie/use-cases/gsb-eerste-zitting.md
  documentatie/use-cases/input-output-bestanden.md
Due: none

fixes existing test for ErrorModal
  frontend/src/components/error/ErrorModal.stories.tsx
  frontend/src/components/error/ErrorModal.test.tsx
Due: frontend-linter

improves existing ErrorModal test
  frontend/src/components/error/ErrorModal.test.tsx
Due: frontend-linter

adds test coverage for two remaining paths of ErrorModal
  frontend/src/components/error/ErrorModal.stories.tsx
  frontend/src/components/error/ErrorModal.test.tsx
Due: frontend-linter

adds closing of modal to ErrorModal tests
  frontend/src/components/error/ErrorModal.test.tsx
Due: frontend-linter

clarifies purpose of EML_NL 210
  documentatie/verkiezingsproces/verloop-verkiezingen.md
Due: none

Update frontend/src/components/error/ErrorModal.test.tsx
  frontend/src/components/error/ErrorModal.test.tsx
Due: frontend-linter

adds ApiClient test for non-fatal 500 and 300 with body responses
  frontend/src/api/ApiClient.test.ts
Due: frontend-linter

splits ApiClient tests in json vs non-json response
  frontend/src/api/ApiClient.test.ts
Due: frontend-linter

Added endpoint to resolve different entries (#1320)
  backend/.sqlx/query-e3da3f0a32f33a1e9559153236c3d32315842dd65f9ba445caac231979501e87.json
  backend/openapi.json
  backend/src/audit_log/audit_event.rs
  backend/src/data_entry/api.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/structs.rs
  frontend/src/api/gen/openapi.ts
  frontend/src/lib/i18n/locales/nl/log.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Parsing and writing of 510d and 520 EML files (#1325)
  backend/src/eml/common.rs
  backend/src/eml/eml_110.rs
  backend/src/eml/eml_230.rs
  backend/src/eml/eml_510.rs
  backend/src/eml/eml_520.rs
  backend/src/eml/mod.rs
  backend/src/eml/tests/deserialize_eml510d_test.eml.xml
  backend/src/eml/tests/eml520_test.eml.xml
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix styling regressions (#1340)
  frontend/src/components/ui/InputField/InputField.module.css
  frontend/src/features/data_entry_choice/components/DataEntryChoice.module.css
Due: none

improves method name handleEmptyBody of ApiClient
  frontend/src/api/ApiClient.ts
Due: frontend-linter

restore code coverage of ErrorModal.tsx (#1344)
  frontend/src/components/error/ErrorModal.stories.tsx
  frontend/src/components/error/ErrorModal.test.tsx
Due: frontend-linter

restore code coverage ApiClient (#1345)
  frontend/src/api/ApiClient.test.ts
  frontend/src/api/ApiClient.ts
Due: frontend-linter

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
