Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

backend-sqlx-prepare:
  run: 'cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite && cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets && git add .sqlx && rm sqlx-cache-tmp.sqlite
  
    '

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi && git add openapi.json && cd ../frontend && pnpm gen:openapi && git add src/types/generated/openapi.ts
  
    '

frontend-lint-tsc:
  run: pnpm lint:tsc

frontend-lint-eslint:
  run: pnpm lint:eslint

Rename other occurrences of polling station on the data entry homepage
  frontend/e2e-tests/page-objects/data_entry/DataEntryHomePgObj.ts
  frontend/e2e-tests/tests/data-entry/data-entry-with-gaps.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.api-errors.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.error.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.valid.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.warning.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
  frontend/src/features/data_entry_home/components/DataEntryHomePage.test.tsx
  frontend/src/features/data_entry_home/components/DataEntryList.tsx
  frontend/src/features/data_entry_home/components/DataEntryPicker.test.tsx
  frontend/src/features/data_entry_home/components/DataEntryPicker.tsx
  frontend/src/features/data_entry_home/components/DataEntrySourceNumberInput.tsx
  frontend/src/features/data_entry_home/hooks/useAvailableDataEntries.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Remove redirect for Storybook JS file (#3045)
  backend/src/infra/router.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove unused enum DataEntryUserStatus.EntryNotAllowed and translation entry_not_allowed
  frontend/src/features/data_entry_home/components/DataEntryPicker.tsx
  frontend/src/features/data_entry_home/components/DataEntrySourceNumberInput.tsx
  frontend/src/features/data_entry_home/hooks/useAvailableDataEntries.ts
  frontend/src/features/data_entry_home/utils/util.ts
  frontend/src/i18n/locales/nl/data_entry_home.json
Due: frontend-lint-tsc, frontend-lint-eslint

Increase Playwright webServer timeout to 5 minutes
  frontend/playwright.config.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Increase Playwright webServer timeout to 5 minutes (#3049)
  frontend/playwright.config.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Election GSB checks
  backend/src/api/document.rs
  backend/src/api/election.rs
  backend/src/api/polling_station.rs
  backend/src/api/user.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Biome ignore removal, rerender links on user change
  frontend/src/features/dev/components/DevHomePage.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Use ElectionStatusResponseEntry instead of PollingStation for frontend data_entry_home feature (#3046)
  frontend/e2e-tests/page-objects/data_entry/DataEntryHomePgObj.ts
  frontend/e2e-tests/tests/data-entry/data-entry-with-gaps.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.api-errors.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.error.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.valid.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.warning.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
  frontend/src/features/data_entry_home/components/DataEntryHome.module.css
  frontend/src/features/data_entry_home/components/DataEntryHomePage.test.tsx
  frontend/src/features/data_entry_home/components/DataEntryHomePage.tsx
  frontend/src/features/data_entry_home/components/DataEntryLink.tsx
  frontend/src/features/data_entry_home/components/DataEntryList.tsx
  frontend/src/features/data_entry_home/components/DataEntryPicker.test.tsx
  frontend/src/features/data_entry_home/components/DataEntryPicker.tsx
  frontend/src/features/data_entry_home/components/DataEntrySourceNumberInput.tsx
  frontend/src/features/data_entry_home/components/PollingStationLink.tsx
  frontend/src/features/data_entry_home/components/PollingStationNumberInput.tsx
  frontend/src/features/data_entry_home/components/PollingStationPicker.test.tsx
  frontend/src/features/data_entry_home/components/PollingStationPicker.tsx
  frontend/src/features/data_entry_home/components/PollingStationsList.tsx
  frontend/src/features/data_entry_home/hooks/useAvailableDataEntries.ts
  frontend/src/features/data_entry_home/hooks/useAvailablePollingStations.ts
  frontend/src/features/data_entry_home/utils/util.ts
  frontend/src/i18n/locales/nl/data_entry_home.json
  frontend/src/i18n/locales/nl/nl.ts
  frontend/src/testing/api-mocks/ElectionStatusMockData.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Frontend routes
  frontend/src/app/routes.tsx
  frontend/src/features/account/routes.tsx
  frontend/src/features/data_entry/routes.tsx
  frontend/src/features/data_entry_detail/routes.tsx
  frontend/src/features/data_entry_home/routes.tsx
  frontend/src/features/election_management/routes.tsx
  frontend/src/features/election_status/routes.tsx
  frontend/src/features/logs/routes.tsx
  frontend/src/features/resolve_differences/routes.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Spelling fix, role fix
  backend/openapi.json
  backend/src/api/document.rs
  backend/src/api/report.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove duplication
  backend/src/api/polling_station.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Renumber fixture polling station ids and data entry ids, to make them distinct
  backend/fixtures/election_1.sql
  backend/fixtures/election_2.sql
  backend/fixtures/election_3.sql
  backend/fixtures/election_4.sql
  backend/fixtures/election_5_with_results.sql
  backend/fixtures/election_8_csb.sql
  backend/src/api/data_entry.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/investigation.rs
  backend/src/domain/polling_station.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/repository/data_entry_repo.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/committee_session_integration_test.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/data_entries_resolve_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/investigation_integration_test.rs
  backend/tests/polling_station_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Changed unique highest averages table to show already assigned instead of full seats
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Updated election report page (#2973)
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/features/election_management/components/report/ElectionReportSection.tsx
  frontend/src/i18n/locales/nl/election_management.json
  frontend/src/i18n/locales/nl/election_report.json
Due: frontend-lint-tsc, frontend-lint-eslint

When checking expected status NOT_FOUND, first assert that the polling station exists at all.
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Changed unique highest averages table to show already assigned instead of full seats (#3058)
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Fix test with incorrect polling_station_id and add existence assertion
  backend/.sqlx/query-c100b7ee6ec84bce5f091c5d239c5c11279a30e27f36d14ac8a8821faf407234.json
  backend/src/api/investigation.rs
  backend/src/repository/polling_station_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix delete_polling_station() test with incorrect polling_station_id and add existence assertion
  backend/tests/polling_station_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add unit test for Role::is_authorized()
  backend/src/domain/election.rs
  backend/src/domain/role.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

PR feedback
  frontend/src/features/election_management/components/report/CSBElectionReportSection.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/features/election_management/components/report/ElectionReportSection.tsx
  frontend/src/features/election_management/components/report/GSBElectionReportSection.tsx
  frontend/src/testing/api-mocks/CommitteeSessionMockData.ts
  frontend/src/testing/api-mocks/ElectionMockData.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Remove polling station parameter from validation
  backend/fuzz/fuzz_targets/data_entry_status.rs
  backend/src/api/data_entry.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/polling_station.rs
  backend/src/domain/results/common_polling_station_results.rs
  backend/src/domain/results/count.rs
  backend/src/domain/results/counting_differences_polling_station.rs
  backend/src/domain/results/differences_counts.rs
  backend/src/domain/results/extra_investigation.rs
  backend/src/domain/results/mod.rs
  backend/src/domain/results/political_group_candidate_votes.rs
  backend/src/domain/results/political_group_total_votes.rs
  backend/src/domain/results/voters_counts.rs
  backend/src/domain/results/votes_counts.rs
  backend/src/domain/summary.rs
  backend/src/domain/validate.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add x-session-expires-at to login action to prevent /login redirect
  backend/src/api/authentication.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Submit polling station select form on enter
  frontend/src/features/data_entry_home/components/DataEntryPicker.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Move auth. logic from RootLayout to AuthorizationGate
  frontend/src/app/AuthorizationDialog.tsx
  frontend/src/app/AuthorizationGate.test.tsx
  frontend/src/app/AuthorizationGate.tsx
  frontend/src/app/RootLayout.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Show seconds in log
  frontend/src/utils/dateTime.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Revert to password-hash 0.5.0
  backend/Cargo.lock
  backend/Cargo.toml
Due: none

Move frontend authorization logic to `AuthorizationGuard`
  frontend/src/app/AuthorizationDialog.test.tsx
  frontend/src/app/AuthorizationDialog.tsx
  frontend/src/app/AuthorizationGuard.test.tsx
  frontend/src/app/AuthorizationGuard.tsx
  frontend/src/app/RootLayout.test.tsx
  frontend/src/app/RootLayout.tsx
  frontend/src/app/routes.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Add getPostLoginPath for uniform redirects after login
  frontend/src/app/AuthorizationGuard.test.tsx
  frontend/src/app/AuthorizationGuard.tsx
  frontend/src/features/account/components/LoginForm.tsx
  frontend/src/features/account/utils/getPostLoginPath.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Renumber fixture polling station IDs and data entry IDs (#3059)
  backend/.sqlx/query-c100b7ee6ec84bce5f091c5d239c5c11279a30e27f36d14ac8a8821faf407234.json
  backend/fixtures/election_1.sql
  backend/fixtures/election_2.sql
  backend/fixtures/election_3.sql
  backend/fixtures/election_4.sql
  backend/fixtures/election_5_with_results.sql
  backend/fixtures/election_8_csb.sql
  backend/src/api/data_entry.rs
  backend/src/api/investigation.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/investigation.rs
  backend/src/domain/polling_station.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/repository/data_entry_repo.rs
  backend/src/repository/polling_station_repo.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/committee_session_integration_test.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/data_entries_resolve_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/investigation_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

PR feedback
  frontend/e2e-tests/tests/full-flow.e2e.ts
  frontend/src/features/election_management/components/report/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/i18n/locales/nl/data_entry_detail.json
  frontend/src/i18n/locales/nl/election_management.json
  frontend/src/i18n/locales/nl/voters_votes_counts.json
Due: frontend-lint-tsc, frontend-lint-eslint

Remove polling station parameter from validation (#3065)
  backend/fuzz/Cargo.lock
  backend/fuzz/fuzz_targets/data_entry_status.rs
  backend/src/api/data_entry.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/polling_station.rs
  backend/src/domain/results/common_polling_station_results.rs
  backend/src/domain/results/count.rs
  backend/src/domain/results/counting_differences_polling_station.rs
  backend/src/domain/results/differences_counts.rs
  backend/src/domain/results/extra_investigation.rs
  backend/src/domain/results/mod.rs
  backend/src/domain/results/political_group_candidate_votes.rs
  backend/src/domain/results/political_group_total_votes.rs
  backend/src/domain/results/voters_counts.rs
  backend/src/domain/results/votes_counts.rs
  backend/src/domain/summary.rs
  backend/src/domain/validate.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add `x-session-expires-at` header to login endpoint to prevent /account/login redirect (#3064)
  backend/src/api/authentication.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update flatted to 3.4.2
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

adds page title to logout component
  frontend/src/features/account/components/Logout.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Update flatted to 3.4.2 (#3077)
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

Fixed pageTitle for election report page
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

add page title to logout component (#3078)
  frontend/src/features/account/components/Logout.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Add test case
  frontend/src/app/AuthorizationGuard.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-lint-tsc: any of: *.{ts,tsx} and ^frontend/
  frontend-lint-eslint: any of: *.{ts,tsx} and ^frontend/
