Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-formatter, backend-linter, frontend-linter

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy

frontend-linter:
  run: npm run lint

Add Prettier formatting to Lefthook config
  lefthook.yml
Due: none

Lint only staged frontend files, including Ladle
  frontend/.eslintrc.cjs
  frontend/.ladle/components.tsx
  frontend/tsconfig.json
  lefthook.yml
Due: frontend-linter

Check frontend formatting in GitHub Actions
  .github/workflows/frontend.yml
Due: none

Remove `mockServiceWorker.js` from Git
  frontend/.gitignore
  frontend/mockServiceWorker.js
Due: none

Add Lefthook pre-commit configuration (#30)
  .github/workflows/frontend.yml
  README.md
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/.ladle/components.tsx
  frontend/mockServiceWorker.js
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  lefthook.yml
Due: frontend-linter

add first concept fixed header
  frontend/app/module/input/InputLayout.tsx
  frontend/app/module/input/page/PollingStationPage.tsx
  frontend/lib/ui/AppLayout/AppLayout.tsx
  frontend/lib/ui/AppLayout/FixedHeaderController.ts
  frontend/lib/ui/AppLayout/applayout.module.css
  frontend/lib/ui/AppLayout/index.ts
  frontend/lib/ui/AppLayout/useAppLayout.tsx
  frontend/lib/ui/index.ts
  frontend/lib/ui/layout/AppLayout.tsx
  frontend/lib/ui/style/layout.css
  frontend/lib/ui/style/typography.css
  frontend/lib/ui/style/variables.css
  frontend/lib/ui/tag/tag.module.css
  frontend/lib/util/domtoren.ts
Due: frontend-linter

add app layout fixed header functionality
  frontend/lib/ui/AppLayout/AppLayout.tsx
  frontend/lib/ui/AppLayout/controller/FixedHeaderController.ts
  frontend/lib/ui/AppLayout/controller/UIController.ts
Due: frontend-linter

fix conflict
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
Due: frontend-linter

fix conflict
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/main.tsx
  frontend/app/module/input/page/PollingStationPage.test.tsx
  frontend/app/msw-mock-api.ts
  frontend/app/test/unit/Providers.tsx
  frontend/app/test/unit/test-utils.ts
  frontend/app/types.d.ts
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/ApiProvider.tsx
  frontend/lib/api/api.d.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/api/index.ts
  frontend/lib/api/useApi.ts
  frontend/lib/api/useApiRequest.ts
  frontend/lib/api/usePollingStationDataEntry.ts
  frontend/lib/util/hook/usePositiveNumberInputMask.test.ts
  frontend/lib/util/hook/usePositiveNumberInputMask.ts
  frontend/package.json
  frontend/scripts/gen_openapi_types.ts
  frontend/vite.config.ts
Due: frontend-linter

Move `polling_station ` structs to new module
  backend/src/polling_station/mod.rs
  backend/src/polling_station/structs.rs
Due: backend-formatter, backend-linter

Update Cargo dependencies
  backend/Cargo.lock
Due: none

Added placeholder pages for login, account setup and elections overview
  frontend/app/component/form/account_setup/AccountSetupForm.tsx
  frontend/app/component/form/login/LoginForm.tsx
  frontend/app/module/HomePage.tsx
  frontend/app/module/login/LoginLayout.tsx
  frontend/app/module/login/index.ts
  frontend/app/module/login/page/AccountSetupPage.tsx
  frontend/app/module/login/page/LoginHomePage.test.tsx
  frontend/app/module/login/page/LoginHomePage.tsx
  frontend/app/module/login/page/index.ts
  frontend/app/module/overview/OverviewLayout.tsx
  frontend/app/module/overview/index.ts
  frontend/app/module/overview/page/OverviewPage.tsx
  frontend/app/module/overview/page/index.ts
  frontend/app/routes.tsx
  frontend/lib/ui/BottomBar/BottomBar.e2e.ts
  frontend/lib/ui/BottomBar/BottomBar.stories.tsx
  frontend/lib/ui/BottomBar/BottomBar.test.tsx
  frontend/lib/ui/BottomBar/BottomBar.tsx
  frontend/lib/ui/index.ts
  frontend/package.json
Due: frontend-linter

Update `openapi.json` using Lefthook
  lefthook.yml
Due: none

Added InputField component and added basic styling. Improved BottomBar, but not sticking to the bottom so not ready yet.
  frontend/app/component/form/account_setup/AccountSetupForm.tsx
  frontend/app/component/form/login/LoginForm.tsx
  frontend/app/module/login/page/AccountSetupPage.tsx
  frontend/app/module/overview/OverviewLayout.tsx
  frontend/lib/ui/BottomBar/BottomBar.module.css
  frontend/lib/ui/BottomBar/BottomBar.tsx
  frontend/lib/ui/InputField/InputField.module.css
  frontend/lib/ui/InputField/InputField.stories.tsx
  frontend/lib/ui/InputField/InputField.test.tsx
  frontend/lib/ui/InputField/InputField.tsx
  frontend/lib/ui/index.ts
  frontend/lib/ui/style/layout.css
Due: frontend-linter

Fix InputGrid casing
  frontend/lib/ui/InputGrid/InputGrid.e2e.ts
  frontend/lib/ui/InputGrid/InputGrid.module.css
  frontend/lib/ui/InputGrid/InputGrid.stories.tsx
  frontend/lib/ui/InputGrid/InputGrid.test.tsx
  frontend/lib/ui/InputGrid/InputGrid.tsx
Due: frontend-linter

fix conflict
  frontend/.babelrc
  frontend/.eslintrc.cjs
  frontend/app/component/footer/Footer.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/module/input/page/PollingStationPage.tsx
  frontend/app/msw-mock-api.ts
  frontend/app/test/unit/test-utils.ts
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/ApiProvider.tsx
  frontend/lib/api/api.d.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/api/useApi.ts
  frontend/lib/api/useApiRequest.ts
  frontend/lib/api/usePollingStationDataEntry.ts
  frontend/lib/ui/Button/Button.tsx
  frontend/lib/ui/InputGrid/InputGrid.tsx
  frontend/lib/ui/ProgressList/ProgressList.tsx
  frontend/lib/ui/style/variables.css
  frontend/lib/util/classnames.ts
  frontend/lib/util/hook/usePositiveNumberInputMask.test.ts
  frontend/mockServiceWorker.js
  frontend/playwright.config.ts
  frontend/scripts/gen_icons.js
  frontend/scripts/gen_openapi_types.ts
  frontend/scripts/openapi.ts
Due: frontend-linter

prettier reformat
  frontend/.babelrc
  frontend/.eslintrc.cjs
  frontend/app/component/footer/Footer.tsx
  frontend/app/module/input/page/PollingStationPage.tsx
  frontend/app/msw-mock-api.ts
  frontend/app/test/unit/test-utils.ts
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/ApiProvider.tsx
  frontend/lib/api/api.d.ts
  frontend/lib/api/useApi.ts
  frontend/lib/api/useApiRequest.ts
  frontend/lib/api/usePollingStationDataEntry.ts
  frontend/lib/ui/Button/Button.tsx
  frontend/lib/ui/InputGrid/InputGrid.tsx
  frontend/lib/ui/ProgressList/ProgressList.tsx
  frontend/lib/ui/style/variables.css
  frontend/lib/util/classnames.ts
  frontend/lib/util/hook/usePositiveNumberInputMask.test.ts
  frontend/playwright.config.ts
  frontend/scripts/gen_icons.js
  frontend/scripts/gen_openapi_types.ts
  frontend/scripts/openapi.ts
Due: frontend-linter

refactor ApiClient add example test
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/test/unit/index.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/useApiRequest.test.ts
  frontend/lib/api/useApiRequest.ts
  frontend/lib/api/usePollingStationDataEntry.temp.ts
  frontend/lib/api/usePollingStationDataEntry.test.ts
  frontend/lib/api/usePollingStationDataEntry.ts
Due: frontend-linter

broken commit
  backend/src/polling_station/mod.rs
  frontend/lib/api/useApiRequest.test.ts
  frontend/lib/api/usePollingStationDataEntry.temp.ts
  frontend/lib/api/usePollingStationDataEntry.ts
Due: backend-formatter, backend-linter, frontend-linter

Implement validation of polling station data entry
  backend/openapi.json
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/structs.rs
  backend/src/validation.rs
  backend/tests/integration_test.rs
Due: backend-formatter, backend-linter

Always return JSON response from data entry API
  backend/Cargo.lock
  backend/Cargo.toml
  backend/openapi.json
  backend/src/polling_station/mod.rs
  backend/tests/integration_test.rs
Due: backend-formatter, backend-linter

Warn when using unwrap in non-test code
  backend/src/lib.rs
  backend/tests/integration_test.rs
Due: backend-formatter, backend-linter

Move lint configuration to config files
  .github/workflows/backend.yml
  backend/Cargo.toml
  backend/clippy.toml
  backend/src/bin/api.rs
  backend/src/lib.rs
  backend/tests/integration_test.rs
Due: backend-formatter, backend-linter

remove mockServiceWorker from repository
  frontend/mockServiceWorker.js
Due: none

remove mock code
  backend/src/polling_station/mod.rs
Due: backend-formatter, backend-linter

Finished styling of InputField, only issue is that the BottomBar is not always stuck to the bottom of the screen
  frontend/lib/icon/gen.tsx
  frontend/lib/icon/svg/error.svg
  frontend/lib/ui/InputField/InputField.module.css
  frontend/lib/ui/InputField/InputField.stories.tsx
  frontend/lib/ui/InputField/InputField.test.tsx
  frontend/lib/ui/InputField/InputField.tsx
  frontend/lib/ui/style/variables.css
Due: frontend-linter

Updated based on feedback from Joris
  frontend/app/component/form/account_setup/AccountSetupForm.tsx
  frontend/lib/ui/BottomBar/BottomBar.tsx
  frontend/lib/ui/InputField/InputField.module.css
  frontend/lib/ui/InputField/InputField.stories.tsx
  frontend/lib/ui/InputField/InputField.tsx
Due: frontend-linter

Expand validation integration test assertions
  backend/src/validation.rs
  backend/tests/integration_test.rs
Due: backend-formatter, backend-linter

Small fix for the error icon location
  frontend/lib/ui/InputField/InputField.module.css
Due: none

Added e2e tests for InputField and updated colour names and fixed broken header margin
  frontend/app/module/input/page/PollingStationPage.tsx
  frontend/lib/ui/BottomBar/BottomBar.module.css
  frontend/lib/ui/InputField/InputField.e2e.ts
  frontend/lib/ui/InputField/InputField.module.css
  frontend/lib/ui/InputField/InputField.stories.tsx
  frontend/lib/ui/style/layout.css
  frontend/lib/ui/style/variables.css
Due: frontend-linter

Submit data entry from frontend to backend API (#31)
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/main.tsx
  frontend/app/module/input/page/PollingStationPage.test.tsx
  frontend/app/msw-mock-api.ts
  frontend/app/test/unit/Providers.tsx
  frontend/app/test/unit/index.ts
  frontend/app/test/unit/test-utils.ts
  frontend/app/types.d.ts
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/ApiProvider.tsx
  frontend/lib/api/api.d.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/api/index.ts
  frontend/lib/api/useApi.ts
  frontend/lib/api/useApiRequest.ts
  frontend/lib/api/usePollingStationDataEntry.test.ts
  frontend/lib/api/usePollingStationDataEntry.ts
  frontend/lib/ui/InputGrid/InputGrid.e2e.ts
  frontend/lib/ui/InputGrid/InputGrid.module.css
  frontend/lib/ui/InputGrid/InputGrid.stories.tsx
  frontend/lib/ui/InputGrid/InputGrid.test.tsx
  frontend/lib/ui/InputGrid/InputGrid.tsx
  frontend/lib/util/hook/usePositiveNumberInputMask.test.ts
  frontend/lib/util/hook/usePositiveNumberInputMask.ts
  frontend/package.json
  frontend/scripts/gen_openapi_types.ts
  frontend/vite.config.ts
Due: frontend-linter

add mock test add dist serve option
  frontend/app/component/MockTest.tsx
  frontend/app/module/HomePage.tsx
  frontend/index.html
  frontend/package.json
  frontend/vite.config.ts
Due: frontend-linter

fix build:msw correct env
  frontend/app/module/HomePage.tsx
  frontend/package.json
Due: frontend-linter

Fix MSW build (#46)
  frontend/app/component/MockTest.tsx
  frontend/app/module/HomePage.tsx
  frontend/index.html
  frontend/package.json
  frontend/vite.config.ts
Due: frontend-linter

Renamed login module to user module
  frontend/app/component/form/account_setup/AccountSetupForm.tsx
  frontend/app/component/form/login/LoginForm.tsx
  frontend/app/module/HomePage.tsx
  frontend/app/module/login/page/index.ts
  frontend/app/module/user/LoginLayout.tsx
  frontend/app/module/user/index.ts
  frontend/app/module/user/page/AccountSetupPage.tsx
  frontend/app/module/user/page/LoginPage.test.tsx
  frontend/app/module/user/page/LoginPage.tsx
  frontend/app/module/user/page/UserHomePage.tsx
  frontend/app/module/user/page/index.ts
  frontend/app/routes.tsx
  frontend/lib/ui/style/typography.css
Due: frontend-linter

Implement validation rules in backend (#42)
  .github/workflows/backend.yml
  backend/Cargo.lock
  backend/Cargo.toml
  backend/clippy.toml
  backend/openapi.json
  backend/src/bin/api.rs
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/structs.rs
  backend/src/validation.rs
  backend/tests/integration_test.rs
  lefthook.yml
Due: backend-formatter, backend-linter

Surrounded InputField with a div with margin instead of using <br/> in the forms
  frontend/app/component/form/account_setup/AccountSetupForm.tsx
  frontend/app/component/form/login/LoginForm.tsx
  frontend/lib/ui/InputField/InputField.module.css
  frontend/lib/ui/InputField/InputField.tsx
Due: frontend-linter

Using the custom render function for LoginPage test
  frontend/app/module/user/page/LoginPage.test.tsx
Due: frontend-linter

Fixed import
  frontend/app/component/form/login/LoginForm.tsx
Due: frontend-linter

Fixed failing test
  frontend/app/test/unit/Providers.tsx
Due: frontend-linter

Path conditions:
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
