Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

backend-sqlx-prepare:
  run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --all-features -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi &&  git add openapi.json && cd ../frontend && npm run gen:openapi && git add lib/api/gen/openapi.ts
  
    '

frontend-linter:
  run: npm run lint {staged_files}

fixes flaky test by replacing getBy with findBy
  frontend/src/features/account/components/CreateFirstAdminForm.test.tsx
Due: frontend-linter

Updated differences counts short title
  frontend/e2e-tests/page-objects/data_entry/ProgressListPgObj.ts
  frontend/src/features/data_entry/components/DataEntryProgress.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsNavigation.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsOverview.test.tsx
  frontend/src/i18n/locales/nl/differences_counts.json
Due: frontend-linter

Fixed styling for elements in legend in choicelist
  frontend/src/components/ui/CheckboxAndRadio/ChoiceList.tsx
Due: frontend-linter

fix flaky test by replacing getBy with findBy (#2042)
  frontend/src/features/account/components/CreateFirstAdminForm.test.tsx
Due: frontend-linter

Implemented Na 14-2
  backend/templates/common/scripts.typ
  backend/templates/model-na-14-2.typ
Due: none

Fixes from feedback
  backend/templates/model-na-14-2.typ
Due: none

Implemented Model P 2a in typst (#2021)
  backend/templates/model-p-2a.typ
Due: none

add entering of eligible voters to use cases (#1973)
  documentatie/use-cases/beheerder.md
Due: none

Linked ElectionReportPage to committee session
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/report/FinishDataEntryPage.test.tsx
  frontend/src/features/election_management/components/report/FinishDataEntryPage.tsx
  frontend/src/features/election_management/components/update/CommitteeSessionDetailsPage.test.tsx
  frontend/src/features/election_management/components/update/CommitteeSessionDetailsPage.tsx
  frontend/src/features/election_management/routes.tsx
Due: frontend-linter

Keep check hash error messages on focus and blur
  frontend/src/features/election_create/components/CheckHash.tsx
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_create/components/UploadCandidatesDefinition.tsx
  frontend/src/features/election_create/components/UploadElectionDefinition.tsx
Due: frontend-linter

Fixed eslint error
  frontend/src/features/resolve_errors/components/ResolveErrorsOverview.test.tsx
Due: frontend-linter

Moved compare_votes_cast_admitted_voters to a separate struct for difference counts
  backend/openapi.json
  backend/src/data_entry/comparison.rs
  backend/src/data_entry/structs.rs
  backend/src/data_entry/validation.rs
  backend/src/summary/mod.rs
  backend/templates/inputs/model-na-31-2.json
  backend/tests/data_entries_integration_test.rs
  backend/tests/shared/mod.rs
  frontend/e2e-tests/page-objects/data_entry/DifferencesPgObj.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/features/data_entry/components/DataEntryProgress.test.tsx
  frontend/src/features/data_entry/components/differences/DifferenceForm.test.tsx
  frontend/src/features/data_entry/testing/mock-data.ts
  frontend/src/features/data_entry/utils/reducer.test.ts
  frontend/src/features/resolve_differences/testing/polling-station-results.ts
  frontend/src/features/resolve_errors/components/ReadOnlyDataEntrySection.stories.tsx
  frontend/src/i18n/locales/nl/differences_counts.json
  frontend/src/testing/api-mocks/DataEntryMockData.ts
  frontend/src/types/generated/openapi.ts
  frontend/src/utils/dataEntryMapping.test.ts
  frontend/src/utils/dataEntryStructure.test.ts
  frontend/src/utils/dataEntryStructure.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Add investigation frontend components
  frontend/src/app/routes.tsx
  frontend/src/components/ui/Form/FormLayout.module.css
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/investigations/components/AddInvestigantion.test.tsx
  frontend/src/features/investigations/components/AddInvestigantion.tsx
  frontend/src/features/investigations/components/AddInvestigantionLayout.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendum.test.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendum.tsx
  frontend/src/features/investigations/components/InvestigationReason.test.tsx
  frontend/src/features/investigations/components/InvestigationReason.tsx
  frontend/src/features/investigations/components/InvestigationsOverview.test.tsx
  frontend/src/features/investigations/components/InvestigationsOverview.tsx
  frontend/src/features/investigations/routes.ts
  frontend/src/i18n/locales/nl/election_management.json
  frontend/src/i18n/locales/nl/investigations.json
  frontend/src/i18n/locales/nl/nl.ts
  frontend/src/styles/typography.css
Due: frontend-linter

Increase precision for audit log event times
  backend/migrations/7_audit_log.sql
Due: none

Fix stub check
  frontend/src/features/election_create/components/CheckHash.tsx
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
Due: frontend-linter

Increase precision for audit log event datetime (#2046)
  backend/migrations/7_audit_log.sql
Due: none

Added DownloadButton
  frontend/src/components/generated/icons.tsx
  frontend/src/components/navbar/NavBarLinks.tsx
  frontend/src/components/ui/BottomBar/BottomBar.tsx
  frontend/src/components/ui/DownloadButton/DownloadButton.module.css
  frontend/src/components/ui/DownloadButton/DownloadButton.stories.tsx
  frontend/src/components/ui/DownloadButton/DownloadButton.tsx
  frontend/src/features/investigations/components/AddInvestigantion.tsx
  frontend/src/features/investigations/components/AddInvestigantionLayout.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendum.tsx
  frontend/src/features/investigations/components/InvestigationReason.tsx
  frontend/src/features/investigations/components/InvestigationsOverview.tsx
  frontend/src/i18n/locales/nl/investigations.json
Due: frontend-linter

Remove overrideOnce for a POST that should not occur
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
Due: frontend-linter

Fixed #2050
  frontend/src/features/election_management/components/ElectionInformationTable.test.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
  frontend/src/i18n/locales/nl/election_management.json
Due: frontend-linter

Add unit tests for investigation components
  frontend/src/features/investigations/components/AddInvestigantion.test.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendum.test.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendum.tsx
  frontend/src/features/investigations/components/InvestigationReason.test.tsx
  frontend/src/features/investigations/components/InvestigationReason.tsx
  frontend/src/features/investigations/components/InvestigationsOverview.test.tsx
  frontend/src/i18n/locales/nl/investigations.json
Due: frontend-linter

Apply suggestions from code review
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix imports
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix navigation after creating election
  frontend/src/features/election_create/components/AbortModal.tsx
  frontend/src/features/election_create/components/CheckAndSave.tsx
Due: frontend-linter

Fixes from review of investigation components
  frontend/src/components/navbar/NavBarLinks.tsx
  frontend/src/features/investigations/components/AddInvestigation.test.tsx
  frontend/src/features/investigations/components/AddInvestigation.tsx
  frontend/src/features/investigations/components/AddInvestigationLayout.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendum.test.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendum.tsx
  frontend/src/features/investigations/components/InvestigationReason.test.tsx
  frontend/src/features/investigations/components/InvestigationReason.tsx
  frontend/src/features/investigations/components/InvestigationsOverview.tsx
  frontend/src/features/investigations/routes.ts
  frontend/src/i18n/locales/nl/investigations.json
  frontend/src/styles/typography.css
Due: frontend-linter

Fix spacing in investigation components
  frontend/src/features/investigations/components/InvestigationPrintCorrigendum.tsx
  frontend/src/features/investigations/components/InvestigationReason.tsx
  frontend/src/features/investigations/components/InvestigationsOverview.tsx
  frontend/src/styles/typography.css
  frontend/src/styles/util.css
Due: frontend-linter

Reapply change from previous PR
  frontend/src/features/election_overview/components/OverviewPage.test.tsx
Due: frontend-linter

Update frontend/src/i18n/locales/nl/investigations.json
  frontend/src/i18n/locales/nl/investigations.json
Due: none

WIP implementing endpoint, needs db table
  backend/src/committee_session/api.rs
  backend/src/committee_session/repository.rs
  backend/src/committee_session/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove investigation link todo
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
Due: frontend-linter

Copy polling stations when creating a new committee session
  backend/.sqlx/query-97c2ed4797223b46f5d5fc7d9d32fd3bc88ca448b1d23f41f75687159e955dfe.json
  backend/src/committee_session/api.rs
  backend/src/polling_station/repository.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added committee sessions to get election endpoint to make it available for ReportPage
  backend/openapi.json
  backend/src/committee_session/api.rs
  backend/src/election/api.rs
  backend/tests/committee_session_integration_test.rs
  backend/tests/election_integration_test.rs
  frontend/.storybook/preview.tsx
  frontend/e2e-tests/fixtures.ts
  frontend/src/components/navbar/NavBarLinks.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/data_entry/components/AbortDataEntryControl.test.tsx
  frontend/src/features/data_entry_home/components/DataEntryHomePage.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/features/election_management/components/report/FinishDataEntryPage.tsx
  frontend/src/features/election_management/components/update/CommitteeSessionDetailsPage.tsx
  frontend/src/features/election_management/components/update/NumberOfVotersPage.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
  frontend/src/hooks/election/ElectionProvider.tsx
  frontend/src/hooks/election/ElectionProviderContext.tsx
  frontend/src/hooks/election/useElection.ts
  frontend/src/hooks/election/useElectionDataRequest.ts
  frontend/src/testing/api-mocks/CommitteeSessionMockData.ts
  frontend/src/testing/api-mocks/ElectionMockData.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Do not show resume data entry button when not current committee session
  frontend/src/features/election_management/components/report/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
Due: frontend-linter

Fixed test get election committee session function
  backend/src/committee_session/api.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Change data entry section B1-3.3 (#2027)
  backend/openapi.json
  backend/src/data_entry/comparison.rs
  backend/src/data_entry/structs.rs
  backend/src/data_entry/validation.rs
  backend/src/eml/eml_510.rs
  backend/src/summary/mod.rs
  backend/templates/inputs/model-na-31-2.json
  backend/tests/data_entries_integration_test.rs
  backend/tests/shared/mod.rs
  frontend/e2e-tests/page-objects/data_entry/DifferencesPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/ProgressListPgObj.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/src/components/ui/CheckboxAndRadio/ChoiceList.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/features/data_entry/components/DataEntryProgress.test.tsx
  frontend/src/features/data_entry/components/DataEntrySection.test.tsx
  frontend/src/features/data_entry/components/differences/DifferenceForm.test.tsx
  frontend/src/features/data_entry/testing/mock-data.ts
  frontend/src/features/data_entry/utils/reducer.test.ts
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.test.tsx
  frontend/src/features/resolve_differences/testing/polling-station-results.ts
  frontend/src/features/resolve_errors/components/ReadOnlyDataEntrySection.stories.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsNavigation.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsOverview.test.tsx
  frontend/src/i18n/locales/nl/differences_counts.json
  frontend/src/i18n/locales/nl/polling_station_results.json
  frontend/src/testing/api-mocks/DataEntryMockData.ts
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
  frontend/src/types/generated/openapi.ts
  frontend/src/types/types.ts
  frontend/src/utils/dataEntryMapping.test.ts
  frontend/src/utils/dataEntryStructure.test.ts
  frontend/src/utils/dataEntryStructure.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Implement validation for ExtraInvestigation and CountingDifferencesPollingStation (#2041)
  backend/openapi.json
  backend/src/data_entry/api.rs
  backend/src/data_entry/status.rs
  backend/src/data_entry/structs.rs
  backend/src/data_entry/validation.rs
  backend/src/summary/mod.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/shared/mod.rs
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Allow only coordinator to change eligible voters (#2056)
  frontend/src/features/election_management/components/ElectionInformationTable.test.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
  frontend/src/i18n/locales/nl/election_management.json
Due: frontend-linter

Implement F.202
  backend/src/data_entry/validation.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Implement rules and tests
  backend/src/data_entry/validation.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/data_entries_resolve_integration_test.rs
  frontend/src/features/data_entry/utils/dataEntryUtils.test.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.ts
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
  frontend/src/utils/ValidationResults.test.ts
  frontend/src/utils/ValidationResults.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
