Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite &&
        cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets &&
        git add .sqlx &&
        rm sqlx-cache-tmp.sqlite
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi &&
        git add openapi.json &&
        cd ../frontend &&
        pnpm gen:openapi &&
        git add src/types/generated/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: pnpm format --staged --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-biome:
      root: "frontend/"
      run: pnpm lint:biome --write --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-tsc:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:tsc
    frontend-lint-eslint:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:eslint

Corrected data entry in election 12 fixture
  backend/fixtures/election_12_dso_with_results.sql
Due: none

Undid VotesTable argument change because not needed anymore
  backend/src/bin/gen-test-election.rs
  backend/src/domain/models/votes_table.rs
  backend/src/domain/report/structs.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/infra/pdf_gen/typst_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added tests for dso document download and corrected election 12 dso fixture
  backend/fixtures/election_12_dso_with_results.sql
  backend/src/domain/report/files.rs
  backend/tests/integration_tests/report_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add missing apportionment tests (#3857)
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/lib.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Removed numbering of presentielijst content
  backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-2a.typ
Due: none

Check that the Results variant matches with the election and committee session, when generating files and in data entry endpoints
  backend/src/api/data_entry.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/election.rs
  backend/src/domain/report/files.rs
  backend/src/domain/report/structs.rs
  backend/src/domain/results/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added Model Na 31-1 and made available to download (#3764)
  backend/fixtures/election_12_dso_with_results.sql
  backend/src/bin/gen-pdf.rs
  backend/src/domain/election.rs
  backend/src/domain/file.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/models/model_na_31_1.rs
  backend/src/domain/report/files.rs
  backend/src/domain/report/structs.rs
  backend/src/domain/tabulation.rs
  backend/src/error.rs
  backend/src/infra/pdf_gen/sources.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-GR.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-PS.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-WS.json
  backend/templates/model-na-31-1.typ
  backend/templates/model-p-2a.typ
  backend/templates/visual-diff.sh
  backend/tests/integration_tests/report_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove CSO only restriction on Na 14-2 since this is also for DSO corrigendum
  backend/src/domain/report/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Finished full flow test for DSO
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/page-objects/election/ElectionHomePgObj.ts
  frontend/e2e-tests/tests/full-flow/full-flow-GSB-CSO.e2e.ts
  frontend/e2e-tests/tests/full-flow/full-flow-GSB-DSO.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Added e2e tests for data entry for DSO with and without checks and corrections
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/page-objects/data_entry/AboutReportPgObj.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry-DSO.e2e.ts
  frontend/e2e-tests/tests/full-flow/full-flow-GSB-DSO.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Added DSO page objects and added full flow test
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/page-objects/data_entry/AboutReportPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/ChecksAndCorrectionsPgObj.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/full-flow/full-flow-GSB-CSO.e2e.ts
  frontend/e2e-tests/tests/full-flow/full-flow-GSB-DSO.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Add playwright tests for GSB DSO election creation
  frontend/e2e-tests/tests/election/election-create.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Adjust to changed order in election import flow
  frontend/e2e-tests/tests/election/election-create.e2e.ts
  frontend/e2e-tests/tests/full-flow/full-flow-GSB-DSO.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Final gsb import steps in backend (#3862)
  backend/openapi.json
  backend/src/api/election.rs
  backend/src/domain/election.rs
  backend/src/eml/committees.rs
  backend/src/eml/error.rs
  backend/src/eml/mod.rs
  backend/src/test_data_gen/generators.rs
  frontend/src/features/election_create/components/UploadElectionDefinition.test.tsx
  frontend/src/testing/api-mocks/ElectionMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Change is_correct_model into verify_model that returns a Result
  backend/src/api/data_entry.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/report/structs.rs
  backend/src/domain/results/mod.rs
  backend/src/error.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Verify results after every list_results_for_committee_session()
  backend/src/domain/report/structs.rs
  backend/src/domain/results/mod.rs
  backend/src/service/apportionment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Corrected example dso data entry to pass validation
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove old logic for radio button in keyboard navigation
  frontend/src/features/data_entry/hooks/useFormKeyboardNavigation.test.tsx
  frontend/src/features/data_entry/hooks/useFormKeyboardNavigation.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Remove old logic for radio button in keyboard navigation (#3866)
  frontend/src/features/data_entry/hooks/useFormKeyboardNavigation.test.tsx
  frontend/src/features/data_entry/hooks/useFormKeyboardNavigation.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Use previous_committee_session for verifying previous_results, import from std instead of core
  backend/src/domain/report/structs.rs
  backend/src/domain/results/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move validations up a level
  backend/src/domain/results/checks_and_corrections.rs
  backend/src/domain/results/dso_first_session_results.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added test for error path
  backend/.sqlx/query-1b07320538674e0088dee6d097c8e17f7a098f968d157f16be933d9376dc3a85.json
  backend/.sqlx/query-2a610911bbf6926697318d415ba7054e569187eec047ffaf28b73657081a318a.json
  backend/.sqlx/query-6657a6f3a14ddb0bc2e202595068895a0f510cb8946332d2a92fdaa47daa5e7b.json
  backend/.sqlx/query-6c3857e56ed6d0227a0b10ce939305650089f5e5bd09bca7f04feafbf0bffc35.json
  backend/.sqlx/query-c100b7ee6ec84bce5f091c5d239c5c11279a30e27f36d14ac8a8821faf407234.json
  backend/.sqlx/query-d1d0d2942cbb0a1b554c4b88f1006b6e271565d753098c41c26fa1009fbee553.json
  backend/.sqlx/query-dfc9b0833b623663dd3c5315c07d39ba63dc838563d575f5ea62406104a127f4.json
  backend/.sqlx/query-eb71ae9063638c35fa3636a947f35ce0a8588c769abb3e27c32eaab4205242aa.json
  backend/.sqlx/query-f4f8f8c2668ec23ba1f4a315d74087521496603e8b1bc10475a864001e795593.json
  backend/src/domain/results/dso_first_session_results.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

sqlx prep and openapi gen
  backend/.sqlx/query-1b07320538674e0088dee6d097c8e17f7a098f968d157f16be933d9376dc3a85.json
  backend/.sqlx/query-2a610911bbf6926697318d415ba7054e569187eec047ffaf28b73657081a318a.json
  backend/.sqlx/query-6657a6f3a14ddb0bc2e202595068895a0f510cb8946332d2a92fdaa47daa5e7b.json
  backend/.sqlx/query-6c3857e56ed6d0227a0b10ce939305650089f5e5bd09bca7f04feafbf0bffc35.json
  backend/.sqlx/query-c100b7ee6ec84bce5f091c5d239c5c11279a30e27f36d14ac8a8821faf407234.json
  backend/.sqlx/query-d1d0d2942cbb0a1b554c4b88f1006b6e271565d753098c41c26fa1009fbee553.json
  backend/.sqlx/query-dfc9b0833b623663dd3c5315c07d39ba63dc838563d575f5ea62406104a127f4.json
  backend/.sqlx/query-eb71ae9063638c35fa3636a947f35ce0a8588c769abb3e27c32eaab4205242aa.json
  backend/.sqlx/query-f4f8f8c2668ec23ba1f4a315d74087521496603e8b1bc10475a864001e795593.json
  sqlx-cache-tmp.sqlite
Due: none

Add test stub and error code
  backend/src/domain/results/dso_first_session_results.rs
  backend/src/domain/validate.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update Model Na 31-1 to changed conf
  backend/templates/model-na-31-1.typ
Due: none

Removed numbering of presentielijst content in the same way as in Na 31-1, Na 31-2 and P 2a
  backend/templates/model-n-10-1.typ
  backend/templates/model-n-10-2.typ
Due: none

Fixed small footer bottom margin to be 10mm as well
  backend/templates/common/style.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-22-2-bijlage-1.typ
  backend/templates/model-p-22-2.typ
Due: none

Remove some duplications
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/full-flow/full-flow-GSB-CSO.e2e.ts
  frontend/e2e-tests/tests/full-flow/full-flow-GSB-DSO.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Results variant must match election and committee session (#3863)
  backend/src/api/data_entry.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/election.rs
  backend/src/domain/report/files.rs
  backend/src/domain/report/structs.rs
  backend/src/domain/results/mod.rs
  backend/src/error.rs
  backend/src/service/apportionment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Generate DSOFirstSessionResults for DSO counting method
  backend/src/domain/results/counting_differences_polling_station.rs
  backend/src/domain/results/extra_investigation.rs
  backend/src/domain/results/mod.rs
  backend/src/domain/results/yes_no.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add DSO end to end tests (#3860)
  backend/src/domain/report/structs.rs
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/page-objects/data_entry/AboutReportPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/ChecksAndCorrectionsPgObj.ts
  frontend/e2e-tests/page-objects/election/ElectionHomePgObj.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry-DSO.e2e.ts
  frontend/e2e-tests/tests/election/election-create.e2e.ts
  frontend/e2e-tests/tests/full-flow/full-flow-GSB-CSO.e2e.ts
  frontend/e2e-tests/tests/full-flow/full-flow-GSB-DSO.e2e.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Generate valid AboutReport and CheckAndCorrections sections
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

DSO Backend validations (#3808)
  backend/openapi.json
  backend/src/domain/election.rs
  backend/src/domain/results/about_report.rs
  backend/src/domain/results/checks_and_corrections.rs
  backend/src/domain/results/dso_first_session_results.rs
  backend/src/domain/results/mod.rs
  backend/src/domain/tabulation.rs
  backend/src/domain/validate.rs
  backend/tests/shared/mod.rs
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
  frontend/src/types/generated/openapi.ts
  sqlx-cache-tmp.sqlite
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Added frontend tests for AboutReportForm
  frontend/src/features/data_entry/components/about_report/AboutReportForm.test.tsx
  frontend/src/features/data_entry/testing/mock-data.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Added frontend tests for CountingDifferencesPollingStationForm
  frontend/src/features/data_entry/components/counting_differences_polling_station/CountingDifferencesPollingStationForm.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Added frontend tests for ExtraInvestigationForm
  frontend/src/features/data_entry/components/extra_investigation/ExtraInvestigationForm.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Added DSO validation rules to frontend
  frontend/src/i18n/locales/nl/feedback_GSB.json
Due: none

Make sure AboutReportForm and ChecksAndCorrectionsForm tests use DSO mock data only
  frontend/src/features/data_entry/components/about_report/AboutReportForm.test.tsx
  frontend/src/features/data_entry/components/checks_and_corrections/ChecksAndCorrectionsForm.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Added frontend tests for ChecksAndCorrectionsForm
  frontend/src/features/data_entry/components/checks_and_corrections/ChecksAndCorrectionsForm.test.tsx
  frontend/src/i18n/locales/nl/feedback_GSB.json
Due: frontend-lint-tsc, frontend-lint-eslint

Removed TODO
  frontend/src/features/data_entry/components/about_report/AboutReportForm.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint
