Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite &&
        cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets &&
        git add .sqlx &&
        rm sqlx-cache-tmp.sqlite
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --features e2e-helpers -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi --features e2e-helpers &&
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add src/types/generated/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Support PDF diff workflow on non-main base branches (#2535)
  .github/workflows/pdf-diff.yml
  .github/workflows/scripts/pdf-diff.js
Due: none

Create GitHub Actions release workflow (#2533)
  .github/workflows/release.yml
Due: none

Implemented #2438
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.tsx
  frontend/src/i18n/locales/nl/polling_station.json
Due: frontend-linter

Improved and added more tests
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.test.tsx
  frontend/src/testing/api-mocks/ElectionStatusMockData.ts
Due: frontend-linter

Processed review comments
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.tsx
  frontend/src/testing/api-mocks/ElectionStatusMockData.ts
Due: frontend-linter

Changed color of visited link to default
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.tsx
  frontend/src/styles/typography.css
Due: frontend-linter

Improved electionStatusesMock and use it in election status stories
  frontend/src/features/election_status/components/ElectionStatus.stories.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.test.tsx
  frontend/src/testing/api-mocks/ElectionStatusMockData.ts
Due: frontend-linter

Fixed layout of election import progress list
  frontend/src/features/election_create/components/ElectionCreateLayout.tsx
Due: frontend-linter

Fixed layout of investigation progress list
  frontend/src/features/investigations/components/AddInvestigationLayout.tsx
Due: frontend-linter

Added check if investigation exists and prevents deleting polling station
  backend/.sqlx/query-5a4c971b5a0a32c9c1b244bf0076d9d12d72a62b03a7a30af21f903e95fd0270.json
  backend/src/investigation/mod.rs
  backend/src/investigation/repository.rs
  backend/src/polling_station/mod.rs
  backend/tests/polling_station_integration_test.rs
  frontend/src/features/polling_stations/components/PollingStationDeleteModal.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.tsx
  frontend/src/i18n/locales/nl/polling_station.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Only add investigations when committee session number is > 1 in mockdata
  frontend/src/features/election_management/components/report/ElectionReportPage.test.tsx
  frontend/src/features/investigations/components/AddInvestigationLayout.test.tsx
  frontend/src/features/investigations/components/AddInvestigationPage.test.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.test.tsx
  frontend/src/features/investigations/components/InvestigationReasonPage.test.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.test.tsx
  frontend/src/testing/api-mocks/ElectionMockData.ts
Due: frontend-linter

Prevent scrollbar from being visible on data entry with a lot of lists (> 10 lists) 73vh is also possible, but then a scrollbar appears on 110% zoom
  frontend/src/components/ui/ProgressList/ProgressList.module.css
Due: none

Fixed committee session card links ordering when data entry paused
  documentatie/flowcharts/committee-session-state.md
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
Due: frontend-linter

improves use case extention about deleting data entry
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Due: none

Fixed committee session card links ordering when data entry paused (#2542)
  documentatie/flowcharts/committee-session-state.md
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
Due: frontend-linter

Free up disk space for backend build
  .github/workflows/build-lint-test.yml
Due: none

Revert breaking dependency updates
  frontend/package-lock.json
  frontend/package.json
Due: none

Change GR26 specific texts
  README.md
  backend/Cargo.lock
  backend/Cargo.toml
  backend/openapi.json
  backend/src/lib.rs
  documentatie/functionaliteit/functionaliteit-eisen-en-wensen.md
  documentatie/functionaliteit/versie-1.0-gr.md
  frontend/src/components/footer/Footer.tsx
  packaging/windows/abacus.iss
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Enable Clippy code quality lints
  backend/Cargo.toml
  backend/clippy.toml
  backend/src/airgap/detect.rs
  backend/src/airgap/middleware.rs
  backend/src/audit_log/error_logging.rs
  backend/src/authentication/middleware.rs
  backend/src/bin/gen-test-election.rs
  backend/src/committee_session/status.rs
  backend/src/data_entry/status.rs
  backend/src/data_entry/validation.rs
  backend/src/eml/eml_110.rs
  backend/src/eml/eml_230.rs
  backend/src/error.rs
  backend/src/investigation/api.rs
  backend/src/lib.rs
  backend/src/pdf_gen/external.rs
  backend/src/pdf_gen/votes_table.rs
  backend/src/report/api.rs
  backend/src/summary/mod.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

FIXED IT!
  frontend/src/components/ui/AppLayout/StickyNav.module.css
  frontend/src/components/ui/AppLayout/StickyNav.tsx
  frontend/src/components/ui/ProgressList/ProgressList.module.css
Due: frontend-linter

Add allow for function in `embed-typst` feature
  backend/src/pdf_gen/embedded/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Enable Clippy code quality lints (#2556)
  backend/Cargo.toml
  backend/clippy.toml
  backend/src/airgap/detect.rs
  backend/src/airgap/middleware.rs
  backend/src/audit_log/error_logging.rs
  backend/src/authentication/middleware.rs
  backend/src/bin/gen-test-election.rs
  backend/src/committee_session/status.rs
  backend/src/data_entry/status.rs
  backend/src/data_entry/validation.rs
  backend/src/eml/eml_110.rs
  backend/src/eml/eml_230.rs
  backend/src/error.rs
  backend/src/investigation/api.rs
  backend/src/lib.rs
  backend/src/pdf_gen/embedded/mod.rs
  backend/src/pdf_gen/external.rs
  backend/src/pdf_gen/votes_table.rs
  backend/src/report/api.rs
  backend/src/summary/mod.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Updated use cases (#2436)
  documentatie/use-cases/gsb-eerste-zitting.md
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Due: none

Renamed /api/user endpoints to /api/users
  backend/openapi.json
  backend/src/authentication/mod.rs
  backend/src/authentication/user_api.rs
  backend/tests/user_integration_test.rs
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/setup-test-users.ts
  frontend/src/features/election_status/components/ElectionStatusPage.test.tsx
  frontend/src/features/users/components/UserListPage.test.tsx
  frontend/src/features/users/components/create/UserCreate.test.tsx
  frontend/src/features/users/components/create/UserCreateDetailsForm.test.tsx
  frontend/src/features/users/components/create/UserCreateDetailsForm.tsx
  frontend/src/features/users/components/create/UserCreateDetailsPage.test.tsx
  frontend/src/features/users/components/update/UserDelete.test.tsx
  frontend/src/features/users/components/update/UserDelete.tsx
  frontend/src/features/users/components/update/UserUpdateForm.test.tsx
  frontend/src/features/users/components/update/UserUpdateForm.tsx
  frontend/src/features/users/components/update/UserUpdatePage.test.tsx
  frontend/src/features/users/components/update/UserUpdatePage.tsx
  frontend/src/features/users/hooks/useUserListRequest.ts
  frontend/src/hooks/user/UsersProvider.tsx
  frontend/src/testing/api-mocks/RequestHandlers.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Renamed /api/whoami endpoint to /api/account
  backend/openapi.json
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/error.rs
  backend/src/lib.rs
  backend/tests/user_integration_test.rs
  frontend/src/api/useSessionState.test.ts
  frontend/src/api/useSessionState.ts
  frontend/src/components/error/AirGapViolationPage.test.tsx
  frontend/src/testing/api-mocks/RequestHandlers.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Moved change password change test to account_integration_test.rs
  backend/tests/account_integration_test.rs
  backend/tests/user_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add cli version / use exe version for installer
  backend/README.md
  backend/src/bin/abacus.rs
  packaging/windows/abacus.iss
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added `replace: true` to all navigate calls in handleDelete functions
  frontend/src/features/data_entry_detail/components/DetailLayout.tsx
  frontend/src/features/investigations/components/InvestigationFindingsPage.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.tsx
  frontend/src/features/investigations/components/InvestigationReasonPage.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.tsx
  frontend/src/features/users/components/update/UserUpdatePage.tsx
Due: frontend-linter

Configure Biome
  frontend/biome.json
  frontend/package-lock.json
  frontend/package.json
Due: none

Fixed tests
  frontend/src/features/data_entry_detail/components/DetailLayout.test.tsx
  frontend/src/features/investigations/components/InvestigationFindingsPage.test.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.test.tsx
  frontend/src/features/investigations/components/InvestigationReasonPage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.test.tsx
  frontend/src/features/users/components/update/UserUpdatePage.test.tsx
Due: frontend-linter

Add cli version / use exe version for installer (#2559)
  backend/README.md
  backend/src/bin/abacus.rs
  packaging/windows/abacus.iss
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Adjust dates in fixtures
  backend/fixtures/election_5_with_results.sql
  backend/fixtures/election_7_four_sessions.sql
Due: none

replaces more passive voice with active voice
  documentatie/use-cases/csb-zitting.md
  documentatie/use-cases/gsb-tweede-zitting.md
Due: none

simplifies use case of coordinator resolving errors
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Due: none

Updated vitest to version 4
  frontend/.storybook/preview.tsx
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/testing/setup.ts
  frontend/src/testing/vitest.d.ts
  frontend/tsconfig.json
  frontend/vitest.config.ts
  frontend/vitest.shims.d.ts
Due: frontend-linter

Adjust dates in fixtures (#2562)
  backend/fixtures/election_5_with_results.sql
  backend/fixtures/election_7_four_sessions.sql
Due: none

Change GR26 specific texts (#2551)
  README.md
  backend/Cargo.lock
  backend/Cargo.toml
  backend/openapi.json
  backend/src/lib.rs
  documentatie/functionaliteit/functionaliteit-eisen-en-wensen.md
  documentatie/functionaliteit/versie-1.0-gr.md
  frontend/src/components/footer/Footer.tsx
  packaging/windows/abacus.iss
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Rename user and whoami endpoints (#2558)
  backend/openapi.json
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/user_api.rs
  backend/src/error.rs
  backend/src/lib.rs
  backend/tests/account_integration_test.rs
  backend/tests/user_integration_test.rs
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/setup-test-users.ts
  frontend/src/api/useSessionState.test.ts
  frontend/src/api/useSessionState.ts
  frontend/src/components/error/AirGapViolationPage.test.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.test.tsx
  frontend/src/features/users/components/UserListPage.test.tsx
  frontend/src/features/users/components/create/UserCreate.test.tsx
  frontend/src/features/users/components/create/UserCreateDetailsForm.test.tsx
  frontend/src/features/users/components/create/UserCreateDetailsForm.tsx
  frontend/src/features/users/components/create/UserCreateDetailsPage.test.tsx
  frontend/src/features/users/components/update/UserDelete.test.tsx
  frontend/src/features/users/components/update/UserDelete.tsx
  frontend/src/features/users/components/update/UserUpdateForm.test.tsx
  frontend/src/features/users/components/update/UserUpdateForm.tsx
  frontend/src/features/users/components/update/UserUpdatePage.test.tsx
  frontend/src/features/users/components/update/UserUpdatePage.tsx
  frontend/src/features/users/hooks/useUserListRequest.ts
  frontend/src/hooks/user/UsersProvider.tsx
  frontend/src/testing/api-mocks/RequestHandlers.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Added `replace: true` to all navigate calls in handleDelete functions (#2560)
  frontend/src/features/data_entry_detail/components/DetailLayout.test.tsx
  frontend/src/features/data_entry_detail/components/DetailLayout.tsx
  frontend/src/features/investigations/components/InvestigationFindingsPage.test.tsx
  frontend/src/features/investigations/components/InvestigationFindingsPage.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.test.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.tsx
  frontend/src/features/investigations/components/InvestigationReasonPage.test.tsx
  frontend/src/features/investigations/components/InvestigationReasonPage.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.tsx
  frontend/src/features/users/components/update/UserUpdatePage.test.tsx
  frontend/src/features/users/components/update/UserUpdatePage.tsx
Due: frontend-linter

Removed unrelated npm updates
  frontend/package-lock.json
  frontend/package.json
Due: none
