Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-formatter, backend-linter, backend-openapi, frontend-linter

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy

backend-openapi:
  run: cargo run --package backend --bin gen-openapi

frontend-linter:
  run: npm run lint {staged_files}

Update GitHub Actions workflows triggers
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

Use `/api` instead of `/v1/api` in frontend (#152)
  frontend/app/component/MockTest.tsx
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/differences/DifferencesForm.test.tsx
  frontend/app/component/form/recounted/RecountedForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/msw-mock-api.ts
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/ApiClient.test.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/api.test.ts
  frontend/lib/api/useElectionDataRequest.test.ts
  frontend/lib/api/useElectionListRequest.test.ts
  frontend/lib/api/usePollingStationDataEntry.test.ts
  frontend/vite.config.ts
Due: frontend-linter

adds prettier-plugin-sort-imports
  frontend/.prettierrc.cjs
  frontend/package-lock.json
  frontend/package.json
Due: none

Restored candidate list total styling
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/lib/ui/InputGrid/InputGrid.tsx
  frontend/lib/ui/InputGrid/InputGridRow.tsx
Due: frontend-linter

Fixed tests
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
Due: frontend-linter

Update Cargo and npm dependencies (#156)
  backend/Cargo.lock
  frontend/package-lock.json
Due: none

Update GitHub Actions workflows triggers (#158)
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

Restored candidate list total styling (#161)
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/lib/ui/InputGrid/InputGrid.tsx
  frontend/lib/ui/InputGrid/InputGridRow.tsx
Due: frontend-linter

WIP
  backend/openapi.json
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/structs.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/form/pollingstation/useVotersAndVotes.ts
  frontend/lib/api/gen/openapi.ts
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

WIP2
  backend/src/polling_station/structs.rs
  backend/src/validation.rs
  frontend/app/component/form/recounted/RecountedForm.test.tsx
  frontend/app/component/form/recounted/RecountedForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/index.ts
  frontend/lib/api/form/pollingstation/useRecounted.ts
  frontend/lib/api/form/pollingstation/useVotersAndVotes.ts
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

Added openapi updates
  backend/openapi.json
  frontend/lib/api/gen/openapi.ts
Due: frontend-linter

Update Frontend Preview workflow
  .github/workflows/preview.yml
Due: none

Please review my TODO in PollingStationFormController
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/differences/DifferencesForm.test.tsx
  frontend/app/component/form/recounted/RecountedForm.test.tsx
  frontend/app/component/form/recounted/RecountedForm.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/useRecounted.ts
  frontend/lib/api/usePollingStationDataEntry.test.ts
Due: frontend-linter

Specify correct branch name to Wrangler action
  .github/workflows/preview.yml
Due: none

Removed console.log statements and added recounted backend validation to show in frontend
  frontend/app/component/form/recounted/RecountedForm.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/useRecounted.ts
Due: frontend-linter

Fixed test and added IncorrectTotal check for voters_recounts to mock api
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
Due: frontend-linter

Added IncorrectTotal error for voters_recounts to mock api
  backend/src/polling_station/structs.rs
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/differences/DifferencesForm.tsx
  frontend/app/component/form/recounted/RecountedForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/form/pollingstation/useVotersAndVotes.ts
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

Update Frontend Preview workflow (#165)
  .github/workflows/preview.yml
Due: none

Now checking if the election exists
  backend/openapi.json
  backend/src/polling_station/mod.rs
  backend/tests/polling_station_integration_test.rs
Due: backend-formatter, backend-linter, backend-openapi

Added validation check identifiers to backend and removed message and saved fields from frontend tests
  backend/src/polling_station/structs.rs
  backend/tests/election_integration_test.rs
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/differences/DifferencesForm.test.tsx
  frontend/app/component/form/recounted/RecountedForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

Backend validation is added, need to add a few more tests
  backend/openapi.json
  backend/src/polling_station/structs.rs
  backend/src/validation.rs
  frontend/app/component/form/differences/DifferencesForm.tsx
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/gen/openapi.ts
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

Respond to polling station list call with 404 when the election does not exist (#168)
  backend/openapi.json
  backend/src/polling_station/mod.rs
  backend/tests/polling_station_integration_test.rs
Due: backend-formatter, backend-linter, backend-openapi

Split data entry integration tests into their own file
  backend/tests/data_entries_integration_test.rs
  backend/tests/polling_station_integration_test.rs
Due: backend-formatter, backend-linter, backend-openapi

Finished adding backend validation tests
  backend/src/polling_station/structs.rs
Due: backend-formatter, backend-linter, backend-openapi

Split data entry integration tests into their own file (#170)
  backend/tests/data_entries_integration_test.rs
  backend/tests/polling_station_integration_test.rs
Due: backend-formatter, backend-linter, backend-openapi

Load polling station and election data from the database
  backend/migrations/1_elections.sql
  backend/migrations/2_polling_stations.sql
  backend/migrations/3_polling_station_data_entries.sql
  backend/migrations/4_polling_station_results.sql
  backend/openapi.json
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
  backend/src/polling_station/structs.rs
  backend/tests/polling_station_integration_test.rs
Due: backend-formatter, backend-linter, backend-openapi

Add tests for 404 responses in polling station data entry endpoints
  backend/tests/data_entries_integration_test.rs
Due: backend-formatter, backend-linter, backend-openapi

Load polling station and election data from the database for data entry (#157)
  backend/migrations/1_elections.sql
  backend/migrations/2_polling_stations.sql
  backend/migrations/3_polling_station_data_entries.sql
  backend/migrations/4_polling_station_results.sql
  backend/openapi.json
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
  backend/src/polling_station/structs.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/polling_station_integration_test.rs
Due: backend-formatter, backend-linter, backend-openapi

Added testing for fields to all tests and made sure voters_counts are not validated when voters_recounts is filled in
  backend/src/polling_station/structs.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
Due: backend-formatter, backend-linter, backend-openapi

Fixes after merge main
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
Due: backend-formatter, backend-linter, backend-openapi

Added more distinction between validation rules for recounted true or false based on rules change PR
  backend/src/polling_station/structs.rs
  frontend/app/component/form/recounted/RecountedForm.tsx
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

Renamed differences errorcodes to more understandable codes
  backend/openapi.json
  backend/src/polling_station/structs.rs
  backend/src/validation.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

Added backend call to list polling stations
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/lib/api/index.ts
  frontend/lib/api/usePollingStation.ts
Due: frontend-linter

Mapped stations to table rows
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/lib/api/index.ts
Due: frontend-linter

Created basic polling station selector
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/polling_station_choice/PollingStationSelector.tsx
  frontend/lib/api/gen/openapi.ts
  frontend/lib/api/usePollingStation.ts
Due: frontend-linter

Added polling station provider
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/polling_station_choice/PollingStationSelector.tsx
  frontend/app/module/input/InputLayout.tsx
  frontend/lib/api/PollingStationProvider.tsx
  frontend/lib/api/gen/openapi.ts
  frontend/lib/api/index.ts
  frontend/lib/api/usePollingStation.ts
Due: frontend-linter

Added polling station mock data
  frontend/lib/api-mocks/PollingStationMockData.ts
  frontend/lib/api-mocks/index.ts
Due: frontend-linter

Removed design placeholder
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
Due: frontend-linter

Path conditions:
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
