Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

backend-sqlx-prepare:
  run: 'cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite && cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets && git add .sqlx && rm sqlx-cache-tmp.sqlite
  
    '

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi && git add openapi.json && cd ../frontend && pnpm gen:openapi && git add src/types/generated/openapi.ts
  
    '

frontend-lint-tsc:
  run: pnpm lint:tsc

frontend-lint-eslint:
  run: pnpm lint:eslint

Change existing gte 19 seats test with single drawing lots to actual case from GR26
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update Rust to v1.97.1
  backend/rust-toolchain.toml
Due: none

Fix ApportionmentTable does not count full seats + residual seats but uses council seats (#3594)
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/ApportionmentTable.stories.tsx
  frontend/src/features/apportionment/components/ApportionmentTable.tsx
  frontend/src/features/apportionment/testing/lt-19-seats-and-not-all-seats-assigned.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Update Rust to v1.97.1 (#3599)
  backend/rust-toolchain.toml
Due: none

Adjust naming in frontend
  frontend/e2e-tests/tests/apportionment/drawing-lots.e2e.ts
  frontend/src/components/ui/InputGrid/InputGrid.stories.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ChosenCandidatesTable.stories.tsx
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.test.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForCandidate.stories.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesRankingTable.stories.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithSeatTable.stories.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithVotesTable.stories.tsx
  frontend/src/utils/candidate.test.ts
  frontend/src/utils/candidate.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Adjust naming in typst
  backend/templates/common/scripts.typ
Due: none

Adjust backend political_group_name and add tests
  backend/src/domain/election.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Adjust backend NameResolver
  backend/src/domain/election.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Reordered existing tests in candidate nomination
  backend/apportionment/src/candidate_nomination/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added test for candidate nomination based on actual case of GR26
  backend/apportionment/src/candidate_nomination/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed clippy lint warnings
  backend/apportionment/src/candidate_nomination/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added allow too many lines to mod tests in candidate nomination, instead of for every test that's too long
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add candidate nomination to differential fuzzer
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Adjust fixtures
  backend/templates/inputs/model-n-10-2.json
  backend/templates/inputs/model-na-14-2.json
  backend/templates/inputs/model-na-31-2-bijlage1.json
  backend/templates/inputs/model-na-31-2.json
  backend/templates/inputs/model-p-22-2-bijlage1.json
  frontend/src/utils/politicalGroup.test.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Added finalised state to each testing variant that didn't have one and use them in tests
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/features/apportionment/utils/seat-change.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Add separate steps back into seat_assignment variable for each testing/ variant
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p7-drawing-lots.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9-drawing-lots-and-deceased-candidates.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10-and-deceased-candidates.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-drawing-lots.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Update crossbeam-epoch to fix RUSTSEC-2026-0204
  backend/Cargo.lock
Due: none

Update quinn-proto to fix RUSTSEC-2026-0185
  backend/Cargo.lock
Due: none

Run `cargo fmt`
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/fuzz/src/apportionment_input.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed copy mistake in P 22-2 drawing lots footnote
  backend/templates/model-p-22-2.typ
Due: none

Added test for the bug that is now fixed
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10-and-deceased-candidate.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Corrected existing test to work correctly to prevent missed mutant in `reassign_residual_seat_for_absolute_majority`
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added test for list standing functions
  backend/apportionment/src/seat_assignment/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added test for candidate ranking functions
  backend/apportionment/src/candidate_nomination/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added test for list candidate nomination function
  backend/apportionment/src/candidate_nomination/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added test for candidate drawing lots variant validate function
  backend/apportionment/src/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed copy mistake in P 22-2 drawing lots footnote (#3605)
  backend/templates/model-p-22-2.typ
Due: none

Update crossbeam-epoch and quinn-proto dependencies (#3604)
  backend/Cargo.lock
Due: none

Improve copy for drawing lots (highest average & largest remainder)
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForList.stories.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsPage.test.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Improve copy for drawing lots (highest average & largest remainder)
  frontend/e2e-tests/tests/apportionment/drawing-lots.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Test seat allocation and assignment with historical data for >= 19 seats (#3597)
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Improve copy for drawing lots (#3609)
  frontend/e2e-tests/tests/apportionment/drawing-lots.e2e.ts
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForList.stories.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsPage.test.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Include unnamed political groups in generated elections
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add lot drawing for Abacus
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Include unnamed political groups in generated elections (#3613)
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Residual footnotes only show full seat removal for small councils
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-full-seat-removal.ts
  frontend/src/features/apportionment/utils/seat-change.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Corrected newly added testing election ids to be unique
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p10-full-seat-removal.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10-and-deceased-candidate.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Add lot drawing for Abacus
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/fuzz/src/logging.rs
  backend/apportionment/src/candidate_nomination/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add lot drawing parsing for OSV2020
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/fuzz/src/logging.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

WIP
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/fuzz/src/apportionment_input.rs
  backend/apportionment/fuzz/src/logging.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-lint-tsc: any of: *.{ts,tsx} and ^frontend/
  frontend-lint-eslint: any of: *.{ts,tsx} and ^frontend/
