Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

backend-sqlx-prepare:
  run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --all-features -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi &&  git add openapi.json && cd ../frontend && npm run gen:openapi && git add lib/api/gen/openapi.ts
  
    '

frontend-linter:
  run: npm run lint {staged_files}

Added no polling stations to investigate alert, fixed alert button link styling and fixed empty table styling
  frontend/src/components/ui/Alert/Alert.module.css
  frontend/src/components/ui/Button/Button.tsx
  frontend/src/components/ui/Table/Table.module.css
  frontend/src/components/ui/Table/Table.tsx
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/features/investigations/components/AddInvestigationPage.test.tsx
  frontend/src/features/investigations/components/AddInvestigationPage.tsx
  frontend/src/i18n/locales/nl/election_report.json
  frontend/src/i18n/locales/nl/generic.json
  frontend/src/i18n/locales/nl/investigations.json
  frontend/src/i18n/locales/nl/polling_station_choice.json
Due: frontend-linter

Fixed failing tests
  backend/fixtures/election_7_four_sessions.sql
  backend/tests/investigation_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Expanded CommitteeSessionCard test
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
Due: frontend-linter

update and dedupe frontend dependencies (#2155)
  frontend/package-lock.json
Due: none

Added delete investigation endpoint and tests to the backend
  backend/.sqlx/query-0fc7e0ad47fac1d41879a61f79d31b6c42dd665fbd77210c0a5fca99ccaff368.json
  backend/openapi.json
  backend/src/audit_log/audit_event.rs
  backend/src/election/api.rs
  backend/src/investigation/api.rs
  backend/src/investigation/mod.rs
  backend/src/investigation/repository.rs
  backend/tests/investigation_integration_test.rs
  frontend/src/i18n/locales/nl/log.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Restrict polling station editing/deletion (#2159)
  backend/.sqlx/query-27522f7813999e2f9daa191c558b7c55cb6c98401ccf7f86e05d63f2e05572b2.json
  backend/.sqlx/query-b79284fd4d12811c95a380e5a7cf779529fdc94ef1e35679434bf9cd0158d5dc.json
  backend/openapi.json
  backend/src/bin/gen-test-election.rs
  backend/src/eml/eml_110.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
  backend/src/polling_station/structs.rs
  backend/tests/polling_station_integration_test.rs
  frontend/src/features/polling_stations/components/PollingStationDeleteModal.tsx
  frontend/src/features/polling_stations/components/PollingStationForm.test.tsx
  frontend/src/features/polling_stations/components/PollingStationForm.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.tsx
  frontend/src/features/polling_stations/utils/form.ts
  frontend/src/i18n/locales/nl/polling_station.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Removed not needed transaction
  backend/src/investigation/repository.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added delete investigation to the frontend
  frontend/.storybook/preview.tsx
  frontend/src/features/investigations/components/InvestigationDelete.tsx
  frontend/src/features/investigations/components/InvestigationFindingsPage.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendum.stories.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.test.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.tsx
  frontend/src/features/investigations/components/InvestigationReasonPage.tsx
  frontend/src/features/investigations/components/InvestigationsLayout.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.stories.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.test.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.tsx
  frontend/src/features/investigations/components/forms/InvestigationFindings.stories.tsx
  frontend/src/features/investigations/components/forms/InvestigationFindings.test.tsx
  frontend/src/features/investigations/components/forms/InvestigationFindings.tsx
  frontend/src/features/investigations/components/forms/InvestigationPrintCorrigendum.stories.tsx
  frontend/src/features/investigations/components/forms/InvestigationPrintCorrigendum.tsx
  frontend/src/features/investigations/components/forms/InvestigationReason.stories.tsx
  frontend/src/features/investigations/components/forms/InvestigationReason.test.tsx
  frontend/src/features/investigations/components/forms/InvestigationReason.tsx
  frontend/src/i18n/locales/nl/investigations.json
Due: frontend-linter

Final election_id changes for tests that use election_7_four_sessions fixture
  backend/src/polling_station/mod.rs
  backend/tests/polling_station_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Small refactor, move business logic to CSOFirstSessionResults
  backend/src/data_entry/structs.rs
  backend/src/eml/eml_510.rs
  backend/src/summary/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Create new DataEntrySubsections component when switching between sections
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/resolve_errors/components/ReadOnlyDataEntrySection.tsx
Due: frontend-linter

More design updates and added missing functionality (#2166)
  backend/fixtures/election_7_four_sessions.sql
  backend/src/investigation/api.rs
  backend/src/polling_station/mod.rs
  backend/tests/investigation_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  frontend/.storybook/preview.tsx
  frontend/src/components/ui/Alert/Alert.module.css
  frontend/src/components/ui/Button/Button.tsx
  frontend/src/components/ui/Table/Table.module.css
  frontend/src/components/ui/Table/Table.tsx
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.stories.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/features/investigations/components/AddInvestigationPage.test.tsx
  frontend/src/features/investigations/components/AddInvestigationPage.tsx
  frontend/src/features/investigations/components/InvestigationCard.tsx
  frontend/src/features/investigations/components/InvestigationFindings.stories.tsx
  frontend/src/features/investigations/components/InvestigationFindings.test.tsx
  frontend/src/features/investigations/components/InvestigationFindings.tsx
  frontend/src/features/investigations/components/InvestigationReason.stories.tsx
  frontend/src/features/investigations/components/InvestigationReason.test.tsx
  frontend/src/features/investigations/components/InvestigationReason.tsx
  frontend/src/features/investigations/components/InvestigationsLayout.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.stories.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.test.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.tsx
  frontend/src/i18n/locales/nl/election_report.json
  frontend/src/i18n/locales/nl/generic.json
  frontend/src/i18n/locales/nl/investigations.json
  frontend/src/i18n/locales/nl/polling_station_choice.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Store eml 110 number of voters in i64 to match polling station
  backend/src/eml/eml_110.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update xml for 510 counts results file (#2153)
  backend/src/data_entry/structs.rs
  backend/src/eml/eml_510.rs
  backend/src/eml/tests/eml510b_with_investigations.eml.xml
  backend/src/summary/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Parse the number of voters from the polling station list eml 110b (#2150)
  backend/src/eml/eml_110.rs
  backend/src/eml/tests/eml110b_invalid_polling_station_number_of_voters.xml
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add empty_cso_first_session
  backend/src/data_entry/api.rs
  backend/src/data_entry/structs.rs
  backend/src/investigation/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed failing test
  backend/tests/investigation_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix update investigation
  backend/openapi.json
  backend/src/investigation/structs.rs
  backend/tests/investigation_integration_test.rs
  frontend/src/features/investigations/components/InvestigationCard.module.css
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Add CSONextSession variant for storing Na 14-2 bijlage 1 results (#2152)
  backend/openapi.json
  backend/src/apportionment/api.rs
  backend/src/bin/gen-test-election.rs
  backend/src/committee_session/structs.rs
  backend/src/data_entry/api.rs
  backend/src/data_entry/comparison.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/status.rs
  backend/src/data_entry/structs.rs
  backend/src/data_entry/validation.rs
  backend/src/eml/eml_510.rs
  backend/src/report/api.rs
  backend/src/summary/mod.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/election_admin_integration_tests.rs
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/testing/mock-data.ts
  frontend/src/features/data_entry/testing/test.utils.ts
  frontend/src/features/data_entry/utils/reducer.test.ts
  frontend/src/features/resolve_errors/components/ReadOnlyDataEntrySection.tsx
  frontend/src/types/generated/openapi.ts
  frontend/src/utils/dataEntryStructure.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Help with type inference
  frontend/src/features/investigations/components/InvestigationFindings.tsx
Due: frontend-linter

Added error when previous results are missing and now using CommonPollingStationResults
  backend/src/investigation/api.rs
  backend/src/investigation/structs.rs
  backend/src/pdf_gen/models/model_na_14_2.rs
  backend/templates/inputs/model-na-14-2-bijlage1.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix update investigation (#2171)
  backend/openapi.json
  backend/src/investigation/structs.rs
  backend/tests/investigation_integration_test.rs
  frontend/src/features/investigations/components/InvestigationCard.module.css
  frontend/src/features/investigations/components/InvestigationFindings.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Remove double arrow from `model-na-31-2-bijlage1.typ`
  backend/templates/model-na-31-2-bijlage1.typ
Due: none

Change empty documents title
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/i18n/locales/nl/election_management.json
Due: frontend-linter

Remove double arrow from `model-na-31-2-bijlage1.typ` (#2172)
  backend/templates/model-na-31-2-bijlage1.typ
Due: none

Extended full-flow e2e test
  frontend/e2e-tests/tests/full-flow.e2e.ts
  frontend/package.json
Due: frontend-linter

Change empty documents title (#2173)
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/i18n/locales/nl/election_management.json
Due: frontend-linter

Add endpoint to fill Na 14-2 Bijlage 1 with existing data (#2135)
  backend/fixtures/election_1.sql
  backend/fixtures/election_2.sql
  backend/fixtures/election_3.sql
  backend/fixtures/election_5_with_results.sql
  backend/fixtures/election_6_no_polling_stations.sql
  backend/fixtures/election_7_four_sessions.sql
  backend/openapi.json
  backend/src/data_entry/api.rs
  backend/src/data_entry/structs.rs
  backend/src/investigation/api.rs
  backend/src/investigation/repository.rs
  backend/src/investigation/structs.rs
  backend/src/pdf_gen/embedded/world.rs
  backend/src/pdf_gen/models/mod.rs
  backend/src/pdf_gen/models/model_na_14_2.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/templates/common/scripts.typ
  backend/templates/common/style.typ
  backend/templates/inputs/model-na-14-2-bijlage1.json
  backend/templates/inputs/model-na-14-2.json
  backend/templates/model-na-14-2-bijlage1.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-2-bijlage1.typ
  backend/templates/model-na-31-2-bijlage2.typ
  backend/tests/apportionment_integration_test.rs
  backend/tests/committee_session_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/investigation_integration_test.rs
  frontend/src/features/investigations/components/InvestigationPrintCorrigendum.stories.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendum.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fixed test
  backend/tests/investigation_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Moved form tests to page tests and added tests for delete
  backend/tests/investigation_integration_test.rs
  frontend/src/features/investigations/components/AddInvestigationPage.test.tsx
  frontend/src/features/investigations/components/InvestigationFindingsPage.test.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.test.tsx
  frontend/src/features/investigations/components/InvestigationReasonPage.test.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.test.tsx
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Added delete investigation to the frontend
  frontend/src/features/investigations/components/InvestigationDelete.tsx
  frontend/src/features/investigations/components/InvestigationFindingsPage.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.test.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.tsx
  frontend/src/features/investigations/components/InvestigationReasonPage.tsx
  frontend/src/features/investigations/components/forms/InvestigationFindings.stories.tsx
  frontend/src/features/investigations/components/forms/InvestigationFindings.test.tsx
  frontend/src/features/investigations/components/forms/InvestigationFindings.tsx
  frontend/src/features/investigations/components/forms/InvestigationPrintCorrigendum.stories.tsx
  frontend/src/features/investigations/components/forms/InvestigationPrintCorrigendum.tsx
  frontend/src/features/investigations/components/forms/InvestigationReason.stories.tsx
  frontend/src/features/investigations/components/forms/InvestigationReason.test.tsx
  frontend/src/features/investigations/components/forms/InvestigationReason.tsx
  frontend/src/i18n/locales/nl/investigations.json
Due: frontend-linter

Fix investigation module visibility
  backend/src/election/api.rs
  backend/src/investigation/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use Path instead of CurrentSessionPollingStationId param
  backend/src/investigation/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use page objects
  frontend/e2e-tests/page-objects/election/ElectionDetailsPgObj.ts
  frontend/e2e-tests/page-objects/investigations/AddInvestigationPgObj.ts
  frontend/e2e-tests/page-objects/investigations/InvestigationFindingsPgObj.ts
  frontend/e2e-tests/page-objects/investigations/InvestigationOverviewPgObj.ts
  frontend/e2e-tests/page-objects/investigations/InvestigationPrintCorrigendumPgObj.ts
  frontend/e2e-tests/page-objects/investigations/InvestigationReasonPgObj.ts
  frontend/e2e-tests/page-objects/nav_bar/CoordinatorNavBarPgObj.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
Due: frontend-linter

Fix imports and test name
  frontend/e2e-tests/tests/full-flow.e2e.ts
Due: frontend-linter

Now deleting data entry and results when deleting investigation or changing corrected results from true to false
  backend/.sqlx/query-6be4948176652a27f721c89038ca27fa475f283f310816049c44007e4886e84e.json
  backend/.sqlx/query-868e3d8deb20b4652cb7155b07ffe9d940cbbc6e48796b8697108db7726a2063.json
  backend/src/data_entry/api.rs
  backend/src/data_entry/repository.rs
  backend/src/investigation/api.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/investigation_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add election_5_with_results to seed fixtures and rename election
  backend/fixtures/election_5_with_results.sql
  backend/src/fixtures.rs
  backend/tests/election_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix OpenAPI and useCrud response types for polling station investigation endpoints
  backend/openapi.json
  backend/src/investigation/api.rs
  frontend/src/api/useCrud.ts
  frontend/src/features/investigations/components/InvestigationFindings.tsx
  frontend/src/features/investigations/components/InvestigationReason.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
