Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite &&
        cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets &&
        git add .sqlx &&
        rm sqlx-cache-tmp.sqlite
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi &&
        git add openapi.json &&
        cd ../frontend &&
        pnpm gen:openapi &&
        git add src/types/generated/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: pnpm format --staged --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-biome:
      root: "frontend/"
      run: pnpm lint:biome --write --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-tsc:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:tsc
    frontend-lint-eslint:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:eslint

small improvements
  documentatie/use-cases/input-en-output/Na31-1-en-Na31-2.md
Due: none

reformatted tables
  documentatie/use-cases/input-en-output/Na31-1-en-Na31-2.md
Due: none

Move authentication session module as session_repo module to repository and include util file
  backend/src/api/audit.rs
  backend/src/api/authentication.rs
  backend/src/api/middleware/authentication/middleware.rs
  backend/src/api/middleware/authentication/mod.rs
  backend/src/api/middleware/authentication/util.rs
  backend/src/api/user.rs
  backend/src/infra/router.rs
  backend/src/repository/mod.rs
  backend/src/repository/session_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

PR feedback
  frontend/e2e-tests/tests/full-flow.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Move session extractor and get_cookie() back to middleware
  backend/src/api/middleware/authentication/mod.rs
  backend/src/api/middleware/authentication/session.rs
  backend/src/repository/session_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove api AuthenticationError from session_repo, split-off save function
  backend/src/repository/session_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Separate session create and save
  backend/src/api/audit.rs
  backend/src/api/authentication.rs
  backend/src/api/middleware/authentication/middleware.rs
  backend/src/api/middleware/authentication/mod.rs
  backend/src/infra/router.rs
  backend/src/repository/session_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move session create and SESSION_LIFE_TIME to middleware
  backend/src/api/middleware/authentication/middleware.rs
  backend/src/api/middleware/authentication/session.rs
  backend/src/repository/session_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move RequestSessionData as SessionIdentifier to session_repo and convert fields to String
  backend/src/api/middleware/authentication/middleware.rs
  backend/src/api/middleware/authentication/mod.rs
  backend/src/api/middleware/authentication/session_identifier.rs
  backend/src/repository/session_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use references instead of cloning
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/candidate_nomination/structs.rs
  backend/apportionment/src/int_newtype_macro.rs
  backend/apportionment/src/lib.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/seat_assignment/structs.rs
  backend/apportionment/src/structs.rs
  backend/apportionment/src/test_helpers.rs
  backend/src/api/apportionment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

First draft of bringing back apportionment api
  backend/openapi.json
  backend/src/api/apportionment.rs
  backend/src/api/mod.rs
  backend/src/domain/display_fraction.rs
  backend/src/domain/mod.rs
  backend/src/error.rs
  backend/src/infra/audit_log/audit_event.rs
  backend/src/infra/router.rs
  frontend/src/i18n/locales/nl/error.json
  frontend/src/i18n/locales/nl/log.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Remove apportionment api from this branch
  backend/openapi.json
  backend/src/api/apportionment.rs
  backend/src/api/mod.rs
  backend/src/domain/display_fraction.rs
  backend/src/domain/mod.rs
  backend/src/error.rs
  backend/src/infra/audit_log/audit_event.rs
  backend/src/infra/router.rs
  frontend/src/i18n/locales/nl/error.json
  frontend/src/i18n/locales/nl/log.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Designate test_helpers.rs as test code in sigrid
  sigrid.yaml
Due: none

Committee session status change providers (#2822)
  backend/.sqlx/query-3b49ad9988a84a1a738cfd9e3449ad873624f5e70f32f8379f475e43f6d41874.json
  backend/.sqlx/query-581c25f1e5db5e0ee35f7fdb0fed0d21988dc6118bfe8a179e24361b5373af80.json
  backend/src/api/mod.rs
  backend/src/api/providers.rs
  backend/src/domain/committee_session.rs
  backend/src/domain/committee_session_status.rs
  backend/src/repository/data_entry_repo.rs
  backend/src/repository/investigation_repo.rs
  backend/src/repository/polling_station_repo.rs
  sigrid.yaml
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add session_repo to Sigrid components
  sigrid.yaml
Due: none

Revert unnecessary cookie clone
  backend/src/api/middleware/authentication/session.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use pub(crate) when possible
  backend/src/api/middleware/authentication/middleware.rs
  backend/src/api/middleware/authentication/mod.rs
  backend/src/api/middleware/authentication/session.rs
  backend/src/repository/session_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove empty util file
  backend/src/api/middleware/authentication/util.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move database queries out of api layer
  backend/.sqlx/query-46128291797a9a1c0b22765b000edfdb51a3c4e053d7ca9b27713415fb089a03.json
  backend/.sqlx/query-a7061807c60b5e00ca2e19975b615b422885923eb9c85909663aa82c2dd85006.json
  backend/src/api/data_entry.rs
  backend/src/infra/audit_log/audit_log_events.rs
  backend/src/infra/audit_log/service.rs
  backend/src/repository/data_entry_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed full flow test
  frontend/e2e-tests/tests/full-flow.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Move change_committee_session_status into new service layer
  backend/src/api/committee_session.rs
  backend/src/api/data_entry.rs
  backend/src/api/investigation.rs
  backend/src/api/polling_station.rs
  backend/src/domain/committee_session_status.rs
  backend/src/lib.rs
  backend/src/service/change_committee_session_status.rs
  backend/src/service/mod.rs
  sigrid.yaml
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move create_file and delete_file out of domain
  backend/src/api/report.rs
  backend/src/domain/file.rs
  backend/src/service/change_committee_session_status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move CommitteeSessionError from api to domain and add provider error variant
  backend/src/api/committee_session.rs
  backend/src/api/data_entry.rs
  backend/src/api/election.rs
  backend/src/api/investigation.rs
  backend/src/api/providers.rs
  backend/src/api/report.rs
  backend/src/domain/committee_session.rs
  backend/src/domain/committee_session_status.rs
  backend/src/error.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move SQL queries out of the api layer (#2863)
  backend/.sqlx/query-46128291797a9a1c0b22765b000edfdb51a3c4e053d7ca9b27713415fb089a03.json
  backend/.sqlx/query-a7061807c60b5e00ca2e19975b615b422885923eb9c85909663aa82c2dd85006.json
  backend/src/api/data_entry.rs
  backend/src/infra/audit_log/audit_log_events.rs
  backend/src/infra/audit_log/service.rs
  backend/src/repository/data_entry_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Re-export change_committee_session_status to prevent long import with duplication
  backend/src/api/committee_session.rs
  backend/src/api/data_entry.rs
  backend/src/api/investigation.rs
  backend/src/api/polling_station.rs
  backend/src/service/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Backend layer domain should not use other layers (#2864)
  backend/src/api/committee_session.rs
  backend/src/api/data_entry.rs
  backend/src/api/election.rs
  backend/src/api/investigation.rs
  backend/src/api/polling_station.rs
  backend/src/api/providers.rs
  backend/src/api/report.rs
  backend/src/domain/committee_session.rs
  backend/src/domain/committee_session_status.rs
  backend/src/domain/file.rs
  backend/src/error.rs
  backend/src/lib.rs
  backend/src/service/change_committee_session_status.rs
  backend/src/service/mod.rs
  sigrid.yaml
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move SQL queries out of API authentication middleware (#2857)
  backend/src/api/audit.rs
  backend/src/api/authentication.rs
  backend/src/api/middleware/authentication/middleware.rs
  backend/src/api/middleware/authentication/mod.rs
  backend/src/api/middleware/authentication/session.rs
  backend/src/api/middleware/authentication/session_identifier.rs
  backend/src/api/middleware/authentication/util.rs
  backend/src/api/user.rs
  backend/src/infra/router.rs
  backend/src/repository/mod.rs
  backend/src/repository/session_repo.rs
  sigrid.yaml
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Processed review comments
  backend/Cargo.toml
  backend/apportionment/Cargo.toml
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/candidate_nomination/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Changed more vec parameters to slices
  backend/apportionment/src/candidate_nomination/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Apportionment structs/functions/tests (#2787)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/apportionment/Cargo.toml
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/candidate_nomination/structs.rs
  backend/apportionment/src/fraction.rs
  backend/apportionment/src/int_newtype_macro.rs
  backend/apportionment/src/lib.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/seat_assignment/structs.rs
  backend/apportionment/src/structs.rs
  backend/apportionment/src/test_helpers.rs
  sigrid.yaml
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Made sure apportionment works with non-consecutive list numbers
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/structs.rs
  backend/apportionment/src/structs.rs
  backend/apportionment/src/test_helpers.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Prevent dereferencing
  backend/apportionment/src/candidate_nomination/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Re-added removed spaces in docstrings
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added test helper to prevent duplicate code
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/test_helpers.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Rename AuditEvent -> AuditEventType, example CommiteeSession event impls
  backend/src/api/audit.rs
  backend/src/api/authentication.rs
  backend/src/api/committee_session.rs
  backend/src/api/data_entry.rs
  backend/src/api/election.rs
  backend/src/api/investigation.rs
  backend/src/api/middleware/airgap/detect.rs
  backend/src/api/middleware/authentication/middleware.rs
  backend/src/api/middleware/authentication/mod.rs
  backend/src/api/polling_station.rs
  backend/src/api/user.rs
  backend/src/committee_session/status.rs
  backend/src/domain/committee_session.rs
  backend/src/files/mod.rs
  backend/src/infra/audit_log/audit_event.rs
  backend/src/infra/audit_log/audit_log_events.rs
  backend/src/infra/audit_log/error_logging.rs
  backend/src/infra/audit_log/service.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added test for non-consecutive candidate numbers and improved comments
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/test_helpers.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update mod.rs
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update node from v22 to v24
  .github/workflows/build-lint-test.yml
  .github/workflows/codecov.yml
  .github/workflows/release.yml
  Dockerfile
  docker-compose.yml
  frontend/README.md
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

Undo pnpm version update
  frontend/package.json
Due: none

Add apportionment crate to Codecov code coverage
  .github/workflows/codecov.yml
Due: none
