Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: cargo run --package backend --bin gen-openapi
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Frontend: A few design fixes (#227)
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/lib/ui/Alert/Alert.module.css
  frontend/lib/ui/InputGrid/InputGrid.tsx
  frontend/lib/ui/style/variables.css
Due: frontend-linter

Fix new ESLint lint warnings
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/ApiClient.test.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/util/strings.test.ts
  frontend/scripts/gen_openapi_types.ts
  frontend/scripts/openapi.ts
Due: frontend-linter

Update frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
Due: frontend-linter

removes unused locators from Differences page object
  frontend/e2e-tests/page-objects/input/DifferencesPgObj.ts
  frontend/e2e-tests/page-objects/input/InputBasePgObj.ts
  frontend/e2e-tests/page-objects/input/InputPgObj.ts
  frontend/e2e-tests/page-objects/input/RecountedPgObj.ts
Due: frontend-linter

fix TODO: typo, add issue number
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
Due: frontend-linter

Extract common configuration for Playwright
  frontend/playwright.app.config.ts
  frontend/playwright.common.config.ts
  frontend/playwright.d2d.config.ts
  frontend/playwright.lib-ui.config.ts
Due: frontend-linter

WIP
  backend/src/lib.rs
  backend/src/polling_station/structs.rs
Due: backend-formatter, backend-linter, backend-openapi

Changed backend to get rid of impossible validation_errors and to return APIErrors instead
  backend/openapi.json
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/structs.rs
Due: backend-formatter, backend-linter, backend-openapi

Extract common configuration for Playwright (#230)
  frontend/playwright.app.config.ts
  frontend/playwright.common.config.ts
  frontend/playwright.d2d.config.ts
  frontend/playwright.lib-ui.config.ts
Due: frontend-linter

Removed OutOfRange and IncorrectCandidatesList from frontend as well
  backend/openapi.json
  backend/src/validation.rs
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/ui/FormField/FormField.stories.tsx
  frontend/lib/ui/FormField/FormField.test.tsx
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

first real draft (missing tests)
  frontend/app/component/form/recounted/RecountedForm.test.tsx
  frontend/app/component/form/recounted/RecountedForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/app/component/pollingstation/PollingStationProgress.tsx
  frontend/app/module/input/PollingStation/CandidatesVotesPage.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/index.ts
  frontend/lib/api/form/pollingstation/pollingStationUtils.ts
  frontend/lib/api/form/pollingstation/useDifferences.ts
  frontend/lib/api/form/pollingstation/usePoliticalGroups.ts
  frontend/lib/api/form/pollingstation/useVotersAndVotes.ts
  frontend/lib/icon/gen.tsx
  frontend/lib/icon/svg/dot.svg
  frontend/lib/ui/ProgressList/ProgressList.module.css
  frontend/lib/ui/ProgressList/ProgressList.tsx
  frontend/lib/ui/ui.types.d.ts
  frontend/lib/util/compare.test.ts
  frontend/lib/util/compare.ts
  frontend/lib/util/index.ts
Due: frontend-linter

Now using election status to render Invoer afronden button
  backend/openapi.json
  backend/src/lib.rs
  backend/src/polling_station/structs.rs
  frontend/app/module/input/InputLayout.tsx
  frontend/app/module/input/page/InputHomePage.tsx
  frontend/lib/api/election/ElectionStatusProvider.tsx
  frontend/lib/api/election/index.ts
  frontend/lib/api/election/useElectionStatus.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/api/index.ts
  frontend/lib/api/useElectionStatusRequest.ts
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

Make IncorrectCandidatesList, OutOfRange errors a 422 response instead (#231)
  backend/openapi.json
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/structs.rs
  backend/src/validation.rs
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/ui/FormField/FormField.stories.tsx
  frontend/lib/ui/FormField/FormField.test.tsx
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

first dom-to-db tests (#228)
  backend/src/bin/api.rs
  frontend/README.md
  frontend/e2e-tests/app-tests/smoketest.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/test-data/PollingStationTestData.ts
  frontend/e2e-tests/page-objects/input/CandidatesListPgObj.ts
  frontend/e2e-tests/page-objects/input/DifferencesPgObj.ts
  frontend/e2e-tests/page-objects/input/InputBasePgObj.ts
  frontend/e2e-tests/page-objects/input/InputPgObj.ts
  frontend/e2e-tests/page-objects/input/RecountedPgObj.ts
  frontend/e2e-tests/page-objects/input/VotersVotesPgObj.ts
  frontend/package.json
  frontend/playwright.app.config.ts
  frontend/playwright.common.config.ts
  frontend/playwright.d2d.config.ts
  frontend/playwright.lib-ui.config.ts
  frontend/tsconfig.json
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

Add API command flag to seed data into the database on startup
  backend/Cargo.toml
  backend/src/bin/api.rs
Due: backend-formatter, backend-linter, backend-openapi

Add some docs
  backend/src/bin/api.rs
Due: backend-formatter, backend-linter, backend-openapi

Add dev-database feature and fix compilation for --no-default-features
  backend/Cargo.toml
  backend/src/bin/api.rs
  backend/src/lib.rs
Due: backend-formatter, backend-linter, backend-openapi

Also run Clippy without default features in CI
  .github/workflows/build-lint-test.yml
Due: none

adds eslint-plugin-import with recommended rules
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
Due: none

Added tests
  frontend/app/module/input/page/InputHomePage.test.tsx
  frontend/lib/api-mocks/ElectionMockData.ts
  frontend/lib/api-mocks/index.ts
Due: frontend-linter

Fixed hover statements for alert variants
  frontend/lib/ui/Alert/Alert.module.css
  frontend/lib/ui/Button/Button.module.css
  frontend/lib/ui/style/variables.css
Due: none

Spelling
  backend/src/election/mod.rs
Due: backend-formatter, backend-linter, backend-openapi

Corrected usage of toBeUndefined()
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/module/input/page/InputHomePage.test.tsx
  frontend/lib/util/strings.test.ts
Due: frontend-linter

Fixed hover statements for alert variants (#237)
  frontend/lib/ui/Alert/Alert.module.css
  frontend/lib/ui/Button/Button.module.css
  frontend/lib/ui/style/variables.css
Due: none

WIP: adds draft of data entry flowcharts
  documentatie/flowcharts/date-entry-navigation.md
Due: none

statuses
  backend/openapi.json
  backend/src/election/mod.rs
  frontend/app/module/input/page/InputHomePage.test.tsx
  frontend/app/module/input/page/InputHomePage.tsx
  frontend/lib/api-mocks/ElectionMockData.ts
  frontend/lib/api/election/ElectionStatusProvider.tsx
  frontend/lib/api/gen/openapi.ts
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

Fixed checking for non-existence
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/module/input/page/InputHomePage.test.tsx
Due: frontend-linter

extends first flow
  documentatie/flowcharts/date-entry-navigation.md
Due: none

Add API command flag to seed data into the database on startup (#232)
  .github/workflows/build-lint-test.yml
  backend/Cargo.toml
  backend/src/bin/api.rs
  backend/src/lib.rs
Due: backend-formatter, backend-linter, backend-openapi

cleanup and fixes click nav item flow
  documentatie/flowcharts/date-entry-navigation.md
Due: none

updates old name of node to new name
  documentatie/flowcharts/date-entry-navigation.md
Due: none

Removed unnecessary comment
  frontend/app/module/input/page/InputHomePage.tsx
Due: frontend-linter

Set the API to be the default run target for cargo
  backend/Cargo.toml
Due: none

updates document title and name
  documentatie/flowcharts/date-entry-page.md
Due: none

splits render page into render navigation menu and render form
  documentatie/flowcharts/date-entry-page.md
Due: none

simplifies flow click 'volgende'
  documentatie/flowcharts/date-entry-page.md
Due: none

adds TODOs for two missing nav menu icons
  documentatie/flowcharts/date-entry-page.md
Due: none

fixes eslint import warning
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
Due: frontend-linter

Update readme for running API server and database commands
  backend/README.md
Due: none
