Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: cargo run --package backend --bin gen-openapi && git add openapi.json
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-typescript:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npx tsc
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Updated panics to errors and asserting result
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed bug in fmt and added tests for from_count, from_u64, divide, divide_whole and fmt
  backend/src/apportionment/fraction.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added tests for eq, ne, > and <
  backend/src/apportionment/fraction.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Changed use of `format!` to `.to_string()`
  backend/src/apportionment/fraction.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Adjusted based on review comments
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Upgrade to React Router 7.1.1
  frontend/.ladle/components.tsx
  frontend/app/component/error/Error.tsx
  frontend/app/component/form/data_entry/PollingStationFormController.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/user/account_setup/AccountSetupForm.tsx
  frontend/app/component/form/user/login/LoginForm.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/app/main.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/app/module/data_entry/polling_station/AbortDataEntryControl.test.tsx
  frontend/app/module/data_entry/polling_station/AbortDataEntryControl.tsx
  frontend/app/module/data_entry/polling_station/PollingStation.test.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.test.tsx
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/app/module/election/page/OverviewPage.tsx
  frontend/app/module/polling_stations/page/PollingStationCreatePage.test.tsx
  frontend/app/module/polling_stations/page/PollingStationCreatePage.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.test.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.test.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.tsx
  frontend/app/routes.test.tsx
  frontend/lib/test/Providers.tsx
  frontend/lib/test/index.ts
  frontend/lib/test/router.ts
  frontend/lib/test/test-utils.ts
  frontend/lib/ui/Table/Table.test.tsx
  frontend/lib/ui/Table/Table.tsx
  frontend/package-lock.json
  frontend/package.json
Due: frontend-typescript, frontend-linter

Run `cargo update`
  backend/Cargo.lock
Due: none

adds TODOs to index.ts of page objects
  frontend/e2e-tests/page-objects/data_entry/index.ts
Due: frontend-typescript, frontend-linter

adds navigate away from form; refactors state machine
  frontend/e2e-tests/model-based-tests/data-entry-model.e2e.ts
Due: frontend-typescript, frontend-linter

moves initial no recount from setup to state machine
  frontend/e2e-tests/model-based-tests/data-entry-model.e2e.ts
Due: frontend-typescript, frontend-linter

WIP: adds unsaved changes modal for empty voters/votes page
  frontend/e2e-tests/model-based-tests/data-entry-model.e2e.ts
Due: frontend-typescript, frontend-linter

Added multiplication trait to fraction and refactored existing code
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added multiplication trait to fraction and changed division to trait and added total seats to result
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

WIP Axum 0.8
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/authentication/user.rs
  backend/src/bin/abacus.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed variable naming
  backend/src/apportionment/fraction.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add axum to Dependabot ignore rules
  .github/dependabot.yml
Due: none

reverts moving recount page from setup to state machine
  frontend/e2e-tests/model-based-tests/data-entry-model.e2e.ts
Due: frontend-typescript, frontend-linter

first step of navigating inside form; cleans up comments with dead code
  frontend/e2e-tests/model-based-tests/data-entry-model.e2e.ts
Due: frontend-typescript, frontend-linter

adds check on saved/discarded data after in-form navigation
  frontend/e2e-tests/model-based-tests/data-entry-model.e2e.ts
Due: frontend-typescript, frontend-linter

adds cache state
  frontend/e2e-tests/model-based-tests/data-entry-model.e2e.ts
Due: frontend-typescript, frontend-linter

Added fraction module and apportionment calculation for ≥ 19 seats (#789)
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/mod.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Run `cargo update`
  backend/Cargo.lock
  backend/Cargo.toml
Due: none

Upgrade to `axum` 0.8
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/authentication/user.rs
  backend/src/bin/abacus.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update Dependabot react-router ignore rules
  .github/dependabot.yml
Due: none

Add `axum` to Dependabot ignore rules (#805)
  .github/dependabot.yml
Due: none

Upgrade to `axum` 0.8 (#814)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/authentication/user.rs
  backend/src/bin/abacus.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove unused function
  frontend/lib/test/test-utils.ts
Due: frontend-typescript, frontend-linter

improves naming of states
  frontend/e2e-tests/model-based-tests/data-entry-model.e2e.ts
Due: frontend-typescript, frontend-linter

removes Playwright app tests in anticipation of simplifying MSW usage
  .github/workflows/build-lint-test.yml
  frontend/e2e-tests/app-tests/smoketest.e2e.ts
  frontend/package.json
  frontend/playwright.app.config.ts
Due: frontend-typescript, frontend-linter

removes e2e:app from frontend README
  frontend/README.md
Due: none

removes e2e:app tests from test-tooling.md
  documentatie/ontwikkelproces/test-tooling.md
Due: none

remove Playwright app tests in anticipation of simplifying MSW usage (#819)
  .github/workflows/build-lint-test.yml
  documentatie/ontwikkelproces/test-tooling.md
  frontend/README.md
  frontend/e2e-tests/app-tests/smoketest.e2e.ts
  frontend/package.json
  frontend/playwright.app.config.ts
Due: frontend-typescript, frontend-linter

Add election to all polling station api endpoint paths
  backend/.sqlx/query-9b904d0c97ee0c1af30a83927aac88855d9fd13daa409be0ec10a559a5adde04.json
  backend/.sqlx/query-b3d99cb99ecf3b247d3fa0b7983cf34c13df010e896d7f0f04854273c8ef5cc9.json
  backend/.sqlx/query-baf46c64e4594a6412f8429fc26d64c3cee9cefa359a510270a2ba7dbbe46edc.json
  backend/.sqlx/query-caf2c17768a946bdfcc1ea81699c03c397fd98dc2c9ddd659706551676ce8cda.json
  backend/.sqlx/query-cf8aca74770a07d09709d0506fc543eb25a3bce100d7f60e7d3b779fd7fbef55.json
  backend/openapi.json
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
  backend/tests/polling_station_integration_test.rs
  frontend/app/component/form/polling_station/PollingStationForm.tsx
  frontend/app/module/polling_stations/page/PollingStationDeleteModal.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.test.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.tsx
  frontend/e2e-tests/dom-to-db-tests/fixtures.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/api/polling_station/usePollingStationGet.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Fix merge issue
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.tsx
Due: frontend-typescript, frontend-linter

ladle config update
  frontend/.ladle/config.mjs
  frontend/app/stories/app--coordinator-status.stories.tsx
Due: frontend-typescript, frontend-linter
