Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

backend-sqlx-prepare:
  run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --all-features -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi &&  git add openapi.json && cd ../frontend && npm run gen:openapi && git add lib/api/gen/openapi.ts
  
    '

frontend-linter:
  run: npm run lint {staged_files}

Consolidated imports
  backend/src/data_entry/validation.rs
  backend/src/pdf_gen/models/model_n_10_2.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

storybook tests for ChoiceList (#2070)
  frontend/src/components/ui/CheckboxAndRadio/ChoiceList.stories.tsx
Due: frontend-linter

storybook tests for IconButton (#2071)
  frontend/src/components/ui/IconButton/IconButton.stories.tsx
Due: frontend-linter

Final DSO error messages and separation of content and actions in all messages (#1985)
  documentatie/use-cases/validatieregels-plausibiliteitschecks-tellingen.md
Due: none

Corrected layout and moved resetting validation errors up in handleSubmit
  frontend/src/features/investigations/components/InvestigationFindings.tsx
  frontend/src/i18n/locales/nl/investigations.json
Due: frontend-linter

Add investigation findings page
  frontend/src/features/investigations/components/AddInvestigationLayout.tsx
  frontend/src/features/investigations/components/InvestigationFindings.test.tsx
  frontend/src/features/investigations/components/InvestigationFindings.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendum.test.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendum.tsx
  frontend/src/features/investigations/routes.ts
  frontend/src/i18n/locales/nl/investigations.json
Due: frontend-linter

Improved investigations translations ordering (split out better per form)
  frontend/src/features/investigations/components/AddInvestigation.tsx
  frontend/src/features/investigations/components/AddInvestigationLayout.tsx
  frontend/src/features/investigations/components/InvestigationFindings.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendum.tsx
  frontend/src/i18n/locales/nl/investigations.json
Due: frontend-linter

Added stories for all investigations components and renamed some to Page
  frontend/src/components/ui/DownloadButton/DownloadButton.stories.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.test.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
  frontend/src/features/investigations/components/AddInvestigationLayout.tsx
  frontend/src/features/investigations/components/AddInvestigationPage.stories.tsx
  frontend/src/features/investigations/components/AddInvestigationPage.test.tsx
  frontend/src/features/investigations/components/AddInvestigationPage.tsx
  frontend/src/features/investigations/components/InvestigationFindings.stories.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendum.stories.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendum.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.test.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.tsx
  frontend/src/features/investigations/components/InvestigationReason.stories.tsx
  frontend/src/features/investigations/components/InvestigationsLayout.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.stories.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.test.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.tsx
  frontend/src/features/investigations/routes.ts
Due: frontend-linter

Added default background color to storybook preview to prevent having to set it manually
  frontend/.storybook/preview.tsx
  frontend/src/components/ui/DownloadButton/DownloadButton.stories.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.stories.tsx
Due: frontend-linter

Added niveau stembureau and committee session label to OverviewPage election rows
  frontend/src/components/committee_session/CommitteeSessionStatus.module.css
  frontend/src/features/election_overview/components/OverviewPage.module.css
  frontend/src/features/election_overview/components/OverviewPage.test.tsx
  frontend/src/features/election_overview/components/OverviewPage.tsx
Due: frontend-linter

Copy polling stations when creating a new committee session
  backend/.sqlx/query-97c2ed4797223b46f5d5fc7d9d32fd3bc88ca448b1d23f41f75687159e955dfe.json
  backend/src/committee_session/api.rs
  backend/src/polling_station/repository.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Updates for some edge cases
  backend/.sqlx/query-f407a8a31693358a3371ce9bee68b7848d33882339bbe2d3217308ceb569f80d.json
  backend/fixtures/election_5.sql
  backend/src/committee_session/api.rs
  backend/src/committee_session/repository.rs
  backend/src/data_entry/api.rs
  backend/src/polling_station/repository.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added niveau stembureau and committee session label to OverviewPage (#2074)
  frontend/src/components/committee_session/CommitteeSessionStatus.module.css
  frontend/src/features/election_overview/components/OverviewPage.module.css
  frontend/src/features/election_overview/components/OverviewPage.test.tsx
  frontend/src/features/election_overview/components/OverviewPage.tsx
Due: frontend-linter

Update handlers for MSW v2.11
  frontend/src/testing/api-mocks/RequestHandlers.ts
  frontend/src/testing/test-utils.ts
Due: frontend-linter

OTF GeistMono with no dashed zeros
  backend/templates/fonts/Geist_Mono/GeistMono-Regular.otf
Due: none

Switched back to previous font file and instead use font feature in typst
  backend/templates/common/scripts.typ
  backend/templates/fonts/Geist_Mono/GeistMono-Regular.otf
Due: none

Fixed showing polling station number instead of id in corrigendum download button
  frontend/src/features/investigations/components/AddInvestigationPage.stories.tsx
  frontend/src/features/investigations/components/AddInvestigationPage.test.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendum.stories.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendum.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.test.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.stories.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.test.tsx
Due: frontend-linter

Updates to model na 14-2 bijlage 1
  backend/templates/common/scripts.typ
  backend/templates/model-na-14-2-bijlage1.typ
Due: none

Fixed lint error caused by merge main
  frontend/src/features/investigations/components/InvestigationsOverview.tsx
Due: frontend-linter

Link report page to committee session and prevent resuming previous session (#2060)
  backend/openapi.json
  backend/src/committee_session/api.rs
  backend/src/election/api.rs
  backend/tests/committee_session_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/shared/mod.rs
  frontend/.storybook/preview.tsx
  frontend/e2e-tests/fixtures.ts
  frontend/src/components/navbar/NavBarLinks.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/data_entry/components/AbortDataEntryControl.test.tsx
  frontend/src/features/data_entry_home/components/DataEntryHomePage.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/features/election_management/components/report/FinishDataEntryPage.test.tsx
  frontend/src/features/election_management/components/report/FinishDataEntryPage.tsx
  frontend/src/features/election_management/components/update/CommitteeSessionDetailsPage.test.tsx
  frontend/src/features/election_management/components/update/CommitteeSessionDetailsPage.tsx
  frontend/src/features/election_management/components/update/NumberOfVotersPage.tsx
  frontend/src/features/election_management/routes.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
  frontend/src/features/investigations/components/InvestigationsOverview.tsx
  frontend/src/hooks/election/ElectionProvider.tsx
  frontend/src/hooks/election/ElectionProviderContext.tsx
  frontend/src/hooks/election/useElection.ts
  frontend/src/hooks/election/useElectionDataRequest.ts
  frontend/src/testing/api-mocks/CommitteeSessionMockData.ts
  frontend/src/testing/api-mocks/ElectionMockData.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Create typst for model Na 14-2 bijlage 1 (#2010)
  backend/templates/common/scripts.typ
  backend/templates/common/style.typ
  backend/templates/inputs/model-na-14-2-bijlage1.json
  backend/templates/model-na-14-2-bijlage1.typ
  backend/templates/model-na-31-1.typ
Due: none

Update feedback translations for F1xx and F2xx
  frontend/src/i18n/locales/nl/feedback.json
Due: none

Group actions for typist and not for coordinator
  frontend/src/components/ui/Feedback/Feedback.stories.tsx
  frontend/src/components/ui/Feedback/Feedback.tsx
  frontend/src/components/ui/Feedback/Feedback.types.tsx
Due: frontend-linter

Added corrected parameter to empty_letterbox and fixed cell width
  backend/templates/common/scripts.typ
  backend/templates/model-na-14-2.typ
Due: none

Fix some issues
  backend/.sqlx/query-587a5f5e7380d37a700b60906252de37d7906bbfcb3ec2653ce1530ec441ce82.json
  backend/src/committee_session/repository.rs
  backend/src/data_entry/api.rs
  backend/src/election/api.rs
  backend/src/polling_station/repository.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added test that fails
  frontend/e2e-tests/page-objects/election/ElectionHomePgObj.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
Due: frontend-linter

Fixed bug and added backend test
  backend/src/election/api.rs
  backend/tests/election_admin_integration_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Configure `testIdAttribute` for Storybook tests
  frontend/.storybook/preview.tsx
Due: frontend-linter

Update validation texts in tests
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.test.tsx
Due: frontend-linter

Fixed e2e test
  frontend/e2e-tests/tests/election-create.e2e.ts
Due: frontend-linter

Added backend test for importing without polling stations
  backend/tests/election_admin_integration_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

removes some redundant triggers from use cases
  documentatie/use-cases/beheerder.md
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
  documentatie/use-cases/gsb-tweede-zitting.md
Due: none

removes unneeded preconditions from use cases
  documentatie/use-cases/beheerder.md
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Due: none

Update validation texts in tests
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.error.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
Due: frontend-linter

Aggregate identical validation feedback items
  frontend/src/components/ui/Feedback/Feedback.module.css
  frontend/src/components/ui/Feedback/Feedback.stories.tsx
  frontend/src/components/ui/Feedback/Feedback.tsx
Due: frontend-linter

Remove unneeded triggers and preconditions from use cases (#2085)
  documentatie/use-cases/beheerder.md
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
  documentatie/use-cases/gsb-tweede-zitting.md
Due: none

Attempt to fix issues
  backend/.sqlx/query-7bb0fa4710acb63bebfb2d7667211940ef7075106316eb89c783320aaec7f50d.json
  backend/.sqlx/query-80b0b6e1115faa074f8445ec19571ca762a689c7da766534b3bcde83b9eecb3c.json
  backend/src/election/api.rs
  backend/src/polling_station/repository.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Validation feedback changes (#2086)
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.error.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
  frontend/src/components/ui/Feedback/Feedback.module.css
  frontend/src/components/ui/Feedback/Feedback.stories.tsx
  frontend/src/components/ui/Feedback/Feedback.tsx
  frontend/src/components/ui/Feedback/Feedback.types.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/src/i18n/locales/nl/feedback.json
Due: frontend-linter

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
