Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

backend-sqlx-prepare:
  run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --all-features -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi &&  git add openapi.json && cd ../frontend && npm run gen:openapi && git add lib/api/gen/openapi.ts
  
    '

frontend-linter:
  run: npm run lint {staged_files}

Fixed validation error for political group votes (#2291)
  backend/src/data_entry/validation.rs
  documentatie/use-cases/validatieregels-plausibiliteitschecks-tellingen.md
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed bug by making it impossible to make changes to a previous committee session (#2337)
  backend/openapi.json
  backend/src/committee_session/api.rs
  backend/src/committee_session/structs.rs
  backend/tests/committee_session_integration_test.rs
  backend/tests/data_entries_resolve_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/investigation_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
  frontend/e2e-tests/fixtures.ts
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/features/election_management/components/report/FinishDataEntryPage.test.tsx
  frontend/src/features/election_management/components/report/FinishDataEntryPage.tsx
  frontend/src/features/election_management/components/update/CommitteeSessionDetailsPage.test.tsx
  frontend/src/features/election_management/components/update/CommitteeSessionDetailsPage.tsx
  frontend/src/features/election_management/components/update/NumberOfVotersPage.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.test.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.tsx
  frontend/src/features/investigations/components/StartDataEntryModal.tsx
  frontend/src/testing/api-mocks/RequestHandlers.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Added data entries delete endpoint for coordinator and tests for it
  backend/openapi.json
  backend/src/data_entry/api.rs
  backend/src/error.rs
  frontend/src/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Renamed endpoint and fixed errors and removed commented out test
  backend/openapi.json
  backend/src/data_entry/api.rs
  backend/src/polling_station/mod.rs
  backend/tests/polling_station_integration_test.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Replaced "uitslag" with "uitkomst" in Abacus (except in the models)
  backend/templates/inputs/model-p-2a.json
  documentatie/referentie/afkortingenlijst.md
  documentatie/use-cases/validatieregels-plausibiliteitschecks-tellingen.md
  frontend/src/features/election_status/components/ElectionStatus.stories.tsx
  frontend/src/features/investigations/components/InvestigationFindingsPage.test.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.test.tsx
  frontend/src/i18n/locales/nl/election_status.json
  frontend/src/i18n/locales/nl/feedback.json
  frontend/src/i18n/locales/nl/investigations.json
  frontend/src/i18n/locales/nl/log.json
  frontend/src/i18n/locales/nl/users.json
Due: frontend-linter

Updated user role descriptions
  frontend/src/i18n/locales/nl/investigations.json
  frontend/src/i18n/locales/nl/users.json
Due: none

Fix committee session status change inconsistency
  backend/src/committee_session/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Processed review comments
  backend/openapi.json
  backend/src/data_entry/api.rs
  backend/src/error.rs
  frontend/src/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fixed typo
  frontend/src/i18n/locales/nl/error.json
Due: none

Beheer->beheerder typos gefixt en uitslag->uitkomst veranderd voor GSB resultaat
  documentatie/use-cases/beheer.md
  documentatie/use-cases/csb-zitting.md
  documentatie/use-cases/gsb-eerste-zitting.md
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
  documentatie/use-cases/gsb-tweede-zitting.md
Due: none

Added data entries delete endpoint for coordinator (#2339)
  backend/openapi.json
  backend/src/data_entry/api.rs
  backend/src/error.rs
  backend/src/polling_station/mod.rs
  backend/tests/polling_station_integration_test.rs
  frontend/src/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Apply suggestion from @jorisleker
  documentatie/use-cases/beheer.md
Due: none

Apply suggestion from @jorisleker
  documentatie/use-cases/csb-zitting.md
Due: none

improves use case about importing GSB results by the CSB
  documentatie/use-cases/csb-invoer-zitting.md
Due: none

uitkomst / uitslag
  documentatie/referentie/afkortingenlijst.md
Due: none

Removed new fixture, update api test to change db
  backend/fixtures/election_9_four_sessions_without_corrections.sql
  backend/src/report/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added hash to footer of Na 14-2, improve page headers (#2329)
  backend/templates/common/style.typ
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-2a.typ
Due: none

Definitie uitkomst en uitslag specifieker gemaakt
  documentatie/referentie/afkortingenlijst.md
Due: none

Move e2e large test file generation and cleanup to fixtures
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/test-data/eml-files.ts
  frontend/e2e-tests/tests/election-create.e2e.ts
Due: frontend-linter

Use cases: explicit document names and some cleanup/refactoring (#2164)
  documentatie/use-cases/beheer.md
  documentatie/use-cases/csb-invoer-zitting.md
  documentatie/use-cases/csb-zitting.md
  documentatie/use-cases/gsb-eerste-zitting.md
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
  documentatie/use-cases/gsb-tweede-zitting.md
  documentatie/use-cases/input-output-bestanden.md
Due: none

Added documentation on font modification, convert csv to json
  backend/templates/fonts/DM_Sans/modifications.md
  backend/templates/inputs/teletex-test.json
  backend/templates/teletex-test.typ
Due: none

Explicitly handle aborted requests
  frontend/src/api/ApiClient.ts
  frontend/src/api/ApiRequestState.ts
  frontend/src/api/ApiResult.ts
  frontend/src/api/useInitialApiGet.ts
  frontend/src/api/useSessionState.ts
Due: frontend-linter

Update column totals styling in Na 31-1 and Na 31-2
  backend/templates/common/scripts.typ
  backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-2.typ
Due: none

Apply suggestions from code review
  documentatie/referentie/afkortingenlijst.md
Due: none

Update frontend/src/i18n/locales/nl/election_management.json
  frontend/src/i18n/locales/nl/election_management.json
Due: none

Save last submit values to potentially show in error message, instead of using useRef to get current form values
  frontend/src/features/polling_stations/components/PollingStationForm.tsx
Due: frontend-linter

Move callback function using function expression after hooks that it uses
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
Due: frontend-linter

Prevent reassign title after render error by determining title outside of map callback
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.tsx
Due: frontend-linter

Add missing function to useCallback dependencies
  frontend/src/components/ui/NumberInput/NumberInput.tsx
Due: frontend-linter

Added test for deleting last investigation
  backend/tests/investigation_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Disable some eslint react-hooks errors for now
  frontend/src/components/error/ErrorModal.tsx
  frontend/src/components/messages/Messages.tsx
  frontend/src/features/account/components/InitialiseApplicationPage.tsx
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.tsx
  frontend/src/features/election_create/components/CheckHash.tsx
  frontend/src/features/investigations/components/AddInvestigationLayout.tsx
Due: frontend-linter

Fix committee session status change inconsistency (#2340)
  backend/src/committee_session/status.rs
  backend/tests/investigation_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

WIP
  frontend/src/api/ApiClient.ts
  frontend/src/api/ApiEvents.ts
  frontend/src/api/BaseApiClient.ts
Due: frontend-linter

Update backend/src/report/api.rs
  backend/src/report/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Do not generate EML and results for next sessions with no corrections (#2319)
  backend/src/report/api.rs
  frontend/src/features/election_management/components/report/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/i18n/locales/nl/election_management.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Only perform auto refreshes if the tab is active/visible
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
Due: frontend-linter

More refresh interval logic to separate hook
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
  frontend/src/hooks/useLiveData.ts
Due: frontend-linter

204 on empty response + handle trottled request
  backend/openapi.json
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/user_api.rs
  backend/src/committee_session/api.rs
  backend/src/investigation/api.rs
  backend/src/polling_station/mod.rs
  backend/src/test_data_gen/api.rs
  frontend/src/api/ApiClient.ts
  frontend/src/api/ApiEvents.ts
  frontend/src/api/BaseApiClient.ts
  frontend/src/features/account/components/InitialiseApplicationPage.test.tsx
  target/rust-analyzer/flycheck0/stderr
  target/rust-analyzer/flycheck0/stdout
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
