Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: cargo run --package backend --bin gen-openapi && git add openapi.json
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-typescript:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npx tsc
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

i18n MVP (#459)
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/app/module/election/page/OverviewPage.tsx
  frontend/lib/i18n/format.test.ts
  frontend/lib/i18n/format.tsx
  frontend/lib/i18n/i18n.test.tsx
  frontend/lib/i18n/i18n.ts
  frontend/lib/i18n/i18n.types.ts
  frontend/lib/i18n/index.ts
  frontend/lib/i18n/locales/nl.ts
  frontend/lib/ui/Feedback/Feedback.tsx
  frontend/lib/ui/Feedback/Feedback.types.tsx
  frontend/tsconfig.json
Due: frontend-typescript, frontend-linter

(broken) useApiRequest refactor
  frontend/app/module/data_entry/page/DataEntryHomePage.test.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/ApiError.ts
  frontend/lib/api/ApiProviderContext.tsx
  frontend/lib/api/api.types.ts
  frontend/lib/api/index.ts
  frontend/lib/api/useApi.ts
  frontend/lib/api/useApiGetRequest.ts
  frontend/lib/api/useApiRequest.ts
  frontend/lib/api/useElectionDataRequest.ts
  frontend/lib/api/useElectionListRequest.ts
  frontend/lib/api/useElectionStatusRequest.ts
Due: frontend-typescript, frontend-linter

First iteration of table component
  frontend/lib/ui/Table/Table.module.css
  frontend/lib/ui/Table/Table.stories.tsx
  frontend/lib/ui/Table/Table.tsx
Due: frontend-typescript, frontend-linter

Added endpoint and sqlx query
  backend/.sqlx/query-6a00e6137189ea2154679c5b16f6377a1130a41f479e32e2039c671caaa4c804.json
  backend/.sqlx/query-7f8236bc8562684bd372060c85ba9990460814755aaba03e367e32d32afe339e.json
  backend/.sqlx/query-d310391af7ddd380045db7fd80e54f499a9c75a99e336742f1c33a0bcca78c46.json
  backend/fixtures/polling_stations.sql
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
  backend/src/polling_station/structs.rs
  backend/tests/polling_station_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Adjusted copy of Is er herteld Closes #499
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/module/data_entry/polling_station/PollingStation.test.tsx
  frontend/e2e-tests/page-objects/data_entry/RecountedPgObj.ts
Due: frontend-typescript, frontend-linter

Fixed grammatical errors in i18n
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/lib/i18n/i18n.types.ts
  frontend/lib/i18n/locales/nl.ts
Due: frontend-typescript, frontend-linter

Small refactor
  frontend/app/module/data_entry/page/DataEntryHomePage.test.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/ApiProvider.tsx
  frontend/lib/api/election/ElectionListProvider.tsx
  frontend/lib/api/election/ElectionProvider.tsx
  frontend/lib/api/election/ElectionStatusProvider.tsx
  frontend/lib/api/election/ElectionStatusProviderContext.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/polling_station/usePollingStationListRequest.ts
  frontend/lib/api/useApiRequest.ts
  frontend/lib/api/useElectionDataRequest.test.ts
  frontend/lib/api/useElectionDataRequest.ts
  frontend/lib/api/useElectionListRequest.test.ts
  frontend/lib/api/useElectionListRequest.ts
  frontend/lib/api/useElectionStatusRequest.ts
Due: frontend-typescript, frontend-linter

Removed feedback about empty lists from check and save page and added padding
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/lib/api/form/pollingstation/pollingStationUtils.test.ts
  frontend/lib/api/form/pollingstation/pollingStationUtils.ts
  frontend/lib/ui/StatusList/StatusList.module.css
  frontend/lib/ui/StatusList/StatusList.tsx
Due: frontend-typescript, frontend-linter

`build-and-run`: fetch before checkout (#517)
  build-and-run
Due: none

Add Table test
  frontend/lib/ui/Table/Table.test.tsx
Due: frontend-typescript, frontend-linter

Update copy of recounted question and fixed grammatical error in i18n (#522)
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/module/data_entry/polling_station/PollingStation.test.tsx
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/e2e-tests/page-objects/data_entry/RecountedPgObj.ts
  frontend/lib/i18n/i18n.types.ts
  frontend/lib/i18n/locales/nl.ts
Due: frontend-typescript, frontend-linter

Show a green checkmark for steps with accepted warnings (#515)
  documentatie/flowcharts/data-entry-forms.md
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/app/component/pollingstation/PollingStationProgress.tsx
  frontend/app/module/data_entry/polling_station/PollingStation.test.tsx
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
Due: frontend-typescript, frontend-linter

revert PR512, i.e. remove on:workflow_dispatch for cla bot
  .github/workflows/cla.yml
Due: none

Removed feedback about empty lists from check and save page and added padding (#525)
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/lib/api/form/pollingstation/pollingStationUtils.test.ts
  frontend/lib/api/form/pollingstation/pollingStationUtils.ts
  frontend/lib/ui/StatusList/StatusList.module.css
  frontend/lib/ui/StatusList/StatusList.tsx
Due: frontend-typescript, frontend-linter

Closes #500
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/lib/ui/Alert/Alert.module.css
  frontend/lib/ui/InputGrid/InputGrid.module.css
  frontend/lib/ui/InputGrid/InputGridRow.tsx
Due: frontend-typescript, frontend-linter

Added scrolling to bottom of page to make sure error can always be viewed
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
Due: frontend-typescript, frontend-linter

Updated scrollTo to scrollIntoView
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
Due: frontend-typescript, frontend-linter

Added focus on total field on error, removing scrollIntoView since it is not needed anymore
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
Due: frontend-typescript, frontend-linter

WIP: Dev containers
  .devcontainer/devcontainer.json
  .gitignore
  README.md
  docker-compose.yml
  frontend/package.json
Due: none

Allow accessing docker from inside main container
  .devcontainer/devcontainer.json
  README.md
Due: none

Update fonts path in README license paragraph
  README.md
Due: none

Update fonts path in README license paragraph (#530)
  README.md
Due: none

revert PR512, i.e. remove on:workflow_dispatch for cla bot (#526)
  .github/workflows/cla.yml
Due: none

fix link to overwegingen-talen-en-frameworks.md
  README.md
Due: none

Reset missingTotalError and added test
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
Due: frontend-typescript, frontend-linter

add reinschaap to the contributors list
  contributors.yml
Due: none

add reinschaap to the contributors list (#532)
  contributors.yml
Due: none

fix link in readme to overwegingen-talen-en-frameworks.md (#531)
  README.md
Due: none

pointers om met abacus te beginnen
  README.md
Due: none

Restore original DataEntryHomePage test and rename requestStatus
  frontend/app/module/data_entry/page/DataEntryHomePage.test.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/election/ElectionListProvider.tsx
  frontend/lib/api/election/ElectionProvider.tsx
  frontend/lib/api/election/ElectionStatusProvider.tsx
  frontend/lib/api/election/useElectionList.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/useApiRequest.ts
  frontend/lib/api/useElectionDataRequest.test.ts
  frontend/lib/api/useElectionListRequest.test.ts
Due: frontend-typescript, frontend-linter

Fix typo
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
Due: frontend-typescript, frontend-linter

Separate compound component function definition from setting as property on parent component
  frontend/lib/ui/Table/Table.tsx
Due: frontend-typescript, frontend-linter

copies first draft from issue; adds TODOs
  documentatie/ontwikkelproces/GitHub-werkwijze.md
  documentatie/ontwikkelproces/Refinement.md
  documentatie/ontwikkelproces/proces-ontwikkeling-en-releases.md
Due: none

Added error when adding an existing polling station
  backend/src/lib.rs
  backend/tests/polling_station_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Error 409 response to openapi
  backend/openapi.json
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Slightly better error message for invalid PollingStationType
  backend/src/polling_station/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Show error when list-total is left empty by mistake (#527)
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/lib/ui/Alert/Alert.module.css
  frontend/lib/ui/InputGrid/InputGrid.module.css
  frontend/lib/ui/InputGrid/InputGridRow.tsx
Due: frontend-typescript, frontend-linter

WIP
  backend/.sqlx/query-45527b7d3c6d94d92b5ba617f929851fea6b398457e214296ab3d9a239d8eb67.json
  backend/.sqlx/query-6b324b62017a7b95bb9d3dd3e971b79cb0756ca356e69273a5f99b7b22b0f58e.json
  backend/.sqlx/query-afe4d565b1833303d4ade370f551b480f552fb5b5fa17f8a5d721c32c03be8e6.json
  backend/.sqlx/query-dfe3cb08a3c22461bcdf15607f7f2e03688749cb5e023e7fe331732a25039488.json
  backend/.sqlx/query-f2542092c51b2e31f46babe3237512702f286fc60c16be0b273ce109f522745e.json
  backend/fixtures/polling_station_results.sql
  backend/migrations/3_polling_station_data_entries.sql
  backend/migrations/4_polling_station_results.sql
  backend/openapi.json
  backend/src/data_entry/mod.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/structs.rs
  frontend/e2e-tests/dom-to-db-tests/test-data/PollingStationTestData.ts
  frontend/lib/api-mocks/Database.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Update backend/src/polling_station/mod.rs
  backend/src/polling_station/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi
