Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite &&
        cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets &&
        git add .sqlx &&
        rm sqlx-cache-tmp.sqlite
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi &&
        git add openapi.json &&
        cd ../frontend &&
        pnpm gen:openapi &&
        git add src/types/generated/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: pnpm format --staged --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-biome:
      root: "frontend/"
      run: pnpm lint:biome --write --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-tsc:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:tsc
    frontend-lint-eslint:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:eslint

Fully implement windows service wrapper, and fix bugs in ui implementation.
  backend/service_ui/src/systemd_service.rs
  backend/service_ui/src/windows_service.rs
  backend/windows_service/src/bin/install-service.rs
  backend/windows_service/src/bin/uninstall-service.rs
  backend/windows_service/src/main.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Bumped eslint and @eslint/js to 10.0.x versions
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/utils/dateTime.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Update contributors.yml
  contributors.yml
Due: none

Bumped eslint to 10.4.0
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

refactor: move app stuff to app.rs; ask for confirmation before stopping
  backend/service_ui/src/app.rs
  backend/service_ui/src/main.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update ESLint (#3332)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/utils/dateTime.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Update contributors.yml (#3331)
  contributors.yml
Due: none

Fix clippy::needless_pass_by_value
  backend/apportionment/src/seat_assignment/mod.rs
  backend/pdf_gen/src/embedded/mod.rs
  backend/src/api/election.rs
  backend/src/api/middleware/authentication/mod.rs
  backend/src/api/middleware/authentication/password.rs
  backend/src/api/polling_station.rs
  backend/src/domain/models/apportionment_footnotes.rs
  backend/src/domain/models/enriched_candidate_nomination.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/src/domain/models/filter_input.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/results/common_polling_station_results.rs
  backend/src/domain/results/differences_counts.rs
  backend/src/domain/results/gsb_differences_counts.rs
  backend/src/domain/results/gsb_results.rs
  backend/src/domain/results/political_group_candidate_votes.rs
  backend/src/error.rs
  backend/src/infra/audit_log/audit_event.rs
  backend/src/infra/audit_log/error_logging.rs
  backend/src/infra/pdf_gen/typst_tests.rs
  backend/src/repository/user_repo.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix clippy::explicit_(into_)iter_loop
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/test_helpers.rs
  backend/src/api/middleware/airgap/detect.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/src/domain/results/political_group_candidate_votes.rs
  backend/src/domain/summary.rs
  backend/src/infra/router.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix clippy::trivially_copy_pass_by_ref
  backend/src/api/apportionment/handlers/process_apportionment.rs
  backend/src/api/committee_session.rs
  backend/src/api/data_entry.rs
  backend/src/api/document.rs
  backend/src/api/election.rs
  backend/src/api/investigation.rs
  backend/src/api/polling_station.rs
  backend/src/api/report/handlers.rs
  backend/src/domain/role.rs
  backend/src/service/apportionment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix clippy::cloned_instead_of_copied
  backend/src/api/data_entry.rs
  backend/src/service/data_entry.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

(fix): panic on page=0 pagination
  backend/src/api/audit.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix clippy::needless_borrow
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/src/domain/results/differences_counts.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Mark simple enums as Copy
  backend/apportionment/src/structs.rs
  backend/src/api/apportionment/mod.rs
  backend/src/api/data_entry.rs
  backend/src/domain/apportionment_state.rs
  backend/src/domain/committee_session.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/investigation.rs
  backend/src/domain/validate.rs
  backend/src/infra/audit_log/audit_event.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix clippy::unnecessary_sort_by
  backend/src/domain/validate.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

fix: unresolved merge conflict
  backend/Cargo.lock
Due: none

tuning features requested from dependencies
  backend/Cargo.lock
  backend/Cargo.toml
Due: none

Add publiccode.yml file (#2014)
  backend/publiccode.yml
Due: none

implement working windows service wrapper
  backend/Cargo.lock
  backend/service_ui/src/common_service.rs
  backend/service_ui/src/main.rs
  backend/service_ui/src/systemd_service.rs
  backend/service_ui/src/windows_service.rs
  backend/service_ui/src/windows_service_wrapper.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactoring, have assign_remainder take a Vec instead of a slice.
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactoring, only call get_number_of_candidates once.
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactoring, remove collect to save allocation
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactoring, full_seat is no longer mutable but gets returned from the if instead.
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactoring, have list_numbers_with_exhausted_seats return an iterator. This may enable further refactorings where we can remove the collecting into a container.
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactoring, turn parameter mutable - all it was used for was for cloning into a mutable version.
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactoring, loop over a range of immutable values instead of using a while and a mutable local.
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactoring, pass steps into assign_remainder by passing ownership.
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactoring, search the corresponding ListStanding only once instead of iterating once per inner loop.
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactoring, use < instead of cmp and comparing against Ordering::Less
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactoring, use early return in reassign_residual_seats_for_exhausted_lists. Makes the whole function body less indented.
  backend/apportionment/src/seat_assignment/mod.rs
  backend/pdf_gen/src/embedded/world.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactoring, push directly into current_steps instead of creating an intermediate allocation.
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactoring, switch order in sub to not need abs - we previously filter to ensure the result is always positive
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

fix windows service permission bitmask
  backend/service_ui/src/windows_service_wrapper.rs
  packaging/windows/README.md
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Combine crash logging to one function
  backend/windows_service/src/main.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactoring validate function signature
  backend/src/domain/data_entry.rs
  backend/src/domain/results/common_polling_station_results.rs
  backend/src/domain/results/count.rs
  backend/src/domain/results/counting_differences_polling_station.rs
  backend/src/domain/results/differences_counts.rs
  backend/src/domain/results/extra_investigation.rs
  backend/src/domain/results/gsb_differences_counts.rs
  backend/src/domain/results/gsb_results.rs
  backend/src/domain/results/mod.rs
  backend/src/domain/results/political_group_candidate_votes.rs
  backend/src/domain/results/political_group_total_votes.rs
  backend/src/domain/results/voters_counts.rs
  backend/src/domain/results/votes_counts.rs
  backend/src/domain/summary.rs
  backend/src/domain/validate.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactoring validate function signature
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

fixing layout
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi
