Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

backend-sqlx-prepare:
  run: 'cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite && cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets && git add .sqlx && rm sqlx-cache-tmp.sqlite
  
    '

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi && git add openapi.json && cd ../frontend && pnpm gen:openapi && git add src/types/generated/openapi.ts
  
    '

frontend-lint-tsc:
  run: pnpm lint:tsc

frontend-lint-eslint:
  run: pnpm lint:eslint

Moved code to separate files without changes
  backend/src/api/report.rs
  backend/src/api/report/files.rs
  backend/src/api/report/handlers.rs
  backend/src/api/report/mod.rs
  backend/src/api/report/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove unused endpoint
  backend/openapi.json
  backend/src/api/report/handlers.rs
  backend/src/api/report/mod.rs
  backend/tests/election_integration_test.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Move naming logic to separate file
  backend/src/api/report/files.rs
  backend/src/api/report/handlers.rs
  backend/src/api/report/mod.rs
  backend/src/api/report/naming.rs
  backend/src/api/report/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Centralize naming
  backend/src/api/report/files.rs
  backend/src/api/report/handlers.rs
  backend/src/api/report/naming.rs
  backend/src/api/report/structs.rs
  backend/src/domain/file.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move save logic
  backend/src/api/report/files.rs
  backend/src/api/report/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move integration tests to own file
  backend/tests/election_integration_test.rs
  backend/tests/report_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Deduplicate integration test code
  backend/tests/report_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Integration tests assert file count, add missing file checks
  backend/src/api/report/handlers.rs
  backend/tests/report_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactor API error handling (#3253)
  backend/src/api/apportionment/mod.rs
  backend/src/api/authentication.rs
  backend/src/api/committee_session.rs
  backend/src/api/election.rs
  backend/src/api/middleware/authentication/error.rs
  backend/src/api/report.rs
  backend/src/error.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactor `error_response` to `ErrorResponse::new`
  backend/src/api/apportionment/mod.rs
  backend/src/api/committee_session.rs
  backend/src/api/middleware/authentication/error.rs
  backend/src/error.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove enum abstraction download_zip_filename
  backend/src/api/report/handlers.rs
  backend/src/api/report/naming.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add P 22-2 Bijlage 1 smoke test
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add P 22-2 smoke test
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

impl ToString
  backend/src/api/apportionment/mod.rs
  backend/src/api/committee_session.rs
  backend/src/api/middleware/authentication/error.rs
  backend/src/error.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move naming to ResultsInput/generate all files together
  backend/src/api/report/files.rs
  backend/src/api/report/handlers.rs
  backend/src/api/report/mod.rs
  backend/src/api/report/naming.rs
  backend/src/api/report/structs.rs
  backend/src/domain/file.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

impl ToString for Error::new
  backend/src/api/apportionment/mod.rs
  backend/src/api/committee_session.rs
  backend/src/api/middleware/authentication/error.rs
  backend/src/error.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add apportionment state machine with deceased candidates
  backend/.sqlx/query-201b2040009a5aacdb0f1b90ecbb6518edd58ca56332ba4efd29dd03e8f6b623.json
  backend/.sqlx/query-df12e0395a966d9b06c3183c84fe9ca8ba6c541a0d444ea5d6c15346e23b1c85.json
  backend/migrations/10_apportionment.sql
  backend/openapi.json
  backend/src/api/apportionment/handlers/add_deceased_candidate.rs
  backend/src/api/apportionment/handlers/delete_deceased_candidate.rs
  backend/src/api/apportionment/handlers/finalise_deceased_candidates.rs
  backend/src/api/apportionment/handlers/get_state.rs
  backend/src/api/apportionment/handlers/mod.rs
  backend/src/api/apportionment/handlers/process_apportionment.rs
  backend/src/api/apportionment/handlers/register_deceased_candidates.rs
  backend/src/api/apportionment/handlers/skip_deceased_candidates.rs
  backend/src/api/apportionment/mod.rs
  backend/src/api/apportionment/structs.rs
  backend/src/domain/apportionment_state.rs
  backend/src/domain/mod.rs
  backend/src/infra/audit_log/audit_event.rs
  backend/src/infra/audit_log/audit_log_events.rs
  backend/src/lib.rs
  backend/src/repository/apportionment_state_repo.rs
  backend/src/repository/mod.rs
  backend/src/service/apportionment.rs
  backend/src/service/mod.rs
  backend/src/tests.rs
  frontend/src/i18n/locales/nl/log.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

P 22-2 Bijlage 1 smoke test (#3261)
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add transactions and return new state in API
  backend/openapi.json
  backend/src/api/apportionment/handlers/add_deceased_candidate.rs
  backend/src/api/apportionment/handlers/delete_deceased_candidate.rs
  backend/src/api/apportionment/handlers/finalise_deceased_candidates.rs
  backend/src/api/apportionment/handlers/register_deceased_candidates.rs
  backend/src/api/apportionment/handlers/skip_deceased_candidates.rs
  backend/src/service/apportionment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactor report API (#3259)
  backend/openapi.json
  backend/src/api/committee_session.rs
  backend/src/api/report.rs
  backend/src/api/report/files.rs
  backend/src/api/report/handlers.rs
  backend/src/api/report/mod.rs
  backend/src/api/report/structs.rs
  backend/src/domain/file.rs
  backend/tests/election_integration_test.rs
  backend/tests/report_integration_test.rs
  backend/tests/shared/mod.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Use "election_id" = ElectionId for utoipa
  backend/openapi.json
  backend/src/api/apportionment/handlers/add_deceased_candidate.rs
  backend/src/api/apportionment/handlers/delete_deceased_candidate.rs
  backend/src/api/apportionment/handlers/finalise_deceased_candidates.rs
  backend/src/api/apportionment/handlers/get_state.rs
  backend/src/api/apportionment/handlers/process_apportionment.rs
  backend/src/api/apportionment/handlers/register_deceased_candidates.rs
  backend/src/api/apportionment/handlers/skip_deceased_candidates.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Rename election_apportionment handler to process_apportionment
  backend/openapi.json
  backend/src/api/apportionment/handlers/process_apportionment.rs
  backend/src/api/apportionment/mod.rs
  frontend/src/features/apportionment/hooks/useApportionmentRequest.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Refactor `error_response` to `ErrorResponse::new` (#3260)
  backend/src/api/apportionment/mod.rs
  backend/src/api/committee_session.rs
  backend/src/api/middleware/authentication/error.rs
  backend/src/error.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use DeceasedCandidate struct in apportionment_state instead of tuple
  backend/openapi.json
  backend/src/api/apportionment/handlers/add_deceased_candidate.rs
  backend/src/api/apportionment/handlers/delete_deceased_candidate.rs
  backend/src/api/apportionment/handlers/finalise_deceased_candidates.rs
  backend/src/api/apportionment/structs.rs
  backend/src/domain/apportionment_state.rs
  backend/src/repository/apportionment_state_repo.rs
  backend/src/service/apportionment.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Merge main into branch
  backend/src/domain/apportionment_state.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add reset transition and handler
  backend/openapi.json
  backend/src/api/apportionment/handlers/mod.rs
  backend/src/api/apportionment/handlers/reset.rs
  backend/src/api/apportionment/mod.rs
  backend/src/domain/apportionment_state.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Retrieve the number of voters from the ElectionSummary if available there
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Retrieve the number of voters from the ElectionSummary if available there (#3269)
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

P 22-2 smoke test (#3262)
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactored unreachable() matches
  backend/apportionment/src/seat_assignment/structs.rs
  backend/src/domain/apportionment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Switched from BTreeSet to BTreeMap
  backend/src/domain/models/apportionment_footnotes.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed typst smoke test for P 22-2
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Improvement of map
  backend/src/domain/models/apportionment_footnotes.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added full flow test for CSB, TODO: apportionment page
  backend/src/eml/tests/eml230b_test_more_than_45_candidates.eml.xml
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/page-objects/data_entry/DataEntryHomePgObj.ts
  frontend/e2e-tests/page-objects/data_entry/VotersAndVotesPgObj.ts
  frontend/e2e-tests/page-objects/election/ElectionReportPgObj.ts
  frontend/e2e-tests/test-data/eml-files.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
  frontend/src/features/data_entry_home/components/DataEntryList.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Add Apportionment page objects and finish CSB full flow test
  frontend/e2e-tests/page-objects/apportionment/ApportionmentFullSeatsPgObj.ts
  frontend/e2e-tests/page-objects/apportionment/ApportionmentListDetailsPgObj.ts
  frontend/e2e-tests/page-objects/apportionment/ApportionmentPgObj.ts
  frontend/e2e-tests/page-objects/apportionment/ApportionmentResidualSeatsPgObj.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Added separate users for full flow CSB
  frontend/e2e-tests/tests/full-flow.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Split up full flow tests into different files and processed some comments
  frontend/e2e-tests/page-objects/data_entry/VotersAndVotesPgObj.ts
  frontend/e2e-tests/tests/full-flow-CSB.e2e.ts
  frontend/e2e-tests/tests/full-flow-GSB.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Changed uploadCandidatesAndInputHash to add eml as parameter
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/page-objects/data_entry/DataEntryHomePgObj.ts
  frontend/e2e-tests/tests/election-create.e2e.ts
  frontend/e2e-tests/tests/full-flow-CSB.e2e.ts
  frontend/e2e-tests/tests/full-flow-GSB.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Added initial highest average steps and footnotes to backend P 22-2 input (#3249)
  backend/apportionment/src/seat_assignment/structs.rs
  backend/src/api/report/structs.rs
  backend/src/domain/apportionment.rs
  backend/src/domain/models/apportionment_footnotes.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/models/model_p_22_2.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/templates/common/scripts.typ
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-p-22-2.json
  backend/templates/model-p-22-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use new error type in `domain/models`
  backend/src/domain/models/enriched_candidate_nomination.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/src/domain/models/error.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/models/votes_table.rs
  backend/src/error.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-lint-tsc: any of: *.{ts,tsx} and ^frontend/
  frontend-lint-eslint: any of: *.{ts,tsx} and ^frontend/
