Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

backend-sqlx-prepare:
  run: 'cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite && cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets && git add .sqlx && rm sqlx-cache-tmp.sqlite
  
    '

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi && git add openapi.json && cd ../frontend && pnpm gen:openapi && git add src/types/generated/openapi.ts
  
    '

frontend-lint-tsc:
  run: pnpm lint:tsc

frontend-lint-eslint:
  run: pnpm lint:eslint

Add test that validates data_entry from fixtures
  backend/src/repository/data_entry_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use correct value types for fixture inserts: sub_committees number is INTEGER, authority_id is TEXT
  backend/fixtures/election_10_csb.sql
  backend/fixtures/election_13_csb_ws_completed.sql
  backend/fixtures/election_8_csb_with_results.sql
Due: none

Add validation rule F.313 for GSB CSO/DSO (#3991)
  backend/fuzz/fuzz_targets/data_entry_status.rs
  backend/openapi.json
  backend/src/domain/results/differences_counts.rs
  backend/src/domain/results/mod.rs
  backend/src/domain/tabulation.rs
  backend/src/domain/validate.rs
  backend/src/repository/data_entry_repo.rs
  backend/templates/inputs/model-na-14-1-versie-2-variations/model-na-14-1-versie-2-GR.json
  backend/templates/inputs/model-na-14-1-versie-2-variations/model-na-14-1-versie-2-PS1.json
  backend/templates/inputs/model-na-14-1-versie-2-variations/model-na-14-1-versie-2-PS2.json
  backend/templates/inputs/model-na-14-1-versie-2-variations/model-na-14-1-versie-2-WS.json
  backend/templates/inputs/model-na-14-2-bijlage-1-variations/model-na-14-2-bijlage-1-GR.json
  backend/templates/inputs/model-na-14-2-bijlage-1-variations/model-na-14-2-bijlage-1-PS.json
  backend/templates/inputs/model-na-14-2-bijlage-1-variations/model-na-14-2-bijlage-1-WS.json
  backend/tests/shared/mod.rs
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry-DSO.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry-with-gaps.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/resume-data-entry.e2e.ts
  frontend/e2e-tests/tests/full-flow/full-flow-GSB.e2e.ts
  frontend/src/i18n/locales/nl/feedback_GSB.json
  frontend/src/i18n/locales/nl/feedback_GSB_DSO.json
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

make test data generator only show polling stations field for GSB
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Update lock file
  frontend/pnpm-lock.yaml
Due: none

Update react-router to 7.18.4
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

test data generator only shows polling stations field for GSB (#3997)
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Use alphanumeric, remove empty comment
  backend/src/domain/filename.rs
  backend/tests/integration_tests/report_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Rename osv4-3_telling_{election_id|lower}.csv to abacus_telling_{election_id|lower}.csv
  backend/src/domain/file.rs
  backend/src/domain/report/files.rs
  backend/src/domain/report/structs.rs
  backend/tests/integration_tests/report_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Changed article P7 to P8 for < 19 seats to adhere to the Kieswet
  backend/src/bin/gen-pdf.rs
  backend/src/domain/models/model_p_22_2.rs
  backend/templates/inputs/model-p-22-2-variations/lt-19-seats-and-p8-drawing-lots.json
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForList.stories.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/testing/lt-19-seats-and-p8-drawing-lots.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

`are_results_complete_for_committee_session` check sub committees (#3996)
  backend/.sqlx/query-50af5c73866d6cb151001f7e303fffff3b1e6a528d081828e2b9c9be855716e2.json
  backend/src/api/committee_session.rs
  backend/src/repository/data_entry_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update to React Router 7.18.4, update lockfile (#3998)
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

Implemented model changes for P 22-2
  backend/templates/model-p-22-2.typ
Due: none

Move slugify to filename
  backend/src/api/polling_station.rs
  backend/src/domain/filename.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added WS input variant for P 22-2
  backend/src/bin/gen-pdf.rs
  backend/src/domain/models/model_p_22_2.rs
  backend/templates/inputs/model-p-22-2-variations/model-p-22-2-WS.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add diacritics to election_11 fixture, fix implementations
  backend/fixtures/election_11_dso.sql
  backend/src/api/document.rs
  backend/src/domain/filename.rs
  backend/tests/integration_tests/election_integration_test.rs
  backend/tests/integration_tests/polling_station_integration_test.rs
  backend/tests/integration_tests/report_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Do not allow creation of AB1 election via import and generator
  backend/src/eml/mod.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add information on supported elections to readme of apportionment crate
  backend/apportionment/README.md
Due: none

Remove slugify_filename(), inline templates into FileType::filename(), fix count files
  backend/pdf_gen/types/src/zip.rs
  backend/src/domain/file.rs
  backend/src/domain/report/files.rs
  backend/src/domain/report/structs.rs
  backend/tests/integration_tests/report_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added more explanation on election categories to apportionment crate readme
  backend/apportionment/README.md
Due: none

Update backend/src/test_data_gen/generators.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Only update range for water authority if given range is too low and adjusted fixture
  backend/fixtures/election_11_dso.sql
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Adjust start_date_time of committee session
  backend/templates/inputs/model-p-22-2-variations/gte-19-seats-and-p9-drawing-lots-and-p10-and-deceased-candidates.json
  backend/templates/inputs/model-p-22-2-variations/model-p-22-2-WS.json
Due: none

Only update range for water authority if given range is too low and adjusted fixture
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Render the election title correctly in models for different election categories
  backend/templates/common/scripts.typ
  backend/templates/model-n-10-1.typ
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-14-1-versie-1.typ
  backend/templates/model-na-14-1-versie-2.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-22-2.typ
  backend/templates/model-p-2a.typ
Due: none

Improved range again, now it works as expected
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Expanded seats hint in frontend form
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Use is_ascii_alphanumeric() to ensure printable ASCII characters for Content-Disposition header value
  backend/src/domain/filename.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Minor format_datetime() doc correction
  backend/src/domain/filename.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Sign GSB results EML and add signature to ZIP
  backend/.sqlx/query-bb27a9db1c8bf0289460953be522650949de9f2bc2d9ee8206db232d16c5d138.json
  backend/.sqlx/query-c9db7ff274ebdb7522fdffac3ea32219f9cd482b02abe469ca37f5c34d1ed6d7.json
  backend/.sqlx/query-df10098491ee707f9f9308c1f53b95e8b1603f487c10afec8d573df76f0b74d9.json
  backend/pdf_gen/types/src/zip.rs
  backend/src/api/report.rs
  backend/src/api/signing.rs
  backend/src/domain/file.rs
  backend/src/domain/report/files.rs
  backend/src/domain/report/structs.rs
  backend/src/repository/signing_keypair_repo.rs
  backend/src/service/mod.rs
  backend/src/service/signing.rs
  backend/tests/integration_tests/report_integration_test.rs
  frontend/src/features/election_management/components/report/GSBElectionReportSection.test.tsx
  frontend/src/i18n/locales/nl/election_management.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Do not allow creating an AB1 election since they don't exist anymore (#4017)
  backend/apportionment/README.md
  backend/fixtures/election_11_dso.sql
  backend/src/eml/mod.rs
  backend/src/test_data_gen/generators.rs
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Modelaanpassingen 2027: P 22-2 pv CSB GR/PS1 (en WS) (#4009)
  backend/src/bin/gen-pdf.rs
  backend/src/domain/models/model_p_22_2.rs
  backend/templates/inputs/model-p-22-2-variations/gte-19-seats-and-p9-drawing-lots-and-p10-and-deceased-candidates.json
  backend/templates/inputs/model-p-22-2-variations/lt-19-seats-and-p8-drawing-lots.json
  backend/templates/inputs/model-p-22-2-variations/model-p-22-2-WS.json
  backend/templates/model-p-22-2.typ
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForList.stories.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/testing/lt-19-seats-and-p8-drawing-lots.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

All models: change what we show for `<verkiezing>` on title page (#4029)
  backend/templates/common/scripts.typ
  backend/templates/model-n-10-1.typ
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-14-1-versie-1.typ
  backend/templates/model-na-14-1-versie-2.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-22-2.typ
  backend/templates/model-p-2a.typ
Due: none

Correct export and report filenames (#3995)
  backend/fixtures/election_10_csb.sql
  backend/fixtures/election_11_dso.sql
  backend/fixtures/election_13_csb_ws_completed.sql
  backend/fixtures/election_8_csb_with_results.sql
  backend/pdf_gen/types/src/zip.rs
  backend/src/api/document.rs
  backend/src/api/polling_station.rs
  backend/src/api/report.rs
  backend/src/api/signing.rs
  backend/src/domain/election.rs
  backend/src/domain/file.rs
  backend/src/domain/filename.rs
  backend/src/domain/mod.rs
  backend/src/domain/report/files.rs
  backend/src/domain/report/structs.rs
  backend/tests/integration_tests/election_integration_test.rs
  backend/tests/integration_tests/polling_station_integration_test.rs
  backend/tests/integration_tests/report_integration_test.rs
  frontend/e2e-tests/tests/full-flow/full-flow-CSB.e2e.ts
  frontend/e2e-tests/tests/full-flow/full-flow-GSB.e2e.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Change certificate validity for elections in the past
  backend/eml_signature/README.md
  backend/eml_signature/src/error.rs
  backend/eml_signature/src/keypair.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add CSB WS validate and sub committee import backend tests
  backend/tests/integration_tests/election_admin_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Skip CodeQL analysis in merge queue
  .github/workflows/codeql-analysis.yml
Due: none

Skip CodeQL analysis in merge queue (#4036)
  .github/workflows/codeql-analysis.yml
Due: none

Only load private key from database when needed
  backend/.sqlx/query-bb27a9db1c8bf0289460953be522650949de9f2bc2d9ee8206db232d16c5d138.json
  backend/src/repository/signing_keypair_repo.rs
  backend/src/service/signing.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update brace-expansion and undici dependencies
  frontend/pnpm-lock.yaml
Due: none

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-lint-tsc: any of: *.{ts,tsx} and ^frontend/
  frontend-lint-eslint: any of: *.{ts,tsx} and ^frontend/
