Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

backend-sqlx-prepare:
  run: 'cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite && cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets && git add .sqlx && rm sqlx-cache-tmp.sqlite
  
    '

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi && git add openapi.json && cd ../frontend && pnpm gen:openapi && git add src/types/generated/openapi.ts
  
    '

frontend-lint-tsc:
  run: pnpm lint:tsc

frontend-lint-eslint:
  run: pnpm lint:eslint

Changing usage of number of voters to be more explicit. Resolves #3297
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Allowing many lines for test
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update contributors.yml
  contributors.yml
Due: none

stop service on uninstall
  packaging/windows/abacus.iss
Due: none

feat: prettify egui ui
  backend/service_ui/src/app.rs
  backend/service_ui/src/systemd_service.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

fix: remove NixOS specific systemctl path
  backend/service_ui/src/systemd_service.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update contributors.yml (#3333)
  contributors.yml
Due: none

Use Nextest for Backend job (#3328)
  .github/workflows/build-lint-test.yml
Due: none

Improved Provider and added tests for IncludeAllCandidatesPage
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/ApportionmentProvider.tsx
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.tsx
  frontend/src/features/apportionment/components/deceased_candidates/IncludeAllCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/IncludeAllCandidatesPage.tsx
  frontend/src/features/apportionment/hooks/ApportionmentProviderContext.tsx
  frontend/src/features/apportionment/utils/utils.tsx
  frontend/src/hooks/apportionment/useApportionmentStateRequest.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Refactoring validate function signature
  backend/src/domain/data_entry.rs
  backend/src/domain/results/common_polling_station_results.rs
  backend/src/domain/results/count.rs
  backend/src/domain/results/counting_differences_polling_station.rs
  backend/src/domain/results/differences_counts.rs
  backend/src/domain/results/extra_investigation.rs
  backend/src/domain/results/gsb_differences_counts.rs
  backend/src/domain/results/gsb_results.rs
  backend/src/domain/results/mod.rs
  backend/src/domain/results/political_group_candidate_votes.rs
  backend/src/domain/results/political_group_total_votes.rs
  backend/src/domain/results/voters_counts.rs
  backend/src/domain/results/votes_counts.rs
  backend/src/domain/summary.rs
  backend/src/domain/validate.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactoring validate function signature
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Cleanup, remove commented out code that was accidentally included in an earlier commit
  backend/pdf_gen/src/embedded/world.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

fixing test usages
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update contributors.yml for RustWeek Hackathon (#3314)
  contributors.yml
Due: none

feat: Add database backup infrastructure using VACUUM INTO
  .gitignore
  backend/src/infra/backup.rs
  backend/src/infra/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Contributors RustWeek Hackathon part 2 (#3317)
  contributors.yml
Due: none

Fix capitalisation of contributor names in YAML (#3321)
  contributors.yml
Due: none

Do not run PDF diff workflow for PRs from forks (#3324)
  .github/workflows/pdf-diff.yml
Due: none

Contributors RustWeek (#3323)
  contributors.yml
Due: none

feat: add creation of backup directory
  backend/src/infra/backup.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add executable location storage for backups (#1)
  backend/src/bin/abacus.rs
  backend/src/infra/backup.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added tests for DeceasedCandidatesPage
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.test.tsx
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Added tests for AddDeceasedCandidatesPage
  backend/src/service/change_committee_session_status.rs
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.tsx
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

(fix): panic on page=0 pagination (#3316)
  backend/src/api/audit.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Changing usage of number of voters to be more explicit. Resolves #3297 (#3319)
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use fixtures for as_eml_count_contest test
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use fixtures for as_eml_count_contest test (#3337)
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added Loaders to pages
  frontend/src/features/apportionment/components/ApportionmentProvider.tsx
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.tsx
  frontend/src/features/apportionment/components/deceased_candidates/IncludeAllCandidatesPage.tsx
  frontend/src/features/apportionment/hooks/ApportionmentProviderContext.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Refactoring validate function signature (#3335)
  backend/src/domain/data_entry.rs
  backend/src/domain/results/common_polling_station_results.rs
  backend/src/domain/results/count.rs
  backend/src/domain/results/counting_differences_polling_station.rs
  backend/src/domain/results/differences_counts.rs
  backend/src/domain/results/extra_investigation.rs
  backend/src/domain/results/gsb_differences_counts.rs
  backend/src/domain/results/gsb_results.rs
  backend/src/domain/results/mod.rs
  backend/src/domain/results/political_group_candidate_votes.rs
  backend/src/domain/results/political_group_total_votes.rs
  backend/src/domain/results/voters_counts.rs
  backend/src/domain/results/votes_counts.rs
  backend/src/domain/summary.rs
  backend/src/domain/validate.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix feature selection in CI
  .github/workflows/build-lint-test.yml
Due: none

Extract type for `PdfGenFn`
  backend/pdf_gen/wrapper/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Replace APNIC-owned IP to a TEST-NET-3 address in authentication tests
  backend/src/api/middleware/authentication/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Extract test IPv4 IPs into constants and unify their source
  backend/src/api/audit.rs
  backend/src/api/middleware/authentication/middleware.rs
  backend/src/api/middleware/authentication/mod.rs
  backend/src/infra/audit_log/service.rs
  backend/src/lib.rs
  backend/src/service/change_committee_session_status.rs
  backend/src/test_support.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove TODO that will be picked up in a different issue
  backend/src/service/change_committee_session_status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add some pedantic clippy lints
  backend/Cargo.toml
Due: none

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-lint-tsc: any of: *.{ts,tsx} and ^frontend/
  frontend-lint-eslint: any of: *.{ts,tsx} and ^frontend/
