Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite &&
        cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets &&
        git add .sqlx &&
        rm sqlx-cache-tmp.sqlite
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi &&
        git add openapi.json &&
        cd ../frontend &&
        pnpm gen:openapi &&
        git add src/types/generated/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: pnpm format --staged --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-biome:
      root: "frontend/"
      run: pnpm lint:biome --write --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-tsc:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:tsc
    frontend-lint-eslint:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:eslint

Moved structs to improve references
  backend/src/api/committee_session.rs
  backend/src/api/report.rs
  backend/src/service/change_committee_session_status.rs
  backend/src/service/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Audit log event filter fix (#2956)
  backend/.sqlx/query-179fb46981589a16729471b919fa50415d7ba0bcc134a4103c307a79b2414ecc.json
  backend/.sqlx/query-9b5467bef363f34cf4018a28946a72bf4071e3d3ad1d65f95c4ce5750eae2601.json
  backend/.sqlx/query-aa147558511fb35550506417b52900caae7ba6c2fb93afba28a17e17230cd0d8.json
  backend/.sqlx/query-d508dc792dd9d20f7105d9624d140d561263e4ab2579fe7aa710ebc9aa9ecec6.json
  backend/src/api/audit.rs
  backend/src/infra/audit_log/audit_log_events.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add election step to create user
  frontend/e2e-tests/page-objects/users/UserCreateElectionPgObj.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
  frontend/e2e-tests/tests/users.e2e.ts
  frontend/src/features/users/components/UserListPage.test.tsx
  frontend/src/features/users/components/create/UserCreate.test.tsx
  frontend/src/features/users/components/create/UserCreateContextProvider.tsx
  frontend/src/features/users/components/create/UserCreateDetailsPage.test.tsx
  frontend/src/features/users/components/create/UserCreateDetailsPage.tsx
  frontend/src/features/users/components/create/UserCreateElectionPage.tsx
  frontend/src/features/users/components/create/UserCreateRolePage.test.tsx
  frontend/src/features/users/components/create/UserCreateRolePage.tsx
  frontend/src/features/users/components/create/UserCreateTypePage.test.tsx
  frontend/src/features/users/components/update/UserUpdateForm.test.tsx
  frontend/src/features/users/hooks/UserCreateContext.tsx
  frontend/src/i18n/locales/nl/users.json
  frontend/src/testing/user-mock-data.ts
  frontend/src/utils/role.test.ts
  frontend/src/utils/role.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Update authorization to allow creating csb roles
  backend/openapi.json
  backend/src/api/middleware/authentication/mod.rs
  backend/src/api/middleware/authentication/role.rs
  backend/src/api/user.rs
  backend/src/domain/role.rs
  frontend/src/app/routes.tsx
  frontend/src/features/account/routes.tsx
  frontend/src/features/users/routes.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Remove Codecov test result uploads
  .github/workflows/build-lint-test.yml
  .github/workflows/codecov.yml
Due: none

Update minimatch to 10.2.4
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

Added missing election role and domain id to NavBar
  frontend/src/components/navbar/NavBar.test.tsx
  frontend/src/components/navbar/NavBarLinks.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Audit log replaced as_audit_event macro with trait (#2955)
  backend/openapi.json
  backend/src/api/audit.rs
  backend/src/api/authentication.rs
  backend/src/api/committee_session.rs
  backend/src/api/data_entry.rs
  backend/src/api/election.rs
  backend/src/api/investigation.rs
  backend/src/api/middleware/airgap/detect.rs
  backend/src/api/middleware/authentication/middleware.rs
  backend/src/api/polling_station.rs
  backend/src/api/report.rs
  backend/src/api/user.rs
  backend/src/domain/committee_session.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/election.rs
  backend/src/domain/file.rs
  backend/src/domain/polling_station.rs
  backend/src/infra/audit_log/audit_event.rs
  backend/src/infra/audit_log/audit_log_events.rs
  backend/src/infra/audit_log/service.rs
  backend/src/lib.rs
  backend/src/service/change_committee_session_status.rs
  backend/src/service/mod.rs
  frontend/src/i18n/locales/nl/log.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Move investigations to polling stations table
  backend/.sqlx/query-09658bae4b20c5e630df28be3b6c98bb9a68ce0a49fcb6c3b197d6e5863dca79.json
  backend/.sqlx/query-2d70528190c451f34822e2fec70e9657b29d4bcd17fc96712e0b7b8ca04e9fdb.json
  backend/.sqlx/query-3b49ad9988a84a1a738cfd9e3449ad873624f5e70f32f8379f475e43f6d41874.json
  backend/.sqlx/query-4bb95f9923e6dfc035ace5447d57acfae577578d98f1e3b0135cff174d0abf18.json
  backend/.sqlx/query-631b0062a72250949dee42a55ec5215a82b742482d35b14bfcc075e3041a3b92.json
  backend/.sqlx/query-76294b80e7fdda5afe0af5d13a4ca2811850a2d9ee7670a59038b0148e2f3b87.json
  backend/.sqlx/query-82f3ee391bd15e0a295bc6abf0292413332f461e5a4c81bba35001fa9faf3429.json
  backend/.sqlx/query-98ef1b8516bb5a556656bdb3373fce6b8e9dc66912d58382f9bd128f002da4a6.json
  backend/.sqlx/query-99848568336b125a282878ecaa85d2e35bf44c94f90f1251450da9a600858bdf.json
  backend/.sqlx/query-b107c4c95f3f41f373a1172c3908aa5a84fb8ea60f82ab1be0177fe85099ee5f.json
  backend/.sqlx/query-b49bf1ab4f6787719d9be9b1c2be7b32a259c915cd5efbfda6514ea217f2b422.json
  backend/.sqlx/query-b79284fd4d12811c95a380e5a7cf779529fdc94ef1e35679434bf9cd0158d5dc.json
  backend/.sqlx/query-c0f032e6e318c922da2338c1f730d4d5f5bd69e61d9006014d7c2a476ce85d8e.json
  backend/.sqlx/query-c2aab3b540a71833737cdca535461ebdda99e569b6d50bd3c54e0a498a172ba0.json
  backend/.sqlx/query-c2d71c68aa26327c18efd61c636c19bccfb4dbfc116ba338327011673188981c.json
  backend/.sqlx/query-ca1f88e3adcf19f97865f81404fcc33ea95976f8e8c7b4001761e20889a8c124.json
  backend/.sqlx/query-d96476e4184eaf7c73bdd01052efaebf496ed1adcc2ce0ea227947da813d5126.json
  backend/.sqlx/query-e025e72c029c2fe31453c0004c8a47a52f87bac5aac8587f28a636bd66088067.json
  backend/.sqlx/query-e7f4ab126777d408e4b9db80984eafcffada4058cc7f63ed6359c4a1390f0275.json
  backend/.sqlx/query-f4026a2c53adcf6f7872bb893aeb7767ca7b62f3ba8a31db0317427b836ec321.json
  backend/fixtures/election_5_with_results.sql
  backend/fixtures/election_7_four_sessions.sql
  backend/migrations/2_polling_stations.sql
  backend/migrations/9_polling_station_investigations.sql
  backend/src/api/committee_session.rs
  backend/src/api/investigation.rs
  backend/src/api/polling_station.rs
  backend/src/api/report.rs
  backend/src/domain/investigation.rs
  backend/src/repository/data_entry_repo.rs
  backend/src/repository/investigation_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update election status page for CSB (#2945)
  frontend/src/components/committee_session/CommitteeSessionStatus.test.tsx
  frontend/src/components/committee_session/CommitteeSessionStatus.tsx
  frontend/src/components/data_entry/CommitteeSessionPausedModal.tsx
  frontend/src/components/navbar/NavBar.test.tsx
  frontend/src/components/navbar/NavBarLinks.tsx
  frontend/src/features/data_entry/components/DataEntryPage.tsx
  frontend/src/features/data_entry/components/DataEntrySection.test.tsx
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/components/cache.test.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/features/data_entry/components/differences/DifferenceForm.test.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/src/features/data_entry_home/components/DataEntryHomePage.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.stories.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/features/election_management/components/report/FinishDataEntryPage.tsx
  frontend/src/features/election_management/components/update/CommitteeSessionDetailsPage.tsx
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.tsx
  frontend/src/i18n/locales/nl/committee_session_status.json
  frontend/src/utils/committeeSession.test.ts
  frontend/src/utils/committeeSession.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Renamed ApportionmentCreated to ApportionmentProcessed
  backend/openapi.json
  backend/src/api/apportionment/handlers.rs
  backend/src/infra/audit_log/audit_event.rs
  frontend/src/i18n/locales/nl/log.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Remove Codecov test result uploads (#2961)
  .github/workflows/build-lint-test.yml
  .github/workflows/codecov.yml
Due: none

Update minimatch to 10.2.4 (#2960)
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

Start transaction before fetching user to get their role
  backend/src/api/user.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

ApportionmentInputData pass list_votes by reference
  backend/src/api/apportionment/handlers.rs
  backend/src/api/apportionment/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

More correct test name
  backend/src/domain/role.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Restore hiding page content for wrong role
  frontend/src/features/users/components/create/UserCreateRolePage.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Move investigations to polling stations table (#2962)
  backend/.sqlx/query-09658bae4b20c5e630df28be3b6c98bb9a68ce0a49fcb6c3b197d6e5863dca79.json
  backend/.sqlx/query-2d70528190c451f34822e2fec70e9657b29d4bcd17fc96712e0b7b8ca04e9fdb.json
  backend/.sqlx/query-3b49ad9988a84a1a738cfd9e3449ad873624f5e70f32f8379f475e43f6d41874.json
  backend/.sqlx/query-4bb95f9923e6dfc035ace5447d57acfae577578d98f1e3b0135cff174d0abf18.json
  backend/.sqlx/query-631b0062a72250949dee42a55ec5215a82b742482d35b14bfcc075e3041a3b92.json
  backend/.sqlx/query-76294b80e7fdda5afe0af5d13a4ca2811850a2d9ee7670a59038b0148e2f3b87.json
  backend/.sqlx/query-82f3ee391bd15e0a295bc6abf0292413332f461e5a4c81bba35001fa9faf3429.json
  backend/.sqlx/query-98ef1b8516bb5a556656bdb3373fce6b8e9dc66912d58382f9bd128f002da4a6.json
  backend/.sqlx/query-99848568336b125a282878ecaa85d2e35bf44c94f90f1251450da9a600858bdf.json
  backend/.sqlx/query-b107c4c95f3f41f373a1172c3908aa5a84fb8ea60f82ab1be0177fe85099ee5f.json
  backend/.sqlx/query-b49bf1ab4f6787719d9be9b1c2be7b32a259c915cd5efbfda6514ea217f2b422.json
  backend/.sqlx/query-b79284fd4d12811c95a380e5a7cf779529fdc94ef1e35679434bf9cd0158d5dc.json
  backend/.sqlx/query-c0f032e6e318c922da2338c1f730d4d5f5bd69e61d9006014d7c2a476ce85d8e.json
  backend/.sqlx/query-c2aab3b540a71833737cdca535461ebdda99e569b6d50bd3c54e0a498a172ba0.json
  backend/.sqlx/query-c2d71c68aa26327c18efd61c636c19bccfb4dbfc116ba338327011673188981c.json
  backend/.sqlx/query-ca1f88e3adcf19f97865f81404fcc33ea95976f8e8c7b4001761e20889a8c124.json
  backend/.sqlx/query-d96476e4184eaf7c73bdd01052efaebf496ed1adcc2ce0ea227947da813d5126.json
  backend/.sqlx/query-e025e72c029c2fe31453c0004c8a47a52f87bac5aac8587f28a636bd66088067.json
  backend/.sqlx/query-e7f4ab126777d408e4b9db80984eafcffada4058cc7f63ed6359c4a1390f0275.json
  backend/.sqlx/query-f4026a2c53adcf6f7872bb893aeb7767ca7b62f3ba8a31db0317427b836ec321.json
  backend/fixtures/election_5_with_results.sql
  backend/fixtures/election_7_four_sessions.sql
  backend/migrations/2_polling_stations.sql
  backend/migrations/9_polling_station_investigations.sql
  backend/src/api/committee_session.rs
  backend/src/api/investigation.rs
  backend/src/api/polling_station.rs
  backend/src/api/report.rs
  backend/src/domain/investigation.rs
  backend/src/repository/data_entry_repo.rs
  backend/src/repository/investigation_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Bring back apportionment API (#2953)
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/candidate_nomination/structs.rs
  backend/apportionment/src/int_newtype_macro.rs
  backend/apportionment/src/lib.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/seat_assignment/structs.rs
  backend/apportionment/src/structs.rs
  backend/apportionment/src/test_helpers.rs
  backend/openapi.json
  backend/src/api/apportionment/handlers.rs
  backend/src/api/apportionment/mapping.rs
  backend/src/api/apportionment/mod.rs
  backend/src/api/apportionment/structs.rs
  backend/src/api/mod.rs
  backend/src/error.rs
  backend/src/infra/audit_log/audit_event.rs
  backend/src/infra/router.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  frontend/src/i18n/locales/nl/error.json
  frontend/src/i18n/locales/nl/log.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Removed apportionment table color settings since they are fixed in design library fixes PR
  frontend/src/features/apportionment/components/Apportionment.module.css
Due: none

Added separate Footnotes component and story and changed it to <ol>
  frontend/src/features/apportionment/components/Apportionment.module.css
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Extracted getAssignmentSteps and getRemovalSteps and fixed routes handle roles
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.tsx
  frontend/src/features/apportionment/routes.tsx
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/features/apportionment/utils/seat-change.tsx
  frontend/src/features/apportionment/utils/steps.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Reduced complexity and changed full seats footnotes as well
  frontend/src/features/apportionment/components/ApportionmentError.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.tsx
  frontend/src/features/apportionment/components/full_seats/FullSeatsTable.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.tsx
  frontend/src/features/apportionment/utils/seat-change.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Renamed pg* to list*, adjusted imports and tests
  frontend/src/components/ui/DisplayFraction/DisplayFraction.stories.tsx
  frontend/src/components/ui/DisplayFraction/DisplayFraction.test.tsx
  frontend/src/components/ui/DisplayFraction/DisplayFraction.tsx
  frontend/src/components/ui/Table/Table.stories.tsx
  frontend/src/components/ui/Table/Table.tsx
  frontend/src/features/apportionment/components/ApportionmentError.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentTable.tsx
  frontend/src/features/apportionment/components/ElectionSummaryTable.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.tsx
  frontend/src/features/apportionment/components/full_seats/FullSeatsTable.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.tsx
  frontend/src/features/apportionment/hooks/ApportionmentProviderContext.tsx
  frontend/src/features/apportionment/routes.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/features/apportionment/utils/seat-change.tsx
  frontend/src/features/apportionment/utils/steps.tsx
  frontend/src/i18n/locales/nl/apportionment.json
  frontend/src/types/generated/openapi.ts
  frontend/src/utils/fraction.test.ts
  frontend/src/utils/fraction.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Add apportionment route to frontend
  frontend/src/app/routes.tsx
  frontend/src/types/generated/openapi.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Fixed last complexity lint errors
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Added full seats footnotes component as well
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.tsx
  frontend/src/features/apportionment/components/full_seats/Footnotes.stories.tsx
  frontend/src/features/apportionment/components/full_seats/Footnotes.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Sigrid fix
  sigrid.yaml
Due: none

Processed review comments
  frontend/src/features/apportionment/components/ApportionmentError.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/ApportionmentTable.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/utils/utils.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Converted apportionment table unit tests to storybook tests
  frontend/src/features/apportionment/components/ApportionmentTable.stories.tsx
  frontend/src/features/apportionment/components/ApportionmentTable.test.tsx
  frontend/src/features/apportionment/components/ChosenCandidatesTable.stories.tsx
  frontend/src/features/apportionment/components/ChosenCandidatesTable.test.tsx
  frontend/src/features/apportionment/components/ElectionSummaryTable.stories.tsx
  frontend/src/features/apportionment/components/ElectionSummaryTable.test.tsx
  frontend/src/features/apportionment/components/full_seats/FullSeatsTable.stories.tsx
  frontend/src/features/apportionment/components/full_seats/FullSeatsTable.test.tsx
  frontend/src/features/apportionment/components/full_seats/ResidualSeatsCalculationTable.stories.tsx
  frontend/src/features/apportionment/components/full_seats/ResidualSeatsCalculationTable.test.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesRankingTable.stories.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesRankingTable.test.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithVotesTable.stories.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithVotesTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Migrate to eml-nl crate
  backend/Cargo.lock
  backend/Cargo.toml
  backend/fixtures/election_5_with_results.sql
  backend/fixtures/election_7_four_sessions.sql
  backend/src/api/election.rs
  backend/src/api/polling_station.rs
  backend/src/api/report.rs
  backend/src/bin/gen-test-gsb-election.rs
  backend/src/domain/id.rs
  backend/src/eml/base.rs
  backend/src/eml/common.rs
  backend/src/eml/eml_110.rs
  backend/src/eml/eml_230.rs
  backend/src/eml/eml_510.rs
  backend/src/eml/eml_520.rs
  backend/src/eml/error.rs
  backend/src/eml/mod.rs
  backend/src/eml/tests/eml110a_invalid_election_date_format.eml.xml
  backend/src/eml/tests/eml110a_invalid_election_date_nomination_format.eml.xml
  backend/src/eml/tests/eml110a_invalid_election_mismatch_preference_threshold.eml.xml
  backend/src/eml/tests/eml110a_invalid_election_mismatch_preference_threshold_small_election.eml.xml
  backend/src/eml/tests/eml110a_invalid_election_missing_election_tree.eml.xml
  backend/src/eml/tests/eml110a_invalid_election_missing_nomination_date.eml.xml
  backend/src/eml/tests/eml110a_invalid_election_missing_number_of_seats.eml.xml
  backend/src/eml/tests/eml110a_invalid_election_missing_preference_threshold.eml.xml
  backend/src/eml/tests/eml110a_invalid_election_missing_region.eml.xml
  backend/src/eml/tests/eml110a_invalid_election_missing_subcategory.eml.xml
  backend/src/eml/tests/eml110a_invalid_election_number_of_seats.eml.xml
  backend/src/eml/tests/eml110a_invalid_election_only_municipal_supported.eml.xml
  backend/src/eml/tests/eml110a_invalid_election_subcategory.eml.xml
  backend/src/eml/tests/eml110a_invalid_election_voting_method.eml.xml
  backend/src/eml/tests/eml110a_invalid_xml.eml.xml
  backend/src/eml/util.rs
  backend/src/error.rs
  backend/tests/election_admin_integration_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update openapi
  backend/openapi.json
  frontend/src/types/generated/openapi.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Add EmlError translation
  frontend/src/i18n/locales/nl/error.json
Due: none

Fix election ids, fix failing test
  backend/fixtures/election_2.sql
  backend/fixtures/election_3.sql
  backend/src/eml/mod.rs
  backend/tests/election_admin_integration_tests.rs
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/src/testing/api-mocks/ElectionMockData.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Fix output of EML files with generator
  backend/src/eml/mod.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Split candidate to fix max function length
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Rename step election to committee category
  backend/src/api/user.rs
  frontend/src/components/ui/Badge/Badge.tsx
  frontend/src/components/ui/Feedback/Feedback.tsx
  frontend/src/features/data_entry/components/DataEntryPage.tsx
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry_detail/components/DetailLayout.tsx
  frontend/src/features/data_entry_home/components/PollingStationNumberInput.tsx
  frontend/src/features/data_entry_home/components/PollingStationsList.tsx
  frontend/src/features/election_status/components/CategoryRow.tsx
  frontend/src/features/users/components/create/UserCreate.test.tsx
  frontend/src/features/users/components/create/UserCreateCommitteeCategoryPage.tsx
  frontend/src/features/users/components/create/UserCreateContextProvider.tsx
  frontend/src/features/users/components/create/UserCreateRolePage.test.tsx
  frontend/src/features/users/components/create/UserCreateRolePage.tsx
  frontend/src/features/users/hooks/UserCreateContext.tsx
  frontend/src/features/users/routes.tsx
  frontend/src/hooks/user/useUser.ts
  frontend/src/i18n/locales/nl/users.json
  frontend/src/testing/user-mock-data.ts
  frontend/src/utils/role.test.ts
  frontend/src/utils/role.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Improved clippy lint allow
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

PR feedback
  frontend/e2e-tests/tests/election-create.e2e.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
  frontend/src/features/data_entry_home/components/PollingStationPicker.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint
