Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi && 
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add lib/api/gen/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Update features list and add progress indication
  documentatie/functionaliteit/versie-1.0-gr.md
Due: none

instructions at first login conditional on role (#2286)
  frontend/src/features/election_overview/components/OverviewPage.test.tsx
  frontend/src/features/election_overview/components/OverviewPage.tsx
Due: frontend-linter

Fixed validation error for political group votes
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Updated use case for administrator (#2278)
  documentatie/use-cases/beheer.md
Due: none

CTE optimization, finish check, updated tess, feedback
  backend/.sqlx/query-9ba6d70591842f84decac09353545b44118c51556a63dcef8d38522dab7facdb.json
  backend/.sqlx/query-fa2d4712cff616e1e85d911f70121d0a52f7e8fe013508db0acef71908aefde8.json
  backend/src/committee_session/status.rs
  backend/src/data_entry/repository.rs
  backend/tests/committee_session_integration_test.rs
  backend/tests/data_entries_resolve_integration_test.rs
  backend/tests/investigation_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  frontend/src/features/investigations/components/InvestigationsOverviewPage.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Adjust method
  backend/src/report/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix clippy error
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added test for F401
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Restore transaction for CTE
  backend/src/data_entry/repository.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update contributors.yml (#2273)
  contributors.yml
Due: none

Updated copy according to recommendations
  backend/openapi.json
  backend/src/data_entry/structs.rs
  frontend/e2e-tests/page-objects/data_entry/CountingDifferencesPollingStationPgObj.ts
  frontend/src/features/election_create/components/NumberOfVoters.tsx
  frontend/src/features/election_management/components/update/NumberOfVotersPage.tsx
  frontend/src/i18n/locales/nl/counting_differences_polling_station.json
  frontend/src/i18n/locales/nl/data_entry.json
  frontend/src/i18n/locales/nl/election.json
  frontend/src/i18n/locales/nl/election_management.json
  frontend/src/i18n/locales/nl/investigations.json
  frontend/src/i18n/locales/nl/resolve_errors.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fixed test
  frontend/src/features/investigations/components/InvestigationsOverviewPage.test.tsx
Due: frontend-linter

Checked all headers and footers in all models and improved them where not matching the design
  backend/templates/common/style.typ
  backend/templates/model-n-10-1.typ
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-14-2-bijlage1.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-1-inlegvel.typ
  backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-2-bijlage1.typ
  backend/templates/model-na-31-2-bijlage2.typ
  backend/templates/model-na-31-2-inlegvel.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-2a.typ
Due: none

Added refetch statuses to investigation overview
  frontend/src/features/investigations/components/InvestigationCard.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.tsx
Due: frontend-linter

Updated some logging actions copy
  frontend/src/i18n/locales/nl/log.json
Due: none

Fixed bug that polling station with a deleted data entry gave an error on deletion
  backend/openapi.json
  backend/src/error.rs
  backend/src/polling_station/mod.rs
  frontend/src/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Updated tests
  backend/tests/polling_station_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Checked all headers and footers in all models and improved them where not matching the design (#2308)
  backend/templates/common/style.typ
  backend/templates/model-n-10-1.typ
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-14-2-bijlage1.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-1-inlegvel.typ
  backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-2-bijlage1.typ
  backend/templates/model-na-31-2-bijlage2.typ
  backend/templates/model-na-31-2-inlegvel.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-2a.typ
Due: none

Return CONFLICT both for investigation with no corrected result and for no investigation at all
  backend/src/data_entry/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Bind sessions to user agent and client IP (#2271)
  backend/.sqlx/query-05fed12157fb32bf04107833141cd39c8d9c01b5ea61ea4a06efbf1cdc024630.json
  backend/.sqlx/query-4a3ece5360e9a1e4abd9016fdfd9845bb4d30d377a8ff377fb54166671797edd.json
  backend/.sqlx/query-56f4bb28efd30c56bf8a1c4baf6b8256d5b77f4972dbf9e63f79635b6f8e698d.json
  backend/.sqlx/query-a0bfa52e7ccc015213721e9fc4b0e0db078a19f85fd2b5e5a5f15f5ba978bba5.json
  backend/.sqlx/query-d28c89a762715596b82a5760afbf45072fe36dc4c00f21edb94dcb0897944d86.json
  backend/.sqlx/query-d2c843edc8670b303cdb1c94f8dee60e99859dd5b9264adff9fe293ae5a1f20e.json
  backend/.sqlx/query-faefec7fa75a628fdb1944c02ed7385e9ce65ecfcb82f3516f6b0672160b462d.json
  backend/migrations/6_sessions.sql
  backend/src/audit_log/api.rs
  backend/src/audit_log/service.rs
  backend/src/authentication/api.rs
  backend/src/authentication/middleware.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/request_data.rs
  backend/src/authentication/session.rs
  frontend/playwright.config.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Do not generate EML and results for next sessions with no corrections
  backend/src/report/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Better airgap instruction, 30s check intrerval
  backend/src/airgap/detect.rs
  frontend/src/i18n/format.tsx
  frontend/src/i18n/locales/nl/error.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Added refetch statuses to investigation overview (#2309)
  frontend/src/features/investigations/components/InvestigationCard.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.tsx
Due: frontend-linter

Better airgap instruction, 30s check interval (#2320)
  backend/src/airgap/detect.rs
  frontend/src/i18n/format.tsx
  frontend/src/i18n/locales/nl/error.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Updated tests for F401
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix data entry state error handling and use messages hook (#2281)
  backend/src/data_entry/api.rs
  frontend/src/components/layout/ElectionLayout.tsx
  frontend/src/features/data_entry/components/DataEntryNavigation.tsx
  frontend/src/features/data_entry/components/DataEntryPage.tsx
  frontend/src/features/data_entry/components/DataEntryProgress.test.tsx
  frontend/src/features/data_entry/components/DataEntryProvider.test.tsx
  frontend/src/features/data_entry/components/DataEntryProvider.tsx
  frontend/src/features/data_entry/components/DataEntrySection.test.tsx
  frontend/src/features/data_entry/components/cache.test.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
  frontend/src/features/data_entry/components/differences/DifferenceForm.test.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/src/features/data_entry/utils/errors.ts
  frontend/src/features/data_entry_home/components/DataEntryHomePage.test.tsx
  frontend/src/features/data_entry_home/components/DataEntryHomePage.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

remove domain id from election homepage heading (#2283)
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
Due: frontend-linter

Added "Invoer hervat" action
  backend/openapi.json
  backend/src/audit_log/audit_event.rs
  backend/src/data_entry/api.rs
  frontend/src/i18n/locales/nl/log.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Changed "Gebruikersaccount bijgewerkt" to "Eigen account bijgewerkt" and changed "Gebruiker" to "Gebruikersaccount" in other actions
  frontend/src/i18n/locales/nl/log.json
Due: none

Separate session results complete check, CTE direct deserialization, tests
  backend/.sqlx/query-02e1769cfb68d7c2934a253a69b95f423cd1a0c69e5aea9d378839800875f8a5.json
  backend/.sqlx/query-4d7f7b4b6878b6047ea0cafa838d3fdb4e331e652e29ed036e1f137d22733eb3.json
  backend/.sqlx/query-88a862ec7c81ead7e677f5a0c32efa582c8b0a082b235788d087ba4951de021e.json
  backend/.sqlx/query-9ba6d70591842f84decac09353545b44118c51556a63dcef8d38522dab7facdb.json
  backend/.sqlx/query-f3aa173937411557424cde53e3e3585bdb467c6f67e24f5780c94c118bbd0033.json
  backend/src/committee_session/repository.rs
  backend/src/committee_session/status.rs
  backend/src/data_entry/repository.rs
  backend/src/report/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Small fixes and added backend test
  backend/fixtures/election_9_four_sessions_without_corrections.sql
  backend/src/report/api.rs
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/i18n/locales/nl/election_management.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

uitslag -> uitkomst
  documentatie/functionaliteit/versie-1.0-gr.md
Due: none

Remove leftover println statements
  backend/src/report/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Consistent fullname and username order in forms and text changes
  frontend/e2e-tests/page-objects/authentication/CreateFirstAdminPgObj.ts
  frontend/src/features/account/components/AccountSetupForm.tsx
  frontend/src/features/account/components/CreateFirstAdminForm.test.tsx
  frontend/src/features/account/components/CreateFirstAdminForm.tsx
  frontend/src/features/account/components/InitialiseApplicationPage.test.tsx
  frontend/src/features/users/components/create/UserCreateDetailsForm.tsx
  frontend/src/features/users/components/update/UserUpdateForm.tsx
  frontend/src/i18n/locales/nl/account.json
  frontend/src/i18n/locales/nl/initialise.json
  frontend/src/i18n/locales/nl/users.json
Due: frontend-linter

Undo implementation of option 1
  backend/openapi.json
  backend/src/error.rs
  backend/src/polling_station/mod.rs
  frontend/src/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Also added tests for getting, updating and deleting a polling station of a previous session
  backend/tests/polling_station_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Implemented option 2
  backend/.sqlx/query-69cddf1e4ddcf50c954043e14734c8689a5b6a016fce8e3dfd1e736d5b4db2e2.json
  backend/src/data_entry/api.rs
  backend/src/data_entry/structs.rs
  backend/src/investigation/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added tweo frontend tests
  frontend/src/features/election_management/components/report/ElectionReportPage.test.tsx
Due: frontend-linter

Seperate frontend/backend release build, enable airgap detection
  .github/workflows/release.yml
  frontend/package.json
  frontend/playwright.config.ts
  frontend/vite-prod.config.ts
Due: frontend-linter
