Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi && 
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add lib/api/gen/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

remove only
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
Due: frontend-linter

Potential fix for code scanning alert no. 27: Identical operands
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
Due: frontend-linter

Created SECURITY.md (#1580)
  CONTRIBUTING.md
  README.md
  SECURITY.md
Due: none

Additional air-gap checks (#1578)
  backend/src/airgap/detect.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

We don't (yet) support IPv3
  backend/src/airgap/detect.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Comment typo (#1587)
  backend/src/airgap/detect.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Airgap error dialog (#1581)
  frontend/src/api/ApiClient.ts
  frontend/src/api/ApiEvents.ts
  frontend/src/api/ApiProvider.tsx
  frontend/src/api/ApiProviderContext.tsx
  frontend/src/api/useSessionState.ts
  frontend/src/app/RootLayout.tsx
  frontend/src/components/error/AirGapViolationDialog.test.tsx
  frontend/src/components/error/AirGapviolationDialog.tsx
  frontend/src/i18n/locales/nl/error.json
  frontend/src/testing/TestUserProvider.tsx
Due: frontend-linter

Refactored code
  frontend/src/components/ui/Feedback/Feedback.stories.tsx
  frontend/src/components/ui/Feedback/Feedback.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.tsx
  frontend/src/features/data_entry/components/differences/DifferenceForm.test.tsx
  frontend/src/features/data_entry/components/differences/DifferencesForm.tsx
  frontend/src/features/data_entry/components/recounted/RecountedForm.test.tsx
  frontend/src/features/data_entry/components/recounted/RecountedForm.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.tsx
Due: frontend-linter

Handle empty recounted answer as undefined
  frontend/src/features/data_entry/utils/mapping.test.ts
  frontend/src/features/data_entry/utils/mapping.ts
Due: frontend-linter

Ensure `currentValues` update on section change
  frontend/src/features/data_entry/hooks/useDataEntryFormSection.ts
Due: frontend-linter

Basic upload and process candidates list
  backend/openapi.json
  backend/src/election/api.rs
  backend/src/election/mod.rs
  backend/src/election/structs.rs
  backend/src/eml/common.rs
  backend/src/eml/eml_230.rs
  backend/src/eml/mod.rs
  frontend/src/features/election_create/components/CheckAndSave.tsx
  frontend/src/features/election_create/components/CheckHash.tsx
  frontend/src/features/election_create/components/ElectionCreateContextProvider.tsx
  frontend/src/features/election_create/components/UploadCandidatesDefinition.tsx
  frontend/src/features/election_create/routes.tsx
  frontend/src/i18n/locales/nl/election.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fix linter issues
  backend/openapi.json
  backend/src/election/api.rs
  frontend/src/features/election_create/components/CheckAndSave.tsx
  frontend/src/features/election_create/components/CheckHash.tsx
  frontend/src/features/election_create/components/ElectionCreateContextProvider.tsx
  frontend/src/features/election_create/components/UploadCandidatesDefinition.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Add build provenance attestation to release workflow
  .github/workflows/release.yml
Due: none

Remove section title header from InputGrid component
  frontend/src/components/ui/InputGrid/InputGrid.module.css
  frontend/src/components/ui/InputGrid/InputGrid.tsx
Due: frontend-linter

WIP airgap error page design
  frontend/src/app/RootLayout.tsx
  frontend/src/components/error/AirGapViolationPage.test.tsx
  frontend/src/components/error/AirGapViolationPage.tsx
  frontend/src/components/error/AirGapviolationDialog.tsx
  frontend/src/components/error/airgap-error.png
  frontend/src/i18n/format.tsx
  frontend/src/i18n/locales/nl/error.json
Due: frontend-linter

Updated backend integration tests
  backend/openapi.json
  backend/src/election/api.rs
  backend/src/eml/common.rs
  backend/src/eml/eml_230.rs
  backend/tests/election_admin_integration_tests.rs
  frontend/src/features/election_create/components/CheckAndSave.tsx
  frontend/src/features/election_create/components/UploadCandidatesDefinition.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Add vim swap files to gitignore
  .gitignore
Due: none

Update frontend e2e tests
  backend/src/election/api.rs
  frontend/e2e-tests/page-objects/election/create/CheckCandidateDefinitionPgObj.ts
  frontend/e2e-tests/page-objects/election/create/UploadCandidateDefinitionPgObj.ts
  frontend/e2e-tests/tests/election-create.e2e.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fix election create test
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
Due: frontend-linter

Tweak error page colors + dev page error handling
  frontend/src/components/error/Error.module.css
  frontend/src/features/dev/components/DevHomePage.tsx
  frontend/src/i18n/format.tsx
Due: frontend-linter

Adjusted errors and warnings to have a version for typist and one for coordinator (#1583)
  frontend/src/components/ui/Feedback/Feedback.stories.tsx
  frontend/src/components/ui/Feedback/Feedback.tsx
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/components/cache.test.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesPage.test.tsx
  frontend/src/features/data_entry/components/differences/DifferenceForm.test.tsx
  frontend/src/features/data_entry/components/recounted/RecountedForm.test.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/src/i18n/locales/nl/feedback.json
Due: frontend-linter

Update contributors.yml
  contributors.yml
Due: none

Add build provenance attestation to release workflow (#1590)
  .github/workflows/release.yml
Due: none

Bram toevoegen aan contributors (#1597)
  contributors.yml
Due: none

Add instructions for air gap detection in readme
  backend/README.md
Due: none

Add instructions for air gap detection in README.md (#1598)
  backend/README.md
Due: none

Airgap error page design (#1592)
  frontend/src/app/RootLayout.tsx
  frontend/src/components/error/AirGapViolationPage.test.tsx
  frontend/src/components/error/AirGapViolationPage.tsx
  frontend/src/components/error/AirGapviolationDialog.tsx
  frontend/src/components/error/Error.module.css
  frontend/src/components/error/airgap-error.png
  frontend/src/features/dev/components/DevHomePage.tsx
  frontend/src/i18n/format.tsx
  frontend/src/i18n/locales/nl/error.json
Due: frontend-linter

Remove section title header from InputGrid component (#1591)
  frontend/src/components/ui/InputGrid/InputGrid.module.css
  frontend/src/components/ui/InputGrid/InputGrid.tsx
Due: frontend-linter

Update validation result mapping
  frontend/src/features/data_entry/testing/mock-data.ts
  frontend/src/features/data_entry/utils/ValidationResults.test.ts
  frontend/src/features/data_entry/utils/ValidationResults.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.ts
  frontend/src/features/data_entry/utils/reducer.ts
Due: frontend-linter

Ran npm update
  frontend/package-lock.json
Due: none

Ran cargo update
  backend/Cargo.lock
Due: none

Ran npm and cargo update (#1606)
  backend/Cargo.lock
  frontend/package-lock.json
Due: none

expand tests
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
Due: frontend-linter

fix test
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
Due: frontend-linter

Refactor backend endpoints
  backend/openapi.json
  backend/src/election/api.rs
  backend/src/election/structs.rs
  backend/src/eml/eml_230.rs
  backend/tests/election_admin_integration_tests.rs
  frontend/src/features/election_create/components/CheckAndSave.tsx
  frontend/src/features/election_create/components/ElectionCreateContextProvider.tsx
  frontend/src/features/election_create/components/ElectionCreateLayout.tsx
  frontend/src/features/election_create/components/ElectionHeader.tsx
  frontend/src/features/election_create/components/UploadCandidatesDefinition.tsx
  frontend/src/features/election_create/components/UploadElectionDefinition.tsx
  frontend/src/i18n/locales/nl/election.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Small but important fix
  backend/src/election/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Changed alerts to match the created design
  frontend/e2e-tests/page-objects/election/ElectionStatusPgObj.ts
  frontend/e2e-tests/tests/data-entry/resolve-differences.e2e.ts
  frontend/src/features/election_status/components/ElectionStatusPage.test.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
  frontend/src/i18n/locales/nl/election_status.json
Due: frontend-linter
