Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: cargo run --package backend --bin gen-openapi
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Use `cross-env` for Windows compatibility
  frontend/package-lock.json
  frontend/package.json
Due: none

Update `README.md` for frontend
  frontend/README.md
Due: none

Add files via upload
  documentatie/img/abacus.svg
Due: none

Improved imports
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/index.ts
  frontend/lib/api/form/pollingstation/useDifferences.ts
  frontend/lib/api/form/pollingstation/usePoliticalGroups.ts
  frontend/lib/api/form/pollingstation/useVotersAndVotes.ts
Due: frontend-linter

Update abacus.svg
  documentatie/img/abacus.svg
Due: none

fix mock validation result strings
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/usePoliticalGroups.ts
  frontend/lib/api/form/pollingstation/useVotersAndVotes.ts
  frontend/lib/util/fields.test.ts
  frontend/lib/util/fields.ts
Due: frontend-linter

add svg
  README.md
Due: none

remove log statements
  frontend/lib/api/election/ElectionProvider.tsx
Due: frontend-linter

fix spelling
  frontend/lib/api-mocks/index.ts
Due: frontend-linter

Fixed pollingStationId showing properly in PollingStationLayout
  frontend/app/module/input/PollingStation/PollingStationLayout.tsx
Due: frontend-linter

Add link to public Figma to readme
  README.md
Due: none

change to override
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
Due: frontend-linter

Fixed political group list total not being remembered
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/lib/api/form/pollingstation/usePoliticalGroups.ts
Due: frontend-linter

remove success feedback add navigation on success
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
Due: frontend-linter

Fixed political group list total being null on currently saved list
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
Due: frontend-linter

Cleaned up some imports and useDifferences code
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/lib/api/form/pollingstation/index.ts
  frontend/lib/api/form/pollingstation/useDifferences.ts
  frontend/lib/api/form/pollingstation/usePoliticalGroups.ts
  frontend/lib/api/form/pollingstation/useVotersAndVotes.ts
Due: frontend-linter

Process review feedback (#144)
  backend/Cargo.toml
  backend/README.md
  backend/migrations/0_hello_world.sql
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
Due: none

Update README.md
  README.md
Due: none

Update Functionaliteit eisen en wensen.md
  documentatie/Functionaliteit eisen en wensen.md
Due: none

fix tests to feedback content
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
Due: frontend-linter

fix mismatch
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
Due: frontend-linter

Update Proces voor ontwikkeling en releases.md
  documentatie/Proces voor ontwikkeling en releases.md
Due: none

Add link to public Figma to readme (#145)
  README.md
Due: none

Update documentatie/Functionaliteit eisen en wensen.md
  documentatie/Functionaliteit eisen en wensen.md
Due: none

DifferencesForm is now using useDifferences, nb: no validation implemented yet
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/differences/DifferencesForm.tsx
  frontend/lib/api/form/pollingstation/useDifferences.ts
Due: frontend-linter

Create github werkwijze.md
  documentatie/github werkwijze.md
Due: none

Added some tests, 2 fail due to re-ordering of voters_count and votes_count it seems...
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/differences/DifferencesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/lib/api/form/pollingstation/useDifferences.ts
Due: frontend-linter

Added some more sensible test data
  frontend/app/module/overview/page/OverviewPage.tsx
  frontend/lib/api-mocks/ElectionMockData.ts
Due: frontend-linter

Update documentatie/github werkwijze.md
  documentatie/github werkwijze.md
Due: none

Delete documentatie/img/abacus.png
  documentatie/img/abacus.png
Due: none

fix errors for political groups change tests obj compare
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/test/unit/test-utils.ts
  frontend/lib/api/form/pollingstation/usePoliticalGroups.ts
  frontend/lib/util/fields.test.ts
Due: frontend-linter

Remove request body from finalise endpoint
  backend/openapi.json
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
  backend/tests/polling_station_integration_test.rs
Due: backend-formatter, backend-linter, backend-openapi

adds documenation about testing and quality
  documentatie/Testen en kwaliteit.md
Due: none

makes capitilization of filenames in documentation folder consistent
  documentatie/Github werkwijze.md
  documentatie/softwarearchitectuur/Overwegingen talen en frameworks.md
  documentatie/softwarearchitectuur/Overzicht.md
Due: none

replaces getBodyObject with getUrlMethodAndBody
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/test/unit/test-utils.ts
Due: frontend-linter
