Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-formatter, backend-linter, backend-openapi, frontend-linter

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy

backend-openapi:
  run: cargo run --package backend --bin gen-openapi

frontend-linter:
  run: npm run lint {staged_files}

broken commit
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/app/module/input/PollingStation/PollingStationLayout.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/usePoliticalGroups.ts
  frontend/lib/api/form/pollingstation/useVotersAndVotes.ts
  frontend/lib/api/form/useErrorsAndWarnings.ts
  frontend/lib/ui/Tooltip/Tooltip.tsx
  frontend/lib/util/fields.test.ts
  frontend/lib/util/fields.ts
  frontend/lib/util/hook/usePositiveNumberInputMask.ts
Due: frontend-linter

add test util add one usage
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/test/unit/test-utils.ts
Due: frontend-linter

Improved candidateNumberFromElement with a regex
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
Due: frontend-linter

add test util (#187)
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/test/unit/test-utils.ts
Due: frontend-linter

Update frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
Due: frontend-linter

Added tests for candidateNumberFromId and fixed bug for double digit numbers
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/lib/util/fields.test.ts
  frontend/lib/util/fields.ts
Due: frontend-linter

Use polling station id instead of number (#183)
  backend/README.md
  backend/openapi.json
  backend/src/election/mod.rs
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/structs.rs
  backend/tests/polling_station_integration_test.rs
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/differences/DifferencesForm.test.tsx
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/polling_station_choice/PollingStationsList.tsx
  frontend/app/component/form/recounted/RecountedForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/lib/api-mocks/PollingStationMockData.ts
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/api/usePollingStation.ts
  frontend/lib/api/usePollingStationDataEntry.test.ts
  frontend/lib/util/fields.test.ts
  frontend/lib/util/fields.ts
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

Always use `--locked` flag for Cargo
  .github/workflows/build-lint-test.yml
Due: none

Added all possible validation errors to frontend api mock and added tests for validation of DifferencesForm
  frontend/app/component/form/differences/DifferencesForm.test.tsx
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/form/pollingstation/useDifferences.ts
Due: frontend-linter

Always use `--locked` flag for Cargo (#190)
  .github/workflows/build-lint-test.yml
Due: none

Removed redundant and incorrectly handled validation
  frontend/app/component/form/polling_station_choice/PollingStationSelector.tsx
Due: frontend-linter

Remove redundant and incorrectly handled validation (#192)
  frontend/app/component/form/polling_station_choice/PollingStationSelector.tsx
Due: frontend-linter

Now using overrideOnce instead of a custom context provider
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/lib/api-mocks/index.ts
Due: frontend-linter

Fixed override URL
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.test.tsx
Due: frontend-linter

Fixed overrideOnce URL's
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.test.tsx
Due: frontend-linter

Election name
  frontend/app/module/input/page/InputHomePage.tsx
Due: frontend-linter

Added test to check for election name
  frontend/app/module/input/page/InputHomePage.test.tsx
Due: frontend-linter

adds PollingStationForm test for 404 response on /pollings_stations
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.test.tsx
Due: frontend-linter

Renamed election mock objects
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/differences/DifferencesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/module/input/page/InputHomePage.test.tsx
  frontend/lib/api-mocks/ElectionMockData.ts
  frontend/lib/api-mocks/index.ts
Due: frontend-linter

Improve polling station form tests (#182)
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/lib/api-mocks/index.ts
Due: frontend-linter

Debounce now 500ms
  frontend/app/component/form/polling_station_choice/PollingStationSelector.tsx
Due: frontend-linter

Debounce now 500ms (#196)
  frontend/app/component/form/polling_station_choice/PollingStationSelector.tsx
Due: frontend-linter

Added polling station details endpoint, refactored pollingStationProviders and related code and added tests
  backend/openapi.json
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/polling_station_choice/PollingStationSelector.tsx
  frontend/app/main.tsx
  frontend/app/module/input/InputLayout.tsx
  frontend/app/module/input/PollingStation/DataEntryIndexPage.tsx
  frontend/app/module/input/PollingStation/DataEntryLayout.test.tsx
  frontend/app/module/input/PollingStation/DataEntryLayout.tsx
  frontend/app/module/input/PollingStation/PollingStationLayout.test.tsx
  frontend/app/module/input/PollingStation/PollingStationLayout.tsx
  frontend/app/module/input/PollingStation/index.ts
  frontend/app/module/input/page/InputHomePage.test.tsx
  frontend/app/module/input/page/InputHomePage.tsx
  frontend/app/module/overview/page/index.ts
  frontend/app/module/user/page/index.ts
  frontend/app/routes.tsx
  frontend/lib/api-mocks/ElectionMockData.ts
  frontend/lib/api-mocks/PollingStationMockData.ts
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/PollingStationProvider.tsx
  frontend/lib/api/election/ElectionListProvider.tsx
  frontend/lib/api/election/ElectionProvider.tsx
  frontend/lib/api/form/useErrorsAndWarnings.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/api/index.ts
  frontend/lib/api/polling_station/PollingStationListProvider.tsx
  frontend/lib/api/polling_station/PollingStationProvider.tsx
  frontend/lib/api/polling_station/index.ts
  frontend/lib/api/polling_station/usePollingStation.ts
  frontend/lib/api/polling_station/usePollingStationList.ts
  frontend/lib/api/usePollingStationDataRequest.test.ts
  frontend/lib/api/usePollingStationDataRequest.ts
  frontend/lib/api/usePollingStationListRequest.test.ts
  frontend/lib/api/usePollingStationListRequest.ts
  frontend/lib/ui/Badge/Badge.test.tsx
  frontend/lib/ui/BottomBar/BottomBar.test.tsx
  frontend/lib/ui/InputField/InputField.test.tsx
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

Update frontend/lib/api-mocks/ElectionMockData.ts
  frontend/lib/api-mocks/ElectionMockData.ts
Due: frontend-linter

Update frontend/app/module/input/page/InputHomePage.test.tsx
  frontend/app/module/input/page/InputHomePage.test.tsx
Due: frontend-linter

Improved mockData based on Mark's suggestion on different PR
  frontend/lib/api-mocks/ElectionMockData.ts
Due: frontend-linter

Election name (#194)
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/differences/DifferencesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/module/input/page/InputHomePage.test.tsx
  frontend/app/module/input/page/InputHomePage.tsx
  frontend/lib/api-mocks/ElectionMockData.ts
  frontend/lib/api-mocks/index.ts
Due: frontend-linter

Update Cloudflare Pages Preview workflow
  .github/workflows/preview.yml
Due: none

Removed polling station detail endpoint, refactored code, however one test fails, plz help
  backend/openapi.json
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  frontend/app/module/input/PollingStation/DataEntryLayout.test.tsx
  frontend/app/module/input/PollingStation/DataEntryLayout.tsx
  frontend/app/module/input/PollingStation/PollingStationHomePage.tsx
  frontend/app/module/input/PollingStation/PollingStationLayout.test.tsx
  frontend/app/module/input/PollingStation/PollingStationLayout.tsx
  frontend/app/module/input/PollingStation/index.ts
  frontend/app/module/input/page/InputHomePage.test.tsx
  frontend/app/routes.tsx
  frontend/lib/api-mocks/PollingStationMockData.ts
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/api/index.ts
  frontend/lib/api/polling_station/PollingStationProvider.tsx
  frontend/lib/api/polling_station/index.ts
  frontend/lib/api/polling_station/usePollingStation.ts
  frontend/lib/api/usePollingStationDataRequest.test.ts
  frontend/lib/api/usePollingStationDataRequest.ts
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

Using mocks in more tests
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/useElectionDataRequest.test.ts
  frontend/lib/api/useElectionListRequest.test.ts
  frontend/lib/api/usePollingStationListRequest.test.ts
Due: frontend-linter

Updated page based on Joris' design changes
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/lib/ui/style/typography.css
Due: frontend-linter

Fixed wrong error and warning field paths
  backend/src/polling_station/structs.rs
Due: backend-formatter, backend-linter, backend-openapi

Fixed recounted title text
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
Due: frontend-linter

Update Cloudflare Pages Preview workflow (#200)
  .github/workflows/preview.yml
Due: none

Fixed failing test by mocking useParams
  frontend/app/module/input/PollingStation/PollingStationLayout.test.tsx
Due: frontend-linter

Restored location of app-layout and footer
  frontend/app/module/input/InputLayout.tsx
  frontend/app/module/input/PollingStation/PollingStationLayout.tsx
  frontend/app/module/input/page/InputHomePage.test.tsx
  frontend/app/module/input/page/InputHomePage.tsx
Due: frontend-linter

Improved rendering by waiting for pollingStation to exist
  frontend/app/module/input/PollingStation/PollingStationLayout.tsx
Due: frontend-linter

Improved imports
  frontend/app/module/input/InputLayout.tsx
  frontend/app/module/input/PollingStation/PollingStationLayout.tsx
  frontend/app/module/input/PollingStation/index.ts
Due: frontend-linter

Simplified PollingStationMockData
  frontend/lib/api-mocks/PollingStationMockData.ts
Due: frontend-linter

Fixed smoketests
  frontend/app/test/e2e/smoketest.e2e.ts
Due: frontend-linter

Path conditions:
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
