Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

backend-sqlx-prepare:
  run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --all-features -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi &&  git add openapi.json && cd ../frontend && npm run gen:openapi && git add lib/api/gen/openapi.ts
  
    '

frontend-linter:
  run: npm run lint {staged_files}

Update polling station API for coordinator file import
  backend/openapi.json
  backend/src/polling_station/mod.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Inline css vars --font-size-lg and --font-size-xl
  frontend/index.html
  frontend/src/components/error/Error.module.css
  frontend/src/styles/variables.css
Due: none

Rename --font-size-body to --font-size-lg to match design
  frontend/src/components/error/Error.module.css
  frontend/src/components/ui/Button/Button.module.css
  frontend/src/components/ui/InputGrid/InputGrid.module.css
  frontend/src/components/ui/Loader/Loader.module.css
  frontend/src/components/ui/Table/Table.module.css
  frontend/src/features/data_entry_home/components/PollingStationChoice.module.css
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/styles/typography.css
  frontend/src/styles/variables.css
Due: frontend-linter

Change default paragraph font size to --font-size-md and add --font-size-lg where it should be large
  frontend/src/components/error/ErrorModal.module.css
  frontend/src/components/ui/Alert/Alert.module.css
  frontend/src/components/ui/Modal/Modal.module.css
  frontend/src/features/election_management/components/CommitteeSessionCard.module.css
  frontend/src/features/resolve_differences/components/ResolveDifferences.module.css
  frontend/src/styles/typography.css
Due: none

Add titles to checkboxes and radio subsections
  frontend/src/components/data_entry/subsections/CheckboxesRadioSubsection.module.css
  frontend/src/components/data_entry/subsections/CheckboxesSubsection.stories.tsx
  frontend/src/components/data_entry/subsections/CheckboxesSubsection.tsx
  frontend/src/components/data_entry/subsections/RadioSubsection.stories.tsx
  frontend/src/components/data_entry/subsections/RadioSubsection.tsx
Due: frontend-linter

Add styling to messages subsection component
  frontend/src/components/data_entry/subsections/MessageSubsection.module.css
  frontend/src/components/data_entry/subsections/MessageSubsection.tsx
Due: frontend-linter

Add extra investigation data entry section
  backend/openapi.json
  backend/src/bin/gen-test-election.rs
  backend/src/data_entry/api.rs
  backend/src/data_entry/comparison.rs
  backend/src/data_entry/status.rs
  backend/src/data_entry/structs.rs
  backend/src/data_entry/validation.rs
  backend/src/summary/mod.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/shared/mod.rs
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/page-objects/data_entry/ExtraInvestigationPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/ProgressListPgObj.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/data-entry/data-entry.api-errors.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.error.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.valid.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.warning.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
  frontend/src/components/data_entry/subsections/CheckboxesSubsection.tsx
  frontend/src/components/data_entry/subsections/RadioSubsection.tsx
  frontend/src/features/data_entry/testing/mock-data.ts
  frontend/src/features/data_entry/utils/reducer.test.ts
  frontend/src/features/data_entry/utils/reducer.ts
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/features/resolve_differences/testing/polling-station-results.ts
  frontend/src/features/resolve_errors/components/ReadOnlyDataEntrySection.stories.tsx
  frontend/src/i18n/locales/nl/extra_investigation.json
  frontend/src/i18n/locales/nl/generic.json
  frontend/src/i18n/locales/nl/nl.ts
  frontend/src/testing/api-mocks/DataEntryMockData.ts
  frontend/src/types/generated/openapi.ts
  frontend/src/types/types.ts
  frontend/src/utils/dataEntryMapping.test.ts
  frontend/src/utils/dataEntryStructure.test.ts
  frontend/src/utils/dataEntryStructure.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Add number of voters and counting method to backend for EML import
  backend/openapi.json
  backend/src/election/api.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Counting method and number of voters are not used yet, made them optional for the import
  backend/openapi.json
  backend/src/election/api.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Adjust gray colors according to design (#1873)
  frontend/src/components/ui/CheckboxAndRadio/CheckboxAndRadio.module.css
  frontend/src/components/ui/InputGrid/InputGrid.module.css
Due: none

Add `deny_unknown_fields` to struct `ModelNa31_2Bijlage1Input`
  backend/src/pdf_gen/models/model_na_31_2.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

If the initial value is zero, show an empty input instead
  frontend/src/components/election/NumberOfVotersForm.stories.tsx
  frontend/src/components/election/NumberOfVotersForm.tsx
Due: frontend-linter

More `deny_unknown_fields`
  backend/src/data_entry/api.rs
  backend/src/error.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix airgap detection, run checks concurrentlty
  backend/src/airgap/detect.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add `deny_unknown_fields` to structs (#1866)
  backend/openapi.json
  backend/src/apportionment/api.rs
  backend/src/apportionment/candidate_nomination.rs
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/seat_assignment.rs
  backend/src/audit_log/api.rs
  backend/src/audit_log/audit_event.rs
  backend/src/audit_log/audit_log_events.rs
  backend/src/authentication/api.rs
  backend/src/authentication/password.rs
  backend/src/authentication/session.rs
  backend/src/authentication/user.rs
  backend/src/committee_session/api.rs
  backend/src/committee_session/structs.rs
  backend/src/data_entry/api.rs
  backend/src/data_entry/status.rs
  backend/src/data_entry/structs.rs
  backend/src/data_entry/validation.rs
  backend/src/election/api.rs
  backend/src/election/structs.rs
  backend/src/error.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/structs.rs
  backend/src/summary/mod.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/election_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed empty fields in details page
  frontend/src/features/election_management/components/CommitteeSessionDetailsPage.tsx
  frontend/src/i18n/locales/nl/election_management.json
Due: frontend-linter

Remove clickNext method from `ExtraInvestigationPage`
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/page-objects/data_entry/ExtraInvestigationPgObj.ts
  frontend/e2e-tests/tests/data-entry/data-entry.api-errors.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.error.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.valid.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.warning.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
Due: frontend-linter

Remove unused selectPollingStationForDataEntry helper
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
Due: frontend-linter

Fix bottom margin for checkbox title
  frontend/src/components/data_entry/subsections/CheckboxesRadioSubsection.module.css
  frontend/src/components/data_entry/subsections/CheckboxesSubsection.tsx
  frontend/src/components/data_entry/subsections/RadioSubsection.tsx
  frontend/src/styles/core.css
Due: frontend-linter

Hide dev login links when MSW is enabled
  frontend/src/features/dev/components/DevHomePage.tsx
Due: frontend-linter

Show empty input for zero on NumberOfVotersForm (#1879)
  frontend/src/components/election/NumberOfVotersForm.stories.tsx
  frontend/src/components/election/NumberOfVotersForm.tsx
Due: frontend-linter

Perform air gap detection using async (tokio) primitives (#1859)
  backend/src/airgap/detect.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added tests for 409 errors
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/FinishDataEntryPage.test.tsx
Due: frontend-linter

Modals and alerts should have font size medium
  frontend/src/components/error/ErrorModal.module.css
  frontend/src/components/ui/Alert/Alert.module.css
  frontend/src/components/ui/Modal/Modal.module.css
Due: none

Hide dev login links when MSW is enabled (#1881)
  frontend/src/features/dev/components/DevHomePage.tsx
Due: frontend-linter

Added a test for the 403 error
  frontend/src/features/election_status/components/ElectionStatusPage.test.tsx
  frontend/src/testing/test-utils.ts
Due: frontend-linter

Move error images to assets directory and convert to WebP
  frontend/src/assets/images/airgap-error.webp
  frontend/src/assets/images/error.webp
  frontend/src/components/error/AirGapViolationPage.tsx
  frontend/src/components/error/Error.tsx
  frontend/src/components/error/airgap-error.png
  frontend/src/components/error/error.png
Due: frontend-linter

Update validatieregels-plausibiliteitschecks-tellingen.md
  documentatie/use-cases/validatieregels-plausibiliteitschecks-tellingen.md
Due: none

Moved datetime related utils into separate file and added validation as well
  frontend/src/app/AuthorizationDialog.tsx
  frontend/src/components/election/NumberOfVotersForm.tsx
  frontend/src/components/ui/NumberInput/NumberInput.tsx
  frontend/src/features/apportionment/components/ElectionSummaryTable.tsx
  frontend/src/features/election_create/components/CheckHash.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/features/election_management/components/report/FinishDataEntryPage.test.tsx
  frontend/src/features/election_management/components/report/FinishDataEntryPage.tsx
  frontend/src/features/election_management/components/update/CommitteeSessionDetailsPage.tsx
  frontend/src/features/election_management/components/update/NumberOfVotersPage.test.tsx
  frontend/src/features/election_management/components/update/NumberOfVotersPage.tsx
  frontend/src/features/election_management/routes.tsx
  frontend/src/features/election_status/components/CategoryRow.tsx
  frontend/src/features/logs/components/LogDetailsModal.tsx
  frontend/src/features/logs/components/LogsHomePage.test.tsx
  frontend/src/features/logs/components/LogsTable.tsx
  frontend/src/features/resolve_differences/components/DifferencesTable.tsx
  frontend/src/features/users/components/UserListPage.tsx
  frontend/src/i18n/locales/nl/committee_session_status.json
  frontend/src/i18n/locales/nl/election_management.json
  frontend/src/i18n/locales/nl/generic.json
  frontend/src/utils/committeeSession.ts
  frontend/src/utils/dateTime.test.ts
  frontend/src/utils/dateTime.ts
  frontend/src/utils/fraction.ts
  frontend/src/utils/number.test.ts
  frontend/src/utils/number.ts
Due: frontend-linter

Added tests
  frontend/src/features/election_management/components/report/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/report/FinishDataEntryPage.test.tsx
  frontend/src/features/election_management/components/update/CommitteeSessionDetailsPage.test.tsx
  frontend/src/features/election_management/components/update/NumberOfVotersPage.test.tsx
  frontend/src/testing/api-mocks/RequestHandlers.ts
  frontend/src/utils/dateTime.test.ts
Due: frontend-linter

Processed review comments
  backend/src/committee_session/api.rs
  backend/src/data_entry/api.rs
  backend/src/error.rs
  backend/src/report/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix warnings for checkbox subsections
  frontend/src/components/data_entry/subsections/CheckboxesSubsection.stories.tsx
  frontend/src/components/data_entry/subsections/CheckboxesSubsection.tsx
  frontend/src/utils/ValidationResults.test.ts
  frontend/src/utils/ValidationResults.ts
Due: frontend-linter

Remove `className` from message subsection
  frontend/src/components/data_entry/subsections/MessageSubsection.tsx
  frontend/src/types/types.ts
Due: frontend-linter

Simplify '4xx non-fatal response results in error shown' test
  frontend/e2e-tests/tests/data-entry/data-entry.api-errors.e2e.ts
Due: frontend-linter

Move error images to assets directory and convert to WebP (#1884)
  frontend/src/assets/images/airgap-error.webp
  frontend/src/assets/images/error.webp
  frontend/src/components/error/AirGapViolationPage.tsx
  frontend/src/components/error/Error.tsx
  frontend/src/components/error/airgap-error.png
  frontend/src/components/error/error.png
Due: frontend-linter

Renamed all error references from wrong to invalid
  backend/openapi.json
  backend/src/data_entry/api.rs
  backend/src/error.rs
  backend/tests/committee_session_integration_test.rs
  backend/tests/data_entries_resolve_integration_test.rs
  backend/tests/election_integration_test.rs
  frontend/src/components/error/ErrorBoundary.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/FinishDataEntryPage.test.tsx
  frontend/src/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Font size 1rem for normal texts (#1875)
  frontend/index.html
  frontend/src/components/error/Error.module.css
  frontend/src/components/ui/Button/Button.module.css
  frontend/src/components/ui/InputGrid/InputGrid.module.css
  frontend/src/components/ui/Loader/Loader.module.css
  frontend/src/components/ui/Table/Table.module.css
  frontend/src/features/data_entry_home/components/PollingStationChoice.module.css
  frontend/src/features/election_management/components/CommitteeSessionCard.module.css
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferences.module.css
  frontend/src/styles/typography.css
  frontend/src/styles/variables.css
Due: frontend-linter

Re-added committee session status check to report page because download buttons didn't show the error page
  frontend/src/features/election_management/components/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/ElectionReportPage.tsx
Due: frontend-linter

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
