Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-formatter, backend-linter, backend-openapi, frontend-linter

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy

backend-openapi:
  run: cargo run --package backend --bin gen-openapi

frontend-linter:
  run: npm run lint {staged_files}

Update testen-en-kwaliteit.md
  documentatie/ontwikkelproces/testen-en-kwaliteit.md
Due: none

Update documentatie/referentie/afkortingenlijst.md
  documentatie/referentie/afkortingenlijst.md
Due: none

fix reset after setting values
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
Due: frontend-linter

Sorting all errors and warnings now
  backend/src/polling_station/mod.rs
  backend/src/polling_station/structs.rs
  backend/src/validation.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
Due: backend-formatter, backend-linter, backend-openapi

Simplify mock imports in CandidatesVotesForm test
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
Due: frontend-linter

Changed eligible voters amount from 50 to 1000, improved styling of code in Feedback
  backend/fixtures/polling_stations.sql
  backend/src/polling_station/structs.rs
  frontend/lib/api-mocks/PollingStationMockData.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/ui/Feedback/Feedback.module.css
  frontend/lib/ui/Feedback/Feedback.stories.tsx
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

add test: check that targetFormSection is set correctly
  frontend/lib/api/form/pollingstation/PollingStationFormController.test.tsx
Due: frontend-linter

Made changes to the copy of W.205 and the field marking of W.210
  backend/src/polling_station/structs.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  frontend/lib/ui/Feedback/Feedback.types.tsx
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

Remove server error TODOs from tests
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
Due: frontend-linter

add "unsaved" state to progresslist
  frontend/app/component/pollingstation/PollingStationProgress.tsx
Due: frontend-linter

remove useErrorsAndWarnings add getErrorsAndWarnings to pollingStationUtils add tests
  frontend/lib/api/form/index.ts
  frontend/lib/api/form/pollingstation/pollingStationUtils.test.ts
  frontend/lib/api/form/pollingstation/pollingStationUtils.ts
  frontend/lib/api/form/useErrorsAndWarnings.ts
Due: frontend-linter

Fix typo
  frontend/app/component/form/differences/DifferencesForm.tsx
Due: frontend-linter

Update documentatie/ontwikkelproces/proces-ontwikkeling-en-releases.md
  documentatie/ontwikkelproces/proces-ontwikkeling-en-releases.md
Due: none

add empty state to progresslist
  frontend/app/component/pollingstation/PollingStationProgress.tsx
  frontend/lib/api/form/pollingstation/pollingStationUtils.test.ts
  frontend/lib/api/form/pollingstation/pollingStationUtils.ts
  frontend/lib/util/compare.test.ts
  frontend/lib/util/compare.ts
Due: frontend-linter

add skeleton for integration test
  frontend/app/module/input/PollingStation/PollingStation.test.tsx
  frontend/app/module/input/PollingStation/PollingStationHomePage.tsx
Due: frontend-linter

adds d2d tests for aborting input on Recounted page
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/page-objects/input/InputBasePgObj.ts
  frontend/e2e-tests/page-objects/input/RecountedPgObj.ts
Due: frontend-linter

Updated plausibility checks based on merged changes, refactored code, added frontend tests
  backend/openapi.json
  backend/src/polling_station/structs.rs
  backend/src/validation.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  frontend/app/component/form/differences/DifferencesForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/lib/api/gen/openapi.ts
  frontend/lib/ui/Feedback/Feedback.types.tsx
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

Improved Feedback component stories
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/lib/ui/Feedback/Feedback.stories.tsx
Due: frontend-linter

Updated d2d tests with checking for error and warning text content
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
Due: frontend-linter

Change accept warning checkbox label text
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/differences/DifferencesForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/e2e-tests/page-objects/input/VotersVotesPgObj.ts
  frontend/lib/ui/Checkbox/Checkbox.stories.tsx
Due: frontend-linter

Documenten toevoegd, verplaatst, bewerkt (#272)
  documentatie/Testen en kwaliteit.md
  documentatie/functionaliteit/functionaliteit-eisen-en-wensen.md
  documentatie/ontwikkelproces/GitHub-werkwijze.md
  documentatie/ontwikkelproces/proces-ontwikkeling-en-releases.md
  documentatie/ontwikkelproces/testen-en-kwaliteit.md
  documentatie/readme.md
  documentatie/referentie/afkortingenlijst.md
  documentatie/referentie/woordenlijst-EN-NL.md
  documentatie/softwarearchitectuur/overwegingen-talen-en-frameworks.md
  documentatie/verkiezingsproces/verloop-verkiezingen.md
  documentatie/verkiezingsproces/wie-doet-welke-stembureaus.md
  documentatie/verkiezingsproces/wie-mag-waarvoor-stemmen.md
  documentatie/verkiezingsproces/zetelverdeling-GR.md
Due: none

refactors d2d for readability
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/page-objects/input/CandidatesListPgObj.ts
  frontend/e2e-tests/page-objects/input/DifferencesPgObj.ts
  frontend/e2e-tests/page-objects/input/InputBasePgObj.ts
  frontend/e2e-tests/page-objects/input/RecountedPgObj.ts
  frontend/e2e-tests/page-objects/input/VotersVotesPgObj.ts
Due: frontend-linter

comments out failing expect; restores expect on modal heading
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
Due: frontend-linter

extracts save/discard modal to own class
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/page-objects/input/InputBasePgObj.ts
  frontend/e2e-tests/page-objects/input/SaveDiscardModalPgObj.ts
Due: frontend-linter

gets rid of waitForPageHeading() methods
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/page-objects/input/CandidatesListPgObj.ts
  frontend/e2e-tests/page-objects/input/DifferencesPgObj.ts
  frontend/e2e-tests/page-objects/input/RecountedPgObj.ts
  frontend/e2e-tests/page-objects/input/SaveDiscardModalPgObj.ts
  frontend/e2e-tests/page-objects/input/VotersVotesPgObj.ts
Due: frontend-linter

Simplify data entry integration tests setup
  frontend/app/module/input/PollingStation/PollingStation.test.tsx
  frontend/app/test/unit/Providers.tsx
Due: frontend-linter

Added a max-width to feedback content to make it easier to read
  frontend/lib/ui/Feedback/Feedback.module.css
  frontend/lib/ui/Feedback/Feedback.stories.tsx
  frontend/lib/ui/Feedback/Feedback.tsx
Due: frontend-linter

Fix bug showing W206/207 when they shouldn't be
  backend/src/polling_station/structs.rs
Due: backend-formatter, backend-linter, backend-openapi

Added placeholder finalise page
  frontend/app/module/input/page/FinaliseInputPage.test.tsx
  frontend/app/module/input/page/FinaliseInputPage.tsx
  frontend/app/module/input/page/InputHomePage.tsx
  frontend/app/routes.test.tsx
  frontend/app/routes.tsx
  frontend/app/test/unit/test-utils.ts
Due: frontend-linter

change current indicator to blue pencil
  frontend/app/component/pollingstation/PollingStationProgress.tsx
  frontend/lib/icon/gen.tsx
  frontend/lib/icon/svg/pencil.svg
  frontend/lib/ui/ProgressList/ProgressList.module.css
Due: frontend-linter

Fixed button text in test
  frontend/app/module/input/page/FinaliseInputPage.test.tsx
Due: frontend-linter

fixes d2d tests: classes of nav item icons
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
Due: frontend-linter

Replace `PollingStationHomePage` by redirect
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/module/input/PollingStation/PollingStation.test.tsx
  frontend/app/module/input/PollingStation/PollingStationHomePage.tsx
  frontend/app/module/input/PollingStation/index.ts
  frontend/app/routes.tsx
Due: frontend-linter

Removed copy pasta comment
  frontend/app/module/input/page/FinaliseInputPage.test.tsx
Due: frontend-linter

Fixed breadcrumb
  frontend/app/module/input/page/FinaliseInputPage.tsx
Due: frontend-linter

Changed labels
  frontend/app/module/input/page/FinaliseInputPage.test.tsx
  frontend/app/module/input/page/FinaliseInputPage.tsx
  frontend/app/module/input/page/InputHomePage.tsx
Due: frontend-linter

removed close icon button for navigation blocked modal
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/lib/ui/Modal/Modal.tsx
Due: frontend-linter

Path conditions:
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
