Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

backend-sqlx-prepare:
  run: 'cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite && cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets && git add .sqlx && rm sqlx-cache-tmp.sqlite
  
    '

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi && git add openapi.json && cd ../frontend && pnpm gen:openapi && git add src/types/generated/openapi.ts
  
    '

frontend-lint-tsc:
  run: pnpm lint:tsc

frontend-lint-eslint:
  run: pnpm lint:eslint

Update README.md
  backend/README.md
Due: none

test(wip): exact 50% votes does not trigger absolute majority reassignment
  backend/.DS_Store
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

chore: remove .DS_Store from tracking
  backend/.DS_Store
Due: none

test: proper working test
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Rename apportionment final_standing to standings
  backend/apportionment/fuzz/fuzz_targets/anonymity.rs
  backend/apportionment/fuzz/fuzz_targets/apportionment.rs
  backend/apportionment/fuzz/fuzz_targets/population_monotonicity.rs
  backend/apportionment/fuzz/src/apportionment_input.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/structs.rs
  backend/apportionment/src/test_helpers.rs
  backend/openapi.json
  backend/src/api/apportionment/mapping.rs
  backend/src/domain/apportionment.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/tests/apportionment_integration_test.rs
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/ApportionmentTable.stories.tsx
  frontend/src/features/apportionment/components/ApportionmentTable.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.tsx
  frontend/src/features/apportionment/components/full_seats/FullSeatsTable.stories.tsx
  frontend/src/features/apportionment/components/full_seats/FullSeatsTable.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Return preliminary standings in SeatAssignmentResult when drawing lots is required
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/seat_assignment/structs.rs
  backend/apportionment/src/test_helpers.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Change "remove to" into "remove from"
  backend/apportionment/src/seat_assignment/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove accidental pub
  backend/apportionment/src/seat_assignment/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix gen-test-election CLI, make custom_name an option instead of positional argument.
  backend/src/bin/gen-test-election.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

chore: rustfmt
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix bug incorrect list standings in SeatChangeStep for absolute majority reassignment (#3442)
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/seat_assignment/structs.rs
  backend/src/domain/apportionment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

format number of candidates in ElectionSummarytable (#3437)
  frontend/src/features/apportionment/components/ElectionSummaryTable.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Fix PDF diff workflow for PRs from forks
  .github/workflows/pdf-diff.yml
  .github/workflows/scripts/pdf-diff.js
Due: none

Reflect drawing lots in SeatChange (#3434)
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Resolve mutation in reassign_residual_seat_for_absolute_majority (#3447)
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Return apportionment preliminary standings when drawing lots required (#3448)
  backend/apportionment/fuzz/fuzz_targets/anonymity.rs
  backend/apportionment/fuzz/fuzz_targets/apportionment.rs
  backend/apportionment/fuzz/fuzz_targets/population_monotonicity.rs
  backend/apportionment/fuzz/src/apportionment_input.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/seat_assignment/structs.rs
  backend/apportionment/src/test_helpers.rs
  backend/openapi.json
  backend/src/api/apportionment/mapping.rs
  backend/src/domain/apportionment.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/tests/apportionment_integration_test.rs
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/ApportionmentTable.stories.tsx
  frontend/src/features/apportionment/components/ApportionmentTable.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.tsx
  frontend/src/features/apportionment/components/full_seats/FullSeatsTable.stories.tsx
  frontend/src/features/apportionment/components/full_seats/FullSeatsTable.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Write Sigrid PR feedback to job summary
  .github/workflows/sigrid-pr-feedback.yml
Due: none

Add newlines between Sigrid feedback files
  .github/workflows/sigrid-pr-feedback.yml
Due: none

Generate elections for different drawing lots scenarios (#3433)
  backend/openapi.json
  backend/src/bin/gen-test-election.rs
  backend/src/test_data_gen/api.rs
  backend/src/test_data_gen/generators.rs
  backend/src/test_data_gen/mod.rs
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Add list_averages/list_remainders to residual seat drawing lots variants
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/structs.rs
  backend/openapi.json
  backend/src/api/apportionment/structs.rs
  backend/src/domain/apportionment.rs
  backend/src/service/apportionment.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Adjust tests
  backend/apportionment/src/seat_assignment/mod.rs
  backend/src/repository/apportionment_state_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Testcases for lists_qualifying_for_highest_average
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use list_numbers
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use structs for list_averages/list_remainders in abacus domain
  backend/openapi.json
  backend/src/api/apportionment/structs.rs
  backend/src/domain/apportionment.rs
  backend/src/service/apportionment.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Removed non-existent strictPeerDeps config key
  frontend/pnpm-workspace.yaml
Due: none

Bump pnpm to 11.7.0
  frontend/package.json
Due: none

Updated to pnpm v11, used pnpm v10 to v11 migration as described on https://pnpm.io/migration
  .github/workflows/build-lint-test.yml
  .github/workflows/codecov.yml
  .github/workflows/release.yml
  .github/workflows/weekly-e2e-tests.yml
  frontend/.npmrc
  frontend/README.md
  frontend/package.json
  frontend/pnpm-workspace.yaml
Due: none

Re-added frontend/.npmrc
  frontend/.npmrc
Due: none

Get rid of version reference warning
  frontend/pnpm-workspace.yaml
Due: none

Update pnpm v11 (#3431)
  .github/workflows/build-lint-test.yml
  .github/workflows/codecov.yml
  .github/workflows/release.yml
  .github/workflows/weekly-e2e-tests.yml
  frontend/.npmrc
  frontend/README.md
  frontend/package.json
  frontend/pnpm-workspace.yaml
Due: none

Bump typst dep to 0.15
  backend/Cargo.lock
  backend/pdf_gen/impl/Cargo.toml
Due: none

Updated to use typst 0.15 traits + structs
  backend/pdf_gen/impl/src/lib.rs
  backend/pdf_gen/impl/src/world.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Revert max_average/max_remainder
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/structs.rs
  backend/openapi.json
  backend/src/api/apportionment/structs.rs
  backend/src/domain/apportionment.rs
  backend/src/repository/apportionment_state_repo.rs
  backend/src/service/apportionment.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

test(wip): initial logic for mutation test
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

test: proper unit test
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

refactor: semantic changes
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

refactor: unnecessary u32 allocation
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Serve Abacus using HTTPS (#3441)
  .github/workflows/build-lint-test.yml
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/src/bin/abacus.rs
  backend/src/infra/tls.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-lint-tsc: any of: *.{ts,tsx} and ^frontend/
  frontend-lint-eslint: any of: *.{ts,tsx} and ^frontend/
