Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi && 
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add lib/api/gen/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

adds import of ReactRouter
  frontend/src/features/election_status/components/ElectionStatus.test.tsx
Due: frontend-linter

Finished implementing ReportPage as designed
  frontend/e2e-tests/page-objects/election/ElectionReportPgObj.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
  frontend/src/features/election_management/components/ElectionManagement.module.css
  frontend/src/features/election_management/components/report/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/i18n/locales/nl/election_management.json
  frontend/src/styles/typography.css
  frontend/src/styles/variables.css
Due: frontend-linter

Removed pdf-rendering e2e test
  frontend/e2e-tests/tests/pdf-rendering.e2e.ts
Due: frontend-linter

Coordinator validation feedback on resolve error overview page (#2120)
  frontend/src/components/ui/StatusList/StatusList.module.css
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.tsx
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/features/resolve_errors/components/ResolveErrors.module.css
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsOverview.module.css
  frontend/src/features/resolve_errors/components/ResolveErrorsOverview.stories.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsOverview.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsOverview.tsx
  frontend/src/i18n/feedback-structure.test.tsx
  frontend/src/i18n/locales/nl/feedback.json
  frontend/src/styles/typography.css
Due: frontend-linter

Move MockTest component to features/dev directory
  frontend/src/features/dev/components/DevHomePage.tsx
  frontend/src/features/dev/components/MockTest.tsx
Due: frontend-linter

Update sigrid.yaml
  sigrid.yaml
Due: none

Move `src/app` in `sigrid.yaml`
  sigrid.yaml
Due: none

Update `sigrid.yaml` (#2133)
  frontend/src/features/dev/components/DevHomePage.tsx
  frontend/src/features/dev/components/MockTest.tsx
  sigrid.yaml
Due: frontend-linter

Set DownloadButton visited link color to default
  frontend/src/components/ui/DownloadButton/DownloadButton.module.css
Due: none

Updated validation for F3XX errors
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix tests and stories
  frontend/.storybook/preview.tsx
  frontend/src/features/investigations/components/InvestigationFindings.stories.tsx
  frontend/src/features/investigations/components/InvestigationFindings.test.tsx
  frontend/src/features/investigations/components/InvestigationFindings.tsx
  frontend/src/features/investigations/components/InvestigationFindingsPage.tsx
  frontend/src/features/investigations/components/InvestigationReason.stories.tsx
  frontend/src/features/investigations/components/InvestigationReason.test.tsx
  frontend/src/features/investigations/components/InvestigationReason.tsx
  frontend/src/features/investigations/components/InvestigationReasonPage.tsx
  frontend/src/features/investigations/routes.ts
  frontend/src/testing/api-mocks/ElectionMockData.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: frontend-linter

Updated doc comments for validation result code
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Filter out polling stations with existing investigations on `AddInvestigationPage`
  frontend/src/features/investigations/components/AddInvestigationPage.test.tsx
  frontend/src/features/investigations/components/AddInvestigationPage.tsx
Due: frontend-linter

Fixed spelling errors, removed voorblad for bijlagen and fixed Na 14-2 header
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/templates/common/scripts.typ
  backend/templates/common/style.typ
  backend/templates/inputs/model-na-14-2-bijlage1.json
  backend/templates/inputs/model-na-14-2.json
  backend/templates/model-na-14-2-bijlage1.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-2-bijlage1.typ
  backend/templates/model-na-31-2-bijlage2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added pre-filling of previous results to Na 14-2 Bijlage 1
  backend/src/pdf_gen/models/mod.rs
  backend/src/pdf_gen/models/model_na_14_2.rs
  backend/templates/model-na-14-2-bijlage1.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Apply suggestions from code review
  frontend/src/features/investigations/routes.ts
Due: frontend-linter

Consolidated imports
  backend/src/data_entry/api.rs
  backend/src/data_entry/status.rs
  backend/src/data_entry/validation.rs
  backend/tests/data_entries_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove unused fields from `PollingStationInvestigationCreateRequest`
  backend/openapi.json
  backend/src/committee_session/structs.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Removed election id warning e2e test
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/page-objects/election/create/CheckPollingStationDefinitionPgObj.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
Due: frontend-linter

Remove more redundant e2e test code
  frontend/e2e-tests/test-data/eml-files.ts
  frontend/e2e-tests/tests/election-create.e2e.ts
Due: frontend-linter

Cleanup page object
  frontend/e2e-tests/page-objects/election/create/CheckPollingStationDefinitionPgObj.ts
Due: frontend-linter

Bugfix: StickyNav behaviour (#2123)
  frontend/src/components/ui/AppLayout/StickyNav.tsx
  frontend/src/components/ui/ProgressList/ProgressList.module.css
Due: frontend-linter

ElectionStatus storybook tests (#2122)
  frontend/src/features/election_status/components/ElectionStatus.stories.tsx
  frontend/src/features/election_status/components/ElectionStatus.test.tsx
Due: frontend-linter

Make polling station id the primary key for investigations
  backend/.sqlx/query-348292b04c97130e03a71cac74c04f880684fe6ee6856ae4a080161bf05d4f77.json
  backend/.sqlx/query-54731c1d245c4e9d712744bd8c3832f0e1f45c30dc1110cbae5f9417829a8ab3.json
  backend/.sqlx/query-59e029a19b00fba5eb3534722f16837611f8e3761b17823be3ed97c3a805f4d9.json
  backend/.sqlx/query-93774bcb859ec55042fbbb82a3ef63f7a5edd2741182117d0de51d87a3f4aadb.json
  backend/.sqlx/query-af11026556b623550adbef974a9e7fb2a481a5e6d68ea9cb9adb61f510532499.json
  backend/.sqlx/query-f636f4801f32a1e01fb95ba1d3e443533877274a551b30bf620ef73749866047.json
  backend/migrations/10_polling_station_investigations.sql
  backend/openapi.json
  backend/src/committee_session/api.rs
  backend/src/committee_session/repository.rs
  backend/src/committee_session/structs.rs
  frontend/src/features/investigations/components/InvestigationFindings.tsx
  frontend/src/features/investigations/components/InvestigationReason.tsx
  frontend/src/testing/api-mocks/ElectionMockData.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Remove unused derive macros for request types
  backend/src/committee_session/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move investigation code to dedicated module
  backend/openapi.json
  backend/src/audit_log/audit_event.rs
  backend/src/committee_session/api.rs
  backend/src/committee_session/repository.rs
  backend/src/committee_session/structs.rs
  backend/src/election/api.rs
  backend/src/investigation/api.rs
  backend/src/investigation/mod.rs
  backend/src/investigation/repository.rs
  backend/src/investigation/structs.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Show previous values column if there are previous values
  frontend/src/components/data_entry/subsections/InputGridSubsection.stories.tsx
  frontend/src/components/data_entry/subsections/InputGridSubsection.tsx
  frontend/src/components/ui/InputGrid/InputGrid.module.css
  frontend/src/components/ui/InputGrid/InputGrid.stories.tsx
  frontend/src/components/ui/InputGrid/InputGrid.tsx
  frontend/src/components/ui/InputGrid/InputGridRow.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.stories.tsx
  frontend/src/i18n/locales/nl/data_entry.json
Due: frontend-linter

Backend API for adding investigations to committee session (#2134)
  backend/.sqlx/query-348292b04c97130e03a71cac74c04f880684fe6ee6856ae4a080161bf05d4f77.json
  backend/.sqlx/query-59e029a19b00fba5eb3534722f16837611f8e3761b17823be3ed97c3a805f4d9.json
  backend/.sqlx/query-af11026556b623550adbef974a9e7fb2a481a5e6d68ea9cb9adb61f510532499.json
  backend/migrations/10_polling_station_investigations.sql
  backend/openapi.json
  backend/src/audit_log/audit_event.rs
  backend/src/election/api.rs
  backend/src/investigation/api.rs
  backend/src/investigation/mod.rs
  backend/src/investigation/repository.rs
  backend/src/investigation/structs.rs
  backend/src/lib.rs
  frontend/.storybook/preview.tsx
  frontend/src/features/data_entry/components/AbortDataEntryControl.test.tsx
  frontend/src/features/dev/components/DevHomePage.tsx
  frontend/src/features/investigations/components/AddInvestigationPage.test.tsx
  frontend/src/features/investigations/components/AddInvestigationPage.tsx
  frontend/src/features/investigations/components/InvestigationFindings.stories.tsx
  frontend/src/features/investigations/components/InvestigationFindings.test.tsx
  frontend/src/features/investigations/components/InvestigationFindings.tsx
  frontend/src/features/investigations/components/InvestigationFindingsPage.tsx
  frontend/src/features/investigations/components/InvestigationReason.stories.tsx
  frontend/src/features/investigations/components/InvestigationReason.test.tsx
  frontend/src/features/investigations/components/InvestigationReason.tsx
  frontend/src/features/investigations/components/InvestigationReasonPage.tsx
  frontend/src/features/investigations/routes.ts
  frontend/src/hooks/election/ElectionProvider.tsx
  frontend/src/hooks/election/ElectionProviderContext.tsx
  frontend/src/hooks/election/useElection.ts
  frontend/src/hooks/election/useElectionDataRequest.ts
  frontend/src/i18n/locales/nl/log.json
  frontend/src/testing/api-mocks/ElectionMockData.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

PR feedback
  backend/src/data_entry/validation.rs
  frontend/src/features/data_entry/components/differences/DifferenceForm.test.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Remove election tree parsing and usage from eml
  backend/src/eml/common.rs
  backend/src/eml/eml_110.rs
  backend/tests/election_admin_integration_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix test string concatenation
  frontend/src/components/navbar/NavBar.test.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.test.tsx
Due: frontend-linter

Added failing test case
  backend/src/investigation/mod.rs
  backend/tests/investigation_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added more backend tests for F3XX
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Input grid previous values (#2144)
  frontend/src/components/data_entry/subsections/InputGridSubsection.stories.tsx
  frontend/src/components/data_entry/subsections/InputGridSubsection.tsx
  frontend/src/components/ui/InputGrid/InputGrid.module.css
  frontend/src/components/ui/InputGrid/InputGrid.stories.tsx
  frontend/src/components/ui/InputGrid/InputGrid.tsx
  frontend/src/components/ui/InputGrid/InputGridRow.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.stories.tsx
  frontend/src/i18n/locales/nl/data_entry.json
Due: frontend-linter

EML 510 update investigations
  backend/src/eml/eml_510.rs
  backend/src/eml/tests/deserialize_eml510b_test.eml.xml
  backend/src/eml/tests/deserialize_eml510d_test.eml.xml
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Implemented design of ReportPage (#2132)
  frontend/e2e-tests/page-objects/election/ElectionReportPgObj.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
  frontend/e2e-tests/tests/pdf-rendering.e2e.ts
  frontend/src/assets/icons/checkVerified.svg
  frontend/src/assets/icons/download.svg
  frontend/src/assets/icons/file.svg
  frontend/src/assets/icons/filter.svg
  frontend/src/components/generated/icons.tsx
  frontend/src/components/ui/DownloadButton/DownloadButton.module.css
  frontend/src/features/election_management/components/ElectionManagement.module.css
  frontend/src/features/election_management/components/report/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/i18n/locales/nl/election_management.json
  frontend/src/styles/typography.css
  frontend/src/styles/variables.css
Due: frontend-linter

Add previousResults to data entry reducer, determine and use previousValues in data input grid to show and save corrections.
  frontend/src/components/data_entry/DataEntrySubsections.tsx
  frontend/src/components/data_entry/subsections/InputGridSubsection.tsx
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/hooks/useDataEntryFormSection.ts
  frontend/src/features/data_entry/testing/mock-data.ts
  frontend/src/features/data_entry/types/types.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.ts
  frontend/src/features/data_entry/utils/reducer.ts
  frontend/src/utils/dataEntryMapping.test.ts
  frontend/src/utils/dataEntryMapping.ts
Due: frontend-linter

Parse number of voters from pollings stations WIP
  backend/src/eml/eml_110.rs
  backend/src/eml/tests/eml110b_invalid_polling_station_number_of_voters.xml
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added InvestigationCard
  frontend/.storybook/preview.tsx
  frontend/src/components/generated/icons.tsx
  frontend/src/components/ui/Badge/Badge.module.css
  frontend/src/components/ui/Badge/PollingStationNumber.tsx
  frontend/src/components/ui/Icon/Icon.module.css
  frontend/src/components/ui/Icon/Icon.tsx
  frontend/src/features/investigations/components/AddInvestigationPage.test.tsx
  frontend/src/features/investigations/components/InvestigationCard.module.css
  frontend/src/features/investigations/components/InvestigationCard.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.stories.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.tsx
  frontend/src/features/investigations/hooks/useInvestigations.ts
  frontend/src/hooks/election/useElection.ts
  frontend/src/i18n/locales/nl/investigations.json
  frontend/src/styles/typography.css
  frontend/src/styles/util.css
  frontend/src/testing/api-mocks/ElectionMockData.ts
Due: frontend-linter

Remove election tree parsing and usage from eml (#2147)
  backend/src/eml/common.rs
  backend/src/eml/eml_110.rs
  backend/tests/election_admin_integration_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi
