Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi && 
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add lib/api/gen/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

E2E test adjustments
  backend/src/data_entry/validation.rs
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fix flaky test 'OverviewPage > Renders elections for typist' (#2035)
  frontend/src/features/dev/components/DevHomePage.tsx
  frontend/src/features/election_create/components/AbortModal.tsx
  frontend/src/features/election_create/components/CheckAndSave.tsx
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/election_overview/components/OverviewLayout.tsx
  frontend/src/features/election_overview/components/OverviewPage.test.tsx
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/hooks/election/ElectionListProvider.tsx
  frontend/src/hooks/election/ElectionListProviderContext.tsx
  frontend/src/hooks/election/useElectionList.ts
  frontend/src/hooks/election/useElectionListRequest.test.ts
  frontend/src/hooks/election/useElectionListRequest.ts
Due: frontend-linter

Remove unused arguments for getDataEntryStructure functions
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.stories.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.test.tsx
  frontend/src/features/resolve_differences/hooks/usePollingStationDataEntryDifferences.ts
  frontend/src/features/resolve_differences/utils/differences.test.ts
  frontend/src/features/resolve_errors/components/ReadOnlyDataEntrySection.stories.tsx
  frontend/src/features/resolve_errors/components/ReadOnlyDataEntrySection.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsLayout.tsx
  frontend/src/utils/dataEntryStructure.ts
Due: frontend-linter

Reduce the dependency on PollingStationResults by introducing a new type DataEntryResult which is object for now, and using that instead
  frontend/src/features/data_entry/types/types.ts
  frontend/src/features/data_entry/utils/actions.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.ts
  frontend/src/features/resolve_differences/components/ResolveDifferencesOverview.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.tsx
  frontend/src/features/resolve_differences/utils/differences.ts
  frontend/src/features/resolve_errors/components/ReadOnlyDataEntrySection.tsx
  frontend/src/types/types.ts
  frontend/src/utils/dataEntryMapping.ts
Due: frontend-linter

Finished fixing layout and added download icon
  frontend/src/assets/icons/download.svg
  frontend/src/assets/icons/file.svg
  frontend/src/assets/icons/filter.svg
  frontend/src/components/generated/icons.tsx
  frontend/src/components/ui/DownloadButton/DownloadButton.module.css
  frontend/src/components/ui/KeyboardKeys/KeyboardKeys.module.css
  frontend/src/features/investigations/components/AddInvestigation.tsx
  frontend/src/features/investigations/components/AddInvestigationLayout.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendum.tsx
  frontend/src/features/investigations/components/InvestigationReason.test.tsx
  frontend/src/features/investigations/components/InvestigationReason.tsx
  frontend/src/features/investigations/components/InvestigationsOverview.tsx
  frontend/src/i18n/locales/nl/investigations.json
  frontend/src/styles/typography.css
Due: frontend-linter

Fix date validation regex to accept October
  frontend/src/utils/dateTime.test.ts
  frontend/src/utils/dateTime.ts
Due: frontend-linter

No need for separate getDataEntryStructure for resolve differences
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.stories.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.test.tsx
  frontend/src/features/resolve_differences/hooks/usePollingStationDataEntryDifferences.ts
  frontend/src/features/resolve_differences/utils/differences.test.ts
  frontend/src/utils/dataEntryStructure.ts
Due: frontend-linter

Adjust VotesCounts tests to ensure proper sum validation
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix date validation regex to accept October (#2066)
  frontend/src/utils/dateTime.test.ts
  frontend/src/utils/dateTime.ts
Due: frontend-linter

Update test election generation tool
  backend/src/bin/gen-test-election.rs
  backend/src/data_entry/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Make `DifferencesCounts` match paper report
  backend/openapi.json
  backend/src/data_entry/structs.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Implement validation rules: Voters and votes (#2062)
  backend/src/data_entry/validation.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/data_entries_resolve_integration_test.rs
  backend/tests/shared/mod.rs
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.test.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.ts
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
  frontend/src/utils/ValidationResults.test.ts
  frontend/src/utils/ValidationResults.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Remove unused arguments for getDataEntryStructure functions (#2063)
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.stories.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.test.tsx
  frontend/src/features/resolve_differences/hooks/usePollingStationDataEntryDifferences.ts
  frontend/src/features/resolve_differences/utils/differences.test.ts
  frontend/src/features/resolve_errors/components/ReadOnlyDataEntrySection.stories.tsx
  frontend/src/features/resolve_errors/components/ReadOnlyDataEntrySection.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsLayout.tsx
  frontend/src/utils/dataEntryStructure.ts
Due: frontend-linter

Use `YesNo::yes()` where possible
  backend/src/bin/gen-test-election.rs
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Re-added original File icon as Logs and added role="img" when missing
  frontend/src/assets/icons/arrowNarrowDown.svg
  frontend/src/assets/icons/arrowNarrowUp.svg
  frontend/src/assets/icons/checkHeart.svg
  frontend/src/assets/icons/checkVerified.svg
  frontend/src/assets/icons/checkmark.svg
  frontend/src/assets/icons/clock.svg
  frontend/src/assets/icons/cross.svg
  frontend/src/assets/icons/download.svg
  frontend/src/assets/icons/file.svg
  frontend/src/assets/icons/filePlus.svg
  frontend/src/assets/icons/filter.svg
  frontend/src/assets/icons/logs.svg
  frontend/src/assets/icons/minus.svg
  frontend/src/assets/icons/plus.svg
  frontend/src/assets/icons/settings.svg
  frontend/src/assets/icons/trash.svg
  frontend/src/assets/icons/warning.svg
  frontend/src/components/generated/icons.tsx
  frontend/src/components/navbar/NavBarMenu.tsx
Due: frontend-linter

Updated texts Joris changed in design
  frontend/src/features/investigations/components/InvestigationsOverview.tsx
  frontend/src/i18n/locales/nl/investigations.json
Due: frontend-linter

Fixed test
  frontend/src/features/investigations/components/InvestigationsOverview.test.tsx
Due: frontend-linter

Removed width and height in favor of viewbox for all icons
  frontend/src/assets/icons/download.svg
  frontend/src/assets/icons/file.svg
  frontend/src/assets/icons/filePlus.svg
  frontend/src/assets/icons/filter.svg
  frontend/src/assets/icons/lock.svg
  frontend/src/components/generated/icons.tsx
Due: frontend-linter

Undo BottomBar changes
  frontend/src/components/ui/BottomBar/BottomBar.tsx
  frontend/src/i18n/locales/nl/election_management.json
Due: frontend-linter

Update test election generation tool (#2067)
  backend/openapi.json
  backend/src/bin/gen-test-election.rs
  backend/src/data_entry/structs.rs
  backend/src/data_entry/validation.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

adds gen-test-election to backend README
  backend/README.md
Due: none

Updates for some edge cases
  backend/.sqlx/query-f407a8a31693358a3371ce9bee68b7848d33882339bbe2d3217308ceb569f80d.json
  backend/fixtures/election_5.sql
  backend/src/committee_session/api.rs
  backend/src/committee_session/repository.rs
  backend/src/data_entry/api.rs
  backend/src/polling_station/repository.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed bullet point alignment and added links to ProgressList
  frontend/src/features/investigations/components/AddInvestigationLayout.tsx
  frontend/src/styles/core.css
  frontend/src/styles/typography.css
Due: frontend-linter

gen-test-election in backend README (#2068)
  backend/README.md
Due: none

Show all role-specific links with MSW
  frontend/src/features/dev/components/DevHomePage.tsx
Due: frontend-linter

Processed review comments
  backend/src/election/api.rs
  backend/tests/election_integration_test.rs
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/features/election_management/components/report/FinishDataEntryPage.tsx
  frontend/src/features/election_management/components/update/CommitteeSessionDetailsPage.tsx
  frontend/src/features/election_management/routes.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Since the endpoint does not return which code is incorrect, undo marking fields as invalid
  frontend/src/features/election_create/components/CheckHash.tsx
  frontend/src/i18n/locales/nl/error.json
Due: frontend-linter

Fix bug and styling for election import flow (#2015)
  frontend/src/components/polling_station/PollingStationsPreview.tsx
  frontend/src/components/ui/Alert/Alert.module.css
  frontend/src/components/ui/FileInput/FileInput.tsx
  frontend/src/components/ui/KeyboardKeys/KeyboardKeys.module.css
  frontend/src/features/election_create/components/CheckHash.tsx
  frontend/src/features/election_create/components/CountingMethodType.tsx
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_create/components/UploadCandidatesDefinition.tsx
  frontend/src/features/election_create/components/UploadElectionDefinition.tsx
  frontend/src/features/election_create/components/UploadPollingStationDefinition.tsx
  frontend/src/features/polling_stations/components/PollingStationImportPage.tsx
  frontend/src/styles/util.css
Due: frontend-linter

Reduce the frontend usage of PollingStationResults type (#2064)
  frontend/src/features/data_entry/types/types.ts
  frontend/src/features/data_entry/utils/actions.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.ts
  frontend/src/features/resolve_differences/components/ResolveDifferencesOverview.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.tsx
  frontend/src/features/resolve_differences/utils/differences.ts
  frontend/src/features/resolve_errors/components/ReadOnlyDataEntrySection.tsx
  frontend/src/types/types.ts
  frontend/src/utils/dataEntryMapping.ts
Due: frontend-linter

adds storybook tests for ChoiceList
  frontend/src/components/ui/CheckboxAndRadio/ChoiceList.stories.tsx
Due: frontend-linter

Show all role-specific DevHomePage links with MSW (#2069)
  frontend/src/features/dev/components/DevHomePage.tsx
Due: frontend-linter

adds storybook tests for IconButton
  frontend/src/components/ui/IconButton/IconButton.stories.tsx
Due: frontend-linter

Split out content and actions, check all content one more time
  documentatie/use-cases/validatieregels-plausibiliteitschecks-tellingen.md
Due: none

Change polling station number from i64 to u32
  backend/.sqlx/query-01b3124da5b3c69640192176801f7fe4a1e5ae5f8394989cf2ae2cb935351d3d.json
  backend/.sqlx/query-1e6db3e9fc3eb1b608a1855830506bb6cdcfb074e63a558a26eaa27254927975.json
  backend/.sqlx/query-74993c40e76248cef4b5c7156c85d56761453b972933f7889ea490289caf2893.json
  backend/.sqlx/query-d79525e065d826a1b319cb1ed03f2fb9068f779ff3eb120af8f8b115d618f33f.json
  backend/.sqlx/query-da0aa8c90bbaf4ee22bdf627dde8b28bceb6cfde2e85c5e30fa4d91f927b3d5f.json
  backend/.sqlx/query-f7742f524c2b326af713d1be78f637484325708c6350d1633b2970b726be92c8.json
  backend/openapi.json
  backend/src/audit_log/audit_event.rs
  backend/src/pdf_gen/mod.rs
  backend/src/polling_station/repository.rs
  backend/src/polling_station/structs.rs
  backend/src/summary/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Make JSON for Na 31-2 bijlage 1 match struct
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/templates/inputs/model-na-31-2-bijlage1.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Make JSON for N 10-2 match struct
  backend/src/pdf_gen/models/model_n_10_2.rs
  backend/templates/inputs/model-n-10-2.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update report Na 31-2 with new model fields
  backend/openapi.json
  backend/src/apportionment/mod.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/src/summary/mod.rs
  backend/templates/common/scripts.typ
  backend/templates/inputs/model-na-31-2.json
  backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-2.typ
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Update apportionment test data
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
Due: frontend-linter

Update validatieregels-plausibiliteitschecks-tellingen.md
  documentatie/use-cases/validatieregels-plausibiliteitschecks-tellingen.md
Due: none

Processed Joris review comment
  documentatie/use-cases/validatieregels-plausibiliteitschecks-tellingen.md
Due: none
