Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite &&
        cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets &&
        git add .sqlx &&
        rm sqlx-cache-tmp.sqlite
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi &&
        git add openapi.json &&
        cd ../frontend &&
        pnpm gen:openapi &&
        git add src/types/generated/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: pnpm format --staged --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-biome:
      root: "frontend/"
      run: pnpm lint:biome --write --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-tsc:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:tsc
    frontend-lint-eslint:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:eslint

Add story and tests for DataEntryImportButton
  frontend/src/features/election_status/components/DataEntryImportButton.stories.tsx
  frontend/src/features/election_status/components/DataEntryImportButton.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Save DataEntry when importing EML510b (#4079)
  backend/openapi.json
  backend/src/api/election.rs
  backend/src/api/election/handlers/data_entry_import.rs
  backend/src/domain/data_entry.rs
  backend/src/error.rs
  backend/src/infra/audit_log/audit_event.rs
  backend/tests/integration_tests/election_admin_integration_test.rs
  frontend/src/i18n/locales/nl/error.json
  frontend/src/i18n/locales/nl/log.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Validate signature for data entry import
  backend/.sqlx/query-e8f49d856fba12e2646188bcd671fe610714d444c581c0f79b08456337b73e7d.json
  backend/eml_signature/src/keypair.rs
  backend/openapi.json
  backend/src/api/election/handlers/data_entry_import.rs
  backend/src/eml/tests/eml510b_test.crt
  backend/src/eml/tests/eml510b_test.eml.xml.signature
  backend/src/error.rs
  backend/src/repository/sub_committee_repo.rs
  backend/src/service/mod.rs
  backend/src/service/signing.rs
  backend/tests/integration_tests/election_admin_integration_test.rs
  backend/tests/shared/mod.rs
  frontend/src/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Adjust NavBar for data-entry import, including tests and stories
  frontend/src/components/navbar/NavBar.stories.tsx
  frontend/src/components/navbar/NavBar.test.tsx
  frontend/src/components/navbar/NavBarLinks.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Inline abort button as it was decided not to have a modal here
  frontend/src/features/data_entry_import/components/AbortDataImportControl.tsx
  frontend/src/features/data_entry_import/components/DataEntryImportPage.test.tsx
  frontend/src/features/data_entry_import/components/DataEntryImportPage.tsx
  frontend/src/features/data_entry_import/hooks/useDataEntryImport.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Changei copy: tellingbestanden -> tellingsbestanden; Fix copy/paste typo
  frontend/src/features/data_entry_import/components/DataEntryImportPage.test.tsx
  frontend/src/features/data_entry_import/components/HashCheck.stories.tsx
  frontend/src/features/data_entry_import/hooks/useDataEntryImport.test.ts
  frontend/src/features/election_status/components/DataEntryImportButton.stories.tsx
  frontend/src/features/election_status/components/DataEntryImportButton.test.tsx
  frontend/src/features/election_status/components/ElectionStatus.stories.tsx
  frontend/src/i18n/locales/nl/data_entry_import.json
Due: frontend-lint-tsc, frontend-lint-eslint

Improve copy for state hash_check
  frontend/src/i18n/locales/nl/data_entry_import.json
Due: none

Add DataEntryAlreadyImported to the possible errors
  frontend/src/features/data_entry_import/components/DataEntryImportPage.test.tsx
  frontend/src/features/data_entry_import/components/ImportFileForm.stories.tsx
  frontend/src/features/data_entry_import/hooks/useDataEntryImport.ts
  frontend/src/i18n/locales/nl/data_entry_import.json
Due: frontend-lint-tsc, frontend-lint-eslint

Add support for CSB
  backend/fuzz/fuzz_targets/data_entry_status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add ImportFirstEntry
  backend/fuzz/fuzz_targets/data_entry_status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Expect clippy error
  backend/fuzz/fuzz_targets/data_entry_status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Improve separate handling of validation response 413 - file_too_large
  frontend/src/features/data_entry_import/components/DataEntryImportPage.test.tsx
  frontend/src/features/data_entry_import/components/ImportFileForm.stories.tsx
  frontend/src/features/data_entry_import/hooks/useDataEntryImport.ts
  frontend/src/i18n/locales/nl/data_entry_import.json
Due: frontend-lint-tsc, frontend-lint-eslint

Copy change
  frontend/src/i18n/locales/nl/data_entry_import.json
Due: none

Shortened userEvent imports
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/data_entry_home/components/CollapsibleDataEntryList.test.tsx
  frontend/src/features/data_entry_home/components/DataEntryHomePage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationCreatePage.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Added CertificateDeleteModal and implemented deletion of certificate
  frontend/src/features/election_management/components/ElectionManagement.module.css
  frontend/src/features/election_management/components/sub_committee_keys/CertificateDeleteModal.tsx
  frontend/src/features/election_management/components/sub_committee_keys/CertificateInformation.stories.tsx
  frontend/src/features/election_management/components/sub_committee_keys/CertificateInformation.tsx
  frontend/src/features/election_management/components/sub_committee_keys/SubCommitteeKeysDetailPage.tsx
  frontend/src/i18n/locales/nl/sub_committee_keys.json
Due: frontend-lint-tsc, frontend-lint-eslint

Added unit tests for SubCommitteeKeysDetailPage
  frontend/src/features/election_management/components/sub_committee_keys/CertificateDeleteModal.tsx
  frontend/src/features/election_management/components/sub_committee_keys/CertificateInformation.stories.tsx
  frontend/src/features/election_management/components/sub_committee_keys/CertificateInformation.tsx
  frontend/src/features/election_management/components/sub_committee_keys/SubCommitteeKeysDetailPage.test.tsx
  frontend/src/features/election_management/components/sub_committee_keys/SubCommitteeKeysOverviewPage.test.tsx
  frontend/src/testing/api-mocks/RequestHandlers.ts
  frontend/src/testing/api-mocks/SubCommitteeMockData.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Added CertificateInformation component and showing certificate information on detail page
  frontend/src/features/election_management/components/ElectionCertificatePage.tsx
  frontend/src/features/election_management/components/ElectionManagement.module.css
  frontend/src/features/election_management/components/sub_committee_keys/CertificateInformation.stories.tsx
  frontend/src/features/election_management/components/sub_committee_keys/CertificateInformation.tsx
  frontend/src/features/election_management/components/sub_committee_keys/SubCommitteeKeysDetailPage.tsx
  frontend/src/features/election_management/utils/certificate.tsx
  frontend/src/i18n/locales/nl/sub_committee_keys.json
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Add test for certificate deletion message
  frontend/src/features/election_management/components/sub_committee_keys/SubCommitteeKeysDetailPage.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Create separate signing integration test suite and add test signature unknown
  backend/src/eml/tests/eml510b_tampered.eml.xml.signature
  backend/tests/integration_tests/election_admin_integration_test.rs
  backend/tests/integration_tests/mod.rs
  backend/tests/integration_tests/signing_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Test imported entry in fuzzer (#4089)
  backend/fuzz/fuzz_targets/data_entry_status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Improve test names
  backend/src/service/signing.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

used constant instead of hardcoded hash value
  frontend/e2e-tests/tests/election/election-create.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Add Location to 110b, separate v1.2.2 into own file
  backend/src/eml/tests/eml110b_v1_2_2.eml.xml
Due: none

Move Schema element to position according to XSD's
  backend/src/eml/tests/eml110a_invalid_election_category_and_sub_category_mismatch.eml.xml
  backend/src/eml/tests/eml110a_invalid_election_limited_elections_supported.eml.xml
  backend/src/eml/tests/eml110a_invalid_election_missing_election_domain.eml.xml
  backend/src/eml/tests/eml110a_test.eml.xml
  backend/src/eml/tests/eml110a_test_AB.eml.xml
  backend/src/eml/tests/eml110a_test_PS1.eml.xml
  backend/src/eml/tests/eml110a_test_PS2.eml.xml
  backend/src/eml/tests/eml110b_not_matching_election_id.eml.xml
  backend/src/eml/tests/eml230b_invalid_document_type.eml.xml
  backend/src/eml/tests/eml230b_invalid_empty_affiliates.eml.xml
  backend/src/eml/tests/eml230b_invalid_empty_candidates.eml.xml
  backend/src/eml/tests/eml230b_invalid_incorrect_election.eml.xml
  backend/src/eml/tests/eml230b_invalid_incorrect_election_date.eml.xml
  backend/src/eml/tests/eml230b_invalid_incorrect_election_domain.eml.xml
  backend/src/eml/tests/eml230b_invalid_incorrect_election_type.eml.xml
  backend/src/eml/tests/eml230b_invalid_missing_authority.eml.xml
  backend/src/eml/tests/eml230b_test.eml.xml
  backend/src/eml/tests/eml230b_test_AB.eml.xml
  backend/src/eml/tests/eml230b_test_PS1.eml.xml
  backend/src/eml/tests/eml230b_test_PS2.eml.xml
  frontend/e2e-tests/test-data/eml-files/eml110a_test_less_than_19_seats.eml.xml
  frontend/e2e-tests/test-data/eml-files/eml230b_test_AB_more_than_45_candidates.eml.xml
  frontend/e2e-tests/test-data/eml-files/eml230b_test_more_than_45_candidates.eml.xml
  frontend/e2e-tests/test-data/eml-files/eml230b_test_with_gaps.eml.xml
Due: none

Update frontend/e2e-tests/tests/election/election-create.e2e.ts
  frontend/e2e-tests/tests/election/election-create.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Added e2e test for uploading and deleting GSB certificates
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/page-objects/election/DeleteCertificateModalPgObj.ts
  frontend/e2e-tests/page-objects/election/ElectionHomePgObj.ts
  frontend/e2e-tests/page-objects/election/SubCommitteeKeysDetailPgObj.ts
  frontend/e2e-tests/page-objects/election/SubCommitteeKeysOverviewPgObj.ts
  frontend/e2e-tests/test-data/certificates.ts
  frontend/e2e-tests/test-data/certificates/0123_Heemdamseburg.crt
  frontend/e2e-tests/test-data/certificates/0123_Heemdamseburg_expired.crt
  frontend/e2e-tests/tests/election/election-certificate.e2e.ts
  frontend/src/features/election_management/components/ElectionManagement.module.css
  frontend/src/features/election_management/components/sub_committee_keys/SubCommitteeKeysOverview.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Simplified existing uploadFile functions
  frontend/e2e-tests/page-objects/election/create/UploadCandidateDefinitionPgObj.ts
  frontend/e2e-tests/page-objects/election/create/UploadElectionDefinitionPgObj.ts
  frontend/e2e-tests/page-objects/election/create/UploadPollingStationsFilePgObj.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Simplified clickDeleteCertificate function
  frontend/e2e-tests/page-objects/election/SubCommitteeKeysDetailPgObj.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Do not return SignatureMissing when there are other zip errors reading the signature
  backend/src/api/election/handlers/data_entry_import.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Increased expiry of valid certificate and changed random fingerprint to 64 chars
  frontend/e2e-tests/test-data/certificates.ts
  frontend/e2e-tests/test-data/certificates/0123_Heemdamseburg.crt
  frontend/e2e-tests/tests/election/election-certificate.e2e.ts
  frontend/src/testing/api-mocks/SubCommitteeMockData.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Process review comments: simplify file_too_large error message
  frontend/src/features/data_entry_import/components/DataEntryImportPage.test.tsx
  frontend/src/features/data_entry_import/components/ImportFileForm.stories.tsx
  frontend/src/features/data_entry_import/hooks/useDataEntryImport.ts
  frontend/src/i18n/locales/nl/data_entry_import.json
Due: frontend-lint-tsc, frontend-lint-eslint

Process review comments: disable inputs while validating or saving
  frontend/src/features/data_entry_import/components/CheckAndSave.stories.tsx
  frontend/src/features/data_entry_import/components/CheckAndSave.tsx
  frontend/src/features/data_entry_import/components/DataEntryImportPage.tsx
  frontend/src/features/data_entry_import/components/ImportFileForm.stories.tsx
  frontend/src/features/data_entry_import/components/ImportFileForm.tsx
  frontend/src/features/data_entry_import/hooks/useDataEntryImport.ts
Due: frontend-lint-tsc, frontend-lint-eslint
