Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: cargo run --package backend --bin gen-openapi
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

add test stub
  frontend/app/component/form/pollingstation_save/PollingStationSaveForm.tsx
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/page-objects/input/SaveFormPgObj.ts
  frontend/lib/ui/StatusList/StatusList.tsx
Due: frontend-linter

Add temporary error handling to PDF download
  frontend/app/module/input/page/FinaliseElectionPage.tsx
Due: frontend-linter

Validate results while adding up
  backend/src/pdf_gen/models/model_na_31_2.rs
Due: backend-formatter, backend-linter, backend-openapi

fix onChange didn't trigger
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/differences/DifferencesForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/lib/ui/Checkbox/Checkbox.tsx
Due: frontend-linter

Added imagined warning on CandidatesVotesForm
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/differences/DifferencesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
Due: frontend-linter

add check and save test
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
Due: frontend-linter

design tweaks
  frontend/app/component/form/pollingstation_save/PollingStationSaveForm.tsx
  frontend/lib/ui/style/typography.css
Due: frontend-linter

Reset database in dom-to-database tests (#327)
  backend/fixtures/reset.sql
  backend/src/bin/api.rs
  backend/src/fixtures.rs
  backend/src/lib.rs
  frontend/e2e-tests/dom-to-db-tests/abort-data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/fixtures.ts
  frontend/playwright.d2d.config.ts
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

extend warnings test
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
Due: frontend-linter

move locators
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/page-objects/input/SaveFormPgObj.ts
Due: frontend-linter

add shortcut to move to last input
  frontend/lib/ui/InputGrid/InputGrid.tsx
Due: frontend-linter

add test
  frontend/lib/ui/InputGrid/InputGrid.test.tsx
Due: frontend-linter

add shortcut to move to last input (#331)
  frontend/lib/ui/InputGrid/InputGrid.test.tsx
  frontend/lib/ui/InputGrid/InputGrid.tsx
Due: frontend-linter

renamed from Util to Icons
  frontend/lib/ui/util/Icons.tsx
  frontend/lib/ui/util/index.ts
Due: frontend-linter

Apply suggestions from code review
  frontend/lib/ui/util/Util.tsx
Due: frontend-linter

Custom checkbox (#292)
  frontend/.eslintrc.cjs
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/differences/DifferencesForm.tsx
  frontend/app/component/form/polling_station_choice/PollingStationSelector.module.css
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/page-objects/input/VotersVotesPgObj.ts
  frontend/lib/icon/generated.tsx
  frontend/lib/icon/svg/checkmarkSmall.svg
  frontend/lib/ui/BottomBar/BottomBar.module.css
  frontend/lib/ui/BottomBar/BottomBar.tsx
  frontend/lib/ui/Checkbox/Checkbox.module.css
  frontend/lib/ui/Checkbox/Checkbox.stories.tsx
  frontend/lib/ui/Checkbox/Checkbox.test.tsx
  frontend/lib/ui/Checkbox/Checkbox.tsx
Due: frontend-linter

fix comment copy
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
Due: frontend-linter

change var to bold
  frontend/lib/ui/StatusList/StatusList.module.css
  frontend/lib/ui/style/variables.css
Due: none

Changed <article> to <span> in StatusList.Item
  frontend/e2e-tests/page-objects/input/SaveFormPgObj.ts
  frontend/lib/ui/StatusList/StatusList.tsx
Due: frontend-linter

Accidental added character
  frontend/lib/ui/StatusList/StatusList.tsx
Due: frontend-linter

Added Les suggestion from review
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/differences/DifferencesForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
Due: frontend-linter

Add recounted voters counts to voters counts
  backend/openapi.json
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/src/polling_station/structs.rs
Due: backend-formatter, backend-linter, backend-openapi

Updated heading of the PollingStationChoiceForm when data entry has just been saved according to design
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/module/input/page/InputHomePage.tsx
Due: frontend-linter

Test what field is marked with an icon for every rule and check implemented (#319)
  backend/openapi.json
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/structs.rs
  backend/templates/inputs/model-na-31-2.json
  backend/templates/model-na-31-2.typ
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/shared.rs
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/differences/DifferencesForm.test.tsx
  frontend/app/component/form/differences/DifferencesForm.tsx
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/polling_station_choice/PollingStationSelector.tsx
  frontend/app/component/form/recounted/RecountedForm.test.tsx
  frontend/app/component/form/testHelperFunctions.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/module/input/PollingStation/PollingStation.test.tsx
  frontend/app/test/unit/form.ts
  frontend/e2e-tests/dom-to-db-tests/abort-data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/page-objects/input/VotersVotesPgObj.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.test.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/pollingStationUtils.test.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/ui/FormField/FormField.stories.tsx
  frontend/lib/ui/FormField/FormField.test.tsx
  frontend/lib/ui/FormField/FormField.tsx
  frontend/lib/ui/InputGrid/InputGrid.test.tsx
  frontend/lib/ui/InputGrid/InputGridRow.tsx
  frontend/lib/ui/util/Util.tsx
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

Add test
  backend/src/polling_station/mod.rs
Due: backend-formatter, backend-linter, backend-openapi

Renamed votes_candidates_counts
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/src/polling_station/structs.rs
Due: backend-formatter, backend-linter, backend-openapi

Make sure to set voters_recounts when recounted
  frontend/app/component/form/recounted/RecountedForm.test.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
Due: frontend-linter

Prevent new data entry after finalisation (#326)
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
Due: backend-formatter, backend-linter, backend-openapi

Sum up all the votes and voters for the entire election for PDF (#324)
  backend/openapi.json
  backend/src/election/mod.rs
  backend/src/lib.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/src/polling_station/repository.rs
  backend/src/polling_station/structs.rs
  frontend/app/component/form/recounted/RecountedForm.test.tsx
  frontend/app/module/input/page/FinaliseElectionPage.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

Updated frontend openapi file that was forgotten
  frontend/lib/api/gen/openapi.ts
Due: frontend-linter

add first draft block navigation
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/app/module/input/PollingStation/AbortDataEntryControl.tsx
  frontend/app/module/input/PollingStation/AbortDataEntryModal.tsx
  frontend/app/module/input/PollingStation/PollingStation.test.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
Due: frontend-linter

fix tests
  frontend/app/component/pollingstation/PollingStationFormNavigation.test.tsx
Due: frontend-linter

Remove explicit dependency on tower-layer
  backend/Cargo.lock
  backend/Cargo.toml
Due: none

refactor
  frontend/app/component/form/pollingstation_save/PollingStationSaveForm.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/app/component/pollingstation/utils.ts
Due: frontend-linter

fix mock definition
  frontend/app/component/pollingstation/PollingStationFormNavigation.test.tsx
Due: frontend-linter

Remove quotes from fixture polling station name
  backend/fixtures/polling_stations.sql
  backend/src/polling_station/mod.rs
  backend/tests/polling_station_integration_test.rs
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/e2e-tests/dom-to-db-tests/test-data/PollingStationTestData.ts
  frontend/lib/api-mocks/PollingStationMockData.ts
Due: backend-formatter, backend-linter, backend-openapi, frontend-linter

merges d2d test to check and save with first full data entry flow test
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/page-objects/input/InputPgObj.ts
  frontend/e2e-tests/page-objects/input/SaveFormPgObj.ts
Due: frontend-linter

extends d2d test for submitting with accepted warning
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
Due: frontend-linter

refactors SaveFormPgObj; adds waitFor() before accepting warnings
  frontend/e2e-tests/page-objects/input/SaveFormPgObj.ts
  frontend/e2e-tests/page-objects/input/VotersVotesPgObj.ts
Due: frontend-linter

Implement design for check and save page (#322)
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/pollingstation_save/PollingStationSaveForm.test.tsx
  frontend/app/component/form/pollingstation_save/PollingStationSaveForm.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/app/component/pollingstation/utils.ts
  frontend/app/module/input/page/InputHomePage.tsx
  frontend/app/test/unit/form.ts
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/page-objects/input/InputPgObj.ts
  frontend/e2e-tests/page-objects/input/SaveFormPgObj.ts
  frontend/e2e-tests/page-objects/input/VotersVotesPgObj.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/pollingStationUtils.test.ts
  frontend/lib/api/form/pollingstation/pollingStationUtils.ts
  frontend/lib/ui/ProgressList/ProgressList.tsx
  frontend/lib/ui/StatusList/StatusList.module.css
  frontend/lib/ui/StatusList/StatusList.stories.tsx
  frontend/lib/ui/StatusList/StatusList.test.tsx
  frontend/lib/ui/StatusList/StatusList.tsx
  frontend/lib/ui/index.ts
  frontend/lib/ui/style/typography.css
  frontend/lib/ui/util/Icons.tsx
  frontend/lib/ui/util/Util.tsx
  frontend/lib/ui/util/index.ts
Due: frontend-linter
