Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite &&
        cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets &&
        git add .sqlx &&
        rm sqlx-cache-tmp.sqlite
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi &&
        git add openapi.json &&
        cd ../frontend &&
        pnpm gen:openapi &&
        git add src/types/generated/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: pnpm format --staged --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-biome:
      root: "frontend/"
      run: pnpm lint:biome --write --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-tsc:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:tsc
    frontend-lint-eslint:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:eslint

Add test and validations for F.121 and F.122
  backend/openapi.json
  backend/src/domain/election.rs
  backend/src/domain/results/about_report.rs
  backend/src/domain/results/checks_and_corrections.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Add error check, only validate when PagePresent
  backend/src/domain/results/checks_and_corrections.rs
  backend/src/domain/results/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move DSOResults validation to own impl
  backend/src/domain/results/checks_and_corrections.rs
  backend/src/domain/results/dso_first_session_results.rs
  backend/src/domain/results/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Change F.13x descriptions
  backend/src/domain/results/checks_and_corrections.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove GSB check in AboutReport
  backend/src/domain/results/about_report.rs
  backend/src/domain/results/dso_first_session_results.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add test and validations for F.131 and F.132
  backend/src/domain/results/checks_and_corrections.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Moved up F.133 a level
  backend/src/domain/election.rs
  backend/src/domain/results/about_report.rs
  backend/src/domain/results/checks_and_corrections.rs
  backend/src/domain/results/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix F.132 and update unit tests
  backend/src/domain/results/checks_and_corrections.rs
  backend/src/domain/results/mod.rs
  backend/src/domain/validate.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

cargo fmt and fixed fixtures and tests
  backend/src/domain/tabulation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

WIP fix ture
  backend/fixtures/election_12_dso_with_results.sql
  backend/src/domain/tabulation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add test cases for missing checks and corrections
  backend/src/domain/results/dso_first_session_results.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Implement root validations for DSO
  backend/src/domain/results/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove voter card count in fixture
  backend/fixtures/election_12_dso_with_results.sql
Due: none

test_with_list_exhaustion_triggering_1st_round_highest_average_assignment
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

test_with_absolute_majority_of_votes_and_seats
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

test_with_list_exhaustion_where_reassignment_starts_with_2nd_round_highest_average_assignment
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

test_with_absolute_majority_of_votes_but_not_seats_and_last_residual_seats_assigned_by_drawing_of_lots
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

extend test_apportionment_process_with_deceased_scenarios
  backend/apportionment/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

test_apportionment_process_with_deceased_candidate_elected_by_list_position
  backend/apportionment/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

typo fix
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

test_with_drawing_of_lots_for_multiple_groups_of_candidates_with_equal_votes + scenario
  backend/apportionment/src/candidate_nomination/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

test_with_absolute_majority_of_votes_but_not_seats_and_single_last_residual_seat_assigned_by_drawing_of_lots
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

test_with_gte_19_seats_and_non_consecutive_list_and_candidate_numbers + small fix
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Corrected election 12 fixture to be of correct category
  backend/fixtures/election_12_dso_with_results.sql
Due: none

Added DSO validation rules to frontend
  frontend/src/i18n/locales/nl/feedback_GSB.json
Due: none

Switch back order of candidate list import and committee category in election creation flow
  frontend/e2e-tests/tests/election/election-create.e2e.ts
  frontend/e2e-tests/tests/full-flow/full-flow-CSB.e2e.ts
  frontend/e2e-tests/tests/full-flow/full-flow-GSB.e2e.ts
  frontend/src/features/election_create/components/CommitteeCategory.test.tsx
  frontend/src/features/election_create/components/CommitteeCategory.tsx
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_create/components/UploadCandidatesDefinition.tsx
  frontend/src/features/election_create/components/UploadElectionDefinition.test.tsx
  frontend/src/features/election_create/components/UploadElectionDefinition.tsx
  frontend/src/features/election_create/routes.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Switch back order of candidate list import and committee category in election creation flow (#3859)
  frontend/e2e-tests/tests/election/election-create.e2e.ts
  frontend/e2e-tests/tests/full-flow/full-flow-CSB.e2e.ts
  frontend/e2e-tests/tests/full-flow/full-flow-GSB.e2e.ts
  frontend/src/features/election_create/components/CommitteeCategory.test.tsx
  frontend/src/features/election_create/components/CommitteeCategory.tsx
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_create/components/UploadCandidatesDefinition.tsx
  frontend/src/features/election_create/components/UploadElectionDefinition.test.tsx
  frontend/src/features/election_create/components/UploadElectionDefinition.tsx
  frontend/src/features/election_create/routes.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Changed committee_session_details_present function to camelCase
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/utils/committeeSession.test.ts
  frontend/src/utils/committeeSession.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Add util for determining if committee session details are present in frontend
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/utils/committeeSession.test.ts
  frontend/src/utils/committeeSession.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Only show buttons in MissingCommitteeSessionDetailsModal to coordinator
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/i18n/locales/nl/election_management.json
Due: frontend-lint-tsc, frontend-lint-eslint

Added check for counting method CSO to existing handlers and added tests
  backend/src/api/document.rs
  backend/src/api/tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added DSO download sections and added tests
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/i18n/locales/nl/election_management.json
Due: frontend-lint-tsc, frontend-lint-eslint

Added API endpoints for downloading DSO documents and tests
  backend/openapi.json
  backend/src/api/document.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Also use committee_session_details_present function in ElectionReportPage
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Added check for committee session details present in na 14-1 versie 1 download
  backend/src/api/document.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add missing committee session details modal in frontend for Na 14-1 versie 1 download
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/election_management/components/ElectionManagement.module.css
  frontend/src/i18n/locales/nl/election_management.json
Due: frontend-lint-tsc, frontend-lint-eslint

Split CSO download sections into separate functions and adjusted only 2nd session download to next session download
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Only build candidates tables once
  backend/src/api/document.rs
  backend/src/domain/models/votes_table.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Removed change to election fixture
  backend/fixtures/election_12_dso_with_results.sql
  backend/src/repository/data_entry_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi
