Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

backend-sqlx-prepare:
  run: 'cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite && cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets && git add .sqlx && rm sqlx-cache-tmp.sqlite
  
    '

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi && git add openapi.json && cd ../frontend && pnpm gen:openapi && git add src/types/generated/openapi.ts
  
    '

frontend-lint-tsc:
  run: pnpm lint:tsc

frontend-lint-eslint:
  run: pnpm lint:eslint

YesNo is now Copy, make ReasonInvestigationOwnInitiative also Copy
  backend/src/domain/results/checks_and_corrections.rs
  backend/src/domain/results/dso_first_session_results.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Generate DSOFirstSessionResults for DSO counting method (#3868)
  backend/src/domain/results/checks_and_corrections.rs
  backend/src/domain/results/counting_differences_polling_station.rs
  backend/src/domain/results/dso_first_session_results.rs
  backend/src/domain/results/extra_investigation.rs
  backend/src/domain/results/mod.rs
  backend/src/domain/results/yes_no.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix Vitest update to 4.1.11
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

Update to pnpm 11.21.0
  frontend/package.json
Due: none

Add validation F.311
  backend/openapi.json
  backend/src/domain/results/dso_first_session_results.rs
  backend/src/domain/validate.rs
  frontend/src/i18n/locales/nl/feedback_GSB.json
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Update to pnpm 11.21.0 (#3876)
  frontend/package.json
Due: none

Set up cargo-deny
  .github/workflows/build-lint-test.yml
  .github/workflows/cargo-deny.yml
  backend/deny.toml
Due: none

Add DSO overrides for validation results and make sure they are used if applicable
  frontend/src/i18n/locales/nl/feedback_GSB_DSO.json
  frontend/src/i18n/locales/nl/nl.ts
  frontend/src/i18n/translate.test.tsx
  frontend/src/i18n/translate.ts
  frontend/src/utils/ValidationResults.test.ts
  frontend/src/utils/ValidationResults.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Update Feedback stories to add separate GSB CSO and DSO elections in the args
  frontend/src/components/ui/Feedback/Feedback.stories.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Prevent more warnings about the Vite config using features that are unsupported by `configLoader: 'native'`
  frontend/src/types/openapi.test.ts
  frontend/vitest.config.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Add validation F.311 (#3878)
  backend/openapi.json
  backend/src/domain/results/dso_first_session_results.rs
  backend/src/domain/validate.rs
  frontend/src/i18n/locales/nl/feedback_GSB.json
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Use never undefined import.meta.dirname inline
  frontend/vitest.config.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Only keep the tests for the errors and removed the rest as agreed upon
  frontend/src/features/data_entry/components/about_report/AboutReportForm.test.tsx
  frontend/src/features/data_entry/components/checks_and_corrections/ChecksAndCorrectionsForm.test.tsx
  frontend/src/features/data_entry/components/counting_differences_polling_station/CountingDifferencesPollingStationForm.test.tsx
  frontend/src/features/data_entry/components/extra_investigation/ExtraInvestigationForm.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Improved mock data
  frontend/src/features/data_entry/components/about_report/AboutReportForm.test.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveSection.test.tsx
  frontend/src/features/data_entry/components/checks_and_corrections/ChecksAndCorrectionsForm.test.tsx
  frontend/src/features/data_entry/testing/mock-data.ts
  frontend/src/features/data_entry/testing/test.utils.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.test.ts
  frontend/src/features/data_entry/utils/reducer.test.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Fixes #3865
  frontend/src/features/data_entry/utils/dataEntryUtils.test.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Set up cargo-deny (#3879)
  .github/workflows/build-lint-test.yml
  .github/workflows/cargo-deny.yml
  backend/deny.toml
Due: none

Add checks and correction checkboxes to EML output
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add GSB selection
  backend/src/api/election.rs
  backend/src/eml/mod.rs
  frontend/src/features/election_create/components/CheckAndSave.tsx
  frontend/src/features/election_create/components/CommitteeCategory.tsx
  frontend/src/features/election_create/components/ElectionCreateContextProvider.tsx
  frontend/src/features/election_create/components/SelectGSB.module.css
  frontend/src/features/election_create/components/SelectGSB.tsx
  frontend/src/features/election_create/components/UploadCandidatesDefinition.test.tsx
  frontend/src/features/election_create/components/UploadCandidatesDefinition.tsx
  frontend/src/features/election_create/components/UploadPollingStationDefinition.tsx
  frontend/src/features/election_create/routes.tsx
  frontend/src/i18n/locales/nl/election.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Tests SelectGSB, refactor ElectionMockData
  frontend/src/features/election_create/components/CommitteeCategory.test.tsx
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_create/components/ImportedElectionInformation.stories.tsx
  frontend/src/features/election_create/components/SelectGSB.test.tsx
  frontend/src/features/election_create/components/UploadCandidatesDefinition.test.tsx
  frontend/src/features/election_create/components/UploadElectionDefinition.test.tsx
  frontend/src/features/election_overview/components/OverviewPage.test.tsx
  frontend/src/testing/api-mocks/ElectionMockData.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Add full flow tests and other tests
  frontend/src/features/election_create/components/CommitteeCategory.test.tsx
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_overview/components/OverviewPage.test.tsx
  frontend/src/testing/api-mocks/ElectionMockData.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Fix lint for ElectionCreateContextProvider
  frontend/src/features/election_create/components/ElectionCreateContextProvider.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

isOneOf helper
  frontend/src/features/election_create/components/CommitteeCategory.tsx
  frontend/src/features/election_create/components/CountingMethodType.tsx
  frontend/src/features/users/components/create/UserCreateRolePage.tsx
  frontend/src/features/users/hooks/UserCreateContext.test.tsx
  frontend/src/features/users/hooks/UserCreateContext.tsx
  frontend/src/utils/typeChecks.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Added rendering of district on applicable models and added ps2 input variations
  backend/src/bin/gen-pdf.rs
  backend/src/domain/models/model_n_10_1.rs
  backend/src/domain/models/model_n_10_2.rs
  backend/src/domain/models/model_na_14_1.rs
  backend/src/domain/models/model_na_14_2.rs
  backend/src/domain/models/model_na_31_1.rs
  backend/src/domain/models/model_na_31_2.rs
  backend/src/domain/models/model_p_2a.rs
  backend/templates/common/scripts.typ
  backend/templates/inputs/model-n-10-1-variations/model-n-10-1-PS1.json
  backend/templates/inputs/model-n-10-1-variations/model-n-10-1-PS2.json
  backend/templates/inputs/model-n-10-2-variations/model-n-10-2-PS1.json
  backend/templates/inputs/model-n-10-2-variations/model-n-10-2-PS2.json
  backend/templates/inputs/model-na-14-1-versie-1-variations/model-na-14-1-versie-1-PS1.json
  backend/templates/inputs/model-na-14-1-versie-1-variations/model-na-14-1-versie-1-PS2.json
  backend/templates/inputs/model-na-14-1-versie-2-variations/model-na-14-1-versie-2-PS1.json
  backend/templates/inputs/model-na-14-1-versie-2-variations/model-na-14-1-versie-2-PS2.json
  backend/templates/inputs/model-na-14-2-variations/model-na-14-2-PS1.json
  backend/templates/inputs/model-na-14-2-variations/model-na-14-2-PS2.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-PS1.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-PS2.json
  backend/templates/inputs/model-na-31-2-variations/model-na-31-2-PS1.json
  backend/templates/inputs/model-na-31-2-variations/model-na-31-2-PS2.json
  backend/templates/inputs/model-p-2a-variations/model-p-2a-PS1.json
  backend/templates/inputs/model-p-2a-variations/model-p-2a-PS2.json
  backend/templates/model-n-10-1.typ
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-14-1-versie-1.typ
  backend/templates/model-na-14-1-versie-2.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-2a.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added #input.election.authority_id to location name of public body as well
  backend/templates/model-na-14-2-bijlage-1.typ
  backend/templates/model-na-31-2-inlegvel.typ
  backend/templates/model-p-22-2.typ
Due: none

Update backend/src/eml/mod.rs
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Prevent more Vite warnings (#3881)
  frontend/src/types/openapi.test.ts
  frontend/vitest.config.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Changed test to check F401 that has an override for both content and actions
  frontend/src/utils/ValidationResults.test.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Fixed vars in title and added tests
  frontend/src/i18n/feedback-structure.test.tsx
  frontend/src/utils/ValidationResults.test.ts
  frontend/src/utils/ValidationResults.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Fix election mock
  frontend/src/testing/api-mocks/ElectionMockData.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Changed newly added tests to check for actual strings
  frontend/src/utils/ValidationResults.test.ts
Due: frontend-lint-tsc, frontend-lint-eslint

ElectionCreateContextProvider reset props
  frontend/src/features/election_create/components/ElectionCreateContextProvider.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Added DSO specific validation feedback texts (#3880)
  frontend/src/components/ui/Feedback/Feedback.stories.tsx
  frontend/src/i18n/feedback-structure.test.tsx
  frontend/src/i18n/locales/nl/feedback_GSB_DSO.json
  frontend/src/i18n/locales/nl/nl.ts
  frontend/src/i18n/translate.test.tsx
  frontend/src/i18n/translate.ts
  frontend/src/utils/ValidationResults.test.ts
  frontend/src/utils/ValidationResults.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Added one last authority_id for public body and improved get_district_number function
  backend/templates/common/scripts.typ
  backend/templates/model-na-31-2-bijlage-1.typ
Due: none

Some updates to Typst models (#3884)
  backend/src/bin/gen-pdf.rs
  backend/src/domain/models/model_n_10_1.rs
  backend/src/domain/models/model_n_10_2.rs
  backend/src/domain/models/model_na_14_1.rs
  backend/src/domain/models/model_na_14_2.rs
  backend/src/domain/models/model_na_31_1.rs
  backend/src/domain/models/model_na_31_2.rs
  backend/src/domain/models/model_p_2a.rs
  backend/templates/common/scripts.typ
  backend/templates/common/style.typ
  backend/templates/inputs/model-n-10-1-variations/model-n-10-1-PS1.json
  backend/templates/inputs/model-n-10-1-variations/model-n-10-1-PS2.json
  backend/templates/inputs/model-n-10-2-variations/model-n-10-2-PS1.json
  backend/templates/inputs/model-n-10-2-variations/model-n-10-2-PS2.json
  backend/templates/inputs/model-na-14-1-versie-1-variations/model-na-14-1-versie-1-PS1.json
  backend/templates/inputs/model-na-14-1-versie-1-variations/model-na-14-1-versie-1-PS2.json
  backend/templates/inputs/model-na-14-1-versie-2-variations/model-na-14-1-versie-2-PS1.json
  backend/templates/inputs/model-na-14-1-versie-2-variations/model-na-14-1-versie-2-PS2.json
  backend/templates/inputs/model-na-14-2-variations/model-na-14-2-PS1.json
  backend/templates/inputs/model-na-14-2-variations/model-na-14-2-PS2.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-PS1.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-PS2.json
  backend/templates/inputs/model-na-31-2-variations/model-na-31-2-PS1.json
  backend/templates/inputs/model-na-31-2-variations/model-na-31-2-PS2.json
  backend/templates/inputs/model-p-2a-variations/model-p-2a-PS1.json
  backend/templates/inputs/model-p-2a-variations/model-p-2a-PS2.json
  backend/templates/model-n-10-1.typ
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-14-1-versie-1.typ
  backend/templates/model-na-14-1-versie-2.typ
  backend/templates/model-na-14-2-bijlage-1.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-2-bijlage-1.typ
  backend/templates/model-na-31-2-inlegvel.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-22-2-bijlage-1.typ
  backend/templates/model-p-22-2.typ
  backend/templates/model-p-2a.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update Sigrid scope file
  sigrid.yaml
Due: none

Explicitly list Results variant
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

use as_bool(), ignore when None
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove check for corrected_results_csb_request in tabulation
  backend/src/domain/tabulation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-lint-tsc: any of: *.{ts,tsx} and ^frontend/
  frontend-lint-eslint: any of: *.{ts,tsx} and ^frontend/
