Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

backend-sqlx-prepare:
  run: 'cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite && cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets && git add .sqlx && rm sqlx-cache-tmp.sqlite
  
    '

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi && git add openapi.json && cd ../frontend && pnpm gen:openapi && git add src/types/generated/openapi.ts
  
    '

frontend-lint-tsc:
  run: pnpm lint:tsc

frontend-lint-eslint:
  run: pnpm lint:eslint

Undo votes_table title change
  backend/templates/common/scripts.typ
  backend/templates/model-na-14-2-bijlage1.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-2-bijlage1.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-22-2-bijlage1.typ
Due: none

Improve UI a bit
  backend/openapi.json
  backend/src/bin/gen-test-election.rs
  backend/src/test_data_gen/api.rs
  backend/src/test_data_gen/mod.rs
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Processed review comments
  backend/src/domain/results/gsb_differences_counts.rs
  backend/src/domain/validate.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix frontend JSON error and spelling error in backend
  backend/src/test_data_gen/api.rs
  backend/src/test_data_gen/generators.rs
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Account for candidates per pg during pg generation
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

CSB validation errors: replace F305..F309 with F312 (#3143)
  backend/openapi.json
  backend/src/domain/results/gsb_differences_counts.rs
  backend/src/domain/results/gsb_results.rs
  backend/src/domain/validate.rs
  frontend/src/i18n/locales/nl/feedback_CSB.json
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Updated vulnerable rand dependency in fuzz crate as well
  backend/fuzz/Cargo.lock
Due: none

Updated vulnerable rand dependency in fuzz crate as well (#3178)
  backend/fuzz/Cargo.lock
Due: none

Add apportionment fuzz crate
  .github/dependabot.yml
  .github/workflows/build-lint-test.yml
  backend/apportionment/fuzz/.gitignore
  backend/apportionment/fuzz/Cargo.lock
  backend/apportionment/fuzz/Cargo.toml
  backend/apportionment/fuzz/fuzz_targets/simple_apportionment.rs
  backend/apportionment/fuzz/rust-toolchain
  backend/apportionment/fuzz/src/apportionment_input.rs
  backend/apportionment/fuzz/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Implement F204 (#3176)
  backend/openapi.json
  backend/src/domain/results/votes_counts.rs
  backend/src/domain/validate.rs
  frontend/src/i18n/locales/nl/feedback_CSB.json
  frontend/src/i18n/locales/nl/feedback_GSB.json
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Implement W205
  backend/openapi.json
  backend/src/domain/results/gsb_results.rs
  backend/src/domain/validate.rs
  frontend/src/i18n/locales/nl/feedback_CSB.json
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Implement W206
  backend/openapi.json
  backend/src/domain/results/gsb_results.rs
  backend/src/domain/validate.rs
  frontend/src/i18n/locales/nl/feedback_CSB.json
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Generate elections for P 22-2 variants (#3168)
  backend/openapi.json
  backend/src/bin/gen-test-election.rs
  backend/src/test_data_gen/api.rs
  backend/src/test_data_gen/generators.rs
  backend/src/test_data_gen/mod.rs
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Fix for tsconfig/test
  frontend/src/app/RootLayout.test.tsx
  frontend/tsconfig.json
Due: frontend-lint-tsc, frontend-lint-eslint

Small improvements
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/testing/user-mock-data.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Copy updates based on findings (#3157)
  backend/templates/model-na-14-2-bijlage1.typ
  backend/tests/committee_session_integration_test.rs
  frontend/e2e-tests/page-objects/data_entry/DataEntryHomePgObj.ts
  frontend/e2e-tests/page-objects/election/ElectionDetailsPgObj.ts
  frontend/e2e-tests/page-objects/election/ResolveDifferencesPgObj.ts
  frontend/e2e-tests/tests/data-entry/data-entry-with-gaps.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
  frontend/src/features/account/components/AccountSetupForm.test.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/election_management/components/update/CommitteeSessionDetailsPage.test.tsx
  frontend/src/features/election_status/components/CategoryRow.tsx
  frontend/src/features/election_status/components/ElectionStatus.module.css
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.tsx
  frontend/src/i18n/locales/nl/account.json
  frontend/src/i18n/locales/nl/data_entry.json
  frontend/src/i18n/locales/nl/election_management.json
  frontend/src/i18n/locales/nl/resolve_differences.json
  frontend/src/utils/dateTime.test.ts
  frontend/src/utils/dateTime.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Add apportionment fuzz crate (#3180)
  .github/dependabot.yml
  .github/workflows/build-lint-test.yml
  backend/apportionment/fuzz/.gitignore
  backend/apportionment/fuzz/Cargo.lock
  backend/apportionment/fuzz/Cargo.toml
  backend/apportionment/fuzz/fuzz_targets/simple_apportionment.rs
  backend/apportionment/fuzz/rust-toolchain
  backend/apportionment/fuzz/src/apportionment_input.rs
  backend/apportionment/fuzz/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

adds space to hashes in template inputs to match format after generation
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-na-31-2.json
  backend/templates/inputs/model-p-22-2.json
Due: none

Frontend CSB apportionment integration (#3156)
  frontend/src/components/navbar/NavBar.stories.tsx
  frontend/src/components/navbar/NavBar.test.tsx
  frontend/src/components/navbar/NavBarLinks.tsx
  frontend/src/features/apportionment/components/Apportionment.module.css
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/routes.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.stories.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/features/election_management/components/report/FinishDataEntryPage.test.tsx
  frontend/src/features/election_management/components/report/FinishDataEntryPage.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.test.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
  frontend/src/i18n/locales/nl/apportionment.json
  frontend/src/i18n/locales/nl/election_management.json
  frontend/src/i18n/locales/nl/election_status.json
  frontend/src/testing/api-mocks/ElectionMockData.ts
  frontend/src/testing/user-mock-data.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Added hash and timestamp to bijlage 1
  backend/src/domain/models/model_p_22_2.rs
  backend/templates/inputs/model-p-22-2-bijlage1.json
  backend/templates/model-p-22-2-bijlage1.typ
  backend/templates/model-p-22-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Moved CommitteeSessionNotCompleted Apportionment error out of crate
  backend/apportionment/src/structs.rs
  backend/src/api/apportionment/handlers.rs
  backend/src/api/apportionment/mod.rs
  backend/src/error.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Formatted 2 more hashes
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
Due: none

Fix formatting of hashes in template inputs (#3187)
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-na-31-2.json
  backend/templates/inputs/model-p-22-2.json
Due: none

Update backend/src/domain/validate.rs
  backend/src/domain/validate.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Made existing apportionment integration tests work again
  backend/fixtures/election_10_csb.sql
  backend/fixtures/election_8_csb.sql
  backend/fixtures/election_8_csb_with_results.sql
  backend/fixtures/election_9_csb.sql
  backend/src/api/data_entry.rs
  backend/src/infra/seed_data.rs
  backend/src/service/sub_committee.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added tests for apportionment for non csb election and committee session not completed
  backend/tests/apportionment_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Convert ApportionmentError into ApportionmentApiError
  backend/src/api/apportionment/handlers.rs
  backend/src/api/apportionment/mod.rs
  backend/src/error.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update backend/src/api/data_entry.rs
  backend/src/api/data_entry.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Processed review comments
  backend/fixtures/election_10_csb.sql
  backend/fixtures/election_8_csb_with_results.sql
  backend/fixtures/election_9_csb.sql
  backend/src/test_data_gen/generators.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/data_entries_resolve_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Undo previous change, improved naming and improved test result functions
  backend/src/api/data_entry.rs
  backend/tests/investigation_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Rename create_result function to create_cso_result
  backend/tests/committee_session_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add differential apportionment fuzzing against OSV2020
  backend/apportionment/fuzz/Cargo.lock
  backend/apportionment/fuzz/Cargo.toml
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/fuzz/src/apportionment_input.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Moved CommitteeSessionNotCompleted Apportionment error out of crate (#3189)
  backend/apportionment/src/structs.rs
  backend/src/api/apportionment/handlers.rs
  backend/src/api/apportionment/mod.rs
  backend/src/error.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Implement W205 (#3182)
  backend/openapi.json
  backend/src/domain/results/gsb_results.rs
  backend/src/domain/validate.rs
  frontend/src/i18n/locales/nl/feedback_CSB.json
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Remove `CommitteeSessionNotCompleted` handling
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Exclude fuzz code from Sigrid analysis
  sigrid.yaml
Due: none

Create P 22-2 Bijlage 1 pdf in Typst (#3175)
  backend/src/bin/gen-pdf.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/models/model_p_22_2.rs
  backend/src/infra/pdf_gen/sources.rs
  backend/templates/inputs/model-p-22-2-bijlage1.json
  backend/templates/model-p-22-2-bijlage1.typ
  backend/templates/model-p-22-2.typ
  backend/templates/visual-diff.sh
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Restrict apportionment to CSB only in backend (#3190)
  backend/fixtures/election_10_csb.sql
  backend/fixtures/election_8_csb.sql
  backend/fixtures/election_8_csb_with_results.sql
  backend/fixtures/election_9_csb.sql
  backend/openapi.json
  backend/src/api/apportionment/mod.rs
  backend/src/api/data_entry.rs
  backend/src/infra/seed_data.rs
  backend/src/service/sub_committee.rs
  backend/src/test_data_gen/generators.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/committee_session_integration_test.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/data_entries_resolve_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/investigation_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Don't trigger W206 when W205
  backend/src/domain/results/gsb_results.rs
  backend/src/domain/validate.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-lint-tsc: any of: *.{ts,tsx} and ^frontend/
  frontend-lint-eslint: any of: *.{ts,tsx} and ^frontend/
