Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi && 
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add lib/api/gen/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Added missing icon and translations
  frontend/src/components/election_status_with_icon/ElectionStatusWithIcon.tsx
  frontend/src/features/election_management/components/CheckElectionDefinition.tsx
  frontend/src/lib/i18n/locales/nl/election_status.json
Due: frontend-linter

adds and extends DataEntryProgress tests
  frontend/src/features/data_entry/components/DataEntryProgress.test.tsx
  frontend/src/features/data_entry/components/DataEntryProgress.tsx
  frontend/src/features/data_entry/testing/mock-data.ts
  frontend/src/features/data_entry/testing/test.utils.ts
Due: frontend-linter

explicitly adds P 22-2 sectie 2.11 Hertelling to use cases
  documentatie/use-cases/csb-zitting.md
  documentatie/use-cases/input-output-bestanden.md
Due: none

removes redundant comment in parentheses
  documentatie/use-cases/csb-zitting.md
Due: none

Enumerate the different types of error types and how they should be handled
  documentatie/softwarearchitectuur/foutafhandeling.md
Due: none

Instructies invoerder (#1318)
  documentatie/gebruikersdocumentatie/img/invoeren-account-instellen.png
  documentatie/gebruikersdocumentatie/img/invoeren-controleren-opslaan.png
  documentatie/gebruikersdocumentatie/img/invoeren-hertelling-ja-nee.png
  documentatie/gebruikersdocumentatie/img/invoeren-kies-stembureau.png
  documentatie/gebruikersdocumentatie/img/invoeren-kiezers-stemmen-waarschuwingen.png
  documentatie/gebruikersdocumentatie/img/invoeren-lijst.png
  documentatie/gebruikersdocumentatie/img/invoeren-stembureaunummer-invoeren.png
  documentatie/gebruikersdocumentatie/img/invoeren-verkiezing-selecteren.png
  documentatie/gebruikersdocumentatie/img/invoeren-verschillen.png
  documentatie/gebruikersdocumentatie/instructies-invoerder.md
Due: none

cleans up comments and data helpers in test
  frontend/src/features/data_entry/components/DataEntryProgress.test.tsx
Due: frontend-linter

makes condition for Link consistent in DataEntryProgress
  frontend/src/features/data_entry/components/DataEntryProgress.tsx
Due: frontend-linter

removes TODO, because should not be done
  frontend/src/features/data_entry/components/DataEntryProgress.test.tsx
Due: frontend-linter

- moved some files - removed almost all imports from app
  frontend/src/app/MockTest.tsx
  frontend/src/app/routes.tsx
  frontend/src/components/error/ErrorBoundary.tsx
  frontend/src/components/layout/AdministratorLayout.tsx
  frontend/src/components/layout/ElectionLayout.tsx
  frontend/src/components/layout/RootLayout.tsx
  frontend/src/components/page/FatalErrorPage.tsx
  frontend/src/components/page/NotFoundPage.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/data_entry/routes.tsx
  frontend/src/features/data_entry_choice/components/DataEntryChoicePage.test.tsx
  frontend/src/features/data_entry_choice/routes.tsx
  frontend/src/features/dev/components/DevHomePage.test.tsx
  frontend/src/features/dev/components/DevHomePage.tsx
  frontend/src/features/dev/routes.tsx
  frontend/src/features/election_management/components/ElectionReportPage.test.tsx
  frontend/src/features/logs/routes.tsx
  frontend/src/features/users/components/create/UserCreate.test.tsx
  frontend/src/features/users/routes.tsx
  frontend/src/features/workstations/routes.tsx
Due: frontend-linter

fix import after merging main into branch
  frontend/src/features/data_entry/components/DataEntryProgress.test.tsx
Due: frontend-linter

aanpassing nav review
  documentatie/use-cases/csb-zitting.md
  documentatie/use-cases/input-output-bestanden.md
Due: none

Analyse GitHub Actions workflows using CodeQL
  .github/workflows/codeql-analysis.yml
Due: none

Add permissions to GitHub Actions workflows
  .github/workflows/build-lint-test.yml
  .github/workflows/codecov.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/sigrid-pr-feedback.yml
  .github/workflows/sigrid-publish.yml
Due: none

Pin commit hashes for third party actions
  .github/workflows/build-lint-test.yml
  .github/workflows/cla.yml
  .github/workflows/codecov.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
  .github/workflows/sigrid-pr-feedback.yml
  .github/workflows/sigrid-publish.yml
Due: none

rename folder
  frontend/src/components/dev/MockTest.tsx
  frontend/src/features/dev/components/DevHomePage.tsx
Due: frontend-linter

remove .only. why could I commit this?
  frontend/src/features/data_entry_choice/components/DataEntryChoicePage.test.tsx
Due: frontend-linter

Endpoint now only available to Coordinator
  backend/src/data_entry/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Apply suggestions from code review
  .github/workflows/cla.yml
Due: none

Harden GitHub Actions workflows (#1412)
  .github/workflows/build-lint-test.yml
  .github/workflows/cla.yml
  .github/workflows/codecov.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
  .github/workflows/sigrid-pr-feedback.yml
  .github/workflows/sigrid-publish.yml
Due: none

Renamed retracted to redacted
  backend/openapi.json
  backend/src/election/api.rs
  backend/src/eml/hash.rs
  backend/src/eml/mod.rs
  frontend/src/features/election_management/components/CheckElectionDefinition.tsx
  frontend/src/features/election_management/components/RedactedHash.module.css
  frontend/src/features/election_management/components/RedactedHash.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fixed import feature flag
  backend/src/election/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Apply suggestions from code review
  documentatie/softwarearchitectuur/foutafhandeling.md
Due: none

remove console.log
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
Due: frontend-linter

fix typo
  frontend/src/features/resolve_differences/routes.tsx
Due: frontend-linter

solves TODO
  frontend/src/features/data_entry/testing/mock-data.ts
Due: frontend-linter

Add air-gap details
  documentatie/softwarearchitectuur/foutafhandeling.md
Due: none

removes double idle class in ProgressList
  frontend/src/components/ui/ProgressList/ProgressList.tsx
  frontend/src/features/data_entry/components/DataEntryProgress.test.tsx
Due: frontend-linter

move root paths to root routes file
  frontend/src/app/routes.tsx
  frontend/src/features/account/routes.tsx
  frontend/src/features/apportionment/routes.tsx
  frontend/src/features/data_entry/routes.tsx
  frontend/src/features/dev/routes.tsx
  frontend/src/features/logs/routes.tsx
  frontend/src/features/polling_stations/routes.tsx
  frontend/src/features/resolve_differences/routes.tsx
  frontend/src/features/users/components/create/UserCreate.test.tsx
  frontend/src/features/users/routes.tsx
  frontend/src/features/workstations/routes.tsx
Due: frontend-linter

Remove redundant unique constraints in SQL tables
  backend/migrations/5_users.sql
  backend/migrations/6_sessions.sql
  backend/migrations/7_audit_log.sql
Due: none

Removed reference to article P 13
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/lib/i18n/locales/nl/apportionment.json
Due: frontend-linter

Remove redundant unique constraints in SQL tables (#1413)
  backend/migrations/5_users.sql
  backend/migrations/6_sessions.sql
  backend/migrations/7_audit_log.sql
Due: none

Removed error variant
  backend/openapi.json
  backend/src/error.rs
  frontend/src/lib/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

enum alphabetical order
  backend/src/eml/common.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

smaller small
  frontend/src/components/ui/Alert/Alert.tsx
Due: frontend-linter

import fmt
  backend/src/election/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update frontend/src/lib/i18n/locales/nl/election.json
  frontend/src/lib/i18n/locales/nl/election.json
Due: none

Update to React Router v7.5.2
  frontend/package-lock.json
  frontend/package.json
Due: none

Run `npm update`
  frontend/package-lock.json
Due: none
