Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: cargo run --package backend --bin gen-openapi && git add openapi.json
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-typescript:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npx tsc
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Add test and Ladle stories for NavBar
  frontend/app/component/navbar/NavBar.stories.tsx
  frontend/app/component/navbar/NavBar.test.tsx
Due: frontend-typescript, frontend-linter

Updated surplus system to take political groups with surplus of 0 into account (#937)
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Apportionment table styling improvements
  frontend/app/module/election/page/ElectionApportionmentPage.module.css
Due: none

Added: apportionment api context, provider, hook and summary and apportionment tables.
  backend/.sqlx/query-9074758cd2f5fafb51332f94f082deb10b072e1667ec177de5611059b59588af.json
  backend/.sqlx/query-a05098423f372acd52a02a0fa20afe5f16a93769bf29cf91220b28448ae26fb5.json
  backend/.sqlx/query-a973de604e0606e4025d2dfa191f7a7888e3e2c421e417f3d1908a32f25a350d.json
  backend/.sqlx/query-b9eacf02a1333eb1cb3dcb1afa6a7549d0b80a624d5cd770778e01c03f30b945.json
  backend/src/fixtures.rs
  backend/src/lib.rs
  backend/tests/apportionment_integration_test.rs
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/election/ElectionApportionmentLayout.tsx
  frontend/app/module/election/index.ts
  frontend/app/module/election/page/ElectionApportionmentPage.module.css
  frontend/app/module/election/page/ElectionApportionmentPage.tsx
  frontend/app/module/election/page/ElectionHomePage.tsx
  frontend/app/module/election/page/ElectionReportPage.tsx
  frontend/app/module/election/page/index.ts
  frontend/app/routes.tsx
  frontend/lib/api/ApiProvider.tsx
  frontend/lib/api/election/ElectionApportionmentProvider.tsx
  frontend/lib/api/election/ElectionApportionmentProviderContext.tsx
  frontend/lib/api/election/index.ts
  frontend/lib/api/election/useElectionApportionment.ts
  frontend/lib/api/index.ts
  frontend/lib/api/useElectionApportionmentRequest.ts
  frontend/lib/i18n/locales/nl/apportionment.json
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/i18n/locales/nl/nl.ts
  frontend/lib/icon/generated.tsx
  frontend/lib/icon/svg/chevronRight.svg
  frontend/lib/ui/InputGrid/InputGrid.module.css
  frontend/lib/ui/Table/Table.module.css
  frontend/lib/ui/Table/Table.tsx
  frontend/lib/ui/style/util.css
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Added unique key to each link row
  frontend/app/module/election/page/ElectionApportionmentPage.tsx
Due: frontend-typescript, frontend-linter

Undo fixtures change and improved styling of table
  backend/src/fixtures.rs
  frontend/app/module/election/page/ElectionApportionmentPage.module.css
  frontend/lib/ui/style/util.css
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Adjusted font of number/seats columns in apportionment tables
  frontend/app/module/election/page/ElectionApportionmentPage.module.css
  frontend/lib/ui/DisplayFraction/DisplayFraction.module.css
  frontend/lib/ui/DisplayFraction/DisplayFraction.tsx
Due: frontend-typescript, frontend-linter

Added DisplayFraction ui element and added formatNumber to number rendering in table
  frontend/app/module/election/page/ElectionApportionmentPage.module.css
  frontend/app/module/election/page/ElectionApportionmentPage.tsx
  frontend/lib/i18n/locales/nl/apportionment.json
  frontend/lib/ui/DisplayFraction/DisplayFraction.module.css
  frontend/lib/ui/DisplayFraction/DisplayFraction.tsx
  frontend/lib/ui/index.ts
Due: frontend-typescript, frontend-linter

Fixed apportionment header column alignment
  frontend/app/module/election/page/ElectionApportionmentPage.module.css
Due: none

Added font-feature-settings to adjust the Geist Mono zero rendering
  frontend/app/module/election/page/ElectionApportionmentPage.module.css
Due: none

Removed margin-top from polling station selector feedback
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationSelector.module.css
Due: none

Do not run auth tests for release backends
  .github/workflows/release.yml
  frontend/e2e-tests/authentication.e2e.ts
Due: frontend-typescript, frontend-linter

ensures that Fraction adheres to the PartialEq requirements (in collaboration with @MichielP1807)
  backend/src/apportionment/fraction.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update `rand` modules renamed in 0.9.0
  backend/src/authentication/util.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Ran cargo sqlx prepare to prevent codecov backend errors
  backend/.sqlx/query-9074758cd2f5fafb51332f94f082deb10b072e1667ec177de5611059b59588af.json
  backend/.sqlx/query-a05098423f372acd52a02a0fa20afe5f16a93769bf29cf91220b28448ae26fb5.json
  backend/.sqlx/query-a973de604e0606e4025d2dfa191f7a7888e3e2c421e417f3d1908a32f25a350d.json
  backend/.sqlx/query-b9eacf02a1333eb1cb3dcb1afa6a7549d0b80a624d5cd770778e01c03f30b945.json
Due: none

Add static and scripts folders to frontend-structuur.md
  documentatie/softwarearchitectuur/frontend-structuur.md
Due: none

Moved apportionment frontend files to separate folders
  frontend/app/module/apportionment/ApportionmentLayout.tsx
  frontend/app/module/apportionment/index.ts
  frontend/app/module/apportionment/page/ApportionmentPage.module.css
  frontend/app/module/apportionment/page/ApportionmentPage.tsx
  frontend/app/module/apportionment/page/ApportionmentWholeSeatsPage.tsx
  frontend/app/module/apportionment/page/index.ts
  frontend/app/module/election/ElectionApportionmentLayout.tsx
  frontend/app/module/election/index.ts
  frontend/app/module/election/page/index.ts
  frontend/app/routes.tsx
  frontend/lib/api/apportionment/ApportionmentProvider.tsx
  frontend/lib/api/apportionment/ApportionmentProviderContext.tsx
  frontend/lib/api/apportionment/index.ts
  frontend/lib/api/apportionment/useApportionment.ts
  frontend/lib/api/election/index.ts
  frontend/lib/api/election/useElectionApportionment.ts
  frontend/lib/api/index.ts
  frontend/lib/api/useApportionmentRequest.ts
Due: frontend-typescript, frontend-linter

refactors check that events and states match between machine and test
  frontend/.eslintrc.cjs
  frontend/e2e-tests/data-entry.model.e2e.ts
  frontend/e2e-tests/xstate-helpers.ts
Due: frontend-typescript, frontend-linter

Use `useLocation` instead of `window.location`
  frontend/app/component/navbar/NavBar.tsx
  frontend/app/module/AdministratorLayout.tsx
  frontend/app/module/account/LoginLayout.tsx
  frontend/app/module/election/ElectionLayout.tsx
  frontend/app/module/election/page/OverviewPage.tsx
Due: frontend-typescript, frontend-linter

Remove flaky assert on user create time (Rust)
  backend/.sqlx/query-9074758cd2f5fafb51332f94f082deb10b072e1667ec177de5611059b59588af.json
  backend/.sqlx/query-a05098423f372acd52a02a0fa20afe5f16a93769bf29cf91220b28448ae26fb5.json
  backend/.sqlx/query-a973de604e0606e4025d2dfa191f7a7888e3e2c421e417f3d1908a32f25a350d.json
  backend/.sqlx/query-b9eacf02a1333eb1cb3dcb1afa6a7549d0b80a624d5cd770778e01c03f30b945.json
  backend/src/authentication/user.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Disable login e2e tests for release builds (#947)
  .github/workflows/release.yml
  frontend/e2e-tests/authentication.e2e.ts
Due: frontend-typescript, frontend-linter

Strip binary before upload and soft fail
  .github/workflows/build-lint-test.yml
  .github/workflows/release.yml
Due: none

Keep React Router version 7.1.3
  .github/dependabot.yml
Due: none

Removed margin-top from polling station selector feedback (#944)
  backend/.sqlx/query-9074758cd2f5fafb51332f94f082deb10b072e1667ec177de5611059b59588af.json
  backend/.sqlx/query-a05098423f372acd52a02a0fa20afe5f16a93769bf29cf91220b28448ae26fb5.json
  backend/.sqlx/query-a973de604e0606e4025d2dfa191f7a7888e3e2c421e417f3d1908a32f25a350d.json
  backend/.sqlx/query-b9eacf02a1333eb1cb3dcb1afa6a7549d0b80a624d5cd770778e01c03f30b945.json
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationSelector.module.css
Due: none

Strip binary before upload and soft fail (#952)
  .github/workflows/build-lint-test.yml
  .github/workflows/release.yml
Due: none

Remove flaky assert on user create time (Rust) (#950)
  backend/src/authentication/user.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Document current frontend folder structure (#914)
  documentatie/softwarearchitectuur/frontend-structuur.md
Due: none

Added fullname and role
  backend/.sqlx/query-1b07320538674e0088dee6d097c8e17f7a098f968d157f16be933d9376dc3a85.json
  backend/.sqlx/query-2a5040dcedacf6e8263e6f580f56dc20a61591cebc4a0bf54059676e888ceaa4.json
  backend/.sqlx/query-32a8e9af08fbc5b2954d00042aa20ffa61a31bdf9e0bed133eb814279a095899.json
  backend/.sqlx/query-3749ee7b5f459af8946627cf3921278251c3fa80da00f09d7590832cc7e5c743.json
  backend/.sqlx/query-3f25e0747a40ac1a825722549cdf8b319d7eb13e4283bd257197421ae3ed3997.json
  backend/.sqlx/query-50b53bbb640e1f74db7b93d5dc313eac8544d613ba90a90eddfb8f5b2305c6c9.json
  backend/.sqlx/query-69cddf1e4ddcf50c954043e14734c8689a5b6a016fce8e3dfd1e736d5b4db2e2.json
  backend/.sqlx/query-a05098423f372acd52a02a0fa20afe5f16a93769bf29cf91220b28448ae26fb5.json
  backend/.sqlx/query-a973de604e0606e4025d2dfa191f7a7888e3e2c421e417f3d1908a32f25a350d.json
  backend/.sqlx/query-b9eacf02a1333eb1cb3dcb1afa6a7549d0b80a624d5cd770778e01c03f30b945.json
  backend/.sqlx/query-c402a2abf8f87023d69be85403e28559280dcfc5e3a043aac567dc94deacc34f.json
  backend/.sqlx/query-eb5055e6772b6da6159d3bec7a4b49847ec0bd43f126013fa7b5db32bdbfc4ba.json
  backend/.sqlx/query-f36cdac2f6cc0283c5636fbeeed44c72909aac5931ad7bad0b1ea274b7de4bd9.json
  backend/migrations/5_users.sql
  backend/src/authentication/mod.rs
  backend/src/authentication/role.rs
  backend/src/authentication/user.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added last_activity_at field
  backend/.sqlx/query-459b318b484c7b41f85e4caf12efbee9807f3dcf2809923ca4f95bf9a87bd4bf.json
  backend/.sqlx/query-7fd4b2b5bfa83df14cbb3de7167dea4c55cec019ddf68d11516035199d35d204.json
  backend/.sqlx/query-85074a52bb2e0bd8f2bdce0d53ccca8667b1938ab8da684c48279e1985bbc97f.json
  backend/fixtures/users.sql
  backend/migrations/5_users.sql
  backend/src/authentication/role.rs
  backend/src/authentication/user.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add fields to listed user
  backend/.sqlx/query-368296a27d9de937f8ff76e1fb84c566354272c47f216edcc072603f6d67849d.json
  backend/.sqlx/query-9074758cd2f5fafb51332f94f082deb10b072e1667ec177de5611059b59588af.json
  backend/openapi.json
  backend/src/authentication/user.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Moved endpoints to serparate api file
  backend/openapi.json
  backend/src/apportionment/mod.rs
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/error.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

add role
  backend/.sqlx/query-2fff3407d5768d14d3181030f676b03719259f34154cfc9ebafbd81b36924cc5.json
  backend/openapi.json
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/role.rs
  backend/src/authentication/user.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

fmt?
  backend/src/error.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

reran sqlx prepare for all targers
  backend/.sqlx/query-1b07320538674e0088dee6d097c8e17f7a098f968d157f16be933d9376dc3a85.json
  backend/.sqlx/query-2a5040dcedacf6e8263e6f580f56dc20a61591cebc4a0bf54059676e888ceaa4.json
  backend/.sqlx/query-3749ee7b5f459af8946627cf3921278251c3fa80da00f09d7590832cc7e5c743.json
  backend/.sqlx/query-3f25e0747a40ac1a825722549cdf8b319d7eb13e4283bd257197421ae3ed3997.json
  backend/.sqlx/query-69cddf1e4ddcf50c954043e14734c8689a5b6a016fce8e3dfd1e736d5b4db2e2.json
  backend/.sqlx/query-c402a2abf8f87023d69be85403e28559280dcfc5e3a043aac567dc94deacc34f.json
  backend/.sqlx/query-eb5055e6772b6da6159d3bec7a4b49847ec0bd43f126013fa7b5db32bdbfc4ba.json
Due: none

Use React Router `NavLink` component
  frontend/app/component/navbar/NavBar.module.css
  frontend/app/component/navbar/NavBar.test.tsx
  frontend/app/component/navbar/NavBarLinks.tsx
Due: frontend-typescript, frontend-linter

Added whole seat and rest seat detail pages including content
  backend/openapi.json
  backend/src/apportionment/mod.rs
  frontend/app/module/apportionment/page/ApportionmentPage.module.css
  frontend/app/module/apportionment/page/ApportionmentPage.tsx
  frontend/app/module/apportionment/page/ApportionmentRestSeatsPage.tsx
  frontend/app/module/apportionment/page/ApportionmentWholeSeatsPage.tsx
  frontend/app/module/apportionment/page/index.ts
  frontend/app/routes.tsx
  frontend/lib/api/gen/openapi.ts
  frontend/lib/i18n/locales/nl/apportionment.json
  frontend/lib/ui/style/util.css
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Add role hashes to top level management links
  frontend/app/component/navbar/NavBarLinks.tsx
Due: frontend-typescript, frontend-linter

Update to `rand` 0.9.0
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/authentication/util.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Change to absolute `NavBar` imports
  frontend/app/module/election/ElectionLayout.tsx
  frontend/app/module/election/page/OverviewPage.tsx
Due: frontend-typescript, frontend-linter

exposing API via `use` instead of `pub mod`
  backend/openapi.json
  backend/src/apportionment/mod.rs
  backend/src/authentication/mod.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi
