Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: cargo run --package backend --bin gen-openapi
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Update README.md
  README.md
Due: none

last update for cla
  README.md
Due: none

tekst ingekort
  README.md
Due: none

nog wat korter
  README.md
Due: none

link to CLA
  README.md
Due: none

refactor tooltip refactor errorsAndWarnings
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/lib/api/api.d.ts
  frontend/lib/ui/FormField/FormField.tsx
  frontend/lib/ui/InputGrid/InputGridRow.tsx
  frontend/lib/ui/Tooltip/Tooltip.module.css
  frontend/lib/ui/Tooltip/Tooltip.tsx
  frontend/lib/util/hook/usePositiveNumberInputMask.ts
Due: frontend-linter

remove alert
  frontend/lib/ui/style/variables.css
Due: none

add scroll to top after submit
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
Due: frontend-linter

Set up GitHub Actions workflows for merge queue (#120)
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

Add software architecture diagrams (#93)
  documentatie/softwarearchitectuur/overzicht.md
  documentatie/softwarearchitectuur/structurizr/.gitignore
  documentatie/softwarearchitectuur/structurizr/Components.svg
  documentatie/softwarearchitectuur/structurizr/Container.svg
  documentatie/softwarearchitectuur/structurizr/README.md
  documentatie/softwarearchitectuur/structurizr/SystemLandscape.svg
  documentatie/softwarearchitectuur/structurizr/workspace.dsl
  documentatie/softwarearchitectuur/structurizr/workspace.json
Due: none

Polling station listing (#114)
  backend/migrations/3_polling_stations.sql
  backend/openapi.json
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/structs.rs
  backend/tests/election_integration_test.rs
  backend/tests/fixtures/elections.sql
  backend/tests/fixtures/polling_stations.sql
  backend/tests/polling_station_integration_test.rs
  backend/tests/utils.rs
Due: backend-formatter, backend-linter, backend-openapi

Eerste versie van ontwikkelproces (#94)
  documentatie/Proces voor ontwikkeling en releases.md
Due: none

aanpak, functies, bijdragen, security (#125)
  README.md
  documentatie/Functionaliteit eisen en wensen.md
  documentatie/Proces voor ontwikkeling en releases.md
Due: none

fix tests
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/test/unit/setup.ts
  frontend/lib/api-mocks/index.ts
  frontend/lib/ui/style/core.css
  frontend/package.json
Due: frontend-linter

fix stories
  frontend/lib/ui/FormField/FormField.stories.tsx
  frontend/lib/ui/Tooltip/Tooltip.stories.tsx
Due: frontend-linter

Extend data entry API with votes for candidates (#123)
  backend/fixtures/elections.sql
  backend/fixtures/polling_stations.sql
  backend/openapi.json
  backend/src/election/mod.rs
  backend/src/election/repository.rs
  backend/src/election/structs.rs
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/structs.rs
  backend/src/validation.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
Due: backend-formatter, backend-linter, backend-openapi

Fixed some colours
  frontend/lib/ui/Badge/badge.module.css
  frontend/lib/ui/Feedback/Feedback.module.css
  frontend/lib/ui/Feedback/Feedback.stories.tsx
  frontend/lib/ui/FormField/FormField.module.css
  frontend/lib/ui/InputField/InputField.module.css
  frontend/lib/ui/style/variables.css
Due: frontend-linter

Abstracted database interactions into repositories
  backend/src/election/mod.rs
  backend/src/election/repository.rs
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
  backend/src/repository.rs
Due: backend-formatter, backend-linter, backend-openapi

Repository via with_state
  backend/src/election/mod.rs
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/repository.rs
Due: backend-formatter, backend-linter, backend-openapi

fmt and clippy
  backend/src/lib.rs
  backend/src/repository.rs
Due: backend-formatter, backend-linter, backend-openapi

Repos now directly use pool
  backend/src/election/mod.rs
  backend/src/election/repository.rs
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
  backend/src/repository.rs
Due: backend-formatter, backend-linter, backend-openapi

Using derive instead of impl for SqlitePool
  backend/src/lib.rs
Due: backend-formatter, backend-linter, backend-openapi

fix tooltip
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/lib/ui/FormField/FormField.module.css
  frontend/lib/ui/InputGrid/InputGridRow.tsx
  frontend/lib/ui/Tooltip/Tooltip.tsx
  frontend/lib/ui/Tooltip/index.ts
  frontend/lib/ui/Tooltip/useTooltip.ts
  frontend/lib/ui/index.ts
  frontend/lib/util/hook/usePositiveNumberInputMask.ts
Due: frontend-linter

Abstracted database interactions into repositories (#126)
  backend/src/election/mod.rs
  backend/src/election/repository.rs
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
Due: backend-formatter, backend-linter, backend-openapi

CLA voor de repo (#88)
  CLA.md
Due: none

Removed old files, updated index files, removed testnumbers, added unique keys to InputGrid
  backend/tests/fixtures/polling_stations.sql
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/module/HomePage.tsx
  frontend/app/module/input/PollingStation/CandidatesVotesPage.tsx
  frontend/app/module/input/PollingStation/PollingStationLayout.tsx
  frontend/app/module/input/PollingStation/index.ts
  frontend/app/module/input/index.ts
  frontend/app/module/input/page/PollingStationPage.test.tsx
  frontend/app/module/input/page/PollingStationPage.tsx
  frontend/app/module/input/page/index.ts
Due: frontend-linter

add refocus to tooltip
  frontend/lib/ui/Tooltip/Tooltip.tsx
Due: frontend-linter

Fixed up and down arrow navigation, added autofocus on first item, fixed focus highlighting
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/module/input/PollingStation/CandidatesVotesPage.tsx
Due: frontend-linter

Added focused highlighting to autofocused field
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/lib/ui/InputGrid/InputGrid.tsx
Due: frontend-linter

Fix voor proxy error?
  frontend/lib/api/useElectionDataRequest.ts
Due: frontend-linter

logo
  documentatie/img/abacus.png
Due: none

Added tests for CancidatesVotesForm and for autofocus
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/test/e2e/smoketest.e2e.ts
  frontend/lib/api-mocks/ElectionMockData.ts
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/useElectionDataRequest.test.ts
  frontend/lib/api/useElectionDataRequest.ts
  frontend/lib/api/useElectionListRequest.test.ts
Due: frontend-linter

Improved imports
  frontend/app/routes.tsx
  frontend/lib/ui/Alert/Alert.test.tsx
  frontend/lib/ui/Badge/Badge.test.tsx
  frontend/lib/ui/BottomBar/BottomBar.test.tsx
  frontend/lib/ui/Button/Button.test.tsx
  frontend/lib/ui/IconButton/IconButton.test.tsx
  frontend/lib/ui/InputField/InputField.test.tsx
  frontend/lib/ui/InputGrid/InputGrid.test.tsx
  frontend/lib/ui/InputGrid/InputGrid.tsx
  frontend/lib/util/hook/usePreventFormEnterSubmit.test.tsx
Due: frontend-linter
