Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite &&
        cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets &&
        git add .sqlx &&
        rm sqlx-cache-tmp.sqlite
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --features e2e-helpers -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi --features e2e-helpers &&
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add src/types/generated/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Add fallback handler for unmatched `/api` routes
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Much console, many log
  frontend/src/features/election_status/components/ElectionStatusPage.test.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
  frontend/src/hooks/useLiveData.ts
  frontend/src/utils/committeeSession.ts
Due: frontend-linter

Remove 'Ga door naar' arrow from Na 31-1 and Na 31-2
  backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-2.typ
Due: none

Update differences headers and correction grid
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-1.typ
Due: none

Improved api client types
  frontend/src/api/ApiClient.ts
  frontend/src/api/ApiProvider.tsx
  frontend/src/api/BaseApiClient.ts
Due: frontend-linter

Fix clippy warnings
  backend/src/committee_session/status.rs
  backend/src/data_entry/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix Clippy warnings introduced in Rust 1.91.0 (#2367)
  backend/src/committee_session/status.rs
  backend/src/data_entry/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add error handling for application level errors (#2359)
  backend/src/app_error.rs
  backend/src/bin/abacus.rs
  backend/src/bin/gen-test-election.rs
  backend/src/data_entry/repository.rs
  backend/src/fixtures.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Ignore empty 200 responses
  frontend/src/api/BaseApiClient.ts
  frontend/src/features/account/components/InitialiseApplicationPage.test.tsx
Due: frontend-linter

Update to Typst 0.14
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/pdf_gen/embedded/mod.rs
  backend/src/pdf_gen/embedded/world.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

pr feedback & updated test for retrieving latest data entry
  backend/src/data_entry/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Updated api
  backend/openapi.json
  backend/src/data_entry/api.rs
  backend/tests/data_entries_resolve_integration_test.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fixed test for test_polling_station_data_entry_latest
  backend/src/data_entry/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Updated endpoint in frontend
  frontend/src/features/resolve_errors/hooks/usePollingStationDataEntryErrors.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
  frontend/src/types/generated/openapi.ts
Due: frontend-linter

Add fallback handler for unmatched `/api` routes (#2366)
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added AbortedError, split ApiClient (#2354)
  frontend/src/api/ApiClient.ts
  frontend/src/api/ApiEvents.ts
  frontend/src/api/ApiProvider.tsx
  frontend/src/api/ApiRequestState.ts
  frontend/src/api/ApiResult.ts
  frontend/src/api/BaseApiClient.ts
  frontend/src/api/useInitialApiGet.ts
  frontend/src/api/useSessionState.ts
Due: frontend-linter

Only print vite environment in CI
  frontend/vite-prod.config.ts
Due: frontend-linter

Free up runner disk space in Codecov backend job
  .github/workflows/codecov.yml
Due: none

Retiring pull-and-run
  pull-and-run
Due: none

Fix flaky test + perform initial (re)fetch on election status page
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
  frontend/src/hooks/useLiveData.ts
Due: frontend-linter

Only print vite environment in CI (#2375)
  frontend/vite-prod.config.ts
Due: frontend-linter

Free up runner disk space in Codecov backend job (#2376)
  .github/workflows/codecov.yml
Due: none

Fix flaky test + perform initial (re)fetch on election status page (#2378)
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
  frontend/src/hooks/useLiveData.ts
Due: frontend-linter

Update to Typst 0.14 (#2371)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/pdf_gen/embedded/mod.rs
  backend/src/pdf_gen/embedded/world.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Retiring pull-and-run (#2377)
  pull-and-run
Due: none

Frontend file size check (#2365)
  frontend/.gitignore
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/helpers-utils/file-helpers.ts
  frontend/e2e-tests/page-objects/election/create/UploadCandidateDefinitionPgObj.ts
  frontend/e2e-tests/page-objects/election/create/UploadElectionDefinitionPgObj.ts
  frontend/e2e-tests/page-objects/election/create/UploadPollingStationDefinitionPgObj.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationImportPgObj.ts
  frontend/e2e-tests/tests/election-create.e2e.ts
  frontend/e2e-tests/tests/polling-station-import.e2e.ts
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_create/components/UploadCandidatesDefinition.tsx
  frontend/src/features/election_create/components/UploadElectionDefinition.tsx
  frontend/src/features/election_create/components/UploadPollingStationDefinition.tsx
  frontend/src/features/polling_stations/components/PollingStationImportPage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationImportPage.tsx
  frontend/src/i18n/locales/nl/election.json
  frontend/src/i18n/locales/nl/generic.json
  frontend/src/utils/uploadFileSize.ts
Due: frontend-linter

Adjusted endpoint, added tests
  backend/openapi.json
  backend/src/data_entry/api.rs
  backend/src/error.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Update differences section in reports (#2360)
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-2.typ
Due: none

Disable airgap-detection argument when airgap-detection is forced
  backend/src/bin/abacus.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Ignore empty responses, fix requestState handling in election overview
  frontend/src/api/BaseApiClient.ts
  frontend/src/features/account/components/InitialiseApplicationPage.test.tsx
  frontend/src/features/dev/components/DevHomePage.tsx
  frontend/src/features/election_overview/components/OverviewPage.tsx
Due: frontend-linter

Improve the Network Error page
  frontend/src/components/error/ErrorBoundary.tsx
  frontend/src/components/error/FatalErrorPage.tsx
  frontend/src/i18n/format.tsx
  frontend/src/i18n/locales/nl/error.json
Due: frontend-linter

Update frontend/src/i18n/locales/nl/error.json
  frontend/src/i18n/locales/nl/error.json
Due: none

Frontend, adjusted struct, tests
  backend/openapi.json
  backend/src/data_entry/api.rs
  backend/tests/data_entries_resolve_integration_test.rs
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsLayout.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsLayout.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsSectionPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsSectionPage.tsx
  frontend/src/features/resolve_errors/hooks/usePollingStationDataEntryErrors.ts
  frontend/src/i18n/locales/nl/error.json
  frontend/src/testing/api-mocks/DataEntryMockData.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Allow import EML110b without MaxVoters
  backend/src/election/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix eslint lints, remove unessesary useMemo
  frontend/src/components/error/ErrorBoundary.tsx
  frontend/src/components/error/ErrorModal.tsx
  frontend/src/components/messages/Messages.tsx
  frontend/src/components/navbar/NavBarMenu.tsx
  frontend/src/components/ui/Modal/Modal.tsx
  frontend/src/components/ui/NumberInput/NumberInput.tsx
  frontend/src/features/account/components/InitialiseApplicationPage.tsx
  frontend/src/features/account/components/LoginForm.tsx
  frontend/src/features/data_entry/hooks/useFormKeyboardNavigation.ts
  frontend/src/features/data_entry/utils/reducer.ts
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.tsx
  frontend/src/features/data_entry_home/components/PollingStationSelector.tsx
  frontend/src/features/election_create/components/CheckHash.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/investigations/components/AddInvestigationLayout.tsx
  frontend/src/features/users/components/create/UserCreateRolePage.tsx
  frontend/src/features/users/components/create/UserCreateTypePage.tsx
  frontend/src/utils/typeChecks.ts
Due: frontend-linter

Updated endpoint
  backend/src/data_entry/api.rs
  frontend/src/testing/api-mocks/DataEntryMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Generated openapi files
  backend/openapi.json
  frontend/src/types/generated/openapi.ts
Due: frontend-linter

Renamed "resolve-errors" url to "detail"
  frontend/src/app/routes.tsx
  frontend/src/components/navbar/NavBar.test.tsx
  frontend/src/components/navbar/NavBarLinks.tsx
  frontend/src/features/election_status/components/CategoryRow.tsx
  frontend/src/features/election_status/components/ElectionStatus.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsNavigation.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsNavigation.tsx
  frontend/src/features/resolve_errors/routes.tsx
Due: frontend-linter

Fixed badge status
  frontend/src/features/resolve_errors/components/ResolveErrorsLayout.tsx
Due: frontend-linter

Fix set state in useEffect issues
  frontend/src/components/error/ErrorModal.tsx
  frontend/src/components/messages/Messages.tsx
  frontend/src/features/account/components/InitialiseApplicationPage.tsx
  frontend/src/features/data_entry/utils/actions.ts
  frontend/src/features/investigations/components/AddInvestigationLayout.tsx
  frontend/src/utils/typeChecks.ts
Due: frontend-linter
