Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi && 
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add lib/api/gen/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Corrected all warnings (removed W.3xx warnings and renamed W.205 to W.204)
  backend/openapi.json
  backend/src/data_entry/validation.rs
  documentatie/use-cases/validatieregels-plausibiliteitschecks-tellingen.md
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
  frontend/src/features/data_entry/components/DataEntryProgress.test.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
  frontend/src/features/data_entry/components/differences/DifferenceForm.test.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/src/features/resolve_errors/components/ReadOnlyDataEntrySection.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsNavigation.test.tsx
  frontend/src/i18n/locales/nl/feedback.json
  frontend/src/testing/api-mocks/DataEntryMockData.ts
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Finished updating copy of feedback warnings
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/src/i18n/locales/nl/feedback.json
Due: frontend-linter

Fixed failing backend test
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Corrected copy of all feedback errors
  documentatie/use-cases/validatieregels-plausibiliteitschecks-tellingen.md
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/src/i18n/locales/nl/feedback.json
Due: frontend-linter

Adjusted e2e tests to new copy of feedback
  backend/src/data_entry/validation.rs
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.error.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.warning.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

No openapi.ts types that are optional and also can be null
  backend/openapi.json
  backend/src/audit_log/audit_event.rs
  backend/src/polling_station/structs.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Frontend for investigations findings page (#2059)
  frontend/.storybook/preview.tsx
  frontend/src/components/ui/DownloadButton/DownloadButton.stories.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.stories.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.test.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
  frontend/src/features/investigations/components/AddInvestigationLayout.tsx
  frontend/src/features/investigations/components/AddInvestigationPage.stories.tsx
  frontend/src/features/investigations/components/AddInvestigationPage.test.tsx
  frontend/src/features/investigations/components/AddInvestigationPage.tsx
  frontend/src/features/investigations/components/InvestigationFindings.stories.tsx
  frontend/src/features/investigations/components/InvestigationFindings.test.tsx
  frontend/src/features/investigations/components/InvestigationFindings.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendum.stories.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendum.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.test.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.tsx
  frontend/src/features/investigations/components/InvestigationReason.stories.tsx
  frontend/src/features/investigations/components/InvestigationsLayout.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.stories.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.test.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.tsx
  frontend/src/features/investigations/routes.ts
  frontend/src/i18n/locales/nl/investigations.json
Due: frontend-linter

Initial enum implementation in backend
  backend/openapi.json
  backend/src/bin/gen-test-election.rs
  backend/src/data_entry/api.rs
  backend/src/data_entry/comparison.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/status.rs
  backend/src/data_entry/structs.rs
  backend/src/data_entry/validation.rs
  backend/src/eml/eml_510.rs
  backend/src/report/api.rs
  backend/src/summary/mod.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

1 column
  backend/templates/common/scripts.typ
Due: none

Remove now unused data-testid attributes
  frontend/src/components/ui/Badge/Badge.stories.tsx
  frontend/src/components/ui/NumberInput/NumberInput.stories.tsx
  frontend/src/components/ui/NumberInput/NumberInput.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsLayout.test.tsx
Due: frontend-linter

Configure `testIdAttribute` for Storybook tests (#2084)
  frontend/.storybook/preview.tsx
  frontend/src/components/ui/Badge/Badge.stories.tsx
  frontend/src/components/ui/NumberInput/NumberInput.stories.tsx
  frontend/src/components/ui/NumberInput/NumberInput.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsLayout.test.tsx
Due: frontend-linter

Removed one more not needed test
  backend/src/data_entry/validation.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

removes unused file parameter from FileInput
  frontend/src/components/ui/FileInput/FileInput.tsx
Due: frontend-linter

moves FileInput test from separate file to stories file
  frontend/src/components/ui/FileInput/FileInput.stories.tsx
  frontend/src/components/ui/FileInput/FileInput.test.tsx
Due: frontend-linter

Fix signout does not work bug
  frontend/src/features/election_create/components/AbortModal.tsx
  frontend/src/features/election_create/components/ElectionCreateContextProvider.tsx
Due: frontend-linter

Ignore not existing election overview page for test
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
Due: frontend-linter

Added arbitrary data to get 31-2 compiling again
  backend/templates/inputs/model-na-31-2.json
Due: none

Re-added checks for (imagined) warnings
  frontend/src/features/data_entry/components/differences/DifferenceForm.test.tsx
  frontend/src/features/resolve_errors/components/ReadOnlyDataEntrySection.test.tsx
Due: frontend-linter

Add polling station role selection page
  frontend/e2e-tests/page-objects/election/create/PollingStationRolePgObj.ts
  frontend/e2e-tests/tests/election-create.e2e.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_create/components/PollingStationRole.tsx
  frontend/src/features/election_create/components/UploadElectionDefinition.tsx
  frontend/src/features/election_create/routes.tsx
  frontend/src/i18n/locales/nl/election.json
Due: frontend-linter

restores file param of FileInput and adds test for it
  frontend/src/components/ui/FileInput/FileInput.stories.tsx
  frontend/src/components/ui/FileInput/FileInput.tsx
Due: frontend-linter

Improve test, clean up old comment
  backend/.sqlx/query-31f79bcd6caa8a7bc4f7639827e23f8e9ab287bc9947519aa51270facd698853.json
  backend/src/committee_session/api.rs
  backend/src/data_entry/api.rs
  backend/src/polling_station/repository.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use model field from PollingStationResults to determine data entry structure
  backend/openapi.json
  backend/src/data_entry/structs.rs
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/src/components/data_entry/subsections/InputGridSubsection.stories.tsx
  frontend/src/components/ui/ProgressList/ProgressList.stories.tsx
  frontend/src/features/data_entry/components/DataEntryProvider.tsx
  frontend/src/features/data_entry/components/DataEntrySection.test.tsx
  frontend/src/features/data_entry/hooks/useDataEntryNavigation.ts
  frontend/src/features/data_entry/testing/mock-data.ts
  frontend/src/features/data_entry/types/types.ts
  frontend/src/features/data_entry/utils/actions.ts
  frontend/src/features/data_entry/utils/reducer.test.ts
  frontend/src/features/data_entry/utils/reducer.ts
  frontend/src/features/data_entry/utils/utils.ts
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.stories.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.test.tsx
  frontend/src/features/resolve_differences/hooks/usePollingStationDataEntryDifferences.ts
  frontend/src/features/resolve_differences/testing/polling-station-results.ts
  frontend/src/features/resolve_differences/utils/differences.test.ts
  frontend/src/features/resolve_errors/components/ReadOnlyDataEntrySection.stories.tsx
  frontend/src/features/resolve_errors/components/ReadOnlyDataEntrySection.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsLayout.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsNavigation.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsOverview.stories.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsOverview.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsSectionPage.tsx
  frontend/src/testing/api-mocks/DataEntryMockData.ts
  frontend/src/types/generated/openapi.ts
  frontend/src/types/types.ts
  frontend/src/utils/ValidationResults.test.ts
  frontend/src/utils/dataEntryMapping.test.ts
  frontend/src/utils/dataEntryStructure.test.ts
  frontend/src/utils/dataEntryStructure.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fix all compilation errors
  backend/.sqlx/query-b2b57ba24616d5c96eccfddf676edc50b47acf0501eba8655d2b2c9bdb0bc976.json
  backend/src/bin/gen-test-election.rs
  backend/src/data_entry/api.rs
  backend/src/eml/eml_510.rs
  backend/src/summary/mod.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/data_entries_resolve_integration_test.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Model Na 14-2 (#2043)
  backend/templates/common/scripts.typ
  backend/templates/inputs/model-na-31-2.json
  backend/templates/model-na-14-2.typ
Due: none

Removed imagined warning tests
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/src/features/data_entry/components/differences/DifferenceForm.test.tsx
Due: frontend-linter

Updated validation feedback texts (#2087)
  backend/openapi.json
  backend/src/data_entry/validation.rs
  documentatie/use-cases/validatieregels-plausibiliteitschecks-tellingen.md
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.error.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.warning.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
  frontend/src/features/data_entry/components/DataEntryProgress.test.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
  frontend/src/features/data_entry/components/differences/DifferenceForm.test.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/src/features/resolve_errors/components/ReadOnlyDataEntrySection.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsNavigation.test.tsx
  frontend/src/i18n/locales/nl/feedback.json
  frontend/src/testing/api-mocks/DataEntryMockData.ts
  frontend/src/testing/api-mocks/ValidationResultMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Added validation for F.3XX (wip) (#2018)
  backend/openapi.json
  backend/src/data_entry/api.rs
  backend/src/data_entry/status.rs
  backend/src/data_entry/structs.rs
  backend/src/data_entry/validation.rs
  backend/src/summary/mod.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/shared/mod.rs
  frontend/src/i18n/locales/nl/feedback.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

FileInput storybook tests (#2090)
  frontend/src/components/ui/FileInput/FileInput.stories.tsx
  frontend/src/components/ui/FileInput/FileInput.test.tsx
Due: frontend-linter

Do not seep through new PollingStationResults enum to counting and beyond just yet
  backend/.sqlx/query-70eb1c349f7c5929e26d982d353d72681d527cee27a52f04cbaf354e7022c0f3.json
  backend/src/apportionment/api.rs
  backend/src/bin/gen-test-election.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/structs.rs
  backend/src/error.rs
  backend/src/report/api.rs
  backend/tests/data_entries_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added files database, struct and methods and using them in get eml endpoint
  backend/.sqlx/query-116514cadcd6e16392ee2a34f47038673b3e355575ce08cdf63ffe089caf4c89.json
  backend/.sqlx/query-46000c3cf40b1e0ec66073eb8d1c724fdd348325f45111949860cbd66a0cebaa.json
  backend/.sqlx/query-4870f90f61bf1aedea956ba94294c56ad3819838fdf1bcb7654448b1b8687d9e.json
  backend/.sqlx/query-6b175b4294f6ae9e851f328c1c9c44ed02991d72cfcb74564aec87eb6e54fc98.json
  backend/.sqlx/query-760efa3bf0f7f49fe5aff8be2348ada2f9b0b44956ae5b57a24eb5720b0e1e00.json
  backend/.sqlx/query-87c6ae34291c1e92f1c3711d466e0019c5034409e0152a5dd1244d2ca4cfa13b.json
  backend/.sqlx/query-8c9c1c0c80315cf06c3fd7e945d078d9bf627ffcf05f3f80d62f76da33b2bef5.json
  backend/.sqlx/query-8d24689fb71d316f0522a64f5342f7dca0c49ab68d54103ff1cb1c4cfcfa634b.json
  backend/.sqlx/query-b5c50c2107d1b345df12175b01b38a5977a8aca1834790743f403f8e95640fdf.json
  backend/.sqlx/query-bb17b442d51fe341980a7a7b15d1dd57fad60fabde42c7063a971aba4ce987ce.json
  backend/.sqlx/query-ddf01560fe894f0bf9bc859579f1c53f3c6025629672a70b0976b1cfcc95bbcb.json
  backend/migrations/8_committee_sessions.sql
  backend/migrations/9_files.sql
  backend/openapi.json
  backend/src/audit_log/audit_event.rs
  backend/src/committee_session/api.rs
  backend/src/committee_session/repository.rs
  backend/src/committee_session/structs.rs
  backend/src/data_entry/validation.rs
  backend/src/eml/axum.rs
  backend/src/eml/mod.rs
  backend/src/files/mod.rs
  backend/src/files/repository.rs
  backend/src/lib.rs
  backend/src/report/api.rs
  backend/src/summary/mod.rs
  backend/tests/shared/mod.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Remove duplicate code introduced in merge main
  backend/src/election/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Restructure imports
  backend/src/data_entry/validation.rs
  backend/src/summary/mod.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Do not insert path segment for PollingStationResults enum variant in compare
  backend/src/data_entry/comparison.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

adds e2e election creation test that imports polling stations afterwards
  frontend/e2e-tests/page-objects/election/ElectionHomePgObj.ts
  frontend/e2e-tests/page-objects/nav_bar/AdminNavBarPgObj.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationImportPgObj.ts
  frontend/e2e-tests/test-data/eml-files.ts
  frontend/e2e-tests/tests/election-create.e2e.ts
Due: frontend-linter

removes keyboard hint from PollingStationRole
  frontend/src/features/election_create/components/PollingStationRole.tsx
Due: frontend-linter

Added a separate function for creating imported polling stations and using it in election import endpoint and in the polling station import endpoint
  backend/src/election/api.rs
  backend/src/polling_station/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

adds missing FormLayout.Controls components
  frontend/src/features/election_create/components/CountingMethodType.tsx
  frontend/src/features/election_create/components/PollingStationRole.tsx
Due: frontend-linter

Format imports
  backend/src/pdf_gen/models/model_n_10_2.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/src/summary/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added check for committee session status change to polling station import test
  backend/tests/polling_station_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi
