Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi && 
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add lib/api/gen/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Renaming more apportionment terms (#1058)
  backend/openapi.json
  backend/src/apportionment/mod.rs
  backend/src/lib.rs
  frontend/app/component/apportionment/Apportionment.module.css
  frontend/app/component/apportionment/ApportionmentTable.test.tsx
  frontend/app/component/apportionment/ApportionmentTable.tsx
  frontend/app/component/apportionment/FullSeatsTable.test.tsx
  frontend/app/component/apportionment/FullSeatsTable.tsx
  frontend/app/component/apportionment/LargestAveragesFor19OrMoreSeatsTable.test.tsx
  frontend/app/component/apportionment/LargestAveragesFor19OrMoreSeatsTable.tsx
  frontend/app/component/apportionment/LargestAveragesForLessThan19SeatsTable.test.tsx
  frontend/app/component/apportionment/LargestAveragesForLessThan19SeatsTable.tsx
  frontend/app/component/apportionment/LargestRemaindersTable.test.tsx
  frontend/app/component/apportionment/LargestRemaindersTable.tsx
  frontend/app/component/apportionment/ResidualSeatsCalculationTable.test.tsx
  frontend/app/component/apportionment/ResidualSeatsCalculationTable.tsx
  frontend/app/component/apportionment/index.ts
  frontend/app/component/apportionment/test-data/19-or-more-seats.ts
  frontend/app/component/apportionment/test-data/absolute-majority-change.ts
  frontend/app/component/apportionment/test-data/less-than-19-seats.ts
  frontend/app/component/navbar/NavBar.stories.tsx
  frontend/app/component/navbar/NavBar.test.tsx
  frontend/app/component/navbar/NavBarLinks.tsx
  frontend/app/module/apportionment/page/ApportionmentFullSeatsPage.test.tsx
  frontend/app/module/apportionment/page/ApportionmentFullSeatsPage.tsx
  frontend/app/module/apportionment/page/ApportionmentPage.test.tsx
  frontend/app/module/apportionment/page/ApportionmentPage.tsx
  frontend/app/module/apportionment/page/ApportionmentResidualSeatsPage.test.tsx
  frontend/app/module/apportionment/page/ApportionmentResidualSeatsPage.tsx
  frontend/app/module/apportionment/page/index.ts
  frontend/app/routes.tsx
  frontend/lib/api/gen/openapi.ts
  frontend/lib/i18n/locales/nl/apportionment.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Show fullname if possible in the header
  frontend/app/module/users/update/UserUpdatePage.tsx
Due: frontend-linter

Wait for storyloaded in Ladle Playwright tests
  frontend/.eslintrc.cjs
  frontend/lib/ui/Badge/Badge.e2e.ts
  frontend/lib/ui/BottomBar/BottomBar.e2e.ts
  frontend/lib/ui/Button/Button.e2e.ts
  frontend/lib/ui/InputField/InputField.e2e.ts
  frontend/lib/ui/InputGrid/InputGrid.e2e.ts
Due: frontend-linter

Let Playwright check Ladle server URL
  frontend/playwright.ladle.config.ts
Due: frontend-linter

Remove base URL from `page.goto`
  frontend/lib/ui/Badge/Badge.e2e.ts
  frontend/lib/ui/BottomBar/BottomBar.e2e.ts
  frontend/lib/ui/Button/Button.e2e.ts
  frontend/lib/ui/InputField/InputField.e2e.ts
  frontend/lib/ui/InputGrid/InputGrid.e2e.ts
Due: frontend-linter

Wait for data-storyloaded in Ladle e2e tests (#1088)
  frontend/.eslintrc.cjs
  frontend/lib/ui/Badge/Badge.e2e.ts
  frontend/lib/ui/BottomBar/BottomBar.e2e.ts
  frontend/lib/ui/Button/Button.e2e.ts
  frontend/lib/ui/InputField/InputField.e2e.ts
  frontend/lib/ui/InputGrid/InputGrid.e2e.ts
  frontend/playwright.ladle.config.ts
Due: frontend-linter

Update planning 2025
  documentatie/functionaliteit/planning-2025.md
Due: none

WIP: processing minutes
  documentatie/use-cases/beheerder.md
  documentatie/use-cases/gsb-eerste-zitting.md
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Due: none

use FormLayout.Field with a new label prop
  frontend/app/module/users/update/UserUpdateForm.tsx
  frontend/lib/ui/Form/FormLayout.module.css
  frontend/lib/ui/Form/FormLayout.tsx
Due: frontend-linter

only show missing total error after submit
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
Due: frontend-linter

Add update user form and page (#1086)
  frontend/app/module/users/UserListPage.tsx
  frontend/app/module/users/create/UserCreateDetailsPage.tsx
  frontend/app/module/users/index.ts
  frontend/app/module/users/update/UserUpdateForm.test.tsx
  frontend/app/module/users/update/UserUpdateForm.tsx
  frontend/app/module/users/update/UserUpdatePage.test.tsx
  frontend/app/module/users/update/UserUpdatePage.tsx
  frontend/app/module/users/update/index.ts
  frontend/app/module/users/update/useUserUpdate.ts
  frontend/app/module/users/validatePassword.ts
  frontend/app/routes.tsx
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/i18n/locales/nl/users.json
  frontend/lib/ui/Form/FormLayout.module.css
  frontend/lib/ui/Form/FormLayout.tsx
Due: frontend-linter

Update planning 2025 (#1089)
  documentatie/functionaliteit/planning-2025.md
Due: none

Converted apportionment backend tests to include candidate votes (#1065)
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Delete user endpoint (#1087)
  backend/.sqlx/query-340567823a65df0bc39149b345d334fdf52aac79a926c429961fdc980338d84e.json
  backend/openapi.json
  backend/src/authentication/api.rs
  backend/src/authentication/user.rs
  backend/src/lib.rs
  backend/tests/user_integration_test.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

lijst met opties (#1039)
  documentatie/functionaliteit/opties.md
Due: none

adds TODO
  documentatie/use-cases/csb-zitting.md
Due: none

Redirect to login page on 401 + explicit logout component
  frontend/app/component/error/ErrorBoundary.tsx
  frontend/app/component/navbar/NavBar.tsx
  frontend/app/module/account/Logout.tsx
  frontend/app/module/account/page/AccountSetupPage.tsx
  frontend/app/module/account/page/ChangePasswordPage.tsx
  frontend/app/module/account/page/UserHomePage.tsx
  frontend/app/routes.tsx
Due: frontend-linter

fix missintTotalError and add test
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/component/form/data_entry/candidates_votes/useCandidateVotes.ts
Due: frontend-linter

Add delete to user update page
  frontend/app/module/users/UserListPage.tsx
  frontend/app/module/users/update/UserDelete.test.tsx
  frontend/app/module/users/update/UserDelete.tsx
  frontend/app/module/users/update/UserUpdatePage.tsx
  frontend/app/module/users/update/useUserUpdate.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/i18n/locales/nl/users.json
Due: frontend-linter

Add user update and delete e2e tests
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/page-objects/users/UserDeleteModalPgObj.ts
  frontend/e2e-tests/page-objects/users/UserListPgObj.ts
  frontend/e2e-tests/page-objects/users/UserUpdatePgObj.ts
  frontend/e2e-tests/users.e2e.ts
Due: frontend-linter

Fix user update test
  frontend/app/module/users/update/UserUpdatePage.test.tsx
Due: frontend-linter

Added newtypes for passwords and impl TryFrom for validation
  backend/src/authentication/password.rs
  backend/src/authentication/user.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Now checking old password
  backend/src/authentication/password.rs
  backend/src/authentication/user.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Updated passwords in tests
  backend/.sqlx/query-b7831524cb4e52f2970f12032e90bab3c53effb879bf95592e52372ca8e857b0.json
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/password.rs
  backend/src/authentication/user.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Rust 2024 import shenanigans?
  backend/src/authentication/user.rs
  backend/tests/shared/mod.rs
  backend/tests/user_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Better error handling
  backend/openapi.json
  backend/src/authentication/error.rs
  backend/src/authentication/password.rs
  backend/src/error.rs
  frontend/lib/api/gen/openapi.ts
  frontend/lib/i18n/locales/nl/error.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Added unit tests for password validation
  backend/src/authentication/password.rs
  backend/src/authentication/user.rs
  backend/tests/shared/mod.rs
  backend/tests/user_integration_test.rs
  frontend/lib/i18n/locales/nl/error.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Some more coverage
  frontend/app/module/users/update/UserUpdatePage.test.tsx
Due: frontend-linter

fix formatting for controlled inputs
  frontend/lib/ui/NumberInput/NumberInput.tsx
Due: frontend-linter

Rename user.json to account.json
  frontend/app/component/form/user/account_setup/AccountSetupForm.tsx
  frontend/app/component/form/user/change_password/ChangePasswordForm.tsx
  frontend/app/component/form/user/login/LoginForm.tsx
  frontend/app/component/navbar/NavBar.tsx
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/account/page/AccountSetupPage.tsx
  frontend/app/module/account/page/ChangePasswordPage.tsx
  frontend/app/module/account/page/LoginPage.tsx
  frontend/app/module/account/page/UserHomePage.tsx
  frontend/app/module/users/update/UserUpdateForm.tsx
  frontend/lib/i18n/locales/nl/account.json
  frontend/lib/i18n/locales/nl/nl.ts
  frontend/lib/i18n/locales/nl/user.json
Due: frontend-linter

Changed fixture passwords and added integration tests
  backend/fixtures/users.sql
  backend/openapi.json
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/password.rs
  backend/tests/shared/mod.rs
  backend/tests/user_integration_test.rs
  frontend/app/component/form/user/change_password/ChangePassword.test.tsx
  frontend/app/module/DevHomePage.tsx
  frontend/e2e-tests/authentication.e2e.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

further processing of notes
  documentatie/use-cases/autorisatiematrix.md
  documentatie/use-cases/beheerder.md
  documentatie/use-cases/csb-zitting.md
  documentatie/use-cases/gsb-eerste-zitting.md
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Due: none

small fixes
  documentatie/use-cases/beheerder.md
  documentatie/use-cases/csb-zitting.md
  documentatie/use-cases/gsb-eerste-zitting.md
Due: none

reset hasChanges when aborting add numberformat test
  frontend/app/component/form/data_entry/DataEntryNavigation.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/lib/ui/NumberInput/NumberInput.tsx
Due: frontend-linter

Moved username check to ValidatedPassword fn
  backend/.sqlx/query-06c945e50567c6801f1346d436cdc86a82a4e13dd45d8286295ba37cdbdc045e.json
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/password.rs
  backend/src/authentication/user.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add links to epics (GitHub Issues) to planning doc
  documentatie/functionaliteit/planning-2025.md
Due: none

removed stray ,
  frontend/app/main.tsx
Due: frontend-linter

aanpassing aan de prioriteitenlijst tbv overleg (#1030)
  documentatie/functionaliteit/versie-1.0-gr2026.md
Due: none

Rename user.json to account.json (#1097)
  frontend/app/component/form/user/account_setup/AccountSetupForm.tsx
  frontend/app/component/form/user/change_password/ChangePasswordForm.tsx
  frontend/app/component/form/user/login/LoginForm.tsx
  frontend/app/component/navbar/NavBar.tsx
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/account/page/AccountSetupPage.tsx
  frontend/app/module/account/page/ChangePasswordPage.tsx
  frontend/app/module/account/page/LoginPage.tsx
  frontend/app/module/account/page/UserHomePage.tsx
  frontend/app/module/users/update/UserUpdateForm.tsx
  frontend/lib/i18n/locales/nl/account.json
  frontend/lib/i18n/locales/nl/nl.ts
  frontend/lib/i18n/locales/nl/user.json
Due: frontend-linter
