Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

backend-sqlx-prepare:
  run: 'cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite && cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets && git add .sqlx && rm sqlx-cache-tmp.sqlite
  
    '

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --features e2e-helpers -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi --features e2e-helpers && git add openapi.json && cd ../frontend && npm run gen:openapi && git add src/types/generated/openapi.ts
  
    '

frontend-linter:
  run: npm run lint {staged_files}

Fixed e2e test
  frontend/e2e-tests/page-objects/data_entry/AbortInputModalPgObj.ts
Due: frontend-linter

Fixed test
  frontend/src/features/data_entry/components/DataEntryNavigation.test.tsx
Due: frontend-linter

Fix delete_second_entry finalised_with_warnings and add unit tests
  backend/src/data_entry/api.rs
  backend/src/data_entry/status.rs
  backend/src/data_entry/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Upgrade comments to line doc comments
  backend/src/data_entry/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

improves locator in e2e page object
  frontend/e2e-tests/page-objects/investigations/InvestigationPrintCorrigendumPgObj.ts
Due: frontend-linter

Updated test title
  frontend/src/features/data_entry_detail/components/DetailLayout.test.tsx
Due: frontend-linter

Changed order for corrected results answers (#2459)
  frontend/src/features/investigations/components/forms/InvestigationFindings.tsx
Due: frontend-linter

Added has_warnings field to status endpoint
  backend/fixtures/election_5_with_results.sql
  backend/fixtures/election_7_four_sessions.sql
  backend/openapi.json
  backend/src/committee_session/status.rs
  backend/src/data_entry/api.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/status.rs
  backend/src/test_data_gen/generators.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Updated test for warnings
  backend/src/data_entry/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Adjusted/added comments
  backend/openapi.json
  backend/src/data_entry/api.rs
  backend/src/data_entry/status.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Changed keep first entry function and made explicit that validation results are for the first data entry
  backend/src/data_entry/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added rendering of warning icon for polling stations with a data entry with warnings
  frontend/src/features/election_status/components/CategoryHeader.tsx
  frontend/src/features/election_status/components/CategoryRow.tsx
  frontend/src/features/election_status/components/ElectionStatus.stories.tsx
  frontend/src/features/election_status/components/ElectionStatus.tsx
  frontend/src/features/logs/components/LogsHomePage.test.tsx
  frontend/src/features/users/components/UserListPage.test.tsx
  frontend/src/i18n/locales/nl/generic.json
  frontend/src/utils/dateTime.test.ts
  frontend/src/utils/dateTime.ts
Due: frontend-linter

Reduce example_data_entry_with_warning test data entry
  backend/src/data_entry/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Optional prop hasWarnings
  frontend/src/features/election_status/components/CategoryRow.tsx
  frontend/src/features/election_status/components/ElectionStatus.tsx
Due: frontend-linter

Remove unused __mocks__ that causes issues with mocking in storybook
  frontend/__mocks__/react-router.ts
Due: frontend-linter

Migrate ElectionStatus tests to storybook
  frontend/.storybook/preview.tsx
  frontend/src/features/election_status/components/ElectionStatus.stories.tsx
  frontend/src/features/election_status/components/ElectionStatus.test.tsx
Due: frontend-linter

Show data entry warnings in storybook, adjust column widths
  frontend/src/features/election_status/components/CategoryHeader.tsx
  frontend/src/features/election_status/components/ElectionStatus.stories.tsx
  frontend/src/styles/util.css
Due: frontend-linter

Assert warning icon in election status story
  frontend/src/features/election_status/components/CategoryRow.tsx
  frontend/src/features/election_status/components/ElectionStatus.stories.tsx
Due: frontend-linter

Rename has_warnings to finalised_with_warnings
  backend/openapi.json
  backend/src/committee_session/status.rs
  backend/src/data_entry/api.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/status.rs
  backend/src/test_data_gen/generators.rs
  frontend/src/features/election_status/components/CategoryRow.tsx
  frontend/src/features/election_status/components/ElectionStatus.stories.tsx
  frontend/src/features/election_status/components/ElectionStatus.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Rename has_warnings to finalised_with_warnings also in fixtures
  backend/fixtures/election_5_with_results.sql
  backend/fixtures/election_7_four_sessions.sql
Due: none

Revert "Upgrade comments to line doc comments"
  backend/src/data_entry/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Revert "Fix delete_second_entry finalised_with_warnings and add unit tests"
  backend/src/data_entry/api.rs
  backend/src/data_entry/status.rs
  backend/src/data_entry/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Revert "Rename has_warnings to finalised_with_warnings also in fixtures"
  backend/fixtures/election_5_with_results.sql
  backend/fixtures/election_7_four_sessions.sql
Due: none

Revert "Rename has_warnings to finalised_with_warnings"
  backend/openapi.json
  backend/src/committee_session/status.rs
  backend/src/data_entry/api.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/status.rs
  backend/src/test_data_gen/generators.rs
  frontend/src/features/election_status/components/CategoryRow.tsx
  frontend/src/features/election_status/components/ElectionStatus.stories.tsx
  frontend/src/features/election_status/components/ElectionStatus.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Updated flowchart for committee session state (#2292)
  documentatie/flowcharts/committee-session-state.md
Due: none

Small improvements to the full-flow test (#2465)
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/page-objects/investigations/InvestigationPrintCorrigendumPgObj.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
Due: frontend-linter

Add finalised_with_warnings to new fixture data
  backend/fixtures/election_5_with_results.sql
Due: none

Added delete modal & confirmation alert for data entry for coordinator (#2404)
  frontend/src/features/data_entry_detail/components/DetailLayout.test.tsx
  frontend/src/features/data_entry_detail/components/DetailLayout.tsx
  frontend/src/features/data_entry_detail/components/delete/ReadOnlyDataEntryDelete.test.tsx
  frontend/src/features/data_entry_detail/components/delete/ReadOnlyDataEntryDelete.tsx
  frontend/src/features/data_entry_detail/hooks/usePollingStationDataEntryErrors.ts
  frontend/src/i18n/locales/nl/data_entry_detail.json
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: frontend-linter

Demo election fixes (#2468)
  frontend/src/app/routes.tsx
  frontend/src/features/logs/components/LogsTable.tsx
  frontend/src/features/users/components/UserListPage.test.tsx
  frontend/src/i18n/locales/nl/users.json
Due: frontend-linter

Moved user validation into function and restricted importing polling stations as well
  backend/src/polling_station/mod.rs
  backend/tests/polling_station_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Implemented #2438
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.tsx
  frontend/src/i18n/locales/nl/polling_station.json
Due: frontend-linter

Added warning icon to status page (#2402)
  backend/fixtures/election_5_with_results.sql
  backend/fixtures/election_7_four_sessions.sql
  backend/openapi.json
  backend/src/committee_session/status.rs
  backend/src/data_entry/api.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/status.rs
  backend/src/data_entry/structs.rs
  backend/src/test_data_gen/generators.rs
  frontend/.storybook/preview.tsx
  frontend/__mocks__/react-router.ts
  frontend/src/features/election_status/components/CategoryHeader.tsx
  frontend/src/features/election_status/components/CategoryRow.tsx
  frontend/src/features/election_status/components/ElectionStatus.stories.tsx
  frontend/src/features/election_status/components/ElectionStatus.test.tsx
  frontend/src/features/election_status/components/ElectionStatus.tsx
  frontend/src/features/logs/components/LogsHomePage.test.tsx
  frontend/src/features/users/components/UserListPage.test.tsx
  frontend/src/i18n/locales/nl/generic.json
  frontend/src/styles/util.css
  frontend/src/types/generated/openapi.ts
  frontend/src/utils/dateTime.test.ts
  frontend/src/utils/dateTime.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Remove frontend generator roles, adjust schemes for new changes
  backend/openapi.json
  backend/src/committee_session/api.rs
  backend/src/lib.rs
  frontend/scripts/openapi/generator.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Determine validation_results for Definitive state by validating polling station result, add tests
  backend/src/data_entry/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

fixes VotingMethod value to SVP in EML 110b test files
  backend/src/eml/tests/eml110b_1_station.eml.xml
  backend/src/eml/tests/eml110b_empty_polling_station.eml.xml
  backend/src/eml/tests/eml110b_invalid_number_of_voters.eml.xml
  backend/src/eml/tests/eml110b_invalid_polling_station_number_of_voters.xml
  backend/src/eml/tests/eml110b_less_than_10_stations.eml.xml
  backend/src/eml/tests/eml110b_not_matching_election_id.eml.xml
  backend/src/eml/tests/eml110b_test.eml.xml
Due: none

sets VotingMethod to SPV in EML 110b test files
  backend/src/eml/tests/eml110b_1_station.eml.xml
  backend/src/eml/tests/eml110b_empty_polling_station.eml.xml
  backend/src/eml/tests/eml110b_invalid_number_of_voters.eml.xml
  backend/src/eml/tests/eml110b_invalid_polling_station_number_of_voters.xml
  backend/src/eml/tests/eml110b_less_than_10_stations.eml.xml
  backend/src/eml/tests/eml110b_not_matching_election_id.eml.xml
  backend/src/eml/tests/eml110b_test.eml.xml
Due: none

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
