Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

backend-sqlx-prepare:
  run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --all-features -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi &&  git add openapi.json && cd ../frontend && npm run gen:openapi && git add lib/api/gen/openapi.ts
  
    '

frontend-linter:
  run: npm run lint {staged_files}

Add tests to check that the accept warnings checkbox disappears (#1205)
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/component/form/data_entry/differences/DifferenceForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/lib/i18n/locales/nl/candidates_votes.json
  frontend/lib/i18n/locales/nl/data_entry.json
  frontend/lib/i18n/locales/nl/differences.json
  frontend/lib/i18n/locales/nl/voters_and_votes.json
  frontend/lib/ui/Alert/Alert.tsx
Due: frontend-linter

Add all errors and warnings to errorWarningMocks and use them in the tests
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferenceForm.test.tsx
  frontend/app/component/form/data_entry/state/dataEntryUtils.test.ts
  frontend/app/component/form/data_entry/test-data/mock-data.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
Due: frontend-linter

Change color for progress bar 'not started' to gray-200, add a border for the legend circles with a new color gray-450
  frontend/lib/ui/Icon/Circle.module.css
  frontend/lib/ui/style/variables.css
Due: none

aria-label is not allowed on generic or strong roles
  frontend/app/component/navbar/NavBar.tsx
  frontend/e2e-tests/page-objects/NavBarPgObj.ts
Due: frontend-linter

Extend and use errorWarningMocks (#1209)
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferenceForm.test.tsx
  frontend/app/component/form/data_entry/state/dataEntryUtils.test.ts
  frontend/app/component/form/data_entry/test-data/mock-data.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
Due: frontend-linter

Change gray for progress bar 'not started' and add a border to legend (#1210)
  frontend/lib/ui/Icon/Circle.module.css
  frontend/lib/ui/style/variables.css
Due: none

Improvements in Page Objects around authentication e2e tests (#1202)
  frontend/app/component/navbar/NavBar.tsx
  frontend/e2e-tests/authentication.e2e.ts
  frontend/e2e-tests/data-entry.error.model.e2e.ts
  frontend/e2e-tests/data-entry.valid.model.e2e.ts
  frontend/e2e-tests/data-entry.warning.model.e2e.ts
  frontend/e2e-tests/page-objects/NavBarPgObj.ts
  frontend/e2e-tests/page-objects/authentication/AccountSetupPgObj.ts
  frontend/e2e-tests/page-objects/authentication/LoginPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/DataEntryBasePgObj.ts
  frontend/e2e-tests/page-objects/election/ElectionReportPgObj.ts
  frontend/e2e-tests/page-objects/election/ElectionStatusPgObj.ts
  frontend/e2e-tests/page-objects/election/OverviewPgObj.ts
  frontend/e2e-tests/page-objects/users/UserListPgObj.ts
  frontend/e2e-tests/pdf-rendering.e2e.ts
  frontend/e2e-tests/zip-download.e2e.ts
Due: frontend-linter

Explicitly exit with statuscode, use fetch
  frontend/scripts/check_server.js
Due: none

Implement serialize/deserialize of EML230b (#1204)
  backend/src/eml/eml_230.rs
  backend/src/eml/mod.rs
  backend/src/eml/tests/eml230b_test.eml.xml
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

When checking the accept warnings checkbox, do not immediately hide the error
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferenceForm.test.tsx
  frontend/app/component/form/data_entry/state/useDataEntryFormSection.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
Due: frontend-linter

Reuse elements in accept warnings tests
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferenceForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
Due: frontend-linter

Refactor data entry validation handling
  frontend/app/component/form/data_entry/DataEntryProgress.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/app/component/form/data_entry/differences/DifferenceForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/component/form/data_entry/state/ValidationResults.test.ts
  frontend/app/component/form/data_entry/state/ValidationResults.ts
  frontend/app/component/form/data_entry/state/actions.ts
  frontend/app/component/form/data_entry/state/dataEntryUtils.test.ts
  frontend/app/component/form/data_entry/state/dataEntryUtils.ts
  frontend/app/component/form/data_entry/state/types.ts
  frontend/app/component/form/data_entry/state/useDataEntryFormSection.ts
  frontend/app/component/form/data_entry/test-data/mock-data.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/module/data_entry/DataEntry.integration.test.tsx
  frontend/e2e-tests/data-entry.e2e.ts
  frontend/e2e-tests/helpers-utils/e2e-test-helpers.ts
  frontend/e2e-tests/page-objects/data_entry/CandidatesListPgObj.ts
  frontend/e2e-tests/resume-data-entry.e2e.ts
  frontend/lib/test/test-utils.ts
  frontend/lib/ui/InputGrid/InputGridRow.test.tsx
  frontend/lib/ui/InputGrid/InputGridRow.tsx
  frontend/lib/ui/ui.types.d.ts
  frontend/lib/util/fields.test.ts
  frontend/lib/util/fields.ts
  frontend/lib/util/index.ts
Due: frontend-linter

Add test for `ValidationResultSet.includes`
  frontend/app/component/form/data_entry/state/ValidationResults.test.ts
Due: frontend-linter

Renamed some more variables and parameters
  backend/openapi.json
  backend/src/apportionment/seat_assignment.rs
  backend/tests/apportionment_integration_test.rs
  frontend/app/component/apportionment/LargestAveragesFor19OrMoreSeatsTable.tsx
  frontend/app/component/apportionment/LargestAveragesForLessThan19SeatsTable.tsx
  frontend/app/component/apportionment/test-data/19-or-more-seats.ts
  frontend/app/component/apportionment/test-data/absolute-majority-change.ts
  frontend/app/component/apportionment/test-data/less-than-19-seats.ts
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Implement suggestions from pull request review
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferenceForm.test.tsx
  frontend/app/component/form/data_entry/state/ValidationResults.test.ts
  frontend/app/component/form/data_entry/state/ValidationResults.ts
  frontend/lib/ui/InputGrid/InputGridRow.tsx
Due: frontend-linter

Explicitly exit with statuscode, use fetch (#1211)
  frontend/scripts/check_server.js
Due: none

Refactor data entry validation handling (#1213)
  frontend/app/component/form/data_entry/DataEntryProgress.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/app/component/form/data_entry/differences/DifferenceForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/component/form/data_entry/state/ValidationResults.test.ts
  frontend/app/component/form/data_entry/state/ValidationResults.ts
  frontend/app/component/form/data_entry/state/actions.ts
  frontend/app/component/form/data_entry/state/dataEntryUtils.test.ts
  frontend/app/component/form/data_entry/state/dataEntryUtils.ts
  frontend/app/component/form/data_entry/state/types.ts
  frontend/app/component/form/data_entry/state/useDataEntryFormSection.ts
  frontend/app/component/form/data_entry/test-data/mock-data.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/module/data_entry/DataEntry.integration.test.tsx
  frontend/e2e-tests/data-entry.e2e.ts
  frontend/e2e-tests/helpers-utils/e2e-test-helpers.ts
  frontend/e2e-tests/page-objects/data_entry/CandidatesListPgObj.ts
  frontend/e2e-tests/resume-data-entry.e2e.ts
  frontend/lib/test/test-utils.ts
  frontend/lib/ui/InputGrid/InputGridRow.test.tsx
  frontend/lib/ui/InputGrid/InputGridRow.tsx
  frontend/lib/ui/ui.types.d.ts
  frontend/lib/util/fields.test.ts
  frontend/lib/util/fields.ts
  frontend/lib/util/index.ts
Due: frontend-linter

Fixed list exhaustion code
  backend/src/apportionment/seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update components and features in sigrid.yaml
  sigrid.yaml
Due: none

Move /lib/test to /src/testing
  frontend/.eslintrc.cjs
  frontend/src/testing/Providers.tsx
  frontend/src/testing/index.ts
  frontend/src/testing/matchers.test.tsx
  frontend/src/testing/matchers.ts
  frontend/src/testing/router.tsx
  frontend/src/testing/server.ts
  frontend/src/testing/setup.ts
  frontend/src/testing/test-utils.ts
  frontend/src/testing/vitest.d.ts
  frontend/tsconfig.json
  frontend/vitest.config.ts
  sigrid.yaml
Due: frontend-linter

Move /static to /src/assets
  frontend/src/assets/favicon.svg
  frontend/src/assets/font/DM_Sans/DMSans[opsz,wght].woff2
  frontend/src/assets/font/DM_Sans/LICENSE
  frontend/src/assets/font/Geist_Mono/GeistMono[wght].woff2
  frontend/src/assets/font/Geist_Mono/LICENSE
  frontend/src/assets/font/Space_Grotesk/LICENSE
  frontend/src/assets/font/Space_Grotesk/SpaceGrotesk[wght].woff2
  frontend/src/components/ui/style/variables.css
Due: none

Move /lib/api-mocks to /src/testing/api-mocks
  frontend/.eslintrc.cjs
  frontend/src/components/navbar/NavBar.stories.tsx
  frontend/src/testing/api-mocks/DataEntryMockData.ts
  frontend/src/testing/api-mocks/ElectionMockData.ts
  frontend/src/testing/api-mocks/LogMockData1.json
  frontend/src/testing/api-mocks/LogMockData2.json
  frontend/src/testing/api-mocks/PollingStationMockData.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
  frontend/src/testing/api-mocks/UserMockData.ts
  frontend/src/testing/api-mocks/index.ts
  frontend/tsconfig.json
  sigrid.yaml
Due: frontend-linter

Added list exhaustion tests for gte 19 seats
  backend/src/apportionment/seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Enable MSW for Ladle
  frontend/.ladle/config.mjs
Due: none

Remove 'not found' state from data entry reducer
  frontend/src/components/form/data_entry/state/dataEntryUtils.ts
  frontend/src/components/form/data_entry/state/reducer.test.ts
  frontend/src/components/form/data_entry/state/reducer.ts
  frontend/src/components/form/data_entry/state/types.ts
Due: frontend-linter

Rename data entry reducer states
  frontend/src/components/form/data_entry/state/reducer.test.ts
  frontend/src/components/form/data_entry/state/reducer.ts
  frontend/src/components/form/data_entry/state/types.ts
  frontend/src/components/form/data_entry/state/useInitialDataEntryState.ts
Due: frontend-linter

Fixed the function to update the exhausted lists after every excess seat assignment
  backend/src/apportionment/seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Updated frontend test data to make sure there is no list exhaustion
  frontend/src/components/apportionment/ElectionSummaryTable.test.tsx
  frontend/src/components/apportionment/test-data/19-or-more-seats.ts
  frontend/src/components/apportionment/test-data/absolute-majority-change.ts
  frontend/src/components/apportionment/test-data/less-than-19-seats.ts
Due: frontend-linter

Update versie-1.0-gr2026.md (#1170)
  documentatie/functionaliteit/versie-1.0-gr2026.md
Due: none

Fixed integration tests
  backend/fixtures/election_4.sql
  backend/fixtures/election_5.sql
  backend/tests/apportionment_integration_test.rs
  frontend/src/components/apportionment/ElectionSummaryTable.test.tsx
  frontend/src/components/apportionment/test-data/19-or-more-seats.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Added more tests and fixed a bug in the list exhaustion code
  backend/src/apportionment/seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added more tests
  backend/src/apportionment/seat_assignment.rs
  backend/tests/apportionment_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
