Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite &&
        cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets &&
        git add .sqlx &&
        rm sqlx-cache-tmp.sqlite
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi &&
        git add openapi.json &&
        cd ../frontend &&
        pnpm gen:openapi &&
        git add src/types/generated/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: pnpm format --staged --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-biome:
      root: "frontend/"
      run: pnpm lint:biome --write --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-tsc:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:tsc
    frontend-lint-eslint:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:eslint

Expanded ElectionCategory with Provincial and WaterAuthority
  backend/openapi.json
  backend/src/api/election.rs
  backend/src/domain/election.rs
  backend/src/eml/mod.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Add candidate nomination to differential fuzzer
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add lot drawing parsing for OSV2020
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/fuzz/src/logging.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Candidate nomination differential fuzzer wip (#3626)
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/fuzz/src/apportionment_input.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

remove eprintln statements and clippy fix
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Run `cargo fmt`
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/fuzz/src/apportionment_input.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add lot drawing for Abacus
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/fuzz/src/logging.rs
  backend/apportionment/src/candidate_nomination/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added extra tests to prevent missed mutants (#3606)
  backend/apportionment/src/candidate_nomination/structs.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/structs.rs
  backend/apportionment/src/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Updated copy in privacy statement
  frontend/src/i18n/locales/nl/privacy_statement.json
Due: none

Updated copy of NumberOfVotersForm title
  frontend/e2e-tests/page-objects/election/create/NumberOfVotersPgObj.ts
  frontend/src/components/election/NumberOfVotersForm.stories.tsx
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_create/components/NumberOfVoters.test.tsx
  frontend/src/i18n/locales/nl/election_management.json
Due: frontend-lint-tsc, frontend-lint-eslint

Processed review comments
  backend/src/domain/election.rs
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Change backup text translations
  frontend/src/i18n/locales/nl/backups.json
  frontend/src/i18n/locales/nl/error.json
  frontend/src/i18n/locales/nl/log.json
Due: none

Fix max width for backup description
  frontend/src/features/backups/components/BackupsPageContent.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

More updates to privacy statement
  frontend/src/i18n/locales/nl/privacy_statement.json
Due: none

Update text in tests
  frontend/src/components/navbar/NavBar.stories.tsx
  frontend/src/features/backups/components/BackupsPage.test.tsx
  frontend/src/features/backups/components/BackupsPageContent.stories.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Print SHA-1 fingerprint for CA certificate
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/fuzz/Cargo.lock
  backend/src/bin/abacus.rs
  backend/src/infra/tls.rs
  backend/tests/init_tls_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update copy for database backups (#3631)
  frontend/src/components/navbar/NavBar.stories.tsx
  frontend/src/features/backups/components/BackupsPage.test.tsx
  frontend/src/features/backups/components/BackupsPageContent.stories.tsx
  frontend/src/features/backups/components/BackupsPageContent.tsx
  frontend/src/i18n/locales/nl/backups.json
  frontend/src/i18n/locales/nl/error.json
  frontend/src/i18n/locales/nl/log.json
Due: frontend-lint-tsc, frontend-lint-eslint

Change shortcut back to data folder in Windows installer
  packaging/windows/abacus.iss
Due: none

Update copy in case of hardcoded gemeenteraadsverkiezingen (#3628)
  frontend/e2e-tests/page-objects/election/create/NumberOfVotersPgObj.ts
  frontend/src/components/election/NumberOfVotersForm.stories.tsx
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_create/components/NumberOfVoters.test.tsx
  frontend/src/i18n/locales/nl/election_management.json
  frontend/src/i18n/locales/nl/privacy_statement.json
Due: frontend-lint-tsc, frontend-lint-eslint

Apportionment refactor `splitResultChanges` due to residual seat logic bug (#3596)
  backend/src/test_data_gen/api.rs
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p10-full-seat-removal.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p7-drawing-lots.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9-drawing-lots-and-deceased-candidates.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10-and-deceased-candidate.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10-and-deceased-candidates.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-drawing-lots.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/features/apportionment/utils/seat-change.tsx
  frontend/src/features/apportionment/utils/steps.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Update apportionment.json
  frontend/src/i18n/locales/nl/apportionment.json
Due: none

Update copy for database backups (backport of #3631) (#3637)
  frontend/src/components/navbar/NavBar.stories.tsx
  frontend/src/features/backups/components/BackupsPage.test.tsx
  frontend/src/features/backups/components/BackupsPageContent.stories.tsx
  frontend/src/features/backups/components/BackupsPageContent.tsx
  frontend/src/i18n/locales/nl/backups.json
  frontend/src/i18n/locales/nl/error.json
  frontend/src/i18n/locales/nl/log.json
Due: frontend-lint-tsc, frontend-lint-eslint

Change shortcut back to data folder in Windows installer (#3636)
  packaging/windows/abacus.iss
Due: none

Print SHA-1 fingerprint for CA certificate (#3634)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/fuzz/Cargo.lock
  backend/src/bin/abacus.rs
  backend/src/infra/tls.rs
  backend/tests/init_tls_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Print SHA-1 fingerprint for CA certificate (backport of #3634) (#3644)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/fuzz/Cargo.lock
  backend/src/bin/abacus.rs
  backend/src/infra/tls.rs
  backend/tests/init_tls_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Change shortcut back to data folder in Windows installer (backport of #3636) (#3641)
  packaging/windows/abacus.iss
Due: none

Apportionment refactor `splitResultChanges` due to residual seat logic bug (backport of #3596) (#3639)
  backend/src/test_data_gen/api.rs
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p10-full-seat-removal.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p7-drawing-lots.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9-drawing-lots-and-deceased-candidates.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10-and-deceased-candidate.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10-and-deceased-candidates.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-drawing-lots.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/features/apportionment/utils/seat-change.tsx
  frontend/src/features/apportionment/utils/steps.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Improve HighestAveragesTable with fraction aligned number cells
  frontend/src/components/ui/Table/Table.stories.tsx
  frontend/src/components/ui/Table/Table.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Fixed typo
  backend/src/domain/election.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

spatiefouten
  frontend/src/i18n/locales/nl/error.json
  frontend/src/i18n/locales/nl/investigations.json
  frontend/src/i18n/locales/nl/log.json
Due: none

Add regression test for `per_page` overflow
  backend/src/api/audit.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix pagination `per_page` overflow
  backend/src/infra/audit_log/audit_log_events.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Testbestanden bijgewerkt
  frontend/src/app/routes.test.tsx
  frontend/src/components/ui/DownloadButton/DownloadButton.stories.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/investigations/components/InvestigationFindingsPage.test.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.test.tsx
  frontend/src/i18n/locales/nl/data_entry_detail.json
Due: frontend-lint-tsc, frontend-lint-eslint

Improve HighestAveragesTable with fraction aligned number cells (#3647)
  frontend/src/components/ui/Table/Table.stories.tsx
  frontend/src/components/ui/Table/Table.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Testbestand bijgewerkt - 2
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint
