Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi && 
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add lib/api/gen/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Ternary checkbox modes
  backend/templates/common/scripts.typ
  backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-2.typ
Due: none

Fix button styling and added icon
  frontend/src/app/AuthorizationDialog.tsx
  frontend/src/components/ui/Button/Button.module.css
  frontend/src/features/election_create/components/AbortModal.tsx
  frontend/src/features/polling_stations/components/PollingStationDeleteModal.tsx
  frontend/src/features/users/components/update/UserDelete.tsx
Due: frontend-linter

Update modal translations after design update
  frontend/src/i18n/locales/nl/polling_station.json
Due: none

Throw and handle forbidden errors
  backend/openapi.json
  backend/src/authentication/error.rs
  backend/src/authentication/role.rs
  backend/src/error.rs
  frontend/src/components/error/ErrorBoundary.tsx
  frontend/src/components/error/FatalErrorPage.tsx
  frontend/src/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Checkbox tweaks
  backend/templates/common/scripts.typ
  backend/templates/model-na-31-1.typ
Due: none

Remove test checkboxes
  backend/templates/common/scripts.typ
  backend/templates/model-na-31-1.typ
Due: none

Align checkbox labels
  backend/templates/common/scripts.typ
Due: none

Allow smaller checkboxes in some tables
  backend/templates/common/scripts.typ
  backend/templates/model-n-10-1.typ
  backend/templates/model-n-10-2.typ
Due: none

Fixed frontend test
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.test.tsx
Due: frontend-linter

handle all non available states in PollingStationChoiceForm (#1803)
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.test.tsx
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_status/components/ElectionStatus.stories.tsx
  frontend/src/features/polling_stations/components/PollingStationListPage.test.tsx
  frontend/src/testing/api-mocks/ElectionStatusMockData.ts
  frontend/src/testing/api-mocks/PollingStationMockData.ts
Due: frontend-linter

Fix e2e url await flake
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
Due: frontend-linter

Update versie-1.0-gr.md
  documentatie/functionaliteit/versie-1.0-gr.md
Due: none

session state - usecase
  documentatie/use-cases/gsb-eerste-zitting.md
Due: none

Update gsb-invoer-tweede-zitting.md
  documentatie/use-cases/gsb-invoer-tweede-zitting.md
Due: none

Fix e2e url await flake (#1814)
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
Due: frontend-linter

Log when a user login attempt fails
  backend/openapi.json
  backend/src/audit_log/audit_event.rs
  backend/src/authentication/api.rs
  frontend/src/i18n/locales/nl/log.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Implemented new typst models for Na 31-1, Na 31-2 Bijlage 1, N 10-1 and N 10-2 (#1789)
  backend/templates/common/scripts.typ
  backend/templates/common/style.typ
  backend/templates/inputs/model-na-31-2.json
  backend/templates/model-n-10-1.typ
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-31-1-inlegvel.typ
  backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-2-bijlage-1.typ
  backend/templates/model-na-31-2-bijlage-2.typ
Due: none

Update gsb-invoer-tweede-zitting.md (#1759)
  documentatie/use-cases/gsb-invoer-tweede-zitting.md
Due: none

Remove `JsonResponse` from error module
  backend/src/error.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add forbidden responses to utoipa spec
  backend/openapi.json
  backend/src/apportionment/api.rs
  backend/src/audit_log/api.rs
  backend/src/authentication/api.rs
  backend/src/committee_session/api.rs
  backend/src/data_entry/api.rs
  backend/src/election/api.rs
  backend/src/polling_station/mod.rs
  backend/src/report/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove `JsonResponse` from error module (#1819)
  backend/src/error.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added test for forbidden response
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed test
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.test.tsx
Due: frontend-linter

rsbuild POC
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/rsbuild.config.ts
Due: frontend-linter

update prioriteitenlijst Abacus GSB (#1799)
  documentatie/functionaliteit/versie-1.0-gr.md
Due: none

Update input-output-bestanden.md
  documentatie/use-cases/input-output-bestanden.md
Due: none

Use watch channel instead of a mpsc channel for airgap detection updates
  backend/src/airgap/detect.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update frontend/src/i18n/locales/nl/log.json
  frontend/src/i18n/locales/nl/log.json
Due: none

Fix translation path for 404 error references
  frontend/src/api/ApiClient.ts
Due: frontend-linter

Do not throw error when user is null: it will prevent redirect to login. Remove need for checking if session is null.
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/hooks/useDataEntryFormSection.ts
Due: frontend-linter

Update documentatie/use-cases/input-output-bestanden.md
  documentatie/use-cases/input-output-bestanden.md
Due: none

WIP frontend download models
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/i18n/locales/nl/election_management.json
Due: frontend-linter

Removed not needed Clone
  backend/src/polling_station/repository.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Show differences resolved notification on resolve errors page
  frontend/e2e-tests/page-objects/election/ResolveErrorsPgObj.ts
  frontend/e2e-tests/tests/data-entry/resolve-differences.e2e.ts
  frontend/src/components/layout/ElectionStatusLayout.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsLayout.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsLayout.tsx
  frontend/src/i18n/locales/nl/resolve_errors.json
Due: frontend-linter

Push message from resolve differences when keeping one entry. Fix bug for the correct typist name, also when second entry is kept.
  frontend/src/features/election_status/components/ElectionStatusPage.test.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
  frontend/src/features/resolve_differences/hooks/usePollingStationDataEntryDifferences.ts
Due: frontend-linter

Push message from resolve differences for discard both entries.
  frontend/src/features/election_status/components/ElectionStatusPage.test.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
Due: frontend-linter

Push message from resolve errors page, remove url alert message handling from status page
  frontend/src/features/election_status/components/ElectionStatusPage.test.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.tsx
  frontend/src/testing/api-mocks/DataEntryMockData.ts
Due: frontend-linter

Added focus styling
  frontend/src/components/ui/FileInput/FileInput.module.css
  frontend/src/components/ui/FileInput/FileInput.tsx
Due: frontend-linter

Now using correct focus styling
  frontend/src/components/ui/FileInput/FileInput.module.css
Due: none
