Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: cargo run --package backend --bin gen-openapi && git add openapi.json
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-typescript:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npx tsc
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Restore ping mock endpoint and test
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/api.test.ts
Due: frontend-typescript, frontend-linter

move helper to separate file; makes page object use openapi types
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/resume-data-entry.e2e.ts
  frontend/e2e-tests/e2e-test-helpers.ts
  frontend/e2e-tests/page-objects/data_entry/DifferencesPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/RecountedPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/VotersAndVotesPgObj.ts
Due: frontend-typescript, frontend-linter

adds file with information about data exchange
  documentatie/softwarearchitectuur/Gegevensuitwisseling-met-andere-systemen.md
Due: none

fixes typo
  documentatie/softwarearchitectuur/Gegevensuitwisseling-met-andere-systemen.md
Due: none

refactors e2e test helper to be generic
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/e2e-test-helpers.ts
  frontend/e2e-tests/page-objects/data_entry/DifferencesPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/NavigationPanelPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/RecountedPgObj.ts
Due: frontend-typescript, frontend-linter

Updated instructions
  documentatie/gebruikersdocumentatie/img/binary-download-1.png
  documentatie/gebruikersdocumentatie/img/binary-download-2.png
  documentatie/gebruikersdocumentatie/img/binary-download.jpg
  documentatie/gebruikersdocumentatie/img/build-artifact-1.jpg
  documentatie/gebruikersdocumentatie/img/build-artifact-2.jpg
  documentatie/gebruikersdocumentatie/installeren-en-starten.md
Due: none

No default handlers used in tests (#881)
  frontend/app/component/form/data_entry/PollingStationFormController.test.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.test.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/polling_station/PollingStationForm.test.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.test.tsx
  frontend/app/module/data_entry/polling_station/AbortDataEntryControl.test.tsx
  frontend/app/module/data_entry/polling_station/PollingStation.test.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.test.tsx
  frontend/app/module/election/page/ElectionReportPage.test.tsx
  frontend/app/module/polling_stations/page/PollingStationCreatePage.test.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.test.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.test.tsx
  frontend/app/routes.test.tsx
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/api.test.ts
  frontend/lib/test/router.ts
  frontend/lib/test/router.tsx
  frontend/lib/test/server.ts
Due: frontend-typescript, frontend-linter

Apportionment calculation for <19 seats (#835)
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Renamed party to political group in comments
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Applied code suggestions from Mark
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added datastructure for final and intermediate apportionment steps
  backend/openapi.json
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/mod.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add `oneOf` support to OpenAPI generator
  backend/openapi.json
  backend/src/election/structs.rs
  backend/src/lib.rs
  frontend/lib/api/gen/openapi.ts
  frontend/scripts/openapi/generator.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Updated apportionment components in lib.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Populate and return data structure on seat allocation
  backend/openapi.json
  backend/src/apportionment/mod.rs
  backend/src/lib.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Removed not needed traits
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Removed old TODO and changed fold to map where recommended in the review comments
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Reworked some of the apportionment code
  backend/openapi.json
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/mod.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update vitest and vite-node to 3.0.3
  frontend/package-lock.json
  frontend/package.json
Due: none

Error comparison is more strict for vitest 3
  frontend/lib/api/ApiClient.test.ts
Due: frontend-typescript, frontend-linter

adds check that polling station number is larger than 0 when creating or updating
  frontend/app/component/form/polling_station/PollingStationForm.test.tsx
  frontend/app/component/form/polling_station/PollingStationForm.tsx
Due: frontend-typescript, frontend-linter

introduces separate variable for error text key
  frontend/app/component/form/polling_station/PollingStationForm.tsx
Due: frontend-typescript, frontend-linter

changes two toMatchObject()s to toStrictEqual()s
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
Due: frontend-typescript, frontend-linter

adds check that polling station number is larger than 0 (#896)
  frontend/app/component/form/polling_station/PollingStationForm.test.tsx
  frontend/app/component/form/polling_station/PollingStationForm.tsx
Due: frontend-typescript, frontend-linter

adds playwright fixture for first data entry
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/fixtures.ts
Due: frontend-typescript, frontend-linter

Apply suggestions from code review
  documentatie/softwarearchitectuur/Gegevensuitwisseling-met-andere-systemen.md
Due: none

Error state and validation errors are now their own tests
  backend/src/data_entry/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove serde(tag) on AssignedSeat for now, as our typescript openapi generator does not support it
  backend/openapi.json
  backend/src/apportionment/mod.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Make meets_surplus_threshold a property instead of a function
  backend/openapi.json
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

simplifies e2e test data entry helper
  frontend/e2e-tests/e2e-test-helpers.ts
  frontend/e2e-tests/page-objects/data_entry/NavigationPanelPgObj.ts
Due: frontend-typescript, frontend-linter

improves text of a TODO
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
Due: frontend-typescript, frontend-linter

removes data entry page objects from index.ts that should only be used by other page objects
  frontend/e2e-tests/page-objects/data_entry/index.ts
Due: frontend-typescript, frontend-linter

Update OpenAPI generator
  frontend/lib/api/gen/openapi.ts
  frontend/scripts/openapi/generator.ts
Due: frontend-typescript, frontend-linter

moves declaration of page in page objects to constructor
  frontend/e2e-tests/page-objects/data_entry/AbortInputModalPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/DataEntryBasePgObj.ts
  frontend/e2e-tests/page-objects/data_entry/NavigationPanelPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/PollingStationChoicePgObj.ts
  frontend/e2e-tests/page-objects/data_entry/UnsavedChangesModalPgObj.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationFormPgObj.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationListEmptyPgObj.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationListPgObj.ts
  frontend/e2e-tests/page-objects/status/ElectionReportPgObj.ts
  frontend/e2e-tests/page-objects/status/ElectionStatusPgObj.ts
Due: frontend-typescript, frontend-linter

removes TODO that was added too soon
  frontend/e2e-tests/e2e-test-helpers.ts
Due: frontend-typescript, frontend-linter

fixes useless assignment to property warning
  frontend/e2e-tests/page-objects/data_entry/AbortInputModalPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/DataEntryBasePgObj.ts
  frontend/e2e-tests/page-objects/data_entry/NavigationPanelPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/PollingStationChoicePgObj.ts
  frontend/e2e-tests/page-objects/data_entry/UnsavedChangesModalPgObj.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationFormPgObj.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationListEmptyPgObj.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationListPgObj.ts
  frontend/e2e-tests/page-objects/status/ElectionReportPgObj.ts
  frontend/e2e-tests/page-objects/status/ElectionStatusPgObj.ts
Due: frontend-typescript, frontend-linter

Re-add serde tag for assignedseat, fix fraction for openapi spec
  backend/openapi.json
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/mod.rs
  backend/src/lib.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Added unhappy path unit tests to Status state machine (#880)
  backend/src/data_entry/status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add political group options to assigned seat structs to identify which groups had the same counts
  backend/openapi.json
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Generate openapi for frontend
  frontend/lib/api/gen/openapi.ts
Due: frontend-typescript, frontend-linter

Made some more properties available, simplify apportionmentresult
  backend/openapi.json
  backend/src/apportionment/mod.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter
