Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

backend-sqlx-prepare:
  run: 'cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite && cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets && git add .sqlx && rm sqlx-cache-tmp.sqlite
  
    '

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi && git add openapi.json && cd ../frontend && pnpm gen:openapi && git add src/types/generated/openapi.ts
  
    '

frontend-lint-tsc:
  run: pnpm lint:tsc

frontend-lint-eslint:
  run: pnpm lint:eslint

Use nightly toolchain for backend/fuzz
  backend/fuzz/rust-toolchain
Due: none

Install Clippy for nightly toolchain
  .github/workflows/build-lint-test.yml
Due: none

Let Clippy fail on any warnings
  .github/workflows/build-lint-test.yml
Due: none

Fix Clippy warnings in `backend/fuzz`
  backend/fuzz/fuzz_targets/data_entry_status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Rewrite fixtures and data entry e2e tests to use data entry instead of polling station
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/page-objects/data_entry/DataEntryHomePgObj.ts
  frontend/e2e-tests/tests/data-entry/data-entry-with-gaps.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.api-errors.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.error.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.valid.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.warning.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/resolve-differences.e2e.ts
  frontend/e2e-tests/tests/data-entry/resolve-errors.e2e.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Rewrite fixtures and data entry e2e tests to use data entry instead of polling station (#3358)
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/page-objects/data_entry/DataEntryHomePgObj.ts
  frontend/e2e-tests/tests/data-entry/data-entry-with-gaps.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.api-errors.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.error.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.valid.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.warning.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/resolve-differences.e2e.ts
  frontend/e2e-tests/tests/data-entry/resolve-errors.e2e.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Run Clippy for fuzz targets in CI (#3357)
  .github/workflows/build-lint-test.yml
  backend/fuzz/fuzz_targets/data_entry_status.rs
  backend/fuzz/rust-toolchain
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Work on adding missing PageObjects for e2e test
  frontend/e2e-tests/page-objects/apportionment/AddDeceasedCandidatePgObj.ts
  frontend/e2e-tests/page-objects/apportionment/DeceasedCandidatesPgObj.ts
  frontend/src/components/ui/CandidateList/CandidateList.tsx
  frontend/src/components/ui/Table/Table.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Renamed existing fixtures to indicate they are related to GSB elections
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/setup-test-users.ts
  frontend/e2e-tests/test-data/users.ts
  frontend/e2e-tests/tests/authentication.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry-with-gaps.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry.api-errors.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry.error.model.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry.valid.model.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry.warning.model.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/resolve-differences.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/resolve-errors.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/resume-data-entry.e2e.ts
  frontend/e2e-tests/tests/polling-station-crud.e2e.ts
  frontend/e2e-tests/tests/polling-station-import.e2e.ts
  frontend/e2e-tests/tests/users.e2e.ts
  frontend/e2e-tests/tests/zip-download-GSB.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Added add deceased candidates test (WIP) including needed CSB fixtures
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/helpers-utils/e2e-test-api-helpers.ts
  frontend/e2e-tests/page-objects/apportionment/AddDeceasedCandidatePgObj.ts
  frontend/e2e-tests/page-objects/apportionment/DeceasedCandidatesPgObj.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/apportionment/add-deceased-candidates.e2e.ts
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Finished e2e test for adding deceased candidates
  frontend/e2e-tests/page-objects/apportionment/ApportionmentListDetailsPgObj.ts
  frontend/e2e-tests/page-objects/apportionment/ApportionmentPgObj.ts
  frontend/e2e-tests/page-objects/apportionment/DeceasedCandidatesPgObj.ts
  frontend/e2e-tests/tests/apportionment/add-deceased-candidates.e2e.ts
  frontend/src/features/apportionment/components/ApportionmentTable.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

addresses review comments
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/tests/apportionment/add-deceased-candidates.e2e.ts
  frontend/e2e-tests/tests/full-flow-CSB.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

chore: clippy, biome
  backend/src/bin/abacus.rs
  backend/src/infra/backup.rs
  frontend/package.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

fix: tokio mutex requires different unpacking
  backend/src/infra/backup.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

fix: abstracted magic constant
  backend/src/bin/abacus.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed number of voters in P 22-2 model
  backend/src/domain/summary.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-p-22-2.json
  backend/templates/model-p-22-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add add deceased candidates e2e test (#3353)
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/helpers-utils/e2e-test-api-helpers.ts
  frontend/e2e-tests/page-objects/apportionment/AddDeceasedCandidatePgObj.ts
  frontend/e2e-tests/page-objects/apportionment/ApportionmentListDetailsPgObj.ts
  frontend/e2e-tests/page-objects/apportionment/ApportionmentPgObj.ts
  frontend/e2e-tests/page-objects/apportionment/DeceasedCandidatesPgObj.ts
  frontend/e2e-tests/setup-test-users.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/test-data/users.ts
  frontend/e2e-tests/tests/apportionment/add-deceased-candidates.e2e.ts
  frontend/e2e-tests/tests/authentication.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry-with-gaps.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry.api-errors.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry.error.model.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry.valid.model.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry.warning.model.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/resolve-differences.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/resolve-errors.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/resume-data-entry.e2e.ts
  frontend/e2e-tests/tests/full-flow-CSB.e2e.ts
  frontend/e2e-tests/tests/polling-station-crud.e2e.ts
  frontend/e2e-tests/tests/polling-station-import.e2e.ts
  frontend/e2e-tests/tests/users.e2e.ts
  frontend/e2e-tests/tests/zip-download-GSB.e2e.ts
  frontend/src/components/ui/CandidateList/CandidateList.tsx
  frontend/src/components/ui/Table/Table.tsx
  frontend/src/features/apportionment/components/ApportionmentTable.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

moved migration
  backend/migrations/11_alter_users.sql
  backend/migrations/4_users.sql
Due: none

Update to EML-NL 0.6
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add apportionment warning for P 9 + P 10 case
  backend/apportionment/src/lib.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/structs.rs
  backend/openapi.json
  backend/src/api/apportionment/handlers/process_apportionment.rs
  backend/src/api/apportionment/structs.rs
  backend/src/domain/apportionment.rs
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/ApportionmentProvider.tsx
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/IncludeAllCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/hooks/ApportionmentProviderContext.tsx
  frontend/src/i18n/locales/nl/apportionment.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Fixed number of voters in P 22-2 model (#3362)
  backend/src/domain/summary.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-p-22-2.json
  backend/templates/model-p-22-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update to EML-NL 0.6 (#3363)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add types for drawing lots
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/candidate_nomination/structs.rs
  backend/apportionment/src/lib.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/seat_assignment/structs.rs
  backend/apportionment/src/structs.rs
  backend/apportionment/src/test_helpers.rs
  backend/src/api/apportionment/handlers/finalise_deceased_candidates.rs
  backend/src/api/apportionment/handlers/skip_deceased_candidates.rs
  backend/src/api/apportionment/mod.rs
  backend/src/api/apportionment/structs.rs
  backend/src/domain/apportionment.rs
  backend/src/domain/apportionment_state.rs
  backend/src/domain/identifier.rs
  backend/src/repository/apportionment_state_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Clarify doc comment of session_repo::get_by_identifier
  backend/.sqlx/query-eb71ae9063638c35fa3636a947f35ce0a8588c769abb3e27c32eaab4205242aa.json
  backend/src/repository/session_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Rename session_repo::get_by_identifier to express the validation part
  backend/src/api/middleware/authentication/middleware.rs
  backend/src/repository/session_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix fuzz compiler errors
  backend/apportionment/fuzz/fuzz_targets/anonymity.rs
  backend/apportionment/fuzz/fuzz_targets/apportionment.rs
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/fuzz/fuzz_targets/population_monotonicity.rs
  backend/apportionment/fuzz/src/apportionment_input.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Consolidate DrawingLots state
  documentatie/state-machines/apportionment-state-machine.drawio.svg
Due: none

Compute user online status from sessions table
  backend/.sqlx/query-10338d2b8c10078445d4f3458a269adfd6fd43382e2239f25d540c639745082c.json
  backend/.sqlx/query-7d4880157578dbc160829d90f25c6f6853626844979baac50b9fea499ccb4b20.json
  backend/.sqlx/query-91bb5d0e7d8779b2459cd42114f2102f0bf8daf792cdcf7d2bb7e8b44f14eabc.json
  backend/.sqlx/query-cedbd3d814cfc310aa294eece50aa6c35e3a61a34ff0e6baa85a9d25b1cff6fb.json
  backend/.sqlx/query-d2e7ccdcaf3557246ddc1b8f219efc1d1852c5b857d0ec28c39cd9c1d7b18ea1.json
  backend/migrations/4_users.sql
  backend/src/api/authentication.rs
  backend/src/repository/user_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

One DrawingLots state in the apportionment state machine (#3370)
  documentatie/state-machines/apportionment-state-machine.drawio.svg
Due: none

Add apportionment warning for P 9 + P 10 case (#3364)
  backend/apportionment/src/lib.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/structs.rs
  backend/openapi.json
  backend/src/api/apportionment/handlers/process_apportionment.rs
  backend/src/api/apportionment/structs.rs
  backend/src/domain/apportionment.rs
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/ApportionmentProvider.tsx
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/IncludeAllCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/hooks/ApportionmentProviderContext.tsx
  frontend/src/i18n/locales/nl/apportionment.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Added more comments
  backend/apportionment/fuzz/src/apportionment_input.rs
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Changed comments from // to ///
  backend/apportionment/fuzz/src/apportionment_input.rs
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added docstrings to domain/apportionment as well
  backend/apportionment/src/structs.rs
  backend/src/domain/apportionment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Improve apportionment debug logging
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Make fuzzer more specific for drawing lots
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/fuzz/Cargo.lock
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add apportionment fuzz coverage helper script
  backend/apportionment/fuzz/README.md
  backend/apportionment/fuzz/coverage_differential_osv2020.sh
Due: none

Add types for drawing lots (#3366)
  backend/apportionment/fuzz/fuzz_targets/anonymity.rs
  backend/apportionment/fuzz/fuzz_targets/apportionment.rs
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/fuzz/fuzz_targets/population_monotonicity.rs
  backend/apportionment/fuzz/src/apportionment_input.rs
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/candidate_nomination/structs.rs
  backend/apportionment/src/lib.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/seat_assignment/structs.rs
  backend/apportionment/src/structs.rs
  backend/apportionment/src/test_helpers.rs
  backend/src/api/apportionment/handlers/finalise_deceased_candidates.rs
  backend/src/api/apportionment/handlers/skip_deceased_candidates.rs
  backend/src/api/apportionment/mod.rs
  backend/src/api/apportionment/structs.rs
  backend/src/domain/apportionment.rs
  backend/src/domain/apportionment_state.rs
  backend/src/domain/identifier.rs
  backend/src/repository/apportionment_state_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move calling apportionment process to service
  backend/src/api/apportionment/handlers/process_apportionment.rs
  backend/src/api/apportionment/mapping.rs
  backend/src/api/apportionment/mod.rs
  backend/src/api/report/structs.rs
  backend/src/domain/models/enriched_candidate_nomination.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/service/apportionment.rs
  backend/src/service/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Renamed ApportionmentStateDrawing to DrawingLotsDetails
  backend/src/domain/apportionment_state.rs
  backend/src/repository/apportionment_state_repo.rs
  backend/src/service/apportionment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-lint-tsc: any of: *.{ts,tsx} and ^frontend/
  frontend-lint-eslint: any of: *.{ts,tsx} and ^frontend/
