Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

backend-sqlx-prepare:
  run: 'cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite && cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets && git add .sqlx && rm sqlx-cache-tmp.sqlite
  
    '

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi && git add openapi.json && cd ../frontend && pnpm gen:openapi && git add src/types/generated/openapi.ts
  
    '

frontend-lint-tsc:
  run: pnpm lint:tsc

frontend-lint-eslint:
  run: pnpm lint:eslint

Move discard correction tests to new correct differences file
  frontend/e2e-tests/tests/data-entry-GSB/data-entry.correct-differences.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/resolve-differences.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Go to correction state using a fixture, add data entry correction tests
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/helpers-utils/e2e-test-api-helpers.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry.correct-differences.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Run fuzzers in nightly CI workflow
  .github/workflows/build-lint-test.yml
  .github/workflows/fuzz.yml
  backend/apportionment/fuzz/README.md
  backend/fuzz/README.md
Due: none

Use fixture instead of storageState to make the roles more clear. Remove Playwright Page variables "Page" postfix and use that only for page objects.
  frontend/e2e-tests/tests/data-entry-GSB/data-entry.correct-differences.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Upate `backend/fuzz/Cargo.lock`
  backend/fuzz/Cargo.lock
Due: none

Use Cargo `--locked` option in correct position
  .github/workflows/build-lint-test.yml
  .github/workflows/release.yml
  .github/workflows/weekly-e2e-tests.yml
Due: none

Separated N 10-1 inlegvel into separate model
  backend/src/bin/gen-pdf.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/models/model_n_10_1.rs
  backend/src/infra/pdf_gen/sources.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/templates/inputs/model-n-10-1-inlegvel.json
  backend/templates/model-n-10-1-inlegvel.typ
  backend/templates/model-n-10-1.typ
  backend/templates/visual-diff.sh
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove `target/sqlx` if it exists
  .github/workflows/build-lint-test.yml
  .github/workflows/codecov.yml
Due: none

Add `--locked` to `cargo doc` step
  .github/workflows/build-lint-test.yml
Due: none

Add Model Na 31-1 inlegvel (#3761)
  backend/src/bin/gen-pdf.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/models/model_na_31_1.rs
  backend/src/infra/pdf_gen/sources.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/templates/inputs/model-na-31-1-inlegvel.json
  backend/templates/model-na-31-1-inlegvel.typ
  backend/templates/visual-diff.sh
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

- Added DSOFirstSession and DSONextSession to Results::new - Implemented PollingstationResults for DSOFirstSessionResults - Added DSO election fixture without results
  backend/fixtures/election_11_dso.sql
  backend/src/api/data_entry.rs
  backend/src/domain/results/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add test and validations for F.131 and F.132
  backend/src/domain/results/checks_and_corrections.rs
  backend/src/domain/validate.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add test and validations for F.133 and F.134
  backend/src/domain/results/checks_and_corrections.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added DSO fixture with results and finished final test
  backend/fixtures/election_12_dso_with_results.sql
  backend/src/api/data_entry.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove remaining page
  frontend/e2e-tests/tests/data-entry-GSB/data-entry.correct-differences.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Remove remaining page and storageState
  frontend/e2e-tests/tests/data-entry-GSB/data-entry.correct-differences.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Update cache action
  .github/workflows/fuzz.yml
Due: none

Apply suggestions from code review
  backend/templates/model-n-10-1-inlegvel.typ
  backend/templates/model-n-10-1.typ
Due: none

Fix the extra space displayed before refs
  backend/templates/common/style.typ
Due: none

Prevent test timing issue, assert notification message content and fix issue
  frontend/e2e-tests/page-objects/data_entry/DataEntryHomePgObj.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry.correct-differences.e2e.ts
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/i18n/locales/nl/data_entry.json
Due: frontend-lint-tsc, frontend-lint-eslint

Fixed rendering of polling station number in N 10-1 inlegvel
  backend/src/domain/models/model_n_10_1.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/templates/inputs/model-n-10-1-inlegvel.json
  backend/templates/model-n-10-1-inlegvel.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Removed header-left from title page
  backend/templates/model-n-10-1.typ
Due: none

Remove the extra space displayed before refs in models (#3799)
  backend/templates/common/style.typ
Due: none

Added model Na 14-1 versie 1
  backend/src/domain/models/mod.rs
  backend/src/domain/models/model_na_14_1.rs
  backend/src/infra/pdf_gen/sources.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/templates/inputs/model-na-14-1-versie-1-variations/model-na-14-1-versie-1-GR.json
  backend/templates/inputs/model-na-14-1-versie-1-variations/model-na-14-1-versie-1-PS.json
  backend/templates/inputs/model-na-14-1-versie-1-variations/model-na-14-1-versie-1-WS.json
  backend/templates/model-na-14-1-versie-1.typ
  backend/templates/visual-diff.sh
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move title for "Stemmen per lijst en per kandidaat" to separate page for Na 31-2 (as requested)
  backend/templates/model-na-31-2.typ
Due: none

Processed review comments
  backend/src/api/data_entry.rs
  backend/src/domain/election.rs
  backend/src/domain/results/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added Model Na 31-1 smoke test
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add Model Na 31-1
  backend/src/bin/gen-pdf.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/models/model_na_31_1.rs
  backend/src/infra/pdf_gen/sources.rs
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-GR.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-PS.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-WS.json
  backend/templates/model-na-31-1.typ
  backend/templates/visual-diff.sh
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Rename "result_corrected" to "corrected_results" in "polling_station_investigations"
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-GR.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-PS.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-WS.json
  backend/templates/model-na-31-1.typ
Due: none

Processed review comments
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-GR.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-PS.json
  backend/templates/inputs/model-na-31-1-variations/model-na-31-1-WS.json
  backend/templates/model-na-31-1.typ
Due: none

Split ElectionSummary, get_files, ResultsInputData, get_count_eml and get_eml_count_contest into cso, dso and csb. Added ElectionSummaryApportionment without "polling_station_investigations"
  backend/openapi.json
  backend/src/api/apportionment/handlers/process_apportionment.rs
  backend/src/api/apportionment/structs.rs
  backend/src/api/report.rs
  backend/src/bin/gen-test-election.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/src/domain/models/model_na_14_2.rs
  backend/src/domain/models/model_na_31_1.rs
  backend/src/domain/models/model_na_31_2.rs
  backend/src/domain/models/votes_table.rs
  backend/src/domain/report/files.rs
  backend/src/domain/report/structs.rs
  backend/src/domain/summary.rs
  backend/src/eml/mod.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/infra/pdf_gen/typst_tests.rs
  backend/src/service/apportionment.rs
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/hooks/ApportionmentProviderContext.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p10-full-seat-removal.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p7-drawing-lots.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9-drawing-lots-and-deceased-candidates.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-not-all-seats-assigned.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10-and-deceased-candidate.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10-and-deceased-candidates.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p15-drawing-lots.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p7-drawing-lots.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-drawing-lots.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Update backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-1.typ
Due: none

Replace `assert!(matches!())` with `assert_matches!()`
  backend/src/domain/results/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add Model N 10-1 & inlegvel (#3759)
  backend/src/bin/gen-pdf.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/models/model_n_10_1.rs
  backend/src/infra/pdf_gen/sources.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/templates/inputs/model-n-10-1-inlegvel.json
  backend/templates/inputs/model-n-10-1-variations/model-n-10-1-GR.json
  backend/templates/inputs/model-n-10-1-variations/model-n-10-1-PS.json
  backend/templates/inputs/model-n-10-1-variations/model-n-10-1-WS.json
  backend/templates/model-n-10-1-inlegvel.typ
  backend/templates/model-n-10-1.typ
  backend/templates/visual-diff.sh
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Backend adjust claim to return DSO model (#3798)
  backend/fixtures/election_11_dso.sql
  backend/fixtures/election_12_dso_with_results.sql
  backend/src/api/data_entry.rs
  backend/src/domain/election.rs
  backend/src/domain/results/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Forgot to add the new model to gen-pdf
  backend/src/bin/gen-pdf.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

2 changes from model team implemented
  backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-2.typ
Due: none

Add data entry correction e2e tests (#3793)
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/helpers-utils/e2e-test-api-helpers.ts
  frontend/e2e-tests/page-objects/data_entry/DataEntryHomePgObj.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry.correct-differences.e2e.ts
  frontend/e2e-tests/tests/data-entry-GSB/resolve-differences.e2e.ts
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/i18n/locales/nl/data_entry.json
Due: frontend-lint-tsc, frontend-lint-eslint

Processed review comments
  backend/src/domain/models/mod.rs
  backend/templates/model-na-14-1-versie-1.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added Model Na 14-1 versie 2
  backend/src/bin/gen-pdf.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/models/model_na_14_1.rs
  backend/src/infra/pdf_gen/sources.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/templates/inputs/model-na-14-1-versie-2-variations/model-na-14-1-versie-2-GR.json
  backend/templates/inputs/model-na-14-1-versie-2-variations/model-na-14-1-versie-2-PS.json
  backend/templates/inputs/model-na-14-1-versie-2-variations/model-na-14-1-versie-2-WS.json
  backend/templates/model-na-14-1-versie-2.typ
  backend/templates/visual-diff.sh
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-lint-tsc: any of: *.{ts,tsx} and ^frontend/
  frontend-lint-eslint: any of: *.{ts,tsx} and ^frontend/
