Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

backend-sqlx-prepare:
  run: 'cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite && cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets && git add .sqlx && rm sqlx-cache-tmp.sqlite
  
    '

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi && git add openapi.json && cd ../frontend && pnpm gen:openapi && git add src/types/generated/openapi.ts
  
    '

frontend-lint-tsc:
  run: pnpm lint:tsc

frontend-lint-eslint:
  run: pnpm lint:eslint

Drawing lots for absolute majority (#3460)
  backend/apportionment/fuzz/fuzz_targets/apportionment.rs
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/seat_assignment/structs.rs
  backend/apportionment/src/structs.rs
  backend/apportionment/src/test_helpers.rs
  backend/openapi.json
  backend/src/api/apportionment/handlers/add_list_drawn.rs
  backend/src/api/apportionment/mod.rs
  backend/src/api/apportionment/structs.rs
  backend/src/domain/apportionment.rs
  backend/src/domain/apportionment_state.rs
  backend/src/repository/apportionment_state_repo.rs
  backend/src/service/apportionment.rs
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/IncludeAllCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

removes comment with note to self
  frontend/src/utils/progressPercentage.test.ts
Due: frontend-lint-tsc, frontend-lint-eslint

fixes e2e tests
  frontend/e2e-tests/test-data/request-response-templates.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Resolve mutation in list_qualifies_for_extra_seat (#3453)
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Apply suggestion from @stacktraceghost
  frontend/src/utils/progressPercentage.ts
Due: frontend-lint-tsc, frontend-lint-eslint

removes duplicate check if total > 0 for progress percentage
  frontend/src/features/data_entry_home/components/ElectionProgress.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Round progress percentages appropriately (#3465)
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.test.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.ts
  frontend/src/features/data_entry_home/components/ElectionProgress.test.tsx
  frontend/src/features/data_entry_home/components/ElectionProgress.tsx
  frontend/src/features/election_status/components/ElectionStatus.stories.tsx
  frontend/src/features/election_status/hooks/useElectionStatus.ts
  frontend/src/utils/progressPercentage.test.ts
  frontend/src/utils/progressPercentage.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Show currently logged in users (#3349)
  backend/.sqlx/query-5820c34829bee0e13ba67cdfc0efa9965a1f90977703aa41ade20b2750ed9647.json
  backend/.sqlx/query-7b43ccc49592fcc0c7aec52b7b487b6dfc32565ea6150aaddc75d6b42a3c87f4.json
  backend/.sqlx/query-9167c1b9360a0afa70894641ac318f1d9b36cd638e7b009b6e2d9ed9009aaf84.json
  backend/.sqlx/query-d7e19e02ecc37d2d280876571341bc37d401f4d8991351a8d2a6521ee456266e.json
  backend/openapi.json
  backend/src/api/middleware/authentication/middleware.rs
  backend/src/api/middleware/authentication/mod.rs
  backend/src/repository/session_repo.rs
  backend/src/repository/user_repo.rs
  frontend/src/features/users/components/UserListPage.tsx
  frontend/src/features/users/components/users.module.css
  frontend/src/i18n/locales/nl/users.json
  frontend/src/testing/api-mocks/UserMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Expand PDF diff with P 22-2 variants (#3464)
  .github/workflows/scripts/pdf-diff.js
  backend/src/bin/gen-pdf.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed rendering of fractions in highest averages table in Model P 22-2 (#3461)
  backend/templates/common/scripts.typ
Due: none

Add number of voters value between 100% and 200% of votes to gen test election with given votes
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use candidates_drawn iterator for drawing lots for candidates
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/lib.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/structs.rs
  backend/apportionment/src/test_helpers.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refetch both result/state
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/ApportionmentProvider.tsx
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.tsx
  frontend/src/features/apportionment/components/deceased_candidates/IncludeAllCandidatesPage.tsx
  frontend/src/features/apportionment/hooks/ApportionmentProviderContext.tsx
  frontend/src/features/apportionment/hooks/useApportionmentRequest.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Adjust tests
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/IncludeAllCandidatesPage.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Add real number of voters to gen test election (#3470)
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add database backup system (#3417)
  backend/src/infra/backup.rs
  backend/src/infra/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Apportionment always refetch result and state (#3472)
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/ApportionmentProvider.tsx
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.tsx
  frontend/src/features/apportionment/components/deceased_candidates/IncludeAllCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/IncludeAllCandidatesPage.tsx
  frontend/src/features/apportionment/hooks/ApportionmentProviderContext.tsx
  frontend/src/features/apportionment/hooks/useApportionmentRequest.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Add plain HTTP server for redirect and CA download
  backend/README.md
  backend/src/bin/abacus.rs
  backend/src/infra/mod.rs
  backend/src/infra/plain_http.rs
  backend/src/infra/router.rs
  backend/src/infra/tls.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Enable TLS in release builds
  .github/workflows/release.yml
Due: none

Skip abacus-test.nl deploy for forks in release
  .github/workflows/release.yml
Due: none

First add custom names to gen test election p22-2 variants
  backend/src/test_data_gen/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Corrected current variant files (removing counting method)
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-p-22-2.json
Due: none

Also corrected frontend test variants
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Fix authority id in 510d and 520 EMLs
  backend/src/domain/election.rs
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Drawing lots for candidate nominations (P 15) (#3471)
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/lib.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/structs.rs
  backend/apportionment/src/test_helpers.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added drawing lots (P7) variants for model P 22-2
  backend/src/bin/gen-pdf.rs
  backend/src/domain/summary.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p7.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p7.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Enable TLS in release builds (#3477)
  .github/workflows/release.yml
Due: none

Adjusted highest averages table description for lt 19 seats in P 22-2
  backend/templates/model-p-22-2.typ
Due: none

Update contributors.yml
  contributors.yml
Due: none

Update contributors.yml (#3482)
  contributors.yml
Due: none

Add plain HTTP server for redirect and CA download (#3474)
  backend/README.md
  backend/src/bin/abacus.rs
  backend/src/infra/mod.rs
  backend/src/infra/plain_http.rs
  backend/src/infra/router.rs
  backend/src/infra/tls.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add more P 22-2 input variants (#3475)
  backend/src/bin/gen-pdf.rs
  backend/src/domain/summary.rs
  backend/src/test_data_gen/api.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p7.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p7.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-p-22-2.json
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Removed now not needed anymore error specification and removed table cell keys where not needed
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.tsx
  frontend/src/features/apportionment/components/deceased_candidates/IncludeAllCandidatesPage.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsPage.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Changed copy of drawing lots for list required alert to updated design
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Added warning alert if drawing lots for a list is required
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Added correct redirect to ApportionmentTable and added tests for this and ResidualSeatsPage drawing lots alerts
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentTable.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Add extra round to HighestAveragesTable in case of drawing lots
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p7.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p7.ts
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Add drawing lots form to page with working submit
  frontend/src/features/apportionment/components/deceased_candidates/IncludeAllCandidatesPage.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForList.stories.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForList.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsPage.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Improved testing of drawing of lots on ApportionmentPage
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p7.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p7.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Make sure all needed tables render again, separated Sections out of ApportionmentPage, added drawing lots info alerts
  frontend/src/features/apportionment/components/Apportionment.module.css
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/ApportionmentTable.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.tsx
  frontend/src/features/apportionment/utils/utils.tsx
  frontend/src/i18n/locales/nl/apportionment.json
  frontend/src/styles/util.css
Due: frontend-lint-tsc, frontend-lint-eslint

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-lint-tsc: any of: *.{ts,tsx} and ^frontend/
  frontend-lint-eslint: any of: *.{ts,tsx} and ^frontend/
