Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite &&
        cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets &&
        git add .sqlx &&
        rm sqlx-cache-tmp.sqlite
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi &&
        git add openapi.json &&
        cd ../frontend &&
        pnpm gen:openapi &&
        git add src/types/generated/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: pnpm format --staged --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-biome:
      root: "frontend/"
      run: pnpm lint:biome --write --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-tsc:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:tsc
    frontend-lint-eslint:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:eslint

ZIP-spelling
  frontend/src/features/election_management/components/report/GSBElectionReportSection.test.tsx
  frontend/src/i18n/locales/nl/election_management.json
Due: frontend-lint-tsc, frontend-lint-eslint

Add list and candidate drawn to API and apportionment input data (#3396)
  backend/openapi.json
  backend/src/api/apportionment/handlers/add_candidate_drawn.rs
  backend/src/api/apportionment/handlers/add_list_drawn.rs
  backend/src/api/apportionment/handlers/mod.rs
  backend/src/api/apportionment/mod.rs
  backend/src/api/apportionment/structs.rs
  backend/src/api/report/files.rs
  backend/src/domain/apportionment_state.rs
  backend/src/domain/models/apportionment_footnotes.rs
  backend/src/domain/models/enriched_candidate_nomination.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/service/apportionment.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

A couple of small fixes
  backend/src/api/report/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update PR template
  .github/pull_request_template.md
Due: none

Update frontend/src/features/election_management/components/report/GSBElectionReportSection.test.tsx
  frontend/src/features/election_management/components/report/GSBElectionReportSection.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Update frontend/src/i18n/locales/nl/election_management.json
  frontend/src/i18n/locales/nl/election_management.json
Due: none

Implement GSB OSV4-3 CSV export (#3392)
  backend/src/api/report/files.rs
  backend/src/api/report/handlers.rs
  backend/src/api/report/structs.rs
  backend/src/domain/file.rs
  backend/tests/report_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Configure Sigrid to ignore rsa crate vuln
  sigrid.yaml
Due: none

Add CSV file to descriptions in Election Report page (#3397)
  frontend/src/features/election_management/components/report/GSBElectionReportSection.test.tsx
  frontend/src/features/election_management/components/report/GSBElectionReportSection.tsx
  frontend/src/i18n/locales/nl/election_management.json
Due: frontend-lint-tsc, frontend-lint-eslint

Add publiccode.yml
  publiccode.yml
Due: none

Move documentation URL
  publiccode.yml
Due: none

Update React Router to v7.17.0
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

Clean up pnpm workspace config
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

Update React Router to v7.17.0 (#3400)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

Configure Sigrid to ignore RSA crate vuln (#3399)
  sigrid.yaml
Due: none

Update frontend types
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/IncludeAllCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Add extra information about the drawing lots to the drawing lots variant structs
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/lib.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/seat_assignment/structs.rs
  backend/apportionment/src/structs.rs
  backend/apportionment/src/test_helpers.rs
  backend/openapi.json
  backend/src/api/apportionment/handlers/add_candidate_drawn.rs
  backend/src/api/apportionment/handlers/add_list_drawn.rs
  backend/src/api/apportionment/mod.rs
  backend/src/api/apportionment/structs.rs
  backend/src/domain/apportionment.rs
  backend/src/domain/apportionment_state.rs
  backend/src/repository/apportionment_state_repo.rs
  backend/src/service/apportionment.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Update fuzzer types
  backend/apportionment/fuzz/src/apportionment_input.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update PR template (#3398)
  .github/pull_request_template.md
Due: none

added clarification of the values
  publiccode.yml
Due: none

Add publiccode.yml (#3311)
  publiccode.yml
Due: none

Remove libloading dependency
  backend/Cargo.lock
  backend/pdf_gen/dylib/src/lib.rs
  backend/pdf_gen/wrapper/Cargo.toml
  backend/pdf_gen/wrapper/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove unsafe usages, add back lints from workspace
  backend/pdf_gen/dylib/Cargo.toml
  backend/pdf_gen/dylib/src/lib.rs
  backend/pdf_gen/wrapper/Cargo.toml
  backend/pdf_gen/wrapper/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Refactor ResultsInput struct (#3320)
  backend/src/api/mod.rs
  backend/src/api/report.rs
  backend/src/api/report/mod.rs
  backend/src/bin/gen-test-election.rs
  backend/src/domain/mod.rs
  backend/src/domain/report/files.rs
  backend/src/domain/report/mod.rs
  backend/src/domain/report/structs.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Return extra information when drawing lots is required (#3401)
  backend/apportionment/fuzz/src/apportionment_input.rs
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/lib.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/seat_assignment/structs.rs
  backend/apportionment/src/structs.rs
  backend/apportionment/src/test_helpers.rs
  backend/openapi.json
  backend/src/api/apportionment/handlers/add_candidate_drawn.rs
  backend/src/api/apportionment/handlers/add_list_drawn.rs
  backend/src/api/apportionment/mod.rs
  backend/src/api/apportionment/structs.rs
  backend/src/domain/apportionment.rs
  backend/src/domain/apportionment_state.rs
  backend/src/repository/apportionment_state_repo.rs
  backend/src/service/apportionment.rs
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/DeceasedCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/deceased_candidates/IncludeAllCandidatesPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Process apportionment anew after adding drawn lots
  backend/src/api/apportionment/handlers/add_candidate_drawn.rs
  backend/src/api/apportionment/handlers/add_deceased_candidate.rs
  backend/src/api/apportionment/handlers/add_list_drawn.rs
  backend/src/api/apportionment/handlers/delete_deceased_candidate.rs
  backend/src/api/apportionment/handlers/finalise_deceased_candidates.rs
  backend/src/api/apportionment/handlers/register_deceased_candidates.rs
  backend/src/api/apportionment/handlers/reset_apportionment_state.rs
  backend/src/api/apportionment/handlers/skip_deceased_candidates.rs
  backend/src/domain/report/files.rs
  backend/src/service/apportionment.rs
  backend/src/service/change_committee_session_status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Process drawing lots for list results
  backend/apportionment/fuzz/fuzz_targets/apportionment.rs
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/structs.rs
  backend/apportionment/src/test_helpers.rs
  backend/openapi.json
  backend/src/error.rs
  backend/src/service/apportionment.rs
  backend/tests/apportionment_integration_test.rs
  frontend/src/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Process apportionment anew after adding drawn lots (#3403)
  backend/src/api/apportionment/handlers/add_candidate_drawn.rs
  backend/src/api/apportionment/handlers/add_deceased_candidate.rs
  backend/src/api/apportionment/handlers/add_list_drawn.rs
  backend/src/api/apportionment/handlers/delete_deceased_candidate.rs
  backend/src/api/apportionment/handlers/finalise_deceased_candidates.rs
  backend/src/api/apportionment/handlers/register_deceased_candidates.rs
  backend/src/api/apportionment/handlers/reset_apportionment_state.rs
  backend/src/api/apportionment/handlers/skip_deceased_candidates.rs
  backend/src/domain/report/files.rs
  backend/src/service/apportionment.rs
  backend/src/service/change_committee_session_status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix test copy and comment
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Undo premature translation change
  frontend/src/i18n/locales/nl/error.json
Due: none

Use a single lists_drawn iterator thoughout apportionment process
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update comment in fuzzer
  backend/apportionment/fuzz/fuzz_targets/apportionment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update CLA Bot version
  .github/workflows/cla.yml
Due: none

Process drawing lots for list results (#3404)
  backend/apportionment/fuzz/fuzz_targets/apportionment.rs
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/structs.rs
  backend/apportionment/src/test_helpers.rs
  backend/openapi.json
  backend/src/error.rs
  backend/src/service/apportionment.rs
  backend/tests/apportionment_integration_test.rs
  frontend/src/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Use a dylib for linking to typst during development (#3289)
  .github/workflows/build-lint-test.yml
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/fuzz/Cargo.lock
  backend/fuzz/Cargo.toml
  backend/pdf_gen/dylib/Cargo.toml
  backend/pdf_gen/dylib/src/lib.rs
  backend/pdf_gen/impl/Cargo.toml
  backend/pdf_gen/impl/src/lib.rs
  backend/pdf_gen/impl/src/world.rs
  backend/pdf_gen/src/embedded/mod.rs
  backend/pdf_gen/src/external.rs
  backend/pdf_gen/types/Cargo.toml
  backend/pdf_gen/types/src/lib.rs
  backend/pdf_gen/types/src/zip.rs
  backend/pdf_gen/wrapper/Cargo.toml
  backend/pdf_gen/wrapper/src/lib.rs
  backend/src/api/document.rs
  backend/src/api/investigation.rs
  backend/src/bin/gen-pdf.rs
  backend/src/domain/report/structs.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/infra/pdf_gen/typst_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added Copy trait to DisplayFraction and corrected comment
  backend/apportionment/src/seat_assignment/structs.rs
  backend/src/domain/apportionment.rs
  backend/src/domain/models/enriched_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added residual seat numbers to highest average and largest remainder variants
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/src/repository/apportionment_state_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi
