Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

backend-sqlx-prepare:
  run: 'cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite && cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets && git add .sqlx && rm sqlx-cache-tmp.sqlite
  
    '

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi && git add openapi.json && cd ../frontend && pnpm gen:openapi && git add src/types/generated/openapi.ts
  
    '

frontend-lint-tsc:
  run: pnpm lint:tsc

frontend-lint-eslint:
  run: pnpm lint:eslint

Footnotes simplification
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Added drawing lots options to P 9 footnote if assigned by drawing lots
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Made sure UniqueHighestAveragesTable can also reflect resultChanges
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.tsx
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10-and-deceased-candidates.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/utils/seat-change.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Added footnote for absolute majority reassignment before drawing lots
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-drawing-lots.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/features/apportionment/utils/seat-change.tsx
  frontend/src/features/apportionment/utils/steps.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Move data closer to components, refactor splitResultChanges
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/utils/seat-change.tsx
  frontend/src/features/apportionment/utils/steps.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Merge components
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Footnotes own visibility logic, small fixes, improved typing
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.tsx
  frontend/src/features/apportionment/utils/steps.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Filter steps locally, move footnotes
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/utils/steps.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Apportionment tests for larger functions in residual seat assignment (#3559)
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Footnote for drawing lots for P 9 and bugfix for result changes reflected in tables (#3564)
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForList.stories.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/Footnotes.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.tsx
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10-and-deceased-candidates.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-drawing-lots.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/features/apportionment/utils/seat-change.tsx
  frontend/src/features/apportionment/utils/steps.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Always remove empty app dir in Windows installer (#3572)
  packaging/windows/abacus.iss
Due: none

Add to lefthook
  lefthook.yml
Due: none

Ensure linting does not allow unnecessary imports using ts extensions and run fix on existing codebase
  frontend/e2e-tests/tests/election-create.e2e.ts
  frontend/e2e-tests/tests/full-flow-CSB.e2e.ts
  frontend/e2e-tests/tests/full-flow-GSB.e2e.ts
  frontend/eslint.config.js
  frontend/src/components/data_entry/CommitteeSessionPausedModal.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithVotesTable.stories.tsx
  frontend/src/features/backups/components/BackupsPage.test.tsx
  frontend/src/features/backups/components/BackupsPage.tsx
  frontend/src/features/backups/components/BackupsPageContent.tsx
  frontend/src/features/backups/routes.tsx
  frontend/src/features/data_entry/components/DataEntryPage.tsx
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry_detail/components/DetailLayout.tsx
  frontend/src/features/data_entry_home/components/DataEntrySourceNumberInput.tsx
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
  frontend/src/features/election_create/components/CommitteeCategory.test.tsx
  frontend/src/features/election_create/components/CommitteeCategory.tsx
  frontend/src/features/election_create/routes.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.test.tsx
  frontend/src/features/election_status/components/CategoryRow.tsx
  frontend/src/i18n/feedback-structure.test.tsx
  frontend/src/utils/committeeSession.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Added drawing lots for list and candidate e2e test
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/page-objects/apportionment/ApportionmentPgObj.ts
  frontend/e2e-tests/page-objects/apportionment/ApportionmentResidualSeatsPgObj.ts
  frontend/e2e-tests/page-objects/apportionment/DrawingLotsPgObj.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/apportionment/drawing-lots-for-list-and-candidate.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Adjust to id instead of aria-label change
  frontend/e2e-tests/page-objects/apportionment/DrawingLotsPgObj.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Renamed getAlert to getAlertByText in ApportionmentPgObj
  frontend/e2e-tests/page-objects/apportionment/ApportionmentPgObj.ts
  frontend/e2e-tests/tests/apportionment/drawing-lots-for-list-and-candidate.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Changed alert title locators to private and added check for toReport when drawing lots is finished
  frontend/e2e-tests/page-objects/apportionment/ApportionmentPgObj.ts
  frontend/e2e-tests/page-objects/apportionment/ApportionmentResidualSeatsPgObj.ts
  frontend/e2e-tests/page-objects/apportionment/IncludeAllCandidatesPgObj.ts
  frontend/e2e-tests/tests/apportionment/drawing-lots-for-list-and-candidate.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Ensure TypeScript imports do not contain unnecessary file extensions (#3577)
  frontend/e2e-tests/tests/election-create.e2e.ts
  frontend/e2e-tests/tests/full-flow-CSB.e2e.ts
  frontend/e2e-tests/tests/full-flow-GSB.e2e.ts
  frontend/eslint.config.js
  frontend/src/components/data_entry/CommitteeSessionPausedModal.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithVotesTable.stories.tsx
  frontend/src/features/backups/components/BackupsPage.test.tsx
  frontend/src/features/backups/components/BackupsPage.tsx
  frontend/src/features/backups/components/BackupsPageContent.tsx
  frontend/src/features/backups/routes.tsx
  frontend/src/features/data_entry/components/DataEntryPage.tsx
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry_detail/components/DetailLayout.tsx
  frontend/src/features/data_entry_home/components/DataEntrySourceNumberInput.tsx
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
  frontend/src/features/election_create/components/CommitteeCategory.test.tsx
  frontend/src/features/election_create/components/CommitteeCategory.tsx
  frontend/src/features/election_create/routes.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.test.tsx
  frontend/src/features/election_status/components/CategoryRow.tsx
  frontend/src/i18n/feedback-structure.test.tsx
  frontend/src/utils/committeeSession.ts
  lefthook.yml
Due: frontend-lint-tsc, frontend-lint-eslint

Remove direct dependency on quick-xml
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/fuzz/Cargo.lock
  backend/openapi.json
  backend/src/api/election.rs
  backend/src/error.rs
  frontend/src/features/election_create/components/UploadCandidatesDefinition.test.tsx
  frontend/src/features/election_create/components/UploadElectionDefinition.test.tsx
  frontend/src/features/election_create/components/UploadPollingStationDefinition.test.tsx
  frontend/src/features/polling_stations/components/PollingStationImportPage.test.tsx
  frontend/src/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Fix small copy error for drawing lots for p9 on drawing lots page
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForP9.stories.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForP9.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsPage.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Added playwright test for drawing lots for p9
  backend/src/eml/tests/eml110a_test_less_than_19_seats.eml.xml
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/page-objects/apportionment/ApportionmentPgObj.ts
  frontend/e2e-tests/page-objects/apportionment/ApportionmentResidualSeatsPgObj.ts
  frontend/e2e-tests/test-data/eml-files.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/apportionment/drawing-lots.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Make sure paragraphs in Alert get a black font color instead of dark gray
  frontend/src/components/ui/Alert/Alert.module.css
Due: none

Add playwright tests for drawing lots flow and 2 small fixes (#3571)
  backend/src/eml/tests/eml110a_test_less_than_19_seats.eml.xml
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/page-objects/apportionment/ApportionmentPgObj.ts
  frontend/e2e-tests/page-objects/apportionment/ApportionmentResidualSeatsPgObj.ts
  frontend/e2e-tests/page-objects/apportionment/DrawingLotsPgObj.ts
  frontend/e2e-tests/page-objects/apportionment/IncludeAllCandidatesPgObj.ts
  frontend/e2e-tests/test-data/eml-files.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/apportionment/drawing-lots.e2e.ts
  frontend/src/components/ui/Alert/Alert.module.css
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForP9.stories.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForP9.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsPage.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Remove direct dependency on quick-xml (#3584)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/fuzz/Cargo.lock
  backend/openapi.json
  backend/src/api/election.rs
  backend/src/error.rs
  frontend/src/features/election_create/components/UploadCandidatesDefinition.test.tsx
  frontend/src/features/election_create/components/UploadElectionDefinition.test.tsx
  frontend/src/features/election_create/components/UploadPollingStationDefinition.test.tsx
  frontend/src/features/polling_stations/components/PollingStationImportPage.test.tsx
  frontend/src/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

small improvements to the comments of the differential fuzzer
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add integration test for invalid XML regression
  backend/tests/election_admin_integration_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update EML_NL crate to v0.6.1
  backend/Cargo.lock
  backend/Cargo.toml
Due: none

osv2020-apportionment-wrapper is public
  backend/apportionment/fuzz/README.md
Due: none

Add differential fuzzing instruction (#3574)
  backend/apportionment/fuzz/README.md
Due: none

sort_candidates_alphabetically use collation
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/src/api/apportionment/mapping.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update EML_NL crate to v0.6.1 (#3586)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/tests/election_admin_integration_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Set nl locale
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/src/api/apportionment/mapping.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Apportionment sort candidates alphabetically with collation (#3587)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/src/api/apportionment/mapping.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Small improvements to the comments of the differential fuzzer (#3585)
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix #3593 and added and updated test
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/ApportionmentTable.stories.tsx
  frontend/src/features/apportionment/components/ApportionmentTable.tsx
  frontend/src/features/apportionment/testing/lt-19-seats-and-not-all-seats-assigned.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Refactor getResultChanges/splitResultChanges
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.tsx
  frontend/src/features/apportionment/utils/seat-change.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Adjust P22-2 variant in test_data_gen
  backend/src/test_data_gen/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Split buildAssignmentTableData due to biome, fix typing
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.stories.tsx
  frontend/src/features/apportionment/utils/seat-change.tsx
  frontend/src/features/apportionment/utils/steps.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Updated and expanded existing drawing of lots tests and docstrings
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-lint-tsc: any of: *.{ts,tsx} and ^frontend/
  frontend-lint-eslint: any of: *.{ts,tsx} and ^frontend/
