Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

backend-sqlx-prepare:
  run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --all-features -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi &&  git add openapi.json && cd ../frontend && npm run gen:openapi && git add lib/api/gen/openapi.ts
  
    '

frontend-linter:
  run: npm run lint {staged_files}

Add an overview on the resolve errors page of the sections that contain errors or warnings
  frontend/src/components/ui/Feedback/Feedback.tsx
  frontend/src/components/ui/StatusList/StatusList.module.css
  frontend/src/components/ui/StatusList/StatusList.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsOverview.stories.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsOverview.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsOverview.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsPage.tsx
  frontend/src/styles/util.css
  frontend/src/utils/ValidationResults.test.ts
  frontend/src/utils/ValidationResults.ts
Due: frontend-linter

Vote table column row counts 25/25/15/15
  backend/templates/common/scripts.typ
  backend/templates/common/style.typ
Due: none

Ran npm and cargo update
  backend/Cargo.lock
  frontend/package-lock.json
Due: none

Ran npm and cargo update (#1697)
  backend/Cargo.lock
  frontend/package-lock.json
Due: none

Improved the test to check for uniqueness
  backend/.sqlx/query-02e63f0e0faaab5750b4f8c0e14ba2bbd361005617503093ad7a9bed6dcbdfac.json
  backend/.sqlx/query-60a90bca1732dcf9ca6848a3805cfb64d9b37367320e4fb1148591a3f42e318b.json
  backend/src/committee_session/api.rs
  backend/src/data_entry/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add overview to resolve errors feature (#1698)
  frontend/src/components/ui/Feedback/Feedback.tsx
  frontend/src/components/ui/StatusList/StatusList.module.css
  frontend/src/components/ui/StatusList/StatusList.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsOverview.stories.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsOverview.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsOverview.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsPage.tsx
  frontend/src/styles/util.css
  frontend/src/utils/ValidationResults.test.ts
  frontend/src/utils/ValidationResults.ts
Due: frontend-linter

makes small improvement to e2e test closing the abort modal
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
Due: frontend-linter

minor fix to data entry e2e test
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
Due: frontend-linter

adds e2e test for discarding input on check and save page
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
Due: frontend-linter

Add unit tests for layout and section page components
  frontend/src/features/resolve_errors/components/ResolveErrorsLayout.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsSectionPage.test.tsx
Due: frontend-linter

refactors resume data entry e2e tests to use fixture instead of loginAs()
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
Due: frontend-linter

Make `afterSave` a parameter for `onSubmit`
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.tsx
  frontend/src/features/resolve_errors/hooks/usePollingStationDataEntryErrors.ts
Due: frontend-linter

Remove trailing space for link to index page
  frontend/src/features/resolve_errors/components/ResolveErrorsNavigation.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsNavigation.tsx
Due: frontend-linter

Use undefined in the API instead of null
  backend/.sqlx/query-4660bfcdf0bdee50df05c66848f10b73d40829367369694cc0a563f476ec3a38.json
  backend/.sqlx/query-e6351928e867255147b96988943ad396a4db5dd253e81a8e09b8d9dab1d150da.json
  backend/openapi.json
  backend/src/audit_log/audit_log_events.rs
  frontend/scripts/openapi/generator.ts
  frontend/src/testing/api-mocks/LogMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

adds failing test for saving input from check and save page
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
Due: frontend-linter

fixes issue of abort and save on the check and save page
  frontend/src/features/data_entry/components/DataEntryNavigation.test.tsx
  frontend/src/features/data_entry/components/DataEntryNavigation.tsx
Due: frontend-linter

Write to audit log when air gap violation is detected (#1694)
  backend/.sqlx/query-4660bfcdf0bdee50df05c66848f10b73d40829367369694cc0a563f476ec3a38.json
  backend/.sqlx/query-4e563fc1c4fdfacdb93459ca012f1a8bb7944f9d9af63a26084607994d9903e1.json
  backend/.sqlx/query-7b6b1a0f9898840280d8162a7052d77e5ead57529f0810af913490200059c48a.json
  backend/.sqlx/query-82ec3623bc8472d200645090d2023016a2e6b41a0a4d53d4ed5183047ca2186f.json
  backend/.sqlx/query-b09ead88547ecb9c2df5e5d3095d7260cd93ae87968cf7cb2fea9b6ec8abe7c6.json
  backend/.sqlx/query-c03385d208931dfed1bf331beb6dffbd125ac1a016cc6c93c49390968a916af7.json
  backend/.sqlx/query-e6351928e867255147b96988943ad396a4db5dd253e81a8e09b8d9dab1d150da.json
  backend/migrations/7_audit_log.sql
  backend/openapi.json
  backend/src/airgap/detect.rs
  backend/src/audit_log/api.rs
  backend/src/audit_log/audit_event.rs
  backend/src/audit_log/audit_log_events.rs
  backend/src/audit_log/service.rs
  backend/src/authentication/middleware.rs
  backend/src/committee_session/api.rs
  backend/src/data_entry/api.rs
  backend/src/election/api.rs
  backend/src/lib.rs
  backend/tests/election_integration_test.rs
  backend/tests/utils/mod.rs
  frontend/src/features/logs/components/LogDetailsModal.tsx
  frontend/src/features/logs/components/LogsTable.tsx
  frontend/src/i18n/locales/nl/log.json
  frontend/src/testing/api-mocks/LogMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fix display of unnamed political groups
  frontend/e2e-tests/page-objects/data_entry/ProgressListPgObj.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.tsx
  frontend/src/utils/dataEntryStructure.ts
  frontend/src/utils/politicalGroup.test.ts
  frontend/src/utils/politicalGroup.ts
Due: frontend-linter

removes obsolete comment
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
Due: frontend-linter

Closes #1699
  frontend/src/components/navbar/NavBar.test.tsx
  frontend/src/components/navbar/NavBarLinks.tsx
Due: frontend-linter

WIP bijlage 1
  backend/templates/common/scripts.typ
  backend/templates/model-na-31-1-bijlage-1.typ
  backend/templates/model-na-31-1-inlegvel.typ
  backend/templates/model-na-31-1.typ
Due: none

Added candidate list validate and backend tests (#1644)
  backend/src/eml/common.rs
  backend/src/eml/eml_230.rs
  backend/src/eml/tests/eml230b_invalid_document_type.eml.xml
  backend/src/eml/tests/eml230b_invalid_empty_affiliates.eml.xml
  backend/src/eml/tests/eml230b_invalid_empty_candidates.eml.xml
  backend/src/eml/tests/eml230b_invalid_incorrect_election.eml.xml
  backend/src/eml/tests/eml230b_invalid_incorrect_election_date.eml.xml
  backend/src/eml/tests/eml230b_invalid_incorrect_election_domain.eml.xml
  backend/src/eml/tests/eml230b_invalid_incorrect_election_type.eml.xml
  backend/src/eml/tests/eml230b_invalid_missing_authority.eml.xml
  backend/src/eml/tests/eml230b_invalid_missing_election_domain.eml.xml
  backend/tests/election_admin_integration_tests.rs
  frontend/e2e-tests/test-data/eml-files.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Refactor e2e election create test
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/page-objects/election/create/CheckCandidateDefinitionPgObj.ts
  frontend/e2e-tests/page-objects/election/create/CheckDefinitionPgObj.ts
  frontend/e2e-tests/tests/election-create.e2e.ts
Due: frontend-linter

fix abort and save on check-and-save page of data entry (#1700)
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
  frontend/src/features/data_entry/components/DataEntryNavigation.test.tsx
  frontend/src/features/data_entry/components/DataEntryNavigation.tsx
Due: frontend-linter

Added committee_session_id to data entries and results (#1687)
  backend/.sqlx/query-053aaf45e0602c11ffd4cb8866a4bbadf8d81cf1b76df3f20790a2f6e4188241.json
  backend/.sqlx/query-309a5874dfead8250aaa44fe7ee1b0003b7e8b9b86e8c965b3f737e46946e37e.json
  backend/.sqlx/query-4660bfcdf0bdee50df05c66848f10b73d40829367369694cc0a563f476ec3a38.json
  backend/.sqlx/query-60a90bca1732dcf9ca6848a3805cfb64d9b37367320e4fb1148591a3f42e318b.json
  backend/.sqlx/query-a0f91a749fc25d478b38b2918f8cea20b4407ba47fe9c9e4933683406f303574.json
  backend/.sqlx/query-b26091fba31689f19e368af028f9c4bd57ccd71a1a9e9139429e2713c3f038ee.json
  backend/.sqlx/query-b75848307a59bdd922c95b6d4d0bf105b4d7d7951000ffbeb2ad1330bc11b18e.json
  backend/.sqlx/query-ca70a30c0d67f0e91028223e59236aa0eade3f2d2ee80495c5668db37a43433a.json
  backend/.sqlx/query-d60362404fe11ca74512823160ea40064e867468ca1b962f69e7012c3c2a99e3.json
  backend/.sqlx/query-e1f1b593e5d77c6b65d227e8459ebddf469891e71600f07347ca70b81af0733f.json
  backend/.sqlx/query-e3da3f0a32f33a1e9559153236c3d32315842dd65f9ba445caac231979501e87.json
  backend/.sqlx/query-e6351928e867255147b96988943ad396a4db5dd253e81a8e09b8d9dab1d150da.json
  backend/.sqlx/query-eddba74b42d495874dc29343b7a21de5bb2927d2c55c3fe892ddeeba9e2d6c16.json
  backend/migrations/3_polling_station_data_entries.sql
  backend/migrations/4_polling_station_results.sql
  backend/src/bin/gen-test-election.rs
  backend/src/committee_session/api.rs
  backend/src/data_entry/api.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/structs.rs
  frontend/src/features/resolve_errors/hooks/usePollingStationDataEntryErrors.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fix display of unnamed political groups (#1701)
  frontend/e2e-tests/page-objects/data_entry/ProgressListPgObj.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.tsx
  frontend/src/utils/dataEntryStructure.ts
  frontend/src/utils/politicalGroup.test.ts
  frontend/src/utils/politicalGroup.ts
Due: frontend-linter

Update event column type from JSONB to TEXT in audit_log
  backend/.sqlx/query-4660bfcdf0bdee50df05c66848f10b73d40829367369694cc0a563f476ec3a38.json
  backend/.sqlx/query-7b6b1a0f9898840280d8162a7052d77e5ead57529f0810af913490200059c48a.json
  backend/.sqlx/query-82ec3623bc8472d200645090d2023016a2e6b41a0a4d53d4ed5183047ca2186f.json
  backend/.sqlx/query-e6351928e867255147b96988943ad396a4db5dd253e81a8e09b8d9dab1d150da.json
  backend/migrations/7_audit_log.sql
Due: none

Update frontend/e2e-tests/page-objects/election/create/AbortModalPgObj.ts
  frontend/e2e-tests/page-objects/election/create/AbortModalPgObj.ts
Due: frontend-linter

Add e2e test scenario
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/helpers-utils/e2e-test-api-helpers.ts
  frontend/e2e-tests/page-objects/election/ResolveDifferencesPgObj.ts
  frontend/e2e-tests/page-objects/election/ResolveErrorsPgObj.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/resolve-differences.e2e.ts
Due: frontend-linter

Go straight to resolve errors when resolving a different second entry that has errors
  frontend/e2e-tests/tests/data-entry/resolve-differences.e2e.ts
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
  frontend/src/features/resolve_differences/hooks/usePollingStationDataEntryDifferences.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: frontend-linter

Update SQLx cache prepare pre-commit command
  backend/.gitignore
  lefthook.yml
Due: none

Use STRICT SQLite tables
  backend/.sqlx/query-0d1a197c45fad3a14ff67b0e5f503e62950f4e2302d85b5090b90ecf31a3e42a.json
  backend/.sqlx/query-1019d87a89eb4087ab3d931e41d633572bde7edacf9f5fa19c064f92d723d801.json
  backend/.sqlx/query-1c06fd8ba3a24e71bdc74fa7c08c1f0353915bb8c4858d978ac6c8415e8beed3.json
  backend/.sqlx/query-201060ce1e8c853dc37f460e032c5b1e7740c0986d9ae768f499abe5302ee204.json
  backend/.sqlx/query-2a5040dcedacf6e8263e6f580f56dc20a61591cebc4a0bf54059676e888ceaa4.json
  backend/.sqlx/query-3cbbaf643652b1525f5fd6c37f6f4c08d739d3095e97fd82da6fe8f837502c83.json
  backend/.sqlx/query-60a90bca1732dcf9ca6848a3805cfb64d9b37367320e4fb1148591a3f42e318b.json
  backend/.sqlx/query-63c8f0450d4727c9cf03d7cd68e5a6d7b019ae26d867df6ab3a4ba84087ba951.json
  backend/.sqlx/query-7b6b1a0f9898840280d8162a7052d77e5ead57529f0810af913490200059c48a.json
  backend/.sqlx/query-82ec3623bc8472d200645090d2023016a2e6b41a0a4d53d4ed5183047ca2186f.json
  backend/.sqlx/query-9b4e7045b080ae67f473202d9b663058c2470413910751f9e65f15990a07ab04.json
  backend/.sqlx/query-aba260e9d5c0c84f1208630203e2af212f6729c4c389b150573ed9152fcb43ca.json
  backend/.sqlx/query-b26091fba31689f19e368af028f9c4bd57ccd71a1a9e9139429e2713c3f038ee.json
  backend/.sqlx/query-ca70a30c0d67f0e91028223e59236aa0eade3f2d2ee80495c5668db37a43433a.json
  backend/.sqlx/query-e2b200f9189e2ffba942c3ad79086043380b22040ebf9d1feb2efb94f9ce9920.json
  backend/.sqlx/query-e6351928e867255147b96988943ad396a4db5dd253e81a8e09b8d9dab1d150da.json
  backend/.sqlx/query-eddba74b42d495874dc29343b7a21de5bb2927d2c55c3fe892ddeeba9e2d6c16.json
  backend/.sqlx/query-efba7caf7f767b2c41e36a423588c11766dbda1e332c040c775a162d9db78944.json
  backend/migrations/1_elections.sql
  backend/migrations/2_polling_stations.sql
  backend/migrations/3_polling_station_data_entries.sql
  backend/migrations/4_polling_station_results.sql
  backend/migrations/5_users.sql
  backend/migrations/6_sessions.sql
  backend/migrations/7_audit_log.sql
  backend/migrations/8_committee_sessions.sql
  backend/src/authentication/user.rs
  backend/src/data_entry/api.rs
  backend/src/data_entry/repository.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Show 0 as 0 again
  backend/templates/common/scripts.typ
Due: none

Fix repeated SQLx cache changes and use SQLite STRICT tables (#1703)
  backend/.gitignore
  backend/.sqlx/query-0d1a197c45fad3a14ff67b0e5f503e62950f4e2302d85b5090b90ecf31a3e42a.json
  backend/.sqlx/query-1019d87a89eb4087ab3d931e41d633572bde7edacf9f5fa19c064f92d723d801.json
  backend/.sqlx/query-1c06fd8ba3a24e71bdc74fa7c08c1f0353915bb8c4858d978ac6c8415e8beed3.json
  backend/.sqlx/query-201060ce1e8c853dc37f460e032c5b1e7740c0986d9ae768f499abe5302ee204.json
  backend/.sqlx/query-2a5040dcedacf6e8263e6f580f56dc20a61591cebc4a0bf54059676e888ceaa4.json
  backend/.sqlx/query-3cbbaf643652b1525f5fd6c37f6f4c08d739d3095e97fd82da6fe8f837502c83.json
  backend/.sqlx/query-4660bfcdf0bdee50df05c66848f10b73d40829367369694cc0a563f476ec3a38.json
  backend/.sqlx/query-60a90bca1732dcf9ca6848a3805cfb64d9b37367320e4fb1148591a3f42e318b.json
  backend/.sqlx/query-63c8f0450d4727c9cf03d7cd68e5a6d7b019ae26d867df6ab3a4ba84087ba951.json
  backend/.sqlx/query-7b6b1a0f9898840280d8162a7052d77e5ead57529f0810af913490200059c48a.json
  backend/.sqlx/query-82ec3623bc8472d200645090d2023016a2e6b41a0a4d53d4ed5183047ca2186f.json
  backend/.sqlx/query-9b4e7045b080ae67f473202d9b663058c2470413910751f9e65f15990a07ab04.json
  backend/.sqlx/query-aba260e9d5c0c84f1208630203e2af212f6729c4c389b150573ed9152fcb43ca.json
  backend/.sqlx/query-b26091fba31689f19e368af028f9c4bd57ccd71a1a9e9139429e2713c3f038ee.json
  backend/.sqlx/query-ca70a30c0d67f0e91028223e59236aa0eade3f2d2ee80495c5668db37a43433a.json
  backend/.sqlx/query-e2b200f9189e2ffba942c3ad79086043380b22040ebf9d1feb2efb94f9ce9920.json
  backend/.sqlx/query-e6351928e867255147b96988943ad396a4db5dd253e81a8e09b8d9dab1d150da.json
  backend/.sqlx/query-eddba74b42d495874dc29343b7a21de5bb2927d2c55c3fe892ddeeba9e2d6c16.json
  backend/.sqlx/query-efba7caf7f767b2c41e36a423588c11766dbda1e332c040c775a162d9db78944.json
  backend/migrations/1_elections.sql
  backend/migrations/2_polling_stations.sql
  backend/migrations/3_polling_station_data_entries.sql
  backend/migrations/4_polling_station_results.sql
  backend/migrations/5_users.sql
  backend/migrations/6_sessions.sql
  backend/migrations/7_audit_log.sql
  backend/migrations/8_committee_sessions.sql
  backend/src/authentication/user.rs
  backend/src/data_entry/api.rs
  backend/src/data_entry/repository.rs
  lefthook.yml
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update audit log to store events as SQLite JSONB
  backend/.sqlx/query-0201284ec7f76f0a79e55e232742465beeb54ac04261eb7fb6022467fd8b7086.json
  backend/.sqlx/query-2434c35baf0d1114357671c0ebc89eb51b75dbc7daec5cf6358a3ed7b6cdcc18.json
  backend/.sqlx/query-371b371ba611c9368b918759a778c5d5e2508f138ba6bc601b7ff7cbe992f5a7.json
  backend/.sqlx/query-a7061807c60b5e00ca2e19975b615b422885923eb9c85909663aa82c2dd85006.json
  backend/.sqlx/query-e6351928e867255147b96988943ad396a4db5dd253e81a8e09b8d9dab1d150da.json
  backend/migrations/7_audit_log.sql
  backend/src/audit_log/audit_event.rs
  backend/src/audit_log/audit_log_events.rs
  backend/src/audit_log/service.rs
  backend/src/data_entry/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

fixes typo in EMLImportError: s/101/110
  backend/src/eml/common.rs
  backend/src/eml/eml_110.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

WIP
  backend/src/committee_session/api.rs
  backend/src/committee_session/repository.rs
  backend/src/committee_session/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Return updated polling station from backend
  backend/.sqlx/query-4660bfcdf0bdee50df05c66848f10b73d40829367369694cc0a563f476ec3a38.json
  backend/.sqlx/query-b3d99cb99ecf3b247d3fa0b7983cf34c13df010e896d7f0f04854273c8ef5cc9.json
  backend/.sqlx/query-e6351928e867255147b96988943ad396a4db5dd253e81a8e09b8d9dab1d150da.json
  backend/.sqlx/query-f36930d314a9119e399eb5242e5850d41902b9a5e63371a92a809e15d0ee35a1.json
  backend/openapi.json
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
  backend/tests/polling_station_integration_test.rs
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Update validatieregels-plausibiliteitschecks-tellingen.md
  documentatie/use-cases/validatieregels-plausibiliteitschecks-tellingen.md
Due: none

Added flowchart for committee session state
  documentatie/flowcharts/committee-session-state.md
Due: none

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
