Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite &&
        cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets &&
        git add .sqlx &&
        rm sqlx-cache-tmp.sqlite
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi &&
        git add openapi.json &&
        cd ../frontend &&
        pnpm gen:openapi &&
        git add src/types/generated/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: pnpm format --staged --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-biome:
      root: "frontend/"
      run: pnpm lint:biome --write --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-tsc:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:tsc
    frontend-lint-eslint:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:eslint

Undo test changes and disabled biome rule again
  frontend/biome.jsonc
  frontend/e2e-tests/page-objects/users/UserDeleteModalPgObj.ts
  frontend/e2e-tests/page-objects/users/UserUpdatePgObj.ts
  frontend/src/components/committee_session/CommitteeSessionStatus.test.tsx
  frontend/src/components/ui/Tooltip/Tooltip.stories.tsx
  frontend/src/features/investigations/components/InvestigationFindingsPage.test.tsx
  frontend/src/features/investigations/components/InvestigationPrintCorrigendumPage.test.tsx
  frontend/src/features/investigations/components/InvestigationReasonPage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.test.tsx
  frontend/src/features/users/components/update/UserDelete.test.tsx
  frontend/src/features/users/components/update/UserUpdatePage.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Add forgotten new icon
  frontend/src/assets/icons/arrowRight.svg
Due: none

Remove unused serve script from `package.json`
  frontend/package.json
Due: none

Use `--frozen-lockfile` in `Dockerfile`
  Dockerfile
Due: none

add Inlegvel Na 31-2 to use cases (#2701)
  documentatie/use-cases/csb-zitting.md
  documentatie/use-cases/gsb-tweede-zitting.md
  documentatie/use-cases/input-output-bestanden.md
Due: none

Fix Lefthook and MSW post-install scripts
  frontend/pnpm-workspace.yaml
Due: none

Fix for code scanning alert no. 74: Incomplete string escaping or encoding
  frontend/scripts/gen_icons.js
Due: none

Fixed test
  frontend/src/components/ui/Badge/Badge.stories.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Migrate to pnpm (#2691)
  .github/workflows/build-lint-test.yml
  .github/workflows/codecov.yml
  .github/workflows/release.yml
  Dockerfile
  backend/README.md
  documentatie/ontwikkelproces/GitHub-werkwijze.md
  documentatie/softwarearchitectuur/Vertalingen.md
  documentatie/style-guide/icons.md
  frontend/.npmrc
  frontend/@types/vitest.d.ts
  frontend/README.md
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/scripts/gen_icons.js
  frontend/src/components/generated/icons.tsx
  frontend/tsconfig.json
  frontend/vitest.config.ts
  lefthook.yml
Due: frontend-lint-tsc, frontend-lint-eslint

Enabled no important styles rule
  frontend/biome.jsonc
  frontend/src/components/navbar/NavBar.module.css
  frontend/src/components/ui/ProgressList/ProgressList.module.css
  frontend/src/components/ui/ProgressList/ProgressList.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Upgrade eslint-plugin-react-hooks to 7.0.1
  frontend/eslint.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

Upgrade Vite to 7.3.0
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

Enabled no autofocus rule
  frontend/biome.jsonc
  frontend/src/components/ui/CheckboxAndRadio/CheckboxAndRadio.tsx
  frontend/src/components/ui/InputField/InputField.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Upgrade Vite to 7.3.0 (#2694)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

Enabled no svg without title rule (#2688)
  frontend/biome.jsonc
  frontend/scripts/gen_icons.js
  frontend/src/assets/icons/arrowRight.svg
  frontend/src/components/committee_session/CommitteeSessionStatus.test.tsx
  frontend/src/components/generated/icons.tsx
  frontend/src/components/ui/Badge/Badge.stories.tsx
  frontend/src/components/ui/FormField/FormField.tsx
  frontend/src/components/ui/Icon/AlertIcon.tsx
  frontend/src/components/ui/Icon/Icon.module.css
  frontend/src/components/ui/Icon/Icon.tsx
  frontend/src/components/ui/Icon/StatusIcon.tsx
  frontend/src/components/ui/Spinner/Spinner.tsx
  frontend/src/components/ui/Tooltip/Tooltip.stories.tsx
  frontend/src/features/data_entry_home/components/PollingStationChoice.module.css
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.test.tsx
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.tsx
  frontend/src/features/data_entry_home/components/PollingStationLink.tsx
  frontend/src/features/data_entry_home/components/PollingStationSelector.tsx
  frontend/src/features/election_status/components/CategoryRow.tsx
  frontend/src/features/investigations/components/InvestigationCard.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Upgrade eslint-plugin-react-hooks to 7.0.1 (#2693)
  frontend/eslint.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

Enabled no important styles rule (#2703)
  frontend/biome.jsonc
  frontend/src/components/navbar/NavBar.module.css
  frontend/src/components/ui/ProgressList/ProgressList.module.css
  frontend/src/components/ui/ProgressList/ProgressList.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Enabled no autofocus rule (#2704)
  frontend/biome.jsonc
  frontend/src/components/ui/CheckboxAndRadio/CheckboxAndRadio.tsx
  frontend/src/components/ui/InputField/InputField.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Specified ignores
  frontend/biome.jsonc
  frontend/src/components/page_title/PageTitle.tsx
  frontend/src/components/ui/NumberInput/NumberInput.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

WIP
  backend/src/authentication/api.rs
  backend/src/lib.rs
  backend/src/router.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added CodeQL for Rust language
  .github/workflows/codeql-analysis.yml
Due: none

Return cookie without settings
  backend/src/router.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix user agent and IP address for sessions
  backend/src/router.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

refactors tests for invalid or too large election definition file
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_create/components/UploadElectionDefinition.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

adds describe blocks to structure election create tests
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Moved airgap detection test from integration tests to airgap module
  backend/src/airgap/detect.rs
  backend/src/router.rs
  backend/tests/airgap_detection_test.rs
  backend/tests/utils/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Closes #2569
  frontend/README.md
  frontend/scripts/openapi/generator.ts
  frontend/src/types/generated/openapi.ts
Due: frontend-lint-tsc, frontend-lint-eslint

refactors tests for invalid or too large candidates list file
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_create/components/UploadCandidatesDefinition.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

refactors tests for invalid or too large polling stations file
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_create/components/UploadPollingStationDefinition.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

adds missing capital in name of describe block
  frontend/src/features/election_create/components/UploadCandidatesDefinition.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Added CodeQL scanning for Rust (#2706)
  .github/workflows/codeql-analysis.yml
Due: none

Cleanup
  backend/src/authentication/api.rs
  backend/tests/authorization_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

replaces Alert in CHeckHash component with div
  frontend/src/features/election_create/components/CheckHash.module.css
  frontend/src/features/election_create/components/CheckHash.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

updates ElectionCreate tests to query by role alert
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

refactors tests for CheckHash component
  frontend/src/features/election_create/components/CheckHash.test.tsx
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Changed the values variable name to camelCase and changed to else if
  frontend/scripts/openapi/generator.ts
  frontend/src/types/generated/openapi.ts
Due: frontend-lint-tsc, frontend-lint-eslint

a
  .github/workflows/build-lint-test.yml
Due: none
