Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

backend-sqlx-prepare:
  run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --all-features -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi &&  git add openapi.json && cd ../frontend && npm run gen:openapi && git add lib/api/gen/openapi.ts
  
    '

frontend-linter:
  run: npm run lint {staged_files}

Fixed spacing
  frontend/src/features/election_management/components/CheckElectionDefinition.tsx
  frontend/src/features/election_management/components/RedactedHash.module.css
  frontend/src/features/election_management/components/RedactedHash.tsx
Due: frontend-linter

Fixed election report route
  frontend/src/features/election_management/routes.tsx
Due: frontend-linter

Alert spacing and file name
  frontend/src/features/election_management/components/CheckElectionDefinition.module.css
  frontend/src/features/election_management/components/CheckElectionDefinition.tsx
  frontend/src/features/election_management/components/ElectionCreatePage.tsx
  frontend/src/features/election_management/components/UploadElectionDefinition.tsx
  frontend/src/lib/i18n/locales/nl/election.json
Due: frontend-linter

flip!
  frontend/src/features/election_management/components/CheckElectionDefinition.tsx
Due: frontend-linter

Update to React Router v7.5.2 (#1414)
  frontend/package-lock.json
  frontend/package.json
Due: none

Update backend/src/election/api.rs
  backend/src/election/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Removed unused classes
  frontend/src/features/election_management/components/CheckElectionDefinition.module.css
  frontend/src/features/election_management/components/CheckElectionDefinition.tsx
Due: frontend-linter

Added translation
  frontend/src/features/election_management/components/CheckElectionDefinition.tsx
  frontend/src/features/election_management/components/UploadElectionDefinition.tsx
  frontend/src/lib/i18n/locales/nl/generic.json
Due: frontend-linter

Update election status as user types (#1378)
  frontend/src/features/data_entry_choice/components/DataEntryChoiceForm.test.tsx
  frontend/src/features/data_entry_choice/components/DataEntryChoiceForm.tsx
  frontend/src/features/data_entry_choice/components/PollingStationSelector.tsx
  frontend/src/features/data_entry_choice/utils/useSingleCall.test.ts
  frontend/src/features/data_entry_choice/utils/useSingleCall.ts
Due: frontend-linter

Replaced all but 4 uses of element with Component in routes
  frontend/src/app/routes.tsx
  frontend/src/features/account/routes.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/routes.tsx
  frontend/src/features/data_entry/routes.tsx
  frontend/src/features/data_entry_choice/components/DataEntryChoicePage.test.tsx
  frontend/src/features/data_entry_choice/routes.tsx
  frontend/src/features/dev/routes.tsx
  frontend/src/features/election_management/components/ElectionReportPage.test.tsx
  frontend/src/features/election_status/routes.tsx
  frontend/src/features/logs/routes.tsx
  frontend/src/features/polling_stations/routes.tsx
  frontend/src/features/resolve_differences/routes.tsx
  frontend/src/features/users/components/create/UserCreate.test.tsx
  frontend/src/features/users/routes.tsx
  frontend/src/features/workstations/routes.tsx
Due: frontend-linter

Import fmt
  backend/src/election/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added formatDateFull test
  frontend/src/utils/format.test.ts
Due: frontend-linter

Fixed test
  frontend/src/features/election_management/components/ElectionCreatePage.test.tsx
Due: frontend-linter

Fixed chunk styling
  frontend/src/features/election_management/components/RedactedHash.module.css
  frontend/src/features/election_management/components/RedactedHash.tsx
Due: frontend-linter

Setting file to undefined on error response
  frontend/src/features/election_management/components/UploadElectionDefinition.tsx
Due: frontend-linter

Update frontend/src/lib/i18n/locales/nl/generic.json
  frontend/src/lib/i18n/locales/nl/generic.json
Due: none

Moved NotAvailableInMock to @/components/page and switched election report route to use NotAvailableInMock again
  frontend/src/app/routes.tsx
  frontend/src/components/page/NotAvailableInMock.tsx
  frontend/src/features/election_management/components/index.ts
  frontend/src/features/election_management/routes.tsx
Due: frontend-linter

Moved AuthorizationDialog to src/app and files in /components/page to /components/error
  frontend/src/app/AuthorizationDialog.test.tsx
  frontend/src/app/AuthorizationDialog.tsx
  frontend/src/app/RootLayout.tsx
  frontend/src/app/authorizationConstants.ts
  frontend/src/app/routes.tsx
  frontend/src/components/error/ErrorBoundary.tsx
  frontend/src/components/error/FatalErrorPage.tsx
  frontend/src/components/error/NotAvailableInMock.tsx
  frontend/src/components/error/NotFoundPage.tsx
  frontend/src/features/election_management/routes.tsx
Due: frontend-linter

Fixed showing of notfound page when not logged in
  frontend/src/app/routes.tsx
Due: frontend-linter

Extract subroutes from app to features (#1399)
  frontend/src/app/AuthorizationDialog.test.tsx
  frontend/src/app/AuthorizationDialog.tsx
  frontend/src/app/RootLayout.tsx
  frontend/src/app/authorizationConstants.ts
  frontend/src/app/routes.tsx
  frontend/src/components/dev/MockTest.tsx
  frontend/src/components/error/ErrorBoundary.tsx
  frontend/src/components/error/FatalErrorPage.tsx
  frontend/src/components/error/NotAvailableInMock.tsx
  frontend/src/components/error/NotFoundPage.tsx
  frontend/src/components/layout/AdministratorLayout.tsx
  frontend/src/components/layout/ElectionLayout.tsx
  frontend/src/features/account/routes.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/routes.tsx
  frontend/src/features/data_entry/routes.tsx
  frontend/src/features/data_entry_choice/components/DataEntryChoicePage.test.tsx
  frontend/src/features/data_entry_choice/routes.tsx
  frontend/src/features/dev/components/DevHomePage.test.tsx
  frontend/src/features/dev/components/DevHomePage.tsx
  frontend/src/features/dev/routes.tsx
  frontend/src/features/election_management/components/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/index.ts
  frontend/src/features/election_management/routes.tsx
  frontend/src/features/election_status/routes.tsx
  frontend/src/features/logs/routes.tsx
  frontend/src/features/polling_stations/routes.tsx
  frontend/src/features/resolve_differences/routes.tsx
  frontend/src/features/users/components/create/UserCreate.test.tsx
  frontend/src/features/users/routes.tsx
  frontend/src/features/workstations/routes.tsx
Due: frontend-linter

Added docstrings for each status property
  backend/openapi.json
  backend/src/data_entry/status.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Abacus error handling documentation (#1410)
  documentatie/softwarearchitectuur/foutafhandeling.md
Due: none

restore code coverage of DataEntryProgress and ProgressList (#1411)
  frontend/src/components/ui/ProgressList/ProgressList.stories.tsx
  frontend/src/components/ui/ProgressList/ProgressList.test.tsx
  frontend/src/components/ui/ProgressList/ProgressList.tsx
  frontend/src/features/data_entry/components/DataEntryProgress.test.tsx
  frontend/src/features/data_entry/components/DataEntryProgress.tsx
  frontend/src/features/data_entry/testing/mock-data.ts
  frontend/src/features/data_entry/testing/test.utils.ts
Due: frontend-linter

Endpoint for polling station data entry status and hook to call this endpoint (#1382)
  backend/openapi.json
  backend/src/data_entry/api.rs
  backend/src/data_entry/status.rs
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
  frontend/src/features/resolve_differences/hooks/usePollingStationDataEntryDifferences.ts
  frontend/src/testing/api-mocks/DataEntryMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Update frontend/src/features/election_management/components/CheckElectionDefinition.tsx
  frontend/src/features/election_management/components/CheckElectionDefinition.tsx
Due: frontend-linter

Expand data entry use case
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Due: none

small improvement to corrigenda flow
  documentatie/use-cases/gsb-invoer-tweede-zitting.md
  documentatie/use-cases/gsb-tweede-zitting.md
Due: none

voegt eerste zitting CSO en DSO samen
  documentatie/use-cases/gsb-eerste-zitting.md
Due: none

Update foutafhandeling.md
  documentatie/softwarearchitectuur/foutafhandeling.md
Due: none

adds extention about correcting a count after completing data entry
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Due: none

Errornous file name is now saved in error state to be displayed in alert
  frontend/src/features/election_management/components/UploadElectionDefinition.tsx
Due: frontend-linter

Expand data entry use case (#1420)
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Due: none

Remove P13 reference (#1419)
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/lib/i18n/locales/nl/apportionment.json
Due: frontend-linter

Update foutafhandeling.md (#1422)
  documentatie/softwarearchitectuur/foutafhandeling.md
Due: none

Apply suggestions from code review
  documentatie/use-cases/csb-zitting.md
  documentatie/use-cases/input-output-bestanden.md
Due: none

removes link to deleted use case
  documentatie/use-cases/gsb-eerste-zitting.md
Due: none

use cases: P 22-2 sectie 2.11 Hertelling (#1409)
  documentatie/use-cases/csb-zitting.md
  documentatie/use-cases/input-output-bestanden.md
Due: none

fixes the merged CSO and DSO use cases in two places
  documentatie/use-cases/gsb-eerste-zitting.md
Due: none

more fixes to the merged CSO and DSO use cases
  documentatie/use-cases/gsb-eerste-zitting.md
Due: none

Apply suggestions from code review
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Due: none

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
