Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

backend-sqlx-prepare:
  run: 'cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite && cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets && git add .sqlx && rm sqlx-cache-tmp.sqlite
  
    '

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi && git add openapi.json && cd ../frontend && pnpm gen:openapi && git add src/types/generated/openapi.ts
  
    '

frontend-lint-tsc:
  run: pnpm lint:tsc

frontend-lint-eslint:
  run: pnpm lint:eslint

Extend data entry fuzzer with correction states
  backend/fuzz/README.md
  backend/fuzz/fuzz_targets/data_entry_status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Apply suggestions from code review
  backend/src/domain/results/counting_differences_polling_station.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update OpenApi
  backend/openapi.json
  frontend/src/types/generated/openapi.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Implement rename suggestion
  backend/src/domain/results/counting_differences_polling_station.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Implement review suggestion
  frontend/e2e-tests/page-objects/data_entry/CountingDifferencesPollingStationPgObj.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Added corrigendum_numbering function that implements the Na 14-1 versie 1 and 2 headers and chapter titles as in the model
  backend/templates/common/style.typ
  backend/templates/model-na-14-1-versie-1.typ
  backend/templates/model-na-14-1-versie-2.typ
Due: none

Fixed references mentioned in review
  backend/templates/model-na-14-2-bijlage-1.typ
  backend/templates/model-na-14-2.typ
Due: none

Invert B1-2.1 polarity (#3806)
  backend/fixtures/election_5_with_results.sql
  backend/fixtures/election_7_four_sessions.sql
  backend/fuzz/fuzz_targets/data_entry_status.rs
  backend/openapi.json
  backend/src/domain/results/counting_differences_polling_station.rs
  backend/src/domain/results/cso_first_session_results.rs
  backend/src/test_data_gen/generators.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/shared/mod.rs
  frontend/e2e-tests/page-objects/data_entry/CountingDifferencesPollingStationPgObj.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/data-entry-GSB/resume-data-entry.e2e.ts
  frontend/src/features/data_entry/testing/mock-data.ts
  frontend/src/features/data_entry_detail/components/ReadOnlyDataEntrySection.stories.tsx
  frontend/src/features/resolve_differences/testing/polling-station-results.ts
  frontend/src/i18n/locales/nl/counting_differences_polling_station.json
  frontend/src/testing/api-mocks/DataEntryMockData.ts
  frontend/src/types/generated/openapi.ts
  frontend/src/utils/ValidationResults.test.ts
  frontend/src/utils/__snapshots__/dataEntryStructure.CSOFirstSession.Municipal.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.CSOFirstSession.Provincial.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.CSOFirstSession.WaterAuthority.snap
  frontend/src/utils/dataEntryStructure.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Improve and make footers consistent across all 2027 CSO models (#3731)
  backend/src/domain/report/mod.rs
  backend/templates/inputs/model-na-14-2-variations/model-na-14-2-GR.json
  backend/templates/inputs/model-na-14-2-variations/model-na-14-2-PS.json
  backend/templates/inputs/model-na-14-2-variations/model-na-14-2-WS.json
  backend/templates/inputs/model-na-31-2-variations/model-na-31-2-GR.json
  backend/templates/inputs/model-na-31-2-variations/model-na-31-2-PS.json
  backend/templates/inputs/model-na-31-2-variations/model-na-31-2-WS.json
  backend/templates/inputs/model-p-22-2-bijlage-1.json
  backend/templates/inputs/model-p-22-2-variations/gte-19-seats-and-p7-drawing-lots.json
  backend/templates/inputs/model-p-22-2-variations/gte-19-seats-and-p9-drawing-lots-and-deceased-candidates.json
  backend/templates/inputs/model-p-22-2-variations/gte-19-seats-and-p9-drawing-lots-and-p10-and-deceased-candidates.json
  backend/templates/inputs/model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/model-p-22-2-variations/lt-19-seats-and-p15-drawing-lots.json
  backend/templates/inputs/model-p-22-2-variations/lt-19-seats-and-p7-drawing-lots.json
  backend/templates/inputs/model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/model-p-22-2-variations/lt-19-seats-and-p9-drawing-lots.json
  backend/templates/inputs/model-p-22-2-variations/lt-19-seats.json
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-14-2-bijlage-1.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-2-bijlage-1.typ
  backend/templates/model-na-31-2-inlegvel.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-22-2-bijlage-1.typ
  backend/templates/model-p-22-2.typ
  backend/templates/model-p-2a.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Updated explainer tests in Na 14-1 versie 2 and adjusted input files to show 40 candidates per page as the Na 14-2 corrigendum does as well
  backend/templates/inputs/model-na-14-1-versie-2-variations/model-na-14-1-versie-2-GR.json
  backend/templates/inputs/model-na-14-1-versie-2-variations/model-na-14-1-versie-2-PS.json
  backend/templates/inputs/model-na-14-1-versie-2-variations/model-na-14-1-versie-2-WS.json
  backend/templates/model-na-14-1-versie-2.typ
Due: none

Make sure second chapter of the Na 14-1 versie 1 is also rendered correctly in the header
  backend/templates/common/style.typ
Due: none

moved around tests, so we only compile one binary
  backend/tests/integration_tests/apportionment_integration_test.rs
  backend/tests/integration_tests/authorization_integration_test.rs
  backend/tests/integration_tests/backup_integration_test.rs
  backend/tests/integration_tests/committee_session_integration_test.rs
  backend/tests/integration_tests/data_entries_integration_test.rs
  backend/tests/integration_tests/data_entries_resolve_integration_test.rs
  backend/tests/integration_tests/election_admin_integration_test.rs
  backend/tests/integration_tests/election_integration_test.rs
  backend/tests/integration_tests/init_tls_test.rs
  backend/tests/integration_tests/investigation_integration_test.rs
  backend/tests/integration_tests/mod.rs
  backend/tests/integration_tests/polling_station_integration_test.rs
  backend/tests/integration_tests/report_integration_test.rs
  backend/tests/integration_tests/user_integration_test.rs
  backend/tests/tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Removed unused is_mobile variable
  backend/templates/model-na-14-1-versie-1.typ
  backend/templates/model-na-14-1-versie-2.typ
Due: none

Remove remaining "skipped" references
  frontend/src/features/data_entry/utils/dataEntryUtils.test.ts
  frontend/src/features/data_entry/utils/reducer.test.ts
  frontend/src/i18n/locales/nl/generic.json
  frontend/src/styles/variables.css
Due: frontend-lint-tsc, frontend-lint-eslint

Implement data entry disabled_when logic for DSO "Controles en correcties" (#3782)
  frontend/src/features/data_entry/components/DataEntryProgress.test.tsx
  frontend/src/features/data_entry/components/DataEntryProgress.tsx
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/testing/mock-data.ts
  frontend/src/features/data_entry/testing/test.utils.ts
  frontend/src/features/data_entry/types/types.ts
  frontend/src/features/data_entry/utils/actions.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.test.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.ts
  frontend/src/features/data_entry/utils/reducer.test.ts
  frontend/src/features/data_entry/utils/reducer.ts
  frontend/src/types/types.ts
  frontend/src/utils/__snapshots__/dataEntryStructure.DSOFirstSession.Municipal.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.DSOFirstSession.Provincial.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.DSOFirstSession.WaterAuthority.snap
  frontend/src/utils/dataEntryStructure.ts
Due: frontend-lint-tsc, frontend-lint-eslint

For corrigendum, to resolve differences by correcting the data entry, reset the value to the value of the previousResults to show an empty input field.
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/helpers-utils/e2e-test-api-helpers.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry.correct-differences.e2e.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.test.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.ts
  frontend/src/features/data_entry/utils/reducer.ts
  frontend/src/utils/dataEntryMapping.test.ts
  frontend/src/utils/dataEntryMapping.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Expand `is_kept_as_expected` doc comment
  backend/fuzz/fuzz_targets/data_entry_status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Extend data entry fuzzer with correction states (#3815)
  backend/fuzz/README.md
  backend/fuzz/fuzz_targets/data_entry_status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Processed review comments
  backend/templates/common/style.typ
  backend/templates/model-na-14-1-versie-2.typ
  backend/templates/model-na-14-2.typ
Due: none

Integration tests in one binary (#3816)
  backend/tests/integration_tests/apportionment_integration_test.rs
  backend/tests/integration_tests/authorization_integration_test.rs
  backend/tests/integration_tests/backup_integration_test.rs
  backend/tests/integration_tests/committee_session_integration_test.rs
  backend/tests/integration_tests/data_entries_integration_test.rs
  backend/tests/integration_tests/data_entries_resolve_integration_test.rs
  backend/tests/integration_tests/election_admin_integration_test.rs
  backend/tests/integration_tests/election_integration_test.rs
  backend/tests/integration_tests/init_tls_test.rs
  backend/tests/integration_tests/investigation_integration_test.rs
  backend/tests/integration_tests/mod.rs
  backend/tests/integration_tests/polling_station_integration_test.rs
  backend/tests/integration_tests/report_integration_test.rs
  backend/tests/integration_tests/user_integration_test.rs
  backend/tests/tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed difference in font size of explainer text of votes table
  backend/templates/common/scripts.typ
Due: none

Corrected Na 14-1 versie 2 input jsons to only contain previous votes and totals
  backend/templates/inputs/model-na-14-1-versie-2-variations/model-na-14-1-versie-2-GR.json
  backend/templates/inputs/model-na-14-1-versie-2-variations/model-na-14-1-versie-2-PS.json
  backend/templates/inputs/model-na-14-1-versie-2-variations/model-na-14-1-versie-2-WS.json
Due: none

Show empty fields when correcting data entry differences in a next session (#3819)
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/helpers-utils/e2e-test-api-helpers.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/data-entry-GSB/data-entry.correct-differences.e2e.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.test.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.ts
  frontend/src/features/data_entry/utils/reducer.ts
  frontend/src/utils/dataEntryMapping.test.ts
  frontend/src/utils/dataEntryMapping.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Added Model Na 14-1 versie 2 and a few attachment/corrigendum improvements (#3804)
  backend/src/bin/gen-pdf.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/models/model_na_14_1.rs
  backend/src/infra/pdf_gen/sources.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/templates/common/scripts.typ
  backend/templates/common/style.typ
  backend/templates/inputs/model-na-14-1-versie-2-variations/model-na-14-1-versie-2-GR.json
  backend/templates/inputs/model-na-14-1-versie-2-variations/model-na-14-1-versie-2-PS.json
  backend/templates/inputs/model-na-14-1-versie-2-variations/model-na-14-1-versie-2-WS.json
  backend/templates/model-na-14-1-versie-1.typ
  backend/templates/model-na-14-1-versie-2.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-2-bijlage-1.typ
  backend/templates/model-p-22-2-bijlage-1.typ
  backend/templates/visual-diff.sh
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Clean up existing election fixtures a bit, change DSO elections to Provincial elections
  backend/fixtures/election_1.sql
  backend/fixtures/election_10_csb.sql
  backend/fixtures/election_11_dso.sql
  backend/fixtures/election_12_dso_with_results.sql
  backend/fixtures/election_2.sql
  backend/fixtures/election_3.sql
  backend/fixtures/election_5_with_results.sql
  backend/fixtures/election_8_csb_with_results.sql
Due: none

Added DSO elections to seed data
  backend/src/infra/seed_data.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed election id of election 1
  backend/fixtures/election_1.sql
Due: none

Fixed tests
  backend/fixtures/election_5_with_results.sql
  backend/src/domain/report/files.rs
  backend/tests/integration_tests/election_integration_test.rs
  backend/tests/integration_tests/report_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Finalize cleaning up election fixtures and changed dso elections from provincial to water authority
  backend/fixtures/election_1.sql
  backend/fixtures/election_10_csb.sql
  backend/fixtures/election_11_dso.sql
  backend/fixtures/election_12_dso_with_results.sql
  backend/fixtures/election_2.sql
  backend/fixtures/election_3.sql
  backend/fixtures/election_4.sql
  backend/fixtures/election_6_no_polling_stations.sql
  backend/fixtures/election_7_four_sessions.sql
  backend/fixtures/election_8_csb_with_results.sql
  backend/fixtures/election_9_csb.sql
  backend/src/service/sub_committee.rs
  backend/tests/integration_tests/apportionment_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added DSO elections to dev page elections (#3831)
  backend/fixtures/election_1.sql
  backend/fixtures/election_10_csb.sql
  backend/fixtures/election_11_dso.sql
  backend/fixtures/election_12_dso_with_results.sql
  backend/fixtures/election_2.sql
  backend/fixtures/election_3.sql
  backend/fixtures/election_4.sql
  backend/fixtures/election_5_with_results.sql
  backend/fixtures/election_6_no_polling_stations.sql
  backend/fixtures/election_7_four_sessions.sql
  backend/fixtures/election_8_csb_with_results.sql
  backend/fixtures/election_9_csb.sql
  backend/src/domain/report/files.rs
  backend/src/infra/seed_data.rs
  backend/src/service/sub_committee.rs
  backend/tests/integration_tests/apportionment_integration_test.rs
  backend/tests/integration_tests/election_integration_test.rs
  backend/tests/integration_tests/report_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Implement DSO tabulation with new data types
  backend/openapi.json
  backend/src/bin/gen-test-election.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/src/domain/report/structs.rs
  backend/src/domain/tabulation.rs
  backend/src/eml/mod.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/infra/pdf_gen/typst_tests.rs
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/ElectionSummaryTable.stories.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p10-full-seat-removal.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p7-drawing-lots.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9-drawing-lots-and-deceased-candidates.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-not-all-seats-assigned.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10-and-deceased-candidate.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10-and-deceased-candidates.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p15-drawing-lots.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p7-drawing-lots.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-drawing-lots.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Show 50 candidates in Na 14-2 and adjust votes table explainer texts for corrigenda
  backend/src/domain/models/votes_table.rs
  backend/templates/inputs/model-na-14-2-variations/model-na-14-2-GR.json
  backend/templates/inputs/model-na-14-2-variations/model-na-14-2-PS.json
  backend/templates/inputs/model-na-14-2-variations/model-na-14-2-WS.json
  backend/templates/model-na-14-1-versie-1.typ
  backend/templates/model-na-14-1-versie-2.typ
  backend/templates/model-na-14-2-bijlage-1.typ
  backend/templates/model-na-14-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove total instruction from votes table in Na 14-2
  backend/templates/model-na-14-2.typ
Due: none

Show 50 candidates in Na 14-2 and adjust votes table explainer texts for corrigenda (#3828)
  backend/src/domain/models/votes_table.rs
  backend/templates/inputs/model-na-14-2-variations/model-na-14-2-GR.json
  backend/templates/inputs/model-na-14-2-variations/model-na-14-2-PS.json
  backend/templates/inputs/model-na-14-2-variations/model-na-14-2-WS.json
  backend/templates/model-na-14-1-versie-1.typ
  backend/templates/model-na-14-1-versie-2.typ
  backend/templates/model-na-14-2-bijlage-1.typ
  backend/templates/model-na-14-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Adjust footer-descent to ensure minimum margin of 10mm. Remove extra signature pages. Added P 2a variations.
  backend/src/bin/gen-pdf.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/models/model_p_2a.rs
  backend/templates/common/style.typ
  backend/templates/inputs/model-p-2a-variations/model-p-2a-GR.json
  backend/templates/inputs/model-p-2a-variations/model-p-2a-PS.json
  backend/templates/inputs/model-p-2a-variations/model-p-2a-WS.json
  backend/templates/model-n-10-1.typ
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-14-1-versie-1.typ
  backend/templates/model-na-14-1-versie-2.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-22-2-bijlage-1.typ
  backend/templates/model-p-22-2.typ
  backend/templates/model-p-2a.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move reporting-only structs to models domain
  backend/src/bin/gen-test-election.rs
  backend/src/domain/models/election_totals.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/models/model_na_14_2.rs
  backend/src/domain/models/model_na_31_2.rs
  backend/src/domain/models/model_p_22_2.rs
  backend/src/domain/report/structs.rs
  backend/src/domain/tabulation.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/infra/pdf_gen/typst_tests.rs
  backend/templates/inputs/model-na-14-2-variations/model-na-14-2-GR.json
  backend/templates/inputs/model-na-14-2-variations/model-na-14-2-PS.json
  backend/templates/inputs/model-na-14-2-variations/model-na-14-2-WS.json
  backend/templates/inputs/model-na-31-2-variations/model-na-31-2-GR.json
  backend/templates/inputs/model-na-31-2-variations/model-na-31-2-PS.json
  backend/templates/inputs/model-na-31-2-variations/model-na-31-2-WS.json
  backend/templates/model-na-31-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add test for Na 31-2 error with DSO election
  backend/src/domain/report/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Implement DSO tabulation with new data types (#3834)
  backend/openapi.json
  backend/src/bin/gen-test-election.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/src/domain/report/structs.rs
  backend/src/domain/tabulation.rs
  backend/src/eml/mod.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/infra/pdf_gen/typst_tests.rs
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/ElectionSummaryTable.stories.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p10-full-seat-removal.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p7-drawing-lots.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9-drawing-lots-and-deceased-candidates.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-not-all-seats-assigned.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10-and-deceased-candidate.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10-and-deceased-candidates.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p15-drawing-lots.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p7-drawing-lots.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-drawing-lots.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-lint-tsc: any of: *.{ts,tsx} and ^frontend/
  frontend-lint-eslint: any of: *.{ts,tsx} and ^frontend/
