Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

backend-sqlx-prepare:
  run: 'cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite && cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets && git add .sqlx && rm sqlx-cache-tmp.sqlite
  
    '

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi && git add openapi.json && cd ../frontend && pnpm gen:openapi && git add src/types/generated/openapi.ts
  
    '

frontend-lint-tsc:
  run: pnpm lint:tsc

frontend-lint-eslint:
  run: pnpm lint:eslint

Moved DifferencesCounts and its Validate and Compare and tests to own file
  backend/fuzz/fuzz_targets/data_entry_status.rs
  backend/src/domain/comparison.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/polling_station_results/common_polling_station_results.rs
  backend/src/domain/polling_station_results/cso_first_session_results.rs
  backend/src/domain/polling_station_results/cso_next_session_results.rs
  backend/src/domain/polling_station_results/differences_counts.rs
  backend/src/domain/polling_station_results/mod.rs
  backend/src/domain/summary.rs
  backend/src/domain/validation.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/repository/data_entry_repo.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Moved ExtraInvestigation and its Validate and Compare and tests to own file
  backend/fuzz/fuzz_targets/data_entry_status.rs
  backend/src/domain/comparison.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/polling_station_results/cso_first_session_results.rs
  backend/src/domain/polling_station_results/extra_investigation.rs
  backend/src/domain/polling_station_results/mod.rs
  backend/src/domain/summary.rs
  backend/src/domain/validation.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Moved (PoliticalGroup)CandidateVotes and their Validate and Compare and tests to own file
  backend/src/api/apportionment/mapping.rs
  backend/src/api/apportionment/structs.rs
  backend/src/domain/comparison.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/data_entry_status.rs
  backend/src/domain/polling_station_results/common_polling_station_results.rs
  backend/src/domain/polling_station_results/cso_first_session_results.rs
  backend/src/domain/polling_station_results/cso_next_session_results.rs
  backend/src/domain/polling_station_results/differences_counts.rs
  backend/src/domain/polling_station_results/mod.rs
  backend/src/domain/polling_station_results/political_group_candidate_votes.rs
  backend/src/domain/summary.rs
  backend/src/domain/validation.rs
  backend/src/domain/votes_table.rs
  backend/src/eml/mod.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Moved VotersCounts and its Validate and Compare and tests to own file
  backend/fuzz/fuzz_targets/data_entry_status.rs
  backend/src/domain/comparison.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/data_entry_status.rs
  backend/src/domain/polling_station_results/common_polling_station_results.rs
  backend/src/domain/polling_station_results/cso_first_session_results.rs
  backend/src/domain/polling_station_results/cso_next_session_results.rs
  backend/src/domain/polling_station_results/differences_counts.rs
  backend/src/domain/polling_station_results/mod.rs
  backend/src/domain/polling_station_results/voters_counts.rs
  backend/src/domain/summary.rs
  backend/src/domain/validation.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/repository/data_entry_repo.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Moved VotesCounts and its Validate and Compare and tests to own file
  backend/fuzz/fuzz_targets/data_entry_status.rs
  backend/src/domain/comparison.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/data_entry_status.rs
  backend/src/domain/polling_station_results/common_polling_station_results.rs
  backend/src/domain/polling_station_results/cso_first_session_results.rs
  backend/src/domain/polling_station_results/cso_next_session_results.rs
  backend/src/domain/polling_station_results/differences_counts.rs
  backend/src/domain/polling_station_results/mod.rs
  backend/src/domain/polling_station_results/votes_counts.rs
  backend/src/domain/summary.rs
  backend/src/domain/validation.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/repository/data_entry_repo.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Moved PollingStationResults and its Validate and Compare and tests to own file
  backend/fuzz/fuzz_targets/data_entry_status.rs
  backend/src/api/apportionment/handlers.rs
  backend/src/api/data_entry.rs
  backend/src/api/investigation.rs
  backend/src/api/report.rs
  backend/src/bin/gen-test-election.rs
  backend/src/domain/comparison.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/data_entry_status.rs
  backend/src/domain/polling_station_results/differences_counts.rs
  backend/src/domain/polling_station_results/mod.rs
  backend/src/domain/polling_station_results/voters_counts.rs
  backend/src/domain/polling_station_results/votes_counts.rs
  backend/src/domain/summary.rs
  backend/src/domain/validation.rs
  backend/src/eml/mod.rs
  backend/src/repository/data_entry_repo.rs
  backend/src/service/data_entry.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Moved YesNo and its Compare to own file
  backend/fuzz/fuzz_targets/data_entry_status.rs
  backend/src/domain/comparison.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/polling_station_results/counting_differences_polling_station.rs
  backend/src/domain/polling_station_results/differences_counts.rs
  backend/src/domain/polling_station_results/extra_investigation.rs
  backend/src/domain/polling_station_results/mod.rs
  backend/src/domain/polling_station_results/yes_no.rs
  backend/src/domain/summary.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add can_manage_committee to role
  backend/src/domain/role.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix generate election form
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Add CSB fixtures
  backend/fixtures/election_8_csb.sql
  backend/fixtures/users.sql
  backend/openapi.json
  backend/src/infra/seed_data.rs
  frontend/src/features/dev/components/DevHomePage.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Allow CSB roles for /account
  backend/src/api/authentication.rs
  frontend/src/features/account/routes.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Add roles to router test, removed unused attribute
  backend/src/api/middleware/authentication/role.rs
  backend/src/infra/router.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Election list filter
  backend/.sqlx/query-73114c2ac43b33e8dcf01babdd690d59716b0d1c56349e2034c48886f234f745.json
  backend/src/api/election.rs
  backend/src/repository/election_repo.rs
  backend/src/repository/user_repo.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add sub (electoral) committee entity
  backend/.sqlx/query-17a7b42defdad413b04403d86820bc43f3e37666755b45ce2f0f8d6c1b830b99.json
  backend/.sqlx/query-e4cefb982789676d5487aaf17da09238559515291c251b5905db12817501e6bf.json
  backend/.sqlx/query-f976c7ce3700950f116ed60db5538d16dc5034c4231956dfaaae9aaff92cf287.json
  backend/migrations/9_sub_committees.sql
  backend/src/api/election.rs
  backend/src/domain/mod.rs
  backend/src/domain/sub_committee.rs
  backend/src/error.rs
  backend/src/repository/committee_session_repo.rs
  backend/src/repository/mod.rs
  backend/src/repository/sub_committee_repo.rs
  backend/src/service/mod.rs
  backend/src/service/sub_committee.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add sub committee round trip test
  backend/fixtures/election_8_csb.sql
  backend/src/service/sub_committee.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Election endpoints
  backend/openapi.json
  backend/src/api/apportionment/handlers.rs
  backend/src/api/data_entry.rs
  backend/src/api/election.rs
  frontend/src/features/election_management/routes.tsx
  frontend/src/features/election_status/routes.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Add (any) coordinator role
  backend/src/api/middleware/authentication/mod.rs
  backend/src/api/middleware/authentication/role.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Committee session endpoints
  backend/.sqlx/query-03b8abe48aca72f3fad4511f271d93dcd69484511d774cfa7d50994023170e32.json
  backend/src/api/committee_session.rs
  backend/src/api/document.rs
  backend/src/api/report.rs
  backend/src/repository/committee_session_repo.rs
  frontend/src/features/election_management/routes.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Add user_role macro
  backend/src/api/middleware/authentication/mod.rs
  backend/src/api/middleware/authentication/role.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Polling station endpoints
  backend/.sqlx/query-635e47319b9360ba0c7639420bfcfa4d2a852309cf6c4a08331af94cb1d72ac2.json
  backend/src/api/middleware/authentication/role.rs
  backend/src/api/polling_station.rs
  backend/src/repository/polling_station_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Improve imports
  backend/src/domain/polling_station_data_entry.rs
  backend/src/domain/validate.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

PR feedback
  frontend/e2e-tests/tests/election-create.e2e.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/i18n/locales/nl/election.json
Due: frontend-lint-tsc, frontend-lint-eslint

Fixed incorrect references (#2994)
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.test.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
  frontend/src/i18n/locales/nl/election.json
  frontend/src/i18n/locales/nl/election_management.json
Due: frontend-lint-tsc, frontend-lint-eslint

Rename electoral committee role to committee category in frontend (#2989)
  frontend/e2e-tests/page-objects/election/create/CheckAndSavePgObj.ts
  frontend/e2e-tests/page-objects/election/create/CommitteeCategoryPgObj.ts
  frontend/e2e-tests/tests/election-create.e2e.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
  frontend/src/features/election_create/components/CheckAndSave.tsx
  frontend/src/features/election_create/components/CommitteeCategory.test.tsx
  frontend/src/features/election_create/components/CommitteeCategory.tsx
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_create/components/ElectionNav.tsx
  frontend/src/features/election_create/components/UploadElectionDefinition.test.tsx
  frontend/src/features/election_create/components/UploadElectionDefinition.tsx
  frontend/src/features/election_create/routes.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.test.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
  frontend/src/features/election_overview/components/OverviewPage.test.tsx
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/features/users/components/create/UserCreate.test.tsx
  frontend/src/features/users/components/create/UserCreateCommitteeCategoryPage.tsx
  frontend/src/i18n/locales/nl/election.json
  frontend/src/i18n/locales/nl/election_management.json
  frontend/src/i18n/locales/nl/users.json
Due: frontend-lint-tsc, frontend-lint-eslint

Merge polling_station_data_entry.rs into data_entry_status.rs
  backend/src/api/data_entry.rs
  backend/src/api/polling_station.rs
  backend/src/domain/data_entry_status.rs
  backend/src/domain/investigation.rs
  backend/src/domain/mod.rs
  backend/src/domain/polling_station.rs
  backend/src/domain/polling_station_data_entry.rs
  backend/src/repository/data_entry_repo.rs
  backend/src/repository/investigation_repo.rs
  backend/src/repository/polling_station_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Rename polling_station_results/ to results/
  backend/fuzz/fuzz_targets/data_entry_status.rs
  backend/src/api/apportionment/handlers.rs
  backend/src/api/apportionment/mapping.rs
  backend/src/api/apportionment/structs.rs
  backend/src/api/data_entry.rs
  backend/src/api/investigation.rs
  backend/src/api/report.rs
  backend/src/bin/gen-test-election.rs
  backend/src/domain/data_entry_status.rs
  backend/src/domain/mod.rs
  backend/src/domain/models/model_na_14_2.rs
  backend/src/domain/results/common_polling_station_results.rs
  backend/src/domain/results/count.rs
  backend/src/domain/results/counting_differences_polling_station.rs
  backend/src/domain/results/cso_first_session_results.rs
  backend/src/domain/results/cso_next_session_results.rs
  backend/src/domain/results/differences_counts.rs
  backend/src/domain/results/extra_investigation.rs
  backend/src/domain/results/mod.rs
  backend/src/domain/results/political_group_candidate_votes.rs
  backend/src/domain/results/political_group_total_votes.rs
  backend/src/domain/results/voters_counts.rs
  backend/src/domain/results/votes_counts.rs
  backend/src/domain/results/yes_no.rs
  backend/src/domain/summary.rs
  backend/src/domain/votes_table.rs
  backend/src/eml/mod.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/repository/data_entry_repo.rs
  backend/src/service/data_entry.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Rename polling_station_results/ to results/
  backend/fuzz/fuzz_targets/data_entry_status.rs
  backend/src/api/data_entry.rs
  backend/src/api/polling_station.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/investigation.rs
  backend/src/domain/mod.rs
  backend/src/domain/polling_station.rs
  backend/src/repository/data_entry_repo.rs
  backend/src/repository/investigation_repo.rs
  backend/src/repository/polling_station_repo.rs
  backend/src/service/data_entry.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Change imports in results from results to super
  backend/src/domain/results/common_polling_station_results.rs
  backend/src/domain/results/counting_differences_polling_station.rs
  backend/src/domain/results/cso_first_session_results.rs
  backend/src/domain/results/cso_next_session_results.rs
  backend/src/domain/results/differences_counts.rs
  backend/src/domain/results/extra_investigation.rs
  backend/src/domain/results/mod.rs
  backend/src/domain/results/political_group_candidate_votes.rs
  backend/src/domain/results/political_group_total_votes.rs
  backend/src/domain/results/voters_counts.rs
  backend/src/domain/results/votes_counts.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove election id from `PollingStation` struct
  backend/.sqlx/query-372fe2d73ab08ba2eb263d8e2feed95df966e95e74f8559b8f3e2687108b75d0.json
  backend/.sqlx/query-4e5042f2a4e68464b37f8de1288b423f1f87f557bd3648fe83afbba57148a92c.json
  backend/.sqlx/query-51ea4d4b621869bd5d02f6fc5d727dfdc054125c665d4fff2656b37cbf886bd8.json
  backend/.sqlx/query-53c5ce96baac045424addc4aa1f3a4c53319272898116da2d7e058138b183973.json
  backend/.sqlx/query-654f03c993d8bec13e0774046e1b22490515053a8f4d3417e93a3500ce674d6e.json
  backend/.sqlx/query-796ed5ebd0f463f781dc84bec37ff24ddc6f089d249a7071b27b2dbc4b8d8aa9.json
  backend/.sqlx/query-9ed398a16ea996f0614371928b062cbd123cfca1c5824650757eb28cecbc4df5.json
  backend/.sqlx/query-caf6fd427acd2c90c535eb5fc97a21080cb757b7bd9022573f0578994c961a09.json
  backend/.sqlx/query-e1ef94fb526951453f15e8eec0e90372b4a4a4db325c32020bc11dd9105d85d2.json
  backend/.sqlx/query-e7b5a6d40f81573e573a68f0de068baed1b9dbd9e937c9bd056649800629d041.json
  backend/.sqlx/query-f5fc5aa425fbca216898228d2ab7d0443c087fe35ff7a0a44c6824a156c1f3b0.json
  backend/.sqlx/query-ff19b9144759bf124b0379122871c509ade43d8ab794cebca150596696d50823.json
  backend/fuzz/fuzz_targets/data_entry_status.rs
  backend/src/api/election.rs
  backend/src/api/investigation.rs
  backend/src/api/polling_station.rs
  backend/src/domain/data_entry_status.rs
  backend/src/domain/polling_station.rs
  backend/src/domain/summary.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/infra/pdf_gen/typst_tests.rs
  backend/src/repository/polling_station_repo.rs
  backend/templates/inputs/model-n-10-2.json
  backend/templates/inputs/model-na-14-2-bijlage1.json
  backend/templates/inputs/model-na-31-2-bijlage1.json
  backend/templates/inputs/model-na-31-2.json
  backend/templates/inputs/model-p-2a.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Updated election status page for CSB (#2984)
  frontend/src/features/election_status/components/ElectionStatus.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Optimized imports
  backend/src/domain/data_entry.rs
  backend/src/domain/results/common_polling_station_results.rs
  backend/src/domain/results/counting_differences_polling_station.rs
  backend/src/domain/results/cso_first_session_results.rs
  backend/src/domain/results/cso_next_session_results.rs
  backend/src/domain/results/differences_counts.rs
  backend/src/domain/results/extra_investigation.rs
  backend/src/domain/results/mod.rs
  backend/src/domain/results/political_group_candidate_votes.rs
  backend/src/domain/results/political_group_total_votes.rs
  backend/src/domain/results/voters_counts.rs
  backend/src/domain/results/votes_counts.rs
  backend/src/domain/results/yes_no.rs
  backend/src/domain/validate.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add number to sub committee
  backend/.sqlx/query-0e0e28f9a9479ac6b3043e1d59e57659eafd183561ebd28ca2eb6b1d3c04b44d.json
  backend/.sqlx/query-5baa32459d31ff5e24a8d19005ee85dc5d0f4fc0cff0ea57f9de2b765f570ecf.json
  backend/.sqlx/query-f976c7ce3700950f116ed60db5538d16dc5034c4231956dfaaae9aaff92cf287.json
  backend/fixtures/election_8_csb.sql
  backend/migrations/9_sub_committees.sql
  backend/src/api/election.rs
  backend/src/domain/sub_committee.rs
  backend/src/repository/sub_committee_repo.rs
  backend/src/service/sub_committee.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove `From<SubCommitteeRow> for SubCommittee`
  backend/src/repository/sub_committee_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove election id from `PollingStation` struct (#3004)
  backend/.sqlx/query-372fe2d73ab08ba2eb263d8e2feed95df966e95e74f8559b8f3e2687108b75d0.json
  backend/.sqlx/query-4e5042f2a4e68464b37f8de1288b423f1f87f557bd3648fe83afbba57148a92c.json
  backend/.sqlx/query-51ea4d4b621869bd5d02f6fc5d727dfdc054125c665d4fff2656b37cbf886bd8.json
  backend/.sqlx/query-53c5ce96baac045424addc4aa1f3a4c53319272898116da2d7e058138b183973.json
  backend/.sqlx/query-654f03c993d8bec13e0774046e1b22490515053a8f4d3417e93a3500ce674d6e.json
  backend/.sqlx/query-796ed5ebd0f463f781dc84bec37ff24ddc6f089d249a7071b27b2dbc4b8d8aa9.json
  backend/.sqlx/query-9ed398a16ea996f0614371928b062cbd123cfca1c5824650757eb28cecbc4df5.json
  backend/.sqlx/query-caf6fd427acd2c90c535eb5fc97a21080cb757b7bd9022573f0578994c961a09.json
  backend/.sqlx/query-e1ef94fb526951453f15e8eec0e90372b4a4a4db325c32020bc11dd9105d85d2.json
  backend/.sqlx/query-e7b5a6d40f81573e573a68f0de068baed1b9dbd9e937c9bd056649800629d041.json
  backend/.sqlx/query-f5fc5aa425fbca216898228d2ab7d0443c087fe35ff7a0a44c6824a156c1f3b0.json
  backend/.sqlx/query-ff19b9144759bf124b0379122871c509ade43d8ab794cebca150596696d50823.json
  backend/fuzz/fuzz_targets/data_entry_status.rs
  backend/src/api/election.rs
  backend/src/api/investigation.rs
  backend/src/api/polling_station.rs
  backend/src/domain/data_entry_status.rs
  backend/src/domain/polling_station.rs
  backend/src/domain/summary.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/infra/pdf_gen/typst_tests.rs
  backend/src/repository/polling_station_repo.rs
  backend/templates/inputs/model-n-10-2.json
  backend/templates/inputs/model-na-14-2-bijlage1.json
  backend/templates/inputs/model-na-31-2-bijlage1.json
  backend/templates/inputs/model-na-31-2.json
  backend/templates/inputs/model-p-2a.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

PR feedback
  frontend/src/features/election_status/components/ElectionStatus.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Rename CommitteeSessionStatus "in_preparation" to "ready"
  backend/openapi.json
  backend/src/api/committee_session.rs
  backend/src/api/election.rs
  backend/src/api/investigation.rs
  backend/src/api/polling_station.rs
  backend/src/domain/committee_session_status.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/service/change_committee_session_status.rs
  backend/src/test_data_gen/generators.rs
  backend/tests/committee_session_integration_test.rs
  backend/tests/election_admin_integration_tests.rs
  backend/tests/election_integration_test.rs
  backend/tests/investigation_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  documentatie/state-machines/committee-session-state.md
  frontend/src/components/committee_session/CommitteeSessionStatus.test.tsx
  frontend/src/components/ui/Icon/CommitteeSessionStatusIcon.tsx
  frontend/src/features/data_entry_home/components/PollingStationPicker.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.stories.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.test.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
  frontend/src/features/election_management/components/update/CommitteeSessionDetailsPage.test.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.test.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
  frontend/src/features/investigations/components/AddInvestigationLayout.test.tsx
  frontend/src/features/investigations/components/AddInvestigationLayout.tsx
  frontend/src/features/investigations/components/InvestigationCard.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationListPage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.test.tsx
  frontend/src/features/polling_stations/utils/checks.test.ts
  frontend/src/features/polling_stations/utils/checks.ts
  frontend/src/i18n/locales/nl/committee_session_status.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Added tests for CSB for election management
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.test.tsx
  frontend/src/testing/api-mocks/CommitteeSessionMockData.ts
  frontend/src/testing/api-mocks/ElectionMockData.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Committee session state machine uses either data entries (first session) or investigations (next session) to determine validity of state change
  backend/.sqlx/query-ee130d9f4dc7f2afa4dfc43c9c628d8b1664e5ba2c43a0f5c91e9fa9b37f1a37.json
  backend/src/api/providers.rs
  backend/src/domain/committee_session_status.rs
  backend/src/repository/data_entry_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-lint-tsc: any of: *.{ts,tsx} and ^frontend/
  frontend-lint-eslint: any of: *.{ts,tsx} and ^frontend/
