Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite &&
        cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets &&
        git add .sqlx &&
        rm sqlx-cache-tmp.sqlite
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi &&
        git add openapi.json &&
        cd ../frontend &&
        pnpm gen:openapi &&
        git add src/types/generated/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: pnpm format --staged --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-biome:
      root: "frontend/"
      run: pnpm lint:biome --write --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-tsc:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:tsc
    frontend-lint-eslint:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:eslint

Update to Vite 8
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

Use the default Vite React plugin instead of SWC
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/vite-prod.config.ts
  frontend/vite.config.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Remove Storybook Vitest config
  frontend/.storybook/vitest.setup.ts
  frontend/vitest.config.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Allow coordinator csb to update committee session (#3122)
  backend/openapi.json
  backend/src/api/committee_session.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update to Vite 8 (#3125)
  frontend/.storybook/vitest.setup.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/vite-prod.config.ts
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Improved labels as suggested in review
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Avoid race condition to fix flaky frontend test
  frontend/src/features/election_management/components/report/ElectionReportPage.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Remove display_name from database, create separate struct PoliticalGroup with display name and RegisteredPoliticalGroup without display name
  backend/.sqlx/query-05ac0059dd01865b2662cb0a8a55de56368908e64057d96c37e7b2eade166aa5.json
  backend/.sqlx/query-5ced3ebedea48babbf7ce55289365972f98f8d8ee88a56ec3237d60fface16d0.json
  backend/fixtures/election_1.sql
  backend/fixtures/election_2.sql
  backend/fixtures/election_3.sql
  backend/fixtures/election_4.sql
  backend/fixtures/election_5_with_results.sql
  backend/fixtures/election_6_no_polling_stations.sql
  backend/fixtures/election_7_four_sessions.sql
  backend/fixtures/election_8_csb.sql
  backend/openapi.json
  backend/src/api/apportionment/mapping.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/election.rs
  backend/src/domain/votes_table.rs
  backend/src/eml/mod.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/repository/election_repo.rs
  backend/src/test_data_gen/generators.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-n-10-2.json
  backend/templates/inputs/model-p-22-2.json
  backend/templates/model-n-10-2.typ
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.test.tsx
  frontend/src/testing/api-mocks/ElectionMockData.ts
  frontend/src/types/generated/openapi.ts
  frontend/src/utils/dataEntryStructure.test.ts
  frontend/src/utils/politicalGroup.test.ts
  frontend/src/utils/politicalGroup.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Rename name to registered_name in RegisteredPoliticalGroup
  backend/fixtures/election_1.sql
  backend/fixtures/election_2.sql
  backend/fixtures/election_3.sql
  backend/fixtures/election_4.sql
  backend/fixtures/election_5_with_results.sql
  backend/fixtures/election_6_no_polling_stations.sql
  backend/fixtures/election_7_four_sessions.sql
  backend/fixtures/election_8_csb.sql
  backend/src/domain/election.rs
  backend/src/eml/mod.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix flaky frontend report tests (#3129)
  frontend/src/features/election_management/components/report/ElectionReportPage.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Make sure all typst model inputs contain an unnamed list
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/model-n-10-2.json
  backend/templates/inputs/model-na-14-2-bijlage1.json
  backend/templates/inputs/model-na-14-2.json
  backend/templates/inputs/model-na-31-2-bijlage1.json
  backend/templates/inputs/model-na-31-2.json
Due: none

Improved subsection numbering
  backend/templates/model-p-22-2.typ
Due: none

Added zebra striping for highest averages and largest remainder tables
  backend/templates/common/scripts.typ
  backend/templates/model-p-22-2.typ
Due: none

Complete P 22-2 template in Typst (#3093)
  backend/src/domain/models/model_p_22_2.rs
  backend/templates/common/scripts.typ
  backend/templates/common/style.typ
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-p-22-2.json
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-2-bijlage1.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-22-2.typ
  backend/templates/model-p-2a.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Removed unnamed list display name formatting from typst
  backend/templates/common/scripts.typ
  backend/templates/model-p-22-2.typ
Due: none

Update memory-serve to 2.1.0 (#3123)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/infra/router.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added ElectionRow struct and clarified comment
  backend/src/domain/election.rs
  backend/src/repository/election_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Preload error image
  frontend/index.html
Due: none

removes WebKit/Safari project from e2e tests
  .github/workflows/release.yml
  .github/workflows/weekly-e2e-tests.yml
  frontend/README.md
  frontend/playwright.config.ts
Due: frontend-lint-tsc, frontend-lint-eslint

removes Safari-specific method from DataEntryHome page object
  frontend/e2e-tests/page-objects/data_entry/DataEntryHomePgObj.ts
  frontend/e2e-tests/tests/data-entry/data-entry-with-gaps.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Preload error image (#3131)
  frontend/index.html
Due: none

Run e2e tests only on chrome and firefox, no longer on safari (#3132)
  .github/workflows/release.yml
  .github/workflows/weekly-e2e-tests.yml
  frontend/README.md
  frontend/e2e-tests/page-objects/data_entry/DataEntryHomePgObj.ts
  frontend/e2e-tests/tests/data-entry/data-entry-with-gaps.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
  frontend/playwright.config.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Clarified (Registered)PoliticalGroup struct fields with comments
  backend/openapi.json
  backend/src/domain/election.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Applied review suggestions
  backend/openapi.json
  backend/src/domain/election.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Generate CSB election data entry (#3115)
  backend/openapi.json
  backend/src/bin/gen-test-election.rs
  backend/src/test_data_gen/api.rs
  backend/src/test_data_gen/generators.rs
  backend/src/test_data_gen/mod.rs
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Add failing test for showing of "Prepare new committee session" button
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Only show "Prepare new committee session" button for GSB
  frontend/src/features/election_management/components/ElectionHomePage.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Restrict frontend apportionment pages to only coordinator_CSB role
  frontend/src/features/apportionment/routes.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Made sure navbar is correct on apportionment pages
  frontend/src/components/navbar/NavBar.stories.tsx
  frontend/src/components/navbar/NavBar.test.tsx
  frontend/src/components/navbar/NavBarLinks.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Updated "invoerfase afronden" alert for CSB
  frontend/src/features/election_status/components/ElectionStatusPage.test.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
  frontend/src/i18n/locales/nl/election_status.json
Due: frontend-lint-tsc, frontend-lint-eslint

Add failing test: login should not extend session
  backend/src/api/middleware/authentication/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Skip session extension for login/logout routes
  backend/src/api/authentication.rs
  backend/src/api/middleware/authentication/middleware.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Updated "invoerfase afronden" page for CSB
  frontend/src/features/election_management/components/report/FinishDataEntryPage.test.tsx
  frontend/src/features/election_management/components/report/FinishDataEntryPage.tsx
  frontend/src/i18n/locales/nl/election_management.json
Due: frontend-lint-tsc, frontend-lint-eslint

Update to Vite 8.0.6
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

Clean up pnpm overrides
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

Skip session extension for login/logout routes (#3140)
  backend/src/api/authentication.rs
  backend/src/api/middleware/authentication/middleware.rs
  backend/src/api/middleware/authentication/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update to Vite 8.0.6 (#3141)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

Add "Zetelverdeling bekijken" link to committee session card as discussed with Joris
  frontend/src/features/election_management/components/CommitteeSessionCard.stories.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/i18n/locales/nl/election_management.json
  frontend/src/testing/api-mocks/ElectionMockData.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Use election committee category for ValidationResults translations
  frontend/src/components/ui/Feedback/Feedback.stories.tsx
  frontend/src/components/ui/Feedback/Feedback.tsx
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/features/data_entry_detail/components/DetailIndexPage.tsx
  frontend/src/features/data_entry_detail/components/DetailSectionPage.tsx
  frontend/src/features/data_entry_detail/components/ErrorsAndWarningsOverview.stories.tsx
  frontend/src/features/data_entry_detail/components/ErrorsAndWarningsOverview.test.tsx
  frontend/src/features/data_entry_detail/components/ErrorsAndWarningsOverview.tsx
  frontend/src/features/data_entry_detail/components/ReadOnlyDataEntrySection.stories.tsx
  frontend/src/features/data_entry_detail/components/ReadOnlyDataEntrySection.test.tsx
  frontend/src/features/data_entry_detail/components/ReadOnlyDataEntrySection.tsx
  frontend/src/i18n/feedback-structure.test.tsx
  frontend/src/i18n/locales/nl/feedback.json
  frontend/src/i18n/locales/nl/feedback_CSB.json
  frontend/src/i18n/locales/nl/feedback_GSB.json
  frontend/src/i18n/locales/nl/nl.ts
  frontend/src/utils/ValidationResults.test.ts
  frontend/src/utils/ValidationResults.ts
Due: frontend-lint-tsc, frontend-lint-eslint
