Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

backend-sqlx-prepare:
  run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --all-features -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi &&  git add openapi.json && cd ../frontend && npm run gen:openapi && git add lib/api/gen/openapi.ts
  
    '

frontend-linter:
  run: npm run lint {staged_files}

Improve navigation layout
  frontend/src/features/resolve_errors/components/ResolveErrors.module.css
  frontend/src/features/resolve_errors/components/ResolveErrorsLayout.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsNavigation.tsx
Due: frontend-linter

Add messages provider, hook and component
  frontend/src/components/messages/Messages.test.tsx
  frontend/src/components/messages/Messages.tsx
  frontend/src/hooks/messages/MessagesContext.ts
  frontend/src/hooks/messages/MessagesProvider.tsx
  frontend/src/hooks/messages/messages.test.tsx
  frontend/src/hooks/messages/useMessages.ts
Due: frontend-linter

Use messages component and hook in polling station screens
  frontend/src/features/polling_stations/components/PollingStationCreatePage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationCreatePage.tsx
  frontend/src/features/polling_stations/components/PollingStationDeleteModal.tsx
  frontend/src/features/polling_stations/components/PollingStationListPage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationListPage.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.tsx
  frontend/src/features/polling_stations/components/PollingStationsLayout.tsx
  frontend/src/i18n/locales/nl/polling_station.json
  frontend/src/i18n/translate.ts
Due: frontend-linter

fix typo in EMLImportError: Needs101a -> Needs110a (#1709)
  backend/src/eml/common.rs
  backend/src/eml/eml_110.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use `waitFor` for `document.title` test
  frontend/src/features/resolve_errors/components/ResolveErrorsLayout.test.tsx
Due: frontend-linter

Update audit log to store events as SQLite JSONB (#1706)
  backend/.sqlx/query-0201284ec7f76f0a79e55e232742465beeb54ac04261eb7fb6022467fd8b7086.json
  backend/.sqlx/query-2434c35baf0d1114357671c0ebc89eb51b75dbc7daec5cf6358a3ed7b6cdcc18.json
  backend/.sqlx/query-371b371ba611c9368b918759a778c5d5e2508f138ba6bc601b7ff7cbe992f5a7.json
  backend/.sqlx/query-a7061807c60b5e00ca2e19975b615b422885923eb9c85909663aa82c2dd85006.json
  backend/.sqlx/query-e6351928e867255147b96988943ad396a4db5dd253e81a8e09b8d9dab1d150da.json
  backend/migrations/7_audit_log.sql
  backend/src/audit_log/audit_event.rs
  backend/src/audit_log/audit_log_events.rs
  backend/src/audit_log/service.rs
  backend/src/data_entry/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add navigation to resolve errors feature (#1696)
  frontend/src/components/ui/ProgressList/ProgressList.tsx
  frontend/src/features/resolve_errors/components/ReadOnlyDataEntrySection.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrors.module.css
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsLayout.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsLayout.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsNavigation.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsNavigation.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsPage.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsSectionPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsSectionPage.tsx
  frontend/src/features/resolve_errors/hooks/usePollingStationDataEntryErrors.ts
  frontend/src/features/resolve_errors/routes.tsx
  frontend/src/i18n/locales/nl/resolve_errors.json
Due: frontend-linter

Only format 0 as 0 in (sub)totals
  backend/templates/common/scripts.typ
  backend/templates/model-na-31-2.typ
Due: none

Simplify sticky nav max height handling
  frontend/src/components/ui/AppLayout/StickyNav.module.css
  frontend/src/components/ui/AppLayout/StickyNav.tsx
Due: frontend-linter

Use CSS variable for top offset
  frontend/src/components/ui/AppLayout/StickyNav.module.css
  frontend/src/components/ui/AppLayout/StickyNav.tsx
Due: frontend-linter

Simplify progress list item scroll behavior
  frontend/src/components/ui/ProgressList/ProgressList.tsx
Due: frontend-linter

Remove domtoren util
  frontend/src/utils/domtoren.test.ts
  frontend/src/utils/domtoren.ts
Due: frontend-linter

Rename woordenlijst-EN-NL.md to woordenlijst-NL-EN.md
  documentatie/referentie/woordenlijst-NL-EN.md
Due: none

Delete frontend/.babelrc
  frontend/.babelrc
Due: none

Rename woordenlijst-EN-NL.md to woordenlijst-NL-EN.md (#1717)
  documentatie/referentie/woordenlijst-NL-EN.md
Due: none

Scroll only progress list, not entire viewport
  frontend/src/components/ui/ProgressList/ProgressList.tsx
Due: frontend-linter

WIP
  backend/src/committee_session/api.rs
  backend/src/committee_session/mod.rs
  backend/src/committee_session/repository.rs
  backend/src/committee_session/status.rs
  backend/src/committee_session/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix progress list scroll gradient
  frontend/src/components/ui/ProgressList/ProgressList.module.css
  frontend/src/components/ui/ProgressList/ProgressListScroll.tsx
Due: frontend-linter

Remove unused port argument from gen-test-election
  backend/src/bin/gen-test-election.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move SQLite pool creation to `lib.rs`
  backend/src/bin/abacus.rs
  backend/src/bin/gen-test-election.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix number input validation
  frontend/src/components/ui/NumberInput/NumberInput.tsx
Due: frontend-linter

Remove archived code from NumberInput component
  frontend/src/components/ui/NumberInput/NumberInput.tsx
Due: frontend-linter

Added election information table to election homepage
  frontend/src/features/data_entry_home/components/PollingStationChoice.module.css
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.tsx
  frontend/src/features/election_create/components/ElectionCreateLayout.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
  frontend/src/features/election_management/components/ElectionManagement.module.css
  frontend/src/features/polling_stations/components/PollingStationForm.tsx
  frontend/src/i18n/locales/nl/election_management.json
  frontend/src/i18n/locales/nl/generic.json
  frontend/src/i18n/locales/nl/nl.ts
  frontend/src/i18n/locales/nl/polling_station.json
  frontend/src/styles/typography.css
Due: frontend-linter

Add number input tooltip for invalid paste content
  frontend/src/components/ui/NumberInput/NumberInput.tsx
  frontend/src/components/ui/Tooltip/Tooltip.module.css
  frontend/src/components/ui/Tooltip/Tooltip.stories.tsx
  frontend/src/components/ui/Tooltip/Tooltip.tsx
  frontend/src/i18n/locales/nl/generic.json
Due: frontend-linter

Scroll list total into view on F.402 error
  frontend/src/components/ui/InputGrid/InputGridRow.tsx
  frontend/src/components/ui/NumberInput/NumberInput.tsx
Due: frontend-linter

Scroll+focus validation checkbox when left unchecked
  frontend/src/features/data_entry/components/DataEntrySection.tsx
Due: frontend-linter

Small improvement in frontend openapi generator
  frontend/scripts/openapi/generator.ts
Due: frontend-linter

Clean up test election tool (#1720)
  backend/src/bin/abacus.rs
  backend/src/bin/gen-test-election.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added electoral area
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
  frontend/src/i18n/locales/nl/generic.json
  frontend/src/testing/api-mocks/ElectionMockData.ts
Due: frontend-linter

Processed review comments
  documentatie/flowcharts/committee-session-state.md
Due: none

Typst template for model Na 31-2 (#1676)
  backend/src/error.rs
  backend/src/pdf_gen/embedded/mod.rs
  backend/src/pdf_gen/external.rs
  backend/src/pdf_gen/mod.rs
  backend/src/report/api.rs
  backend/templates/common/scripts.typ
  backend/templates/common/style.typ
  backend/templates/inputs/model-na-31-2.json
  backend/templates/model-na-31-2-inlegvel.typ
  backend/templates/model-na-31-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix number input validation (#1721)
  frontend/src/components/ui/NumberInput/NumberInput.tsx
Due: frontend-linter

Delete frontend/.babelrc (#1718)
  frontend/.babelrc
Due: none

Add tooltip for invalid paste content to number input
  frontend/src/components/ui/NumberInput/NumberInput.tsx
  frontend/src/components/ui/Tooltip/Tooltip.module.css
  frontend/src/components/ui/Tooltip/Tooltip.stories.tsx
  frontend/src/components/ui/Tooltip/Tooltip.tsx
  frontend/src/i18n/locales/nl/generic.json
Due: frontend-linter

Fix data entry progress list resizing and scrolling (#1713)
  frontend/src/components/ui/AppLayout/StickyNav.module.css
  frontend/src/components/ui/AppLayout/StickyNav.tsx
  frontend/src/components/ui/ProgressList/ProgressList.module.css
  frontend/src/components/ui/ProgressList/ProgressList.tsx
  frontend/src/components/ui/ProgressList/ProgressListScroll.tsx
  frontend/src/utils/domtoren.test.ts
  frontend/src/utils/domtoren.ts
Due: frontend-linter

Fix in election e2e tests
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/page-objects/election/create/UploadCandidateDefinitionPgObj.ts
  frontend/e2e-tests/page-objects/election/create/UploadDefinitionPgObj.ts
Due: frontend-linter

Update committee-session-state.md
  documentatie/flowcharts/committee-session-state.md
Due: none

Added increased row padding
  frontend/src/components/ui/Form/FormLayout.tsx
  frontend/src/components/ui/Table/Table.module.css
  frontend/src/components/ui/Table/Table.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
Due: frontend-linter

Add tooltip for invalid paste content to number input (#1722)
  frontend/src/components/ui/NumberInput/NumberInput.tsx
  frontend/src/components/ui/Tooltip/Tooltip.module.css
  frontend/src/components/ui/Tooltip/Tooltip.stories.tsx
  frontend/src/components/ui/Tooltip/Tooltip.tsx
  frontend/src/i18n/locales/nl/generic.json
Due: frontend-linter

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
