Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

backend-sqlx-prepare:
  run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --all-features -- -D warnings

backend-openapi:
  run: cargo run --package backend --bin gen-openapi && git add openapi.json

frontend-typescript:
  run: npx tsc

frontend-linter:
  run: npm run lint {staged_files}

document vision on msw, ladle, vitest, playwright (#917)
  documentatie/ontwikkelproces/test-tooling.md
Due: none

Test-info en installatiemethode (#763)
  documentatie/gebruikersdocumentatie/img/binary-download.jpg
  documentatie/gebruikersdocumentatie/img/build-artifact-1.jpg
  documentatie/gebruikersdocumentatie/img/build-artifact-1.png
  documentatie/gebruikersdocumentatie/img/build-artifact-2.jpg
  documentatie/gebruikersdocumentatie/img/build-artifact-2.png
  documentatie/gebruikersdocumentatie/installeren-en-starten.md
Due: none

Fix review comments in `frontend/README.md`
  frontend/README.md
Due: none

Configure code coverage using Codecov (#926)
  .github/workflows/codecov.yml
  backend/.config/nextest.toml
  backend/.gitignore
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  frontend/vite-prod.config.ts
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: frontend-typescript, frontend-linter

Create Button.Link for a react router Link styled as an Abacus button
  frontend/lib/ui/Button/Button.module.css
  frontend/lib/ui/Button/Button.stories.tsx
  frontend/lib/ui/Button/Button.test.tsx
  frontend/lib/ui/Button/Button.tsx
  frontend/lib/ui/style/typography.css
Due: frontend-typescript, frontend-linter

Use Button.Link on polling station list page
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
Due: frontend-typescript, frontend-linter

adds test from spike
  frontend/e2e-tests/data-entry.model.e2e.ts
  frontend/e2e-tests/page-objects/data_entry/PollingStationChoicePgObj.ts
  frontend/e2e-tests/page-objects/data_entry/VotersAndVotesPgObj.ts
  frontend/package-lock.json
  frontend/package.json
Due: frontend-typescript, frontend-linter

Up the codecov
  backend/src/authentication/mod.rs
  frontend/app/component/form/user/change_password/ChangePassword.test.tsx
  frontend/app/module/account/page/ChangePasswordPage.test.tsx
  frontend/lib/api/ApiProvider.tsx
  frontend/lib/api/useSessionState.ts
  frontend/lib/test/Providers.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Now using DateTime<UTC> instead of unix timestamps in User structs
  backend/.sqlx/query-9074758cd2f5fafb51332f94f082deb10b072e1667ec177de5611059b59588af.json
  backend/.sqlx/query-a05098423f372acd52a02a0fa20afe5f16a93769bf29cf91220b28448ae26fb5.json
  backend/.sqlx/query-a973de604e0606e4025d2dfa191f7a7888e3e2c421e417f3d1908a32f25a350d.json
  backend/.sqlx/query-b9eacf02a1333eb1cb3dcb1afa6a7549d0b80a624d5cd770778e01c03f30b945.json
  backend/migrations/5_users.sql
  backend/openapi.json
  backend/src/authentication/session.rs
  backend/src/authentication/user.rs
  backend/src/authentication/util.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

adds method to page object to get both voters and votes counts
  frontend/e2e-tests/data-entry.model.e2e.ts
  frontend/e2e-tests/page-objects/data_entry/VotersAndVotesPgObj.ts
Due: frontend-typescript, frontend-linter

Use status code type
  backend/src/authentication/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Updated Session to use DateTime<Utc>
  backend/.sqlx/query-0d1a197c45fad3a14ff67b0e5f503e62950f4e2302d85b5090b90ecf31a3e42a.json
  backend/.sqlx/query-a1e7b011b8103b39059df43cdfa7970b18d97dedf6bb24debc0bb3a1a532d30a.json
  backend/src/authentication/mod.rs
  backend/src/authentication/session.rs
  backend/src/authentication/user.rs
  backend/src/authentication/util.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Replace Tarpaulin by cargo-llvm-cov for coverage
  .github/workflows/codecov.yml
Due: none

Use toHaveTableContent() in ElectionStatus test
  frontend/app/component/election/status/ElectionStatus.stories.tsx
  frontend/app/component/election/status/ElectionStatus.test.tsx
Due: frontend-typescript, frontend-linter

Configure branch coverage
  .github/workflows/codecov.yml
Due: none

Specify exact file for Codecov uploads
  .github/workflows/codecov.yml
Due: none

Add backend endpoint for listing users (#919)
  backend/.sqlx/query-0d1a197c45fad3a14ff67b0e5f503e62950f4e2302d85b5090b90ecf31a3e42a.json
  backend/.sqlx/query-9074758cd2f5fafb51332f94f082deb10b072e1667ec177de5611059b59588af.json
  backend/.sqlx/query-a05098423f372acd52a02a0fa20afe5f16a93769bf29cf91220b28448ae26fb5.json
  backend/.sqlx/query-a1e7b011b8103b39059df43cdfa7970b18d97dedf6bb24debc0bb3a1a532d30a.json
  backend/.sqlx/query-a973de604e0606e4025d2dfa191f7a7888e3e2c421e417f3d1908a32f25a350d.json
  backend/.sqlx/query-b9eacf02a1333eb1cb3dcb1afa6a7549d0b80a624d5cd770778e01c03f30b945.json
  backend/migrations/5_users.sql
  backend/openapi.json
  backend/src/authentication/mod.rs
  backend/src/authentication/session.rs
  backend/src/authentication/user.rs
  backend/src/authentication/util.rs
  backend/src/lib.rs
  frontend/lib/api/gen/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Change button to link in polling station list page objects
  frontend/e2e-tests/page-objects/polling_station/PollingStationListEmptyPgObj.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationListPgObj.ts
Due: frontend-typescript, frontend-linter

extends page objects
  frontend/e2e-tests/data-entry.model.e2e.ts
  frontend/e2e-tests/page-objects/data_entry/DataEntryBasePgObj.ts
  frontend/e2e-tests/page-objects/data_entry/PollingStationChoicePgObj.ts
Due: frontend-typescript, frontend-linter

OK
  backend/src/authentication/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

simplifies shared first steps of tests
  frontend/e2e-tests/data-entry.model.e2e.ts
Due: frontend-typescript, frontend-linter

makes asserts on in-progress data entries more specific
  frontend/e2e-tests/data-entry.model.e2e.ts
Due: frontend-typescript, frontend-linter

Button.Link component (#932)
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/e2e-tests/page-objects/polling_station/PollingStationListEmptyPgObj.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationListPgObj.ts
  frontend/lib/ui/Button/Button.module.css
  frontend/lib/ui/Button/Button.stories.tsx
  frontend/lib/ui/Button/Button.test.tsx
  frontend/lib/ui/Button/Button.tsx
  frontend/lib/ui/style/typography.css
Due: frontend-typescript, frontend-linter

Vitest custom matcher toHaveTableContent() (#927)
  frontend/app/component/election/status/ElectionStatus.stories.tsx
  frontend/app/component/election/status/ElectionStatus.test.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.test.tsx
  frontend/lib/test/matchers.test.tsx
  frontend/lib/test/matchers.ts
  frontend/lib/test/setup.ts
  frontend/lib/test/vitest.d.ts
  frontend/lib/ui/Table/Table.test.tsx
Due: frontend-typescript, frontend-linter

Replace Tarpaulin by cargo-llvm-cov for coverage (#935)
  .github/workflows/codecov.yml
Due: none

Add simple test for DevHomePage
  frontend/app/module/DevHomePage.test.tsx
Due: frontend-typescript, frontend-linter

Adjusted shared functions based on comment from Mark
  backend/tests/apportionment_integration_test.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
  backend/tests/utils/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Track logged-in user and change password (#913)
  backend/.sqlx/query-e4eb622073cbdf868ec1568a6bdb132e962480b0530d542102c05aa9e901463b.json
  backend/openapi.json
  backend/src/authentication/error.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/role.rs
  backend/src/authentication/user.rs
  backend/src/error.rs
  backend/src/lib.rs
  frontend/app/component/form/user/change_password/ChangePassword.test.tsx
  frontend/app/component/form/user/change_password/ChangePasswordForm.tsx
  frontend/app/component/form/user/login/LoginForm.test.tsx
  frontend/app/component/form/user/login/LoginForm.tsx
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/account/page/ChangePasswordPage.test.tsx
  frontend/app/module/account/page/ChangePasswordPage.tsx
  frontend/app/routes.tsx
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/ApiError.ts
  frontend/lib/api/ApiProvider.tsx
  frontend/lib/api/ApiProviderContext.tsx
  frontend/lib/api/api.types.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/api/index.ts
  frontend/lib/api/useApiState.ts
  frontend/lib/api/useSessionState.ts
  frontend/lib/api/useUser.ts
  frontend/lib/i18n/locales/nl/error.json
  frontend/lib/i18n/locales/nl/user.json
  frontend/lib/test/Providers.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

WIP: change data structures to check states and events
  frontend/e2e-tests/data-entry.model.e2e.ts
Due: frontend-typescript, frontend-linter

Update backend/fixtures/election_2.sql
  backend/fixtures/election_2.sql
Due: none

Updated comments about dev-database
  backend/src/election/mod.rs
  backend/tests/election_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Removed the import comments
  backend/src/election/mod.rs
  backend/src/lib.rs
  backend/tests/election_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added API endpoint for apportionment (#921)
  backend/fixtures/election_2.sql
  backend/fixtures/election_3.sql
  backend/openapi.json
  backend/src/apportionment/api.rs
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/mod.rs
  backend/src/authentication/mod.rs
  backend/src/data_entry/mod.rs
  backend/src/error.rs
  backend/src/lib.rs
  backend/src/summary/mod.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
  backend/tests/utils/mod.rs
  frontend/lib/api/gen/openapi.ts
  frontend/lib/i18n/locales/nl/error.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-typescript, frontend-linter

Add simple test for DevHomePage (#936)
  frontend/app/module/DevHomePage.test.tsx
Due: frontend-typescript, frontend-linter

Added number of steps check to tests
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed #925 and adjusted and added tests
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Clarify RTL render import in navigation test
  frontend/app/component/pollingstation/PollingStationFormNavigation.test.tsx
Due: frontend-typescript, frontend-linter

Move logic to render navigation links into NavBar
  frontend/app/component/navbar/NavBar.module.css
  frontend/app/component/navbar/NavBar.tsx
  frontend/app/component/navbar/NavBarLinks.tsx
  frontend/app/module/AdministratorLayout.tsx
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/FatalErrorPage.tsx
  frontend/app/module/NotAvailableInMock.tsx
  frontend/app/module/NotFoundPage.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.test.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.test.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.tsx
  frontend/app/module/election/ElectionLayout.tsx
  frontend/app/module/election/page/ElectionHomePage.tsx
  frontend/app/module/election/page/ElectionReportPage.tsx
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/app/module/election/page/OverviewPage.tsx
  frontend/app/module/logs/LogsHomePage.tsx
  frontend/app/module/polling_stations/page/PollingStationCreatePage.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.tsx
  frontend/app/module/users/UsersHomePage.tsx
  frontend/app/module/workstations/WorkstationsHomePage.tsx
Due: frontend-typescript, frontend-linter

Add location as an optional parameter to NavBar
  frontend/app/component/navbar/NavBar.tsx
  frontend/app/component/navbar/NavBarLinks.tsx
  frontend/app/module/FatalErrorPage.tsx
  frontend/app/module/NotFoundPage.tsx
Due: frontend-typescript, frontend-linter

Exclude Ladle stories and e2e tests from coverage
  frontend/vitest.config.ts
Due: frontend-typescript, frontend-linter

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-typescript: any of: *.{ts,tsx} and ^frontend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
