Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi && 
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add lib/api/gen/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Simplify insert_test_investigation
  backend/src/data_entry/api.rs
  backend/src/investigation/repository.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use data_entry_exists, check error reference
  backend/.sqlx/query-69cddf1e4ddcf50c954043e14734c8689a5b6a016fce8e3dfd1e736d5b4db2e2.json
  backend/src/data_entry/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add `typst_tests.rs` to Sigrid test files
  sigrid.yaml
Due: none

Update committee session flowchart
  documentatie/flowcharts/committee-session-state.md
Due: none

Data entry default error
  frontend/src/features/data_entry/components/DataEntryProvider.tsx
Due: frontend-linter

Entry not allowed warning
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.test.tsx
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.tsx
  frontend/src/features/data_entry_home/components/PollingStationSelector.tsx
  frontend/src/features/data_entry_home/components/PollingStationsList.tsx
  frontend/src/features/data_entry_home/utils/util.ts
  frontend/src/i18n/locales/nl/polling_station_choice.json
Due: frontend-linter

Undo data entry default error
  frontend/src/features/data_entry/components/DataEntryProvider.tsx
Due: frontend-linter

Adjustment copy
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.test.tsx
  frontend/src/i18n/locales/nl/polling_station_choice.json
Due: frontend-linter

Merge use cases README files
  documentatie/use-cases/README-use-cases.md
  documentatie/use-cases/README.md
Due: none

Rename use case files to lowercase
  documentatie/use-cases/airgap.md
  documentatie/use-cases/logging.md
Due: none

Rename 'beheerder' use case to 'beheer'
  documentatie/use-cases/beheer.md
Due: none

Typst template smoke tests with data edge cases (#2238)
  backend/src/election/structs.rs
  backend/src/pdf_gen/mod.rs
  backend/src/pdf_gen/typst_tests.rs
  backend/src/polling_station/structs.rs
  backend/src/report/api.rs
  backend/templates/model-na-14-2.typ
  sigrid.yaml
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

removes keyboard hint from CheckHash
  frontend/src/features/election_create/components/CheckHash.tsx
Due: frontend-linter

Only start data entry for investigations if corrected_results=true (#2210)
  backend/.sqlx/query-69cddf1e4ddcf50c954043e14734c8689a5b6a016fce8e3dfd1e736d5b4db2e2.json
  backend/openapi.json
  backend/src/committee_session/api.rs
  backend/src/committee_session/status.rs
  backend/src/data_entry/api.rs
  backend/src/error.rs
  backend/src/investigation/mod.rs
  backend/src/investigation/repository.rs
  frontend/src/features/data_entry/components/DataEntryProvider.tsx
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.test.tsx
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.tsx
  frontend/src/features/data_entry_home/components/PollingStationSelector.tsx
  frontend/src/features/data_entry_home/components/PollingStationsList.tsx
  frontend/src/features/data_entry_home/utils/util.ts
  frontend/src/i18n/locales/nl/error.json
  frontend/src/i18n/locales/nl/polling_station_choice.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Add remaining 'could have' epics
  documentatie/functionaliteit/versie-1.0-gr.md
Due: none

Improve audit log filter UX (#2241)
  frontend/src/features/logs/components/LogFilter.tsx
  frontend/src/features/logs/hooks/useLogFilterOptions.ts
  frontend/src/features/logs/utils/dateTime.ts
Due: frontend-linter

Add epic links to features list (#2239)
  documentatie/functionaliteit/versie-1.0-gr.md
Due: none

Allow CRUD operations when session is in finished state
  backend/src/investigation/api.rs
  documentatie/flowcharts/committee-session-state.md
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.test.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Add polling station button
  frontend/src/features/investigations/components/AddInvestigationPage.tsx
  frontend/src/i18n/locales/nl/investigations.json
Due: frontend-linter

CommitteeSessionCard simplify logic, extended tests
  frontend/src/features/election_management/components/CommitteeSessionCard.stories.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
Due: frontend-linter

Add warning if data entry finished
  frontend/src/features/investigations/components/AddInvestigationLayout.test.tsx
  frontend/src/features/investigations/components/AddInvestigationLayout.tsx
  frontend/src/i18n/locales/nl/investigations.json
Due: frontend-linter

Adjust serve_api usage
  backend/tests/committee_session_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/investigation_integration_test.rs
  backend/tests/polling_station_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Polling stations CRUD/warning/transitions
  backend/src/polling_station/mod.rs
  frontend/src/features/polling_stations/components/PollingStationCreatePage.tsx
  frontend/src/features/polling_stations/components/PollingStationImportPage.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.tsx
  frontend/src/i18n/locales/nl/polling_station.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Simplify test names
  backend/tests/investigation_integration_test.rs
  backend/tests/polling_station_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove polling_station structs from integration tests
  backend/openapi.json
  backend/tests/polling_station_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Investigation create return 201
  backend/src/investigation/api.rs
  backend/tests/committee_session_integration_test.rs
  backend/tests/investigation_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

CRUD integration tests polling stations/investigations
  backend/tests/investigation_integration_test.rs
  backend/tests/polling_station_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Investigation validation ensure latest session
  backend/src/investigation/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Merge use cases README files and rename several use cases (#2244)
  documentatie/use-cases/README-use-cases.md
  documentatie/use-cases/README.md
  documentatie/use-cases/airgap.md
  documentatie/use-cases/beheer.md
  documentatie/use-cases/logging.md
Due: none

Flowchart update for new naming, adjusted button, tests
  backend/src/investigation/api.rs
  documentatie/flowcharts/committee-session-state.md
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/investigations/components/AddInvestigationPage.tsx
  frontend/src/features/polling_stations/components/PollingStationCreatePage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationImportPage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.test.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

no keyboard hints in election creation screens (#2246)
  frontend/src/features/election_create/components/CheckHash.tsx
Due: frontend-linter

Feedback adjustments
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/features/investigations/components/AddInvestigationLayout.test.tsx
  frontend/src/features/investigations/components/InvestigationsOverviewPage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationCreatePage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationImportPage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.test.tsx
Due: frontend-linter

Add storage for second PDF that needs to be generated, generate correct PDFs for each committee session
  backend/.sqlx/query-1440212157ef3f3dbde0fadc98fe030049a6ccc8e9b77f9156ac2932a7595673.json
  backend/.sqlx/query-1ff803d42162cf5204ee11be42d17474b86fdb12fe4c19174c6d7e86c7f78dd9.json
  backend/.sqlx/query-34c4e38013a0e6b97b2f61be69bea838e3b4e78b5e5199a509c4d864ada6eb43.json
  backend/.sqlx/query-3b9eda12290f8f9d0a215a91c7fa029de658795756f7982457239193e3afa5de.json
  backend/.sqlx/query-47047cfab3574a662de21478df8ce0d599e226c4ea6c8ef3b1a7957e9f7c9c52.json
  backend/.sqlx/query-b392d9a1d013221c3558fd32d2c0bf67f7b353d7cae801ae4f5c9b595004855e.json
  backend/.sqlx/query-c049e00f66ad7c2638815460b363d4e0acd22ecaa9a48bc2d1b5c43bb6e01078.json
  backend/.sqlx/query-c787000bcf058d5ac10a63a052c019f836991835d58ce99c303ecb2cf31b610a.json
  backend/.sqlx/query-eb5e599298bb34ab03391c9478e3d019518020175b0d60e2aca0c0bfb6d69b66.json
  backend/.sqlx/query-ff11055283114e8b88996531697acd029d60e36ba7a7c16a5b9946a2d08f94af.json
  backend/migrations/8_committee_sessions.sql
  backend/openapi.json
  backend/src/audit_log/audit_event.rs
  backend/src/committee_session/api.rs
  backend/src/committee_session/repository.rs
  backend/src/committee_session/status.rs
  backend/src/committee_session/structs.rs
  backend/src/files/repository.rs
  backend/src/pdf_gen/models/mod.rs
  backend/src/pdf_gen/models/model_na_14_2.rs
  backend/src/pdf_gen/models/model_p_2a.rs
  backend/src/report/api.rs
  backend/templates/inputs/model-na-14-2.json
  backend/templates/inputs/model-p-2a.json
  backend/templates/model-na-14-2.typ
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Complete filling in model na 14-2
  backend/templates/common/scripts.typ
  backend/templates/model-na-14-2-bijlage1.typ
  backend/templates/model-na-14-2.typ
Due: none

Update model P 2a
  backend/templates/model-p-2a.typ
Due: none

Remove old code
  backend/src/pdf_gen/models/model_na_14_2.rs
  backend/src/pdf_gen/models/model_p_2a.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update report text for next CS
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/i18n/locales/nl/election_management.json
Due: frontend-linter

Also remove overview pdf file when resuming finished committee session
  backend/.sqlx/query-00fec81161854b197492cb34884f5a1a11a2125c846e8e734407c25e099905f3.json
  backend/.sqlx/query-572f79745f55b3758c02231298070deb301f8ce91c9bd6112c0f3b87b05e417d.json
  backend/src/committee_session/status.rs
  backend/src/files/repository.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Review comments
  backend/src/committee_session/status.rs
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/i18n/locales/nl/election_management.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Include model-p-2a.typ into the binary
  backend/src/pdf_gen/embedded/world.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi
