Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

backend-sqlx-prepare:
  run: 'cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite && cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets && git add .sqlx && rm sqlx-cache-tmp.sqlite
  
    '

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi && git add openapi.json && cd ../frontend && pnpm gen:openapi && git add src/types/generated/openapi.ts
  
    '

frontend-lint-tsc:
  run: pnpm lint:tsc

frontend-lint-eslint:
  run: pnpm lint:eslint

Fix clippy::needless_pass_by_value
  backend/apportionment/src/seat_assignment/mod.rs
  backend/pdf_gen/src/embedded/mod.rs
  backend/src/api/election.rs
  backend/src/api/middleware/authentication/mod.rs
  backend/src/api/middleware/authentication/password.rs
  backend/src/api/polling_station.rs
  backend/src/domain/models/apportionment_footnotes.rs
  backend/src/domain/models/enriched_candidate_nomination.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/src/domain/models/filter_input.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/results/common_polling_station_results.rs
  backend/src/domain/results/differences_counts.rs
  backend/src/domain/results/gsb_differences_counts.rs
  backend/src/domain/results/gsb_results.rs
  backend/src/domain/results/political_group_candidate_votes.rs
  backend/src/error.rs
  backend/src/infra/audit_log/audit_event.rs
  backend/src/infra/audit_log/error_logging.rs
  backend/src/infra/pdf_gen/typst_tests.rs
  backend/src/repository/user_repo.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix clippy::explicit_(into_)iter_loop
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/test_helpers.rs
  backend/src/api/middleware/airgap/detect.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/src/domain/results/political_group_candidate_votes.rs
  backend/src/domain/summary.rs
  backend/src/infra/router.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix clippy::cloned_instead_of_copied
  backend/src/api/data_entry.rs
  backend/src/service/data_entry.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix clippy::trivially_copy_pass_by_ref
  backend/src/api/apportionment/handlers/process_apportionment.rs
  backend/src/api/committee_session.rs
  backend/src/api/data_entry.rs
  backend/src/api/document.rs
  backend/src/api/election.rs
  backend/src/api/investigation.rs
  backend/src/api/polling_station.rs
  backend/src/api/report/handlers.rs
  backend/src/domain/role.rs
  backend/src/service/apportionment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix clippy::needless_borrow
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/src/domain/results/differences_counts.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Mark simple enums as Copy
  backend/apportionment/src/structs.rs
  backend/src/api/apportionment/mod.rs
  backend/src/api/data_entry.rs
  backend/src/domain/apportionment_state.rs
  backend/src/domain/committee_session.rs
  backend/src/domain/data_entry.rs
  backend/src/domain/investigation.rs
  backend/src/domain/validate.rs
  backend/src/infra/audit_log/audit_event.rs
  backend/tests/shared/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix clippy::unnecessary_sort_by
  backend/src/domain/validate.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed flickering of deceased candidates table rendering
  frontend/src/features/apportionment/components/deceased_candidates/AddDeceasedCandidatePage.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Implement windows service and local ui for managing the service.
  backend/Cargo.lock
  backend/Cargo.toml
  backend/service_ui/Cargo.toml
  backend/service_ui/src/app.rs
  backend/service_ui/src/common_service.rs
  backend/service_ui/src/main.rs
  backend/service_ui/src/systemd_service.rs
  backend/service_ui/src/windows_service_wrapper.rs
  backend/windows_service/Cargo.toml
  backend/windows_service/src/bin/install-service.rs
  backend/windows_service/src/bin/uninstall-service.rs
  backend/windows_service/src/main.rs
  packaging/windows/README.md
  packaging/windows/abacus.iss
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Run rustfmt
  backend/service_ui/src/main.rs
  backend/service_ui/src/windows_service_wrapper.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix Lefthook in Git working trees
  lefthook.yml
Due: none

Move files around, and fix many cargo warnings
  backend/service_ui/src/app.rs
  backend/service_ui/src/common_service.rs
  backend/service_ui/src/common_service/systemd.rs
  backend/service_ui/src/common_service/windows.rs
  backend/service_ui/src/main.rs
  backend/service_ui/src/systemd_service.rs
  backend/service_ui/src/windows_service_wrapper.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Make autoComplete an inputProperty of InputField and set it for login related inputs
  frontend/src/components/ui/InputField/InputField.tsx
  frontend/src/features/account/components/AccountSetupForm.tsx
  frontend/src/features/account/components/CreateFirstAdminForm.tsx
  frontend/src/features/account/components/FirstLoginForm.tsx
  frontend/src/features/account/components/LoginForm.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Fix some clippy warnings
  backend/service_ui/src/app.rs
  backend/service_ui/src/common_service.rs
  backend/service_ui/src/common_service/systemd.rs
  backend/windows_service/src/main.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Disable binary caching in backend build job
  .github/workflows/build-lint-test.yml
Due: none

Disable Binstall telemetry
  .github/workflows/build-lint-test.yml
  .github/workflows/codecov.yml
Due: none

Fix test name
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Do not allow index and path in one RouteObject
  frontend/src/app/routes.tsx
  frontend/src/features/investigations/routes.ts
  frontend/src/react-router.d.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Handle is undefined for matches that are not "route leaves", i.e. contain children. Show not found page for these cases.
  frontend/src/app/AuthorizationGuard.tsx
  frontend/src/react-router.d.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Fix Lefthook in Git working trees (#3341)
  .github/workflows/build-lint-test.yml
  .github/workflows/codecov.yml
  lefthook.yml
Due: none

Implement deceased candidates, tests
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/lib.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/structs.rs
  backend/apportionment/src/test_helpers.rs
  backend/src/api/apportionment/handlers/process_apportionment.rs
  backend/src/api/apportionment/structs.rs
  backend/src/api/report/files.rs
  backend/src/domain/apportionment_state.rs
  backend/src/domain/models/apportionment_footnotes.rs
  backend/src/domain/models/enriched_candidate_nomination.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move committee category check out of service
  backend/src/api/apportionment/handlers/get_apportionment_state.rs
  backend/src/api/apportionment/handlers/process_apportionment.rs
  backend/src/api/report/files.rs
  backend/src/service/apportionment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix types
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Updated ranking for deceased candidates
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix fuzzer
  backend/apportionment/fuzz/src/apportionment_input.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update mod.rs
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update mod.rs
  backend/apportionment/src/candidate_nomination/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Changed use of .as_slice() into &
  backend/src/domain/models/apportionment_footnotes.rs
  backend/src/domain/models/enriched_candidate_nomination.rs
  backend/src/domain/models/enriched_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Rebase/merge fixes
  backend/apportionment/src/seat_assignment/mod.rs
  backend/src/api/apportionment/handlers/get_apportionment_state.rs
  backend/src/service/apportionment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

feat: Unit tests for backup functionality
  backend/src/infra/backup.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add stub feature to fix backend data entry fuzzer
  backend/Cargo.toml
  backend/fuzz/Cargo.lock
  backend/fuzz/Cargo.toml
  backend/pdf_gen/wrapper/Cargo.toml
  backend/pdf_gen/wrapper/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update apportionmment state machine diagram
  documentatie/state-machines/apportionment-state-machine.drawio.svg
Due: none

Make autoComplete an inputProperty of InputField and set it for login related inputs (#3327)
  frontend/src/components/ui/InputField/InputField.tsx
  frontend/src/features/account/components/AccountSetupForm.tsx
  frontend/src/features/account/components/CreateFirstAdminForm.tsx
  frontend/src/features/account/components/FirstLoginForm.tsx
  frontend/src/features/account/components/LoginForm.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

use number of voters from args instead of elections table for generating CSB data entry
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Backend: exclude saved deceased candidates (#3306)
  backend/apportionment/fuzz/src/apportionment_input.rs
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/lib.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/structs.rs
  backend/apportionment/src/test_helpers.rs
  backend/src/api/apportionment/handlers/get_apportionment_state.rs
  backend/src/api/apportionment/handlers/process_apportionment.rs
  backend/src/api/apportionment/structs.rs
  backend/src/api/report/files.rs
  backend/src/domain/apportionment_state.rs
  backend/src/domain/models/apportionment_footnotes.rs
  backend/src/domain/models/enriched_candidate_nomination.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/service/apportionment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move `DEFAULT_DATE_TIME_FORMAT` to domain
  backend/src/api/report.rs
  backend/src/bin/gen-test-election.rs
  backend/src/domain/report/mod.rs
  backend/src/domain/report/structs.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Split `AuthorizationGuard`
  frontend/src/app/AuthorizationGuard.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Improve apportionment for lists with zero votes (#3307)
  backend/apportionment/fuzz/fuzz_targets/apportionment.rs
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/src/seat_assignment/mod.rs
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
  backend/apportionment/src/structs.rs
  backend/openapi.json
  backend/src/api/apportionment/mod.rs
  backend/src/error.rs
  backend/tests/apportionment_integration_test.rs
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/i18n/locales/nl/apportionment.json
  frontend/src/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Configure Sigrid CI security feedback
  .github/workflows/sigrid-pr-feedback.yml
  .github/workflows/sigrid-publish.yml
Due: none

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-lint-tsc: any of: *.{ts,tsx} and ^frontend/
  frontend-lint-eslint: any of: *.{ts,tsx} and ^frontend/
