Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-formatter, backend-linter, backend-openapi, frontend-linter

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy

backend-openapi:
  run: cargo run --package backend --bin gen-openapi

frontend-linter:
  run: npm run lint {staged_files}

Added election overview table to OverviewPage and expanded InputHomePage with form
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/module/input/page/InputHomePage.tsx
  frontend/app/module/overview/page/OverviewPage.tsx
  frontend/lib/ui/Button/Button.module.css
  frontend/lib/ui/InputField/InputField.module.css
  frontend/lib/ui/InputField/InputField.tsx
  frontend/lib/ui/style/index.css
  frontend/lib/ui/style/overview.css
Due: frontend-linter

WIP: show overrideOnce() does not work as expected
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/usePollingStationDataEntry.test.ts
Due: frontend-linter

Deploy frontend preview to Cloudflare Pages
  .github/workflows/preview.yml
Due: none

adds tests for ApiClient
  frontend/lib/api/ApiClient.test.ts
Due: frontend-linter

adds prepends testhost to path in overrideOnce
  frontend/app/test/unit/server.ts
Due: frontend-linter

updates test for usePollingStationDataEntry
  frontend/lib/api/usePollingStationDataEntry.test.ts
Due: frontend-linter

fixes and improves VotersAndVotesForm test
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
Due: frontend-linter

TMP: adds test demonstrating that keyboard enter results in a submit
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
Due: frontend-linter

removes unneeded commented out code
  frontend/lib/api-mocks/index.ts
Due: frontend-linter

Install dependencies using `npm ci`
  .github/workflows/frontend.yml
  .github/workflows/preview.yml
Due: none

adds test that checks request through handler from mock
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
Due: frontend-linter

Add placeholder election details endpoint
  backend/Cargo.lock
  backend/Cargo.toml
  backend/openapi.json
  backend/src/election/mod.rs
  backend/src/election/structs.rs
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/tests/integration_test.rs
Due: backend-formatter, backend-linter, backend-openapi

Deploy frontend preview to Cloudflare Pages (#53)
  .github/workflows/frontend.yml
  .github/workflows/preview.yml
Due: none

test: interceptable request body
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/test/unit/server.ts
  frontend/lib/api-mocks/index.ts
Due: frontend-linter

Fix concurrency for Cloudflare Pages workflow
  .github/workflows/preview.yml
Due: none

Processed review and added badges and icons
  frontend/app/component/form/account_setup/AccountSetupForm.tsx
  frontend/app/component/form/login/LoginForm.tsx
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/module/input/page/PollingStationPage.tsx
  frontend/app/module/overview/page/OverviewPage.tsx
  frontend/lib/icon/gen.tsx
  frontend/lib/icon/svg/checkheart.svg
  frontend/lib/icon/svg/checkverified.svg
  frontend/lib/icon/svg/chevronright.svg
  frontend/lib/icon/svg/clock.svg
  frontend/lib/icon/svg/hourglass.svg
  frontend/lib/ui/Button/Button.module.css
  frontend/lib/ui/Button/Button.tsx
  frontend/lib/ui/InputField/InputField.module.css
  frontend/lib/ui/InputField/InputField.tsx
  frontend/lib/ui/badge/BadgeCorrection.tsx
  frontend/lib/ui/badge/BadgeDefinitive.tsx
  frontend/lib/ui/badge/BadgeDifference.tsx
  frontend/lib/ui/badge/BadgeExtraEntry.tsx
  frontend/lib/ui/badge/BadgeFirstEntry.tsx
  frontend/lib/ui/badge/BadgeObjections.tsx
  frontend/lib/ui/badge/BadgeSecondEntry.tsx
  frontend/lib/ui/badge/PollingStationNumber.tsx
  frontend/lib/ui/badge/WorkStationNumber.tsx
  frontend/lib/ui/badge/badge.module.css
  frontend/lib/ui/badge/index.ts
  frontend/lib/ui/index.ts
  frontend/lib/ui/style/core.css
  frontend/lib/ui/style/layout.css
  frontend/lib/ui/style/overview.css
  frontend/lib/ui/style/typography.css
  frontend/lib/ui/style/variables.css
  frontend/lib/ui/tag/Tag.tsx
  frontend/lib/ui/tag/index.ts
  frontend/lib/ui/tag/tag.module.css
Due: frontend-linter

Fix concurrency for Cloudflare Pages workflow (#57)
  .github/workflows/preview.yml
Due: none

add form add spinner (wip)
  frontend/lib/ui/Spinner/Spinner.module.css
  frontend/lib/ui/Spinner/Spinner.tsx
  frontend/lib/ui/style/form.less
  frontend/lib/ui/ui.types.d.ts
Due: frontend-linter

change svg spinner
  frontend/lib/ui/Spinner/Spinner.module.css
  frontend/lib/ui/Spinner/Spinner.tsx
  frontend/lib/ui/index.ts
Due: frontend-linter

tweak spinner
  frontend/lib/ui/Spinner/Spinner.module.css
Due: none

add skeleton modal add skeleton iconbutton
  frontend/index.html
  frontend/lib/ui/IconButton/IconButton.module.css
  frontend/lib/ui/IconButton/IconButton.tsx
  frontend/lib/ui/Modal/Modal.module.css
  frontend/lib/ui/Modal/Modal.tsx
Due: frontend-linter

add spinner
  frontend/lib/ui/Spinner/Spinner.module.css
  frontend/lib/ui/Spinner/Spinner.stories.tsx
  frontend/lib/ui/Spinner/Spinner.tsx
Due: frontend-linter

add story controls
  frontend/.ladle/components.tsx
  frontend/.ladle/override.css
  frontend/lib/ui/Button/Button.module.css
  frontend/lib/ui/Button/Button.stories.tsx
  frontend/lib/ui/Button/Button.tsx
  frontend/lib/ui/IconButton/IconButton.module.css
  frontend/lib/ui/IconButton/IconButton.stories.tsx
  frontend/lib/ui/IconButton/IconButton.tsx
  frontend/lib/ui/Modal/Modal.module.css
  frontend/lib/ui/Modal/Modal.stories.tsx
  frontend/lib/ui/Modal/Modal.tsx
  frontend/lib/ui/Spinner/Spinner.stories.tsx
  frontend/lib/ui/index.ts
  frontend/lib/ui/ui.types.d.ts
Due: frontend-linter

run prettier
  frontend/lib/ui/style/form.less
Due: none

add Alert component
  frontend/lib/icon/gen.tsx
  frontend/lib/icon/svg/error.svg
  frontend/lib/icon/svg/info.svg
  frontend/lib/icon/svg/thumbsup.svg
  frontend/lib/ui/Alert/Alert.module.css
  frontend/lib/ui/Alert/Alert.stories.tsx
  frontend/lib/ui/Alert/Alert.tsx
  frontend/lib/ui/IconButton/IconButton.module.css
  frontend/lib/ui/style/variables.css
  frontend/lib/ui/ui.types.d.ts
Due: frontend-linter

add normalized styles
  frontend/lib/ui/style/index.css
  frontend/lib/ui/style/typography.css
  frontend/lib/ui/style/util.css
  frontend/lib/ui/style/variables.css
Due: none

fix button test
  frontend/lib/ui/Button/Button.test.tsx
Due: frontend-linter

fix button e2e
  frontend/lib/ui/Button/button.e2e.ts
Due: frontend-linter

add prevent form enter hook fix form submit on enter
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/lib/util/hook/usePreventFormEnterSubmit.test.ts
  frontend/lib/util/hook/usePreventFormEnterSubmit.ts
  frontend/lib/util/index.ts
Due: frontend-linter

adds test with notes; adds msw setting to error on unhandled request
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/test/unit/setup.ts
Due: frontend-linter

Fixed bugs noticed by Joris and Mark and improved testing of InputField
  frontend/app/module/overview/page/OverviewPage.tsx
  frontend/lib/ui/InputField/InputField.e2e.ts
  frontend/lib/ui/InputField/InputField.module.css
  frontend/lib/ui/InputField/InputField.stories.tsx
  frontend/lib/ui/InputField/InputField.test.tsx
  frontend/lib/ui/InputField/InputField.tsx
  frontend/lib/ui/style/overview.css
Due: frontend-linter

Add last name prefix, country code to candidates
  backend/openapi.json
  backend/src/election/mod.rs
  backend/src/election/structs.rs
Due: backend-formatter, backend-linter, backend-openapi

Clean up imports
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
Due: backend-formatter, backend-linter, backend-openapi

Commit `openapi.json` after Lefthook updates it
  lefthook.yml
Due: none

Add `chrono` crate to README.md
  backend/README.md
Due: none

Fixed npm run build errors
  frontend/lib/icon/gen.tsx
  frontend/lib/icon/svg/error.svg
  frontend/lib/icon/svg/info.svg
  frontend/lib/icon/svg/thumbsup.svg
Due: frontend-linter

Added a11y compatible disabled input field and added extra story to customize the input field with args
  frontend/lib/ui/InputField/InputField.module.css
  frontend/lib/ui/InputField/InputField.stories.tsx
  frontend/lib/ui/InputField/InputField.tsx
Due: frontend-linter

Restructured styling of input field
  frontend/lib/ui/InputField/InputField.module.css
Due: none

Fix Lefthook `backend-openapi` command
  lefthook.yml
Due: none

Update id data type and OpenAPI documentation
  backend/openapi.json
  backend/src/election/mod.rs
  backend/src/election/structs.rs
  backend/src/polling_station/mod.rs
Due: backend-formatter, backend-linter, backend-openapi

Path conditions:
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
