Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

backend-sqlx-prepare:
  run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets --all-features -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi &&  git add openapi.json && cd ../frontend && npm run gen:openapi && git add lib/api/gen/openapi.ts
  
    '

frontend-linter:
  run: npm run lint {staged_files}

Fixed bug in unique largest average system remainder seat assignment (#1155)
  backend/src/apportionment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add audit log pagination
  backend/.sqlx/query-2c97f78c621757efc80a75f733cba28c8c86cdb27e62799d393cdc41f6bc6797.json
  backend/.sqlx/query-8d225703298f31c836fab0e8914cec3e229944d7b2433c2636dd9509cd9ea011.json
  backend/openapi.json
  backend/src/audit_log/api.rs
  backend/src/audit_log/audit_log_events.rs
  backend/src/audit_log/service.rs
  backend/src/authentication/api.rs
  backend/src/authentication/session.rs
  backend/src/lib.rs
  frontend/app/module/logs/LogsHomePage.tsx
  frontend/lib/api/gen/openapi.ts
  frontend/lib/api/log/useAuditLog.ts
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/ui/Pagination/Pagination.module.css
  frontend/lib/ui/Pagination/Pagination.tsx
  frontend/lib/ui/index.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Rejecting users that need to change their password
  backend/fixtures/users.sql
  backend/src/authentication/user.rs
  backend/tests/user_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Moved election summary fixtures based on Marks comment and discussion
  backend/src/apportionment/candidate_nomination.rs
  backend/src/apportionment/mod.rs
  backend/src/apportionment/seat_assignment.rs
  backend/src/summary/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Apply suggestions from code review
  documentatie/use-cases/gsb-eerste-zitting.md
  documentatie/use-cases/gsb-tweede-zitting.md
Due: none

digitaal bestand aangepast naar EML_NL bestand; verduidelijkt niet in scope van Bijlage 2
  documentatie/use-cases/gsb-eerste-zitting.md
Due: none

Fix lint issues
  frontend/app/module/logs/LogsHomePage.tsx
  frontend/lib/ui/Pagination/Pagination.tsx
Due: frontend-linter

twee maal invoeren
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Due: none

Update csb-zitting.md
  documentatie/use-cases/csb-zitting.md
Due: none

markdown fix
  documentatie/use-cases/csb-zitting.md
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Due: none

Apply suggestions from code review
  documentatie/ontwikkelproces/testen-en-kwaliteit.md
Due: none

adds extention of issue with draft model in second session GSB
  documentatie/use-cases/gsb-tweede-zitting.md
Due: none

Add user create details form. Move submit user logic to form. Remove client side password validation.
  frontend/app/module/users/create/UserCreate.test.tsx
  frontend/app/module/users/create/UserCreateContext.tsx
  frontend/app/module/users/create/UserCreateContextProvider.tsx
  frontend/app/module/users/create/UserCreateDetailsForm.test.tsx
  frontend/app/module/users/create/UserCreateDetailsForm.tsx
  frontend/app/module/users/create/UserCreateDetailsPage.test.tsx
  frontend/app/module/users/create/UserCreateDetailsPage.tsx
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/i18n/locales/nl/users.json
Due: frontend-linter

Update gsb-invoer-eerste-zitting.md
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Due: none

Update testen-en-kwaliteit.md (#1143)
  documentatie/ontwikkelproces/testen-en-kwaliteit.md
Due: none

Add frontend tests
  backend/openapi.json
  backend/src/audit_log/audit_log_events.rs
  frontend/.gitignore
  frontend/app/module/logs/LogsHomePage.module.css
  frontend/app/module/logs/LogsHomePage.test.tsx
  frontend/app/module/logs/LogsHomePage.tsx
  frontend/lib/api-mocks/LogMockData1.json
  frontend/lib/api-mocks/LogMockData2.json
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/i18n/locales/nl/log.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Newline at end of file
  frontend/app/module/logs/index.ts
Due: frontend-linter

Move user update call to form, to be able to handle password validation error
  frontend/app/module/users/update/UserUpdateForm.test.tsx
  frontend/app/module/users/update/UserUpdateForm.tsx
  frontend/app/module/users/update/UserUpdatePage.tsx
  frontend/app/module/users/update/useUserUpdate.ts
Due: frontend-linter

Added AnyRole role
  backend/src/authentication/mod.rs
  backend/src/authentication/role.rs
  backend/src/authentication/user.rs
  backend/src/data_entry/mod.rs
  backend/src/election/mod.rs
  backend/src/polling_station/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Move api call to UserDelete. Remove useUserUpdate hook.
  frontend/app/module/users/update/UserDelete.test.tsx
  frontend/app/module/users/update/UserDelete.tsx
  frontend/app/module/users/update/UserUpdatePage.tsx
  frontend/app/module/users/update/useUserUpdate.ts
Due: frontend-linter

Remove validatePassword
  frontend/app/module/users/update/UserUpdateForm.tsx
  frontend/app/module/users/validatePassword.ts
Due: frontend-linter

Fix time zone issue
  .github/workflows/build-lint-test.yml
  backend/src/audit_log/api.rs
  frontend/app/module/logs/LogsHomePage.test.tsx
  frontend/app/module/logs/LogsHomePage.tsx
  frontend/lib/ui/Table/Table.tsx
  frontend/lib/util/format.ts
  frontend/scripts/gen_openapi_types.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

use cases session 4 March 2025 (#1139)
  documentatie/use-cases/csb-zitting.md
  documentatie/use-cases/gsb-eerste-zitting.md
  documentatie/use-cases/input-output-bestanden.md
Due: none

Set timezone for codecov action
  .github/workflows/codecov.yml
  frontend/app/module/logs/LogsHomePage.test.tsx
Due: frontend-linter

Delete session on password change
  backend/.sqlx/query-0e35a83fbd9993d84dbfd315100d10eb8cf504d44cba4655467e8f8fe64830f5.json
  backend/.sqlx/query-e15e66ab9d4fe5121d2994a1b97f41f66770761c7e68624743ad24014d875270.json
  backend/src/authentication/api.rs
  backend/src/authentication/session.rs
  backend/src/authentication/user.rs
  backend/tests/shared/mod.rs
  backend/tests/user_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

AnyRole is not needed anymore
  backend/src/authentication/mod.rs
  backend/src/authentication/role.rs
  backend/src/data_entry/mod.rs
  backend/src/election/mod.rs
  backend/src/polling_station/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Serialize and deserialize 110a and 110b EML files
  backend/src/election/structs.rs
  backend/src/eml/common.rs
  backend/src/eml/eml_110.rs
  backend/src/eml/eml_510.rs
  backend/src/eml/mod.rs
  backend/src/eml/tests/eml110a_test.eml.xml
  backend/src/eml/tests/eml110b_test.eml.xml
  backend/src/eml/util.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed frontend test
  frontend/e2e-tests/authentication.e2e.ts
Due: frontend-linter

Added session expiration header
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/session.rs
  frontend/app/component/authorization/AuthorizationDialog.tsx
  frontend/app/component/error/ErrorBoundary.tsx
  frontend/app/module/RootLayout.tsx
  frontend/app/module/account/page/UserHomePage.tsx
  frontend/app/module/election/page/OverviewPage.tsx
  frontend/lib/api/ApiProvider.tsx
  frontend/lib/api/api.types.ts
  frontend/lib/api/useSessionState.ts
  frontend/scripts/gen_openapi_types.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fix session duration + log ui tweaks
  backend/src/authentication/session.rs
  frontend/app/module/logs/LogsHomePage.tsx
  frontend/lib/i18n/locales/nl/log.json
  frontend/lib/util/format.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Remove `development_create_user` endpoint
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

extends model-based e2e tests for warnings
  frontend/e2e-tests/data-entry.warning.model.e2e.ts
Due: frontend-linter

WIP redirect after session expire
  frontend/app/component/authorization/AuthorizationDialog.tsx
  frontend/app/component/error/ErrorBoundary.tsx
  frontend/lib/api/useSessionState.ts
Due: frontend-linter

use cases session 6 March 2025 (#1141)
  documentatie/use-cases/gsb-eerste-zitting.md
  documentatie/use-cases/gsb-tweede-zitting.md
Due: none

Remove `development_create_user` endpoint (#1163)
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

- move mock data and utils - use functions instead of constants
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferenceForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/state/dataEntryUtils.test.ts
  frontend/app/component/form/data_entry/state/reducer.test.ts
  frontend/app/component/form/data_entry/test-data/index.ts
  frontend/app/component/form/data_entry/test-data/mock-data.ts
  frontend/app/component/form/data_entry/test-data/test.utils.ts
  frontend/app/component/form/data_entry/test.util.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/module/data_entry/DataEntry.integration.test.tsx
Due: frontend-linter

Hide user, workstation links for coordinator
  frontend/app/module/DevHomePage.tsx
Due: frontend-linter

Show coordinator login link above typist
  frontend/app/module/DevHomePage.tsx
Due: frontend-linter

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-linter: any of: *.{ts,tsx} and ^frontend/
