Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi && 
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add lib/api/gen/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

Add e2e tests
  backend/openapi.json
  backend/src/election/api.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add last few e2e tests
  backend/src/eml/tests/eml110b_less_than_10_stations.eml.xml
  frontend/e2e-tests/page-objects/election/create/CheckPollingStationDefinitionPgObj.ts
  frontend/e2e-tests/test-data/eml-files.ts
  frontend/e2e-tests/tests/election-create.e2e.ts
  frontend/src/features/election_create/components/UploadPollingStationDefinition.module.css
  frontend/src/features/election_create/components/UploadPollingStationDefinition.tsx
Due: frontend-linter

Finished bijlage 1, added bijlage 2
  backend/templates/common/scripts.typ
  backend/templates/model-na-31-2-bijlage-1.typ
  backend/templates/model-na-31-2-bijlage-2.typ
Due: none

Refactored to only add the committee sessions list provider to the election home page
  frontend/src/components/committee_session/CommitteeSessionStatus.tsx
  frontend/src/components/layout/ElectionLayout.tsx
  frontend/src/features/data_entry_home/components/DataEntryHomePage.test.tsx
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.module.css
  frontend/src/features/election_management/components/CommitteeSessionCard.stories.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/election_management/components/CommitteeSessionCards.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/election_management/components/ElectionReportPage.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsLayout.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsSectionPage.test.tsx
Due: frontend-linter

Only set light background in CommitteeSessionCard story
  frontend/.storybook/preview.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.stories.tsx
Due: frontend-linter

Added increased row padding
  frontend/src/components/ui/Form/FormLayout.tsx
  frontend/src/components/ui/Table/Table.module.css
  frontend/src/components/ui/Table/Table.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
Due: frontend-linter

Working on the CommitteeSession cards
  frontend/src/app/routes.test.tsx
  frontend/src/components/committee_session/CommitteeSession.module.css
  frontend/src/components/committee_session/CommitteeSessionCard.tsx
  frontend/src/components/committee_session/CommitteeSessionStatus.test.tsx
  frontend/src/components/committee_session/CommitteeSessionStatus.tsx
  frontend/src/components/committee_session_status_with_icon/CommitteeSessionStatusWithIcon.tsx
  frontend/src/components/layout/ElectionLayout.tsx
  frontend/src/components/ui/Icon/CommitteeSessionStatusIcon.tsx
  frontend/src/components/ui/Icon/Icon.module.css
  frontend/src/features/data_entry_home/components/DataEntryHomePage.test.tsx
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/election_management/components/ElectionManagement.module.css
  frontend/src/features/election_management/components/ElectionReportPage.module.css
  frontend/src/features/election_management/components/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/ElectionReportPage.tsx
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.test.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsLayout.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsSectionPage.test.tsx
  frontend/src/hooks/committee_session/CommitteeSessionListProvider.tsx
  frontend/src/hooks/committee_session/useCommitteeSessionListRequest.ts
  frontend/src/styles/typography.css
  sigrid.yaml
Due: frontend-linter

Processed review comments
  backend/.sqlx/query-4b48d05711e5a3e8719c7c1b3cee4e4758a2dffff270ca80f159ccf1cc59540a.json
  backend/src/committee_session/api.rs
  backend/src/committee_session/repository.rs
  frontend/src/components/committee_session/CommitteeSessionStatus.tsx
  frontend/src/components/ui/Table/Table.module.css
  frontend/src/features/election_management/components/CommitteeSessionCard.module.css
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Added tests
  frontend/src/features/election_management/components/CommitteeSessionCard.stories.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCards.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.test.tsx
Due: frontend-linter

Always show Details van de zitting link on the committee session card
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
Due: frontend-linter

Fixed msw
  frontend/src/testing/api-mocks/RequestHandlers.ts
Due: frontend-linter

Added electoral area
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
  frontend/src/i18n/locales/nl/generic.json
  frontend/src/testing/api-mocks/ElectionMockData.ts
Due: frontend-linter

Added more contents to the cards and added stories
  backend/fixtures/election_1.sql
  backend/fixtures/election_5.sql
  backend/src/committee_session/api.rs
  frontend/src/components/committee_session/CommitteeSession.module.css
  frontend/src/components/committee_session/CommitteeSessionCard.stories.tsx
  frontend/src/components/committee_session/CommitteeSessionCard.tsx
  frontend/src/components/navbar/NavBarLinks.tsx
  frontend/src/components/ui/Button/Button.module.css
  frontend/src/components/ui/Table/Table.module.css
  frontend/src/features/election_create/components/ElectionCreateLayout.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
  frontend/src/features/election_management/components/ElectionManagement.module.css
  frontend/src/features/polling_stations/components/PollingStationCreatePage.tsx
  frontend/src/features/polling_stations/components/PollingStationListPage.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.tsx
  frontend/src/i18n/locales/nl/election_management.json
  frontend/src/i18n/locales/nl/generic.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Added number of lists and candidates to election information table
  frontend/src/features/apportionment/components/ChosenCandidatesTable.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesRankingTable.tsx
  frontend/src/features/apportionment/components/list_details/CandidatesWithVotesTable.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
  frontend/src/i18n/locales/nl/candidate.json
  frontend/src/i18n/locales/nl/generic.json
  frontend/src/utils/dataEntryMapping.test.ts
  frontend/src/utils/dataEntryStructure.ts
Due: frontend-linter

Added election information table to election homepage
  frontend/src/features/data_entry_home/components/PollingStationChoice.module.css
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.tsx
  frontend/src/features/election_create/components/ElectionCreateLayout.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
  frontend/src/features/election_management/components/ElectionManagement.module.css
  frontend/src/features/polling_stations/components/PollingStationForm.tsx
  frontend/src/i18n/locales/nl/election_management.json
  frontend/src/i18n/locales/nl/generic.json
  frontend/src/i18n/locales/nl/nl.ts
  frontend/src/i18n/locales/nl/polling_station.json
  frontend/src/styles/typography.css
Due: frontend-linter

Made some last improvements
  frontend/src/app/routes.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionReportPage.test.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.test.tsx
Due: frontend-linter

Fixed flex direction of the cards
  frontend/src/features/election_management/components/CommitteeSessionCards.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
Due: frontend-linter

Closes #1699
  frontend/src/components/navbar/NavBar.test.tsx
  frontend/src/components/navbar/NavBarLinks.tsx
Due: frontend-linter

Fixed the cursor pointer not working on the ButtonLinks
  frontend/src/features/election_management/components/CommitteeSessionCard.module.css
Due: none

Improved the ButtonLinkList to not use the Table but custom style it
  frontend/src/features/election_management/components/CommitteeSessionCard.module.css
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
Due: frontend-linter

Changed ladle story to storybook and updated unit tests
  frontend/.storybook/preview.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.stories.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
Due: frontend-linter

Adjusted button links rendering and hover state as requested by Joris
  frontend/src/features/election_management/components/CommitteeSessionCard.module.css
Due: none

Tweaks and formatting
  backend/templates/common/scripts.typ
  backend/templates/common/style.typ
  backend/templates/model-na-31-2-bijlage-1.typ
  backend/templates/model-na-31-2-bijlage-2.typ
Due: none

Add counting method to election structs (#1778)
  backend/fixtures/election_1.sql
  backend/fixtures/election_2.sql
  backend/fixtures/election_3.sql
  backend/fixtures/election_4.sql
  backend/fixtures/election_5.sql
  backend/migrations/1_elections.sql
  backend/openapi.json
  backend/src/bin/gen-test-election.rs
  backend/src/data_entry/status.rs
  backend/src/election/repository.rs
  backend/src/election/structs.rs
  backend/src/eml/eml_110.rs
  backend/src/pdf_gen/mod.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/election_integration_test.rs
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/src/testing/api-mocks/ElectionMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Update ProgressList.stories.tsx
  frontend/src/components/ui/ProgressList/ProgressList.stories.tsx
Due: frontend-linter

Apply suggestions from code review
  documentatie/use-cases/validatieregels-plausibiliteitschecks-tellingen.md
Due: none

Added counting method to election and election information table
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.test.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
  frontend/src/i18n/locales/nl/generic.json
Due: frontend-linter

Fix rendering integer defaults
  backend/templates/common/scripts.typ
  backend/templates/model-na-31-2.typ
Due: none

Apply suggestions from code review
  backend/templates/model-na-31-1.typ
Due: none

Fix batch polling station insert
  frontend/src/features/election_create/components/UploadPollingStationDefinition.module.css
Due: none

Fixed typo in comment
  backend/src/polling_station/repository.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update ProgressList.stories.tsx (#1782)
  frontend/src/components/ui/ProgressList/ProgressList.stories.tsx
Due: frontend-linter

Add checkboxes subsection (#1763)
  frontend/eslint.config.js
  frontend/src/components/data_entry/DataEntrySubsections.tsx
  frontend/src/components/data_entry/subsections/CheckboxesSubsection.stories.tsx
  frontend/src/components/data_entry/subsections/CheckboxesSubsection.tsx
  frontend/src/components/data_entry/subsections/HeadingSubsection.stories.tsx
  frontend/src/components/data_entry/subsections/InputGridSubsection.stories.tsx
  frontend/src/components/data_entry/subsections/InputGridSubsection.tsx
  frontend/src/components/data_entry/subsections/MessageSubsection.stories.tsx
  frontend/src/components/data_entry/subsections/RadioSubsection.stories.tsx
  frontend/src/components/ui/CheckboxAndRadio/CheckboxAndRadio.module.css
  frontend/src/components/ui/CheckboxAndRadio/ChoiceList.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.tsx
  frontend/src/types/types.ts
  frontend/src/utils/dataEntryMapping.test.ts
  frontend/src/utils/dataEntryMapping.ts
  frontend/src/utils/dataEntryStructure.ts
Due: frontend-linter

Update gsb-eerste-zitting.md
  documentatie/use-cases/gsb-eerste-zitting.md
Due: none

Apply suggestions from code review
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Due: none

Update gsb-invoer-eerste-zitting.md
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Due: none

Update documentatie/use-cases/gsb-invoer-tweede-zitting.md
  documentatie/use-cases/gsb-invoer-tweede-zitting.md
Due: none
