Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite &&
        cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets &&
        git add .sqlx &&
        rm sqlx-cache-tmp.sqlite
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi &&
        git add openapi.json &&
        cd ../frontend &&
        pnpm gen:openapi &&
        git add src/types/generated/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: pnpm format --staged --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-biome:
      root: "frontend/"
      run: pnpm lint:biome --write --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-tsc:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:tsc
    frontend-lint-eslint:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:eslint

Removed ZipVariantCSB enum
  backend/src/api/report.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Undo changes to map_candidate_nomination
  backend/src/api/apportionment/mapping.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add backend code to fill P 22-2 pdf (#3204)
  backend/openapi.json
  backend/src/api/apportionment/mod.rs
  backend/src/api/document.rs
  backend/src/api/investigation.rs
  backend/src/api/report.rs
  backend/src/bin/gen-test-election.rs
  backend/src/domain/file.rs
  backend/src/domain/mod.rs
  backend/src/domain/models/enriched_candidate_nomination.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/models/model_na_14_2.rs
  backend/src/domain/models/model_na_31_2.rs
  backend/src/domain/models/model_p_22_2.rs
  backend/src/domain/models/votes_table.rs
  backend/src/domain/summary.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/infra/pdf_gen/typst_tests.rs
  backend/templates/common/scripts.typ
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-p-22-2.json
  backend/templates/model-p-22-2.typ
  backend/tests/election_integration_test.rs
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Update validation implementation/texts against specs (#3203)
  backend/src/domain/election.rs
  backend/src/domain/results/common_polling_station_results.rs
  backend/src/domain/results/count.rs
  backend/src/domain/results/counting_differences_polling_station.rs
  backend/src/domain/results/differences_counts.rs
  backend/src/domain/results/extra_investigation.rs
  backend/src/domain/results/gsb_differences_counts.rs
  backend/src/domain/results/gsb_results.rs
  backend/src/domain/results/political_group_total_votes.rs
  backend/src/domain/results/voters_counts.rs
  backend/src/domain/results/votes_counts.rs
  backend/src/domain/summary.rs
  backend/src/domain/validate.rs
  backend/src/infra/pdf_gen/typst_tests.rs
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.error.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.warning.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
  frontend/src/components/ui/Feedback/Feedback.stories.tsx
  frontend/src/components/ui/Feedback/Feedback.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/src/i18n/locales/nl/feedback_CSB.json
  frontend/src/i18n/locales/nl/feedback_GSB.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

skip cases with zero total votes cast
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

skip cases where number of seats > number of candidates
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

skip cases where number of seats > number of candidates with votes
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
  backend/apportionment/fuzz/src/apportionment_input.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

skip cases where seats < 19 and number of seats > number of lists with votes
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

improves a few variable names
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Enriched PoliticalGroupTotalVotes with political group name in ElectionSummaryCSB
  backend/src/api/report.rs
  backend/src/domain/results/political_group_total_votes.rs
  backend/src/domain/results/votes_counts.rs
  backend/src/domain/summary.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-p-22-2.json
  backend/templates/model-p-22-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added initial_full_seats_table in backend and updated P 22-2 inputs and template
  backend/src/api/report.rs
  backend/src/domain/apportionment.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/models/model_p_22_2.rs
  backend/src/domain/models/seats_table.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-p-22-2.json
  backend/templates/model-p-22-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

repeat Conclusion at end of output
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

accept specific case where OSV requires drawing of lots of and Abacus has allocation
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added total_seats_table in backend and updated P 22-2 inputs and template
  backend/src/api/report.rs
  backend/src/domain/models/model_p_22_2.rs
  backend/src/domain/models/seats_table.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-p-22-2.json
  backend/templates/model-p-22-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add apportionment state machine diagram
  documentatie/state-machines/apportionment.md
Due: none

formats numbers in readonly InputGridRow
  frontend/src/components/ui/InputGrid/InputGrid.stories.tsx
  frontend/src/components/ui/InputGrid/InputGridRow.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

improves values of InputGrid story
  frontend/src/components/ui/InputGrid/InputGrid.stories.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Remove documentatie from CODEOWNERS
  .github/CODEOWNERS
Due: none

Also remove frontend from CODEOWNERS
  .github/CODEOWNERS
Due: none

improves formatting of if-statement
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add endpoint, tests
  backend/openapi.json
  backend/src/api/report.rs
  backend/src/domain/file.rs
  backend/tests/election_integration_test.rs
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Remove documentatie from CODEOWNERS (#3222)
  .github/CODEOWNERS
Due: none

Apply formatting to numbers in read-only InputGridRow (#3220)
  frontend/src/components/ui/InputGrid/InputGrid.stories.tsx
  frontend/src/components/ui/InputGrid/InputGridRow.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

skip cases where any list has an absolute majority of votes
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add delete_deceased_candidate and more reset transitions
  documentatie/state-machines/apportionment.md
Due: none

Add different stats for drawing lots candidates vs seats
  documentatie/state-machines/apportionment.md
Due: none

Added seats tables to backend P 22-2 input (#3215)
  backend/src/api/report.rs
  backend/src/domain/apportionment.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/models/model_p_22_2.rs
  backend/src/domain/models/seats_table.rs
  backend/src/domain/results/political_group_total_votes.rs
  backend/src/domain/results/votes_counts.rs
  backend/src/domain/summary.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-p-22-2.json
  backend/templates/model-p-22-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix reset from drawing lots states
  documentatie/state-machines/apportionment.md
Due: none

Renamed InitialFullSeatsTable to InitialSeatsTable and added initial_total_residual_seats to it
  backend/src/api/report.rs
  backend/src/domain/models/model_p_22_2.rs
  backend/src/domain/models/seats_table.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-p-22-2.json
  backend/templates/model-p-22-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Removed TotalSeatsTable, since this information is already present in EnrichedCandidateNomination
  backend/src/api/report.rs
  backend/src/domain/models/model_p_22_2.rs
  backend/src/domain/models/seats_table.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-p-22-2.json
  backend/templates/model-p-22-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added ChosenCandidates to EnrichedCandidateNomination and removed "enriched" from ModelP22_2_Input
  backend/src/api/report.rs
  backend/src/domain/apportionment.rs
  backend/src/domain/models/enriched_candidate_nomination.rs
  backend/src/domain/models/model_p_22_2.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-p-22-2.json
  backend/templates/model-p-22-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Renamed InitialSeatsTable to EnrichedSeatAssignment and added largest_remainder_column if list meets threshold
  backend/src/api/report.rs
  backend/src/domain/apportionment.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/src/domain/models/mod.rs
  backend/src/domain/models/model_p_22_2.rs
  backend/src/domain/models/seats_table.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats.json
  backend/templates/inputs/model-p-22-2.json
  backend/templates/model-p-22-2.typ
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

adds related issue numbers to skipped and accepted cases
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

fixes related issue number in comment
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

File generation in same function
  backend/src/api/report.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

extracts part of condition into its own variable
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

makes condition related to issue #3212 more specific
  backend/apportionment/fuzz/fuzz_targets/differential_osv2020.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add endpoint and download link for EML_NL CSB count (510d) (#3223)
  backend/openapi.json
  backend/src/api/report.rs
  backend/src/domain/file.rs
  backend/tests/election_integration_test.rs
  frontend/src/features/election_management/components/report/ElectionReportPage.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Add tests for election summary and querying of GSB results
  backend/src/domain/summary.rs
  backend/src/repository/data_entry_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

removes unneeded get_votes()
  backend/apportionment/fuzz/src/apportionment_input.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi
