Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: cargo sqlx prepare -- --all-targets --all-features && git add .sqlx
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi && 
        git add openapi.json &&
        cd ../frontend &&
        npm run gen:openapi &&
        git add lib/api/gen/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: npx prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    frontend-linter:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: npm run lint {staged_files}

WIP NA 10-1
  backend/templates/model-n-10-1.typ
  backend/templates/model-n-10-2.typ
Due: none

Create audit log entry when creating election through import
  backend/openapi.json
  backend/src/audit_log/audit_event.rs
  backend/src/election/api.rs
  backend/src/election/structs.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Implemented models NA 10-(1/2)
  backend/templates/model-n-10-1.typ
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-2.typ
Due: none

Typst formatting
  backend/templates/model-n-10-1.typ
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-2.typ
Due: none

makes copy of airgap violation page always applicable
  frontend/src/i18n/locales/nl/error.json
Due: none

improve copy of airgap violation page (#1787)
  frontend/src/i18n/locales/nl/error.json
Due: none

Implemented new typst models NA 31-1/2 and N 10-1/2
  backend/templates/common/scripts.typ
  backend/templates/common/style.typ
  backend/templates/model-n-10-1.typ
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-31-1-inlegvel.typ
  backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-2-bijlage-1.typ
  backend/templates/model-na-31-2-bijlage-2.typ
Due: none

More generic bijlage 1
  backend/templates/model-na-31-2-bijlage-1.typ
Due: none

Apply suggestions from code review
  backend/templates/model-n-10-2.typ
Due: none

Requested changes
  backend/openapi.json
  backend/src/audit_log/audit_event.rs
  backend/src/bin/gen-test-election.rs
  backend/src/data_entry/status.rs
  backend/src/election/api.rs
  backend/src/eml/eml_110.rs
  backend/src/eml/eml_510.rs
  backend/src/pdf_gen/mod.rs
  backend/src/polling_station/structs.rs
  backend/tests/polling_station_integration_test.rs
  frontend/src/features/polling_stations/components/PollingStationForm.test.tsx
  frontend/src/features/polling_stations/components/PollingStationForm.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Update polling station postal code
  backend/openapi.json
  backend/src/audit_log/audit_event.rs
  backend/src/bin/gen-test-election.rs
  backend/src/data_entry/status.rs
  backend/src/eml/eml_110.rs
  backend/src/eml/eml_510.rs
  backend/src/pdf_gen/mod.rs
  backend/src/polling_station/structs.rs
  backend/tests/polling_station_integration_test.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

WIP e2e test full flow
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/tests/full-flow.e2e.ts
Due: frontend-linter

Update documentatie/use-cases/gsb-eerste-zitting.md
  documentatie/use-cases/gsb-eerste-zitting.md
Due: none

moves button to create polling station to the left
  frontend/src/features/polling_stations/components/PollingStationListPage.tsx
Due: frontend-linter

Remove exported `ToolbarSection`, use `Toolbar.Section` instead
  frontend/src/components/ui/Toolbar/Toolbar.stories.tsx
  frontend/src/components/ui/Toolbar/Toolbar.tsx
  frontend/src/features/logs/components/LogsHomePage.tsx
Due: frontend-linter

Corrected to state highest instead of largest (#1769)
  backend/src/apportionment/seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

move button to create polling station to the left (#1794)
  frontend/src/components/ui/Toolbar/Toolbar.stories.tsx
  frontend/src/components/ui/Toolbar/Toolbar.tsx
  frontend/src/features/logs/components/LogsHomePage.tsx
  frontend/src/features/polling_stations/components/PollingStationListPage.tsx
Due: frontend-linter

Use translated strings in data entry structure
  frontend/src/components/data_entry/subsections/CheckboxesSubsection.tsx
  frontend/src/components/data_entry/subsections/HeadingSubsection.tsx
  frontend/src/components/data_entry/subsections/InputGridSubsection.tsx
  frontend/src/components/data_entry/subsections/MessageSubsection.tsx
  frontend/src/components/data_entry/subsections/RadioSubsection.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.tsx
  frontend/src/types/types.ts
  frontend/src/utils/dataEntryStructure.ts
Due: frontend-linter

Shorten test names in `data_entry/comparison.rs`
  backend/src/data_entry/comparison.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix tests in `data_entry/comparison.rs`
  backend/src/data_entry/comparison.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix comment in `summary/mod.rs`
  backend/src/summary/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fix paths in `NavBar` stories and tests
  frontend/src/components/navbar/NavBar.stories.tsx
  frontend/src/components/navbar/NavBar.test.tsx
Due: frontend-linter

Update documentatie/use-cases/gsb-invoer-tweede-zitting.md
  documentatie/use-cases/gsb-invoer-tweede-zitting.md
Due: none

Update gsb-eerste-zitting.md
  documentatie/use-cases/gsb-eerste-zitting.md
Due: none

Update beheerder.md (#1762)
  documentatie/use-cases/beheerder.md
Due: none

Typst tweaks
  backend/templates/common/scripts.typ
  backend/templates/inputs/model-na-31-2.json
  backend/templates/model-n-10-1.typ
  backend/templates/model-n-10-2.typ
  backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-2.typ
Due: none

Always render numbers tabular
  backend/templates/common/scripts.typ
  backend/templates/model-na-31-1.typ
  backend/templates/model-na-31-2.typ
Due: none

Added committee session status change to add polling station method
  backend/.sqlx/query-64a527a572f3de97da1051de94fc9935efb64183668880f788e6f7bd2ee24509.json
  backend/src/committee_session/api.rs
  backend/src/committee_session/repository.rs
  backend/src/committee_session/status.rs
  backend/src/polling_station/mod.rs
  backend/tests/polling_station_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added change status endpoint to router and call it in e2e test fixture
  backend/openapi.json
  backend/src/committee_session/api.rs
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Added check for committee session status to report endpoints
  backend/openapi.json
  backend/src/error.rs
  backend/src/report/api.rs
  backend/tests/election_integration_test.rs
  frontend/src/features/election_management/components/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/ElectionReportPage.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.test.tsx
  frontend/src/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Add check for committee session status DataEntryInProgress for all data entry endpoints
  backend/openapi.json
  backend/src/committee_session/api.rs
  backend/src/data_entry/api.rs
  backend/src/data_entry/status.rs
  backend/src/error.rs
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

Fixed tests
  backend/fixtures/election_4.sql
  backend/fixtures/election_5.sql
  backend/fixtures/election_6.sql
  backend/src/polling_station/mod.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added checks for status changes
  backend/.sqlx/query-b4d067d1298ca963911768522305ce9cab14dfc32379e7d43d8e84eff844284b.json
  backend/.sqlx/query-b728926a83193590e11d37f389c37420ec3c0ed7ceb8986144268914e0e11eb7.json
  backend/src/committee_session/api.rs
  backend/src/committee_session/mod.rs
  backend/src/committee_session/status.rs
  backend/tests/committee_session_integration_test.rs
  backend/tests/election_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added committee session status change on deletion of last polling station
  backend/fixtures/election_2.sql
  backend/src/polling_station/mod.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added finish data entry page and improved the election report page a bit
  backend/openapi.json
  backend/src/committee_session/status.rs
  backend/src/data_entry/api.rs
  backend/src/report/api.rs
  backend/tests/election_integration_test.rs
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/page-objects/election/ElectionReportPgObj.ts
  frontend/e2e-tests/page-objects/election/FinishDataEntryPgObj.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/pdf-rendering.e2e.ts
  frontend/e2e-tests/tests/zip-download.e2e.ts
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/election_management/components/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/ElectionReportPage.tsx
  frontend/src/features/election_management/components/FinishDataEntryPage.test.tsx
  frontend/src/features/election_management/components/FinishDataEntryPage.tsx
  frontend/src/features/election_management/routes.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
  frontend/src/i18n/locales/nl/election_management.json
  frontend/src/i18n/locales/nl/election_report.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-linter

WIP
  backend/src/committee_session/api.rs
  backend/src/committee_session/mod.rs
  backend/src/committee_session/repository.rs
  backend/src/committee_session/status.rs
  backend/src/committee_session/structs.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

When all polling stations have a result the committee session status is set to DataEntryFinished
  backend/src/committee_session/status.rs
  backend/src/data_entry/api.rs
  backend/src/polling_station/repository.rs
  backend/tests/data_entries_integration_test.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added start data entry button and corrected showing of alert for finish data entry
  frontend/.storybook/preview.tsx
  frontend/src/features/data_entry/components/AbortDataEntryControl.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.test.tsx
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.test.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
  frontend/src/hooks/election/ElectionProvider.tsx
  frontend/src/hooks/election/ElectionProviderContext.tsx
  frontend/src/hooks/election/useElection.ts
  frontend/src/i18n/locales/nl/election_management.json
Due: frontend-linter

Updated flowchart
  backend/fixtures/election_6.sql
  documentatie/flowcharts/committee-session-state.md
Due: none
