Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

lefthook.yml:

assert_lefthook_installed: true

pre-commit:
  parallel: true
  commands:
    backend-sqlx-prepare:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite &&
        cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets &&
        git add .sqlx &&
        rm sqlx-cache-tmp.sqlite
    backend-formatter:
      root: "backend/"
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true
    backend-linter:
      root: "backend/"
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
    backend-openapi:
      root: "backend/"
      glob: "*.rs"
      run: >
        cargo run --package abacus --bin gen-openapi &&
        git add openapi.json &&
        cd ../frontend &&
        pnpm gen:openapi &&
        git add src/types/generated/openapi.ts
    frontend-formatter:
      root: "frontend/"
      run: pnpm format --staged --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-biome:
      root: "frontend/"
      run: pnpm lint:biome --write --no-errors-on-unmatched --colors=off
      stage_fixed: true
    frontend-lint-tsc:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:tsc
    frontend-lint-eslint:
      root: "frontend/"
      glob: "*.{ts,tsx}"
      run: pnpm lint:eslint

Ensure apportionment only accepts CSB election
  backend/src/api/apportionment/mod.rs
  backend/src/service/apportionment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Only get apportionment state for CSB elections
  backend/src/service/apportionment.rs
  backend/src/service/change_committee_session_status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Ensure apportionment only accepts CSB election (#3496)
  backend/src/api/apportionment/mod.rs
  backend/src/service/apportionment.rs
  backend/src/service/change_committee_session_status.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Replace candidate numbers with ranking order numbers in 520 eml documents
  backend/apportionment/src/candidate_nomination/structs.rs
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Also pass original candidate ranking when candidate ranking was not updated in apportionment
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/candidate_nomination/structs.rs
  backend/apportionment/src/lib.rs
  backend/apportionment/src/test_helpers.rs
  backend/src/api/apportionment/mapping.rs
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update `BackupError::AlreadyExists` error message
  backend/src/error.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove unnecessary tempdir move to server_task
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add missing audit log backup filename i18n
  frontend/src/i18n/locales/nl/log.json
Due: none

Remove Babel override from pnpm workspace
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

Add mutex to prevent concurrent backup creation
  backend/src/api/middleware/airgap/detect.rs
  backend/src/api/middleware/authentication/mod.rs
  backend/src/bin/abacus.rs
  backend/src/infra/backup.rs
  backend/src/lib.rs
  backend/tests/utils/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update test
  backend/apportionment/src/candidate_nomination/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Verify backup after writing it
  backend/src/error.rs
  backend/src/infra/backup.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Use tempfile crate in backup tests
  backend/README.md
  backend/src/infra/backup.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Remove unnecessary tempdir moves to server_task
  backend/src/api/middleware/airgap/detect.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Simplify `verify_backup` function
  backend/src/infra/backup.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add SQLite backup REST API (#3495)
  backend/.gitignore
  backend/Cargo.toml
  backend/README.md
  backend/openapi.json
  backend/src/api/backup.rs
  backend/src/api/middleware/airgap/detect.rs
  backend/src/api/middleware/authentication/mod.rs
  backend/src/api/mod.rs
  backend/src/bin/abacus.rs
  backend/src/error.rs
  backend/src/infra/audit_log/audit_event.rs
  backend/src/infra/backup.rs
  backend/src/infra/router.rs
  backend/src/lib.rs
  backend/tests/backup_integration_test.rs
  backend/tests/utils/mod.rs
  frontend/src/i18n/locales/nl/error.json
  frontend/src/i18n/locales/nl/log.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Added small alert indicating drawing lots for absolute majority reassignment
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/utils/utils.tsx
  frontend/src/i18n/locales/nl/apportionment.json
  frontend/src/i18n/locales/nl/generic.json
Due: frontend-lint-tsc, frontend-lint-eslint

Render only global alert instead of sometimes small alert on ResidualSeatsPage
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/utils/utils.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Add info console log for database backups
  backend/src/infra/backup.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Apportionment: Improve formatting in election summary table
  frontend/src/features/apportionment/components/ElectionSummaryTable.stories.tsx
  frontend/src/features/apportionment/components/ElectionSummaryTable.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Fix apportionment crate tests
  backend/apportionment/src/test_helpers.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Require drawing of lots even if equal votes and enough seats (#3487)
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/fixtures/election_8_csb_with_results.sql
  backend/src/domain/models/enriched_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add info console log for database backups (#3503)
  backend/src/infra/backup.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Renamed UpdatedCandidateRanking to CandidateRanking within apportionment crate
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/candidate_nomination/structs.rs
  backend/apportionment/src/lib.rs
  backend/apportionment/src/test_helpers.rs
  backend/src/api/apportionment/mapping.rs
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Apportionment: Improve formatting in the election summary table (#3504)
  frontend/src/features/apportionment/components/ElectionSummaryTable.stories.tsx
  frontend/src/features/apportionment/components/ElectionSummaryTable.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Combine notify alerts on ApportionmentPage and add test
  frontend/src/features/apportionment/components/Apportionment.module.css
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p7.ts
  frontend/src/features/apportionment/utils/utils.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Use `abacus.internal` as well-known TLS hostname
  backend/README.md
  backend/src/infra/tls.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added drawing lots for p9 warning alert
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/DrawingLotsWarningAlert.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Updated DrawingLotsPage for drawing lots for p9
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForP9.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsPage.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Added drawing lots for P9 notify alert as well
  frontend/src/features/apportionment/components/Apportionment.module.css
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/DrawingLotsAlerts.tsx
  frontend/src/features/apportionment/components/DrawingLotsWarningAlert.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/utils/utils.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Add HTTP Strict-Transport-Security (HSTS) header (#3488)
  backend/src/infra/router.rs
  backend/src/lib.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added reassigned by drawing lots notify alert as well
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/residual_seats/Footnotes.tsx
  frontend/src/features/apportionment/utils/utils.tsx
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Replace 520 candidate ids with ranking order numbers (#3485)
  backend/apportionment/src/candidate_nomination/mod.rs
  backend/apportionment/src/candidate_nomination/structs.rs
  backend/apportionment/src/lib.rs
  backend/apportionment/src/test_helpers.rs
  backend/src/api/apportionment/mapping.rs
  backend/src/eml/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add lt19 drawing of lots UniqueHA/HighestAverage
  backend/apportionment/src/seat_assignment/mod.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Renamed existing drawing lots variants in frontend and fixed link rendering in ApportionmentTable
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.tsx
  frontend/src/features/apportionment/components/ApportionmentTable.stories.tsx
  frontend/src/features/apportionment/components/ApportionmentTable.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForList.stories.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p7-drawing-lots.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9-drawing-lots.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p7-drawing-lots.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Renamed existing drawing lots variants in backend
  backend/src/bin/gen-pdf.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p7-drawing-lots.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p7-drawing-lots.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Added p9 drawing lots variants and test data
  backend/src/bin/gen-pdf.rs
  backend/templates/inputs/extra-model-p-22-2-variations/gte-19-seats-and-p9-drawing-lots-and-deceased-candidates.json
  backend/templates/inputs/extra-model-p-22-2-variations/lt-19-seats-and-p9-drawing-lots.json
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9-drawing-lots-and-deceased-candidates.ts
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9-drawing-lots.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-drawing-lots.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Move finding seats into function
  backend/apportionment/src/seat_assignment/residual_seat_assignment.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Fixed title of DrawingLotsPage for p9 and added tests
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsForP9.stories.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsPage.test.tsx
  frontend/src/features/apportionment/components/drawing_lots/DrawingLotsPage.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9-drawing-lots-and-deceased-candidates.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-drawing-lots.ts
  frontend/src/i18n/locales/nl/apportionment.json
Due: frontend-lint-tsc, frontend-lint-eslint

Added tests for drawing lots for p9 for ApportionmentResidualSeatsPage
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
Due: frontend-lint-tsc, frontend-lint-eslint
