Repository kiesraad/abacus: changes, and which lefthook commands are due for each by the changed paths.
All: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

backend-sqlx-prepare:
  run: 'cargo sqlx database reset -y -D sqlite://sqlx-cache-tmp.sqlite && cargo sqlx prepare -D sqlite://sqlx-cache-tmp.sqlite -- --all-targets && git add .sqlx && rm sqlx-cache-tmp.sqlite
  
    '

backend-formatter:
  run: cargo fmt
  stage_fixed: true

backend-linter:
  run: cargo clippy --all-targets -- -D warnings

backend-openapi:
  run: 'cargo run --package abacus --bin gen-openapi && git add openapi.json && cd ../frontend && pnpm gen:openapi && git add src/types/generated/openapi.ts
  
    '

frontend-lint-tsc:
  run: pnpm lint:tsc

frontend-lint-eslint:
  run: pnpm lint:eslint

Adjust DSOFirstSessionResult sections (#3724)
  backend/openapi.json
  backend/src/domain/results/about_report.rs
  backend/src/domain/results/checks_and_corrections.rs
  backend/src/domain/results/dso_first_session_results.rs
  backend/src/domain/results/mod.rs
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Make radio fields nullable, adjust TS generator
  backend/openapi.json
  backend/src/bin/gen-openapi.rs
  backend/src/domain/results/about_report.rs
  frontend/scripts/openapi/generator.ts
  frontend/scripts/openapi/openapi.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Improve generator descriptions
  frontend/scripts/openapi/generator.ts
  frontend/src/types/generated/openapi.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Add DSO or CSO option to test data generator when GSB is selected
  backend/openapi.json
  backend/src/bin/gen-test-election.rs
  backend/src/domain/election.rs
  backend/src/test_data_gen/generators.rs
  backend/src/test_data_gen/mod.rs
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
  frontend/src/features/election_create/components/CountingMethodType.tsx
  frontend/src/i18n/locales/nl/election.json
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Backend implementation radio buttons (#3725)
  backend/openapi.json
  backend/src/bin/gen-openapi.rs
  backend/src/domain/results/about_report.rs
  frontend/scripts/openapi/generator.ts
  frontend/scripts/openapi/openapi.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Set vounting method to CSO default checked, selecting CSB sets the value to null anyway
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Optimise Argon2 crate
  backend/Cargo.toml
Due: none

Use pre-computed hash for test user
  backend/src/repository/user_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Update backend/templates/model-na-14-2-bijlage-1.typ
  backend/templates/model-na-14-2-bijlage-1.typ
Due: none

Extend election_fixture with election category (#3736)
  backend/src/domain/election.rs
  backend/src/domain/models/enriched_candidate_nomination.rs
  backend/src/domain/models/enriched_seat_assignment.rs
  backend/src/domain/results/common_polling_station_results.rs
  backend/src/domain/results/count.rs
  backend/src/domain/results/counting_differences_polling_station.rs
  backend/src/domain/results/extra_investigation.rs
  backend/src/domain/results/gsb_results.rs
  backend/src/domain/results/mod.rs
  backend/src/domain/results/political_group_total_votes.rs
  backend/src/domain/results/voters_counts.rs
  backend/src/domain/results/votes_counts.rs
  backend/src/domain/summary.rs
  backend/src/eml/mod.rs
  backend/src/infra/pdf_gen/typst_smoke_tests.rs
  backend/src/infra/pdf_gen/typst_tests.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Prevent GitHub Actions cache thrashing (#3741)
  .github/workflows/build-lint-test.yml
  .github/workflows/pdf-diff.yml
Due: none

Added counting method to GSB elections on dev page as well
  frontend/src/features/dev/components/DevHomePage.test.tsx
  frontend/src/features/dev/components/DevHomePage.tsx
Due: frontend-lint-tsc, frontend-lint-eslint

Undo i18n case changes, fixed legend and adjusted label
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
  frontend/src/features/election_create/components/CountingMethodType.tsx
  frontend/src/i18n/locales/nl/election.json
Due: frontend-lint-tsc, frontend-lint-eslint

Optimise Argon2 hashing (#3743)
  backend/Cargo.toml
  backend/src/repository/user_repo.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add new variants to dataEntryStructure
  backend/src/domain/results/mod.rs
  frontend/src/components/data_entry/DataEntrySubsections.tsx
  frontend/src/components/data_entry/subsections/RadioSubsection.stories.tsx
  frontend/src/components/data_entry/subsections/RadioSubsection.tsx
  frontend/src/features/data_entry/utils/dataEntryUtils.test.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.ts
  frontend/src/i18n/locales/nl/about_report.json
  frontend/src/i18n/locales/nl/checks_and_corrections.json
  frontend/src/i18n/locales/nl/nl.ts
  frontend/src/types/types.ts
  frontend/src/utils/__snapshots__/dataEntryStructure.DSOFirstSession.Municipal.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.DSOFirstSession.Provincial.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.DSOFirstSession.WaterAuthority.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.DSONextSession.Municipal.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.DSONextSession.Provincial.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.DSONextSession.WaterAuthority.snap
  frontend/src/utils/dataEntryMapping.test.ts
  frontend/src/utils/dataEntryMapping.ts
  frontend/src/utils/dataEntryStructure.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Add same sections to DSO
  frontend/src/utils/__snapshots__/dataEntryStructure.DSOFirstSession.Municipal.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.DSOFirstSession.Provincial.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.DSOFirstSession.WaterAuthority.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.DSONextSession.Municipal.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.DSONextSession.Provincial.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.DSONextSession.WaterAuthority.snap
  frontend/src/utils/dataEntryStructure.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Fixed gen-test-election binary
  backend/src/bin/gen-test-election.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Change coverage job names: avoid cache collisions
  .github/workflows/codecov.yml
Due: none

Fix actionlint findings
  .github/workflows/release.yml
Due: none

Some more improvements for using the gen-test-election binary
  backend/src/bin/gen-test-election.rs
  backend/src/domain/election.rs
  backend/src/test_data_gen/generators.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Rename coverage job ids (#3744)
  .github/workflows/codecov.yml
  .github/workflows/release.yml
Due: none

Fix outdated comment about dylib
  backend/README.md
Due: none

Use default host target for backend tests
  .github/workflows/build-lint-test.yml
  .github/workflows/weekly-e2e-tests.yml
Due: none

Use `line-tables-only` debug setting
  backend/Cargo.toml
  backend/README.md
Due: none

Describe enum variants in gen-test-election help
  backend/Cargo.toml
  backend/src/bin/gen-test-election.rs
  backend/src/domain/election.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add better docstring for gen-test-election
  backend/src/bin/gen-test-election.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Ensure curly quotes in model templates
  backend/templates/model-na-14-2-bijlage-1.typ
  backend/templates/model-na-14-2.typ
  backend/templates/model-p-22-2.typ
Due: none

Faster test compilation (#3747)
  .github/workflows/build-lint-test.yml
  .github/workflows/weekly-e2e-tests.yml
  backend/Cargo.toml
  backend/README.md
Due: none

Symlink sqlx test directory to `/dev/shm`
  .github/workflows/build-lint-test.yml
  .github/workflows/codecov.yml
Due: none

Resolving differences for first entry with errors (#3739)
  backend/fuzz/fuzz_targets/data_entry_status.rs
  backend/openapi.json
  backend/src/api/data_entry.rs
  backend/src/domain/data_entry.rs
  documentatie/state-machines/data-entry-state.md
  frontend/src/features/resolve_differences/components/ResolveDifferencesForm.stories.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesForm.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/features/resolve_differences/hooks/useDataEntryDifferences.ts
  frontend/src/features/resolve_differences/utils/differences.test.ts
  frontend/src/features/resolve_differences/utils/differences.ts
  frontend/src/i18n/locales/nl/resolve_differences.json
  frontend/src/testing/api-mocks/DataEntryMockData.ts
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Remove disk space freeing step from Codecov job
  .github/workflows/codecov.yml
Due: none

Swap order of rows in footer (hash above modelname)
  backend/templates/model-na-14-2.typ
  backend/templates/model-na-31-2.typ
  backend/templates/model-p-22-2-bijlage-1.typ
  backend/templates/model-p-22-2.typ
Due: none

corrigendum_present short labels
  frontend/src/i18n/locales/nl/about_report.json
  frontend/src/utils/dataEntryStructure.ts
Due: frontend-lint-tsc, frontend-lint-eslint

Also serialize CommitteeCategory as lowercase
  backend/src/domain/election.rs
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add 'DSO or CSO' option to test data generator when GSB is selected (#3742)
  backend/Cargo.toml
  backend/openapi.json
  backend/src/bin/gen-test-election.rs
  backend/src/domain/election.rs
  backend/src/test_data_gen/generators.rs
  backend/src/test_data_gen/mod.rs
  frontend/src/features/dev/components/DevHomePage.test.tsx
  frontend/src/features/dev/components/DevHomePage.tsx
  frontend/src/features/dev/components/GenerateTestElectionForm.tsx
  frontend/src/types/generated/openapi.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Remove timezone offset from default date time format in model templates
  backend/src/domain/report/mod.rs
  backend/templates/inputs/model-na-14-2-variations/model-na-14-2-GR.json
  backend/templates/inputs/model-na-14-2-variations/model-na-14-2-PS.json
  backend/templates/inputs/model-na-14-2-variations/model-na-14-2-WS.json
  backend/templates/inputs/model-na-31-2-variations/model-na-31-2-GR.json
  backend/templates/inputs/model-na-31-2-variations/model-na-31-2-PS.json
  backend/templates/inputs/model-na-31-2-variations/model-na-31-2-WS.json
  backend/templates/inputs/model-p-22-2-bijlage-1.json
  backend/templates/inputs/model-p-22-2-variations/gte-19-seats-and-p7-drawing-lots.json
  backend/templates/inputs/model-p-22-2-variations/gte-19-seats-and-p9-drawing-lots-and-deceased-candidates.json
  backend/templates/inputs/model-p-22-2-variations/gte-19-seats-and-p9-drawing-lots-and-p10-and-deceased-candidates.json
  backend/templates/inputs/model-p-22-2-variations/gte-19-seats-and-p9.json
  backend/templates/inputs/model-p-22-2-variations/gte-19-seats.json
  backend/templates/inputs/model-p-22-2-variations/lt-19-seats-and-p10.json
  backend/templates/inputs/model-p-22-2-variations/lt-19-seats-and-p15-drawing-lots.json
  backend/templates/inputs/model-p-22-2-variations/lt-19-seats-and-p7-drawing-lots.json
  backend/templates/inputs/model-p-22-2-variations/lt-19-seats-and-p9-and-p10.json
  backend/templates/inputs/model-p-22-2-variations/lt-19-seats-and-p9-drawing-lots.json
  backend/templates/inputs/model-p-22-2-variations/lt-19-seats.json
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi

Add disabled styling to NumberInput
  frontend/src/components/ui/NumberInput/NumberInput.module.css
Due: none

Update frontend snapshots
  frontend/src/utils/__snapshots__/dataEntryStructure.DSOFirstSession.Municipal.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.DSOFirstSession.Provincial.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.DSOFirstSession.WaterAuthority.snap
Due: none

Use :disabled
  frontend/src/components/ui/NumberInput/NumberInput.module.css
Due: none

DataEntryStructure new DSO variants (#3745)
  backend/src/domain/results/mod.rs
  frontend/src/components/data_entry/DataEntrySubsections.tsx
  frontend/src/components/data_entry/subsections/RadioSubsection.stories.tsx
  frontend/src/components/data_entry/subsections/RadioSubsection.tsx
  frontend/src/components/ui/NumberInput/NumberInput.module.css
  frontend/src/features/data_entry/utils/dataEntryUtils.test.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.ts
  frontend/src/i18n/locales/nl/about_report.json
  frontend/src/i18n/locales/nl/checks_and_corrections.json
  frontend/src/i18n/locales/nl/nl.ts
  frontend/src/types/types.ts
  frontend/src/utils/__snapshots__/dataEntryStructure.DSOFirstSession.Municipal.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.DSOFirstSession.Provincial.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.DSOFirstSession.WaterAuthority.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.DSONextSession.Municipal.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.DSONextSession.Provincial.snap
  frontend/src/utils/__snapshots__/dataEntryStructure.DSONextSession.WaterAuthority.snap
  frontend/src/utils/dataEntryMapping.test.ts
  frontend/src/utils/dataEntryMapping.ts
  frontend/src/utils/dataEntryStructure.ts
Due: backend-sqlx-prepare, backend-formatter, backend-linter, backend-openapi, frontend-lint-tsc, frontend-lint-eslint

Path conditions:
  backend-sqlx-prepare: any of: *.rs and ^backend/
  backend-formatter: any of: *.rs and ^backend/
  backend-linter: any of: *.rs and ^backend/
  backend-openapi: any of: *.rs and ^backend/
  frontend-lint-tsc: any of: *.{ts,tsx} and ^frontend/
  frontend-lint-eslint: any of: *.{ts,tsx} and ^frontend/
